/*______________________________________________________________________________
 * PCRStyles.css
 * 
 */ 
 
.pcr-tooltip-width {
  width: 180px;
}

.pcr-content {
  padding-left: 5px;
  padding-bottom: 1px;
  padding-right: 5px;
}

.pcr-type-color {
  color: gray;
  padding-right: 3px;
  display: inline;
}

.pcr-tooltip-title {
  background-color: #EBEBEB;
  color: #376F8F;
  font-family: tahoma;
  font-size: 85%;
  padding-left: 7px;
  padding-bottom: 1px;
  text-align: left;
}

div.pcr-tooltip-width + div.tooltip-close-button {
  position:absolute;
  top: 5px;
  left: 169px;
  background-repeat:no-repeat;
  width:11px;
  height:12px;
}

div.pcr-tooltip-width + div.tooltip-close-button-normal {

  background-image:url("../../Images/hover_close_nor.png");

}

div.pcr-tooltip-width + div.tooltip-close-button-mouseover {

  background-image:url("../../Images/hover_close_rol.png");
  cursor: pointer;

}

div.pcr-tooltip-width + div.tooltip-close-button-active {

  background-image:url("../../Images/hover_close_sel.png");

}


/*______________________________________________________________________________
 * end PCRStyles.css
 */ 
