.rtl div#evidence-broker img#warning-icon{
	margin-right        : 0px;
	margin-left        : 5px;
}

.rtl div#evidence-broker .label{
	text-align          : right;
}

body.rtl.soria .list table thead tr th.evidence-field {
border-left:1px solid #e4f1fc;
border-right:none;
}

body.rtl.soria .list table thead tr th.evidence-first-header-expanding-list {
background-position: top right;
border-right:none;
border-left:1px solid #c6d8ef;
}

body.rtl.soria .list table thead tr th.evidence-last-header {
background-position: top left;
border-left:none;
}


.rtl #Curam_EvidenceBroker_modifyIdenticalSharedEvidenceConfigFromList td.codetable input[type="radio"] {
  margin-right: 0px;
  margin-left: 5px;
}


.rtl #Curam_EvidenceBroker_modifyIdenticalSharedEvidenceConfigFromList td.codetable label {
  margin-right: 0px;
  margin-left: 5px;
  padding-right: 0px;
  padding-left: 35px;

}

.rtl #Curam_EvidenceBroker_createIdenticalSharedEvidenceConfig td.codetable input[type="radio"] {
  margin-right: 0px;
  margin-left: 5px;
}


.rtl #Curam_EvidenceBroker_createIdenticalSharedEvidenceConfig td.codetable label {
  margin-right: 0px;
  margin-left: 5px;
  padding-right: 0px;
  padding-left: 35px;

}


.rtl #Curam_EvidenceBroker_createNonIdenticalSharedEvidenceConfig td.codetable input[type="radio"] {
  margin-right: 0px;
  margin-left: 5px;
}


.rtl #Curam_EvidenceBroker_createNonIdenticalSharedEvidenceConfig td.codetable label {
  margin-right: 0px;
  margin-left: 5px;
  padding-right: 0px;
  padding-left: 35px;

}

.rtl #Curam_EvidenceBroker_modifyNonIdenticalSharedEvidenceConfig td.codetable input[type="radio"] {
  margin-right: 0px;
  margin-left: 5px;
}

.rtl #Curam_EvidenceBroker_modifyNonIdenticalSharedEvidenceConfig td.codetable label {
  margin-right: 0px;
  margin-left: 5px;
  padding-right: 0px;
  padding-left: 35px;
}

.rtl #Curam_EvidenceBroker_modifyNonIdenticalSharedEvidenceConfig td.codetable {
  /* Disable wrapping of the radio button labels (TVT-2691) */
  white-space: nowrap;
}
