table.evidence-broker th.shared_evidence{
	background-color    : #D5D9E6;
}

table.evidence-broker tr.header_bottom th.label{
	border-top          : none;
}

table.evidence-broker tr.header_bottom th{
	border-top          : solid 1px #D5D9E6;
}

table.evidence-broker td.highlight{
	font-style          : italic;
}

#mainForm div#evidence-broker{
	width               : 100%
}

#mainForm div#identical-evidence-options td{
   border               : none;
}

div#evidence-broker td.shared_evidence{
	color               : #485878;
}

div#evidence-broker img#warning-icon{
	margin-right        : 5px;
}

div#evidence-broker tr.header_top th.existing-evidence{
	color               : #000000;
}
div#evidence-broker tr.header_bottom th.existing-evidence{
	border-top          : solid 1px;
	border-color        : #D5D9E6;
}

div#evidence-broker tr.header_bottom th{
	font-weight         : normal;
}

div#evidence-broker .label{
	text-align          : left;
	width               : 20%;
}

div#evidence-broker-message{
	background-color    : #e0e3ee;
	color               : #4D5D8E;
	font-family         : verdana;
	font-weight         : normal;
	padding             : 0.5em;
}

body.soria .list table td.single-field {
border-left:1px solid #b6b6b6;
border-right:1px solid #b6b6b6;
}

body.soria .list table thead tr th.evidence-field {
background:#cfdff6;
border-right:1px solid #e4f1fc;
padding:0px;
color:black;
border-left:none;
border-bottom:1px solid #c6d8ef;
border-top:none;
font-weight:bold;
padding-bottom:0px;
padding-top:0px;
}

body.soria .list table thead tr th.evidence-first-header-expanding-list {
background:#cfdff6;
border-left:none;
border-right:1px solid #c6d8ef;
border-bottom:1px solid #c6d8ef;
}

body.soria .list table thead tr th.evidence-last-header {
background:#cfdff6;
border-right:none;
border-bottom:1px solid #c6d8ef;
}

body.soria .list table thead tr th.first-header-expanding-list evidence-first-header-span {
border-right-width:0px;
}

body.soria .list table thead tr th evidence-span {
padding:4px 10px 4px 10px;
display:block;
height:100%;
border-right:1px solid #c5d7ef;
border-top:none;
border-bottom:none;
}

body.soria .list table thead tr th.last-header evidence-last-header-span {
border-bottom: medium none;
border-right: 1px solid #c5d7ef;
border-top: medium none;
display: block;
height: 100%;
padding: 4px 10px;
}


#Curam_EvidenceBroker_modifyIdenticalSharedEvidenceConfigFromList td.codetable input[type="radio"] {
   vertical-align: bottom;
  margin-right: 5px;
}


#Curam_EvidenceBroker_modifyIdenticalSharedEvidenceConfigFromList td.codetable label {
  margin-right: 5px;
  padding-right: 35px;
  
}

#Curam_EvidenceBroker_createIdenticalSharedEvidenceConfig td.codetable input[type="radio"] {
  vertical-align: bottom;
  margin-right: 5px;
}


#Curam_EvidenceBroker_createIdenticalSharedEvidenceConfig td.codetable label {
  margin-right: 5px;
  padding-right: 35px;
  
}


#Curam_EvidenceBroker_createNonIdenticalSharedEvidenceConfig td.codetable input[type="radio"] {
  vertical-align: bottom;
  margin-right: 5px;
}


#Curam_EvidenceBroker_createNonIdenticalSharedEvidenceConfig td.codetable label {
  margin-right: 5px;
  padding-right: 35px;
  
}

#Curam_EvidenceBroker_modifyNonIdenticalSharedEvidenceConfig td.codetable input[type="radio"] {
   vertical-align: bottom;
  margin-right: 5px;
}

#Curam_EvidenceBroker_modifyNonIdenticalSharedEvidenceConfig td.codetable label {
  margin-right: 5px;
  padding-right: 35px;
}


/* External Evidence Sharing related style rules */

div.ees-sharingLimits {
  margin-left: 0px !important;
}

th.ees-sharingLimits-options-hidden,
span.ees-sharingLimits-options-hidden,
th.ees-sharingLimits-updates-hidden,
span.ees-sharingLimits-updates-hidden {
  visibility: hidden;
}

th.ees-sharingLimits-options,
td span.ees-sharingLimits-options,
span.ees-sharingLimits-options,
th.ees-sharingLimits-updates,
td span.ees-sharingLimits-updates,
span.ees-sharingLimits-updates {
  visibility: visible;
}

span.ees-sharingLimits-options input.text,
span.ees-sharingLimits-options div.codetable {
  float: left;
  margin-right: 2px;
}

span.ees-sharingLimits-options div div input.dijitInputInner {
 padding-top: 0px !important;
}

div.ees-evidence-select-option {
  margin-left: 0px !important; 
}

div.ees-evidence-select-option div table tbody tr td.codetable input {
  float: left;
  clear: left;
  margin-right: 5px;
  margin-bottom: 2px;
}

div.ees-evidence-select-option div table tbody tr td.codetable label {
  float: left;
  margin-top: 2px;
}

div.ees-verifications,
div.ees-limitSharingTo {
  margin-left: 0px !important;
  margin-right: 14px !important;
}

div.ees-verifications td,
div.ees-limitSharingTo td {
  padding-left: 6px !important;
}

div.read-ees-verifications,
div.read-ees-limitSharingTo {
  margin-left: 0px !important;
  margin-right: 2px !important;
}

td.ees-sharingLimits-options,
td.ees-sharingLimits-updates {
  padding-left: 6px !important;
}

/* ======== Curam 2016 Styling ======== */

body.curam#Curam_EvidenceBroker_compareIdenticalEvidence h2 {
  font-family: $infrastructure_main-light_font-family;
  font-size: $infrastructure_heading-three_font-size;
  color: $infrastructure_primary-form-control-font_color;
  line-height: $infrastructure_heading-three_line-height;
  margin-bottom: 10px;
}
body.curam .header_bottom {
  font-family: $infrastructure_main-medium_font-family;
  font-size: $infrastructure_small_font-size;
  background-color: $infrastructure_primary-form-control-background_color;
}
body.curam.soria .list table thead tr th.evidence-field {
  color: $infrastructure_primary-form-control-font_color;
}
body.curam.soria .list table thead tr th.evidence-first-header-expanding-list,
body.curam.soria .list table thead tr th.evidence-field,
body.curam.soria .list table thead tr th.evidence-field evidence-span,
body.curam.soria .list table thead tr th.evidence-field evidence-last-header-span {
  background-color: transparent;
  border: none;
}
body.curam.soria .list table thead tr th.evidence-first-header-expanding-list,
body.curam.soria .list table thead tr th.evidence-field {
  border-bottom: 1px solid $infrastructure_primary-menu-and-border_background-color;
}
