/*______________________________________________________________________________
 * ADMINAPP.css
 *
 * Styling specific to the Administrator Application View.
 */
 
.ADMINAPP.soria .dijitTitlePane div.dijitTitlePaneTitle {
  background-image: url("../../Images/pods/colors/MAGENTA/pod_title_cc.png");
}

.ADMINAPP.soria div.roundy-pod-top .title-left {
  background-image: url("../../Images/pods/colors/MAGENTA/pod_title_tl.png");
}

.ADMINAPP.soria div.roundy-pod-top .title-center {
  background-image: url("../../Images/pods/colors/MAGENTA/pod_title_tc.png");
}

.ADMINAPP.soria div.roundy-pod-top .title-right {
  background-image: url("../../Images/pods/colors/MAGENTA/pod_title_tr.png");
}
/*------------------------------------*/