/*______________________________________________________________________________
 * AUDITCOAPP.css
 *
 * Styling specific to the Audit Coordinator Application View.
 */

.AUDITCOAPP.soria .dijitTitlePane div.dijitTitlePaneTitle {
  background-image: url("../../Images/pods/colors/LIGHTORANGE/pod_title_cc.png");
}

.AUDITCOAPP.soria div.roundy-pod-top .title-left {
  background-image: url("../../Images/pods/colors/LIGHTORANGE/pod_title_tl.png");
}

.AUDITCOAPP.soria div.roundy-pod-top .title-center {
  background-image: url("../../Images/pods/colors/LIGHTORANGE/pod_title_tc.png"); 
}

.AUDITCOAPP.soria div.roundy-pod-top .title-right {
  background-image: url("../../Images/pods/colors/LIGHTORANGE/pod_title_tr.png"); 
}
/*------------------------------------*/