/*______________________________________________________________________________
 * INVESTRAPP.css
 *
 * Styling specific to the Investigator Application View.
 */
 
.INVESTRAPP.soria .dijitTitlePane div.dijitTitlePaneTitle {
  background-image: url("../../Images/pods/colors/GREEN/pod_title_cc.png");
}

.INVESTRAPP.soria div.roundy-pod-top .title-left {
  background-image: url("../../Images/pods/colors/GREEN/pod_title_tl.png");
}

.INVESTRAPP.soria div.roundy-pod-top .title-center {
  background-image: url("../../Images/pods/colors/GREEN/pod_title_tc.png");
}

.INVESTRAPP.soria div.roundy-pod-top .title-right {
  background-image: url("../../Images/pods/colors/GREEN/pod_title_tr.png");
}
/*------------------------------------*/