/*______________________________________________________________________________
 * SYSADMAPP.css
 *
 * Styling specific to the System Administrator Application View.
 */

.SYSADMAPP.soria .dijitTitlePane div.dijitTitlePaneTitle {
  background-image: url("../../Images/pods/colors/GREY/pod_title_cc.png");
}

.SYSADMAPP.soria div.roundy-pod-top .title-left {
  background-image: url("../../Images/pods/colors/GREY/pod_title_tl.png");
}

.SYSADMAPP.soria div.roundy-pod-top .title-center {
  background-image: url("../../Images/pods/colors/GREY/pod_title_tc.png");
}

.SYSADMAPP.soria div.roundy-pod-top .title-right {
  background-image: url("../../Images/pods/colors/GREY/pod_title_tr.png");
}
/*------------------------------------*/