<div role="alertdialog" tabIndex="-1" aria-labelledby="${id}_tooltip_title" aria-describedby="${id}_tooltip_content">
  <span class="hidden" id="${id}_tooltip_title"></span>
  <span class="hidden" id="${id}_tooltip_content"></span>
  <div class="dijitTooltipContainer" role="presentation">
    <div data-dojo-attach-point="contentsNode" class="dijitTooltipContents dijitTooltipFocusNode">
      <div data-dojo-attach-point="containerNode"></div>
        ${!actionBarTemplate}
    </div>
  </div>
  <div class="dijitTooltipConnector" role="presentation" data-dojo-attach-point="connectorNode"></div>
</div>