/*
 * Licensed Materials - Property of IBM
 * 
 * Copyright IBM Corporation 2014, 2018. All Rights Reserved.
 *
 * US Government Users Restricted Rights - Use, duplication or disclosure 
 * restricted by GSA ADP Schedule Contract with IBM Corp.
 */

.rtl .cw-eligibility-result .cw-eligibility-context-bar .cw-final-cost-pane {
    float: right;
    padding: 10px 0px 5px 10px;
}

.rtl .cw-eligibility-result .cw-eligibility-context-bar .cw-final-cost-box {
    text-align: right;
    float: right;
}

.rtl .cw-eligibility-result .cw-eligibility-context-bar .cw-final-cost-box .cw-total-label {
    float: right;
}

.rtl .cw-eligibility-result .cw-eligibility-context-bar .cw-final-cost-box .cw-total-amount {
    float: left;
}

.rtl .cw-eligibility-result .cw-my-items-button {
    float: left;
}

.rtl .cw-eligibility-result .cw-eligibility-context-bar .cw-my-items-button {
    padding: 10px 8px 0 15px;
}

.rtl .cw-eligibility-result .cw-eligibility-context-bar .cw-my-items-button:hover {
    background-position: bottom right;
}

.rtl .cw-my-items-pane .cw-my-items-program .cw-my-items-program-people .cw-my-items-program-person {
    padding-right: 0px;
    padding-left: 5px;
}

.rtl .cw-my-items-pane .cw-my-items-program .cw-my-items-program-people .cw-my-items-program-person:last-child {
    padding-right: 0;
    padding-left: 0;
}

/* Context Bar Rotator Styling */

.rtl .cw-eligibility-context-bar #cw-rotator-content #cw-rotator-right a {
	background: url('../../Images/EligibilityResult/rotor_left_nor.png') no-repeat 0 center;
	right: auto;
	left: 0;
}

.rtl .cw-eligibility-context-bar #cw-rotator-content #cw-rotator-left a {
	background: url('../../Images/EligibilityResult/rotor_right_nor.png') no-repeat 0 center;
	left: auto;
	right: 0;
}

.rtl .cw-eligibility-context-bar .cw-rotator-pane {
    padding-left: 0px;
    padding-right: 5px;
}

.rtl .cw-eligibility-context-bar .rotator .cw-person-pane{
    float: right;
}
	

/* Tooltip CSS */

.rtl .cw-member-tooltip-title {
    padding: 14px 5px 5px 0;
}

.rtl .cw-member-tooltip-item {
    padding: 0 10px 3px 0;
}

/* Content */

.rtl .cw-eligibility-result .cw-content .cw-category {
	left: auto;
	right: 0;
}

/* Program */

.rtl .cw-eligibility-result .cw-title-pane .cw-program {
    text-align: right;
    left: auto;
    right: 0;
}

.rtl .cw-eligibility-result .cw-program .cw-program-left {
    border-right: none;
    border-left: 1px solid #dfebf3;
}

.rtl .cw-eligibility-result .cw-program .cw-program-left .cw-program-title .cw-program-title-text {
    padding: 0 0 0 5px;
}
    
.rtl .cw-eligibility-result .cw-program .cw-program-left .cw-program-title .cw-program-title-show-hide {
    padding-right: 0px;
    padding-left: 12px;
    text-align: left;
}

.rtl .cw-eligibility-result .cw-program .cw-program-right {
    float: left;
}

.rtl .cw-eligibility-result .cw-program .cw-program-right .cw-program-title {
    right: auto;
    left: 0;
}

.rtl .cw-eligible-people-inline {
    float: right;
}

.rtl .cw-eligible-people-pane {
    margin: 8px 5px 0 0;
}  

.rtl .cw-eligible-people-pane .cw-eligible-person-div {
    padding-right: 0px;
    padding-left: 4px;
    background-position: right top;
}  

.rtl .cw-eligible-people-pane .cw-eligible-person-image {
    right: auto;
    left: 0;
}

.rtl .cw-eligible-people-pane .cw-eligible-person-tick {
    left: 0px;
    right: 2px;
}

.rtl .cw-large-household-tooltip-dialog {
    margin-left: 0x !important;
    margin-right: -151px !important;
}

.rtl .cw-large-household-tooltip-dialog .dijitTooltipConnector {
    margin-left: 0px !important;
    margin-right: -10px !important;
}

.rtl .cw-eligibility-result .cw-program .cw-program-right .cw-program-enrolled {
    float: left;    
    margin: 7px 0 0 5px;
} 
.rtl .cw-eligibility-result .cw-program .cw-program-left .cw-program-details {
    padding: 0 0 5px 10px;
}

.rtl .cw-eligibility-result .cw-program .cw-program-left .cw-program-details .cw-program-benefit .cw-benefit-item {
    padding: 12px 0px 3px 15px;
}

.rtl .cw-eligibility-result .cw-program .cw-program-right .cw-program-details {
    right: auto;
    left: 0;
}

/* Program Primary */

.rtl .cw-eligibility-result .cw-primary.cw-title-pane .cw-title-pane-title {
    text-align: right;
}

/* Triage */

.rtl .cw-eligibility-result .cw-eligibility-result-triage {
    padding: 8px 6px 8px 7px;
} 

.rtl .cw-eligibility-result .cw-eligibility-result-triage .cw-top-panel .cw-top-panel-title {
    padding-right:0px;
    padding-left:5px;
    float: right;
}

.rtl .cw-eligibility-result .cw-eligibility-result-triage .cw-top-panel .cw-top-panel-control {
    right: auto;
    left: 22px;
}

.rtl .cw-eligibility-result .cw-eligibility-result-triage .cw-top-panel .cw-top-panel-control .cw-top-panel-collapse-icon {
    padding: 4px 5px 0 0;
}

.rtl .cw-filter-panel .cw-category-filter,
.rtl .cw-filter-panel .cw-proximity-filter {
    margin-right: 0px;
    margin-left: 15px;
    float:right;
}

.rtl .cw-filter-panel .cw-button {
    float: right;
}

/* Triage pane Search button  */

.rtl .cw-eligibility-result .cw-button .dijitButtonNode { 
    border-color: #FFF #FFF #E0E3EE #E0E3EE;
} 

/* Select Members */

.rtl .cw-background-panel .cw-select-members .cw-select-members-title {
	text-align:right;
}

.rtl .cw-background-panel .cw-select-members .cw-select-members-description {
	text-align:right;
}

.rtl .cw-background-panel .cw-select-members .cw-select-members-control {
    text-align: left;
}

/* Select Household Members */
.rtl .cw-select-members .cw-select-members-control .cw-button .dijitButtonNode { 
    margin-left: 0px;
    margin-right: 15px; 
} 

.rtl .cw-select-members #cw-rotator-content #cw-rotator-left a{
	margin-left: 0px;
	margin-right: 20px;
	left: auto;
	right: 0;
	background: url('../../Images/EligibilityResult/rotor_right_nor.png') no-repeat 0 center;
}

.rtl .cw-select-members #cw-rotator-content #cw-rotator-right a{
	margin-right: 0px;
	margin-left: 20px;
	right: auto;
	left: 0;
	background: url('../../Images/EligibilityResult/rotor_left_nor.png') no-repeat 0 center;
}

.rtl .cw-select-members .cw-rotator-pane{
    padding-left: 0px;
    padding-right: 5px;
}

.rtl .cw-select-members .rotator .cw-select-members-column {
    float: right;
}

.rtl .cw-eligibility-result .cw-select-members-control .cw-button-cancel {
    float: right;
    margin-left: 0px;
    margin-right: 30px;
}

.rtl .cw-eligibility-result .cw-select-members-control .cw-button-continue {
    float: left;
    margin-right: 0px;
    margin-left: 30px;
}

/* Finish Enrollment */

.rtl #content button:first-of-type :not(.grouptoggleArrow){
    float: left;
    margin-right: 0px;
    margin-left: 40px;
}

.rtl #content button:last-of-type :not(.grouptoggleArrow){
    float: right;
    margin-left: 0px;
    margin-right: 40px;
}

/* Collapsed Map */

.rtl .cw-eligibility-result.cw-collapsed-map .cw-content {
    right: 0px !important;
    left: 45px !important;
}

/* Extended Map */

.rtl .cw-eligibility-result.cw-extended-map .cw-content {
    right: 0px !important;
    left: 770px !important;
}

.rtl .cw-eligibility-result.cw-extended-map .cw-title-pane .cw-title-pane-title {
    text-align: right;
}

.rtl .cw-eligibility-result.cw-extended-map .cw-program-title .cw-program-title-text{
    padding: 8px 2px 2px 0;
}

.rtl .cw-eligibility-result.cw-extended-map .cw-program-right .cw-eligible-people-pane {
    padding-left: 0px;
    padding-right: 5px;
}

/* View Enrollment */

.rtl .cw-view-enrollment-table-header-cell:first-child {
    border-left: 0;
    border-right: 0;
}

.rtl .cw-view-enrollment-table-header-cell {
    border-color: #DDD #FFF #DBE9F4 #DDDEDE;
}

.rtl .cw-view-enrollment-table-header-cell:last-child {
    border-right: 0;
    border-left: 0;
}

.rtl .cw-view-enrollment-total-cost,
.rtl .cw-view-enrollment-deductible {
    text-align: left;
}

.rtl .cw-view-enrollment-credit-used,
.rtl .cw-view-enrollment-col-credit-used {
    text-align: left;
}

.rtl .cw-view-enrollment-premium {
    text-align: left;
}

.rtl .cw-view-enrollment-cell.cw-view-enrollment-deductible {
    text-align: left;
}

.rtl .cw-view-enrollment-cell.cw-view-enrollment-total-cost {
    text-align: left;
}

.rtl .cw-view-enrollment-cell.cw-view-enrollment-col-credit-used {
    text-align: left;
}

.rtl .cw-view-enrollment-cell.cw-view-enrollment-premium {
    text-align: left;
}

.rtl .cw-view-enrollment-control {
    text-align: left;
    margin-right: 0px;
    margin-left: 40px;
}

.rtl .cw-view-enrollment-control .cw-button .dijitButtonNode {
    margin-left: 0px;
    margin-right: 15px;
}

.rtl .cw-view-enrollment-page .cw-view-enrollment-withdraw-submitted {
    float: right;
}
.rtl .cw-view-enrollment-page .cw-view-enrollment-withdraw-coverage {
    float: right;
}
.rtl .cw-view-enrollment-page .cw-view-enrollment-cell-action {
    padding: 5px 10px 5px 0px;
}

/* Normal-Hover-Action images implementation. Help, Triage */

[lang|="ar"] .rtl .cw-eligibility-result .cw-program .cw-program-left .cw-program-title .cw-program-help-image {
	background: url(../../Images/cw_help_button_rtl.png);
}

.rtl .cw-eligibility-result .cw-eligibility-result-triage .cw-top-panel-right-image {
    margin-left: 0px;
    margin-right: 4px;
}

.rtl .cw-eligibility-result .cw-program .cw-program-left .cw-program-title .cw-program-help-image,
.rtl .cw-eligibility-result.cw-collapsed-map .cw-eligibility-result-triage .cw-top-panel-left-image,
.rtl .cw-eligibility-result.cw-extended-map .cw-eligibility-result-triage .cw-top-panel-left-image,
.rtl .cw-eligibility-result .cw-eligibility-result-triage .cw-top-panel-left-image,
.rtl .cw-eligibility-result .cw-eligibility-result-triage .cw-top-panel-right-image {
	background-position: left top;
}

.rtl .cw-eligibility-result .cw-program .cw-program-left .cw-program-title .cw-program-help-image {
    margin-left: 0px;
    margin-right: 5px;
}

.rtl .cw-eligibility-result .cw-program .cw-program-left .cw-program-title .cw-program-help-image:hover,
.rtl .cw-eligibility-result.cw-collapsed-map .cw-eligibility-result-triage .cw-top-panel-left-image:hover,
.rtl .cw-eligibility-result .cw-eligibility-result-triage .cw-top-panel-right-image:hover,
.rtl .cw-eligibility-result .cw-eligibility-result-triage .cw-top-panel-left-image:hover {
	background-position: left center;
}
.rtl .cw-eligibility-result .cw-program .cw-program-left .cw-program-title .cw-program-help-image:focus,
.rtl .cw-eligibility-result.cw-collapsed-map .cw-eligibility-result-triage .cw-top-panel-left-image:focus,
.rtl .cw-eligibility-result .cw-eligibility-result-triage .cw-top-panel-right-image:focus,
.rtl .cw-eligibility-result .cw-eligibility-result-triage .cw-top-panel-left-image:focus {
	background-position: left center;
}

.rtl .cw-eligibility-result .cw-program .cw-program-left .cw-program-title .cw-program-help-image:active,
.rtl .cw-eligibility-result.cw-collapsed-map .cw-eligibility-result-triage .cw-top-panel-left-image:active,
.rtl .cw-eligibility-result .cw-eligibility-result-triage .cw-top-panel-right-image:active,
.rtl .cw-eligibility-result .cw-eligibility-result-triage .cw-top-panel-left-image:active {
	background-position: left bottom;
}


/*
 * Override the padding for the results page "main content". The .soria is 
 * required to make it more specific that Dojo default styling.
 * TODO: can we use an "ID" or additional CÌÄå¼ram classes instead?
 */
.rtl .soria .cw-eligibility-result .cw-eligibility-result-content {
    padding-left: 10px;
    padding-right:15px;
}

.rtl .soria .cw-eligibility-result.cw-open-enrollment .cw-eligibility-result-content {
    padding-left: 0px;
    padding-right: 5px;
}

/*
 * Override the padding for the results page "triage content"
 */
 
.rtl .soria .cw-eligibility-result .cw-triage {
    padding-right:0px;
    padding-left:15px;
}

.rtl .cw-eligibility-result .cw-background-panel {
    margin-left: 30px;
    margin-right: 10px;        
    left: 5px !important;
    right: 10px;
}



/*
* Enrollment Transitions
*/

.rtl .cw-eligibility-result .cw-program.cw-open .cw-program-left {
	padding-left: 0px;
	padding-right: 10px;
}
.rtl .cw-eligibility-result.cw-enrollment-expanded .cw-content {
	right: 0 !important;
	left: 0 !important;
}
.rtl .cw-eligibility-result.cw-enrollment-expanded .cw-triage {
	right: 0px !important;
	left: -400px !important;
}


/* Withdraw page */


.rtl .cw-withdraw-enrollment .cw-withdraw-enrollment-notice-image {
    float: right;
}
.rtl .cw-withdraw-enrollment .cw-withdraw-enrollment-notice-text {
    margin-left: 0px;
    margin-right: 20px;
}

.rtl .cw-withdraw-enrollment .cw-withdraw-enrollment-form-label {
    padding: 5px 0px 5px 10px;
}

/* End of Eligibility Result Styles */
