/*
 * Licensed Materials - Property of IBM
 * 
 * Copyright IBM Corporation 2012. All Rights Reserved.
 *
 * US Government Users Restricted Rights - Use, duplication or disclosure 
 * restricted by GSA ADP Schedule Contract with IBM Corp.
 */

/* Start of Eligibility Result Styles - IE */
body .cw-eligibility-result {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CCE8F2', endColorstr='#FCFDFE',GradientType=0 );
}


body .cw-eligibility-results-person-image-div .cw-context-member-img {
    transform: none;
    -ms-transform: none;
    transition: none;
    -ms-transition: none;
    padding-top:0 !important;
    margin-bottom:0 !important;
}

body .cw-eligibility-result.cw-extended-map .cw-title-pane-link-div {
    display: none;
}
body .cw-eligibility-result.cw-extended-map .cw-program-left .cw-program-details,
body .cw-eligibility-result.cw-extended-map .cw-program-right .cw-program-details {
    display: none;
}

body .cw-eligibility-result .cw-program .cw-program-left .cw-program-title .cw-program-help-image:hover,
body .cw-eligibility-result.cw-collapsed-map .cw-eligibility-result-triage .cw-top-panel-left-image:hover,
body .cw-eligibility-result .cw-eligibility-result-triage .cw-top-panel-right-image:hover,
body .cw-eligibility-result .cw-eligibility-result-triage .cw-top-panel-left-image:hover {
	background-position: 100% 49%;
}

body .cw-eligibility-result .cw-program .cw-program-left .cw-program-title .cw-program-help-image:active,
body .cw-eligibility-result.cw-collapsed-map .cw-eligibility-result-triage .cw-top-panel-left-image:active,
body .cw-eligibility-result .cw-eligibility-result-triage .cw-top-panel-right-image:active,
body .cw-eligibility-result .cw-eligibility-result-triage .cw-top-panel-left-image:active {
	background-position: 100% 99%;
}
body .cw-eligibility-result .cw-eligibility-context-bar .cw-person-pane {
    padding: 10px 10px 2px;
}
body .cw-eligibility-result.cw-collapsed-map .cw-eligibility-result-triage .cw-top-panel-title {
    display: none;
}

.cw-eligibility-result .cw-eligibility-context-bar .cw-people-pane {   
    *display:inline;
    zoom: 1;
}
.cw-eligibility-result .cw-eligibility-context-bar .cw-person-pane {
    *display:inline;
    zoom: 1;
}
.cw-eligibility-result .cw-eligibility-context-bar .cw-my-items-div {
    *display:inline;
    zoom: 1;
}
.cw-my-items-pane .cw-my-items-program .cw-my-items-program-people .cw-my-items-program-person {
    *display:inline;
    zoom: 1;
}
.cw-eligibility-context-bar .rotator .cw-person-pane{
    *display:inline;
    zoom: 1; 
}
.cw-eligibility-result .cw-program .cw-program-right {
    *display:inline;
    zoom: 1;
}
.cw-eligibility-result .cw-program .cw-program-left .cw-program-details .cw-program-benefit .cw-benefit-item {
    *display:inline;
    zoom: 1;
}

.cw-eligibility-result .cw-eligibility-result-triage .cw-top-panel .cw-top-panel-control .cw-top-panel-collapse-icon {
    *display:inline;
    zoom: 1;
}

.cw-select-members .rotator .cw-select-members-column {
    *display:inline;
    zoom: 1; 
}

.cw-select-members .cw-select-members-column {
    *display:inline;
    zoom: 1;
}

.cw-view-enrollment-page .cw-view-enrollment-cell-action {
    *display:inline;
    zoom: 1;
}
.cw-eligibility-result .cw-program .cw-program-left .cw-program-title .cw-program-help-image,
.cw-eligibility-result.cw-collapsed-map .cw-eligibility-result-triage .cw-top-panel-left-image,
.cw-eligibility-result.cw-extended-map .cw-eligibility-result-triage .cw-top-panel-left-image,
.cw-eligibility-result .cw-eligibility-result-triage .cw-top-panel-left-image,
.cw-eligibility-result .cw-eligibility-result-triage .cw-top-panel-right-image {
    *display:inline;
    zoom: 1;
}

.cw-withdraw-enrollment .cw-withdraw-enrollment-confirmation .cw-withdraw-enrollment-form-item {
    *display:inline;
    zoom: 1;
}

/* End of Eligibility Result Styles - IE */
