.rtl div.cw-summary-box-div {
     float: right;
}

.rtl div.cw-household-members {
     float: left;
}

.rtl .cw-page .cw-eligibility-results-my-items-button .dijitButtonNode{
    margin-left: 0px;
    margin-right: 9px;
}

.rtl .cw-eligibility-results-my-items-button .dijitButtonNode .dijitStretch {
    white-space: normal;
}

.rtl .cw-eligibility-results-my-items-button .dijitIcon {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.rtl div.cw-eligibility-results-my-items-button {
    padding: 10px 8px 0 15px;
}

.rtl div.div.cw-eligibility-results-category-panel-div {
     padding: 1px 10px 2px 6px;
}

.rtl div.cw-eligibility-results-background-panel {
    left: auto !important;
    right: 15px !important;
}

.rtl div.cw-eligibility-results-summary-panel {
float:right;
}

.rtl div.cw-eligibility-results-my-items {
float:left;
}

.rtl div.cw-eligibility-results-summary-right-div {
float:left;
}

