.bx--cluster .PersonPhoto-Container {
 padding-left: 2px;
 padding-top: 2px; 
 padding-right: 0px; 
 padding-bottom: 2px; 
 border-bottom:0px solid #EBEDF2;
 background-color: #e0e3ee;
}

div.person-photo-cluster {
width:95.7%;
}

div.person-photo-cluster > table > tbody > tr > td.top {
padding:1pt;
}

div.person-photo-cluster > table > tbody > tr > td.top + td.top{
padding:0pt;
padding-left:8px;
}