.prospectcluster {
  font-size: 10pt;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  color: magenta;
  font-weight: bolder;
  text-align: right;
  text-decoration: underline;
  padding: 0;
}
.prospectclustersearch {
  font-size: 10pt;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight: bolder;
  text-align: right;
  text-decoration: underline;
  padding: 0;
}
