/*______________________________________________________________________________
 * SUPERAPP.css
 *
 * Styling specific to the Supervisor User Application View.
 */

.SUPERAPP.soria .dijitTitlePane div.dijitTitlePaneTitle {
  background-image: url("../../Images/pods/colors/BLUE/pod_title_cc.png");
}

.SUPERAPP.soria div.roundy-pod-top .title-left {
  background-image: url("../../Images/pods/colors/BLUE/pod_title_tl.png");
}

.SUPERAPP.soria div.roundy-pod-top .title-center {
  background-image: url("../../Images/pods/colors/BLUE/pod_title_tc.png"); 
}

.SUPERAPP.soria div.roundy-pod-top .title-right {
  background-image: url("../../Images/pods/colors/BLUE/pod_title_tr.png");
}
/*------------------------------------*/