/*______________________________________________________________________________
 * appealscheduledhearing_rtl.css
 *
 * Create styles that are applied to the HTML for the appeal scheduled hearing context details.
 */

/* 
 * Curam 2016 styling.
 * 179767, AZ
 */
body.curam.soria.rtl .appeal-sh-container-panel .appeal-sh-details-panel {
  right: 0px;
  left: auto;
}

body.curam.soria.rtl .appeal-sh-container-panel .appeal-sh-details-panel .appeal-sh-details {
  float: right;
}

.rtl .appeal-sh-reference {
  padding-left: 0px;
  padding-right: 15px;
}

.rtl .appeal-sh-table {
  clear: right;
  float: right;
  padding-left: 0px;
  padding-right: 15px;
}

body.curam.soria.rtl .appeal-sh-container-panel .appeal-sh-status {
  left: auto;
  right: 0px;
}

body.curam.soria.rtl .appeal-sh-container-panel .appeal-sh-links-panel {
  right: auto;
  left: 0px;
  border-right: 2px solid $infrastructure_primary-menu-and-border_background-color;
  border-left: 0px;
}

body.curam.soria.rtl .appeal-sh-container-panel .appeal-sh-links-panel .appeal-sh-status-content .appeal-sh-case-status {
  padding-left: 0px;
  padding-right: 0px;
}

body.curam.soria.rtl .appeal-sh-container-panel .appeal-sh-links-panel .appeal-sh-official-panel .icon-hearing-official a.ac ,
body.curam.soria.rtl .appeal-sh-container-panel .appeal-sh-links-panel .tab-links .nolink-wrapper .link, 
body.curam.soria.rtl .appeal-sh-container-panel .appeal-sh-links-panel .tab-links .link a {
  padding-left: 0px;
  padding-right: 30px;
  background-position: right center;
}
