/* 
 * Licensed Materials - Property of IBM
 * 
 * Copyright IBM Corporation 2016,2020. All Rights Reserved.
 *
 * US Government Users Restricted Rights - Use, duplication or disclosure 
 * restricted by GSA ADP Schedule Contract with IBM Corp.
 */
/*______________________________________________________________________________
 * appealscheduledhearing.css
 *
 * Create styles that are applied to the HTML for the appeal scheduled hearing context details.
 */

/* 
 * Curam 2016 styling.
 * 179767, AZ
 */
body.curam.soria .appeal-sh-container-panel {
  background-color: transparent;
  height: 180px;
  overflow: visible;
  position: relative;
  top: 0px;
}

body.curam.soria .appeal-sh-container-panel .appeal-sh-details-panel {
  position: absolute;
  left: 0px;
  top: 0px;
}

body.curam.soria .appeal-sh-container-panel .appeal-sh-details-panel .appeal-sh-details {
  background: transparent;
  border: 0px;
  height: 160px;
  padding-top: $infrastructure_normal_padding;
  padding-left: 0px;
  float: left;
  width: 100%;
}

body.curam.soria .appeal-sh-container-panel .appeal-sh-details-panel .appeal-sh-details .appeal-sh-name {
  padding-left: 0px;
  padding-bottom:0px;
  font-size: $infrastructure_heading-three_font-size;
  font-family: $infrastructure_main-medium_font-family;
  color: $Appeal_appeal-sh-name_color;
  letter-spacing: -0.22px;
  line-height: $infrastructure_heading-three_line-height;
  height: 30px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

body.curam.soria .appeal-sh-container-panel .appeal-sh-details-panel .appeal-sh-details .appeal-sh-reference {
  font-size: $infrastructure_normal_font-size;
  font-family: $infrastructure_main-medium_font-family;
  line-height: $infrastructure_normal_line-height;
  color: $infrastructure_primary-hover-and-focus-font_color;
  padding: $infrastructure_small_padding 0px;
}

body.curam.soria .appeal-sh-container-panel .appeal-sh-details-panel .appeal-sh-details .appeal-sh-reference a {
  cursor: pointer;
}

body.curam.soria .appeal-sh-container-panel .appeal-sh-details-panel .appeal-sh-details .appeal-sh-table {
  position: relative;
  bottom: auto;
  padding-left: 0px;
  clear: left;
  float: left;
}

body.curam.soria .appeal-sh-container-panel .appeal-sh-details-panel .appeal-sh-details .appeal-sh-table table tbody th {
  font-size: $infrastructure_normal_font-size;
  font-family: $infrastructure_main-medium_font-family;
  line-height: $infrastructure_normal_line-height;
  color: $infrastructure_primary-form-control-font_color;
}

body.curam.soria .appeal-sh-container-panel .appeal-sh-details-panel .appeal-sh-details .appeal-sh-table table tbody td {
  font-size: $infrastructure_normal_font-size;
  font-family: $infrastructure_main-regular_font-family;
  line-height: $infrastructure_normal_line-height;
  color: $infrastructure_primary-form-control-font_color;
  padding-left: $infrastructure_very-big_padding !important;
}

body.curam.soria .appeal-sh-container-panel .appeal-sh-links-panel {
  position: absolute;
  display: inline-block;
  width: 280px;
  right: 0px;
  top: 10px;
  background-color: transparent;
  padding-top: 0px !important;
  height: 160px !important;
  border-left: 2px solid $infrastructure_primary-menu-and-border_background-color;
  overflow: visible;
}

body.curam.soria .appeal-sh-container-panel .appeal-sh-links-panel .appeal-sh-status-content {
  background: transparent;
  height: 23px;
  padding-bottom: $infrastructure_small_padding;
  width: 100%;
  margin-bottom: 3px;
}

body.curam.soria .appeal-sh-container-panel .appeal-sh-links-panel .appeal-sh-status-content .appeal-sh-case-status {
  padding-left: 0px;
  line-height: $infrastructure_heading-five_line-height;
  font-size: $infrastructure_heading-five_font-size;
  font-family: $infrastructure_main-medium_font-family;
  color: $Appeal_appeal-sh-name_color;
}

body.curam.soria .appeal-sh-container-panel .appeal-sh-links-panel .tab-links .nolink-wrapper,
body.curam.soria .appeal-sh-container-panel .appeal-sh-links-panel .tab-links .link-wrapper {
  width: 100%;
  min-width: 200px;
  margin-bottom: 5px;
}

body.curam.soria .appeal-sh-container-panel .appeal-sh-status {
  background-color: transparent;
  font-size: $infrastructure_normal_font-size;
  font-family: $infrastructure_main-medium_font-family;
  color: $Appeal_resolution-watermark_color;
  left: 0px;
  line-height: 13px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  bottom: 29px;
  z-index: 0;
}

body.curam.soria .appeal-sh-container-panel .appeal-sh-links-panel .appeal-sh-official-panel {
  background: transparent;
  position: relative;
  width: 100%;
  height: 20px;
}

body.curam.soria .appeal-sh-container-panel .appeal-sh-links-panel .appeal-sh-official-panel .appeal-sh-official-icon {
  display: none;
}

body.curam.soria .appeal-sh-container-panel .appeal-sh-links-panel .appeal-sh-official-panel .icon-hearing-official a.ac {
  padding-left: 30px;
  background: url("../../Images/icon_hearing_participant2.png") left center no-repeat;
  height: 20px;
  display: block;
}

body.curam.soria .appeal-sh-container-panel .appeal-sh-links-panel .appeal-sh-official-panel .icon-hearing-official a.ac:focus,
body.curam.soria .appeal-sh-container-panel .appeal-sh-links-panel .appeal-sh-official-panel .icon-hearing-official a.ac:hover {
  background-image: url("../../Images/icon_hearing_participant2_hover.png");
}

div.appeal-sh-official,
div.appeal-sh-official-icon {
  float: left;
}

div.appeal-sh-links-panel .tab-links {
  height: 90px;
}

body.curam.soria .appeal-sh-container-panel .appeal-sh-links-panel .tab-links .left-col {
  float: none;  
}

body.curam.soria .appeal-sh-container-panel .appeal-sh-links-panel .tab-links .nolink-wrapper .link,
body.curam.soria .appeal-sh-container-panel .appeal-sh-links-panel .tab-links .link a {
  padding-left: 30px;
  display: block;
  height: 20px;
  background: url("../../Images/icon_blu_invited_attendees.png") left center no-repeat;
}

body.curam.soria .appeal-sh-container-panel .appeal-sh-links-panel .tab-links .link a:focus,
body.curam.soria .appeal-sh-container-panel .appeal-sh-links-panel .tab-links .link a:hover {
  background-image: url("../../Images/icon_blu_invited_attendees_hover.png");
}
