/* 
 * Licensed Materials - Property of IBM
 * 
 * Copyright IBM Corporation 2021. All Rights Reserved.
 *
 * US Government Users Restricted Rights - Use, duplication or disclosure 
 * restricted by GSA ADP Schedule Contract with IBM Corp.
 */
/*
_________
/*______________________________________________________________________________
 * appealhearing_rtl.css
 *
 * Create styles that are applied to the HTML for the appeals hearing context details.
 */
 
/* 
 * Curam 2016 styling.
 * 179767, AZ
 */
body.curam.soria.rtl .container-panel-appeals-hearing #stackCon-threeimages .stackControl {
  left: auto;
  right: 0px;
}

body.curam.soria.rtl .container-panel-appeals-hearing #stackCon-threeimages .stack-container-photo .rotator-default {
  left: auto;
  right: 0px;
}

body.curam.soria.rtl .container-panel-appeals-hearing #stackCon-threeimages .stack-container-photo .rotator-default .rotator .pane .pane-item {
  padding-right: $infrastructure_normal_padding;
  padding-left: 0px;
}

body.curam.soria.rtl .container-panel-appeals-hearing #stackCon-threeimages .stack-container-photo .rotator-default .rotator .pane .pane-item:first-of-type {
  padding-right: 0px;
}

body.curam.soria.rtl .container-panel-appeals-hearing #stackCon-threeimages .stack-container-photo .rotator-default .prev-button-div .rotator-prev-button:hover {
  background-image: url("../../Images/caret__outline--right20-enabled.svg");
}

body.curam.soria.rtl .container-panel-appeals-hearing #stackCon-threeimages .stack-container-photo .rotator-default .next-button-div .rotator-next-button:hover {
  background-image: url("../../Images/caret__outline--left20-enabled.svg");
}

body.curam.soria.rtl .container-panel-appeals-hearing #stackCon-threeimages .stack-container-photo .image-panel-content .left-corner-image {
  right: 38px;
  left: auto;
}

body.curam.soria.rtl .container-panel-appeals-hearing #stackCon-threeimages .stack-container-photo .image-panel-content .right-corner-image {
  right: 120px;
  left: auto;
}

body.curam.soria.rtl .container-panel-appeals-hearing #stackCon-threeimages .stack-container-photo .pane .pane-item:first-of-type .image-panel-content .left-corner-image {
  right: 28px;
}

body.curam.soria.rtl .container-panel-appeals-hearing #stackCon-threeimages .stack-container-photo .pane .pane-item:first-of-type .image-panel-content .right-corner-image {
  right: 110px;
}

body.curam.soria.rtl .container-panel-appeals-hearing #stackCon-threeimages .stack-container-photo .image-panel-content .image-links {
  left: auto;
  right: 163px;
}

body.curam.soria.rtl .container-panel-appeals-hearing #stackCon-threeimages .stack-container-photo .image-panel-content .participant-image {
  left: 28px;
}



.rtl .appeal-hearing-details {
  padding-right: 0px;
  float: right;
}

/*
  * Styling to adjust the links panel width
  * CR00370436, PS
 */
body.curam.soria.rtl .container-panel-appeals-hearing .appeal-hearing-links-panel {
  right: auto;
  left: 0px;
  border-left: 0px;
  border-right: 2px solid $infrastructure_primary-menu-and-border_background-color;
}

body.curam.soria.rtl .container-panel-appeals-hearing .appeal-hearing-links-panel .tab-links .link-wrapper .link.icon-appealed-item a,
body.curam.soria.rtl .container-panel-appeals-hearing .appeal-hearing-links-panel .tab-links .nolink-wrapper .link.icon-appealed-item,
body.curam.soria.rtl .container-panel-appeals-hearing .appeal-hearing-links-panel .appeal-case-owner a {
  background-position: right center;
  padding-left: 0px;
  padding-right: 30px;
}

/* 
  * Styling to adjust the hearing context panel width
  * CR00370436, PS
  * CR00461808
 */
body.curam.soria.rtl .container-panel-appeals-hearing .appeal-hearing-details-panel {
  right: auto;
  left: 242px;
  border-left: 0px;
  border-right: 2px solid $infrastructure_primary-menu-and-border_background-color;
}

body.curam.soria.rtl .container-panel-appeals-hearing .appeal-hearing-details-panel .hearing-decision-content{
  padding-right: $infrastructure_very-big_padding;
  padding-left: 0px;
}

body.curam.soria.rtl .container-panel-appeals-hearing .appeal-hearing-details-panel .hearing-decision-content-detail {
  background-position: right center;
  padding-left: 0px;
  padding-right: 30px;
}

body.curam.soria.rtl .container-panel-appeals-hearing .appeal-hearing-details-panel .completion-text {
  float: right;
}

body.curam.soria.rtl .container-panel-appeals-hearing #stackCon-threeimages .stack-container-list .tab-case-list {
  right: 60px;
  left: auto;
}

/*
  * Styling to adjust the context panel column width
  * CR00350721, PS
 */
body.curam.soria.rtl .container-panel-appeals-hearing .appeal-judicial-details-panel {
  right: auto;
  left: 242px;
  border-right: 2px solid $infrastructure_primary-menu-and-border_background-color;
  border-left: 0px;
}

.rtl .appeal-hearing-details .hearing-type {
  padding-left: 0px;
  padding-right: $infrastructure_very-big_padding;
}

.rtl .hearing-decision-content-detail {
  padding-left: 0px;
  padding-right: $infrastructure_very-big_padding;
}

.rtl .hearing-decision-content img {
  float: right;
}

.rtl div.appeal-status {
  padding-left: 0px;
  padding-right: $infrastructure_very-big_padding;
}

.rtl .hearing-details-table table td {
  padding-left: 0px !important;
  padding-right: $infrastructure_very-big_padding !important;
}

.rtl .hearing-details-table {
  padding-left: 0px;
  padding-right: $infrastructure_very-big_padding;
}

.rtl .hearing-created {
  padding-left: 0px;
  padding-right: $infrastructure_very-big_padding;
}

.rtl .completion-text {
  float: right;
  padding-left: 0px;
  padding-right: $infrastructure_very-small_padding;
}


.rtl div.appeal-case-owner-panel {
  float: right;
}

.rtl div.appeal-case-owner-icon {
  padding-right: $infrastructure_normal_padding;
  padding-left: 4px;
}

.rtl div.appeal-case-owner,
.rtl div.appeal-case-owner-icon {
  float: right;
}

.rtl .appeal-hearing-details div.resoluton-watermark,
.rtl .judicial-hearing-details div.resoluton-watermark {
    left: auto;
    right: 20px;
}


/*______________________________________________________________________________
 * end appealhearing_rtl.css
 */
