/* 
 * Licensed Materials - Property of IBM
 * 
 * Copyright IBM Corporation 2016,2021. All Rights Reserved.
 *
 * US Government Users Restricted Rights - Use, duplication or disclosure 
 * restricted by GSA ADP Schedule Contract with IBM Corp.
 */
/*______________________________________________________________________________
 * appealhearing.css
 *
 * Create styles that are applied to the HTML for the appeals hearing context details.
 */

div.container-panel-appeals-hearing {
  background: transparent;
  height: 170px;
  overflow: visible;
  min-width: 1224px;
  position: relative;
}

/* 
 * Curam 2016 styling.
 * 179767, AZ
 */
body.curam.soria .container-panel-appeals-hearing #stackCon-threeimages {
  top: 10px;
  left: 0px;
  overflow: hidden;
  width: 640px;
  height: 170px;
  position: absolute;
  display: block;
  
}

body.curam.soria .container-panel-appeals-hearing #stackCon-threeimages .stackControl {
  top: 5px;
  left: 0px;
}

body.curam.soria .container-panel-appeals-hearing #stackCon-threeimages span.dijitStackController.control-span span.dijitToggleButton {
  margin: 0px;
}

body.curam.soria .container-panel-appeals-hearing #stackCon-threeimages .dijitButtonNode {
  background: transparent;
  border: 0px;
  padding: 0px;
}

body.curam.soria .container-panel-appeals-hearing #stackCon-threeimages #controller_stackCon-threeimages_title_1,
body.curam.soria .container-panel-appeals-hearing #stackCon-threeimages #controller_stackCon-threeimages_title_2 {
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 40px;
  height: 30px;
}

body.curam.soria .container-panel-appeals-hearing #stackCon-threeimages .dijitToggleButtonChecked #controller_stackCon-threeimages_title_1,
body.curam.soria .container-panel-appeals-hearing #stackCon-threeimages .dijitToggleButtonChecked #controller_stackCon-threeimages_title_1:focus,
body.curam.soria .container-panel-appeals-hearing #stackCon-threeimages .dijitToggleButtonChecked #controller_stackCon-threeimages_title_1:hover {
  background-image: url("../../Images/toggle_photo_disabled.png");
}

body.curam.soria .container-panel-appeals-hearing #stackCon-threeimages .dijitToggleButtonChecked #controller_stackCon-threeimages_title_2,
body.curam.soria .container-panel-appeals-hearing #stackCon-threeimages .dijitToggleButtonChecked #controller_stackCon-threeimages_title_2:focus,
body.curam.soria .container-panel-appeals-hearing #stackCon-threeimages .dijitToggleButtonChecked #controller_stackCon-threeimages_title_2:hover {
  background-image: url("../../Images/toggle_list_disabled.png");
}

body.curam.soria .container-panel-appeals-hearing #stackCon-threeimages #controller_stackCon-threeimages_title_1:focus,
body.curam.soria .container-panel-appeals-hearing #stackCon-threeimages #controller_stackCon-threeimages_title_1:hover {
  background-image: url("../../Images/avatar--20-enabled.svg");
}

body.curam.soria .container-panel-appeals-hearing #stackCon-threeimages #controller_stackCon-threeimages_title_2:focus,
body.curam.soria .container-panel-appeals-hearing #stackCon-threeimages #controller_stackCon-threeimages_title_2:hover {
  background-image: url("../../Images/list--20-enabled.svg");
}

span#curam_controller_stackCon-threeimages {
 display: block;
 width: 50%
}

body.curam.soria .container-panel-appeals-hearing #stackCon-threeimages #curam_controller_stackCon-threeimages_title_1 img {
  margin-top: -2px;
  margin-left: -1px;
  padding-top: 3px;
  padding-bottom: 5px;
  padding-left: 9px;
  padding-right: 9px;
}

body.curam.soria .container-panel-appeals-hearing #stackCon-threeimages #curam_controller_stackCon-threeimages_title_2 img {
  margin-top: -3px;
  margin-left: -1px;
  padding-top: 3px;
  padding-bottom: 5px;
  padding-left: 9px;
  padding-right: 9px;
}

body.curam.soria .container-panel-appeals-hearing #stackCon-threeimages .dijitContainer {
  top: 0px;  
}

body.curam.soria .container-panel-appeals-hearing #stackCon-threeimages .stack-container-photo .rotator-default {
  min-width: 662px;
  height: 160px !important;
  left: 0px;
}

body.curam.soria .container-panel-appeals-hearing #stackCon-threeimages .stack-container-photo .rotator-default .prev-button-div, 
body.curam.soria .container-panel-appeals-hearing #stackCon-threeimages .stack-container-photo .rotator-default .next-button-div {
  margin-top: 65px;
}

body.curam.soria .container-panel-appeals-hearing #stackCon-threeimages .stack-container-photo .rotator-default .prev-button-div .rotator-prev-button,
body.curam.soria .container-panel-appeals-hearing #stackCon-threeimages .stack-container-photo .rotator-default .next-button-div .rotator-next-button {
  background-position: center center;
  background-repeat: no-repeat;
  width: 40px;
  height: 30px;
  margin: 0px;
  padding: 2px 6px $infrastructure_very-small_padding;
}

body.curam.soria .container-panel-appeals-hearing #stackCon-threeimages .stack-container-photo .rotator-default .prev-button-div .rotator-prev-button:hover {
  background-image: url("../../Images/caret__outline--left20-enabled.svg");
}

body.curam.soria .container-panel-appeals-hearing #stackCon-threeimages .stack-container-photo .rotator-default .next-button-div .rotator-next-button:hover {
  background-image: url("../../Images/caret__outline--right20-enabled.svg");
}

body.curam.soria .container-panel-appeals-hearing #stackCon-threeimages .stack-container-photo .rotator-default .rotator.rotator-buttons-disabled .pane {
  left: 40px !important;
}

body.curam.soria .container-panel-appeals-hearing #stackCon-threeimages .stack-container-photo .rotator-default .rotator .pane .pane-item {
  padding-left: $infrastructure_normal_padding;
  width: 176px;
  height: 160px;
}

body.curam.soria .container-panel-appeals-hearing #stackCon-threeimages .stack-container-photo .rotator-default .rotator .pane .pane-item:first-of-type {
  padding-left: 0px;
}

body.curam.soria .container-panel-appeals-hearing .image-panel-content {
  width: 176px;
  height: 160px;
  background-color: transparent;
}

body.curam.soria .container-panel-appeals-hearing .image-panel-content .left-corner-image {
  left: 38px;
  z-index: 100;
}

body.curam.soria .container-panel-appeals-hearing #stackCon-threeimages .stack-container-photo .rotator-default .pane-item:first-of-type .image-panel-content .left-corner-image {
  left: 28px;
}

body.curam.soria .container-panel-appeals-hearing .image-panel-content .right-corner-image {
  top: 0px;
  left: 120px;
  z-index: 100;
  background: url("../../Images/ccv__filled--20-enabled.svg") center center no-repeat;
}

body.curam.soria .container-panel-appeals-hearing #stackCon-threeimages .stack-container-photo .rotator-default .pane-item:first-of-type .image-panel-content .right-corner-image {
  left: 110px;
}

body.curam.soria .container-panel-appeals-hearing .image-panel-content .right-corner-image:focus,
body.curam.soria .container-panel-appeals-hearing .image-panel-content .right-corner-image:hover {
  display: block;
  height: 40px;
  background: url("../../Images/ccv__filled--20-enabled.svg") center center no-repeat;
}

body.curam.soria .container-panel-appeals-hearing .image-panel-content .right-corner-image a {
  display: block;
  width: 40px;
  height: 40px;
}

body.curam.soria .container-panel-appeals-hearing .image-panel-content .right-corner-image a img {
  display: none;
}

body.curam.soria .container-panel-appeals-hearing .image-panel-content .name-background {
  position: absolute;
  bottom: 15px;
  width: 176px;
}

body.curam.soria .container-panel-appeals-hearing .image-panel-content .name-background .name-one-title {
  height: 20px;
  width: 100%;
  background-color: transparent;
}

body.curam.soria .container-panel-appeals-hearing .image-panel-content .name-background .name-one-title a {
  font-family: $infrastructure_main-medium_font-family;
  font-size: $infrastructure_normal_font-size;
  color: $infrastructure_primary-hover-and-focus-font_color;
  letter-spacing: -0.15px;
  text-align: center;
  line-height: $infrastructure_normal_line-height;
  height: 20px;
  width: 100%;
  text-decoration: none;
}

body.curam.soria .container-panel-appeals-hearing .image-panel-content .name-background .name-one-title a:focus,
body.curam.soria .container-panel-appeals-hearing .image-panel-content .name-background .name-one-title a:hover {
  color: $infrastructure_secondary-hover-and-focus-font_color;
}

body.curam.soria .container-panel-appeals-hearing .image-panel-content .participant-image {
  padding: 0px;
  width: 120px;
  height: 120px;
  position: absolute;
  left: 38px;
}

body.curam.soria .container-panel-appeals-hearing #stackCon-threeimages .stack-container-photo .rotator-default .pane-item:first-of-type .image-panel-content .participant-image {
  left: 28px;
}

body.curam.soria .container-panel-appeals-hearing .image-panel-content .participant-image img {
  border-radius: 50%;
}

body.curam.soria .container-panel-appeals-hearing .image-panel-content .image-links {
  top: 10px;
  left: 163px;
}

body.curam.soria .container-panel-appeals-hearing .image-panel-content .participant-details {
  position: absolute;
  bottom: 0px;
  top: 145px;
  width: 176px;
  text-align: center;
}

body.curam.soria .container-panel-appeals-hearing .image-panel-content .image-first-line,
body.curam.soria .container-panel-appeals-hearing .image-panel-content .participant-details-divider,
body.curam.soria .container-panel-appeals-hearing .image-panel-content .image-second-line {
  clear: none;
  width: auto;
  float: none;
  display: inline-block;
  padding: 0px;
  font-family: $infrastructure_main-bold_font-family;
  font-size: $infrastructure_very-small_font-size;
  color: $infrastructure_primary-form-control-font_color;
}

body.curam.soria .container-panel-appeals-hearing .image-panel-content .participant-details-divider {
  margin-left: 10px;
  margin-right: 7px;
  width: 3px;
  height: 10px;
  border-left: 1px solid $infrastructure_secondary-menu-and-border_background-color;
}

.appeal-hearing-details {
  height: 100px;
  padding-left: 0px;
  float: left;
  width: 100%;
  overflow: hidden;
}

/*
  * Styling to adjust the links panel width
  * CR00370436, PS
 */
body.curam.soria .container-panel-appeals-hearing .appeal-hearing-links-panel {
  position: absolute;
  display: block;
  width: 240px;
  right: 0px;
  top: 10px;
  background-color: transparent;
  padding-top: 0px !important;
  height: 160px !important;
  border-left: 2px solid $infrastructure_primary-menu-and-border_background-color;
  overflow: visible;
}

/* 
  * Styling to adjust the hearing context panel width
  * CR00370436, PS
 */
body.curam.soria .container-panel-appeals-hearing .appeal-hearing-details-panel,
body.curam.soria .container-panel-appeals-hearing .appeal-judicial-details-panel {
  background-color: transparent;
  position: absolute;
  right: 242px;
  top: 10px;
  display: block;
  margin-top: 0px !important;
  height: 160px !important;
  border-left: 2px solid $infrastructure_primary-menu-and-border_background-color;
  width: 330px;
  overflow: visible;
}

body.curam.soria .container-panel-appeals-hearing .appeal-hearing-details .appeal-content {
  padding-left: $infrastructure_very-big_padding;
  font-size: $infrastructure_normal_font-size;
  line-height: $infrastructure_normal_line-height;
  font-family: $infrastructure_main-regular_font-family;
  color: $infrastructure_primary-form-control-font_color;
}

body.curam.soria .container-panel-appeals-hearing .appeal-hearing-details .appeal-content .hearing-type {
  font-size: $infrastructure_heading-five_font-size;
  line-height: $infrastructure_heading-five_line-height;
  font-family: $infrastructure_main-medium_font-family;
  color: $Appeal_hearing-type_color;
  padding-bottom:0px;
  width: 99%;
  white-space: nowrap;
  overflow: hidden;
}

body.curam.soria .container-panel-appeals-hearing .hearing-decision-content {
  width: 100%;
  background-color: inherit;
  height: 20px;
  position: absolute;
  bottom: 0px;
}

body.curam.soria .container-panel-appeals-hearing .hearing-decision-content-detail {
  padding-left: 30px;
  background: url("../../Images/icon_blu_good_time.png") left center no-repeat;
  height: 20px;
}

body.curam.soria .container-panel-appeals-hearing .hearing-decision-content img {
  display: none;
}

body.curam.soria .container-panel-appeals-hearing .appeal-case-status {
  height: 23px;
  padding-bottom: $infrastructure_small_padding;
  background-color: transparent;
}

body.curam.soria .container-panel-appeals-hearing .appeal-case-status .appeal-status {
  font-family: $infrastructure_main-medium_font-family;
  font-size: $infrastructure_heading-five_font-size;
  color: $Appeal_hearing-type_color;
  padding-left: 0px;
  padding-right: 0px;
  height: 23px;
}

div.appeal-status {
  padding-left: 13px;
}

body.curam.soria .container-panel-appeals-hearing #stackCon-threeimages .stack-container-list {
  height: 150px !important;
}

body.curam.soria .container-panel-appeals-hearing #stackCon-threeimages .stack-container-list .tab-case-list {
  width: 583px;
  left: 60px;
}

body.curam.soria .container-panel-appeals-hearing #stackCon-threeimages .stack-container-list .tab-case-list .list-body {
  width: 566px;
}

body.curam.soria .container-panel-appeals-hearing #stackCon-threeimages .stack-container-list .tab-case-list div table thead {
  height: 26px;
}

body.curam.soria .container-panel-appeals-hearing #stackCon-threeimages .stack-container-list .tab-case-list div table thead tr {
  background: inherit;
  height: 25px;
  border-bottom: 1px solid $infrastructure_primary-menu-and-border_background-color;
}

body.curam.soria .container-panel-appeals-hearing #stackCon-threeimages .stack-container-list .tab-case-list th.table-header {
  font-family: $infrastructure_main-medium_font-family;
  font-weight: normal;
  font-size: $infrastructure_normal_font-size;
  color: $Appeal_stack-container-list-table-header_color;
  height: 20px;
  line-height: $infrastructure_normal_line-height;
  padding: 0px;
}

body.curam.soria .container-panel-appeals-hearing #stackCon-threeimages .stack-container-list .tab-case-list div:not(.table-list) th.header-last-cell {
  display: none;
}

body.curam.soria .container-panel-appeals-hearing #stackCon-threeimages .stack-container-list .tab-case-list .table-list {
  max-height: 130px;
  height: 130px;
  overflow-y: auto;
}

body.curam.soria .container-panel-appeals-hearing #stackCon-threeimages .stack-container-list .tab-case-list .table-list tr {
  height: 31px;
}

body.curam.soria .container-panel-appeals-hearing #stackCon-threeimages .stack-container-list .tab-case-list .table-list tr td {
  background-color: inherit !important;
  height: 30px;
  border-bottom: 1px solid $infrastructure_primary-menu-and-border_background-color;
  padding: 0px !important;
  font-family: $infrastructure_main-regular_font-family;
  font-size: $infrastructure_normal_font-size;
  color: $infrastructure_primary-form-control-font_color;
  line-height: $infrastructure_normal_line-height;
}

body.curam.soria .container-panel-appeals-hearing #stackCon-threeimages .stack-container-list .tab-case-list .table-list tr td > div:not(.person-name-icons) {
  padding: 5px 0px;
}

body.curam.soria .container-panel-appeals-hearing #stackCon-threeimages .stack-container-list .tab-case-list .table-list tr td a.ac {
  text-decoration: none;
  font-family: $infrastructure_main-medium_font-family;
  color: $infrastructure_primary-hover-and-focus-font_color;
}

body.curam.soria .container-panel-appeals-hearing #stackCon-threeimages .stack-container-list .tab-case-list .table-list tr td a.ac:focus,
body.curam.soria .container-panel-appeals-hearing #stackCon-threeimages .stack-container-list .tab-case-list .table-list tr td a.ac:hover {
  color: $infrastructure_secondary-hover-and-focus-font_color;
}

body.curam.soria .container-panel-appeals-hearing #stackCon-threeimages .stack-container-list .tab-case-list .table-list tr td.body-first-cell a.ac {
  display: block;
  width: 30px;
  height: 30px;
  background: url("../../Images/ccv__filled--20-enabled.svg") 5px center no-repeat;
}

body.curam.soria .container-panel-appeals-hearing #stackCon-threeimages .stack-container-list .tab-case-list .table-list tr td.body-first-cell a.ac:focus,
body.curam.soria .container-panel-appeals-hearing #stackCon-threeimages .stack-container-list .tab-case-list .table-list tr td.body-first-cell a.ac:hover {
  background-image: url("../../Images/ccv__filled--20-enabled.svg");
}

body.curam.soria .container-panel-appeals-hearing #stackCon-threeimages .stack-container-list .tab-case-list .table-list tr td.body-first-cell a.ac img {
  display: none;
}

body.curam.soria .container-panel-appeals-hearing .hearing-details-table table td {
  padding-left: $infrastructure_very-big_padding !important;
  font-size: $infrastructure_normal_font-size;
  color: $infrastructure_primary-form-control-font_color;
  white-space: nowrap;
  word-wrap: normal;
}

body.curam.soria .container-panel-appeals-hearing .hearing-details-table table th {
  font-size: $infrastructure_normal_font-size;
  color: $infrastructure_primary-form-control-font_color;
  font-family: $infrastructure_main-medium_font-family;
  white-space: nowrap;
  word-wrap: normal;
}

.hearing-details-table {
  padding-top: 15px;
  padding-bottom: 22px;
}

.hearing-created {
  padding-left: 15px;
}

.appeal-hearing-links-panel .tab-links .appeal-case-owner-panel {
  margin-top: 20px;
}

.completion-text {
  float: left;
  line-height: $infrastructure_normal_line-height;
}

/*
* CR00397018
*/

body.curam.soria .container-panel-appeals-hearing .appeal-hearing-links-panel .tab-links .left-col  .link-wrapper {
  width:95%;
}

body.curam.soria .container-panel-appeals-hearing .appeal-hearing-links-panel .tab-links .left-col {
  width:95%;
}

body.curam.soria .container-panel-appeals-hearing .appeal-hearing-links-panel .tab-links .link-wrapper .link.icon-appealed-item a,
body.curam.soria .container-panel-appeals-hearing .appeal-hearing-links-panel .tab-links .nolink-wrapper .link.icon-appealed-item {
  background: url("../../Images/icon_blu_appealed_items.png") left center no-repeat;
  padding-left: 30px;
}

/*
* END CR00397018
*/

.appeal-hearing-links-panel .tab-links {
  height: 100px;
}

.pane-item .image-panel-content .relationship-only {
  padding-bottom: 15px;
}

body.curam.soria .container-panel-appeals-hearing .appeal-case-owner-panel {
  width: 100%;
  background-color: transparent;
  float: left;
  height: 20px;
  position: absolute;
  bottom: 0px;
  margin-top: 0px;
  padding-top: 0px;
}

body.curam.soria .container-panel-appeals-hearing .appeal-case-owner-icon img {
  display: none;
}

body.curam.soria .container-panel-appeals-hearing .appeal-case-owner a {
  background: url("../../Images/icon_case_owner.png") left top no-repeat;
  font-family: $infrastructure_main-medium_font-family;
  font-size: $infrastructure_normal_font-size;
  color: $infrastructure_primary-hover-and-focus-font_color;
  height: 20px;
  display: block;
  line-height: $infrastructure_normal_line-height;
  padding-left: 30px;
}

body.curam.soria .container-panel-appeals-hearing .appeal-case-owner a:focus,
body.curam.soria .container-panel-appeals-hearing .appeal-case-owner a:hover {
  background-image: url("../../Images/icon_case_owner_hover.png");
  color: $Appeal_appeal-case-owner-hover_color;
}

div.appeal-case-owner-icon {
  padding-left: $infrastructure_normal_padding;
  padding-right: 4px;
}

div.appeal-case-owner,
div.appeal-case-owner-icon {
  float: left;
}

.appeal-hearing-details div.resoluton-watermark,
.judicial-hearing-details div.resoluton-watermark {
    background-color: transparent;
    font-size: $infrastructure_normal_font-size;
    font-family: $infrastructure_main-medium_font-family;
    color: $Appeal_resolution-watermark_color;
    left: 20px;
    line-height: 13px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    bottom: 29px;
    z-index: 0;
}

.container-panel-appeals-hearing .rotator-default .rotator-next-button,
.container-panel-appeals-hearing .rotator-default .rotator-prev-button {
  background-image: none;
}

.container-panel-appeals-hearing .rotator-default .rotator-prev-button img,
.container-panel-appeals-hearing .rotator-default .rotator-next-button img {
  display:block;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 1px;
}

.container-panel-appeals-hearing .rotator-default .rotator-prev-button img.hoverIcon,
.container-panel-appeals-hearing .rotator-default .rotator-next-button img.hoverIcon {
  display: none;
}

.container-panel-appeals-hearing .rotator-default .rotator-prev-button:hover img.hoverIcon,
.container-panel-appeals-hearing .rotator-default .rotator-prev-button:focus img.hoverIcon, 
.container-panel-appeals-hearing .rotator-default .rotator-next-button:hover img.hoverIcon,
.container-panel-appeals-hearing .rotator-default .rotator-next-button:focus img.hoverIcon {
  display: block;
}

.container-panel-appeals-hearing .rotator-default .rotator-prev-button:hover img.defaultIcon,
.container-panel-appeals-hearing .rotator-default .rotator-prev-button:focus img.defaultIcon, 
.container-panel-appeals-hearing .rotator-default .rotator-next-button:hover img.defaultIcon,
.container-panel-appeals-hearing .rotator-default .rotator-next-button:focus img.defaultIcon {
  display: none;
}

/*______________________________________________________________________________
 * end appealhearing.css
 */
