
.outest-cluster table tbody tr td {
    background-color: white;
    padding: 0px;
    width: 100%;
}

.outest-cluster table tbody tr td.top div.label-field {
    margin: 0px;
} 
.outest-cluster-edit table tbody tr td.top div.label-field {
    margin: 0px;
} 

.outest-cluster-edit table tbody tr td {
    background-color: #EBEDF2;
    padding: 0px;
    width: 100%;
}

.outest-cluster table tbody tr td .grouped-cluster {
    border-style:none;    
    margin: 1px;
    width: 100%;
}

.outest-cluster-edit table tbody tr td .grouped-cluster {
    border-style:none;
    margin: 0px;
    width: 100%;
}

.outest-cluster-edit .select.codetable,
.outest-cluster-edit .input.date {
    margin-bottom:2px;
}

.outest-cluster .grouped-cluster .cluster-pad,
.outest-cluster .grouped-cluster .skip-field {
    background-color: #EBEDF2;
    border-bottom:1px solid #EBEDF2;
    padding: 0px;
} 

.outest-cluster-edit .skip-field,
.outest-cluster-edit .cluster-pad {
    background-color: #EBEDF2;
    background: #EBEDF2;    
    border-bottom: 0px solid #EBEDF2;
}
