/* *
 * Licensed Materials - Property of IBM
 *
 * PID 5725-H26
 *
 * Copyright IBM Corporation 2016,2021. All Rights Reserved.
 *
 * US Government Users Restricted Rights - Use, duplication or disclosure
 * restricted by GSA ADP Schedule Contract with IBM Corp.
 * */
/*______________________________________________________________________________
 * Announcements.css
 *
 * Create styles that are applied to the HTML produce by the
 * AnnouncementsRenderer.
 */


body.soria div.announcements-cluster {
 padding:0;
 margin:0;
}
body.soria div.announcements-cluster td{
 padding:0;
 margin:0;
}
body.soria div.announcements-cluster td.last-cell{
 padding:0;
 margin:0;
}

.hide-announcements{
 display: none;
}
.announcements{
  border: none;
  height:28px;
  background: url("../../Images/announcement_mid.png") repeat-x;
  width:100%;
}

.text-container{
  float:left;
  width:86%;
  height:28px;
}

.announcement-text{
  color: #376F8F;
  float:left;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  height:28px;
  width:100%;
  padding-top: 6px;
  text-indent: 9px;
}
.text-mouseover{
  cursor:pointer;
  text-decoration:underline;
}

.announcements .controls{
  float: right;
  background: url("../../Images/announcement_mid.png") repeat-x;
  margin-right: 6px;
}
.announcements .control{
  height: 28px;
  width:30px;
  float:left;
}

.announcements .pause{
  background: url("../../Images/button_pause_nor.png") no-repeat  3px 3px;
}
.announcements .pause-roll-over{
  background: url("../../Images/button_pause_rol.png") no-repeat 3px 3px;
}

.announcements .pause-select{
  background: url("../../Images/button_pause_sel.png") no-repeat 3px 3px;
}
.announcements .play{
  background: url("../../Images/button_play_nor.png") no-repeat 3px 3px;
}
.announcements .play-select{
  background: url("../../Images/button_play_sel.png") no-repeat 3px 3px;
}
.announcements .play-roll-over{
  background: url("../../Images/button_play_rol.png") no-repeat 3px 3px;
}

.announcements .last{
  background: url("../../Images/button_previous_nor.png") no-repeat 3px 3px;
}
.announcements .last-roll-over{
  background: url("../../Images/button_previous_rol.png") no-repeat 3px 3px;
}
.announcements .last-select{
  background: url("../../Images/button_previous_sel.png") no-repeat 3px 3px;
}

.announcements .next{
  background: url("../../Images/button_next_nor.png") no-repeat 3px 3px;
}
.announcements .next-roll-over{
  background: url("../../Images/button_next_rol.png") no-repeat 3px 3px;
}
.announcements .next-select{
  background: url("../../Images/button_next_sel.png") no-repeat 3px 3px;
}
.announcements .ctrl-right{
  float:left;
  background: url("../../Images/control_right.png") no-repeat;
  width:5px;
  height:30px;
}

span#announcements b {
  padding-right: 5px;
}

/* ======== Curam Styling 2016 ======== */

body.curam.soria div.announcements-cluster,
body.curam.soria #mainForm div.announcements-cluster
{
 padding:0px;
 margin: 0 -1rem 0 -1rem;
}

body.curam.soria div.announcements-cluster .bx--col,
body.curam.soria #mainForm div.announcements-cluster .bx--col
{
 box-sizing: content-box;
}

body.curam.soria .announcements{
  border: none;
  height:40px;
  background: repeating-linear-gradient(-60deg, transparent, transparent 5px, #f9f9f9 0, #f9f9f9 14px);
  width:100%;
}

body.curam.soria .announcements::before{
  content: " ";
  display: inline-block;
  width: 6px;
  height: 40px;
  background-color:#f34f4f;
  float:left;
}

body.curam.soria .announcements .controls{
  float: right;
  background: transparent;
  margin-right: 16px;
  margin-left: 5px;
}

body.curam.soria .announcements .controls span,
.announcements span {
	background:none;
}

body.curam.soria .announcements .text-container{
  height:40px;
  width: calc(100% - 150px);
}

body.curam.soria .announcements .control {
    height: 20px;
    width: 20px;
    float: left;
    padding: 5px;
    margin-top: 5px;
}
body.curam.soria .announcement-text {
	padding-top: 10px;
}

body.curam.soria span#announcements b {
  padding-right: 10px;
  padding-left: 34px;
  color:black;
  float: left;
}
	
body.curam.soria span#announcements b, 
body.curam.soria .announcement-text a {
  font-family: $infrastructure_main-medium_font-family;
  font-size:14px;
  line-height:20px;
  padding-top: 0px;
  text-indent: 0px;
}

body.curam.soria .announcements .pause,
body.curam.soria .announcements .play {
	margin: 5px 20px 0px 20px;
}

body.curam.soria .announcements .pause{
  background: url("../../Images/pause--20-enabled.svg") no-repeat 5px 5px;
}
body.curam.soria .announcements .pause-roll-over{
  background: url("../../Images/pause--20-enabled.svg") no-repeat 5px 5px;
}
body.curam.soria .announcements .pause-select{
  background: url("../../Images/pause--20-enabled.svg") no-repeat 5px 5px;
}

body.curam.soria .announcements .play{
  background: url("../../Images/play--20-enabled.svg") no-repeat 5px 5px;
}
body.curam.soria .announcements .play-select{
  background: url("../../Images/play--20-enabled.svg") no-repeat 5px 5px;
}
body.curam.soria .announcements .play-roll-over{
  background: url("../../Images/play--20-enabled.svg") no-repeat 5px 5px;
}

body.curam.soria .announcements .last{
  background: url("../../Images/caret--left20-enabled.svg") no-repeat 5px 5px;
}
body.curam.soria .announcements .last-roll-over{
  background: url("../../Images/caret--left20-enabled.svg") no-repeat 5px 5px;
}
body.curam.soria .announcements .last-select{
  background: url("../../Images/caret--left20-enabled.svg") no-repeat 5px 5px;
}

body.curam.soria .announcements .next{
  background: url("../../Images/caret--right20-enabled.svg") no-repeat 5px 5px;
}
body.curam.soria .announcements .next-roll-over{
  background: url("../../Images/caret--right20-enabled.svg") no-repeat 5px 5px;
}
body.curam.soria .announcements .next-select{
  background: url("../../Images/caret--right20-enabled.svg") no-repeat 5px 5px;
}



/* ======== End Curam Styling 2016 ======== */


/* END Announcements.css
 ______________________________________________________________________________*/