/*______________________________________________________________________________
 * Announcements_rtl.css
 *
 * Create styles that are applied to the HTML produce by the
 * AnnouncementsRenderer.
 */


.rtl body.soria div.announcements-cluster {
 padding:0 !important;
 margin:0 !important;
}
.rtl body.soria div.announcements-cluster td.last-cell{
 padding:0 !important;
 margin:0 !important;
}

.rtl .text-container{
  float:right;
}

.rtl .announcement-text{
  float:right;
}

.rtl .announcements .controls{
  float: left;
  margin-right: 0px;
  margin-left: 6px;
}

.rtl span#announcements b {
  padding-right: 0px;
  padding-left: 5px;
}

/* END Announcements_rtl.css
 ______________________________________________________________________________*/
 
 /* ======== Curam Styling 2016 ======== */
 
 body.rtl.curam.soria .announcements::before {
    float: right;
}

body.rtl.curam.soria .announcements .controls {
    float: left;
    margin-right: 5px;
    margin-left: 25px;
}
body.rtl.curam.soria span#announcements b {
  float:right;
  padding-right: 34px;
  padding-left: 10px;
}
/** Turn the control buttons around **/
body.rtl.curam.soria .announcements .play img,
body.rtl.curam.soria .announcements .play-roll-over img,
body.rtl.curam.soria .announcements .play-select img,
body.rtl.curam.soria .announcements .last img,
body.rtl.curam.soria .announcements .last-roll-over img,
body.rtl.curam.soria .announcements .last-select img,
body.rtl.curam.soria .announcements .next img,
body.rtl.curam.soria .announcements .next-roll-over img,
body.rtl.curam.soria .announcements .next-select img
 {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

/** Turn the play button around **/

body.rtl.curam.soria div.bx--cluster.announcements-cluster {
	margin-right: 0px; 
}
	
 /* ======== End Curam Styling 2016 ======== */
 