/*______________________________________________________________________________
 * BiWeeklyRenderer_rtl.css
 */
 body.rtl.curam.soria .pod-body .bwc-event .time {
    padding-left: 0px;
    padding-right: 10px;
}

body.rtl.curam.soria .pod-body .bwc-event .text {
    text-align: right;
}

body.rtl.curam.soria .date-string .date-display {
	text-align: right;
}

body.rtl.curam.soria .pod-body .bwc-event .icon img {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";	
}

body.rtl.curam.soria .pod-body .events-table.bwc-selected{
  display: table; 
} 

body.rtl.curam.soria .pod-body .week-tab.bwc-current {
    float: right;
}

body.rtl.curam.soria .pod-body .week-tab.bwc-next {
    float: right;
    margin-left: 0px;
    margin-right: 20px;
} 

.rtl .week-tab.bwc-current {
  float:right;
}

.rtl .week-tab.bwc-current {
  float:right;
}

.rtl .week-tab.bwc-current .left-edge {
  float:right;
  background-image: url("../../Images/biweeklycal/tab_desel_right_corner.png");
}
.rtl .week-tab.bwc-current .center {
  float:right;
  padding-left: 0;
  padding-right: 10px;
}
.rtl .week-tab.bwc-current .tab-slope {
  background-image: url("../../Images/biweeklycal/tab_desel_right_slope.png");
  float:right;
}
.rtl .week-tab.bwc-selected.bwc-current .left-edge{
  background-image: url("../../Images/biweeklycal/tab_sel_right_corner.png");
}
.rtl .week-tab.bwc-selected.bwc-current .tab-slope{
  background-image: url("../../Images/biweeklycal/tab_sel_right_slope.png");
}
.rtl .week-tab.bwc-next {
  float:left;
}

.rtl .week-tab.bwc-next .tab-slope {
  background-image: url("../../Images/biweeklycal/tab_desel_left_slope.png");
  float:left;
}

.rtl .week-tab.bwc-next .center{
  float:left;
  padding-right: 0;
  padding-left: 10px;
}

.rtl .week-tab.bwc-next .right-edge{
  float:left;
  background-image: url("../../Images/biweeklycal/tab_desel_left_corner.png");
}

.rtl .week-tab.bwc-next.bwc-selected .tab-slope {
  background-image: url("../../Images/biweeklycal/tab_sel_left_slope.png");
}

.rtl .week-tab.bwc-next.bwc-selected .right-edge{
  background-image: url("../../Images/biweeklycal/tab_sel_left_corner.png");
}

.rtl .navbar-left {
 float:right;
 background-image: url("../../Images/biweeklycal/days_right_side.png");
}
.rtl .navbar {
 float:right;
}
.rtl .navbar-right {
 float:left;
 background-image: url("../../Images/biweeklycal/days_left_side.png");
}

.rtl .events-table.bwc-selected{
  display: inline-table;
}

.rtl .weeks {
 float:right;
}

.rtl .day-button.bwc-today.hasEvent {
 background-image: url("../../Images/biweeklycal/day_current_with_event_rtl.png");
}
.rtl .day-button.hasEvent.mouseover {
 background-image: url("../../Images/biweeklycal/day_rollover_with_event_rtl.png");
}
.rtl .day-button.hasEvent {
 background-image: url("../../Images/biweeklycal/day_with_event_rtl.png");
}
.rtl .day-button.hasEvent.bwc-selected {
 background-image: url("../../Images/biweeklycal/day_sel_with_event_rtl.png");
}

.rtl .bwc-event .icon{
 padding-left:0px;
 padding-right:4px;
}

.rtl .date-string .date-display {
 padding-left: 0;
 padding-right: 5px;
}

.rtl img[src$="biweeklycal/icon_activity.png"],
.rtl img[src$="biweeklycal/icon_recurring_activity.png"] {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
 
 
 /* End BiWeeklyRenderer.css 
_________________________________________________________________________________*/