/* *
 * Licensed Materials - Property of IBM
 *
 * PID 5725-H26
 *
 * Copyright IBM Corporation 2016,2021. All Rights Reserved.
 *
 * US Government Users Restricted Rights - Use, duplication or disclosure
 * restricted by GSA ADP Schedule Contract with IBM Corp.
 * */
/*______________________________________________________________________________
 * BiWeeklyRenderer.css
 */
.weekly-calendar{
 position:relative;
 padding-top:5px;
 text-overflow:ellipsis;
 white-space:no-wrap;
 overflow-x:hidden;
 width:100%;
 cursor:auto;
}

.narbar-back-panel {
 height:36px;
 background: url("../../Images/biweeklycal/days_background.png") repeat-x scroll 0 0 transparent;
}

.week-tab.bwc-selected.bwc-current {
  cursor:normal;
}
.week-tab.bwc-current .left-edge {
  float:left;
  background: url("../../Images/biweeklycal/tab_desel_left_corner.png") repeat-x scroll 0 0 transparent;
  height:24px;
  width:5px;
}
.week-tab.bwc-current .center {
  float:left;
  height:20px;
  padding-left: 10px;
  padding-top:5px;
  background: url("../../Images/biweeklycal/tab_desel_middle.png") repeat-x scroll 0 0 transparent;
}
.week-tab.bwc-current .tab-slope {
  background: url("../../Images/biweeklycal/tab_desel_left_slope.png") repeat-x scroll 0 0 transparent;
  height:24px;
  width:43px;
  float:left;
}
.week-tab.bwc-selected.bwc-current .left-edge{
  background: url("../../Images/biweeklycal/tab_sel_left_corner.png") repeat-x scroll 0 0 transparent;
}
.week-tab.bwc-selected.bwc-current .center{
  background: url("../../Images/biweeklycal/tab_sel_middle.png") repeat-x scroll 0 0 transparent;
}
.week-tab.bwc-selected.bwc-current .tab-slope{
  background: url("../../Images/biweeklycal/tab_sel_left_slope.png") repeat-x scroll 0 0 transparent;
}
.week-tab.bwc-next {
  cursor:pointer;
  float:right;
}
.week-tab.bwc-next.bwc-selected {
  cursor:normal;
}

.week-tab.bwc-next .tab-slope {
  background: url("../../Images/biweeklycal/tab_desel_right_slope.png") repeat-x scroll 0 0 transparent;
  height:24px;
  width:43px;
  float:right;
}

.week-tab.bwc-next .center{
  float:right;
  background: url("../../Images/biweeklycal/tab_desel_middle.png") repeat-x scroll 0 0 transparent;
  height:20px;
  padding-right: 10px;
  padding-top:5px;
}

.week-tab.bwc-next .right-edge{
  float:right;
  background: url("../../Images/biweeklycal/tab_desel_right_corner.png") repeat-x scroll 0 0 transparent;
  height:24px;
  width:5px;
}

.week-tab.bwc-next.bwc-selected .tab-slope {
  background: url("../../Images/biweeklycal/tab_sel_right_slope.png") repeat-x scroll 0 0 transparent;
}

.week-tab.bwc-next.bwc-selected .center{
  background: url("../../Images/biweeklycal/tab_sel_middle.png") repeat-x scroll 0 0 transparent;
}

.week-tab.bwc-next.bwc-selected .right-edge{
  background: url("../../Images/biweeklycal/tab_sel_right_corner.png") repeat-x scroll 0 0 transparent;
}


.navbar-left {
 float:left;
 position:relative;
 width:2px;
 height:35px;
 background: url("../../Images/biweeklycal/days_left_side.png") repeat-x scroll 0 0 transparent;
}
.navbar {
 width:98%;
 float:left;
}
.navbar-right {
 float:right;
 width:2px;
 height:35px;
 background: url("../../Images/biweeklycal/days_right_side.png") repeat-x scroll 0 0 transparent;
}
.weeks {
 float:left;
 overflow:hidden;
 height:36px;
 width:99%;
}
.weeks .week-days{
 width:100%;
}
.weeks .week-days.bwc-current{
 display:none;
}
.weeks .week-days.bwc-current.bwc-selected{
 display:block;
}

.weeks .week-days.bwc-next{
 display:none;
}
.weeks .week-days.bwc-next.bwc-selected{
 display:block;
}
table>tbody.table-body{
  width:100%;
}
table.day-table, tr.day-row {
  width:100%;
  height:36px;
}
.day-button, .day-button a {
 text-align:center;
 text-decoration:none;
 text-indent:0px;
 width:13%;
 cursor:pointer;
}

.date-string .date-display {
 display: none;
 padding-left: 5px;
 padding-top: 5px;
 padding-bottom: 10px;
 background-color:#FFFFFF;
 border-left: 1px solid #dee5ed;
 border-right: 1px solid #dee5ed;
}
.date-string .date-display.bwc-selected {
 display:block;
}

.all-events{
  background-color:#FFFFFF;
  color:#10486B;
  border-left: 1px solid #dee5ed;
  border-right: 1px solid #dee5ed;
  padding-left:5px;
  padding-right:5px;

}
.dates-stack {
  position:inherit;
  width:100%;
}
.events-table{
  display:none;
  background-color:#FFFFFF;
  width:100%;
  border-collapse : collapse;
}
.events-table.bwc-selected > thead {
  color:white;
  height:0;
  font-size:1pt;
}
.events-table.bwc-selected{
  display: table;
}

.events-table.bwc-selected > tbody {
  display: block;
  display: table-row-group;
}
.events-table.bwc-selected > tbody > tr{
  display: block;
  display: table-row;
}
.events-table.bwc-selected > tbody > tr > td {
  display: block;
  display: table-cell;
}
.bwc-event{
  width: 100%;
  font-weight: normal;
}
.events-table.empty .bwc-event{
  height: 26px;
}
.bwc-event.last .text,.bwc-event.last .icon,.bwc-event.last .time {
  border-bottom: 0px;
}
.bwc-event .time{
  width:66px;
  vertical-align:top;
  border-bottom: 1px solid #D6DFDA;
  padding-top: 5px;
  padding-bottom: 5px;
}

.bwc-event .icon{
 width:20px;
 vertical-align:top;
 padding-left:4px;
 padding-right:0px;
 padding-top: 5px;
 padding-bottom: 0x;
 border-bottom: 1px solid #D6DFDA;
}

.bwc-event .text {
  white-space:normal;
  vertical-align:top;
  border-bottom: 1px solid #D6DFDA;
  padding-left:4px;
  padding-top: 5px;
  padding-bottom: 5px;

}
.text a.event-link {
  text-decoration:none;
  color:#10486B;
}
.text a.event-link:hover {
  text-decoration:underline;
  cursor: pointer;
}
.events-table.empty .bwc-event {
  height: 26px;
}
.events-bottom {
  height:6px;
  background-color:#FFFFFF;
  position:inherit;
  width:100%;
}
.events-bottom.left {
  background: url("../../Images/biweeklycal/corner_list_left.png") no-repeat scroll left top transparent;
}
.events-bottom .center {
  width:99%;
  background-color:#FFFFFF;
  float:right;
}
.events-bottom .right {
  background: url("../../Images/biweeklycal/corner_list_right.png") no-repeat scroll left top #E2E7ED;
  float:right;
  width:6px;
  height:6px;
}




body.curam.soria .pod-body .weekly-calendar {
	position: relative;
	padding-top: 5px;
	text-overflow: ellipsis;
	white-space: no-wrap;
	overflow-x: hidden;
	width: 100%;
	cursor: auto;
	font-family: $infrastructure_main-medium_font-family;
	font-size: $infrastructure_small_font-size;
	text-align: center;
	color: $infrastructure_primary-font_color;
}

body.curam.soria .pod-body .narbar-back-panel {
	height: 44px;
	background: $infrastructure_primary-menu-and-border_background-color;
	border-top: 1px solid #ecf0f2;
}

body.curam.soria .pod-body .navbar {
	width: 100%;
	float: left;
}

body.curam.soria .pod-body .navbar-left {
	float: left;
	position: relative;
	width: 2px;
	height: 35px;
	background: $infrastructure_primary-background_color;
	display: none;
}

body.curam.soria .pod-body .navbar-right {
	float: right;
	width: 2px;
	height: 35px;
	background: $infrastructure_primary-background_color;
	display: none;
}

body.curam.soria .pod-body .day-button.bwc-today {
	background-color: $infrastructure_primary-menu-and-border_background-color;
}

body.curam.soria .pod-body .day-button.bwc-today.hasEvent {
	background-color: $infrastructure_primary-menu-and-border_background-color;
}

body.curam.soria .pod-body .day-button.hasEvent.mouseover {
	color: $infrastructure_secondary-hover-and-focus-font_color;
}

body.curam.soria .pod-body .day-button.hasEvent {
	background: $infrastructure_primary-background_color url("../../Images/chevron__mini--10-enabled.svg") no-repeat 90% 90%;
}

body.curam.soria .pod-body .day-button.mouseover {
	background-color: $infrastructure_primary-background_color;
	color: $infrastructure_secondary-hover-and-focus-font_color;
}

body.curam.soria .pod-body .day-button.bwc-selected,
body.curam.soria .pod-body .day-button.hasEvent.bwc-selected {
	background-color: rgba(192, 230, 255, 0.2);
}

body.curam.soria .pod-body .all-events {
	background-color: $infrastructure_primary-background_color;
	color: #10486B;
	border: none;
	padding: 0px;
}

body.curam.soria .date-string .date-display {
	margin: 0;
	padding: 5px 10px 0 10px;
	height: 17px;
	background-color: rgba(192, 230, 255, 0.2) !important;
	display: none;
	border: none;
	text-align: left;
}

body.curam.soria .date-string .date-display.bwc-selected {
	display: block;
}

body.curam.soria .pod-body .events-bottom.left {
	background: $infrastructure_primary-background_color;
	display: none;
}

body.curam.soria .pod-body.events-table {
	display: none;
	background-color: rgba(192, 230, 255, 0.2);
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 5px;
}

body.curam.soria .pod-body .week-tabs {
	background: none;
	height: 20px;
}

body.curam.soria .pod-body .week-tab.bwc-current {
	cursor: pointer;
	float: left;
	height: 20px;
}

body.curam.soria .pod-body .week-tab.bwc-next {
	cursor: pointer;
	float: left;
	margin-left: 20px;
}

body.curam.soria .pod-body .week-tab.bwc-next .center,body.curam.soria .pod-body .week-tab.bwc-current .center
	{
	float: left;
	background: none;
	height: 17px;
	padding: 0;
	border: none;
}

body.curam.soria .pod-body .week-tab.bwc-next:not(.bwc-selected ) .center:hover,
body.curam.soria .pod-body .week-tab.bwc-current:not(.bwc-selected ) .center:hover,
body.curam.soria .pod-body .week-tab.bwc-next:not(.bwc-selected ) .center:focus,
body.curam.soria .pod-body .week-tab.bwc-current:not(.bwc-selected ) .center:focus {
	color: $infrastructure_secondary-hover-and-focus-font_color;
}

body.curam.soria .pod-body .week-tab.bwc-next.bwc-selected .center,body.curam.soria .pod-body .week-tab.bwc-current.bwc-selected .center
	{
	border-bottom: 3px solid $infrastructure_primary-ui-feature_color;
	cursor: default;
}

body.curam.soria .pod-body .week-tab.bwc-selected.bwc-current .tab-slope,body.curam.soria .pod-body .week-tab.bwc-next .tab-slope,body.curam.soria .pod-body .week-tab.bwc-current .tab-slope
	{
	display: none;
}

body.curam.soria .pod-body .week-tab.bwc-selected.bwc-current .left-edge,body.curam.soria .pod-body .week-tab.bwc-next .right-edge,body.curam.soria .pod-body .week-tab.bwc-current .left-edge
	{
	display: none;
}

body.curam.soria .pod-body .week-tab.bwc-selected.bwc-current .center,body.curam.soria .pod-body .week-tab.bwc-next .center
	{
	background: none;
}

body.curam.soria .pod-body .weeks {
	float: left;
	overflow: hidden;
	height: 44px;
	width: 100%;
}

body.curam.soria .pod-body table.day-table,tr.day-row {
	width: 100%;
	height: 44px;
}

body.curam.soria .pod-body .bwc-event {
	width: 100%;
	background-color: rgba(192, 230, 255, 0.2);
	border-bottom: 1px solid #ecf0f2;
}

body.curam.soria .pod-body .events-table.empty .bwc-event {
	height: 26px;
}

body.curam.soria .pod-body .bwc-event.last .text,
body.curam.soria .pod-body .bwc-event.last .icon,
body.curam.soria .pod-body .bwc-event.last .time {
	border: none;
}

body.curam.soria .pod-body .bwc-event table {
	table-layout: auto;
	border-collapse: collapse;
	width: 100%;
}

body.curam.soria .pod-body .bwc-event td {
	height: 20px;
	padding: 5px 0;
	white-space: nowrap;
}

body.curam.soria .pod-body .bwc-event td a {
	text-decoration: none;
	color: $infrastructure_primary-hover-and-focus-font_color;
}

body.curam.soria .pod-body .bwc-event td a:hover {
	text-decoration: none;
	color: $infrastructure_secondary-hover-and-focus-font_color;
}

body.curam.soria .pod-body .bwc-event .time {
	width: auto;
	vertical-align: middle;
	border-bottom: none;
    text-align: left;
    padding-left: 10px;
}

body.curam.soria .pod-body .bwc-event .icon {
	width: 20px;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	border-bottom: none;
}

body.curam.soria .pod-body .bwc-event .text {
	white-space: normal;
	vertical-align: middle;
	border-bottom: none;
	text-align: left;
	width: 100%;
}

body.curam.soria .pod-body .events-table.empty .bwc-event {
	height: 20px;
}

body.curam.soria .pod-body .events-table.empty .bwc-event td {
	height: 20px;
	padding: 5px 0;
}

body.curam.soria .pod-body .events-bottom {
	height: 6px;
	background-color: $infrastructure_primary-background_color;
	position: inherit;
	width: 100%;
}

body.curam.soria .pod-body .events-bottom.left {
	background: url("../../Images/biweeklycal/corner_list_left.png")
		no-repeat scroll left top transparent;
}

body.curam.soria .pod-body .events-bottom .center {
	width: 99%;
	background-color: $infrastructure_primary-background_color;
	float: right;
}

body.curam.soria .pod-body .events-bottom .right {
	background: url("../../Images/biweeklycal/corner_list_right.png")
		no-repeat scroll left top #E2E7ED;
	float: right;
	width: 6px;
	height: 6px;
}

/* End BiWeeklyRenderer.css
_________________________________________________________________________________*/
