/*______________________________________________________________________________
 * ButtonLinkRenderer.css
 */
.button-link .actioncontrol-button-left, .button-link.hover .actioncontrol-button-left {
  display: table;
  display: inline-block;
  float: none;
  height: 18px;
  padding: 0;
  top: 1px;
  z-index: 3;
}

.button-link .actioncontrol-button-left {
  background: url("../../Images/new_left_nor.png") no-repeat scroll 0 0 transparent;
}

.button-link.hover .actioncontrol-button-left {
  background: url("../../Images/new_left_roll.png") no-repeat scroll 0 0 transparent;
}


.button-link .actioncontrol-button-right, .button-link.hover .actioncontrol-button-right {

  background: url("../../Images/new_right_nor.png") no-repeat scroll right top transparent;
  display: inline-block;
  height: 18px;
  margin: 0 0 0 2px;
  padding: 0 4px 0 0;

}

.button-link .actioncontrol-button-right {
  background: url("../../Images/new_right_nor.png") no-repeat scroll right top transparent;
}

.button-link.hover .actioncontrol-button-right {
  background: url("../../Images/new_right_roll.png") no-repeat scroll right top transparent;
}

.button-link .actioncontrol-button-center, .button-link.hover .actioncontrol-button-center {

  background-image: url("../../Images/new_mid_nor.png");
  background-repeat: repeat-x;
  display: inline-block;
  height: 18px;
  padding: 1px 8px 1px 12px;
  cursor: pointer;
}

.button-link .actioncontrol-button-center {
  background-image: url("../../Images/new_mid_nor.png");
}

.button-link.hover .actioncontrol-button-center {
  background-image: url("../../Images/new_mid_roll.png");
}
/*
 * End ButtonLinkRenderer.css
 *______________________________________________________________________________*/