/*______________________________________________________________________________
 * canadian-address.css
 *
 * Styling specific to the Canadian Civic Address format renderer.
 */

td.ADI {
  padding-right: 7px !important;
}

td.UNITNO div.inputWrapper {
  width: 50%;
}

td.STRNUMSFX span.container input.text {
  width: 4em !important;
  float: left;
}

td.STRNUMSFX span.container span.separator {
  width: 3px;
  float: left;
}

td.STRNUMSFX span.container div.codetable {
  width: 4em !important;
}

td.STRNUMBER {
  padding-right: 0px !important;
}

td.STRNOSFX {
  padding-right: 0px !important;
}

td.STRTYPEDIR {
  padding-right: 2px !important;
}

td.STRTYPE {
  width: 75%;
  padding-right: 3px !important;
}

td.STRDIR {
  width: 25%;
  padding-right: 0px !important;
}

td.PROV {
  padding-right: 2px !important;
}

td.PROV div.inputWrapper .dijitTextBox, 
td.PROV div.inputWrapper .dijitComboBox, 
td.PROV div.inputWrapper .dijitSpinner {
  width: 100% !important;
}

td.POSTCODE div.inputWrapper {
  width: 50%;
} 