/*______________________________________________________________________________
 * CaseTabList.css
 *
 * Create styles that are applied to the HTML for the participant types.
 */
.tab-case-list {
  width: 100%;
}

div table tr.odd td {
  background-color :#FFFFFF !important;
}

div table tr.even td {
  background-color :#E6ECF4 !important;
}

.tab-case-list tbody tr td.icon-table div table {
  border : none;
}

.tab-case-list div.div.table-list td {
  padding: 0 !important;
}

.tab-case-list div table {
  width: 100%;
  table-layout: fixed;
}


.tab-case-list div table thead tr {
  background-image: url("../../Images/details_member_header.png");
  background-color: #DEDEDE;
  background-repeat: repeat-x;
  height: 23px;
}

.tab-case-list div table thead tr th.header-last-cell {
  padding:0px;
  border-left: 0px;
}


.tab-case-list div table thead tr th {
  padding: 0px;
}

.tab-case-list div table tr {
  height: 28px;
}

.person-age-icons .age {

  float: left;
  padding-right: 70px;
  padding-top: 6px;
}

div.inv-list-icon,
div.legalaction-list-icon {

  float: left;
  padding-right: 5px;
  padding-top: 4px;
}

.person-name-icons .person-name {

  float: left;
  padding-right: 5px;
  padding-top: 6px;
  padding-left: 3px;
}

div.table-list table tbody td a img {
  padding-top: 3px;
}

/*
CR00461776
*/
/* Flip row icon */
.rtl div.table-list table tbody td a img {
  filter: fliph;
  -moz-transform: scaleX(-1);
  -ms-filter: fliph; /*IE*/
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
}

/* style for fixed headers */

.tab-case-list div.table-list {
  position: relative;
  max-height: 112px;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.tab-case-list div.table-list div {
  zoom: 1;
}

.tab-case-list div.table-listtable {
  border-width: 1px 1px 0px 0px;
}

.tab-case-list div.table-list table thead tr {
  position: absolute;
  top: expression(this.offsetParent.scrollTop);
}

.tab-case-list div.table-list table thead tr th {
  border-bottom: 0px;
}

.tab-case-list div.table-list table tbody {
  height: auto;
}

.tab-case-list div.table-list table thead tr th.table-header {
  padding: 0px 0px 0px 8px;
}

.tab-case-list div.table-list table tbody tr td.field {
  padding-bottom: 0px !important;
  padding-left: 8px !important;
}

/*
CR00461776
*/
.rtl .tab-case-list div.table-list table tbody tr td.field {
  padding-left: 0px !important;
  padding-right: 8px !important;
}

.tab-case-list .list-body th.table-header{
  font-weight: bold;
  padding-bottom: 4px;
  padding-left: 8px;
  border: 0px;
}

/*
CR00461776
*/
.rtl .tab-case-list .list-body th.table-header {
  padding-left: 0px;
  padding-right: 8px;
}
