/*______________________________________________________________________________
 * CaseAudits.css
 * 
 * Create styles that are applied to the HTML produced by  
 * Case Audit renderers.
 */

div.FocusAreaCluster td {
  border: none;
  background-color :white; 
}

div.case-audit-scroll-list {
  overflow:auto;
  width:100%;
}

div.case-audit-height-90 {
  height:90px;
}

div.case-audit-height-120 {
  height:120px;
}

/* END CaseAudits.css 
 ______________________________________________________________________________*/