/*
 * Licensed Materials - Property of IBM
 *
 * PID 5725-H26
 *
 * Copyright IBM Corporation 2016,2021. All Rights Reserved.
 *
 * US Government Users Restricted Rights - Use, duplication or disclosure
 * restricted by GSA ADP Schedule Contract with IBM Corp.
 *
 *______________________________________________________________________________
 * CaseAuditHome.css
 *
 * Create styles that are applied to the HTML for the case audit tab details.
 */

div.caseaudit-container-panel {
  background-color: transparent;
  height:135px;
  overflow: hidden;
  position: relative;
  top: 5px;
  min-width: 910px;
}

.caseaudit-details {
  padding-left: 15px;
}

.caseaudit-details .caseaudit-reference,
.caseaudit-details .caseauditplan-reference {
  font-size: 140%;
  color: #FB7803;
  width:100%;
  white-space: nowrap;
  overflow: hidden;
}

.caseaudit-details .caseauditplan-reference {
  padding-bottom: 10px;
}

.caseaudit-details .caseaudit-reference-id {
  font-size: 120%;
  font-family: tahoma;
  color: #FB7803;
  padding-bottom:0px;
  padding-top: 0px;
  padding-right: 15px;
  background-color: white;
  position: absolute;
  right: 0px;
  top: 5px;
  padding-left: 5px;
}

.audit-case-link {
  padding-bottom: 6px;
  font-size: 103%;
}

.caseaudit-details-table,
.caseaudit-details-table2 {
  float: left;
}

.caseaudit-details-table {
  margin-right: 50px;
}

.caseaudit-details-table table td,
.caseaudit-details-table2 table td {
  padding-left: 30px !important;
}

.caseaudit-content-panel {
  background-color: #FFFFFF;
  position: absolute;
  left: 10px;
  right: 360px;
  top: 0;
  z-index: 0;
  min-width: 450px;
}

.caseaudit-tab-details {
  height: 125px;
  padding-left: 0px;
  border-left: 1px solid #DADADA;
  border-right: 1px solid #DADADA;
  float: left;
  width: 100%;
}

.caseaudit-extradetails-content {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: #E6EBF1;
}

.caseaudit-tab-details .caseaudit-extradetails-content {
  position: absolute;
  bottom: 1px;
  left: 1px;
  width: 100%;
  background-color: #E6EBF1;
}

.caseaudit-focusareas-content-detail,
.caseaudit-extradetails-content-detail {
  padding-left: 10px;
}

.caseaudit-extradetails-content-detail {
  margin-top: 2px;
}

.caseaudit-timelimit-table table {
  float: left;
}

.caseaudit-timelimit-table table td {
  padding-bottom: 0px !important;
  color: #696969;
}

div.caseaudit-timelimit-table table {
  margin-left: 5px;
  margin-top: 2px;
}

.caseaudit-extradetails-content .content {
  padding-left: 11px;
}

div.caseaudit-tab-details .caseaudit-extradetails-content img {
  padding: 0px;
  float: left;
}


h3.focus-area-title {
  background: url(../../Images/icon_focus_area.png) no-repeat top left white;
  padding-left: 25px;
  height: 20px;
  border-bottom: 1px solid #DFDFDF;
  width: 85%;
  padding-top: 2px;
}

div.caseaudit-caseowner-table  {
  float: left;
  overflow: hidden;
  white-space: nowrap;
  width: 35%;
  margin-top: 3px;
  padding-left: 3px;
}

div.audit-owner-image img {
  margin-top: 2px;
}

div.caseaudit-timelimit-table  {
  overflow: hidden;
  white-space: nowrap;
}


.caseaudit-tab-details div.watermark {
  color:gainsboro;
  font-size:500%;
  z-index: -1;
  position:absolute;
  top: 30px;
  left: 130px;
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
  background-color: #ffffff;
}
/* BEGIN, WI117561, YF */
/* END, WI117561, YF */
.caseaudit-report-content-panel {
  position: absolute;
  right: 10px;
  top: 0;
  width: 340px;
}

.caseaudit-report-details {
  height: 125px;
  padding-left: 0px;
  border-left: 1px solid #DADADA;
  border-right: 1px solid #DADADA;
  float: left;
  width: 100%;
  background-color: #FFFFFF;
}

.caseaudit-chart-content-panel {
  height: 100px;
}

div.caseaudit-extradetails-content-detail div.schedule-detail {
    float: left;
    padding-left: 4px;
    margin-top: 2px;
}

.no-chart-text {
  padding-top: 5px;
  padding-left: 10px;
}


/* ======== Curam 2016 Styling ======== */

body.curam.soria .caseaudit-container-panel div.incident-details {
    padding-left: 0px;
    padding-right: 0px;
}

body.curam.soria .caseaudit-container-panel .caseaudit-reference,
body.curam.soria .caseaudit-container-panel .caseauditplan-reference {
    font-family: $infrastructure_main-medium_font-family;
    font-size: $infrastructure_heading-three_font-size;
    color: $infrastructure_primary-ui-feature_color;
    letter-spacing: -0.22px;
    text-align: left;
    line-height: $infrastructure_heading-three_line-height;
}

body.curam.soria .caseaudit-container-panel .caseauditplan-reference {
    padding-bottom: $infrastructure_small_padding;
}

body.curam.soria .caseaudit-container-panel table tbody.horiz-table-body th {
    font-family: $infrastructure_main-medium_font-family;
    font-size: $infrastructure_normal_font-size;
    color: $infrastructure_primary-form-control-font_color;
    line-height: $infrastructure_normal_line-height;
}

body.curam.soria .caseaudit-container-panel table tbody.horiz-table-body td {
    font-family: $infrastructure_main-regular_font-family;
    font-size: $infrastructure_normal_font-size;
    color: $infrastructure_primary-form-control-font_color;
    line-height: $infrastructure_normal_line-height;
    padding-left: $infrastructure_very-big_padding !important;
}

body.curam.soria .caseaudit-container-panel .caseaudit-tab-details {
    border: 0px;
    background-color: $infrastructure_primary-form-control-background_color;
}

body.curam .caseaudit-container-panel .caseaudit-reference-id {
    background: none;
    font-family: $infrastructure_main-medium_font-family;
    font-size: $infrastructure_normal_font-size;
    color: $infrastructure_primary-font_color;
    text-align: right;
    padding-right: $infrastructure_very-big_padding;
    top: 10px;
}

body.curam.soria .caseaudit-container-panel div.caseaudit-tab-details {
    padding-left: 0px;
    padding-right: 0px;
}

body.curam.soria .caseaudit-content-panel {
    left: 0;
}

body.curam.soria .caseaudit-content-panel .caseaudit-details {
    padding-left: 0px;
    padding-top: 0px;
}

body.curam.soria .caseaudit-details-table2 {
    margin-right: 50px;
}

body.curam.soria .caseaudit-container-panel .caseaudit-report-details {
    height: 135px;
    padding: 0px 0px 0px $infrastructure_very-big_padding;
    background: none;
    border: 0px;
    border-left: 2px solid $infrastructure_primary-menu-and-border_background-color;
    width: 360px;
    font-family: $infrastructure_main-regular_font-family;
    font-size: $infrastructure_normal_font-size;
    color: $infrastructure_primary-form-control-font_color;
}

body.curam.soria div.caseaudit-container-panel {
    background-color: transparent;
    overflow: visible;
    position: relative;
    top: 10px;
    height: auto;
}

body.curam.soria div.caseaudit-container-panel .caseaudit-tab-details .caseaudit-extradetails-content {
    background-color: transparent;
}

body.curam.soria .caseaudit-container-panel .caseaudit-extradetails-content {
    top: 130px
}

body.curam.soria .caseaudit-container-panel .caseaudit-extradetails-content-detail {
    margin-top: 10px;
}

body.curam.soria .caseaudit-container-panel .caseaudit-focusareas-content-detail,
body.curam.soria .caseaudit-container-panel .caseaudit-extradetails-content-detail {
    padding-left: 0px;
}

body.curam.soria .caseaudit-container-panel .caseaudit-timelimit-table .horiz-body-first-cell {
    font-family: $infrastructure_main-regular_font-family;
}

body.curam.soria .caseaudit-container-panel div.caseaudit-timelimit-table table {
    margin-left: 10px;
    margin-top: 0px;
}

body.curam.soria .caseaudit-container-panel table tbody.horiz-table-body a {
    font-family: $infrastructure_main-medium_font-family;
    color: $cefwidgets_context-panel_link-color;
}

body.curam.soria .caseaudit-container-panel table tbody.horiz-table-body a:focus,
body.curam.soria .caseaudit-container-panel table tbody.horiz-table-body a:hover {
    color: $cefwidgets_context-panel_link-hover-color;
}

body.curam.soria .caseaudit-container-panel table tbody.horiz-table-body a:hover {
    text-decoration: underline;
}

body.curam.soria .caseaudit-container-panel .caseaudit-report-content-panel {
    top: 10px;
    right: 20px;
}

body.curam.soria .caseaudit-container-panel .audit-case-link a {
    font-family: $infrastructure_main-medium_font-family;
    font-size: $infrastructure_normal_font-size;
    color: $cefwidgets_context-panel_link-color;
}

body.curam.soria .caseaudit-container-panel .audit-case-link a:focus,
body.curam.soria .caseaudit-container-panel .audit-case-link a:hover {
    color: $cefwidgets_context-panel_link-hover-color;
}

body.curam.soria .caseaudit-container-panel .audit-case-link a:hover {
    text-decoration: underline;
}

body.curam.soria .caseaudit-container-panel .caseaudit-focusareas-content-detail h3.focus-area-title {
    background-color: transparent;
    border: none;
    font-family: $infrastructure_main-medium_font-family;
    font-size: $infrastructure_normal_font-size;
    padding-top: 2px;
    line-height: 13px;
    color: $infrastructure_primary-form-control-font_color;
    background-image: url(../../Images/icon_focus_areas.png);
    padding-left: $cefwidgets_context-panel_contact-details-icon-padding;
}

body.curam.soria .caseaudit-container-panel .caseaudit-chart-content-panel {
    margin-top: 13px;
    font-family: $infrastructure_main-regular_font-family;
    font-size: $infrastructure_normal_font-size;
    color: $infrastructure_primary-form-control-font_color;
}

body.curam.soria .caseaudit-container-panel .watermark {
    color: #ad1625;
    font-family: $infrastructure_main-medium_font-family;
    font-size: $infrastructure_normal_font-size;
    z-index: inherit;
    line-height: $infrastructure_normal_line-height;
    -moz-opacity: inherit;
    -khtml-opacity: inherit;
    opacity: inherit;
    background: none;
    position: relative;
    top: 0px;
    left: 0px;
}

body.curam.soria .caseaudit-container-panel .content-panel-detail.caseaudit-content-panel {
    width: calc(100% - 360px);
}

body.curam.soria .caseaudit-container-panel .caseaudit-caseowner-table {
    padding-left: $infrastructure_normal_padding;
    margin-top: 0px;
}

body.curam.soria .caseaudit-content-panel .schedule-detail {
    font-family: $infrastructure_main-regular_font-family;
    font-size: $infrastructure_normal_font-size;
    color: $infrastructure_primary-form-control-font_color;
    line-height: $infrastructure_normal_line-height;
    margin-top: 0;
    padding-left: $infrastructure_normal_padding;
}

body.curam.soria .caseaudit-container-panel .caseaudit-caseowner-table {
    width: 40%;
}

body.curam.soria .caseaudit-container-panel .no-chart-text {
    padding: 0;
}

/*______________________________________________________________________________
 * end CaseAuditHome.css
 */
