/*______________________________________________________________________________
 * CaseTabList_rtl.css
 *
 * Create styles that are applied to the HTML for the participant types.
 */

.rtl .tab-case-list div table thead tr th.header-last-cell {
  border-right: 0px;
}

.rtl .person-age-icons .age {
  float: right;
  padding-right: 0;
  padding-left: 70px;
}

.rtl div.inv-list-icon,
.rtl div.legalaction-list-icon {
  float: right;
  padding-right: 0;
  padding-left: 5px;
}

.rtl .person-name-icons .person-name {
  float: right;
  padding-right: 3px;
  padding-left: 5px;
}

/* style for fixed headers */


.rtl .tab-case-list div.table-listtable {
  border-width: 1px 0px 0px 1px;
}

.rtl .tab-case-list div.table-list table thead tr th.table-header {
  padding: 0px 8px 0px 0px;
}

.rtl .tab-case-list div.table-list table tbody tr td.field {
  padding-right: 8px !important;
}

.rtl .tab-case-list .list-body th.table-header{
  padding-left: 0;
  padding-right: 8px;
}
