/*______________________________________________________________________________
 * CaseAuditHome_rtl.css
 *
 * Create styles that are applied to the HTML for the case audit tab details.
 */

.rtl .caseaudit-details {
  padding-left: 0;
  padding-right: 15px;
}

.rtl .caseaudit-details .caseaudit-reference-id {
  padding-right: 5px;
  padding-left: 15px;
  right: auto;
  left: 0px;
}

.rtl .caseaudit-details-table,
.rtl .caseaudit-details-table2 {
  float: right;
}

.rtl .caseaudit-details-table {
  margin-right: 0;
  margin-left: 50px;
}

.rtl .caseaudit-details-table table td,
.rtl .caseaudit-details-table2 table td {
  padding-left: 0 !important;
  padding-right: 30px !important;
}

.rtl .caseaudit-content-panel {
  left: 360px;
  right: 10px;
}

.rtl .caseaudit-tab-details {
  padding-right: 0px;
  float: right;
}

.rtl .caseaudit-extradetails-content {
  left: auto;
  right: 0px;
}

.rtl .caseaudit-tab-details .caseaudit-extradetails-content {
  left: auto;
  right: 1px;
}

.rtl .caseaudit-focusareas-content-detail,
.rtl .caseaudit-extradetails-content-detail {
  padding-left: 0;
  padding-right: 10px;
}

.rtl .caseaudit-timelimit-table table {
  float: right;
}

.rtl div.caseaudit-timelimit-table table {
  margin-left: 0;
  margin-right: 5px;
}

.rtl .caseaudit-extradetails-content .content {
  padding-left: 0;
  padding-right: 11px;
}

.rtl div.caseaudit-tab-details .caseaudit-extradetails-content img {
  float: right;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}


.rtl h3.focus-area-title {
  background-position: right top;
  padding-left: 0;
  padding-right: 25px;
}

.rtl div.caseaudit-caseowner-table  {
  float: right;
  padding-left: 0;
  padding-right: 3px;
}


.rtl .caseaudit-tab-details div.watermark {
  left: auto;
  right: 130px;
}

.rtl .caseaudit-report-content-panel {
  right: auto;
  left: 10px;
}

.rtl .caseaudit-report-details {
  padding-right: 0px;
  float: right;
}

.rtl div.caseaudit-extradetails-content-detail div.schedule-detail {
    float: right;
    padding-left: 0;
    padding-right: 4px;
}

.rtl .no-chart-text {
  padding-left: 0;
  padding-right: 10px;
}

/* ======== Curam 2016 Styling ======== */

.rtl body.curam.soria .caseaudit-container-panel .caseaudit-reference,
.rtl body.curam.soria .caseaudit-container-panel .caseauditplan-reference {
    text-align: right;
}

.rtl body.curam.soria .caseaudit-container-panel table tbody.horiz-table-body td {
    padding-left: 0px !important;
    padding-right: $infrastructure_very-big_padding !important;
}

.rtl body.curam .caseaudit-container-panel .caseaudit-reference-id {
    padding-right: 0px;
    padding-left: $infrastructure_very-big_padding;
}

.rtl body.curam.soria .caseaudit-content-panel {
    right: 0;
}

.rtl body.curam.soria .caseaudit-container-panel .caseaudit-report-details {
    padding: 0px $infrastructure_very-big_padding 0px 0px;
    border-left: none;
    border-right: 2px solid $infrastructure_primary-menu-and-border_background-color;
}

.rtl body.curam.soria .caseaudit-container-panel .caseaudit-focusareas-content-detail,
.rtl body.curam.soria .caseaudit-container-panel .caseaudit-extradetails-content-detail {
    padding-left: 0px;
    padding-right: 0px;
}

.rtl body.curam.soria .caseaudit-container-panel div.caseaudit-timelimit-table table {
    margin-left: 0px;
    margin-right: 10px;
}

.rtl body.curam.soria .caseaudit-container-panel .caseaudit-report-content-panel {
    right: auto;
    left: 20px;
}

.rtl body.curam.soria .caseaudit-container-panel .caseaudit-focusareas-content-detail h3.focus-area-title {
    padding-right: $cefwidgets_context-panel_contact-details-icon-padding;
    padding-left: 0px;
}

.rtl body.curam.soria .caseaudit-content-panel .caseaudit-details {
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
}

.rtl body.curam.soria .caseaudit-container-panel .watermark {
	right: 0px;
}

.rtl body.curam.soria .caseaudit-content-panel .caseaudit-caseowner-table {
    padding-left: 0;
    padding-right: $infrastructure_normal_padding;
}

.rtl body.curam.soria .caseaudit-content-panel .schedule-detail {
    padding-left: 0px;
    padding-right: $infrastructure_normal_padding;
}

.rtl body.curam.soria .caseaudit-details-table2 {
    margin-right: 0px;
    margin-left: 50px;
}

/*______________________________________________________________________________
 * end CaseAuditHome_rtl.css
 */
