/*______________________________________________________________________________
 * CEFWidgets.css
 *
 * Catch all for shared CSS styles.
*/

/* Use this style to position items off screen that we want the
 * screen reader to still read. This is used as a workaround 
 * where CSS background images are used instead of inline images.
 */
.hiddenControlForScreenReader{
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}
/* END CEFWidgets.css
 ______________________________________________________________________________*/