/*______________________________________________________________________________
 * ChoiceRenderer.css
 *
 * Create styles that are applied to the HTML produce by the ChoiceRenderer.
 */

.bx--cluster .podConfigButtonWrapper{
  padding-left:0px;
  padding-right:0px;
}

td.podConfigButtonWrapper{
    padding-left:0px;
	padding-right:0px;
	padding-bottom:0px;
	padding-top:0px;
}

div.podConfigButtonWrapper{
  background-color:#D1D5E5;
}

div.podConfigButtonEditWrapper{
	padding-left:0px;
	padding-right:0px;
	padding-bottom:0px;
	padding-top:0px;
}

div.podConfig_emptyspace {
	float:right;
	height: 23px;
	width: 5px;
}

div.podConfig_button {
	padding-right: 5px;
}

div.darkbutton_right{
    background: #E0E3EE url(../../Images/ButtonBGBlue.gif) 76px 22px;
    color: #3A4667;
    width: 76px;
    height: 22px;
    cursor:pointer;
    float: right;
	text-indent:0px;
	text-align:center;
}

span.darkbutton_right{
	top: 3px;
}

div.lightbutton_right{
    background: #E0E3EE url(../../Images/ButtonBGBlueLight.png) 64px 19px;
    color: #3A4667;
    width: 64px;
    height: 19px;
    cursor:pointer;
    float: right;
	text-indent:0px;
	text-align:center;
}

span.lightbutton_right{
	top: 3px;
}

/* Buttons of customize menu */
div.darkbutton_left{
    background: #E0E3EE url(../../Images/ButtonBGBlue.gif) 76px 22px;
    color: #3A4667;
    width: 76px;
    height: 22px;
    cursor:pointer;
    float: left;
	text-indent:0px;
	text-align:center;
}

span.darkbutton_left{
	top                        : 3px;
}

.checkbox-container, dijitContentPane div{
    margin-top  :5px;
}

.selection-table .checkbox-container .checkbox-label {
  white-space: nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  margin-right:10px;
}

.checkbox-container .checkbox-label, dijitContentPane div{
   padding-left: 5px;
}

.filter-content .checkbox-container {
  margin-top: 2px;
}

.filter-content .radiobutton-control {
  margin-top: 2px;
  height: 15px;
}

table#PT2010\/taskPriority td {
  padding-bottom: 3px;
}

.filter-content .checkbox-container .checkbox-label {
  margin-top: -1px;
  float:left;
}

.checkbox-container .checkbox-control {
  height: 15px;
}

.checkbox-container .checkbox-control, dijitContentPane div{
   float                       : left;
   margin-right           : 5px;
   margin-bottom       : 5px
}

.pod-select-pane .tableContainer-valueCell, .portlet-options-table .tableContainer-valueCell{
    border-bottom      : 2px groove white;
    background-color  :#E0E3EE;
}

table.portlet-options-table td{
    border-bottom     : 2px groove white;
}
/* END ChoiceRender.css
 ______________________________________________________________________________*/
