/*______________________________________________________________________________
 * ChoiceRenderer_rtl.css
 * 
 * Create styles that are applied to the HTML produce by the ChoiceRenderer.
 */

.rtl .selection-table .checkbox-container .checkbox-label {
  margin-right:0px;
  margin-left:10px;
}

.rtl .checkbox-container .checkbox-label, dijitContentPane div{ 
   padding-left: 0;
   padding-right: 5px;
}

.rtl .filter-content .checkbox-container .checkbox-label {
  float:right;
}

.rtl .checkbox-container .checkbox-control, dijitContentPane div{
   float                       : right; 
   margin-right           : 0px;
   margin-left           : 5px;
}

/* END ChoiceRender_rtl.css 
 ______________________________________________________________________________*/