/*______________________________________________________________________________
 * contact-log_rtl.css
 *
 * Create styles that are applied to the Incident and Investigation tabs for the contact details.
 */

.rtl .contact-content {
  left: auto;
  right: 0px;
}

.rtl .investigation-tab-details .contact-content {
  left: auto;
  right: 1px;
}

.rtl .contact-content-detail {
  padding-left: 0;
  padding-right: 12px;
}

.rtl .inital-contact-table table,
.rtl .latest-contact-table table {
  float: right;
}

.rtl div.content-panel-detail div.inital-contact-table table {
  margin-left: 15px;
  margin-right: 5px;
}

.rtl div.content-panel-detail div.latest-contact-table table {
  margin-left: 0;
  margin-right: 5px;
}

.rtl .contact-content .content {
  padding-left: 0;
  padding-right: 11px;
}

.rtl div.investigation-tab-details .contact-content img,
.rtl div.incident-tab-details .contact-content img {
  float: right;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.rtl div.inital-contact-table  {
  float: right;
}

/*______________________________________________________________________________
 * end contact-log_rtl.css
 */

