/*______________________________________________________________________________
 * contact-log.css
 *
 * Create styles that are applied to the Incident and Investigation tabs for the contact details.
 */

.contact-content {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: #E6EBF1;
}

.investigation-tab-details .contact-content {
  position: absolute;
  bottom: 3px;
  left: 1px;
  width: 100%;
  background-color: #E6EBF1;
}

.contact-content-detail {
  padding-left: 12px;
  margin-top: 1px;
}

.inital-contact-table table,
.latest-contact-table table {
  float: left;
}

.inital-contact-table table td,
.latest-contact-table table td {
  padding-bottom: 0px !important;
}

div.content-panel-detail div.inital-contact-table table {
  margin-left: 5px;
  margin-top: 2px;
  margin-right: 15px;
}

div.content-panel-detail div.latest-contact-table table {
  margin-left: 5px;
  margin-top: 2px;
}

.contact-content .content {
  padding-left: 11px;
}

div.investigation-tab-details .contact-content img,
div.incident-tab-details .contact-content img {
  padding: 0px;
  float: left;
}

div.inital-contact-table  {
  float: left;
  overflow: hidden;
  white-space: nowrap;
  width: 35%;
}

div.latest-contact-table  {
  overflow: hidden;
  white-space: nowrap;
}

/*______________________________________________________________________________
 * end contact-log.css
 */

