/*______________________________________________________________________________
 * employer-tab-details_rtl.css
 *
 * Create styles that are applied to the HTML to produce Employer details tab.
 */

.rtl .tab-details .employer-related-companies {
  right: auto;
  left: 15px;
  padding-left: 0;
  padding-right: 5px;
}

.rtl .tab-details .employer-content-industry {
  padding-left: 0;
  padding-right: 15px;
  clear: right;
}

.rtl div.employer-image-panel {
  left: auto;
  right: 10px;
}

.rtl div.employer-details-panel {
  left: 290px;
  right: 117px;
}

.rtl .employer-workforce-panel {
  right: auto;
  left: 10px;
}

.rtl .employer-workforce-detail  {
  float: right;
  padding-right: 0;
}

/*______________________________________________________________________________
 * end employer-tab-details_rtl.css
 */

/* ======== Curam 2016 Styling ======== */

body.rtl.curam .employer-container-panel .employer-workforce-panel {
  float: left;
}
body.rtl.curam .employer-container-panel .employer-image-panel,
body.rtl.curam .employer-container-panel .employer-details-panel {
  float: right;
}
body.rtl.curam .employer-container-panel .employer-image-panel {
  margin-right: 0px;
  margin-left: 40px;
}
body.rtl.curam .employer-container-panel .employer-details-panel {
  border-left: 2px solid $infrastructure_primary-menu-and-border_background-color;
  border-right: none;
}
body.rtl.curam .employer-container-panel .employer-details-panel .content-participant-id,
body.rtl.curam .employer-container-panel .employer-details-panel .employer-related-companies {
  right: auto;
  left: 20px;
}
body.rtl.curam .employer-container-panel .employer-details-panel .content-map a {
  padding: 0px 0px 0px $cefwidgets_context-panel_contact-details-icon-padding;
  background-position: left center;
}
body.rtl.curam .employer-container-panel .employer-details-panel .content-contacts div.phonenumber {
  background-position: right center;
  padding: 0px $cefwidgets_context-panel_contact-details-icon-padding 0px $infrastructure_very-big_padding;
}
body.rtl.curam .employer-container-panel .employer-details-panel .content-contacts div.faxnumber {
  background-position: right center;
  padding: 0px $cefwidgets_context-panel_contact-details-icon-padding 0px $infrastructure_very-big_padding;
}
body.rtl.curam .employer-container-panel .employer-details-panel .content-contacts div.email a {
  background-position: right center;
  padding: 0px $cefwidgets_context-panel_contact-details-icon-padding 0px $infrastructure_very-big_padding;
}
body.rtl.curam .employer-container-panel .employer-details-panel .content-contacts div.email.not-recorded {
  background-position: right center;
  padding: 0px $cefwidgets_context-panel_contact-details-icon-padding 0px $infrastructure_very-big_padding;
}
body.rtl.curam .content-participant-id {
  padding-left: $infrastructure_very-big_padding !important;
}
/* IE 11 fix */
html.dj_trident7 body.rtl.curam .employer-container-panel .employer-details-panel .content-participant-id {
  right: auto;
  left: 5px;
}
html.dj_trident7 body.rtl.curam .employer-container-panel .employer-details-panel .watermark {
  position: absolute;
  left: auto;
  right: 15px;
}
html.dj_trident7 body.rtl.curam .employer-container-panel .employer-details-panel .content-contacts {
  margin-left: 0px;
  margin-right: 3px;
}
