/*
 * IBM Confidential
 *
 * OCO Source Materials
 *
 * Copyright IBM Corporation 2019,2021.
 *
 * The source code for this program is not published or otherwise divested of
 * its trade secrets, irrespective of what has been deposited with the US
 * Copyright Office.
 */

/*______________________________________________________________________________
 * employer-tab-details.css
 *
 * Create styles that are applied to the HTML to produce Employer details tab.
 */

div.employer-container-panel {
  background-color: transparent;
  height:120px;
  overflow: visible;
  position: relative;
  top: 5px;
  min-width:975px;
}

.tab-details .employer-related-companies {
  font-family: tahoma;
  color: #3B7192;
  right: 15px;
  top: 24px;
  position: absolute;
  background-color: white;
  padding-left: 5px;
}

.tab-details .employer-content-industry {
  font-family: tahoma;
  padding-left: 15px;
  clear: left;
}

div.employer-image-panel {
  width: 98px;
  position: absolute;
  left: 10px;
  top: 0px;
}

div.employer-details-panel {
  background-color: #ffffff;
  position: absolute;
  left: 117px;
  right: 290px;
  top: 0px;
  z-index: 0;
}

.employer-workforce-detail .birtviewer_document_fragment {
  border: none !important;
}

.employer-workforce-panel {
  position: absolute;
  right: 10px;
  top: 0;
  width: 271px;
}

.employer-workforce-detail  {
  background-color: #FFFFFF;
  border-left: 1px solid #DADADA;
  border-right: 1px solid #DADADA;
  float: left;
  height: 108px;
  padding-left: 0;
  width: 100%;
}

div.employer-details-panel .content-address {
  max-width: 65%;
  text-overflow: ellipsis;

}


/*__________________ high contrast styling _____________________*/

.employer-workforce-detail  {
  border-left: 1px solid #575757;
  border-right: 1px solid #575757;
}


/*______________________________________________________________________________
 * end employer-tab-details.css
 */

/* ======== Curam 2016 Styling ======== */

body.curam.list-inline-page#Curam_ProspectEmployer_homeTabDetailsPreview.list-inline-page div#content,
body.curam.list-inline-page#Curam_Employer_homeDetailsPreview #content {
  background: $infrastructure_primary-form-control-background_color;
}
body.curam#Curam_Employer_homeDetailsPreview.list-inline-page div#content div.employer-container-panel,
body.curam#Curam_ProspectEmployer_homeTabDetailsPrevew.list-inline-page div#content div.employer-container-panel,
body.curam.context-panel .employer-container-panel {
  min-width: 920px;
}
body.curam .employer-container-panel  {
  top: 0px;
  height: 180px;
}
body.curam#Curam_Employer_homeDetailsPreview.list-inline-page .employer-details-panel,
body.curam#Curam_ProspectEmployer_homeTabDetailsPreview.list-inline-page .employer-details-panel,
body.curam.context-panel .employer-container-panel .employer-details-panel {
  min-width: 420px;
  width: calc(100% - 510px);
}
body.curam#Curam_Employer_homeDetailsPreview.list-inline-page .employer-workforce-panel,
body.curam#Curam_ProspectEmployer_homeTabDetailsPreview.list-inline-page .employer-workforce-panel,
body.curam .employer-container-panel .employer-workforce-panel {
  width: 329px;
  min-width: 329px;
}
body.curam .employer-container-panel .employer-workforce-panel {
  float: right;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}
body.curam .employer-container-panel .employer-image-panel,
body.curam .employer-container-panel .employer-details-panel {
  position: relative;
  float: left;
  left: auto;
  right: auto;
  top: auto;
  bottom: auto;
  background-color: transparent;
}
body.curam .employer-container-panel .employer-image-panel {
  width: 120px;
  max-width: 120px;
  min-width: 120px;
  margin-top: 20px;
  margin-right: 40px;
}
body.curam .employer-container-panel .employer-details-panel {
  height: 140px !important;
  min-width: 740px;
  width: calc(100% - 590px);
  margin-top: 20px;
  margin-bottom: 20px;
  border-right: 2px solid $infrastructure_primary-menu-and-border_background-color;
}
body.curam .employer-container-panel .employer-image-panel .image-panel-content {
  background-color: transparent;
}
body.curam .employer-container-panel .employer-details-panel .tab-details {
  border: none;
  height: 140px;
  overflow: visible;
}
body.curam .employer-container-panel .employer-details-panel .content-name,
body.curam .employer-container-panel .employer-details-panel .content-participant-id,
body.curam .employer-container-panel .employer-details-panel .content-address,
body.curam .employer-container-panel .employer-details-panel .employer-related-companies,
body.curam .employer-container-panel .employer-details-panel .employer-content-industry,
body.curam .employer-container-panel .employer-details-panel .content-web-address,
body.curam .employer-container-panel .employer-details-panel .content-contacts {
  padding: initial;
}
body.curam .employer-container-panel .employer-details-panel .content-address {
  padding: initial !important;
}
body.curam .employer-container-panel .employer-details-panel .content-contacts {
  position: relative;
  margin-top: 27px;
}
body.curam .employer-container-panel .employer-details-panel .content-participant-id,
body.curam .employer-container-panel .employer-details-panel .employer-related-companies {
  right: 20px;
}
body.curam .employer-container-panel .employer-details-panel .content-name {
  font-family: $infrastructure_main-medium_font-family;
  font-size: $infrastructure_heading-five_font-size;
  line-height: $infrastructure_heading-five_line-height;
  height: 23px;
  color: $infrastructure_primary-font_color;
  padding-bottom: $infrastructure_small_padding;
}
body.curam .employer-container-panel .employer-details-panel .content-participant-id {
  font-family: $infrastructure_main-medium_font-family;
  font-size: $infrastructure_normal_font-size;
  line-height: $infrastructure_normal_line-height;
  height: 20px;
  color: $infrastructure_primary-font_color;
  background: transparent;
}
body.curam .employer-container-panel .employer-details-panel .content-address {
  font-family: $infrastructure_main-regular_font-family;
  font-size: $infrastructure_normal_font-size;
  line-height: $infrastructure_normal_line-height;
  height: 20px;
  color: $infrastructure_primary-form-control-font_color;
}
body.curam .employer-container-panel .employer-details-panel .content-map a {
  display: block;
  font-family: $infrastructure_main-medium_font-family;
  font-size: $infrastructure_normal_font-size;
  line-height: $infrastructure_normal_line-height;
  height: 20px;
  color: $cefwidgets_context-panel_link-color;
  padding: 0px $cefwidgets_context-panel_contact-details-icon-padding 0px 0px;
  background: url('../../Images/icon_map.png') no-repeat right center;
}
body.curam .employer-container-panel .employer-details-panel .content-map a:hover,
body.curam .employer-container-panel .employer-details-panel .content-map a:focus {
  color: $cefwidgets_context-panel_link-hover-color;
  background-image: url('../../Images/icon_map_hover.png');
}
body.curam .employer-container-panel .employer-details-panel .content-map a:hover {
  text-decoration: underline;
}
body.curam .employer-container-panel .employer-details-panel .content-map a img {
  display: none;
}
body.curam .employer-container-panel .employer-details-panel .employer-related-companies,
body.curam .employer-container-panel .employer-details-panel .employer-related-companies a {
  font-family: $infrastructure_main-medium_font-family;
  font-size: $infrastructure_normal_font-size;
  line-height: $infrastructure_normal_line-height;
  height: 20px;
  color: $cefwidgets_context-panel_link-color;
  background: transparent;
}
body.curam .employer-container-panel .employer-details-panel .employer-related-companies a:hover,
body.curam .employer-container-panel .employer-details-panel .employer-related-companies a:focus {
  color: $cefwidgets_context-panel_link-hover-color;
}
body.curam .employer-container-panel .employer-details-panel .employer-related-companies a:hover {
  text-decoration: underline;
}
body.curam .employer-container-panel .employer-details-panel .employer-content-industry {
  font-family: $infrastructure_main-regular_font-family;
  font-size: $infrastructure_normal_font-size;
  line-height: $infrastructure_normal_line-height;
  height: 20px;
  color: $infrastructure_primary-form-control-font_color;
}
body.curam .employer-container-panel .employer-details-panel .content-web-address,
body.curam .employer-container-panel .employer-details-panel .content-web-address a {
  font-family: $infrastructure_main-medium_font-family;
  font-size: $infrastructure_normal_font-size;
  line-height: $infrastructure_normal_line-height;
  height: 20px;
  color: $cefwidgets_context-panel_link-color;
  padding-top: $infrastructure_small_padding;
}
body.curam .employer-container-panel .employer-details-panel .content-web-address a:hover,
body.curam .employer-container-panel .employer-details-panel .content-web-address a:focus {
  color: $cefwidgets_context-panel_link-hover-color;
}
body.curam .employer-container-panel .employer-details-panel .content-web-address a:hover {
  text-decoration: underline;
}
body.curam .employer-container-panel .employer-details-panel .content-contacts .phonenumber,
body.curam .employer-container-panel .employer-details-panel .content-contacts .faxnumber,
body.curam .employer-container-panel .employer-details-panel .content-contacts .email,
body.curam .employer-container-panel .employer-details-panel .content-contacts {
  font-family: $infrastructure_main-regular_font-family;
  font-size: $infrastructure_normal_font-size;
  line-height: $infrastructure_normal_line-height;
  height: 20px;
  color: $infrastructure_primary-form-control-font_color;
}
body.curam .employer-container-panel .employer-details-panel .content-contacts .phonenumber, 
body.curam .employer-container-panel .employer-details-panel .content-contacts .faxnumber, 
body.curam .employer-container-panel .employer-details-panel .content-contacts .email {
    max-width: 30%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
body.curam .employer-container-panel .employer-details-panel .content-contacts img {
  display: none;
}
body.curam .employer-container-panel .employer-details-panel .content-contacts div.phonenumber {
  background: url('../../Images/phone--20-enabled.svg') no-repeat left center;
  padding: 0px $infrastructure_very-big_padding 0px $cefwidgets_context-panel_contact-details-icon-padding;
}
body.curam .employer-container-panel .employer-details-panel .content-contacts div.faxnumber {
  background: url('../../Images/icon_fax.png') no-repeat left center;
  padding: 0px $infrastructure_very-big_padding 0px $cefwidgets_context-panel_contact-details-icon-padding;
}
body.curam .employer-container-panel .employer-details-panel .content-contacts div.email {
  line-height: $infrastructure_normal_line-height;
  padding: 0px;
}
body.curam .employer-container-panel .employer-details-panel .content-contacts div.email a {
  display: block;
  background: url('../../Images/email--20-enabled.svg') no-repeat left center;
  padding: 0px $infrastructure_very-big_padding 0px $cefwidgets_context-panel_contact-details-icon-padding;
  line-height: $infrastructure_normal_line-height;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
body.curam .employer-container-panel .employer-details-panel .content-contacts a {
  font-family: $infrastructure_main-medium_font-family;
  font-size: $infrastructure_normal_font-size;
  line-height: $infrastructure_normal_line-height;
  height: 20px;
  color: $cefwidgets_context-panel_link-color;
}
body.curam .employer-container-panel .employer-details-panel .content-contacts div.email a:hover,
body.curam .employer-container-panel .employer-details-panel .content-contacts div.email a:focus {
  background-image: url('../../Images/email--20-enabled.svg');
  color: $cefwidgets_context-panel_link-hover-color;
}
body.curam .employer-container-panel .employer-details-panel .content-contacts div.email a:hover {
  text-decoration: underline;
}
body.curam .employer-container-panel .employer-details-panel .content-contacts div.email.not-recorded {
  background: url('../../Images/email--20-enabled.svg') no-repeat left center;
  padding: 0px $infrastructure_very-big_padding 0px $cefwidgets_context-panel_contact-details-icon-padding;
  line-height: $infrastructure_normal_line-height;
}
body.curam .employer-container-panel .employer-details-panel .watermark {
  position: relative;
  z-index: 0;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  font-family: $infrastructure_main-medium_font-family;
  font-size: $infrastructure_normal_font-size;
  color: $cefwidgets_context-panel_watermark-color;
  line-height: $infrastructure_normal_line-height;
  background: transparent;
}
body.curam .employer-container-panel .employer-workforce-panel {
  height: 140px;
  padding: $infrastructure_very-big_padding 0px;
}
body.curam .employer-container-panel .employer-workforce-detail {
  border: none;
  background: transparent;
}
/* IE 11 fix */
html.dj_trident7 body.curam .employer-container-panel .employer-details-panel .content-participant-id {
  right: 5px;
}
html.dj_trident7 body.curam .employer-container-panel .employer-details-panel .watermark {
  position: absolute;
  left: 15px;
  bottom: 25px;
}
html.dj_trident7 body.curam .employer-container-panel .employer-details-panel .content-contacts {
  margin-left: 3px;
}

@media print {
  
  /* Prevent content being cut off in print mode */
  body.curam.context-panel div.context-panel-wrapper div.employer-container-panel {
    min-width: 1200px;
  }
}