.expandable-list div tbody tr.odd td {
  background-color: #F1F3F8;
 }

.expandable-list div tbody tr.even td {
  background-color: #FFFFFF;
 }
 
 .expandable-list div tbody tr.collapsed-child-row {
  display: none;
 }