/*______________________________________________________________________________
 * ImagePanel_rtl.css
 *
 * Create styles that are applied to the Image panels.
 *
 */

.rtl .image-panel-content {
  float: right;
}

.rtl .image-panel-content .left-corner-image {
  left: auto;
  right: 0px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.rtl .image-panel-content .right-corner-image {
  right: auto;
  left: 1px;
}

.rtl img[src$="Images/ccv__filled--20-enabled.svg"] {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.rtl .image-panel-content div.participant-image {
  padding-left: 0;
  padding-right: 12px;
  float: right;
  clear: right;
}

.rtl .image-panel-content .image-display-only div.participant-image {
  padding-left: 0;
  padding-right: 15px;
}

.rtl .employer-image-panel .image-panel-content .image-display-only div.participant-image {
  padding-left: 0;
  padding-right: 5px;
}

.rtl .image-panel-content .image-no-icons div.participant-image {
  padding-left: 0;
  padding-right: 19px;
  float: right;
  clear: right;
}

.rtl .image-panel-content .image-links  {
  left: auto;
  right: 85px;
}

.rtl .pane-item .image-panel-content .image-links  {
  left: auto;
  right: 96px;
}

.rtl .image-panel-content div.image-first-line,
.rtl .image-panel-content div.image-second-line {
  float: right;
  clear: right;
}

.rtl .pane-item .image-panel-content .left-corner-image {
  left: auto;
  right: 9px;
}

/* end ImagePanel_rtl.css */