/*______________________________________________________________________________
 * ImagePanel.css
 *
 * Create styles that are applied to the Image panels.
 *
 */

.image-panel-content {
  border-left: 1px solid #DADADA;
  border-right: 1px solid #DADADA;
  float: left;
  width: 100%;
  background-color: #FFFFFF;
}

/*
CR00461776
*/
.rtl .image-panel-content {
  float: left;
}

.name-one-background, .name-two-background, .name-one-only-background {
  background-color:#ebebeb;
}

.name-one-background, .name-two-background {
  height: 14px;
}

.name-one-only-background {
  height: 28px;
}

.image-panel-content .name-one-only-background .name-one-title {
  padding-top: 7px;
  width: 90%;
}

.image-panel-content .name-one-title,
.image-panel-content .name-two-title {
  background-color:#ebebeb;
  text-align: center;
  font-family: tahoma;
  margin: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 56%;
  height: 14px;
}

.image-panel-content .name-one-title {
  padding-top: 0px;
}

.image-panel-content .corner-image {
  position:absolute;
}

.reflection .corner-image {
  display:none;
}

.image-panel-content .left-corner-image {
  position: absolute;
  left: 0px;
  top: 0px;
}

.image-panel-content .right-corner-image {
  position :absolute;
  right: 1px;
  top: 4px;
}

/*
* CR00461750
*/
.rtl .image-panel-content .right-corner-image {
  left: 1px;
  right: auto;
  /* Flip the icon */
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.image-panel-content div.participant-image {
  height: 75px;
  width: 68px;
  padding-left: 12px;
  padding-top: 5px;
  float: left;
  clear: left;
}

.image-panel-content .image-display-only div.participant-image {
  padding-top: 17px;
  padding-bottom: 16px;
  padding-left: 15px;
}

.employer-image-panel .image-panel-content .image-display-only div.participant-image {
  padding-top: 17px;
  padding-bottom: 16px;
  padding-left: 5px;
  width: 91px;
}

.image-panel-content .image-no-icons div.participant-image {
  height: 75px;
  width: 68px;
  padding-left: 19px;
  padding-top: 5px;
  float: left;
  clear: left;
}

/*
CR00461776
*/
.rtl .image-panel-content .image-no-icons div.participant-image {
  clear: right;
  float: right;
  padding-left: 0px;
  padding-right: 19px;
}

.image-panel-content div.participant-image img {
  height:100%;
  width:100%;
}


.image-panel-content .image-links  {
  position: absolute;
  top: 33px;
  left: 85px
}

.pane-item .image-panel-content .image-links  {
  position: absolute;
  top: 33px;
  left: 96px
}

.image-panel-content div.image-first-line,
.image-panel-content div.image-second-line {
  width: 100%;
  text-align: center;
  font-family: tahoma;
  color: black;
  padding-bottom: 1px;
  float: left;
  clear: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*
CR00461776
*/
.rtl .image-panel-content div.image-first-line,
.rtl .image-panel-content div.image-second-line {
  clear: right;
  float: right;
}

.image-panel-content div.image-first-line {
  padding-top: 1px;
}

.pane-item .image-panel-content .left-corner-image {
  left: 9px;
}

.image-panel-content .left-corner-image img {
  height: 29px;
}

.image-panel-content a {
  color: #376F8F;
  text-decoration: none;
}

.image-panel-content a:hover {
  text-decoration: underline;
}

/*__________________ high contrast styling _____________________*/

.high-contrast .image-panel-content {
  border-left: 1px solid #575757;
  border-right: 1px solid #575757;
}

.high-contrast .name-one-only-background,
.high-contrast .name-two-background {
  border-bottom: 1px solid #575757;
}

.high-contrast .name-one-background,
.high-contrast .name-two-background,
.high-contrast .name-one-only-background {
  background-color: #ffffff;
}

.high-contrast .image-panel-content .name-one-title,
.high-contrast .image-panel-content .name-two-title {
  background-color: #ffffff;
}

/* end ImagePanel.css */