/*______________________________________________________________________________
 * Incident_rtl.css
 *
 * Create styles that are applied to the HTML for the incident tab details.
 */


.rtl .reported-by-table table {
  float: right;
}

.rtl .incident-details-table table td {
  padding-left: 0 !important;
  padding-right: 15px !important;
}

.rtl .reported-by-table table td {
  padding-left: 0 !important;
  padding-right: 30px !important;
}

.rtl .incident-details  .incident-opened-date {
  float: right;
}

.rtl .incident-details  .incident-opened-by {
  float: right;
  padding-left: 0;
  padding-right: 3px;
}

.rtl .incident-details {
  float: right;
  padding-left: 0;
  padding-right: 15px;
}

.rtl .reported-details {
  float: left;
  padding-left: 0;
  padding-right: 10px;
  margin-right: 0;
  margin-left: 10px;
}

.rtl .reported-by {
  float: right;
  padding-right: 0;
  padding-left: 3px;
}

.rtl .reported-by-person {
  float: right;
  padding-right: 0;
  padding-left: 3px;
}

.rtl .reported-by-date {
  float:right;
  clear: left;
}

.rtl .reported-by-address {
  clear: right;
}

.rtl .reported-details  .phonenumber {
  float: right;
  padding-right: 0;
  padding-left: 52px;
}

.rtl .reported-details  .email {
  float: right;
}

.rtl .reported-details .reported-by-phone {
  float: right;
  clear: right;
  padding-right: 0;
  padding-left: 10px;
  margin-left: 0;
  margin-right: -2px;
}

.rtl .reported-details .reported-by-phone > img {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.rtl .reported-details .reported-by-email {
  float: right;
  padding-right: 0;
  padding-left: 10px;
}

.rtl .reported-details .reported-by-email > img {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.rtl .incident-tab-details {
  padding-right: 0px;
  float: right;
}

.rtl .incident-contact-content .content {
  padding-left: 0;
  padding-right: 11px;
}

/*______________________________________________________________________________
 * end Incident_rtl.css
 */

 
 body.curam.soria.rtl div.incident-content-panel div.reported-by-address {
    text-align: right;
}

body.curam.soria.rtl div.incident-content-panel .reported-details .phonenumber {
    float: right;
    clear: right;
    background: url(../../Images/phone--20-enabled.svg) no-repeat right bottom;
    padding-left: 20px;
    padding-right: 30px;
}

body.curam.soria.rtl div.incident-content-panel .reported-details .email a {
    background: url(../../Images/email--20-enabled.svg) no-repeat right center;
    padding-left: 0px;
    padding-right: 30px;
}

body.curam.soria.rtl div.incident-tab-details div.reported-details {
    border-left: 0;
    border-right: 2px solid #e0e0e0;
}

body.curam.soria.rtl .incident-details .content-incident-type {
    text-align: right;
}

body.curam.soria div.incident-content-panel div.incident-details-table table tbody.horiz-table-body td {
    padding-right: 0px;
}

body.curam.soria div.incident-content-panel table tbody.horiz-table-body td {
    padding-right: 20px;
    padding-left: 0px;
}

body.curam.soria.rtl div.incident-content-panel div.contact-content-detail .inital-contact-table, 
body.curam.soria.rtl div.incident-content-panel div.contact-content-detail .latest-contact-table {
    background: url(../../Images/time--20-enabled.svg) no-repeat right center;
    padding-right: 30px;
    padding-left: 0px;
}

body.curam.soria.rtl div.incident-content-panel .reported-details .email a:hover {
    background: url(../../Images/email--20-enabled.svg) no-repeat right center;
}

body.curam.soria.rtl div.incident-tab-details .reported-details {
	padding: 0px 20px 0px 0px;
}