/* *
 * Licensed Materials - Property of IBM
 *
 * PID 5725-H26
 *
 * Copyright IBM Corporation 2016,2021. All Rights Reserved.
 *
 * US Government Users Restricted Rights - Use, duplication or disclosure
 * restricted by GSA ADP Schedule Contract with IBM Corp.
 * */
/*______________________________________________________________________________
 * Incident.css
 *
 * Create styles that are applied to the HTML for the incident tab details.
 */
div.incident-container-panel {
	background-color: transparent;
	height: 146px;
	overflow: visible;
	position: relative;
	top: 5px;
	min-width: 900px;
}

div.incident-container-panel div.incident-content-panel {
	width: 100%;
	background-color: #FFFFFF;
	padding-left: 10px;
	padding-right: 10px;
}

div.incident-tab-height {
	height: 138px;
}

div.incident-content-panel div#tab-details div.content {
	padding: 0;
}

div.incident-tab-details div.incident-details div.content {
	padding: 0;
}

.incident-details .content-incident-type {
	font-size: 140%;
	color: #FB7803;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.reported-by-table table {
	float: left;
}

.incident-details-table table {
	width: 100%;
}

.incident-details-table table td {
	padding-left: 15px !important;
}

.reported-by-table table td {
	padding-left: 30px !important;
}

.incident-details .incident-participants {
	padding-bottom: 13px;
}

.incident-details  .incident-opened-date {
	float: left;
}

.incident-details  .incident-opened-by {
	float: left;
	padding-left: 3px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.incident-details .incident-date {
	font-family: tahoma;
	color: black;
	display: inline;
}

.incident-details .incident-time {
	font-family: tahoma;
	color: black;
	display: inline;
}

.incident-details {
	float: left;
	width: 45%;
	padding-left: 15px;
	margin-top: 3px;
}

.reported-details {
	float: right;
	border: 1px solid #DADADA;
	background-image: url('../../Images/details_panel_background_grey.png');
	width: 420px;
	padding-left: 10px;
	padding-top: 5px;
	margin-top: 5px;
	margin-right: 10px;
	height: 96px;
}

.reported-by {
	float: left;
	font-weight: bold;
	padding-bottom: 3px;
	padding-right: 3px;
}

.reported-by-person {
	float: left;
	font-weight: bold;
	padding-bottom: 3px;
	padding-right: 3px;
}

.reported-by-date {
	float: left;
	clear: right;
	font-weight: bold;
	padding-bottom: 3px;
}

.reported-by-address {
	padding-bottom: 10px;
	clear: left;
}

.reported-details  .phonenumber {
	float: left;
	padding-right: 52px;
	color: black;
	padding-top: 12px;
}

.reported-details  .email {
	float: left;
	color: black;
	padding-top: 12px;
}

.reported-details .reported-by-phone {
	float: left;
	clear: left;
	padding-right: 10px;
	padding-top: 10px;
	color: #696969;
	margin-left: -2px;
}

.reported-details .reported-by-email {
	float: left;
	padding-right: 10px;
	padding-top: 10px;
}

.incident-tab-details {
	height: 137px;
	padding-left: 0px;
	border-left: 1px solid #DADADA;
	border-right: 1px solid #DADADA;
	float: left;
	width: 100%;
	background-color: #FFFFFF;
	position: relative;
}

.incident-contact-content .content {
	padding-left: 11px;
}


body.curam.soria .incident-tab-details {
	height: 170px;
	border: 0px;
	background-color: $infrastructure_primary-form-control-background_color;
}

body.curam.soria .incident-details .content-incident-type {
	font-family: $infrastructure_main-medium_font-family;
	font-size: 21px;
	color: #152935;
	letter-spacing: -0.22px;
	text-align: left;
	line-height: 30px;
	padding-bottom: 5px;
}

body.curam.soria .incident-details .incident-date,
body.curam.soria .incident-details .incident-time {
	font-family: $infrastructure_main-regular_font-family;
	font-size: 14px;
	color: $infrastructure_primary-form-control-font_color;
	line-height: 20px;
}

body.curam.soria .incident-details .incident-participants {
	font-family: $infrastructure_main-medium_font-family;
	font-size: 14px;
	line-height: 20px;
	padding-bottom: 5px;
}

body.curam.soria .incident-tab-details a:hover,
body.curam.soria .incident-tab-details focus{
	color: $cefwidgets_context-panel_link-hover-color;
}

body.curam.soria .incident-tab-details a {
	color: $cefwidgets_context-panel_link-color;
	text-decoration: none;
}

body.curam.soria .incident-details .incident-opened-by {
	font-family: $infrastructure_main-medium_font-family;
	font-size: 14px;
	line-height: 20px;
}

body.curam.soria div.incident-tab-details div.contact-content {
	background-color: transparent;
	bottom: 6px;
	width: 60%;
}

body.curam.soria div.incident-content-panel table tbody.horiz-table-body th {
	font-family: $infrastructure_main-medium_font-family;
	font-size: 14px;
	color: $infrastructure_primary-form-control-font_color;
	line-height: 20px;
}

body.curam.soria div.incident-content-panel div.incident-details-table table tbody.horiz-table-body td {
	padding-left: 0px !important;
}

body.curam.soria div.incident-content-panel table tbody.horiz-table-body td {
	font-family: $infrastructure_main-regular_font-family;
	font-size: 14px;
	color: $infrastructure_primary-form-control-font_color;
	line-height: 20px;
	padding-left: 20px !important;
}

body.curam.soria div.incident-tab-details .reported-details {
	height: 110px;
	margin: 20px 0 0 0;
	padding: 0px 0px 0px 20px;
	background: none;
	border: 0px;
	border-left: 2px solid $infrastructure_primary-menu-and-border_background-color;
	width: 360px;
}

body.curam.soria div.incident-content-panel .reported-by,
body.curam.soria div.incident-content-panel .reported-by-person,
body.curam.soria div.incident-content-panel .reported-by-date {
	font-family: $infrastructure_main-medium_font-family;
	font-size: 16px;
	color: #264a60;
	line-height: 23px;
	padding-bottom: 5px;
}

body.curam.soria div.incident-content-panel div.reported-by-address {
	font-family: $infrastructure_main-regular_font-family;
	font-size: 14px;
	color: $infrastructure_primary-form-control-font_color;
	text-align: left;
	line-height: 20px;
	padding-bottom: 5px;
}

body.curam.soria div.incident-content-panel .reported-details .phonenumber,
body.curam.soria div.incident-content-panel .reported-details .email {
	margin-top: 5px;
	padding-top: 0;
}

body.curam.soria div.incident-content-panel .reported-details .phonenumber {
	font-family: $infrastructure_main-regular_font-family;
	font-size: 14px;
	color: $infrastructure_primary-form-control-font_color;
	line-height: 20px;
	float: left;
	clear: left;
	background: url(../../Images/phone--20-enabled.svg) no-repeat left bottom;
	padding-left: 30px;
	padding-right: 20px;
}

body.curam.soria div.incident-content-panel .reported-details .no-email
	{
	background: url(../../Images/email--20-enabled.svg) no-repeat left center;
	padding-left: 30px;
}

body.curam.soria div.incident-content-panel .reported-details .email a {
	font-family: $infrastructure_main-medium_font-family;
}

body.curam.soria div.incident-content-panel .reported-details .email:hover a {
	color: $infrastructure_secondary-hover-and-focus-font_color;
	text-decoration: none;
}

body.curam.soria div.incident-content-panel .reported-details .email {
	font-family: $infrastructure_main-regular_font-family;
	font-size: 14px;
	color: $infrastructure_primary-form-control-font_color;
	line-height: 20px;
}

body.curam.soria div.incident-content-panel .reported-details .email a {
	background: url(../../Images/email--20-enabled.svg) no-repeat left center;
	padding-left: 30px;
	display: block;
	line-height: 20px;
}

body.curam.soria div.incident-content-panel .reported-details .email a:hover {
	background: url(../../Images/email--20-enabled.svg) no-repeat left
		center;
}

body.curam.soria div.investigation-tab-details .contact-content img,
body.curam.soria div.incident-tab-details .contact-content img
{
	display: none;
}

body.curam.soria div.incident-content-panel div.contact-content-detail .inital-contact-table {
	width: auto;
	padding-right: 40px;
}

body.curam.soria div.content-panel-detail div.inital-contact-table table,
body.curam.soria div.content-panel-detail div.latest-contact-table table {
	margin: 0;
}

body.curam.soria div.incident-content-panel div.contact-content-detail .inital-contact-table,
body.curam.soria div.incident-content-panel div.contact-content-detail .latest-contact-table {
	background: url(../../Images/time--20-enabled.svg) no-repeat left center;
	padding-left: 30px;
}

body.curam.soria div.incident-content-panel div.incident-tab-details .reported-details .reported-by-phone,
body.curam.soria div.incident-content-panel div.incident-tab-details .reported-details .reported-by-email
{
	display: none;
}

body.curam.soria div.incident-tab-details div.incident-details-table table {
	width: 85% !important;
}

body.curam.soria div.incident-content-panel div.incident-details {
    padding-left: 0px;
    padding-right: 0px;
}

body.curam.soria div.incident-tab-details div.contact-content div.contact-content-detail {
    padding-left: 0px;
}

body.curam.soria div.incident-container-panel div.incident-content-panel {
    padding-left: 0px;
    padding-right: 0px;
}
