/*
 *  Licensed Materials - Property of IBM
 *
 *  PID 5725-H26
 *
 *  Copyright IBM Corporation 2020,2021. All rights reserved.
 * 
 *  US Government Users Restricted Rights - Use, duplication or disclosure
 *  restricted by GSA ADP Schedule Contract with IBM Corp.
 */
 
/*______________________________________________________________________________
 * IntegratedCase_rtl.css
 *
 * Create styles that are applied to the HTML for the integrated case tab details.
 */

.rtl div.ic-links-panel,
.rtl div.ic-links-panel-one-casemem {
  right: auto;
  left: 10px;
}

.rtl div.ic-case-owner-panel {
  float: right;
}

.rtl div.ic-case-owner-icon {
  padding-left: 4px;
  padding-right: 11px;
}

.rtl div.ic-case-owner,
.rtl div.ic-case-owner-icon {
  float: right;
}

.rtl div.ic-links-panel div.tab-links div.ic-link div.link-icon {
  float: right;
}

.rtl div.ic-links-panel div.tab-links div.ic-link div.link-text {
  float: right;
}

.rtl div.ic-status {
  padding-left: 0;
  padding-right: 13px;
}

.rtl .ic-links-panel .inner-col {
  padding-left: 0px;
}

.rtl .displaying-num-of {
  padding-left:0;
  padding-right:4px;
  text-align:right;
}

.rtl div.list-icon {
  float: right;
  padding-right: 0;
  padding-left: 5px;
}


/*______________________________________________________________________________
 * end IntegratedCase_rtl.css
 */

/* ======== Curam 2016 Styling ======== */

/* Position of central rotator/list panel */
body.rtl.curam.soria .container-panel-ic #container_stackCon-fourimages .stack-container-list .tab-case-list {
  right: 60px;
}

/* Position of stack controller buttons */
body.rtl.curam.soria #stackCon-fourimages .stackControl {
  left: auto;
  right: 0px;
}

body.rtl.curam.soria .curamButtonText {
  display: none;
}

body.rtl.curam.soria div.context-panel-wrapper div.container-panel-ic div#stackCon-fourimages span.curamStackController.control-span span.dijitToggleButton {
  margin: 0px;
  width: 40px;
  height: 21px;
  display: block;
}

body.rtl.curam.soria #curam_controller_stackCon-fourimages #curam_controller_stackCon-fourimages_title_1 img,
body.rtl.curam.soria #curam_controller_stackCon-fourimages #curam_controller_stackCon-fourimages_title_2 img {
  margin-right: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0px;
  padding-bottom: 4px;
}

body.rtl.curam.soria #curam_controller_stackCon-fourimages #curam_controller_stackCon-fourimages_title_1 img.hoverIcon,
body.rtl.curam.soria #curam_controller_stackCon-fourimages #curam_controller_stackCon-fourimages_title_2 img.hoverIcon {
  display: none;
}

body.rtl.curam.soria #curam_controller_stackCon-fourimages #curam_controller_stackCon-fourimages_title_1:hover img.defaultIcon,
body.rtl.curam.soria #curam_controller_stackCon-fourimages #curam_controller_stackCon-fourimages_title_1:focus img.defaultIcon,
body.rtl.curam.soria #curam_controller_stackCon-fourimages #curam_controller_stackCon-fourimages_title_2:hover img.defaultIcon,
body.rtl.curam.soria #curam_controller_stackCon-fourimages #curam_controller_stackCon-fourimages_title_2:focus img.defaultIcon {
  display: none;
}

body.rtl.curam.soria #curam_controller_stackCon-fourimages #curam_controller_stackCon-fourimages_title_1:hover img.hoverIcon,
body.rtl.curam.soria #curam_controller_stackCon-fourimages #curam_controller_stackCon-fourimages_title_1:focus img.hoverIcon,
body.rtl.curam.soria #curam_controller_stackCon-fourimages #curam_controller_stackCon-fourimages_title_2:hover img.hoverIcon,
body.rtl.curam.soria #curam_controller_stackCon-fourimages #curam_controller_stackCon-fourimages_title_2:focus img.hoverIcon {
  display: block;
}

/* Styling of rotator buttons*/
body.rtl.curam.soria .container-panel-ic #container_stackCon-fourimages .stack-container-photo div.rotator-default div.prev-button-div button.rotator-prev-button {
  background: url("../../Images/caret__outline--right20-enabled.svg") center center no-repeat;
}
body.rtl.curam.soria .container-panel-ic #container_stackCon-fourimages .stack-container-photo div.rotator-default div.prev-button-div button.rotator-prev-button:hover,
body.rtl.curam.soria .container-panel-ic #container_stackCon-fourimages .stack-container-photo div.rotator-default div.prev-button-div button.rotator-prev-button:focus {
  background-image: url("../../Images/arrow_scroll_right_hover.png");
}
body.rtl.curam.soria .container-panel-ic #container_stackCon-fourimages .stack-container-photo div.rotator-default div.next-button-div button.rotator-next-button {
  background: url("../../Images/caret__outline--left20-enabled.svg") center center no-repeat;
}
body.rtl.curam.soria .container-panel-ic #container_stackCon-fourimages .stack-container-photo div.rotator-default div.next-button-div button.rotator-next-button:hover,
body.rtl.curam.soria .container-panel-ic #container_stackCon-fourimages .stack-container-photo div.rotator-default div.next-button-div button.rotator-next-button:focus {
  background-image: url("../../Images/caret__outline--left20-enabled.svg");
}
body.rtl.curam.soria .container-panel-ic #container_stackCon-fourimages .stack-container-photo div.rotator-default div.prev-button-div button.rotator-prev-button img,
body.rtl.curam.soria .container-panel-ic #container_stackCon-fourimages .stack-container-photo div.rotator-default div.next-button-div button.rotator-next-button img {
  background: none;
  display: block;
  margin-left: auto;
  margin-right: 4px;
}
@media all and (-ms-high-contrast: none) {
  body.rtl.curam.soria .container-panel-ic #container_stackCon-fourimages .stack-container-photo div.rotator-default div.prev-button-div button.rotator-prev-button img,
  body.rtl.curam.soria .container-panel-ic #container_stackCon-fourimages .stack-container-photo div.rotator-default div.next-button-div button.rotator-next-button img {
    background: none;
    display: block;
    margin-top: 0px;
    margin-left: auto;
    margin-right: 2px;
  }
}
body.rtl.curam.soria .container-panel-ic #container_stackCon-fourimages .stack-container-photo div.rotator-default div.prev-button-div button.rotator-prev-button img.hoverIcon,
body.rtl.curam.soria .container-panel-ic #container_stackCon-fourimages .stack-container-photo div.rotator-default div.next-button-div button.rotator-next-button img.hoverIcon {
  display: none;
}
body.rtl.curam.soria .container-panel-ic #container_stackCon-fourimages .stack-container-photo div.rotator-default div.prev-button-div button.rotator-prev-button:hover img.hoverIcon,
body.rtl.curam.soria .container-panel-ic #container_stackCon-fourimages .stack-container-photo div.rotator-default div.prev-button-div button.rotator-prev-button:focus img.hoverIcon,
body.rtl.curam.soria .container-panel-ic #container_stackCon-fourimages .stack-container-photo div.rotator-default div.next-button-div button.rotator-next-button:hover img.hoverIcon,
body.rtl.curam.soria .container-panel-ic #container_stackCon-fourimages .stack-container-photo div.rotator-default div.next-button-div button.rotator-next-button:focus img.hoverIcon {
  display: block;
  position: relative;
}
body.rtl.curam.soria .container-panel-ic #container_stackCon-fourimages .stack-container-photo div.rotator-default div.prev-button-div button.rotator-prev-button:hover img.defaultIcon,
body.rtl.curam.soria .container-panel-ic #container_stackCon-fourimages .stack-container-photo div.rotator-default div.prev-button-div button.rotator-prev-button:focus img.defaultIcon,
body.rtl.curam.soria .container-panel-ic #container_stackCon-fourimages .stack-container-photo div.rotator-default div.next-button-div button.rotator-next-button:hover img.defaultIcon,
body.rtl.curam.soria .container-panel-ic #container_stackCon-fourimages .stack-container-photo div.rotator-default div.next-button-div button.rotator-next-button:focus img.defaultIcon {
  display: none;
}

/* List column and row styling */
body.rtl.curam.soria .list-body th.table-header {
  border-left: 0px;
}

/* Position of list row icons */
body.rtl.curam.soria div.container-panel-ic div.tab-case-list table.list-body td.icon-content div.person-name-icons div.list-icon {
  float: right;
}

/* Size and positioning of image panes */
body.rtl.curam.soria .container-panel-ic #container_stackCon-fourimages .stack-container-photo .rotator-default .rotator div.pane div.pane-item {
  padding-left: 0px;
  padding-right: 10px;
}
body.rtl.curam.soria .container-panel-ic .stack-container-photo .rotator-default .rotator .pane-item .image-panel-content .participant-image {
  left: auto;
  right: 38px;
}
body.rtl.curam.soria .container-panel-ic .ic-single-member .image-panel-content .participant-image {
  right: 28px;
  left: auto;
}

/* Size and position of special caution icon */
body.rtl.curam.soria .container-panel-ic .stack-container-photo .rotator-default .rotator .pane-item .image-panel-content .left-corner-image {
  right: 38px;
}
body.rtl.curam.soria .container-panel-ic .ic-single-member .image-panel-content .left-corner-image {
  right: 28px;
  left: auto;
}

/* Size and position of citizen context viewer icon */
body.rtl.curam.soria .container-panel-ic .stack-container-photo .rotator-default .rotator .pane-item .image-panel-content .right-corner-image {
  right: 120px;
}
body.rtl.curam.soria .container-panel-ic .ic-single-member .image-panel-content .right-corner-image {
  right: 110px;
}

/* Size and position of image icon links (vertical row of icons) */
body.rtl.curam.soria .container-panel-ic .stack-container-photo .rotator-default .rotator .pane-item .image-panel-content .image-links {
  left: auto;
  right: 163px;
}
body.rtl.curam.soria .container-panel-ic .ic-single-member .image-panel-content .image-links {
  left: auto;
  right: 153px;
}

/* Size and positioning of links panel */
body.rtl.curam.soria div.ic-links-panel,
body.rtl.curam.soria div.ic-links-panel-one-casemem {
  right: auto;
}
