/*
 * IBM Confidential
 *
 * OCO Source Materials
 *
 * Copyright IBM Corporation 2019,2021.
 *
 * The source code for this program is not published or otherwise divested of
 * its trade secrets, irrespective of what has been deposited with the US
 * Copyright Office.
 */

/*______________________________________________________________________________
 * IntegratedCase.css
 *
 * Create styles that are applied to the HTML for the integrated case tab details.
 */

div.container-panel-ic {
  background: transparent;
  height: 150px;
  overflow: visible;
  min-width: 977px;
  position: relative;
}

div.container-panel-ic div.content-panel-detail {
  background: transparent;
  padding: 0;
  bottom: auto !important;
  height: auto !important;
  overflow: visible;
  font-family: tahoma;
}

div.ic-links-panel,
div.ic-links-panel-one-casemem {
  position: absolute;
  top: 0px;
  width: 345px;
  right: 10px;
}

/*
* CR00461740
*/
.rtl div.ic-links-panel,
.rtl div.ic-links-panel-one-casemem {
  left: 10px;
  right: auto;
}

/*
* CR00397192
*/
div.ic-links-panel .tab-links .left-col .link-wrapper{
  width:95%;
}

div.ic-links-panel .tab-links .left-col{
  width:95%;
}
/*
* END CR00397192
*/

div.ic-links-panel {
  padding-top: 7px !important;
}

div.ic-single-member {
  top: 7px !important;
}

div.ic-case-owner-panel {
  width: 100%;
  background-color: #FFFFFF;
  float: left;
  height: 18px;
  padding-top: 4px;
}

div.ic-case-owner-icon {
  padding-left: 11px;
  padding-right: 4px;
}

div.ic-case-owner,
div.ic-case-owner-icon {
  float: left;
}

div.ic-links-panel div.tab-links div.ic-link div.link-icon {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

div.ic-links-panel div.tab-links div.ic-link div.link-text {
  float: left;
  padding-top: 5px;
}

.ic-links-panel .left-col .link-wrapper {
  width: 170px;
}

.ic-links-panel .inner-col .link-wrapper {
  width: 142px;
}

div.container-panel-ic div.content-panel-detail a {
  color:$cefwidgets_context-panel_link-color;
  text-decoration: none;
}

div.container-panel-ic div.content-panel-detail a:hover {
  text-decoration: underline;
}

div.ic-case-status {
  width: 100%;
  background-color: #FFFFFF;
  height: 18px;
}

div.ic-status {
  padding-left: 13px;
}

.tab-case-list div.dijitContentPane {
  padding: 0px !important;
}

.ic-links-panel .inner-col {
  padding-right: 0px;
}

.tab-case-list a {
  text-decoration: none;
  color:#376F8F;
}

.tab-case-list a:hover {
  text-decoration: underline;
}

.displaying-num-of {
  background-color:#EBEBEB;
  color:#376F8F;
  font-family:tahoma;
  font-size:85%;
  padding-bottom:5px;
  padding-left:4px;
  text-align:left;
  display: inline;
}

div.list-icon {

  float: left;
  padding-right: 5px;
  padding-top: 4px;
}

/*______________________________________________________________________________
 * end IntegratedCase.css
 */

/* ======== Curam 2016 Styling ======== */

/* Size and position of context panel inner container */
body.curam.soria div#content div.context-panel-wrapper div.container-panel-ic {
  width: 100%;
}
body.curam.soria div#content div.context-panel-wrapper div.container-panel-ic.single-person {
  min-width: 949px;
}
body.curam.soria div#content div.context-panel-wrapper div.container-panel-ic.multi-person {
  min-width: 1206px;
}

body.curam.soria div#content div.context-panel-wrapper div.container-panel-ic div.case-participant-panel {
  width: auto;
  left: 0px;
}

/* Position of stack controller buttons */
body.curam.soria .container-panel-ic #stackCon-fourimages {
  top: 10px;
  left: 0px;
  overflow: auto;
  width: calc(100% - 362px);
  min-width: 844px;
  height: 170px;
}
body.curam.soria .container-panel-ic #stackCon-fourimages .stackControl {
  top: 5px;
  left: 0px;
  width: 1px;
}
body.curam.soria div.context-panel-wrapper div.container-panel-ic div#stackCon-fourimages span.dijitStackController.control-span span.dijitToggleButton {
  margin: 0px;
}
body.curam.soria div.context-panel-wrapper div.container-panel-ic div#stackCon-fourimages span.curamStackController.control-span span.dijitToggleButton {
  margin: 0px;
  width: 100%;
}
body.curam.soria div.context-panel-wrapper div.container-panel-ic span.dijitButtonNode {
  border: 0px;
  padding: 0px;
}
body.curam.soria #controller_stackCon-fourimages #controller_stackCon-fourimages_title_1,
body.curam.soria #controller_stackCon-fourimages #controller_stackCon-fourimages_title_2 {
  width: 40px;
  height: 30px;
}
body.curam.soria div.container-panel-ic #controller_stackCon-fourimages .dijitButtonNode {
  background: transparent;
}
body.curam.soria div.container-panel-ic #curam_controller_stackCon-fourimages .dijitButtonNode {
  background: transparent;
  margin-left: auto;
  margin-right: auto;
  border: none;
}
body.curam.soria .curamButtonText {
  display: none;
}
body.curam.soria #curam_controller_stackCon-fourimages #curam_controller_stackCon-fourimages_title_1 img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 9px;
  padding-right: 9px;
}
body.curam.soria #curam_controller_stackCon-fourimages #curam_controller_stackCon-fourimages_title_2 img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: -2px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 9px;
  padding-right: 9px;
}
@media (forced-colors: active) and (prefers-color-scheme: dark) {
  body.curam.soria #curam_controller_stackCon-fourimages #curam_controller_stackCon-fourimages_title_1 img,
  body.curam.soria #curam_controller_stackCon-fourimages #curam_controller_stackCon-fourimages_title_2 img {
    filter: invert(1);
  }
}
body.curam.soria #curam_controller_stackCon-fourimages #curam_controller_stackCon-fourimages_title_1 img.hoverIcon,
body.curam.soria #curam_controller_stackCon-fourimages #curam_controller_stackCon-fourimages_title_2 img.hoverIcon {
  display: none;
}
body.curam.soria #curam_controller_stackCon-fourimages #curam_controller_stackCon-fourimages_title_1:hover img.defaultIcon,
body.curam.soria #curam_controller_stackCon-fourimages #curam_controller_stackCon-fourimages_title_1:focus img.defaultIcon,
body.curam.soria #curam_controller_stackCon-fourimages #curam_controller_stackCon-fourimages_title_2:hover img.defaultIcon,
body.curam.soria #curam_controller_stackCon-fourimages #curam_controller_stackCon-fourimages_title_2:focus img.defaultIcon {
  display: none;
}
body.curam.soria #curam_controller_stackCon-fourimages #curam_controller_stackCon-fourimages_title_1:hover img.hoverIcon,
body.curam.soria #curam_controller_stackCon-fourimages #curam_controller_stackCon-fourimages_title_1:focus img.hoverIcon,
body.curam.soria #curam_controller_stackCon-fourimages #curam_controller_stackCon-fourimages_title_2:hover img.hoverIcon,
body.curam.soria #curam_controller_stackCon-fourimages #curam_controller_stackCon-fourimages_title_2:focus img.hoverIcon {
  display: block;
}
body.curam.soria #controller_stackCon-fourimages #controller_stackCon-fourimages_title_1 {
  background: url("../../Images/avatar--20-enabled.svg") center center no-repeat;
}
body.curam.soria #controller_stackCon-fourimages #controller_stackCon-fourimages_title_1:hover,
body.curam.soria #controller_stackCon-fourimages #controller_stackCon-fourimages_title_1:focus {
  background: url("../../Images/avatar--20-enabled.svg") center center no-repeat;
}
body.curam.soria #controller_stackCon-fourimages #controller_stackCon-fourimages_title_2 {
  background: url("../../Images/list--20-enabled.svg") center center no-repeat;
}
body.curam.soria #controller_stackCon-fourimages #controller_stackCon-fourimages_title_2:hover,
body.curam.soria #controller_stackCon-fourimages #controller_stackCon-fourimages_title_2:focus {
  background: url("../../Images/list--20-enabled.svg") center center no-repeat;
}

/* Position of central rotator/list panel */
body.curam.soria .container-panel-ic #stackCon-fourimages .dijitContainer {
  top: 0px;
}
body.curam.soria .container-panel-ic #container_stackCon-fourimages .stack-container-list {
  height: 150px !important;
}
body.curam.soria .container-panel-ic #container_stackCon-fourimages .stack-container-list .tab-case-list {
  left: 60px;
}
body.curam.soria .container-panel-ic #container_stackCon-fourimages .stack-container-photo {
  width: 844px !important;
  height: 160px !important;
}
body.curam.soria .container-panel-ic #container_stackCon-fourimages .stack-container-photo .rotator-default {
  left: 0px;
}
body.curam.soria .container-panel-ic #container_stackCon-fourimages .stack-container-photo .rotator-default {
  width: 844px;
  height: 160px !important;
}
body.curam.soria .container-panel-ic #container_stackCon-fourimages .stack-container-photo .rotator-default .rotator {
  width: calc(100% - 80px) !important;
}

/* Styling of rotator buttons*/
body.curam.soria .container-panel-ic #container_stackCon-fourimages .stack-container-photo div.rotator-default div.prev-button-div button.rotator-prev-button,
body.curam.soria .container-panel-ic #container_stackCon-fourimages .stack-container-photo div.rotator-default div.next-button-div button.rotator-next-button {
  width: 40px;
  height: 30px;
}
@media all and (-ms-high-contrast: active) {
  body.curam.soria .container-panel-ic #container_stackCon-fourimages .stack-container-photo div.rotator-default div.prev-button-div button.rotator-prev-button,
  body.curam.soria .container-panel-ic #container_stackCon-fourimages .stack-container-photo div.rotator-default div.next-button-div button.rotator-next-button {
    background: none;
    width: 40px;
    height: 30px;
    margin-top: 18px;
  }
}
body.curam.soria #content div.rotator-default div.prev-button-div button.rotator-prev-button, 
body.curam.soria #content div.rotator-default div.next-button-div button.rotator-next-button {
    cursor: pointer;
}

body.curam.soria .container-panel-ic #container_stackCon-fourimages .stack-container-photo div.rotator-default div.prev-button-div button.rotator-prev-button {
  background: url("../../Images/caret__outline--left20-enabled.svg") center center no-repeat;
}
body.curam.soria .container-panel-ic #container_stackCon-fourimages .stack-container-photo div.rotator-default div.prev-button-div button.rotator-prev-button:hover,
body.curam.soria .container-panel-ic #container_stackCon-fourimages .stack-container-photo div.rotator-default div.prev-button-div button.rotator-prev-button:focus {
  background-image: url("../../Images/caret__outline--left20-enabled.svg");
}
body.curam.soria .container-panel-ic #container_stackCon-fourimages .stack-container-photo div.rotator-default div.next-button-div button.rotator-next-button {
  background: url("../../Images/caret__outline--right20-enabled.svg") center center no-repeat;
}
body.curam.soria .container-panel-ic #container_stackCon-fourimages .stack-container-photo div.rotator-default div.next-button-div button.rotator-next-button:hover,
body.curam.soria .container-panel-ic #container_stackCon-fourimages .stack-container-photo div.rotator-default div.next-button-div button.rotator-next-button:focus {
  background-image: url("../../Images/arrow_scroll_right_hover.png");
}
body.curam.soria .container-panel-ic #container_stackCon-fourimages .stack-container-photo div.rotator-default div.prev-button-div,
body.curam.soria .container-panel-ic #container_stackCon-fourimages .stack-container-photo div.rotator-default div.next-button-div {
  margin-top: 65px;
}
body.curam.soria .container-panel-ic #container_stackCon-fourimages .stack-container-photo div.rotator-default div.prev-button-div button.rotator-prev-button img,
body.curam.soria .container-panel-ic #container_stackCon-fourimages .stack-container-photo div.rotator-default div.next-button-div button.rotator-next-button img {
  background: none;
  display: block;
  margin-top: 0px;
  margin-left: 4px;
  margin-right: auto;
}
@media all and (-ms-high-contrast: none) {
  body.curam.soria .container-panel-ic #container_stackCon-fourimages .stack-container-photo div.rotator-default div.prev-button-div button.rotator-prev-button img,
  body.curam.soria .container-panel-ic #container_stackCon-fourimages .stack-container-photo div.rotator-default div.next-button-div button.rotator-next-button img {
    background: none;
    display: block;
    margin-top: 0px;
    margin-left: 2px;
    margin-right: auto;
  }
}
body.curam.soria .container-panel-ic #container_stackCon-fourimages .stack-container-photo div.rotator-default div.prev-button-div button.rotator-prev-button img.hoverIcon,
body.curam.soria .container-panel-ic #container_stackCon-fourimages .stack-container-photo div.rotator-default div.next-button-div button.rotator-next-button img.hoverIcon {
  display: none;
}
body.curam.soria .container-panel-ic #container_stackCon-fourimages .stack-container-photo div.rotator-default div.prev-button-div button.rotator-prev-button:hover img.hoverIcon,
body.curam.soria .container-panel-ic #container_stackCon-fourimages .stack-container-photo div.rotator-default div.prev-button-div button.rotator-prev-button:focus img.hoverIcon,
body.curam.soria .container-panel-ic #container_stackCon-fourimages .stack-container-photo div.rotator-default div.next-button-div button.rotator-next-button:hover img.hoverIcon,
body.curam.soria .container-panel-ic #container_stackCon-fourimages .stack-container-photo div.rotator-default div.next-button-div button.rotator-next-button:focus img.hoverIcon {
  display: block;
  position: relative;
}
body.curam.soria .container-panel-ic #container_stackCon-fourimages .stack-container-photo div.rotator-default div.prev-button-div button.rotator-prev-button:hover img.defaultIcon,
body.curam.soria .container-panel-ic #container_stackCon-fourimages .stack-container-photo div.rotator-default div.prev-button-div button.rotator-prev-button:focus img.defaultIcon,
body.curam.soria .container-panel-ic #container_stackCon-fourimages .stack-container-photo div.rotator-default div.next-button-div button.rotator-next-button:hover img.defaultIcon,
body.curam.soria .container-panel-ic #container_stackCon-fourimages .stack-container-photo div.rotator-default div.next-button-div button.rotator-next-button:focus img.defaultIcon {
  display: none;
}

/* List size and position */
body.curam.soria .container-panel-ic #container_stackCon-fourimages .stack-container-list .tab-case-list {
  width: 730px;
}
body.curam.soria .container-panel-ic #container_stackCon-fourimages .stack-container-list .tab-case-list div table.list-body {
  width: 713px;
}

/* List header styling */
body.curam.soria .container-panel-ic #container_stackCon-fourimages .stack-container-list .tab-case-list th.table-header {
  font-family: $infrastructure_main-medium_font-family;
  font-size: 14px;
  color: $infrastructure_context_panel_lists_header_font-color;
  height: 20px;
  line-height: 20px;
  padding: 0px;
}
body.curam.soria .container-panel-ic #container_stackCon-fourimages .stack-container-list .tab-case-list div table thead {
  height: 26px;
}
body.curam.soria .container-panel-ic #container_stackCon-fourimages .stack-container-list .tab-case-list div table thead tr {
  background: inherit;
  height: 25px;
  border-bottom: 1px solid #e0e0e0;
}
body.curam.soria .container-panel-ic #container_stackCon-fourimages .stack-container-list .tab-case-list div.table-list {
  max-height: 125px;
  height: 125px;
}
body.curam.soria .container-panel-ic #container_stackCon-fourimages .stack-container-list .tab-case-list div:not(.table-list) th.header-last-cell {
  display: none;
}

/* List column and row styling */
body.curam.soria .container-panel-ic #container_stackCon-fourimages .stack-container-list .tab-case-list div td.field {
  padding: 0px !important;
  font-family: $infrastructure_main-regular_font-family;
  font-size: 14px;
  color: black;
  line-height: 20px;
}
body.curam.soria .container-panel-ic #container_stackCon-fourimages .stack-container-list .tab-case-list div.table-list tr.odd td.field,
body.curam.soria .container-panel-ic #container_stackCon-fourimages .stack-container-list .tab-case-list div.table-list tr.even td.field {
  background-color: inherit !important;
}
body.curam.soria .container-panel-ic #container_stackCon-fourimages .stack-container-list .tab-case-list div.table-list tr {
  height: 31px;
}
body.curam.soria .container-panel-ic #container_stackCon-fourimages .stack-container-list .tab-case-list div.table-list td.field {
  height: 30px;
  border-bottom: 1px solid #e0e0e0;
}

/* First column action control*/
body.curam.soria .container-panel-ic #container_stackCon-fourimages .stack-container-list .tab-case-list div.table-list td.body-first-cell a.ac {
  display: block;
  width: 30px;
  height: 30px;
  background: url("../../Images/ccv__filled--20-enabled.svg") 5px center no-repeat;
}
body.curam.soria .container-panel-ic #container_stackCon-fourimages .stack-container-list .tab-case-list div.table-list td.body-first-cell a.ac:hover,
body.curam.soria .container-panel-ic #container_stackCon-fourimages .stack-container-list .tab-case-list div.table-list td.body-first-cell a.ac:focus {
  background-image: url("../../Images/ccv__filled--20-enabled.svg");
}
body.curam.soria .container-panel-ic #container_stackCon-fourimages .stack-container-list .tab-case-list div.table-list td.body-first-cell a.ac img {
  display: none;
}

/* Position of list row icons */
body.curam.soria div.container-panel-ic div.tab-case-list table.list-body td.icon-content div.person-name-icons div.list-icon {
  float: left;
}

/* Size of image panel content */
body.curam.soria .container-panel-ic .image-panel-content {
  width: 176px;
  height: 160px;
  background-color: transparent;
}

/* Size and positioning of image panes */
body.curam.soria .container-panel-ic #container_stackCon-fourimages .stack-container-photo .rotator-default .rotator div.pane div.pane-item {
  padding-left: 10px;
  width: 176px;
  height: 160px;
}

/* Size and position of participant image */
body.curam.soria .container-panel-ic .image-panel-content .participant-image {
  padding: 0px;
  width: 120px;
  height: 120px;
  position: absolute;
  left: 38px;
}
body.curam.soria div.ic-single-member {
  top: 10px !important;
}
body.curam.soria .container-panel-ic .ic-single-member .image-panel-content .participant-image {
  left: 28px;
}

body.curam.soria .container-panel-ic .image-panel-content .participant-image img {
  border-radius: 50%;
}

/* Size and position of special caution icon */
body.curam.soria .container-panel-ic .image-panel-content .left-corner-image {
  left: 38px;
  z-index: 100;
}
body.curam.soria .container-panel-ic .ic-single-member .image-panel-content .left-corner-image {
  left: 28px;
}

/* Size and position of citizen context viewer icon */
body.curam.soria .container-panel-ic .image-panel-content .right-corner-image {
  top: 0px;
  left: 120px;
  z-index: 100;
  background: url("../../Images/ccv__filled--20-enabled.svg") center center no-repeat;
}
body.curam.soria .container-panel-ic .image-panel-content .right-corner-image:hover,
body.curam.soria .container-panel-ic .image-panel-content .right-corner-image:focus {
  display: block;
  height: 40px;
  background: url("../../Images/ccv__filled--20-enabled.svg") center center no-repeat;
}
body.curam.soria .container-panel-ic .image-panel-content .right-corner-image a {
  display: block;
  width: 40px;
  height: 40px;
}
body.curam.soria .container-panel-ic .image-panel-content .right-corner-image a img {
  display: none;
}
body.curam.soria .container-panel-ic .ic-single-member .image-panel-content .right-corner-image {
  left: 110px;
}

/* Size and position of image icon links (vertical row of icons) */
body.curam.soria .container-panel-ic .image-panel-content .image-links {
  top: 10px;
  left: 163px;
}
body.curam.soria .container-panel-ic .ic-single-member .image-panel-content .image-links {
  left: 153px;
}

/* Size and position of participant name */
body.curam.soria .container-panel-ic .image-panel-content .name-background {
  position: absolute;
  bottom: 15px;
  width: 176px;
}
body.curam.soria .container-panel-ic .image-panel-content .name-one-title {
  height: 20px;
  width: 100%;
  background-color: transparent;
}
body.curam.soria .container-panel-ic .image-panel-content .name-one-title a {
  font-family: $infrastructure_main-medium_font-family;
  font-size: 14px;
  color: $cefwidgets_context-panel_link-color;
  letter-spacing: -0.15px;
  text-align: center;
  line-height: 20px;
  height: 20px;
  width: 100%;
  text-decoration: none;
}
body.curam.soria .container-panel-ic .image-panel-content .name-one-title a:hover,
body.curam.soria .container-panel-ic .image-panel-content .name-one-title a:focus {
  color: $cefwidgets_context-panel_link-hover-color;
}
body.curam.soria .container-panel-ic .image-panel-content .name-one-title a:hover {
  text-decoration: underline;
}


/* Size and position of participant relationship, divider and age fields */
body.curam.soria .container-panel-ic .image-panel-content .participant-details {
  position: absolute;
  bottom: 0px;
  top: 145px;
  width: 176px;
  text-align: center;
}

body.curam.soria .container-panel-ic .image-panel-content div.image-first-line,
body.curam.soria .container-panel-ic .image-panel-content div.participant-details-divider,
body.curam.soria .container-panel-ic .image-panel-content div.image-second-line {
  clear: none;
  width: auto;
  float: none;
  display: inline-block;
  padding: 0px;
  font-family: $infrastructure_main-bold_font-family;
  font-size: 11px;
  color: black;
}
body.curam.soria .container-panel-ic .image-panel-content div.participant-details-divider {
  margin-left: 10px;
  margin-right: 7px;
  width: 3px;
  height: 10px;
  border-left: 1px solid #c7c7c7;
}

@media print {
  /* List view context panel - show all participants */
  body.curam.soria .tab-case-list div.table-list {
    overflow-y: visible;
    overflow-x: visible;
  }
}