/*______________________________________________________________________________
 * investigation_rtl.css
 *
 * Create styles that are applied to the HTML for the investigation tab details.
 */

.rtl .investigation-details {
  float: right;
  padding-left: 0;
  padding-right: 15px;
}

.rtl .invest-details-table table td {
  padding-left: 0 !important;
  padding-right: 31px !important;
}

.rtl div.investigation-content-panel {
  left: 235px;
  right: 126px;
}

.rtl .investigation-tab-details {
  padding-right: 0px;
  float: right;
}

.rtl div.investigation-links-panel {
  right: auto;
  left: 10px;
}

.rtl div.inv-case-owner-panel {
  float: right;
}

.rtl div.inv-case-owner-icon {

  padding-left: 4px;
  padding-right: 13px;

}

.rtl div.inv-case-owner,
.rtl div.inv-case-owner-icon {

  float: right;

}

.rtl .investigation-tab-details div.agree-with-watermark {
  left: auto;
  right: 104px;
}

.rtl .investigation-tab-details div.resoluton-watermark {
  left: auto;
  right: 130px;
}

.rtl .investigation-tab-details div.resoluton-date-watermark {
  left: auto;
  right: 150px;
}
/* ======== Curam Styling 2016 ======== */
body.rtl.curam.soria div.investigation-container-panel div.case-participant-panel .image-panel-content .participant-image {
    right: 17px;
}

/* Participant image Panel */
body.rtl.curam.soria div#content div.context-panel-wrapper div.investigation-container-panel div.case-participant-panel {
    right: 0px;
}
body.rtl.curam.soria .investigation-container-panel .case-participant-panel .image-panel-content .left-corner-image {
    right: 17px;
    left: 0px;
}
body.rtl.curam.soria .investigation-container-panel .image-panel-content .right-corner-image {
    left: 0px;
    right: 97px;
}
body.rtl.curam.soria .investigation-container-panel .image-panel-content .image-links {
  left: 0px;
  right: 137px;
}
/* Investigation content Panel */
body.rtl.curam.soria div.investigation-content-panel {
    right: 193px;
    left: 382px;
}

body.rtl.curam.soria div.contact-content-detail {
    padding-right: 0px;
}

body.rtl.curam.soria .investigation-details {
    padding-right: 0px;
}

body.rtl.curam.soria div.investigation-content-panel div.investigation-tab-details div.resoluton-date-watermark {
    padding-left: 0px;
    padding-right: 143px;
}

body.rtl.curam.soria div.investigation-details table tbody.horiz-table-body td, 
body.rtl.curam.soria div.contact-content table tbody.horiz-table-body td {
    padding-right: 20px !important;
    padding-left: 0px !important;
}

body.rtl.curam.soria div.investigation-content-panel div.investigation-tab-details div.resoluton-watermark,
body.rtl.curam.soria div.investigation-content-panel div.investigation-tab-details div.resoluton-date-watermark {
  left: auto;
  right: 0px;
  text-align:right;
}

body.rtl.curam.soria div.investigation-content-panel div.investigation-tab-details .contact-content div.latest-contact-table {
    padding-right: 10px;
    padding-left: 0px;
}

body.rtl.curam.soria div.investigation-content-panel div.investigation-tab-details div.pd-reference-id {
    text-align: left;
}
/* ======== End Curam Styling 2016 ======== */
/*______________________________________________________________________________
 * end investigation_rtl.css
 */