/*
 * Licensed Materials - Property of IBM
 *
 * PID 5725-H26
 *
 * Copyright IBM Corporation 2016,2021. All Rights Reserved.
 *
 * US Government Users Restricted Rights - Use, duplication or disclosure
 * restricted by GSA ADP Schedule Contract with IBM Corp.
 *
 *_________________________________________________________________________________
 * investigation.css
 *
 * Create styles that are applied to the HTML for the investigation tab details.
 */

div.investigation-container-panel {
  background-color: transparent;
  height:130px !important;
  overflow: visible;
  position: relative;
  top: 5px;
  min-width: 940px;
  width: 100%;
}

.investigation-details {
  float: left;
  width: 100%;
  padding-left: 15px;
  margin-bottom: 14px;
}

.investigation-details .investigation-reference {
  font-size: 140%;
  color: #FB7803;
  width:100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 10px;
}

.invest-details-table table td {
  padding-left: 31px !important;
}

div.investigation-content-panel {
  background-color: #FFFFFF;
  position: absolute;
  left: 126px;
  right: 235px;
  top: 0;
  z-index: -1;
}

.investigation-tab-details {
  height: 120px;
  padding-left: 0px;
  border-left: 1px solid #DADADA;
  border-right: 1px solid #DADADA;
  float: left;
  width: 100%;
}

div.investigation-links-panel {
  position: absolute;
  right: 10px;
  top: 0;
  width: 215px;
}

div.investigation-links-panel div.investigation-username {
  background-color: #FFFFFF;
  color: #376F8F;
  text-align: center;
}

div.inv-case-owner-panel {

  width: 100%;
  background-color: #FFFFFF;
  float: left;
  height: 20px;
  padding-top: 4px;

}

div.inv-case-owner-icon {

  padding-left: 13px;
  padding-right: 4px;

}

div.inv-case-owner,
div.inv-case-owner-icon {

  float: left;

}

.investigation-links-panel .left-col .link-wrapper {
  width:200px;
}

.investigation-tab-details div.agree-with-watermark {
  color: gainsboro;
  font-size: 400%;
  z-index: -2;
  position: absolute;
  top: 10px;
  left: 104px;
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
  background-color: #ffffff;
  line-height: 1em;
  text-align: center;
  width: 320px;
}

.investigation-tab-details div.resoluton-watermark {
  background-color: #FFFFFF;
  color: gainsboro;
  font-size: 450%;
  left: 130px;
  line-height: 1em;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  top: 16px;
  z-index: -2;
}

.investigation-tab-details div.resoluton-date-watermark {
  background-color: #FFFFFF;
  color: gainsboro;
  font-size: 300%;
  left: 150px;
  line-height: 1em;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  top: 65px;
  z-index: -2;
}

/* ======== Curam Styling 2016 ======== */

/* Size and position of context panel inner container */
body.curam.soria div#content div.context-panel-wrapper div.investigation-container-panel{
  height: 180px !important;
}

body.curam.soria div#content div.context-panel-wrapper div.case-participant-panel {
  width: 100%
}

body.curam.soria div#content div.context-panel-wrapper div.investigation-container-panel div.case-participant-panel {
  width: auto;
  left: 0px;
}

body.curam.soria div.investigation-container-panel div.case-participant-panel .image-panel-content .participant-image {
  left: 17px;
}

body.curam.soria div.investigation-container-panel {
  top: 0px !important;
}

body.curam.soria div.case-participant-panel {
  top: 10px !important;
}

/* Position of list row icons */
body.curam.soria div.investigation-container-panel div.tab-case-list table.list-body td.icon-content div.person-name-icons div.list-icon {
  float: left;
}

/* Size of image panel content */
body.curam.soria .investigation-container-panel .image-panel-content {
  width: 154px;
  height: 160px;
  background-color: transparent;
}

/* Size and position of participant image */
body.curam.soria .investigation-container-panel .image-panel-content .participant-image {
  padding: 0px;
  width: 120px;
  height: 120px;
  position: absolute;
  left: 17px;
}


body.curam.soria .investigation-container-panel .image-panel-content .participant-image img {
  border-radius: 50%;
}

/* Size and position of special caution icon */
body.curam.soria .investigation-container-panel .image-panel-content .left-corner-image {
  left: 27px;
  z-index: 100;
}

body.curam.soria .investigation-container-panel .case-participant-panel .image-panel-content .left-corner-image {
  left: 17px;
}

/* Size and position of citizen context viewer icon */
body.curam.soria .investigation-container-panel .image-panel-content .right-corner-image {
  top: 0px;
  left: 97px;
  z-index: 100;
  background: url("../../Images/ccv__filled--20-enabled.svg") center center no-repeat;
}
body.curam.soria .investigation-container-panel .image-panel-content .right-corner-image:hover,
body.curam.soria .investigation-container-panel .image-panel-content .right-corner-image:focus {
  display: block;
  height: 40px;
  background: url("../../Images/ccv__filled--20-enabled.svg") center center no-repeat;
}
body.curam.soria .investigation-container-panel .image-panel-content .right-corner-image a {
  display: block;
  width: 40px;
  height: 40px;
}
body.curam.soria .investigation-container-panel .image-panel-content .right-corner-image a img {
  display: none;
}


/* Size and position of image icon links (vertical row of icons) */
body.curam.soria .investigation-container-panel .image-panel-content .image-links {
  top: 10px;
  left: 137px;
}


/* Size and position of participant name */
body.curam.soria .investigation-container-panel .image-panel-content .name-background {
  position: absolute;
  bottom: 15px;
  top: 125px;
  width: 152px;
}

body.curam.soria .investigation-container-panel .image-panel-content .name-one-title {
  height: $infrastructure_normal_line-height;
  width: 100%;
  background-color: transparent;
}

body.curam.soria .investigation-container-panel .image-panel-content .name-one-title a {
  font-family: $infrastructure_main-medium_font-family;
  font-size: $infrastructure_normal_font-size;
  color: $cefwidgets_context-panel_link-color;
  letter-spacing: -0.15px;
  text-align: center;
  line-height: $infrastructure_normal_line-height;
  height: 20px;
  width: 100%;
  text-decoration: none;
}

body.curam.soria .investigation-container-panel .image-panel-content .name-one-title a:hover,
body.curam.soria .investigation-container-panel .image-panel-content .name-one-title a:focus {
  color: $cefwidgets_context-panel_link-hover-color;
}

body.curam.soria .investigation-container-panel .image-panel-content .name-one-title a:hover {
  text-decoration: underline;
}

/* Size and position of participant relationship, divider and age fields */
body.curam.soria .investigation-container-panel .image-panel-content .participant-details {
  position: absolute;
  bottom: 0px;
  top: 145px;
  width: 152px;
  text-align: center;
}

body.curam.soria .investigation-container-panel .image-panel-content div.image-first-line,
body.curam.soria .investigation-container-panel .image-panel-content div.participant-details-divider,
body.curam.soria .investigation-container-panel .image-panel-content div.image-second-line {
  clear: none;
  width: auto;
  float: none;
  display: inline-block;
  padding: 0px;
  font-family: $infrastructure_main-bold_font-family;
  font-size: $infrastructure_very-small_font-size;
  color: $infrastructure_primary-form-control-font_color;
}
body.curam.soria .investigation-container-panel .image-panel-content div.participant-details-divider {
  margin-left: 10px;
  margin-right: 7px;
  width: 3px;
  height: 10px;
  border-left: 1px solid $infrastructure_secondary-menu-and-border_background-color;
}

/* Investigation content Panel */
body.curam.soria div.investigation-content-panel {
    background-color: transparent;
    position: absolute;
    left: 193px;
    right: 382px;
    top: 10px;
    z-index: 0;
}
body.curam.soria .investigation-details {
    padding-left: 0px;
    margin-bottom: 0px;
    height: 160px;
}

body.curam.soria div.investigation-tab-details {
    border:none;
}

body.curam.soria div.investigation-details .investigation-reference {
    font-family: $infrastructure_main-medium_font-family;
    font-size: $infrastructure_heading-three_font-size;
    color: $infrastructure_primary-font_color;
    line-height: $infrastructure_heading-three_line-height;
    padding-bottom: $infrastructure_small_padding;
    letter-spacing:-0.22px;
}
body.curam.soria div.investigation-details table tbody.horiz-table-body td,
body.curam.soria div.contact-content table tbody.horiz-table-body td  {
	font-family: $infrastructure_main-regular_font-family;
	font-size: $infrastructure_normal_font-size;
	color: black;;
	line-height: $infrastructure_normal_line-height;
	padding-left: $infrastructure_very-big_padding !important;
}

body.curam.soria div.investigation-details table tbody.horiz-table-body th,
body.curam.soria div.contact-content table tbody.horiz-table-body th {
	font-family: $infrastructure_main-medium_font-family;
	font-size: $infrastructure_normal_font-size;
	color: black;
	line-height: $infrastructure_normal_line-height;
}
body.curam.soria div.investigation-details table tbody.horiz-table-body th {
	min-width: 123px;
}

body.curam.soria div.investigation-content-panel div.investigation-tab-details .contact-content .contact-content-detail img{
    display: block;
}
body.curam.soria div.investigation-content-panel div.investigation-tab-details .contact-content div.latest-contact-table {
    padding-left: $infrastructure_normal_padding;
}

body.curam.soria div.investigation-content-panel div.investigation-tab-details .contact-content {
    background-color: transparent;
}
body.curam.soria div.contact-content {
    top:140px;
}
body.curam.soria div.contact-content-detail {
    padding-left: 0px;
    margin-top: 0px;
}

body.curam.soria div.investigation-content-panel div.investigation-tab-details div.resoluton-watermark,
body.curam.soria div.investigation-content-panel div.investigation-tab-details div.resoluton-date-watermark {
	color: #ad1625;
    font-family: $infrastructure_main-medium_font-family;
    font-size: $infrastructure_normal_font-size;
    z-index: inherit;
    line-height: $infrastructure_normal_line-height;
    position: absolute;
    text-align: left;
    top: 120px;
    left: inherit;
    -moz-opacity: inherit;
    -khtml-opacity: inherit;
    opacity: inherit;
    background: none;
}

body.curam.soria div.investigation-content-panel div.investigation-tab-details div.resoluton-watermark {
    min-width: 123px;
}

body.curam.soria div.investigation-content-panel div.investigation-tab-details div.resoluton-date-watermark {
    padding-left:143px;
}

body.curam.soria div.investigation-content-panel div.investigation-tab-details div.pd-reference-id {
    font-family: $infrastructure_main-medium_font-family;
    font-size: $infrastructure_normal_font-size;
    line-height:16px;
    color:#264a60;
    text-align:right;
    background-color:transparent;
    padding-right: $infrastructure_very-big_padding;
    padding-left: $infrastructure_very-big_padding;
    top: 0px;
    padding-top: $infrastructure_normal_padding;
}
/* ======== End Curam Styling 2016 ======== */

/*______________________________________________________________________________
 * end investigation.css
 */
