/*
 *  Licensed Materials - Property of IBM
 *
 *  PID 5725-H26
 *
 *  Copyright IBM Corporation 2020,2021. All rights reserved.
 * 
 *  US Government Users Restricted Rights - Use, duplication or disclosure
 *  restricted by GSA ADP Schedule Contract with IBM Corp.
 */
 
/*______________________________________________________________________________
 * legalactionhearing.css
 *
 * Create styles that are applied to the HTML for the legal action hearing context details.
 */

div.container-panel-legalaction {
  background: transparent;
  height: 230px;
  overflow: visible;
  min-width: 915px;
  position: relative;
}

div.container-panel-legalaction .curamStackController {
  display: flex;
  flex-direction: column-reverse;
  margin-right: 0px;
  margin-left: 0px;
}

div.container-panel-legalaction span.curamStackController #curam_controller_stackCon-threeimages_title_1 img,
div.container-panel-legalaction span.curamStackController #curam_controller_stackCon-threeimages_title_2 img {
  background-color: #f4f4f4;
  height: 21px;
  width: 21px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.container-panel-legalaction span.curamStackController #curam_controller_stackCon-threeimages_title_1 img.hoverIcon,
div.container-panel-legalaction span.curamStackController #curam_controller_stackCon-threeimages_title_2 img.hoverIcon {
  display: none;
}

div.container-panel-legalaction span.curamStackController #curam_controller_stackCon-threeimages_title_1:hover img.defaultIcon,
div.container-panel-legalaction span.curamStackController #curam_controller_stackCon-threeimages_title_1:focus img.defaultIcon,
div.container-panel-legalaction span.curamStackController #curam_controller_stackCon-threeimages_title_2:hover img.defaultIcon,
div.container-panel-legalaction span.curamStackController #curam_controller_stackCon-threeimages_title_2:focus img.defaultIcon {
  display: none;
}

div.container-panel-legalaction span.curamStackController #curam_controller_stackCon-threeimages_title_1:hover img.hoverIcon,
div.container-panel-legalaction span.curamStackController #curam_controller_stackCon-threeimages_title_1:focus img.hoverIcon,
div.container-panel-legalaction span.curamStackController #curam_controller_stackCon-threeimages_title_2:hover img.hoverIcon,
div.container-panel-legalaction span.curamStackController #curam_controller_stackCon-threeimages_title_2:focus img.hoverIcon {
  display: block;
}

@media all and (-ms-high-contrast: none)  {
  div.container-panel-legalaction #container_stackCon-threeimages .stack-container-photo div.rotator-default div.prev-button-div button.rotator-prev-button {
    width: 38px;
    height: 30px;
    margin-left: 5px;
  }
  div.container-panel-legalaction #container_stackCon-threeimages .stack-container-photo div.rotator-default div.next-button-div button.rotator-next-button {
    width: 38px;
    height: 30px;
    margin-right: -5px;
  }
}

@media all and (-ms-high-contrast: active) {
  div.container-panel-legalaction #container_stackCon-threeimages .stack-container-photo div.rotator-default div.prev-button-div button.rotator-prev-button {
    width: 38px;
    height: 30px;
    margin-top: 15px;
    margin-left: 5px;
  }
  div.container-panel-legalaction #container_stackCon-threeimages .stack-container-photo div.rotator-default div.next-button-div button.rotator-next-button {
    width: 38px;
    height: 30px;
    margin-top: 15px;
    margin-right: -5px;
  }
}

div.container-panel-legalaction #container_stackCon-threeimages .rotator-default .rotator-prev-button,
div.container-panel-legalaction #container_stackCon-threeimages .rotator-default .rotator-next-button {
  background-image: none;
  padding-left: 0px;
  height: 21px;
  width: 20px;		
}

div.container-panel-legalaction #container_stackCon-threeimages .stack-container-photo div.rotator-default div.prev-button-div button.rotator-prev-button img,
div.container-panel-legalaction #container_stackCon-threeimages .stack-container-photo div.rotator-default div.next-button-div button.rotator-next-button img {
  display: block;
  padding-left: 0px;
  padding-right: 0px;
}

div.container-panel-legalaction #container_stackCon-threeimages .stack-container-photo div.rotator-default div.prev-button-div button.rotator-prev-button img.hoverIcon,
div.container-panel-legalaction #container_stackCon-threeimages .stack-container-photo div.rotator-default div.next-button-div button.rotator-next-button img.hoverIcon {
  display: none;
}

div.container-panel-legalaction #container_stackCon-threeimages .stack-container-photo div.rotator-default div.prev-button-div button.rotator-prev-button:hover img.defaultIcon,
div.container-panel-legalaction #container_stackCon-threeimages .stack-container-photo div.rotator-default div.prev-button-div button.rotator-prev-button:focus img.defaultIcon,
div.container-panel-legalaction #container_stackCon-threeimages .stack-container-photo div.rotator-default div.next-button-div button.rotator-next-button:hover img.defaultIcon,
div.container-panel-legalaction #container_stackCon-threeimages .stack-container-photo div.rotator-default div.next-button-div button.rotator-next-button:focus img.defaultIcon {
  display: none;
}

div.container-panel-legalaction #container_stackCon-threeimages .stack-container-photo div.rotator-default div.prev-button-div button.rotator-prev-button:hover img.hoverIcon,
div.container-panel-legalaction #container_stackCon-threeimages .stack-container-photo div.rotator-default div.prev-button-div button.rotator-prev-button:focus img.hoverIcon,
div.container-panel-legalaction #container_stackCon-threeimages .stack-container-photo div.rotator-default div.next-button-div button.rotator-next-button:hover img.hoverIcon,
div.container-panel-legalaction #container_stackCon-threeimages .stack-container-photo div.rotator-default div.next-button-div button.rotator-next-button:focus img.hoverIcon {
  display: block;
  position: relative;
}

.legalaction-hearing-details {
  height: 150px;
  padding-left: 0px;
  border-left: 1px solid #DADADA;
  border-right: 1px solid #DADADA;
  float: left;
  width: 100%;
  background-color: #FFFFFF;
  overflow: hidden;
}

.legalaction-hearing-details-panel {
  position: absolute;
  left: 510px;
  right: 10px;
  top: 8px;
}

.legalaction-hearing-ref {
  font-size: 120%;
  font-family: tahoma;
  color: #FB7803;
  padding-bottom:0px;
  padding-top: 0px;
  padding-right: 15px;
  background-color: white;
  position: absolute;
  right: 0px;
  top: 5px;
  padding-left: 5px;
  white-space: nowrap;
}

.legalaction-hearing-docketnum-label {
  display: inline;
  padding-left: 15px;
  padding-right: 5px;
  white-space: nowrap;
}

.legalaction-hearing-docketnum {
  display: inline;
}

.legalaction-hearing-details-table {
  padding-left: 15px;
  padding-top: 5px;
}

.legalaction-hearing-details-table table td,
.schedule-details-table table td {
  padding-left: 40px !important;
  white-space: nowrap;
  word-wrap:normal;
}

.legalaction-hearing-details-table table th,
.schedule-details-table table th {
  white-space: nowrap;
  word-wrap:normal;
}

.content-panel-detail.legalaction-hearing-details-panel .legalaction-hearing-details-table .horiz-table-body a:hover,
.content-panel-detail.legalaction-hearing-details-panel .legalaction-hearing-details-table .horiz-table-body a:focus {
  color: $cefwidgets_context-panel_link-hover-color;
}

.content-panel-detail.legalaction-hearing-details-panel .legalaction-hearing-details-table .horiz-table-body a:hover {
   text-decoration: underline;
}

.schedule-details {
  background-image: url('../../Images/details_panel_background_grey.png');
  width: 91%;
  margin-left: 15px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 5px;
  overflow: hidden;
}

h3.schedule-title{
  height: 20px;
  white-space: nowrap;
}

.hearing-schedule-time {


}

.hearing-schedule-status {


}

/* end legalactionhearing.css */



