/*
 * Licensed Materials - Property of IBM
 *
 * PID 5725-H26
 *
 * Copyright IBM Corporation 2016. All Rights Reserved.
 *
 * US Government Users Restricted Rights - Use, duplication or disclosure
 * restricted by GSA ADP Schedule Contract with IBM Corp.
 *
 *_________________________________________________________________________________
 * legalactionpetition.css
 * 
 * Create styles that are applied to the HTML for the legal action petition context details.
 */

.legalaction-petition-details-panel {
  position: absolute;
  left: 510px;
  right: 10px;
  top: 20px;
}

.legalaction-petition-details {
  height: 110px;
  padding-left: 0px;
  border-left: 1px solid #DADADA;
  border-right: 1px solid #DADADA;
  float: left;
  width: 100%;
  background-color: #FFFFFF;
  overflow: hidden;
}

.legalaction-petition-filed {
  padding-left: 15px;
  white-space: nowrap;
}

.legalaction-petition-details-table { 
  padding-left: 15px;
  padding-top: 15px;
}

.legalaction-petition-details-table table td {
  padding-left: 40px !important;
  white-space: nowrap;
  word-wrap: normal;
}

.legalaction-petition-details-table table th {
  white-space: nowrap;
  word-wrap: normal;
}


/* end legalactionpetition.css */ 

.legalaction-petition-details div.watermark {
  color:gainsboro;
  font-size:500%;
  z-index: -1;
  position:absolute;
  top: 30px;
  left: 130px;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;  
}

/* BEGIN, WI117561, YF */
.high-contrast .legalaction-petition-details div.watermark {
  color: #666666;
}
/* END, WI117561, YF */

