/* *
 * Licensed Materials - Property of IBM
 *
 * PID 5725-H26
 *
 * Copyright IBM Corporation 2021. All Rights Reserved.
 *
 * US Government Users Restricted Rights - Use, duplication or disclosure
 * restricted by GSA ADP Schedule Contract with IBM Corp.
 * */
/*______________________________________________________________________________
 * legalactionorder.css
 * 
 * Create styles that are applied to the HTML for the legal action order context details.
 */

.legalaction-order-details {
  height: 165px;
  padding-left: 0px;
  border-left: 1px solid #DADADA;
  border-right: 1px solid #DADADA;
  float: left;
  width: 100%;
  background-color: #FFFFFF;
  overflow: hidden;
}

.legalaction-order-details-panel {
  position: absolute;
  left: 510px;
  right: 10px;
  top: 20px;
}

.legalaction-order-effective {
  padding-left: 15px;
  white-space: nowrap;
}

.legalaction-order-details-table { 
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 45px;
}

.legalaction-order-details-table table td {
  padding-left: 40px !important;
  white-space: nowrap;
  word-wrap:normal;
}

.legalaction-order-details-table table th {
  white-space: nowrap;
  word-wrap:normal;
}

.legalaction-end-dates { 
  float: left;
  width: 100%;  
  background-color: #E6EBF1;
  height: 25px;
}

.legalaction-end-dates-detail { 
  padding-left: 12px;
  margin-top: 3px;
}

.expected-end-table table, 
.actual-end-table table {
  float: left;
}

.expected-end-table table td,
.actual-end-table  table td {
  color: #696969;
}

.expected-end-table table td,
.actual-end-table  table td {
  padding-bottom: 0px !important;
}

div.content-panel-detail div.expected-end-table table {
  margin-left: 5px;
  margin-top: 3px;
  margin-right: 15px;
}

div.content-panel-detail div.actual-end-table table { 
  margin-left: 5px;
  margin-top: 3px;
}

.legalaction-end-dates-detail img { 
  padding: 0px;
  float: left;
}

div.expected-end-table  {
  float: left;
  overflow: hidden;
  white-space: nowrap;
  width: 35%;
}

div.actual-end-table  {
  overflow: hidden;
  white-space: nowrap;
}

.content-panel-detail.legalaction-order-details-panel .legalaction-order-details-table .horiz-table-body a:hover,
.content-panel-detail.legalaction-order-details-panel .legalaction-order-details-table  .horiz-table-body a:focus {
  color: $cefwidgets_context-panel_link-hover-color;
}

.content-panel-detail.legalaction-order-details-panel .legalaction-order-details-table .horiz-table-body a:hover {
  text-decoration: underline;
}

/* end legalactionorder.css */ 

