/*______________________________________________________________________________
 * legalactionpetition_rtl.css
 * 
 * Create styles that are applied to the HTML for the legal action petition context details.
 */

.rtl .legalaction-petition-details-panel {
  left: 10px;
  right: 510px;
}

.rtl .legalaction-petition-details {
  padding-right: 0px;
  float: right;
}

.rtl .legalaction-petition-filed {
  padding-left: 0;
  padding-right: 15px;
}

.rtl .legalaction-petition-details-table { 
  padding-left: 0;
  padding-right: 15px;;
}

.rtl .legalaction-petition-details-table table td {
  padding-left: 0 !important;
  padding-right: 40px !important;
}


/* end legalactionpetition_rtl.css */ 

.rtl .legalaction-petition-details div.watermark {
  left: auto;
  right: 130px; 
}