body.rtl.curam.soria div.content-panel-detail.ic-links-panel,
body.rtl.curam.soria div.content-panel-detail.ic-links-panel-one-casemem,
body.rtl.curam div.content-panel-detail.person-links-panel-onecol,
body.rtl.curam div.content-panel-detail.person-links-panel,
body.rtl.curam div.content-panel-detail.investigation-links-panel,
body.rtl.curam.soria div.content-panel-detail.pd-links-panel,
body.rtl.curam.soria div.content-panel-detail.pd-links-panel-onecol,
body#Curam_IntegratedCase_tabDetailsPreview.rtl.list-inline-page div#content div.container-panel-ic div.ic-links-panel,
body#Curam_IntegratedCase_tabDetailsPreview.rtl.list-inline-page div#content div.container-panel-ic div.ic-links-panel-one-casemem {
  left: 0px;
  right: auto;
  border-left: 0px;
  border-right: 2px solid #e0e0e0;
}

body.rtl.curam div.content-panel-detail.ic-links-panel div.tab-links div.inner-col,
body.rtl.curam div.content-panel-detail.ic-links-panel-one-casemem div.tab-links div.inner-col,
body.rtl.curam div.content-panel-detail.person-links-panel-onecol div.tab-links div.inner-col,
body.rtl.curam div.content-panel-detail.person-links-panel div.tab-links div.inner-col,
body.rtl.curam div.content-panel-detail.investigation-links-panel-onecol div.tab-links div.inner-col,
body.rtl.curam div.content-panel-detail.investigation-links-panel div.tab-links div.inner-col,
body.rtl.curam.soria div.content-panel-detail.pd-links-panel div.tab-links div.inner-col,
body.rtl.curam.soria div.content-panel-detail.pd-links-panel-onecol div.tab-links div.inner-col {
  float: left;
}

body.rtl.curam.soria div.content-panel-detail.ic-links-panel .inner-col,
body.rtl.curam.soria div.content-panel-detail.ic-links-panel-one-casemem .inner-col,
body.rtl.curam div.content-panel-detail.person-links-panel-onecol .inner-col,
body.rtl.curam div.content-panel-detail.person-links-panel .inner-col,
body.rtl.curam div.content-panel-detail.investigation-links-panel-onecol .inner-col,
body.rtl.curam div.content-panel-detail.investigation-links-panel .inner-col,
body.rtl.curam.soria div.content-panel-detail.pd-links-panel .inner-col,
body.rtl.curam.soria div.content-panel-detail.pd-links-panel-onecol .inner-col{
  padding-right: 0px !important;
}

body.rtl.curam div.content-panel-detail.ic-links-panel div.tab-links div.link-wrapper div.link a,
body.rtl.curam div.content-panel-detail.ic-links-panel div.tab-links div.nolink-wrapper div.link,
body.rtl.curam div.content-panel-detail.ic-links-panel-one-casemem div.tab-links div.link-wrapper div.link a,
body.rtl.curam div.content-panel-detail.ic-links-panel-one-casemem div.tab-links div.nolink-wrapper div.link,
body.rtl.curam div.content-panel-detail.person-links-panel-onecol div.tab-links div.link-wrapper div.link a,
body.rtl.curam div.content-panel-detail.person-links-panel-onecol div.tab-links div.nolink-wrapper div.link,
body.rtl.curam div.content-panel-detail.person-links-panel div.tab-links div.link-wrapper div.link a,
body.rtl.curam div.content-panel-detail.person-links-panel div.tab-links div.nolink-wrapper div.link,
body.rtl.curam div.content-panel-detail.investigation-links-panel-onecol div.tab-links div.link-wrapper div.link a,
body.rtl.curam div.content-panel-detail.investigation-links-panel-onecol div.tab-links div.nolink-wrapper div.link,
body.rtl.curam div.content-panel-detail.investigation-links-panel div.tab-links div.link-wrapper div.link a,
body.rtl.curam div.content-panel-detail.investigation-links-panel div.tab-links div.nolink-wrapper div.link,
body.rtl.curam.soria div.content-panel-detail.pd-links-panel div.tab-links div.link-wrapper div.link a,
body.rtl.curam.soria div.content-panel-detail.pd-links-panel div.tab-links div.nolink-wrapper div.link,
body.rtl.curam.soria div.content-panel-detail.pd-links-panel-onecol div.tab-links div.link-wrapper div.link a,
body.rtl.curam.soria div.content-panel-detail.pd-links-panel-onecol div.tab-links div.nolink-wrapper div.link {
  background-position: right center;
  padding-left: 0px;
  padding-right: 30px;
}

body.rtl.curam .content-panel-detail .ic-case-owner a,
body.rtl.curam .content-panel-detail .inv-case-owner-panel a,
body.rtl.curam .content-panel-detail .pd-case-owner a {
  background-position: right top;
  padding-left: 0px;
  padding-right: 30px;
}
body.rtl.curam div.content-panel-detail div.nolink-wrapper {
  padding-right:2px;
}
body.rtl.curam div.content-panel-detail div.link-wrapper,
body.rtl.curam div.content-panel-detail div.nolink-wrapper {
  padding-bottom: 1px;
}
body.rtl.curam div.content-panel-detail div.tab-links div.link-wrapper div[class^='link'],
body.rtl.curam div.content-panel-detail div.tab-links div.nolink-wrapper div[class^='link'] {
  padding:2px;
}
/* Case Owner */
body.rtl.curam .content-panel-detail div.tab-links .ic-case-owner-panel,
body.rtl.curam .content-panel-detail div.tab-links .inv-case-owner-panel,
body.rtl.curam .content-panel-detail div.tab-links .pd-case-owner-panel {
  padding-right:2px;
}