/* *
 * Licensed Materials - Property of IBM
 *
 * PID 5725-H26
 *
 * Copyright IBM Corporation 2016,2021. All Rights Reserved.
 *
 * US Government Users Restricted Rights - Use, duplication or disclosure
 * restricted by GSA ADP Schedule Contract with IBM Corp.
 * */
/* ==== Links Panel ==== */

body.curam.soria div.content-panel-detail a {
  text-decoration: none;
}
body.curam.soria div.content-panel-detail a:hover {
  text-decoration: underline;
}
body.curam.soria div.content-panel-detail a:hover,
body.curam.soria div.content-panel-detail a:focus {
  color: $cefwidgets_context-panel_link-hover-color;
}

/* Size and positioning of links panel */
body.curam.soria div.content-panel-detail.ic-links-panel,
body.curam.soria div.content-panel-detail.ic-links-panel-one-casemem,
body#Curam_IntegratedCase_tabDetailsPreview.list-inline-page div#content div.container-panel-ic div.ic-links-panel,
body#Curam_IntegratedCase_tabDetailsPreview.list-inline-page div#content div.container-panel-ic div.ic-links-panel-one-casemem,
body.curam div.content-panel-detail.person-links-panel-onecol,
body.curam div.content-panel-detail.person-links-panel,
body.curam div.content-panel-detail.investigation-links-panel,
body.curam.soria div.content-panel-detail.pd-links-panel,
body.curam.soria div.content-panel-detail.pd-links-panel-onecol {
  background-color: transparent;
  padding-top: 0px !important;
  top: 20px;
  right: 0px;
  width: 362px;
  min-width:362px;
  height: 140px !important;
  border-left: 2px solid #e0e0e0;
}
/* Internal layout of links panel */
body.curam div.content-panel-detail div.tab-links {
  background: transparent;
  border: 0px;
  height: auto;
  padding-left: 20px;
  padding-right: 20px;
}
body.curam div.content-panel-detail div.tab-links div.left-col,
body.curam div.content-panel-detail div.tab-links div.inner-col {
  padding: 0px;
}
body.curam div.content-panel-detail div.nolink-wrapper {
  padding-left:2px;
}
body.curam div.content-panel-detail div.link-wrapper,
body.curam div.content-panel-detail div.nolink-wrapper {
  padding-bottom: 1px;
}
body.curam div.content-panel-detail div.tab-links div.link-wrapper div[class^='link'],
body.curam div.content-panel-detail div.tab-links div.nolink-wrapper div[class^='link']{
  padding:2px;
}
/* Styling and position of links */
body.curam div.content-panel-detail div.link-wrapper div.link,
body.curam div.content-panel-detail div.nolink-wrapper div.link {
  font-family: $infrastructure_main-medium_font-family;
  font-size: 14px;
  line-height: 20px;
  padding: 0px;
}
body.curam div.content-panel-detail div.link-wrapper div.link a,
body.curam div.content-panel-detail div.nolink-wrapper div.link a {
  line-height: 20px;
}
body.curam div.content-panel-detail div.nolink-wrapper div.link {
  color: black;
}
body.curam div.content-panel-detail div.link-wrapper {
  color: #1f57a4;
  text-decoration: none;
}
body.curam div.content-panel-detail div.nolink-wrapper div.icon {
  float: left;
}
body.curam div.content-panel-detail div.link-wrapper,
body.curam div.content-panel-detail div.nolink-wrapper {
  width: auto;
}
body.curam div.content-panel-detail div.link-wrapper div.link,
body.curam div.content-panel-detail div.nolink-wrapper div.link {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
body.curam div.content-panel-detail div.link-wrapper:hover,
body.curam div.content-panel-detail div.link-wrapper:focus {
  color: #25467a;
}
body.curam div.content-panel-detail div.link-wrapper a {
  color: $cefwidgets_context-panel_link-color;
}

/* Case status header */
body.curam .content-panel-detail .ic-case-status,
body.curam .content-panel-detail .pd-case-status {
  height: 23px;
  padding-bottom: 5px;
  background-color: transparent;
}
body.curam .content-panel-detail .ic-case-status .ic-status,
body.curam .content-panel-detail .pd-case-status .pd-status {
  font-family: $infrastructure_main-medium_font-family;
  font-size: 16px;
  color: #264a60;
  padding-left: 0px;
  padding-right: 0px;
  height: 23px;
}

/* Case Owner */
body.curam .content-panel-detail .ic-case-owner-panel,
body.curam .content-panel-detail .inv-case-owner-panel,
body.curam .content-panel-detail .pd-case-owner-panel {
  height: 20px;
  padding-top: 0px;
  padding-left:2px;
  position: absolute;
  bottom: 0px;
  background-color: transparent;
}
body.curam .content-panel-detail .ic-case-owner-icon img,
body.curam .content-panel-detail .inv-case-owner-panel img,
body.curam .content-panel-detail .pd-case-owner-icon img {
  display: none;
}
body.curam .content-panel-detail .ic-case-owner a,
body.curam .content-panel-detail .inv-case-owner-panel a,
body.curam .content-panel-detail .pd-case-owner a {
  background: url("../../Images/icon_case_owner.png") left top no-repeat;
  font-family: $infrastructure_main-medium_font-family;
  font-size: 14px;
  color: $cefwidgets_context-panel_link-color;
  height: 20px;
  line-height: 20px;
  padding-left: 30px;
}
body.curam .content-panel-detail .ic-case-owner a:hover,
body.curam .content-panel-detail .ic-case-owner a:focus,
body.curam .content-panel-detail .inv-case-owner-panel a:hover,
body.curam .content-panel-detail .inv-case-owner-panel a:focus,
body.curam .content-panel-detail .pd-case-owner a:hover,
body.curam .content-panel-detail .pd-case-owner a:focus {
  background-image: url("../../Images/icon_case_owner_hover.png");
  color: $cefwidgets_context-panel_link-hover-color;
}
body.curam .content-panel-detail .ic-case-owner a:hover,
body.curam .content-panel-detail .inv-case-owner-panel a:hover,
body.curam .content-panel-detail .pd-case-owner a:hover {
  text-decoration: underline;
}

/* Hide existing img elements */
body.curam div.content-panel-detail div.tab-links div.link-wrapper div.icon,
body.curam div.content-panel-detail div.tab-links div.nolink-wrapper div.icon {
  display: none;
}

/* Set icon div height and width */
body.curam div.content-panel-detail div.tab-links div.link-wrapper div.icon,
body.curam div.content-panel-detail div.tab-links div.nolink-wrapper div.icon {
  width: 20px;
  height: 20px;
}
body.curam div.content-panel-detail div.tab-links div.link-wrapper div.link a {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Investigations */
body.curam div.content-panel-detail div.tab-links div.link-wrapper div.link.icon-investigations a,
body.curam div.content-panel-detail div.tab-links div.nolink-wrapper div.link.icon-investigations {
  background: url("../../Images/icon_investigations.png") left center no-repeat;
  padding-left: 30px;
}
body.curam div.content-panel-detail div.tab-links div.link-wrapper div.link.icon-investigations a:hover,
body.curam div.content-panel-detail div.tab-links div.link-wrapper div.link.icon-investigations a:focus,
body.curam div.content-panel-detail div.tab-links div.link-wrapper:hover div.link.icon-investigations a,
body.curam div.content-panel-detail div.tab-links div.link-wrapper:focus div.link.icon-investigations a {
  background-image: url("../../Images/icon_investigations_hover.png");
  color: $cefwidgets_context-panel_link-hover-color;
}
body.curam div.content-panel-detail div.tab-links div.link-wrapper div.link.icon-investigations a:hover,
body.curam div.content-panel-detail div.tab-links div.link-wrapper:hover div.link.icon-investigations a {
  text-decoration: underline;
}

/* Incidents */
body.curam div.content-panel-detail div.tab-links div.link-wrapper div.link.icon-incidents a,
body.curam div.content-panel-detail div.tab-links div.nolink-wrapper div.link.icon-incidents {
  background: url("../../Images/icon_incidents.png") left center no-repeat;
  padding-left: 30px;
}
body.curam div.content-panel-detail div.tab-links div.link-wrapper div.link.icon-incidents a:hover,
body.curam div.content-panel-detail div.tab-links div.link-wrapper div.link.icon-incidents a:focus,
body.curam div.content-panel-detail div.tab-links div.link-wrapper:hover div.link.icon-incidents a,
body.curam div.content-panel-detail div.tab-links div.link-wrapper:focus div.link.icon-incidents a {
  background-image: url("../../Images/icon_incidents_hover.png");
  color: $cefwidgets_context-panel_link-hover-color;
}
body.curam div.content-panel-detail div.tab-links div.link-wrapper div.link.icon-incidents a:hover,
body.curam div.content-panel-detail div.tab-links div.link-wrapper:hover div.link.icon-incidents a {
  text-decoration: underline;
}

/* Issues */
body.curam div.content-panel-detail div.tab-links div.link-wrapper div.link.icon-issues a,
body.curam div.content-panel-detail div.tab-links div.nolink-wrapper div.link.icon-issues {
  background: url("../../Images/icon_issue_case.png") left center no-repeat;
  padding-left: 30px;
}
body.curam div.content-panel-detail div.tab-links div.link-wrapper div.link.icon-issues a:hover,
body.curam div.content-panel-detail div.tab-links div.link-wrapper div.link.icon-issues a:focus,
body.curam div.content-panel-detail div.tab-links div.link-wrapper:hover div.link.icon-issues a,
body.curam div.content-panel-detail div.tab-links div.link-wrapper:focus div.link.icon-issues a {
  background-image: url("../../Images/icon_issue_case_hover.png");
  color: $cefwidgets_context-panel_link-hover-color;
}
body.curam div.content-panel-detail div.tab-links div.link-wrapper div.link.icon-issues a:hover,
body.curam div.content-panel-detail div.tab-links div.link-wrapper:hover div.link.icon-issues a {
  text-decoration: underline;
}

/* Legal Actions */
body.curam div.content-panel-detail div.tab-links div.link-wrapper div.link.icon-legal-actions a,
body.curam div.content-panel-detail div.tab-links div.nolink-wrapper div.link.icon-legal-actions {
  background: url("../../Images/icon_legal_actions.png") left center no-repeat;
  padding-left: 30px;
}
body.curam div.content-panel-detail div.tab-links div.link-wrapper div.link.icon-legal-actions a:hover,
body.curam div.content-panel-detail div.tab-links div.link-wrapper div.link.icon-legal-actions a:focus,
body.curam div.content-panel-detail div.tab-links div.link-wrapper:hover div.link.icon-legal-actions a,
body.curam div.content-panel-detail div.tab-links div.link-wrapper:focus div.link.icon-legal-actions a {
  background-image: url("../../Images/icon_legal_actions_hover.png");
  color: $cefwidgets_context-panel_link-hover-color;
}
body.curam div.content-panel-detail div.tab-links div.link-wrapper div.link.icon-legal-actions a:hover,
body.curam div.content-panel-detail div.tab-links div.link-wrapper:hover div.link.icon-legal-actions a {
  text-decoration: underline;
}

/* Appeals */
body.curam div.content-panel-detail div.tab-links div.link-wrapper div.link.icon-appeals a,
body.curam div.content-panel-detail div.tab-links div.nolink-wrapper div.link.icon-appeals {
  background: url("../../Images/icon_appeals.png") left center no-repeat;
  padding-left: 30px;
}
body.curam div.content-panel-detail div.tab-links div.link-wrapper div.link.icon-appeals a:hover,
body.curam div.content-panel-detail div.tab-links div.link-wrapper div.link.icon-appeals a:focus,
body.curam div.content-panel-detail div.tab-links div.link-wrapper:hover div.link.icon-appeals a,
body.curam div.content-panel-detail div.tab-links div.link-wrapper:focus div.link.icon-appeals a {
  background-image: url("../../Images/icon_appeals_hover.png");
  color: $cefwidgets_context-panel_link-hover-color;
}
body.curam div.content-panel-detail div.tab-links div.link-wrapper div.link.icon-appeals a:hover,
body.curam div.content-panel-detail div.tab-links div.link-wrapper:hover div.link.icon-appeals a {
  text-decoration: underline;
}

/* Verifications */
body.curam div.content-panel-detail div.tab-links div.link-wrapper div.link.icon-verifications a,
body.curam div.content-panel-detail div.tab-links div.nolink-wrapper div.link.icon-verifications {
  background: url("../../Images/icon_verifications.png") left center no-repeat;
  padding-left: 30px;
}
body.curam div.content-panel-detail div.tab-links div.link-wrapper div.link.icon-verifications a:hover,
body.curam div.content-panel-detail div.tab-links div.link-wrapper div.link.icon-verifications a:focus,
body.curam div.content-panel-detail div.tab-links div.link-wrapper:hover div.link.icon-verifications a,
body.curam div.content-panel-detail div.tab-links div.link-wrapper:focus div.link.icon-verifications a {
  background-image: url("../../Images/icon_verifications_hover.png");
  color: $cefwidgets_context-panel_link-hover-color;
}
body.curam div.content-panel-detail div.tab-links div.link-wrapper div.link.icon-verifications a:hover,
body.curam div.content-panel-detail div.tab-links div.link-wrapper:hover div.link.icon-verifications a {
  text-decoration: underline;
}

/* Evidence In Edit */
body.curam div.content-panel-detail div.tab-links div.link-wrapper div.link.icon-evidence-in-edit a,
body.curam div.content-panel-detail div.tab-links div.nolink-wrapper div.link.icon-evidence-in-edit {
  background: url("../../Images/icon_evidence_inedit.png") left center no-repeat;
  padding-left: 30px;
}
body.curam div.content-panel-detail div.tab-links div.link-wrapper div.link.icon-evidence-in-edit a:hover,
body.curam div.content-panel-detail div.tab-links div.link-wrapper div.link.icon-evidence-in-edit a:focus,
body.curam div.content-panel-detail div.tab-links div.link-wrapper:hover div.link.icon-evidence-in-edit a,
body.curam div.content-panel-detail div.tab-links div.link-wrapper:focus div.link.icon-evidence-in-edit a {
  background-image: url("../../Images/icon_evidence_inedit_hover.png");
  color: $cefwidgets_context-panel_link-hover-color;
}
body.curam div.content-panel-detail div.tab-links div.link-wrapper div.link.icon-evidence-in-edit a:hover,
body.curam div.content-panel-detail div.tab-links div.link-wrapper:hover div.link.icon-evidence-in-edit a {
  text-decoration: underline;
}

/* Underpayments */
body.curam div.content-panel-detail div.tab-links div.link-wrapper div.link.icon-underpayments a,
body.curam div.content-panel-detail div.tab-links div.nolink-wrapper div.link.icon-underpayments {
  background: url("../../Images/icon_underpayments.png") left center no-repeat;
  padding-left: 30px;
}
body.curam div.content-panel-detail div.tab-links div.link-wrapper div.link.icon-underpayments a:hover,
body.curam div.content-panel-detail div.tab-links div.link-wrapper div.link.icon-underpayments a:focus,
body.curam div.content-panel-detail div.tab-links div.link-wrapper:hover div.link.icon-underpayments a,
body.curam div.content-panel-detail div.tab-links div.link-wrapper:focus div.link.icon-underpayments a {
  background-image: url("../../Images/icon_underpayments_hover.png");
  color: $cefwidgets_context-panel_link-hover-color;
}
body.curam div.content-panel-detail div.tab-links div.link-wrapper div.link.icon-underpayments a:hover,
body.curam div.content-panel-detail div.tab-links div.link-wrapper:hover div.link.icon-underpayments a {
  text-decoration: underline;
}

/* Overpayments */
body.curam div.content-panel-detail div.tab-links div.link-wrapper div.link.icon-overpayments a,
body.curam div.content-panel-detail div.tab-links div.nolink-wrapper div.link.icon-overpayments {
  background: url("../../Images/icon_over_payment.png") left center no-repeat;
  padding-left: 30px;
}
body.curam div.content-panel-detail div.tab-links div.link-wrapper div.link.icon-overpayments a:hover,
body.curam div.content-panel-detail div.tab-links div.link-wrapper div.link.icon-overpayments a:focus,
body.curam div.content-panel-detail div.tab-links div.link-wrapper:hover div.link.icon-overpayments a,
body.curam div.content-panel-detail div.tab-links div.link-wrapper:focus div.link.icon-overpayments a {
  background-image: url("../../Images/icon_over_payment_hover.png");
  color: $cefwidgets_context-panel_link-hover-color;
}
body.curam div.content-panel-detail div.tab-links div.link-wrapper div.link.icon-overpayments a:hover,
body.curam div.content-panel-detail div.tab-links div.link-wrapper:hover div.link.icon-overpayments a {
  text-decoration: underline;
}

/* Open allegations */
body.curam div.content-panel-detail div.tab-links div.link-wrapper div.link.icon-open-allegations a,
body.curam div.content-panel-detail div.tab-links div.nolink-wrapper div.link.icon-open-allegations {
  background: url("../../Images/icon_allegation.png") left center no-repeat;
  padding-left: 30px;
}
body.curam div.content-panel-detail div.tab-links div.link-wrapper div.link.icon-open-allegation a:hover,
body.curam div.content-panel-detail div.tab-links div.link-wrapper div.link.icon-open-allegations a:focus,
body.curam div.content-panel-detail div.tab-links div.link-wrapper:hover div.link.icon-open-allegations a,
body.curam div.content-panel-detail div.tab-links div.link-wrapper:focus div.link.icon-open-allegations a {
  background-image: url("../../Images/icon_allegation_hover.png");
  color: $cefwidgets_context-panel_link-hover-color;
}
body.curam div.content-panel-detail div.tab-links div.link-wrapper div.link.icon-open-allegation a:hover,
body.curam div.content-panel-detail div.tab-links div.link-wrapper:hover div.link.icon-open-allegations a {
  text-decoration: underline;
}

/* Decided allegations */
body.curam div.content-panel-detail div.tab-links div.link-wrapper div.link.icon-decided-allegations a,
body.curam div.content-panel-detail div.tab-links div.nolink-wrapper div.link.icon-decided-allegations {
  background: url("../../Images/icon_decided_allegations.png") left center no-repeat;
  padding-left: 30px;
}
body.curam div.content-panel-detail div.tab-links div.link-wrapper div.link.icon-decided-allegations a:hover,
body.curam div.content-panel-detail div.tab-links div.link-wrapper div.link.icon-decided-allegations a:focus,
body.curam div.content-panel-detail div.tab-links div.link-wrapper:hover div.link.icon-decided-allegations a,
body.curam div.content-panel-detail div.tab-links div.link-wrapper:focus div.link.icon-decided-allegations a {
  background-image: url("../../Images/icon_decided_allegations_hover.png");
  color: $cefwidgets_context-panel_link-hover-color;
}
body.curam div.content-panel-detail div.tab-links div.link-wrapper div.link.icon-decided-allegations a:hover,
body.curam div.content-panel-detail div.tab-links div.link-wrapper:hover div.link.icon-decided-allegations a {
  text-decoration: underline;
}