/*______________________________________________________________________________
 * ListBodyRenderer.css
 *
 * Create styles that are applied to the HTML produce by the ListBodyRenderer
 */

.listcontroller {
  text-align: left;
  padding-bottom :5px;
  font-weight: bold;
  color: #7495CF;
}

span.list-info{
  text-align: left;
  padding-bottom: 4px;
  color: black;
  display: block;
}

.listcontroller .hide {
  margin-right: 5px;
  margin-top: 5px;
  cursor: pointer;
  float:left;
}

.listcontroller .show {
  margin-top: 5px;
  cursor: pointer;
  float:left;
}

.listcontroller .enabled img{
  opacity     : 1;
  filter      : alpha(opacity=100);
  vertical-align: bottom;
}

.listcontroller .disabled img{
  opacity : 0.4;
  filter  : alpha(opacity=40);
  vertical-align: bottom;
}

.list-body tbody tr.blocked {
  display                         : none;
}

.list-body th.table-header{
  font-weight: bold;
  padding-bottom: 4px;
  padding-left: 8px;
  border-right: 1px solid #D6D9E2;
  border-bottom: 1px solid #D6D9E2;
}

.list-body td{
  padding-bottom: 3px !important;
  padding-left: 8px !important;
  border-bottom: 0px;
}

table tbody.horiz-table-body th {
  color: #696969;
}

table tbody.horiz-table-body td {
  padding-bottom: 0px !important;
}

table tbody.horiz-table-body td.right {
  text-align: left;
}

.remove-button {
  display: inline-block;
  float: left;
  padding-top: 3px;
  padding-left: 8px;
  cursor:pointer;
}

.remove-button .podcontrol-button-left {
  padding-left:5px
}

.remove-button .podcontrol-button-right {
  padding-right:5px
}

.remove-button.button-disabled .podcontrol-button-left {
  background: url("../../Images/remove_left_ina.png") no-repeat scroll 0 0 transparent;
}

.remove-button.button-disabled .podcontrol-button-right {
  background: url("../../Images/remove_right_ina.png") no-repeat scroll right top transparent;
}

.remove-button.button-disabled .podcontrol-button-center {
  background: url("../../Images/remove_mid_ina.png");
  color: #BEBEBE;
  height:14px;
  padding-top: 0px;
  padding-bottom: 2px;
}

.remove-button.button-enabled .podcontrol-button-left {
  background: url("../../Images/remove_left_nor.png") no-repeat scroll 0 0 transparent;
  padding-left:5px
}

.remove-button.button-enabled .podcontrol-button-right {
  background: url("../../Images/remove_right_nor.png") no-repeat scroll right top transparent;
  padding-right:5px
}

.remove-button.button-enabled .podcontrol-button-center {
  background: url("../../Images/remove_mid_nor.png");
  color: #376F8F;
  height:14px;
  padding-top: 0px;
  padding-bottom: 2px;
}

.remove-button.button-enabled.hover .podcontrol-button-left {
  background: url("../../Images/remove_left_rol.png") no-repeat scroll 0 0 transparent;
}

.remove-button.button-enabled.hover .podcontrol-button-right {
  background: url("../../Images/remove_right_rol.png") no-repeat scroll right top transparent;
}

.remove-button.button-enabled.hover .podcontrol-button-center {
  background: url("../../Images/remove_mid_rol.png");
  color: #376F8F;
  height:14px;
  padding-top: 0px;
  padding-bottom: 2px;
}

td.action-menu-col {
 padding-right: 10px !important;
 padding-left: 2px !important;
 padding-top: 0px !important;
 padding-bottom:0px !important;
 width:13%;
}
.selector-col {
 padding-left: 10px !important;
 padding-right: 2px !important;
 width:10%;
}
.custom-list-row-menu {
  float:right;
}

table tbody.horiz-table-body th {
  color: #575757;
}


/* END ListBodyRenderer.css
 ______________________________________________________________________________*/
