/*______________________________________________________________________________
 * ListActionsRenderer.css
 *  
 * Create styles that are applied to the HTML produced by the List Actions Renderer 
 */

.soria .bx--cluster div.custom-list-row-menu .dijitButtonNode {
 background-image: url('../themes/v6/images/expand-list-action-button.png') !important; 
 border: none;
 height: 20px;
 width: 25px;
 padding: 0px;
}

.soria td div.custom-list-row-menu .dijitButtonNode {
  background-image: url('../themes/v6/images/expand-list-action-button.png') !important; 
  border: none;
  height: 20px;
  width: 25px;
  padding: 0px;
}

.soria td div.custom-list-row-menu .dijitButtonNode .dijitArrowButtonInner {
  background-image: none !important;
}

.soria div.custom-list-row-menu .dijitButtonNode {
background: transparent !important;
}

.custom-list-row-menu .dijitDropDownButton {
  margin: 0px;
}