/*______________________________________________________________________________
 * ListBodyRenderer_rtl.css
 *
 * Create styles that are applied to the HTML produce by the ListBodyRenderer
 */

.rtl span.list-info{
  text-align: right;
}

.rtl .list-body th.table-header{
  padding-left: 0px;
  padding-right: 8px;
  border-right: none;
  border-left: 1px solid #D6D9E2;
}

.rtl .list-body td{
  padding-left: 0px !important;
  padding-right: 8px !important;
}

.rtl td.action-menu-col {
 padding-right: 2px !important;
 padding-left: 10px !important;
}

.rtl .remove-button {
  float: right;
  padding-left: 0px;
  padding-right: 8px;
}

.rtl .custom-list-row-menu {
  float:left;
}


/* END ListBodyRenderer_rtl.css
 ______________________________________________________________________________*/