.RemoveFieldPadding table tbody tr td.field {
 padding:0px;
}

#note-history tr.title td * {
  vertical-align:baseline;
}

#note-history .title td{
  vertical-align:baseline;
}


#note-history .title span.date {
  margin-left: 10px;
}

#note-history .title span.location {
  margin-left: 10px;
}

#note-history .title span.date span {
  margin-right: 10px;
}

#note-history {
  overflow-y:auto;
  overflow-x:auto;
  height:auto;
  width:auto;
}

#note-history tr.body td{
  border:0px;
}

div.SETNOTEHEIGTH {
  height:250px;
}

#content > div.bx--cluster .bx--label > span {
  word-wrap: normal;
}

#note-history .title > * {
 padding-bottom: 0.25rem; /*ideally replace with $spacing-02*/
}

#note-history .rich-text {
 padding-bottom: 1.5rem; /*ideally replace with $spacing-06*/
}

