/*______________________________________________________________________________
 * overpayment_rtl.css
 *
 * Create styles that are applied to the HTML for the overpayment context details.
 */

.rtl .overpayment-details {
  float: right;
  padding-left: 0;
  padding-right: 15px;
}

.rtl .overpayment-details-table table td {
  padding-left: 0 !important;
  padding-right: 30px !important;
}

.rtl .overpayment-content-panel {
  left: 320px;
  right: 127px;
}

.rtl .overpayment-tab-details {
  padding-right: 0px;
  float: right;
}

.rtl .overpayment-chart-panel {
  right:auto;
  left:10px;
}

.rtl .overpayment-chart-detail {
  float:right;
  padding-right:0;
}

.rtl .overpayment-tab-details div.watermark {
  left: auto;
  right: 110px;
}

/*______________________________________________________________________________
 * end overpayment_rtl.css
 */

/* ======== Curam 2016 Styling ======== */

body.rtl.curam div#content div.context-panel-wrapper div.overpay-container-panel div.case-participant-panel {
  right: 0px;
}

body.rtl.curam .overpay-container-panel .image-panel-content .participant-image {
  left: auto;
  right: 16px
}

body.rtl.curam div.overpay-container-panel div.image-panel-content div.left-corner-image {
  right: 16px;
}

body.rtl.curam div.overpay-container-panel div.image-panel-content div.right-corner-image {
  right: 96px;
}

body.rtl.curam div.overpay-container-panel div.image-panel-content div.image-links {
  left: auto;
  right: 140px;
}

body.rtl.curam .overpayment-content-panel {
  right: 175px;
  left: 354px;
}

body.rtl.curam .overpayment-details .overpayment-type {
  text-align: right;
}

body.rtl.curam .overpayment-tab-details .pd-reference-id{
  right: auto;
}

body.rtl.curam .overpayment-details-table table .horiz-table-body td {
  padding-left: $infrastructure_normal_padding !important;
  padding-right: $infrastructure_very-big_padding !important;
}

body.rtl.curam div.content-panel-detail.overpayment-content-panel .overpayment-tab-details div.watermark {
  text-align: right;
  right: 15px;
}

body.rtl.curam .overpayment-chart-panel {
  right: auto;
}

body.rtl.curam .overpayment-chart-detail {
  border-left: none;
  border-right: 2px solid $infrastructure_primary-menu-and-border_background-color;
}
