#person-links {
  border:1px solid #7786B8;
}

#person-links div.top-panel table td{
    background-color:#E6EBF1;
    font-size: 75%;
    font-family: tahoma;
    color: #000000;
    font-weight: bold;
}

#person-links div.top-panel table  td.icon {
    width:15px;
    background-color:#E6EBF1;
}

#person-links div.top-panel table  td.issues {
    color:#6B6C6D;
}

#person-links div.top-panel table  td.legal-actions {
    color:#6B6C6D;
}

#person-links div.top-panel table  td.investigations {
    color:#3B7192;
}

#person-links div.top-panel table  td.incidents {
    color:#3B7192;
}

#person-links div.top-panel table  td.appeals {
    color:#3B7192;
}

#person-links div.bottom-panel table  td.icon {
    width:15px;
}

#person-links div.bottom-panel table  td.citizen-context-viewer {
    color:#3B7192;
}