#sample-border-container
    { width: 100%; height:280px;}
    
#sample-border-container div.content-panel-person-thumbnail{
width:15%;
}    
    
#sample-border-container div.content-panel-person-links,
#sample-border-container div.content-panel-person-thumbnail {
padding:0px;
}   


#sample-border-container #person-thumbnail-with-title {
width:100%;
}

#sample-border-container div.thumbnail-picker {
width:73%;
}

#sample-border-container div.person-links {
width:25%;
}


#sample-border-container div.person-links-ic {
margin-top:20px;
}

#sample-border-container div.thumbnail-picker #stackContainer div.stack-container-list {
height:230px;
}

#sample-border-container div.thumbnail-picker #stackContainer div.stack-container-photo {
height:230px;
}

#sample-border-container #Rotator_Demo {
width:99%;
}

