/*
 * Licensed Materials - Property of IBM
 *
 * PID 5725-H26
 *
 * Copyright IBM Corporation 2016,2021. All Rights Reserved.
 *
 * US Government Users Restricted Rights - Use, duplication or disclosure
 * restricted by GSA ADP Schedule Contract with IBM Corp.
 *
 */

.person-details  td.person-name {
	font-size: 125%;
	font-family: tahoma;
	color: #FB7803;
	font-weight: bold;
	padding-left:0px !important;
}

.person-details .person-id {
	font-size: 110%;
	font-family: tahoma;
	color: #FB7803;
	font-weight: bold;
	float:right;
}

.person-details  td.person-address {
	font-size: 110%;
	font-family: tahoma;
	color: #000000;
	font-weight: bold;
	padding-left:0px !important;
}

.person-details .ac {
    text-decoration: none;
    color: #3B7192;
    font-weight: bold;
    font-family: tahoma;
}

.person-details .person-contacts {
	padding-top: 20px;
	width: 70%;
}

.person-details .person-contacts td {
	font-size: 75%;
	font-family: tahoma;
	color: #737373;
}

.person-contacts td.phone {
	width: 25%;
}

.person-details .person-contacts td.email {
	color: #3B7192;
}

.person-details .person-contacts td.icon {
	width:15px;
}

.person-details .person-age  {
display:inline;
}

.person-details .content {
position:relative;
}

.person-details div.watermark {
color:gainsboro;
font-size:5em;
left:20%;
position:absolute;
top:20%;
}

.tab-details div.testwatermark {
color:gainsboro;
font-size:500%;
position:absolute;
top: 60px;
left: 130px;

}

.tab-details .test-content-participant-id {
	font-size: 120%;
	font-family: tahoma;
	color: #FB7803;
	font-weight: bold;
    padding-bottom:2px !important;
	padding-top: 0px;
	padding-right: 15px;
	background-color: white;
	position: absolute;
	right: 0px;
	top: 10px;
	padding-left: 5px;
	z-index: 0;
}

/* ======== Curam Styling 2016 ======== */

body.curam iframe.detailsPanelFrame {
  height: 100%;
}

body.curam div.context-panel-wrapper,
body.curam div.context-panel-wrapper div.person-container-panel {
  height: 100%;
}

body.curam div.context-panel-wrapper div.person-container-panel {
  height: auto;
  padding-top: 20px;
}

/* FIXME AB Should this be in the expandable lists styling? */
body.curam.list-inline-page div#content {
  height: auto;
  padding-bottom: 0px;
}

body.curam.list-inline-page div#content div.content-panel-detail.person-image-panel,
body.curam.list-inline-page div#content div.content-panel-detail.case-participant-panel {
  position: relative;
}

/* Change position of top of context panel container */
body.curam div.person-container-panel {
  top: 0px;
}

/* Remove wrapper elements */
body.curam div.wrapper div.wrapper-top,
body.curam div.wrapper div.wrapper-bottom,
body.curam div.wrapper div.wrapper-top div.left,
body.curam div.wrapper div.wrapper-top div.center div.right,
body.curam div.wrapper div.wrapper-bottom div.left,
body.curam div.wrapper div.wrapper-bottom div.center div.right,
body.curam div.wrapper .wrapper-top .center,
body.curam div.wrapper .wrapper-bottom .center {
  display: none;
}

/* Picture */

body.curam div.content-panel-detail.person-image-panel {
  width: 120px;
  height: 155px !important;
  top: 20px;
  left: 0px;
}
body.curam.list-inline-page div.content-panel-detail.person-image-panel,
body.curam.list-inline-page div.content-panel-detail.case-participant-panel {
  top: 0px;
}

body.curam div.content-panel-detail.person-image-panel div.image-panel-content,
body.curam div.content-panel-detail.case-participant-panel div.image-panel-content  {
  background-color: transparent;
}

body.curam div.image-panel-content {
  border: 0px;
}

body.curam div.image-panel-content div.image-display-only div.participant-image {
  width: 120px;
  height: 120px;
  padding: 0px;
}

body.curam div.image-panel-content div.image-display-only div.participant-image img {
  border-radius: 50%;
}

body.curam div.left-corner-image,
body.curam div.right-corner-image {
  width: 40px;
  height: 40px;
}

body.curam div.left-corner-image img,
body.curam div.right-corner-image img {
  width: 40px;
  height: 40px;
  padding: 10px;
}

body.curam div.right-corner-image {
  top: 0px;
  right: 0px;
}

body.curam div.content-panel-detail.person-image-panel div.image-panel-content div.right-corner-image a.ac {
  width: 40px;
  height: 40px;
  display: block;
}

/* ======== person-details-panel ======== */

body.curam div.content-panel-detail.person-details-panel-onecol {
  z-index: 0;
}

body.curam div.content-panel-detail.person-details-panel-onecol,
body.curam div.content-panel-detail.person-details-panel {
  left: 160px;
  right: 431px;
  width: calc(100% - 522px);
  background: none;
  top: 20px;
}

body.curam div.content-panel-detail.person-details-panel-no-links {
  left: 160px;
  width: calc(100% - 121px);
  background: none;
  top: 20px;
  bottom: 0px !important;
}

body.curam div.content-panel-detail.person-details-panel-no-links .content-name,
body.curam div.content-panel-detail.person-details-panel-onecol .content-name,
body.curam div.content-panel-detail.person-details-panel .content-name,
body.curam div.content-panel-detail.person-details-panel .content-person-name {
  font-family: $infrastructure_main-medium_font-family;
  font-size:21px;
  color:$infrastructure_primary-font_color;
  letter-spacing:-0.22px;
  text-align:left;
  padding-left: 0px;
  padding-bottom:5px;
}

body.curam div.content-panel-detail.person-details-panel-no-links .tab-details,
body.curam div.content-panel-detail.person-details-panel-onecol .tab-details,
body.curam div.content-panel-detail.person-details-panel .tab-details {
  height: 140px;
  border-left: none;
  border-right: none;
}

body.curam div.content-panel-detail.person-details-panel-no-links tr td.content-address,
body.curam div.content-panel-detail.person-details-panel-no-links div.content-address,
body.curam div.content-panel-detail.person-details-panel-no-links div.content-sex,
body.curam div.content-panel-detail.person-details-panel-no-links div.content-age,
body.curam div.content-panel-detail.person-details-panel-no-links div.phonenumber,
body.curam div.content-panel-detail.person-details-panel-no-links div.faxnumber,
body.curam div.content-panel-detail.person-details-panel-no-links div.email,
body.curam div.content-panel-detail.person-details-panel-onecol div.content-address,
body.curam div.content-panel-detail.person-details-panel-onecol div.content-sex,
body.curam div.content-panel-detail.person-details-panel-onecol div.content-age,
body.curam div.content-panel-detail.person-details-panel-onecol div.phonenumber,
body.curam div.content-panel-detail.person-details-panel-onecol div.faxnumber,
body.curam div.content-panel-detail.person-details-panel-onecol div.email,
body.curam div.content-panel-detail.person-details-panel div.email,
body.curam div.content-panel-detail.person-details-panel tr td.content-address,
body.curam div.content-panel-detail.person-details-panel div.content-address,
body.curam div.content-panel-detail.person-details-panel div.content-sex,
body.curam div.content-panel-detail.person-details-panel div.content-age,
body.curam div.content-panel-detail.person-details-panel div.phonenumber,
body.curam div.content-panel-detail.person-details-panel div.faxnumber {
	font-family: $infrastructure_main-regular_font-family;
	font-size:14px;
	line-height:20px;
	color:black;
	padding-left:0px;
	padding-bottom:0px;
}

body.curam div.content-panel-detail.person-details-panel-no-links a:hover,
body.curam div.content-panel-detail.person-details-panel-no-links a:focus,
body.curam div.content-panel-detail.person-details-panel-onecol a:hover,
body.curam div.content-panel-detail.person-details-panel-onecol a:focus,
body.curam div.content-panel-detail.person-details-panel a:hover,
body.curam div.content-panel-detail.person-details-panel a:focus {
	color:$cefwidgets_context-panel_link-hover-color;
}

body.curam div.content-panel-detail.person-details-panel-no-links a:hover,
body.curam div.content-panel-detail.person-details-panel-onecol a:hover,
body.curam div.content-panel-detail.person-details-panel a:hover {
	text-decoration: underline;
}

body.curam div.content-panel-detail.person-details-panel-no-links a,
body.curam div.content-panel-detail.person-details-panel-onecol a,
body.curam div.content-panel-detail.person-details-panel a {
	font-family: $infrastructure_main-medium_font-family;
	font-size:14px;
	line-height: 20px;
	color:$cefwidgets_context-panel_link-color;
	text-decoration: none;
}

body.curam div.content-panel-detail.person-details-panel-no-links div.content-contacts,
body.curam div.content-panel-detail.person-details-panel-onecol div.content-contacts,
body.curam div.content-panel-detail.person-details-panel div.content-contacts {
    padding-left: 0px;
    bottom: 0px;
    position: absolute;
  	padding-bottom: 20px;
  	min-width: 100%;
}

body.curam div.content-panel-detail.person-details-panel .tab-details div.content-contacts {
	padding-bottom: 0px;
}

body.curam div.content-panel-detail.person-details-panel-no-links div.tab-details div.email-details,
body.curam div.content-panel-detail.person-details-panel-onecol div.tab-details div.email-details,
body.curam div.content-panel-detail.person-details-panel div.tab-details div.email-details {
  float: left;
}

body.curam.details div.content-panel-detail.person-details-panel-no-links div.content-contacts,
body.curam.details div.content-panel-detail.person-details-panel-onecol div.content-contacts,
body.curam.details div.content-panel-detail.person-details-panel div.content-contacts {
  top: 120px;
}

body.curam div.content-panel-detail.person-details-panel-no-links div.tab-details img.iconHover,
body.curam div.content-panel-detail.person-details-panel-onecol div.tab-details img.iconHover,
body.curam div.content-panel-detail.person-details-panel div.tab-details img.iconHover {
  display:none;
}

body.curam div.content-panel-detail.person-details-panel-no-links div.content-map a,
body.curam div.content-panel-detail.person-details-panel-no-links div.phonenumber,
body.curam div.content-panel-detail.person-details-panel-no-links div.email a,
body.curam div.content-panel-detail.person-details-panel-no-links div.faxnumber,
body.curam div.content-panel-detail.person-details-panel-onecol div.content-map a,
body.curam div.content-panel-detail.person-details-panel-onecol div.phonenumber,
body.curam div.content-panel-detail.person-details-panel-onecol div.email a,
body.curam div.content-panel-detail.person-details-panel-onecol div.faxnumber,
body.curam div.content-panel-detail.person-details-panel div.content-map a,
body.curam div.content-panel-detail.person-details-panel div.phonenumber,
body.curam div.content-panel-detail.person-details-panel div.email a,
body.curam div.content-panel-detail.person-details-panel div.faxnumber {
    display: block;
	padding-top:0px;
}
body.curam div.content-panel-detail.person-details-panel-no-links div.content-map a,
body.curam div.content-panel-detail.person-details-panel-onecol div.content-map a,
body.curam div.content-panel-detail.person-details-panel div.content-map a {
  display: block;
    background: url("../../Images/icon_map.png") no-repeat left center;
}
body.curam div.content-panel-detail.person-details-panel-no-links div.content-map a:hover,
body.curam div.content-panel-detail.person-details-panel-no-links div.content-map a:focus,
body.curam div.content-panel-detail.person-details-panel-onecol div.content-map a:hover,
body.curam div.content-panel-detail.person-details-panel-onecol div.content-map a:focus,
body.curam div.content-panel-detail.person-details-panel div.content-map a:hover,
body.curam div.content-panel-detail.person-details-panel div.content-map a:focus {
    background: url("../../Images/icon_map_hover.png") no-repeat left center;
}

body.curam div.content-panel-detail.person-details-panel-no-links div.phonenumber,
body.curam div.content-panel-detail.person-details-panel-onecol div.phonenumber,
body.curam div.content-panel-detail.person-details-panel div.phonenumber {
   padding-left: 10px;
}
body.curam div.content-panel-detail.person-details-panel-no-links div.faxnumber,
body.curam div.content-panel-detail.person-details-panel-onecol div.faxnumber,
body.curam div.content-panel-detail.person-details-panel div.faxnumber {
    background: url("../../Images/icon_fax.png") no-repeat left center;
}

body.curam div.content-panel-detail.person-details-panel-no-links div.email,
body.curam div.content-panel-detail.person-details-panel-onecol div.email,
body.curam div.content-panel-detail.person-details-panel div.email {
	margin-right:0px;
	padding-top:0px;
	max-width: 270px;	
}

body.curam div.content-panel-detail.person-details-panel-no-links div.not-recorded.email,
body.curam div.content-panel-detail.person-details-panel-onecol div.not-recorded.email,
body.curam div.content-panel-detail.person-details-panel div.not-recorded.email {
    padding-left:10px;
}

body.curam div.content-panel-detail.person-details-panel-no-links div.email img,
body.curam div.content-panel-detail.person-details-panel-no-links div.not-recorded.email img,
body.curam div.content-panel-detail.person-details-panel-onecol div.email img,
body.curam div.content-panel-detail.person-details-panel-onecol div.not-recorded.email img,
body.curam div.content-panel-detail.person-details-panel div.email img,
body.curam div.content-panel-detail.person-details-panel div.not-recorded.email img{
   	padding-right: 10px;
}

body.curam div.content-panel-detail.person-details-panel-no-links .content-participant-id,
body.curam div.content-panel-detail.person-details-panel-onecol .content-participant-id,
body.curam div.content-panel-detail.person-details-panel .content-participant-id {
	background:none;
	font-family: $infrastructure_main-medium_font-family;
	font-size:14px;
	color:$infrastructure_primary-font_color;
	text-align:right;
	padding-right:22px;
}

body.curam div.content-panel-detail.person-details-panel-no-links div.content-age,
body.curam div.content-panel-detail.person-details-panel-onecol div.content-age,
body.curam div.content-panel-detail.person-details-panel div.content-age {
	padding-bottom:0px !important;
}

body.curam div.content-panel-detail.person-details-panel-no-links .tab-details div.watermark,
body.curam div.content-panel-detail.person-details-panel-onecol .tab-details div.watermark,
body.curam div.content-panel-detail.person-details-panel .tab-details div.watermark {
	color:#ad1625;
    font-family: $infrastructure_main-medium_font-family;
    font-size: 14px;
    z-index: inherit;
    line-height: 20px;
    position: inherit;
    top: inherit;
    left: inherit;
    filter: none;
    -moz-opacity: inherit;
    -khtml-opacity: inherit;
    opacity: inherit;
    background: none;
}

/* BEGIN, 200485, SH */
body.curam div.content-panel-detail.person-details-panel-no-links .tab-details div.prospectdupwatermark,
body.curam div.content-panel-detail.person-details-panel-onecol .tab-details div.prospectdupwatermark,
body.curam div.content-panel-detail.person-details-panel .tab-details div.prospectdupwatermark {
	color:#ad1625;
    font-family: $infrastructure_main-medium_font-family;
    font-size: 14px;
    z-index: inherit;
    line-height: 20px;
    position: inherit;
    top: inherit;
    left: inherit;
    filter: none;
    -moz-opacity: inherit;
    -khtml-opacity: inherit;
    opacity: inherit;
    background: none;
}
/* END, 200485 */


div.content-panel-detail a.ac:hover img.hoverIcon,
div.content-panel-detail a.ac:focus img.hoverIcon,
div.right-corner-image a.ac:hover img.hoverIcon,
div.right-corner-image a.ac:focus img.hoverIcon {
  display:block;
}

div.content-panel-detail a.ac:hover img.defaultIcon,
div.content-panel-detail a.ac:focus img.defaultIcon,
div.right-corner-image a.ac:hover img.defaultIcon,
div.right-corner-image a.ac:focus img.defaultIcon {
  display: none;
}

div.content-panel-detail a.ac img.hoverIcon,
div.right-corner-image a.ac img.hoverIcon {
  display:none;	
}  

div.content-panel-detail a.ac img.defaultHover,
div.right-corner-image a.ac img.defaultHover  {
  display:block;	
}  

div.content-panel-detail.person-details-panel-no-links div.email a.ac,
div.content-panel-detail.person-details-panel-onecol div.email a.ac,
div.content-panel-detail.person-details-panel div.email a.ac {
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  padding-left: 30px;
  white-space: nowrap;
}

div.content-panel-detail.person-details-panel-no-links div.email a.ac img.defaultIcon,
div.content-panel-detail.person-details-panel-onecol div.email a.ac img.defaultIcon,
div.content-panel-detail.person-details-panel div.email a.ac img.defaultIcon,
div.content-panel-detail.person-details-panel-no-links div.email a.ac img.hoverIcon,
div.content-panel-detail.person-details-panel-onecol div.email a.ac img.hoverIcon,
div.content-panel-detail.person-details-panel div.email a.ac img.hoverIcon{
  position: absolute;
  left: 0px;
  top: 0px;
}

/* ==== Person Details Panel Print Specific Styles ==== */
@media print {

  /* Prevent screenreader labels from being shown */
  div > div.hidden-screenreader-label {
    display: none;
  } 
  
  div.hidden-screenreader-label {
    display: none;
  }
  
  /* Have email appear on the same line as phone number when printing to prevent it being cut off  */
  body.curam.soria.list-inline-page div.content-panel-detail.person-details-panel-no-links div.email {
    width: auto;
  }
}

/* ======== end person-details-panel ======== */
