/*______________________________________________________________________________
 * PersonThumbnailDetails.css
 * 
 * Create styles that are applied to the Person Thumbnail Picker Image panels.
 *
 */
.person-thumbnail {
  width:170px;
}

.person-thumbnail .content {
  height:200px;
  width:100%;
}


.person-thumbnail .person-image img {
  padding-left:15%;
  padding-right:15%;
  padding-top:10%;
}

.person-thumbnail .edit-link {
  padding-bottom:5%;
  padding-left:40px;
  padding-top:5%;
}

.person-thumbnail .corner-image {
  position:absolute;
}

.person-thumbnail .reflection .corner-image {
  display:none;
}

.person-thumbnail-with-title .corner-image {
  position:absolute;
}

.person-thumbnail-with-title .name-title {
  background-color:#ebebeb;
  padding-bottom:0px !important;
  padding-left:0px !important;
}

.person-thumbnail-with-title .name-title td {
  background-color:#ebebeb;
  font-family:arial;
  font-size:100%;
  font-weight:bold;
  text-align:center;
}

.person-thumbnail-with-title div.title table td.icon-placeholder{
  background-color:#ebebeb;
  width:20px;
  padding-bottom:0px !important;
  padding-left:0px !important;
}
 
.person-thumbnail-with-title div.title table td.title{
  background-color:#ebebeb;
}

.person-thumbnail-with-title table {
  margin-top:0px;
}


.person-thumbnail-with-title .left-table td.age {
  font-size:90%;
}

.person-thumbnail-with-title .left-table td.relationship {
  font-weight:bold;
}

.person-thumbnail-with-title .right-table  {
margin-top:5px;
}

.person-thumbnail-with-title .right-table td.icon  {
padding:0px !important;
}

.tab-thumbnail-with-title {
  border-left: 1px solid #DADADA;
  border-right: 1px solid #DADADA;
  float: left;
  width: 100%;
  background-color: #FFFFFF;
}

.tab-thumbnail-with-title .name-one-title,
.tab-thumbnail-with-title .name-two-title {
  background-color:#ebebeb;
  text-align: center;
  font-family: tahoma;
  color: #3366FF;
  font-weight: bold;
}

.tab-thumbnail-with-title .name-one-title {
  padding-top: 2px;
}

.tab-thumbnail-with-title .name-two-title {
  padding-bottom: 3px;
}

.tab-thumbnail-with-title .corner-image {
  position:absolute;
}

.reflection .corner-image {
  display:none;
}

.tab-thumbnail-with-title .left-corner-image {
  position:absolute;
  left: 0px;
  top: 0px;
}

.tab-thumbnail-with-title div.title table td.icon-placeholder{
  background-color:#ebebeb;
  width:20px;
  padding-bottom:0px !important;
  padding-left:0px !important;
}
 
.tab-thumbnail-with-title div.title table td.title{
 background-color:#ebebeb;
}

.tab-thumbnail-with-title table {
margin-top:0px;
}

.tab-thumbnail-with-title .left-table {
float:left;
width:100px;
margin-top:5px;
margin-left: 13px;
}

.tab-thumbnail-with-title .left-table img {
  height: 95px;
  width: 90px;
}

.tab-thumbnail-with-title .left-table td {
text-align:center;
}

.tab-thumbnail-with-title .right-table  {
margin-top:5px;
}

.tab-thumbnail-with-title .right-table td.icon  {
padding:0px !important;
}

.tab-thumbnail-with-title div.left-table table td.relationship,
.tab-thumbnail-with-title div.left-table table td.age {
  text-align: center;
  font-family: tahoma;
  font-weight: bold;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  color: black;
}

.tab-thumbnail-with-title div.left-table table td.age  {
  margin-bottom: 5px;
}

.tab-thumbnail-with-title .left-table img {
  height: 95px;
  width: 90px;
}

.tab-thumbnail-with-title div.participant-image {
  height: 95px;
  width: 63%;
  padding-left: 17px;
  padding-top: 5px;
}

.tab-thumbnail-with-title div.participant-image-only {
  height: 95px;
  width: 63%;
  padding-left: 24px;
  padding-top: 5px;
}

.tab-thumbnail-with-title div.participant-image,
.tab-thumbnail-with-title div.age,
.tab-thumbnail-with-title div.age-display-only,
.tab-thumbnail-with-title div.relationship {
  float: left;
  clear: left;
}

.tab-thumbnail-with-title div.participant-image img {
  height:100%;
  width:100%;
}

.tab-thumbnail-with-title div.age,
.tab-thumbnail-with-title div.age-display-only,
.tab-thumbnail-with-title div.relationship {
  width: 100%;	
  text-align: center;
  font-family: tahoma;
  color: black;
}

.tab-thumbnail-with-title div.age-display-only,
.tab-thumbnail-with-title div.relationship {
  padding-top: 4px;
}

.tab-thumbnail-with-title div.age-display-only {
  padding-bottom: 3px;
}

.tab-thumbnail-with-title div.age {
  padding-top: 1px;
}


div.case-participant-panel {
  width: 107px;
  left: 10px;
  top: 0;
  position: absolute;
}

/*
* CR00461740
*/
.rtl div.case-participant-panel {
  left: auto;
  right: 10px;
}

div.rotator div.pane div.pane-item div.tab-thumbnail-with-title {
  background-color: #FFFFFF;
}

.tab-thumbnail-with-title .image-links  {
  padding-top: 5px;
}

.tab-thumbnail-with-title .image-links div.icon img {
  padding-left:7px;
}

.tab-thumbnail-with-title div.image-first-line,
.tab-thumbnail-with-title div.image-second-line {
  width: 100%;	
  text-align: center;
  font-family: tahoma;
  color: black;
  padding-top: 2px;
  padding-bottom: 2px;
  float: left;
  clear: left;
}

.tab-thumbnail-with-title div.image-first-line {
  font-weight: bold;
}

.pane-item .tab-thumbnail-with-title .left-corner-image {
  left: 9px;
}

/* end PersonThumbnailPicker.css */ 