/*______________________________________________________________________________
 * PersonThumbnailDetails_rtl.css
 * 
 * Create styles that are applied to the Person Thumbnail Picker Image panels.
 *
 */

.rtl .person-thumbnail .edit-link {
  padding-left:0;
  padding-right:40px;
}

.rtl .person-thumbnail-with-title .name-title {
  padding-right:0px !important;
}

.rtl .person-thumbnail-with-title div.title table td.icon-placeholder{
  padding-right:0px !important;
}

.rtl .tab-thumbnail-with-title {
  float: right;
}

.rtl .tab-thumbnail-with-title .left-corner-image {
  left: auto;
  right: 0px;
}

.rtl .tab-thumbnail-with-title div.title table td.icon-placeholder{
  padding-right:0px !important;
}

.rtl .tab-thumbnail-with-title .left-table {
float:right;
margin-left: 0;
margin-right: 13px;
}

.rtl .tab-thumbnail-with-title div.participant-image {
  padding-left: 0;
  padding-right: 17px;
}

.rtl .tab-thumbnail-with-title div.participant-image-only {
  padding-left: 0;
  padding-right: 24px;
}

.rtl .tab-thumbnail-with-title div.participant-image,
.rtl .tab-thumbnail-with-title div.age,
.rtl .tab-thumbnail-with-title div.age-display-only,
.rtl .tab-thumbnail-with-title div.relationship {
  float: right;
  clear: right;
}


.rtl div.case-participant-panel {
  left: auto;
  right: 10px;
}

.rtl .tab-thumbnail-with-title .image-links div.icon img {
  padding-left:0;
  padding-right:7px;
}

.rtl .tab-thumbnail-with-title div.image-first-line,
.rtl .tab-thumbnail-with-title div.image-second-line {
  float: right;
  clear: right;
}

.rtl .pane-item .tab-thumbnail-with-title .left-corner-image {
  left: auto;
  right: 9px;
}

/* end PersonThumbnailPicker_rtl.css */ 