.rtl .tab-details .test-content-participant-id {
	padding-right: 5px;
	right: auto;
	left: 0px;
	padding-left: 15px;
}

/* ======== Curam Styling 2016 ======== */

body.rtl.curam div.image-panel-content div.left-corner-image {
  right: 0px;
}

body.rtl.curam div.image-panel-content div.right-corner-image {
  right: 80px;
}

body.rtl.curam div.person-image-panel {
  right: 0px;
}

body.rtl.curam div.content-panel-detail.person-details-panel-onecol,
body.rtl.curam div.content-panel-detail.person-details-panel {
  left: 431px;
  right: 160px;
}

/* ======== person-details-panel ======== */
body.rtl.curam div.content-panel-detail.person-details-panel-no-links
{
    right: 160px;
}

body.rtl.curam div.content-panel-detail.person-details-panel div.content-name,
body.rtl.curam div.content-panel-detail.person-details-panel div.content-person-name,
body.rtl.curam div.content-panel-detail.person-details-panel div.content-address,
body.rtl.curam div.content-panel-detail.person-details-panel div.content-sex,
body.rtl.curam div.content-panel-detail.person-details-panel div.content-age,
body.rtl.curam div.content-panel-detail.person-details-panel div.phonenumber,
body.rtl.curam div.content-panel-detail.person-details-panel div.content-contacts,
body.rtl.curam div.content-panel-detail.person-details-panel-onecol div.content-name,
body.rtl.curam div.content-panel-detail.person-details-panel-onecol div.content-address,
body.rtl.curam div.content-panel-detail.person-details-panel-onecol div.content-sex,
body.rtl.curam div.content-panel-detail.person-details-panel-onecol div.content-age,
body.rtl.curam div.content-panel-detail.person-details-panel-onecol div.phonenumber,
body.rtl.curam div.content-panel-detail.person-details-panel-onecol div.content-contacts,
body.rtl.curam div.content-panel-detail.person-details-panel-no-links div.content-name,
body.rtl.curam div.content-panel-detail.person-details-panel-no-links div.content-address,
body.rtl.curam div.content-panel-detail.person-details-panel-no-links div.content-sex,
body.rtl.curam div.content-panel-detail.person-details-panel-no-links div.content-age,
body.rtl.curam div.content-panel-detail.person-details-panel-no-links div.phonenumber,
body.rtl.curam div.content-panel-detail.person-details-panel-no-links div.content-contacts
{
	text-align: right;
  padding-right: 0px;
}

body.rtl.curam.details div.content-panel-detail.person-details-panel .content-participant-id,
body.rtl.curam.details div.content-panel-detail.person-details-panel-onecol .content-participant-id,
body.rtl.curam.details div.content-panel-detail.person-details-panel-no-links .content-participant-id
{
	left: 0px;
	padding-left: 22px !important;
}

body.rtl.curam div.content-panel-detail.person-details-panel div.content-map,
body.rtl.curam div.content-panel-detail.person-details-panel div.phonenumber,
body.rtl.curam div.content-panel-detail.person-details-panel div.faxnumber,
body.rtl.curam div.content-panel-detail.person-details-panel div.email,
body.rtl.curam div.content-panel-detail.person-details-panel-no-links div.faxnumber,
body.rtl.curam div.content-panel-detail.person-details-panel div.not-recorded.email,
body.rtl.curam div.content-panel-detail.person-details-panel-no-links div.not-recorded.email,
body.rtl.curam div.content-panel-detail.person-details-panel div.email a,
body.rtl.curam div.content-panel-detail.person-details-panel-no-links div.email a,
body.rtl.curam div.content-panel-detail.person-details-panel div.content-map a:hover,
body.rtl.curam div.content-panel-detail.person-details-panel div.content-map a:focus,
body.rtl.curam div.content-panel-detail.person-details-panel div.email a:hover,
body.rtl.curam div.content-panel-detail.person-details-panel div.email a:focus,
body.rtl.curam div.content-panel-detail.person-details-panel-onecol div.content-map,
body.rtl.curam div.content-panel-detail.person-details-panel-onecol div.phonenumber,
body.rtl.curam div.content-panel-detail.person-details-panel-onecol div.faxnumber,
body.rtl.curam div.content-panel-detail.person-details-panel-onecol div.email,
body.rtl.curam div.content-panel-detail.person-details-panel-onecol div.content-map a:hover,
body.rtl.curam div.content-panel-detail.person-details-panel-onecol div.content-map a:focus,
body.rtl.curam div.content-panel-detail.person-details-panel-onecol div.email a:hover,
body.rtl.curam div.content-panel-detail.person-details-panel-onecol div.email a:focus,
body.rtl.curam div.content-panel-detail.person-details-panel-no-links div.content-map,
body.rtl.curam div.content-panel-detail.person-details-panel-no-links div.phonenumber,
body.rtl.curam div.content-panel-detail.person-details-panel-no-links div.faxnumber,
body.rtl.curam div.content-panel-detail.person-details-panel-no-links div.email,
body.rtl.curam div.content-panel-detail.person-details-panel-no-links div.content-map a:hover,
body.rtl.curam div.content-panel-detail.person-details-panel-no-links div.content-map a:focus,
body.rtl.curam div.content-panel-detail.person-details-panel-no-links div.email a:hover,
body.rtl.curam div.content-panel-detail.person-details-panel-no-links div.email a:focus
{
    background-position: right center;
}

body.rtl.curam div.content-panel-detail.person-details-panel-no-links div.content-map a,
body.rtl.curam div.content-panel-detail.person-details-panel-no-links div.phonenumber,
body.rtl.curam div.content-panel-detail.person-details-panel-no-links div.email a,
body.rtl.curam div.content-panel-detail.person-details-panel-no-links div.faxnumber,
body.rtl.curam div.content-panel-detail.person-details-panel-onecol div.content-map a,
body.rtl.curam div.content-panel-detail.person-details-panel-onecol div.phonenumber,
body.rtl.curam div.content-panel-detail.person-details-panel-onecol div.email a,
body.rtl.curam div.content-panel-detail.person-details-panel-onecol div.faxnumber,
body.rtl.curam div.content-panel-detail.person-details-panel div.content-map a,
body.rtl.curam div.content-panel-detail.person-details-panel div.phonenumber,
body.rtl.curam div.content-panel-detail.person-details-panel div.email a,
body.rtl.curam div.content-panel-detail.person-details-panel-no-links div.not-recorded.email,
body.rtl.curam div.content-panel-detail.person-details-panel div.not-recorded.email
{
    padding-right: 30px;
    padding-left: 20px;
}

/* ======== end person-details-panel ======== */
