/*______________________________________________________________________________
 * PodBodyRenderer_rtl.css
 *
 * Create styles that are applied to the HTML produce by the PodBodyRenderer.
 */

body.rtl.curam.soria .dojoxPortlet .dijitClosed .dojoxArrowDown, 
body.rtl.curam.soria .dndCover .dijitClosed .dojoxArrowDown, 
body.rtl.curam.soria .dojoxPortlet .dijitOpen .dojoxArrowDown,
body.rtl.curam.soria .dndCover .dijitOpen .dojoxArrowDown{
	float: right; 
}

body.rtl.curam.soria .dojoxPortlet .dijitClosed .dojoxArrowDown, 
body.rtl.curam.soria .dndCover .dijitClosed .dojoxArrowDown {
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1); 
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

body.rtl.curam.soria .pod-container td.gridContainerZone:last-child .pod-styling {  
    margin-right: 0px !important; 
    margin-left: 40px !important; 
}

body.rtl.curam.soria .pod-container td.gridContainerZone:first-child .pod-styling {  
    margin-right: 40px !important; 
    margin-left: 30px !important;   
}

body.rtl.curam.soria .pod-body a.pod-home-link-image {
    margin: 0 5px 0 0;
}

body.rtl.curam.soria .pod-body div.pod-home-link {
	text-align: left !important;
}

body.rtl.curam.soria .pod-body .button-link .actioncontrol-button-center a,
body.rtl.curam.soria .pod-body .button-link.hover .actioncontrol-button-center a,
body.rtl.curam.soria .pod-body .button-link .actioncontrol-button-center a:focus {
    padding: 0 0 3px 30px;
    background-position: left;
}

body.rtl.curam.soria .pod-body .list-body tbody td.field {
	text-align: right !important;
}
    
body.rtl.curam.soria .pod-body span.list-info { 
	text-align: right !important;
}

body.rtl.curam.soria .pod-container .gridContainerZone .pod-styling .filters .portlet-controls, 
body.rtl.curam.soria .dndCover .pod-styling .filters .portlet-controls {
    float: left;
}

body.rtl.curam.soria .pod-container .gridContainerZone .pod-styling .filter-title, 
body.rtl.curam.soria .dndCover .pod-styling .filter-title {
    float: right;
    margin-right: 0;
    margin-left: 30px;
}

body.rtl.curam.soria .pod-container .gridContainerZone .pod-styling .filter-content, 
body.rtl.curam.soria .dndCover .pod-styling .filter-content {
	float: right;
}

body.rtl.curam.soria .pod-container .gridContainerZone .pod-styling .filters select, 
body.rtl.curam.soria .dndCover .pod-styling .filters select {
	background-position: left;
}

body.rtl.curam.soria .pod-container .gridContainerZone .pod-styling .filters .portlet-controls .filter-button, 
body.rtl.curam.soria .dndCover .pod-styling .filters .portlet-controls .filter-button {
	float: left; 
} 

body.rtl.curam.soria .filter-content .checkbox-container {
	float: right;
} 

body.rtl.curam.soria .pod-container .filter-content .checkbox-container .checkbox-label {
	margin-right: 0;
	margin-left: 25px;
} 

body.rtl.curam.soria .pod-container .gridContainerZone .pod-styling .filter-content .radiobutton-label, 
body.rtl.curam.soria .dndCover .pod-styling .filter-content .radiobutton-label {
    margin: 0 5px 0 35px;
}

body.rtl.curam.soria .pod-container .gridContainerZone .pod-styling .filters select, 
body.rtl.curam.soria .dndCover .pod-styling .filters select {
    padding-left: 20px;
    padding-right: 5px;
} 
    

.rtl div.pod-styling .list-body th.table-header{
  padding-left: 0;
  padding-right: 8px;
}

.rtl .filter {
  margin: 5px 9px 0px 5px;
}

.rtl .filter-content {
  float:right;
}

.rtl .filter-content .radiobutton-label {
  margin-left: 0;
  margin-right: 10px;
}

.rtl .filter-title {
  float: right;
}

.rtl div.pod-home-link {
  padding-right: 0;
  padding-left: 4px;
  text-align: left;
}

.rtl a.pod-home-link-text {
  margin-right:0;
  margin-left:5px;
}

.rtl a.pod-home-link-image {
  margin-right:0;
  margin-left:8px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.rtl .pod-body .center{
  text-align: right;
}

/*
 * iconWrapper id added to the following icon related rules to enable correct 
 * ordering of HTML for screen reader accessibility, see [CR00287888] for 
 * further details if needed.
 */
.rtl .soria .dojoxPortlet .dojoxPortletSettingsIcon,
.rtl .soria .dojoxPortlet .iconWrapper .dojoxPortletSettingsIcon,
.rtl .soria .dojoxPortlet .dojoxPortletSettingsIcon.dojoxPortletSettingsIconHover,
.rtl .soria .dojoxPortlet .iconWrapper .dojoxPortletSettingsIcon.dojoxPortletSettingsIconHover {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.rtl .soria .dojoxPortlet .dojoxCloseNode,
.rtl .soria .iconWrapper .dojoxPortlet .dojoxCloseNode {
  margin-right: 0;
  margin-left: 6px;
}

/*
* Override Portlet.css styling rule, change float from right to left
*/
.rtl .dojoxPortlet .dijitTitlePaneTitle .iconWrapper .dojoxPortletIcon {
  float: right;
}

.rtl .dojoxPortlet .dijitTitlePaneTitle .iconWrapper {
  float: left;
}

.rtl .background .pod-list {
  float: right;
}

.rtl .num-list-items {
  margin-right: 0;
  margin-left: 5px;
  float: left;
}

.rtl .portlet-controls {
  float: left;
  margin-right:0;
  margin-left:5px;
}

.rtl .filter-button {
 float: left;
 padding-right: 0;
 padding-left: 4px;
}

.rtl .filter-button.cancel {
 padding-right: 0;
 padding-left: 10px;
}

.rtl .filter-button .podcontrol-button-right {
  margin: 0 2px 0 0;
  padding: 0 0 0 4px;

}

.rtl .filter-button .podcontrol-button-center {
  padding:1px 5px 1px 1px;
}

.rtl .pod-body table tbody tr td.body-last-cell {
  padding-right: 0;
  padding-left: 8px;
}

/* END PodBodyRender_rtl.css
 ______________________________________________________________________________*/