/* *
 * Licensed Materials - Property of IBM
 *
 * PID 5725-H26
 *
 * Copyright IBM Corporation 2016,2021. All Rights Reserved.
 *
 * US Government Users Restricted Rights - Use, duplication or disclosure
 * restricted by GSA ADP Schedule Contract with IBM Corp.
 * */
/*______________________________________________________________________________
 * PodBodyRenderer.css
 *
 * Create styles that are applied to the HTML produce by the PodBodyRenderer.
 */

.soria .gridContainer{
  padding: 0px;
}
div.pod-styling * div.dijitTitlePaneContentInner{
  padding: 0px;
}

div.pod-styling * div.dojoxPortletSettingsContainer{
  padding: 0px; 
}

.portlet-options-table td {
  background-color:#E0E3EE; /*ie6&7 do not support inherit*/
  border-left: 3px solid #E0E3EE;
  border-right: 3px solid #E0E3EE;
}

.soria div.filter-content table tr { 
  background-color: #B0C0C7;
}

.soria div.filter-content table td {
  background-color: #B0C0C7;
  padding-bottom: 5px;
}

.soria .dojoxPortlet .dijitTitlePaneContentOuter {
  border: none;
}

.soria .dojoxPortlet .dijitTitlePaneTitle {
  font-size: 1em;
  border: none;
  padding-bottom:0;
  padding-top:0;
  margin-bottom:0;
  height:22px;
}

.soria .dojoxPortlet .dijitTitlePaneTitle span {
  color: #ffffff;
}

.soria .dojoxPortlet .dijitOpen .dojoxArrowDown {
  background-image:url("../../Images/white_arrow_open.png");
  background-position: 0 bottom !important;
  float:left;
  margin-left: 6px;
}

.soria .dojoxPortlet  .dijitClosed .dojoxArrowDown {
  background-image:url("../../Images/white_arrow_closed.png");
  background-position: -1 bottom !important;
  float:left;
  margin-left: 6px;
}

/*
 * iconWrapper id added to the following icon related rules to enable correct 
 * ordering of HTML for screen reader accessibility, see [CR00287888] for 
 * further details if needed.
 */
.soria .dojoxPortlet .dojoxPortletSettingsIcon,
.soria .dojoxPortlet .iconWrapper .dojoxPortletSettingsIcon,
.soria .dojoxPortlet .dojoxPortletSettingsIcon.dojoxPortletSettingsIconHover,
.soria .dojoxPortlet .iconWrapper .dojoxPortletSettingsIcon.dojoxPortletSettingsIconHover {
  background-position:0 0px !important;
  padding-right: 4px;
}

.soria .dojoxPortlet .dojoxPortletSettingsIcon,
.soria .dojoxPortlet .iconWrapper .dojoxPortletSettingsIcon {
  background-image:url("../../Images/filter_nor.png") !important;
}

.soria .dojoxPortlet .dojoxPortletSettingsIconHover,
.soria .dojoxPortlet .iconWrapper .dojoxPortletSettingsIconHover {
  background-image:url("../../Images/filter_roll.png") !important;
}

.soria .dojoxPortlet .dojoxPortletSettingsIconSelect,
.soria .dojoxPortlet .iconWrapper .dojoxPortletSettingsIconSelect {
  background-image:url("../../Images/filter_sel.png") !important;
}
.soria .dojoxPortlet .dojoxCloseNode,
.soria .iconWrapper .dojoxPortlet .dojoxCloseNode {
  background-image: url("../../Images/exit_nor.png") !important;
  background-position: center;
  margin-right: 6px;
}

.soria .dojoxPortlet .dojoxCloseNodeHover
.soria .dojoxPortlet .iconWrapper .dojoxCloseNodeHover {
  background-image: url("../../Images/exit_roll.png") !important;
  background-position: center;
}

.soria .dojoxPortlet .dojoxCloseNodeSelect,
.soria .dojoxPortlet .iconWrapper .dojoxCloseNodeSelect {
  background-image: url("../../Images/exit_sel.png") !important;
  background-position: center;
}

/*
* Override Portlet.css styling rule, change float from right to left
*/
.dojoxPortlet .dijitTitlePaneTitle .iconWrapper .dojoxPortletIcon {
  background-repeat: no-repeat;
  cursor: pointer;
  float: left;
  height: 15px;
  width: 15px;
}

.dojoxPortlet .dijitTitlePaneTitle .iconWrapper {
  float: right;
}



.dijitTitlePane div.dijitTitlePaneTitle {
  background-image: url("../../Images/pod_title_default_cc.png");
  background-repeat: repeat-x;
  background-color: #7495CF;
}

.pod-styling div.dijitTitlePaneTitle {
  border: none;
}

.soria div.pod-styling .dijitTitlePane{
  border: none;
}
.soria div.pod-styling .dijitTitlePaneContentOuter{
  border: none;
}
.soria div.pod-styling .dijitTitlePaneContentWipeNode{
  background-color: #e2e7ed;
}
.soria div.roundy-pod-top {
  height: 6px;
  width: 100%;
}

.soria div.roundy-pod-top .title-left {
  height: 10px;
  background-image: url("../../Images/pod_title_default_tl.png");
  background-color: #FFF;
  float:left;
  width: 6px;
  height:6px;
}

.soria div.roundy-pod-top .title-center {
  height: 6px;
  background-image: url("../../Images/pod_title_default_tc.png");
}

.soria div.roundy-pod-top .title-right {
  background-image: url("../../Images/pod_title_default_tr.png");
  background-color: #FFF;
  width:6px;
  height:6px;
  float:right;
}


#PT2006_body .pod-link {
  background-color: transparent;
}

#PT2006_body .dijitAccordionContainer {
  border: 0px;
}

#PT2006_body .dijitAccordionTitle {
  background: #EFF6FF;
  border: 1px solid #E0E7EF;
  padding-right: 0px;
  padding-left: 0px;
}

#PT2006_body .dijitAccordionTitle-selected {
  background: none;
  border: none;
  padding-right: 0px;
  padding-left: 0px;
}

#PT2010_body div.dijitTitlePane .dijitOpen .dijitArrowNode { 
  background-image:url("../../Images/white_arrow_open.png");
  background-position: 0 bottom !important;
}

#PT2010_body div.dijitTitlePane .dijitClosed .dijitArrowNode {
  background-image:url("../../Images/white_arrow_closed.png");
  background-position: 0 bottom !important;
}


.background {
  background-color: #ffffff;
  border-left: 1px solid #DADADA;
  border-right: 1px solid #DADADA;
  width: 100%;
}

.background .pod-list {
  float: left;
}

.pod-body .list-body {
  border-left: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
  border-top: 1px solid #FFFFFF;
  border-bottom: 0px;
}

.num-list-items {
  color: #FB7803;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-right: 5px;
  float: right;
}

/* BEGIN, CR00444326, JAF */
.portlet-controls {
  float: right;
  height: 22px;
  width: 20%;
  padding-top: 15px;
  margin-right:5px;
  border-top: 1px solid #A3B3BB;
}

.filter-button {
 float: left;
 padding-right: 4px;
}

.filter-button.cancel {
 float: right;
 padding-right: 10px;
}
/* END, CR00444326 */

.filter-button .podcontrol-button-left {
  background: url("../../Images/update_left_nor.png") no-repeat scroll 0 0 transparent;
  display: table;
  display: inline-block;
  float: none;
  height: 16px;
  padding: 0;
  top: 1px;
  z-index: 3;

}

.filter-button .podcontrol-button-right {

  background: url("../../Images/update_right_nor.png") no-repeat scroll right top transparent;
  display: inline-block;
  height: 16px;
  margin: 0 0 0 2px;
  padding: 0 4px 0 0;

}

.filter-button .podcontrol-button-center {

  background-image: url("../../Images/update_mid_nor.png");
  background-repeat: repeat-x;
  display: inline-block;
  height: 16px;
  padding:1px 1px 1px 5px;
  cursor: pointer;
}

.filter-button .podcontrol-button-center {
  color: #5D6978;
}

.filter-button.hover .podcontrol-button-center {
  color: #F39002;
}

table td input[type=checkbox] {
  cursor: pointer;
}

.pod-body table tbody tr td.body-last-cell {
  padding-right: 8px;
}

#border-layout .north {
  padding-bottom: 0px;
}

div.pod-error{ 
  background-color:white;
  color:red;
  width:100%;
  white-space:normal;
}

/*
 * Rule used for testing the styling of list column titles.
 */
tr.hideColumnTitle,
th.hideColumnTitle {
  position: absolute;
  left: -100000px;
}

/* POD MAIN CONTAINER */
body.curam.soria .pod-container .gridContainerZone > * { 
    margin: 10px 3px 0 0 !important;
}

body.curam.soria .pod-container .gridContainerZone {
    vertical-align: top;
    background-color: $infrastructure_primary-background_color;
    height: 100%;
}

body.curam.soria .pod-container .gridContainerZone .dropIndicator {
    border: 2px dashed $infrastructure_primary-menu-and-border_background-color; 
    border-radius: 8px;
    width: 94%;  
    margin-left: 30px !important;     
    background: url("../../Images/move--20-enabled.svg") no-repeat center;  
}  

body.curam.soria .pod-container .gridContainerZone .pod-styling {
	margin-left: 30px !important;     
}
  
body.curam.soria .pod-container td.gridContainerZone:last-child .pod-styling {   
    margin-right: 40px !important; 
}

body.curam.soria .pod-container td.gridContainerZone:first-child .pod-styling { 
    margin-left: 40px !important;
}

body.curam.soria .pod-container .gridContainerZone .pod-styling:not(:first-child) {
    margin-top: 20px !important; 
}

body.curam.soria .pod-container .gridContainerZone .pod-styling, 
body.curam.soria .dndCover .pod-styling { 
	border-radius: 0;
	background: $infrastructure_primary-menu-and-border_background-color;
}


/* POD TITLE TEXT */
body.curam.soria .pod-container .dojoxPortlet .dijitTitlePaneTitle span.dijitTitlePaneTextNode, 
body.curam.soria .dndCover .dojoxPortlet .dijitTitlePaneTitle span.dijitTitlePaneTextNode { 
    height: 26px;
    margin: 5px 10px;
    font-family: $infrastructure_main-regular_font-family;
	font-size: $infrastructure_heading-four_font-size;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	color: $infrastructure_primary-font_color;  
    display: inline-block;
    line-height: normal;
    width: calc(100% - 89px) !important;   
}

body.curam.soria .pod-container .dojoxPortlet .dijitTitlePaneTitle span.dijitArrowNodeInner {
	display: none;
} 

/* POD CLOSE ICON */
body.curam.soria .pod-container .dojoxPortlet .dojoxCloseNode, 
body.curam.soria .dndCover .dojoxPortlet .dojoxCloseNode  { 
	background-image: url("../../Images/close--20-enabled.svg") !important; 
    background-position: center;
    margin: 8px 0 0 0;
    width: 20px;
    height: 20px;  
} 
body.curam.soria .pod-container .dojoxPortlet .dojoxCloseNode:hover, 
body.curam.soria .pod-container .dojoxPortlet .dojoxCloseNode:focus, 
body.curam.soria .dndCover .dojoxPortlet .dojoxCloseNode:hover, 
body.curam.soria .dndCover .dojoxPortlet .dojoxCloseNode:focus {  
	background-image: url("../../Images/close--20-enabled.svg") !important; 
}

/* POD COLLAPSE ICON */
body.curam.soria .dojoxPortlet .dijitOpen .dojoxArrowDown,
body.curam.soria .dndCover .dijitOpen .dojoxArrowDown {
    background-image: url("../../Images/chevron--down20-enabled.svg");
    background-position: center !important;
    float: left;
    margin: 8px 0 0 0; 
    width: 20px;
    height: 20px;
}

body.curam.soria .dojoxPortlet .dijitOpen .dojoxArrowDown:hover, 
body.curam.soria .dojoxPortlet .dijitOpen .dojoxArrowDown:focus, 
body.curam.soria .dndCover .dijitOpen .dojoxArrowDown:hover,
body.curam.soria .dndCover .dijitOpen .dojoxArrowDown:focus {
	background-image: url("../../Images/chevron--down20-enabled.svg");
}

body.curam.soria .dojoxPortlet .dijitClosed .dojoxArrowDown,
body.curam.soria .dndCover .dijitClosed .dojoxArrowDown {
    background-image: url("../../Images/chevron--right20-enabled.svg");
    background-position: center !important;
    float: left;
    margin: 8px 0 0 0; 
    width: 20px;
    height: 20px;
} 
  
body.curam.soria .dojoxPortlet .dijitClosed .dojoxArrowDown:hover, 
body.curam.soria .dojoxPortlet .dijitClosed .dojoxArrowDown:focus, 
body.curam.soria .dndCover  .dijitClosed .dojoxArrowDown:hover,
body.curam.soria .dndCover  .dijitClosed .dojoxArrowDown:focus {
	background-image: url("../../Images/chevron--right20-enabled.svg");
}

/* POD - EDIT / PENCIL - ICON */
body.curam.soria .pod-container .dojoxPortlet .dojoxPortletSettingsIcon,
body.curam.soria .dndCover .dojoxPortletSettingsIcon  {
    background: url("../../Images/edit--20-enabled.svg") no-repeat center !important;
    margin: 8px 8px 0 0; 
    padding: 0;
    width: 20px;
    height: 20px;
}

body.curam.soria .pod-container .dojoxPortlet .dojoxPortletSettingsIcon.dojoxPortletSettingsIconSelect,
body.curam.soria .dndCover .dojoxPortletSettingsIcon.dojoxPortletSettingsIconSelect { 
	background: url("../../Images/edit--20-enabled.svg") no-repeat center !important; 
    margin: 8px 8px 0 0;
    padding: 0;
    width: 20px;
    height: 20px; 
} 

body.curam.soria .pod-container .dojoxPortlet .dojoxPortletSettingsIcon.dojoxPortletSettingsIconHover, 
body.curam.soria .dndCover .dojoxPortletSettingsIcon.dojoxPortletSettingsIconHover { 
	background: url("../../Images/edit--20-enabled.svg") no-repeat center !important; 
    margin: 8px 8px 0 0;
    padding: 0;
    width: 20px;
    height: 20px;  
}

/* POD TITLE CONTAINER */
body.curam.soria .pod-container .pod-styling  .dijitTitlePaneTitle, 
body.curam.soria .dndCover .pod-styling  .dijitTitlePaneTitle {
    height: 36px;
    background: infrastructure_primary-menu-and-border_background-color;
    padding: 0;
    border: none;
    border-bottom: 0;
    margin: 0 15px; 
}

/* POD BODY */
body.curam.soria .pod-container .pod-styling .dijitTitlePaneContentWipeNode, 
body.curam.soria .dndCover .pod-styling .dijitTitlePaneContentWipeNode { 
	background: $infrastructure_primary-menu-and-border_background-color;
}

body.curam.soria .pod-container .pod-styling  .dijitTitlePaneContentOuter .dijitTitlePaneContentInner, 
body.curam.soria .dndCover  .pod-styling  .dijitTitlePaneContentOuter .dijitTitlePaneContentInner {
	margin: 0 15px;
} 

body.curam.soria .pod-container .pod-styling  .pod-body, 
body.curam.soria .dndCover  .pod-styling  .pod-body  {  
  padding: 0 10px 10px 10px !important;
  background-color: $infrastructure_primary-menu-and-border_background-color;
}  

body.curam.soria div.roundy-pod-bottom {
    height: 0px;
    margin: 0;
    background: none;
    box-shadow: none;
}
 
/* Hide the POD footer when closed */
body.curam.soria .pod-container .dijitClosed~.roundy-pod-bottom { 
	padding-bottom: 5px;
    background: $infrastructure_primary-background_color; 
    box-shadow: none;
}

body.curam.soria div.roundy-pod-bottom .center, 
body.curam.soria div.roundy-pod-bottom .left, 
body.curam.soria div.roundy-pod-bottom .right {
	display: none;
}
 
.pod-body .center{
  text-align: left;
}

 
body.curam.soria .pod-container .pod-styling .dijitTitlePane div.dijitTitlePaneTitle {
	background: none;
}

body.curam.soria .pod-container .pod-styling .dijitTitlePane div.dijitTitlePaneTitle {
    background: none;
}

body.curam.soria .pod-container .pod-styling .soria .dijitTitlePaneTitle {
    background: none;
    border: 1px solid #bfbfbf;
    padding: 3px 4px;
    font-size: 0.9em;
    font-weight: bold;
    color: #6d6d6d;
}

body.curam.soria .pod-container .pod-styling  div.roundy-pod-top .title-left, 
body.curam.soria .dndCover .pod-styling  div.roundy-pod-top .title-left {
    background: none;
    height: 10px;
    float: left;
    width: 6px;
    height: 6px;
}

body.curam.soria .pod-container .pod-styling   div.roundy-pod-top .title-center, 
body.curam.soria .dndCover .pod-styling   div.roundy-pod-top .title-center {
    height: 6px;
    background: none;
} 

body.curam.soria .pod-container .pod-styling   div.roundy-pod-top .title-right, 
body.curam.soria .dndCover .pod-styling  div.roundy-pod-top .title-right { 
    background: none;
    width: 6px;
    height: 6px;
    float: right;
}

/** POD - QUICK LINKS **/
body.curam.soria .pod-styling .pod-list.list-body {
  	width: 100%;
  	table-layout: fixed;
  	font-family: $infrastructure_main-medium_font-family;
	font-size: $infrastructure_normal_font-size;
	color: $infrastructure_primary-hover-and-focus-font_color;
	text-align:left;
	word-wrap: break-word;  
	margin-bottom: 5px;  
}

body.curam.soria .pod-styling #PT2002_body .pod-list.list-body td {
  background-color: transparent !important;
  padding: 0 0 5px 0!important;  
  height: 20px; 
  border: none;
}

body.curam.soria .pod-styling #PT2002_body .pod-list.list-body td a { 
  color: $infrastructure_primary-hover-and-focus-font_color; 
  text-decoration: none;
  padding: 3px 0; 
} 
 
body.curam.soria .pod-styling #PT2002_body .pod-list.list-body td a:focus,
body.curam.soria .pod-styling #PT2002_body .pod-list.list-body td a:hover {  
	color: $infrastructure_secondary-hover-and-focus-font_color;
	text-decoration: none; 
}


 /* POD BUTTON LINK */
body.curam.soria .pod-body span.action-bar {
    margin: 0;
    padding: 0;
}

body.curam.soria .pod-body div.action-bar {
	margin: 5px 0;
	padding: 0;
}
  
 body.curam.soria .pod-body .button-link { 
    font-family: $infrastructure_main-medium_font-family;
    font-size: $infrastructure_normal_font-size;
    letter-spacing:-0.15px;
    text-align:right;
 }
 
body.curam.soria .pod-body .button-link .actioncontrol-button-left, 
body.curam.soria .pod-body .button-link.hover .actioncontrol-button-left,
body.curam.soria .pod-body .button-link .actioncontrol-button-right, 
body.curam.soria .pod-body .button-link.hover .actioncontrol-button-right {  
    background: none;
    display: inline-block;
    height: 20px;
    padding: 0;
    margin: 0;       
}

body.curam.soria .pod-body .button-link .actioncontrol-button-center {
    color:$infrastructure_primary-hover-and-focus-font_color; 
    padding: 0;
    display: inline-block; 
    height: 20px;
    cursor: pointer; 
    background: $infrastructure_primary-menu-and-border_background-color;
} 

body.curam.soria .pod-body .button-link .actioncontrol-button-center a {  
    padding: 0 30px 3px 0;
    color: $infrastructure_primary-hover-and-focus-font_color;  
    background: url("../../Images/add--20-accent.svg") no-repeat scroll right transparent;  
}

body.curam.soria .pod-body .button-link.hover .actioncontrol-button-center a,
body.curam.soria .pod-body .button-link .actioncontrol-button-center a:focus {
    color: $infrastructure_secondary-hover-and-focus-font_color;
    background: url("../../Images/add--20-accent.svg") no-repeat scroll right transparent; 
}


/* POD FOOTER BUTTON LINK */
body.curam.soria .pod-body div.pod-home-link {
    height: 20px;
    padding: 0;
    margin: 10px 0 0 0; 
    background-color: $infrastructure_primary-menu-and-border_background-color;
    text-align: right;
}

body.curam.soria .pod-body a.pod-home-link-text {
    font-family: $infrastructure_main-medium_font-family;
    font-size: $infrastructure_normal_font-size;
    color: $infrastructure_primary-hover-and-focus-font_color;
    letter-spacing: -0.15px;
    text-align: right;
    text-decoration: none;
    vertical-align: top;
}

body.curam.soria .pod-body .pod-home-link.hover a.pod-home-link-text {
  text-decoration: none;
  color: $infrastructure_secondary-hover-and-focus-font_color; 
} 

body.curam.soria .pod-body a.pod-home-link-image {
background: url("../../Images/arrow--right20-accent.svg") no-repeat center;
    background-repeat: no-repeat;
    text-decoration: none;
    height: 20px; 
    width: 20px;
    display: inline-block;
    margin: 0 0 0 10px;
} 

body.curam.soria .pod-body .pod-home-link.hover a.pod-home-link-image, 
body.curam.soria .pod-body a.pod-home-link-image:active { 
  background-image:url("../../Images/arrow--right20-accent.svg");
}

/* POD LISTS */
body.curam.soria .pod-body .list-body { 
    font-family: $infrastructure_main-medium_font-family;
    font-size: $infrastructure_normal_font-size;
    text-align: left;
    width: 100%;
}

body.curam.soria .pod-body span.list-info {
	position: relative;
    top: -27px;
    width: 250px;
    font-family: $infrastructure_main-regular_font-family;
    font-size: $infrastructure_normal_font-size;
    color: $infrastructure_primary-form-control-font_color;
    text-align: left; 
} 

/* For pods without the north region */
body.curam.soria .pod-container .pod-styling .pod-body > div > div.list-info-header .list-info, 
body.curam.soria .dndCover .pod-styling .pod-body > div > div.list-info-header .list-info {
    top: 0px;
    padding-bottom: 10px;
}

body.curam.soria .pod-body .center div.list-info-header {
    height: 0;
}

body.curam.soria .pod-body .list-body th.table-header { 
	font-weight: normal;
    padding: 0 0 5px 0;
    border-bottom: 1px solid #ecf0f2 !important; 
    border-right: none !important;
    color: #777677; 
}

body.curam.soria .pod-body .list-body td.field,
body.curam.soria .pod-body .list-body td.action-menu-col {
	text-align: left;
    padding: 5px 0 !important;
    background: $infrastructure_primary-menu-and-border_background-color !important;
    border-bottom: 1px solid #ecf0f2;
}

body.curam.soria .pod-body .list-body tr:last-child td.field, 
body.curam.soria .pod-body .list-body tr:last-child td.action-menu-col {
    border-bottom: none;
}

body.curam.soria .pod-body .list-body tbody[visibleitems="1"] td.field, 
body.curam.soria .pod-body .list-body tbody[visibleitems="1"] td.action-menu-col {
    font-family: $infrastructure_main-regular_font-family;
    font-size: $infrastructure_normal_font-size;
    color: $infrastructure_primary-form-control-font_color;
    text-align: left;
}

body.curam.soria .pod-body .list-body td.field a {
	color:$infrastructure_primary-hover-and-focus-font_color;
	text-decoration: none;  
} 

body.curam.soria .pod-body .list-body td.field a:hover,
body.curam.soria .pod-body .list-body td.field a:focus {
	color:$infrastructure_secondary-hover-and-focus-font_color;	
}

/* POD LIST ACTION MENU */
body.curam.soria .pod-body .list-body td.action-menu-col .dijitDropDownButton .dijitButtonNode { 
    background: url('../themes/curam/images/Actions_Blue80_20px.png') no-repeat center !important;
}

body.curam.soria .pod-body .list-body td.action-menu-col .dijitDropDownButton.dijitHover .dijitButtonNode,
body.curam.soria .pod-body .list-body td.action-menu-col .dijitDropDownButton.dijitFocused .dijitButtonNode {
    background: url('../themes/curam/images/Actions_Hover_Blue60_20px.png') no-repeat center !important;
}

body.curam.soria .pod-body .list-body td.action-menu-col .dijitDropDownButton .dijitButtonNode {
    background: url('../themes/curam/images/Actions_Blue80_20px.png') no-repeat center !important;
}


/* POD MY TASKs FILTERS */
body.curam.soria .pod-container .gridContainerZone .pod-styling .dojoxPortletSettingsContainer, 
body.curam.soria .dndCover .pod-styling .dojoxPortletSettingsContainer {
	padding: 0;
	margin: 0;
	border: 0;
}

body.curam.soria .pod-container .gridContainerZone .pod-styling .filters,
body.curam.soria .dndCover .pod-styling .filters {
	margin: 0 15px;
	padding: 10px;
	background: #ececec;
	height: auto;
	cursor: auto;
	display: block;
	overflow: auto;
}


body.curam.soria .pod-container .gridContainerZone .pod-styling .filter-font, 
body.curam.soria .dndCover .pod-styling .filter-font {
    font-family: $infrastructure_main-medium_font-family;
    font-size: $infrastructure_normal_font-size;
    color: $infrastructure_primary-form-control-font_color;
    text-align: left;
}

body.curam.soria .pod-container .gridContainerZone .pod-styling .filter-content, 
body.curam.soria .dndCover .pod-styling .filter-content { 
  width: auto; 
  float:left;
}

body.curam.soria div#content div#PT2017_pane table#PT2017_table tr td {
  font-family: $infrastructure_main-regular_font-family;
  font-size: $infrastructure_normal_font-size;
  color: $infrastructure_primary-form-control-font_color;
  line-height: $infrastructure_normal_line-height;
}

/* My Audit Plans Pod */
body.curam.soria .pod-container .gridContainerZone .pod-styling#PT2013 .filter-content, 
body.curam.soria .dndCover .pod-styling#PT2013 .filter-content {
	width: 100%	
}

/* My Next Reviews Pod */
body.curam.soria .pod-container .gridContainerZone .pod-styling#PT10001 .filter-content, 
body.curam.soria .dndCover .pod-styling#PT10001 .filter-content {
    width: 100%;
}

body.curam.soria .pod-container .filter-content .checkbox-container .checkbox-label, 
body.curam.soria .dndCover .filter-content .checkbox-container .checkbox-label {
	margin-right: 17px;
}

body.curam.soria .pod-container .gridContainerZone .pod-styling .filter-content > table, 
body.curam.soria .dndCover .pod-styling .filter-content > table {
  width: 100%;
}

body.curam.soria .pod-container .gridContainerZone .pod-styling .filter-content > table tr, 
body.curam.soria .dndCover .pod-styling .filter-content > table tr {
  background: none;
}

body.curam.soria .pod-container .gridContainerZone .pod-styling .filter-content > table tr td, 
body.curam.soria .dndCover .pod-styling .filter-content > table tr td {
  background: none;
  padding: 0;
}

body.curam.soria .pod-container .gridContainerZone .pod-styling .filter-content .radiobutton-label, 
body.curam.soria .dndCover .pod-styling .filter-content .radiobutton-label {
  margin: 0 17px;
  display:inline;
} 
 
body.curam.soria .pod-container .gridContainerZone .pod-styling .filter-title,
body.curam.soria .dndCover .pod-styling .filter-title { 
  float: left;
  width: auto;
  margin-right: 30px
}

/* My Next Reviews Pod */ 
body.curam.soria .pod-container .gridContainerZone .pod-styling#PT10001 .filter-title,
body.curam.soria .dndCover .pod-styling#PT10001 .filter-title { 
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 19px;
}
body.curam.soria .pod-styling#PT10001 .filters input {
    width: 60px; 
    margin-top: 10px;
}

body.curam.soria .pod-container .gridContainerZone .pod-styling .filters .portlet-controls,
body.curam.soria .dndCover .pod-styling .filters .portlet-controls { 
    padding: 0;
    margin: 10px 0 0 0;
    float: right;
    height: 31px;  
    width: 100%;  
    border: none;
}


body.curam.soria .pod-container .gridContainerZone .pod-styling .filters .portlet-controls .filter-button,
body.curam.soria .dndCover .pod-styling .filters .portlet-controls .filter-button {
	margin-left: 10px;
	padding: 0;
	float: right;
	display: inline-block;
	height: 29px;
	font-family:$infrastructure_main-medium_font-family;
	font-size:$infrastructure_normal_font-size;
	color:$infrastructure_primary-hover-and-focus-font_color;
	letter-spacing:-0.15px;
	background: $infrastructure_primary-background_color;
	border: 1px solid $infrastructure_primary-hover-and-focus-font_color;
	position: relative;
	cursor: pointer; 
}
 
body.curam.soria .pod-container .gridContainerZone .pod-styling .filters .portlet-controls .filter-button.hover,
body.curam.soria .dndCover .pod-styling .filters .portlet-controls .filter-button.hover {
  color: $infrastructure_primary-background_color;  
  background: $infrastructure_primary-hover-and-focus-font_color; 
}

body.curam.soria .pod-container .gridContainerZone .pod-styling .filters .portlet-controls .filter-button .podcontrol-button-left,
body.curam.soria .dndCover .pod-styling .filters .portlet-controls .filter-button .podcontrol-button-left {
  display: inline-block;
  padding: 5px 10px 7px 10px;  
  background: none;
}  


body.curam.soria .pod-container .gridContainerZone .pod-styling .filters .portlet-controls .filter-button .podcontrol-button-right,
body.curam.soria .dndCover .pod-styling .filters .portlet-controls .filter-button .podcontrol-button-right {
  background: none;
  display: inline-block;
  margin: 0 0 0 0px;
  padding: 0 0 0 0;
  position: relative;
  height: auto;
}

body.curam.soria .pod-container .gridContainerZone .pod-styling .filters .portlet-controls .filter-button .podcontrol-button-center,
body.curam.soria .dndCover .pod-styling .filters .portlet-controls .filter-button .podcontrol-button-center {
  background-image: none;
  background-repeat: no-repeat;
  display: inline-block;
  font-weight: normal;
  height: auto;
  padding: 0;
  position: relative;
  cursor: pointer;
  color: $infrastructure_primary-hover-and-focus-font_color;
} 

body.curam.soria .pod-container .gridContainerZone .pod-styling .filters .portlet-controls .filter-button.hover .podcontrol-button-center,
body.curam.soria .dndCover .pod-styling .filters .portlet-controls .filter-button.hover .podcontrol-button-center {
  color: $infrastructure_primary-background_color;	
}

body.curam.soria .pod-container .gridContainerZone .pod-styling .filters select,
body.curam.soria .dndCover .pod-styling .filters select {
    background: $infrastructure_primary-background_color url("../../Images/chevron--down20-enabled.svg") no-repeat right; 
    height: 20px;
    border: 1px solid transparent !important;
    font-family: $infrastructure_main-regular_font-family;
    font-size: $infrastructure_normal_font-size;
    color: $infrastructure_primary-form-control-font_color;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;    
    padding-left: 5px;
    padding-right: 20px; 
    width: 100%;
}

/* for IE 11 */
body.curam.soria .pod-container .gridContainerZone .pod-styling .filters select::-ms-expand,
body.curam.soria .dndCover .pod-styling .filters select::-ms-expand { 
  display: none; 
}

body.curam.soria .pod-container .gridContainerZone .pod-styling .filters select:hover,
body.curam.soria .dndCover .pod-styling .filters select:hover {
    border: none;  
}

/* MY TASKS POD - OVERDUE */
body.curam.soria .pod-body .north .overdue { 
    display: inline-block;
    float: left;
    height: 20px;
    width: 100%;
    margin: 10px 0px 0px 0px;
    padding-left: 27px;
    background: url("../../Images/DaysExceeded_Red60_20px.png") no-repeat left;
    font-family: $infrastructure_main-regular_font-family;
    font-size: $infrastructure_normal_font-size;
    color: $infrastructure_primary-form-control-font_color; 
    text-align: left;
} 

body.curam.soria .pod-body .center.overdue span.list-info {
	top: -57px 
}

/* POD RECENT NOTIFICATIONS FIX */
body.curam.soria .pod-container .pod-styling#PT2018 .pod-body div#border-layout, 
body.curam.soria .dndCover .pod-styling#PT2018 .pod-body div#border-layout,
body.curam.soria .pod-container .pod-styling#PT2019 .pod-body div#border-layout,
body.curam.soria .dndCover .pod-styling#PT2019 .pod-body div#border-layout, 
body.curam.soria .pod-container .pod-styling#PT2021 .pod-body div#border-layout,
body.curam.soria .dndCover .pod-styling#PT2021 .pod-body div#border-layout {
    margin-top: 30px;
}
/* END PodBodyRender.css
 ______________________________________________________________________________*/