/*______________________________________________________________________________
 * PodCalendarMonthRenderer_rtl.css
 *
 * Create styles that are applied to the HTML produce by the
 * PodCalendarMonthRenderer.
 */
 
.rtl div.calendar-monthview div.calendar {
  padding-left: 0;
  padding-right: 4px;
  float: none;
}

.rtl div.calendar-monthview .activity {
  padding-left:0;
  padding-right:1px;
}

.rtl div.calendar-monthview table.calendar-monthtable {
  float: right;
}

.rtl div.calendar-monthview .calendar-month-selector-left {
  float: right;
  margin-right: 0;
  margin-left: 3px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.rtl div.calendar-monthview .calendar-month-selector-right {
  float: right;
  margin-left: 0;
  margin-right: 6px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}


.rtl .calendar-monthview-activity .month-activity-details .dijitAccordionTitle .dijitAccordionArrow {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.rtl div.calendar-monthview .month-activity-details div.month-activity-subject {
  padding-left: 0px;
  padding-right: 15px;
  text-align: right;
}

 /* END PodCalendarMonthRenderer.css
 ______________________________________________________________________________*/