/*______________________________________________________________________________
 * PodContainer_rtl.css
 *
 * Create styles that are applied to the HTML produce by the PodContainerRenderer
*/

/* A white mask for the page to hide the re-draw until finished */
body.rtl.curam.soria .pod-container .selection-table { 
	margin: 15px 50px 0px 40px;
}
body.rtl.curam.soria .pod-container .selection-table .checkbox-container .checkbox-label {
    margin-right: 25px;
    margin-left: 10px;
} 

.rtl .pod-container-actions-left { 
  float: left; 
  padding-left: 20px;
  padding-right: 0px;
  display: flex;
}

body.rtl.curam.soria .save-button,
body.rtl.curam.soria .cancel-button,
body.rtl.curam.soria .reset-button {
	margin-right: 20px;
	margin-left: 0px; 
}

