/*______________________________________________________________________________
 * PodCalendarWeekRenderer.css
 * 
 * Create styles that are applied to the HTML produce by the 
 * PodCalendarWeekRenderer.
 */
             
.calendar-weekview .week-pane td {
                 background-color: #E9EBF4;}
                 
#calendar-weekview .week-title {    
                 width:250px;
                 table-layout:fixed;}
                 
#calendar-weekview .week-title .week-selector {
                 width:15%;}                   
                 
#calendar-weekview .week-title td {
                 border-right:0px;
                 background-color: white;
                 border-bottom:0px;
                 font-weight:bold;}   
                                                 
                 
#calendar-weekview .calendar-week-day-details {
                 color:#8376A6;
                 border:1px solid #EBEDF3;}                  
                 
#calendar-weekview #week-details { 
                height:150px;
                width:100%;
                overflow-x: hidden;
                overflow:auto;}
                
#calendar-weekview #week-details table { 
                border-spacing:3px;}                

#calendar-weekview .day-details td, #calendar-weekview .all-day-details td, #calendar-weekview .week-details .day-title td{
                 border-right:0px;} 

/* Styling for activity day details table  */
#calendar-weekview .day-details table, #calendar-weekview .all-day-details table {
                 width:450px;
                 table-layout:fixed;} 
                                             
/* Week Activity Times Styling */
#calendar-weekview .day-activity-time {
                 font-weight:600;
                 color:#607CA3;
                 border-right:0px;}    
                 
/* Week Activity Location Styling */
#calendar-weekview .day-activity-location {
                 width:auto;
                 font-weight:600;
                 color:#5D5D5D;
                 border-right:0px;} 
                 
/* Week Activity Subject Styling */
#calendar-weekview .day-activity-subject {
                 color:black;
                 font-weight:600;
                 border-right:0px;} 
                 
#calendar-weekview .calendar-week-day-details {
                padding:0px;}
                 
#calendar-weekview .calendar-week-day-details .day-title td {
                 background-color:#EBEDF3;
                 border-bottom:0px;
                 border-right:0px;
                 font-weight:600;
                 padding:0px;}
                 
#calendar-weekview .calendar-week-day-details .day-details td {
                 background-color:#DDE0EA;
                 border-bottom:0px;
                 padding:0px;}  

#calendar-weekview .calendar-week-day-details .all-day-details td {
                 background-color:white;
                 border-bottom:0px;
                 padding:0px;}  


/* Define styling for the current day week calendar */
#calendar-weekview .current-calendar-week-day-details {
                 color:#CB762F;
                 background-color:#FDFDFD;
                 border:1px solid #FCD774;}
                 
#calendar-weekview .current-calendar-week-day-details {
                padding:0px;}
                
#calendar-weekview .current-calendar-week-day-details .day-title td {
                 background-color:#FDFDFD;
                 border-bottom:0px;
                 border-right:0px;
                 font-weight:600;
                 padding:0px;}
                 
#calendar-weekview .current-calendar-week-day-details .day-details td {
                 background-color:#F9DE96;
                 border-bottom:0px;
                 padding:0px;}
                 
#calendar-weekview .current-calendar-week-day-details .all-day-details td {
                 background-color:white;
                 border-bottom:0px;
                 padding:0px;}                 
                 

#calendar-weekview .current-calendar-week-day-details .day-activity-time {
                 color:#E7A45D;
                 font-weight:600;
                 border-right:0px;}    
                 

#calendar-weekview .current-calendar-week-day-details .day-activity-location {
                 width:auto;
                 color:#6F6C63;
                 font-weight:600;
                 border-right:0px;} 
                 

#calendar-weekview .current-calendar-week-day-details .day-activity-subject {
                 color:black;
                 font-weight:600;
                 border-right:0px;} 

/* END PodCalendarWeekRenderer.css 
 ______________________________________________________________________________*/