/*
 * Licensed Materials - Property of IBM
 * 
 * PID 5725-H26
 * 
 * Copyright IBM Corporation 2012,2021. All rights reserved.
 * 
 * US Government Users Restricted Rights - Use, duplication or disclosure
 * restricted by GSA ADP Schedule Contract with IBM Corp.
 *
 *______________________________________________________________________________
 * PodContainer.css
 *
 * Create styles that are applied to the HTML produce by the PodContainerRenderer
*/

/* A white mask for the page to hide the re-draw until finished */
.pod_container_loading_mask{
 width:100%;
 height:100%;
 background:none repeat scroll 0% 0% #FFFFFF; 
 position:absolute;
 z-index:2000;
 left:0pt;
 top:0pt;
}

/* Remove the standard actions from the title bars. */
body.includes-pod-container .page-header {
 display: none;
 visibility:hidden;
}

body.includes-pod-container div#content {
  top:0;
}

div.pod-container {
  vertical-align: top;
  height: 2000px; /** Forces constant vertical scroll bar. Stops container from changing size when dragging Pods below the screen. */
  padding: 0px !important;
}

.pod-container .gridContainer {
  padding: 0px !important;
  display: inline;
}

.pod-container .gridContainerTable {
  border: 0px;
  table-layout: fixed;
}

span.hidden {
  display: none;
}

.soria .dndDropIndicator {
  border: 2px dashed #99BBE8;
  cursor: default;
  margin-bottom: 5px;
}

.bx--cluster td.gridContainerZone {
  vertical-align: top;
}

.soria .pod-container-settings-panel {
  display: inline;
}

.soria .dijitBorderContainer .pod-container-settings-panel {
  left: 0px !important;
  right: 0px !important;
  top: 0px !important;
  padding-top: 0px !important;
  padding-right: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
  width: 100%;
  overflow: auto;
}

div.pod-container-actions {
    height: 40px;
    background: $infrastructure_primary-background_color; 
    box-shadow: 0px 2px 5px 0px $infrastructure_primary-background_color; 
}

.pod-container-actions,dijitContentPane div{ 
    background: #f1f5fd;
    width: 100%;
}

.pod-container-actions-right,dijitContentPane span{
    display: table;
    margin-left: auto;
}

div.customize-actions,dijitContentPane{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

div.customize-actions div.save-button, div.cancel-button, div.reset-button {
  float:left !important;
  position: relative;
  margin-right: 10px;
}

div.selection-table > table {
  width :  100%;
  table-layout:fixed;
}

div.pod-select-pane .save-button, div.pod-select-pane .cancel-button, div.pod-select-pane .reset-button,{
    height: 20px;
}


div.pod-select-pane .save-button .dijitInline {
    margin-right: 5px;
}

span.save-button span.dijitRight {
    float: right;
}

div.pod-select-pane .cancel-button .dijitInline {
    float: left;
}

.portlet-options-table .tableContainer-valueCell {
    background-color: #E0E3EE; /*ie6&7 do not support inherit*/
    border-bottom: 2px groove white;
    border-left: 3px solid #E0E3EE;
    border-right: 3px solid #E0E3EE;
}

.tundra .dojoxPortlet-movable .pod-body .dijitTitlePaneTitle,
.soria .dojoxPortlet-movable .pod-body .dijitTitlePaneTitle,
.nihilo .dojoxPortlet-movable .pod-body .dijitTitlePaneTitle {
    cursor: pointer;
}

.soria .bx--cluster .pod-container-actions .dijitButtonNode {
  background: #E0E3EE !important;
}

.soria .bx--cluster .customize-actions .dijitButtonNode {
  background: #E0E3EE !important;
}

.soria .input-cluster .pod-container-actions .dijit {
  width: auto;
}

.soria .input-cluster .customize-actions .dijit {
  width: inherit;
}

.soria .input-cluster .customize-actions .dijit .dijitReset{
  padding : 0;
  margin: 0;
}

.pod-container-actions-left {
  float: right;
  padding-right: 20px;
}

.pod-select-pane .tableContainer-valueCell {
  background-color: transparent; /*ie6&7 do not support inherit*/
  padding-left: 112px;
  border: none;
}


.pod-container-actions .dijitButtonNode {
  margin: 0 !important;
}

body.curam.soria .pod-container {
	background: $infrastructure_primary-background_color; 
}
 
body.curam.soria .pod-container .pod-container-actions .customize-button,
body.curam.soria .pod-container .pod-container-actions .refresh,
body.curam.soria .pod-container .pod-container-actions .help {
	float: left;
	height: 40px;
	width: 40px;
	color: $infrastructure_primary-background_color;
	margin: 0;
	padding: 0;
	background:none; 
	text-decoration: none;
} 

body.curam.soria .pod-container .pod-container-actions img {
	padding: 10px 0px 0px 6px;
}

body.curam.soria .pod-container .pod-container-actions .customize-button img.hover-icon,
body.curam.soria .pod-container .pod-container-actions .customize-button:focus img.default-icon,
body.curam.soria .pod-container .pod-container-actions .customize-button:hover img.default-icon,
body.curam.soria .pod-container .pod-container-actions .refresh img.hover-icon,
body.curam.soria .pod-container .pod-container-actions .refresh:focus img.default-icon,
body.curam.soria .pod-container .pod-container-actions .refresh:hover img.default-icon,
body.curam.soria .pod-container .pod-container-actions .help img.hover-icon,
body.curam.soria .pod-container .pod-container-actions .help:focus img.default-icon,
body.curam.soria .pod-container .pod-container-actions .help:hover img.default-icon {
	display: none;
}

body.curam.soria .pod-container .pod-container-actions .customize-button img.default-icon,
body.curam.soria .pod-container .pod-container-actions .customize-button:focus img.hover-icon,
body.curam.soria .pod-container .pod-container-actions .customize-button:hover img.hover-icon,
body.curam.soria .pod-container .pod-container-actions .refresh img.default-icon,
body.curam.soria .pod-container .pod-container-actions .refresh:focus img.hover-icon,
body.curam.soria .pod-container .pod-container-actions .refresh:hover img.hover-icon,
body.curam.soria .pod-container .pod-container-actions .help img.default-icon,
body.curam.soria .pod-container .pod-container-actions .help:focus img.hover-icon,
body.curam.soria .pod-container .pod-container-actions .help:hover img.hover-icon {
	display: inline-block;
}

body.curam.soria .pod-container .pod-container-actions .customize-button img {
	pointer-events: none;
}


body.curam.soria .pod-container .selection-table {
	margin: 15px 40px 0px 50px;
	background-color: $infrastructure_primary-form-control-background_color; 
	border: none;
}
 
body.curam.soria .pod-container .selection-table .checkbox-container, dijitContentPane div {
    margin-top: 0px;
    margin-bottom: 10px;
    display: inline-block;
    width: 100%; 
}

body.curam.soria .pod-container .selection-table .checkbox-container .checkbox-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 10px;
    font-family: $infrastructure_main-regular_font-family;
	font-size:14px;
	color:black;
	display: inline-block;  
    vertical-align: -6px;
    margin-left: 10px;
} 


/* Fix for tablets. Less space for the checkbox labels. */ 
@media (max-width: 1250px) {
	body.curam.soria .pod-container .selection-table .checkbox-container .checkbox-label { 
		width: 75%;
	}
}

body.curam.soria .pod-container div.pod-select-pane {
	vertical-align: top;
	background-color: $infrastructure_primary-form-control-background_color;
	border: none;
	margin-bottom: 5px; 
	margin-top: 0px;
	box-shadow: 0px 2px 5px 0px $infrastructure_primary-menu-and-border_background-color; 
}

body.curam.soria .pod-container div.pod-select-pane div.customize-actions {
    background-color: $infrastructure_primary-form-control-background_color;
    height: 30px;
    text-align: center;
    margin: 0;   
    padding-bottom: 15px;
    padding-top: 5px;  
}

/*
.customize-button {
  padding-right: 5px;
}

.customize-button {
  float: left;
}

.customize-button .button-left{
  background: url("../../Images/customize_left_nor.png") no-repeat scroll 0 0 transparent;
}

.customize-button.hover .button-left {
  background: url("../../Images/customize_left_rol.png") no-repeat scroll 0 0 transparent;
}

* IE won't recognise :active on divs so need to use javascript to add/remove 'selected' class *
.customize-button.selected .button-left {
  background: url("../../Images/customize_left_sel.png") no-repeat scroll 0 0 transparent;
}

.customize-button .button-left,
.customize-button.hover .button-left,
.customize-button.selected  .button-left{
  display: table;
  display: inline-block;
  float: none;
  height: 20px;
  padding: 0;
  position: relative;
  top: 0px;
  z-index: 3;
}

.customize-button.opened-console .button-right {
  background: url("../../Images/customize_right_nor_open.png") no-repeat scroll right top transparent;
}
.customize-button.opened-console.hover .button-right {
  background: url("../../Images/customize_right_rol_open.png") no-repeat scroll right top transparent;
}
.customize-button.opened-console.selected .button-right {
  background: url("../../Images/customize_right_sel_open.png") no-repeat scroll right top transparent;
}
.customize-button.closed-console .button-right {
  background: url("../../Images/customize_right_nor.png") no-repeat scroll right top transparent;
}
.customize-button.closed-console.hover .button-right {
  background: url("../../Images/customize_right_rol.png") no-repeat scroll right top transparent;
}
.customize-button.closed-console.selected .button-right {
  background: url("../../Images/customize_right_sel.png") no-repeat scroll right top transparent;
}


* IE won't recognise :active on divs so need to use javascript to add/remove 'selected' class *
.customize-button.selected .button-right {
  background: url("../../Images/customize_right_sel.png") no-repeat scroll right top transparent;
}

.customize-button .button-right,
.customize-button.hover .button-right,
.customize-button.selected .button-right{
  display: inline-block;
  height: 20px;
  margin: 0 0 0 2px;
  padding: 0 4px 0 0;
  position: relative;
}

.customize-button .button-center {
  color: #368FAF;
  background-image: url("../../Images/customize_mid_nor.png");
}

.customize-button.hover .button-center {
  color: #fa8d0e;
  background-image: url("../../Images/customize_mid_rol.png");
}

* IE won't recognise :active on divs so need to use javascript to add/remove 'selected' class *
.customize-button.selected .button-center {
  color: #368FAF;
  background-image: url("../../Images/customize_mid_sel.png");
}


.customize-button .button-center,
.customize-button.hover .button-center,
.customize-button.selected .button-center {
  background-repeat: repeat-x;
  display: inline-block;
  font-weight: bold;
  height: 20px;
  padding:1px 4px 1px 5px;
  margin-right: 7px;
  position: relative;
  cursor: pointer;
}
*/

body.curam.soria .save-button,
body.curam.soria .cancel-button,
body.curam.soria .reset-button {
	margin-left: 20px;
	display: inline-block;
	height: 29px;
	font-family: $infrastructure_main-medium_font-family;
	font-size:14px;
	color:$infrastructure_primary-hover-and-focus-font_color;
	letter-spacing:-0.15px;
	background: $infrastructure_primary-background_color;
	border: 1px solid $infrastructure_primary-hover-and-focus-font_color;
	position: relative;
	cursor: pointer; 
}

body.curam.soria .reset-button {
	margin-left: 0;
}

body.curam.soria .save-button.hover, 
body.curam.soria .cancel-button.hover, 
body.curam.soria .reset-button.hover { 
  color: $infrastructure_primary-background_color;  
  background: $infrastructure_primary-hover-and-focus-font_color; 
}

body.curam.soria .save-button .button-left, 
body.curam.soria .cancel-button .button-left, 
body.curam.soria .reset-button .button-left {
  display: inline-block;
  padding: 5px 10px 7px 10px; 
}  



body.curam.soria .save-button .button-right, 
body.curam.soria .cancel-button .button-right, 
body.curam.soria .reset-button .button-right {
  background: none;
  display: inline-block;
  margin: 0 0 0 0px;
  padding: 0 0 0 0;
  position: relative;
  height: auto;
}

body.curam.soria .save-button .button-center, 
body.curam.soria .cancel-button .button-center, 
body.curam.soria .reset-button .button-center {
  background-image: none;
  background-repeat: no-repeat;
  display: inline-block;
  font-weight: normal;
  height: auto;
  padding: 0;
  position: relative;
  cursor: pointer;
} 

body.curam.soria .save-button .button-center, 
body.curam.soria .cancel-button .button-center, 
body.curam.soria .reset-button .button-center {
  color: $infrastructure_primary-hover-and-focus-font_color;
}

body.curam.soria .save-button.hover .button-center, 
body.curam.soria .cancel-button.hover .button-center, 
body.curam.soria .reset-button.hover .button-center {
  color: $infrastructure_primary-background_color;  
} 


body.curam.soria .gridContainer.dijitLayoutContainer.dijitContainer:focus { 
	outline: none;
}

body.curam.soria .pod-container .dojoxPortlet .iconWrapper button.dojoxPortletIcon {
	background-color: transparent;
	border: 0px;
}

/* END PodContainer.css
 ______________________________________________________________________________*/