/*______________________________________________________________________________
 * PodCalendarMonthRenderer.css
 *
 * Create styles that are applied to the HTML produce by the
 * PodCalendarMonthRenderer.
 */

div.calendar .currentMonth,
div.calendar .previousMonth,
div.calendar .nextMonth {
  overflow: hidden;
}

div.calendar-monthview {
  height: 100%;
  margin:0px;
  padding:0px;
}

div.calendar-monthview div.calendar {
  height: 160px;
  width: 80%;
  border : 0px;
  float: none;
  background-color: transparent;
  vertical-align: top;
  margin-left: auto;
  margin-right: auto;
  padding-left: 4px;
}

div.calendar-monthview div.activity {
  height: auto;
  border : 0px;
  background-color: transparent;
  vertical-align: top;
  padding-top: 5px;
}

div.calendar-monthview .activity {
  padding-left:1px;
}

div.calendar-monthview table.calendar-monthtable {
  background: url("../../Images/calendar_background.png") repeat-x;
  filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=2, OffY=2, Color='gray', Positive='true');
  width: 73%;
  float: left;
  border: 1px solid #CBD8E5;
}

div.calendar-monthview div.calendar-month-cell table.calendar-monthtable tbody td {
  border-top: 0px;
  border-right-width: 0;
  border-left-width:0;
  border-right: none;
  text-align:center;
}


div.calendar-monthview .calendar-month-title {
  border-right: none;
  background-color:#ffffff;
  text-align:center;
  color:#F69026;
  font-weight: bold;
  height: 20px;
}

.calendar-monthtable .calendar-monthtitle {
  border-bottom:1px solid #CBD8E5;
}

div.calendar-monthview .previousMonth .calendar-month-title {
  border-right: none;
  background-color:#ffffff;
}

div.calendar-monthview .nextMonth .calendar-month-title {
  border-right: none;
  background-color:#ffffff;
}


div.calendar-monthview .calendar-month-selector-left {
  cursor: pointer;
  float: left;
  margin-top: 60px;
  margin-right: 10px;
  margin-right: 3px;
  width: 22px;
}

div.calendar-monthview .calendar-month-selector-right {
  cursor: pointer;
  float: left;
  margin-top: 60px;
  margin-left: 6px;
  width: 22px;
}

.calendar-month-selector-left img,
.calendar-month-selector-right img {
  width: 20px;
  height: 29px;
}

div.calendar-monthview .selector-invisible {
  visibility: hidden;
}

/* Styling for the day titles for the month calendar*/
div.calendar-monthview div.calendar-month-cell table.calendar-monthtable tr.calendar-monthtable-row td {
  color: #F69026;
  font-weight:bold;
  padding: 1px;
}


div.calendar-monthview div.calendar-month-cell div  table.calendar-monthtable tbody tr.current-week td.selected-day {
  background: url("../../Images/indicator_selected.png") no-repeat;
  background-position: center center;
  background-color: #ffffff;
}

div.calendar-monthview div.calendar-month-cell div  table.calendar-monthtable tbody tr td.selected-day {
  background: url("../../Images/indicator_selected.png") no-repeat;
  background-position: center center;
}

div.calendar-monthview div.calendar-month-cell table.calendar-monthtable tbody tr td.calendar-today {
             background: url("../../Images/indicator_current.png") no-repeat;
             background-position: center center;
             background-color: #ffffff;
             color:white;}

div.calendar-monthview div.calendar-month-cell table.calendar-monthtable tbody tr td.calendar-today-activity {
             background: url("../../Images/indicator_current.png") no-repeat;
             background-position: center center;
             background-color: #ffffff;
             color:black;
             cursor: pointer;
             font-weight: bold;
}

div.calendar-monthview div.calendar-month-cell table.calendar-monthtable tbody tr td {
             border-bottom:none;
             color:#808182;
             white-space: nowrap;
             height: 19px;
}

div.calendar-monthview div.calendar-month-cell table.calendar-monthtable tbody .current-week td {
             border-bottom:none;
             background-color:white;
             color:#808182;
             white-space: nowrap;
}

div.calendar-monthview div.calendar-month-cell table.calendar-monthtable tbody tr td.calendar-day-with-activity,
div.calendar-monthview div.calendar-month-cell table.calendar-monthtable tbody tr td.calendar-day-without-activity {
             color: black;
             cursor: pointer;
}

div.calendar-monthview div.calendar-month-cell table.calendar-monthtable tbody tr td.calendar-day-with-activity {
             color: black;
             cursor: pointer;
             font-weight: bold;
}


/* REMOVED THE HOVER CLASSES BECAUSE OF PERFORMANCE ISSUES 
div.calendar-monthview div.calendar-month-cell table.calendar-monthtable tbody tr td.calendar-day-with-activity:hover,
div.calendar-monthview div.calendar-month-cell table.calendar-monthtable tbody tr td.calendar-day-without-activity:hover {
  background: url("../../Images/indicator_rollover.png") no-repeat;
  background-position: center center;
}

div.calendar-monthview div.calendar-month-cell table.calendar-monthtable tbody tr.current-week td.calendar-day-with-activity:hover,
div.calendar-monthview div.calendar-month-cell table.calendar-monthtable tbody tr.current-week td.calendar-day-without-activity:hover {
  background: url("../../Images/indicator_rollover.png") no-repeat;
  background-position: center center;
  background-color: #ffffff;
}
*/
/* Month Calendar POD Activity styling */
div.calendar-monthview div.month-activity-title {
             font-weight: bold;
             color: black;
             background-color: transparent;
             border-right: none;
             padding-bottom: 5px;
             padding-left: 9px;
             white-space: nowrap;
             overflow: hidden;
             text-overflow: ellipsis;
}

div.calendar-monthview .month-activity-details {
             width: 97%;
             height: 100%;
             background-color: transparent;
}

div.calendar-monthview .month-activity-details div.month-activity-location {
             color: #305283;
             font-weight:bold;
             background-color:#FFFFFF;
             border-bottom: 0px solid white;
             border-right: none;}

div.calendar-monthview .month-activity-details div.month-activity-subject {
             background-color: transparent;
             padding-top: 0px;
             padding-left: 15px;
             padding-right: 0px;
             text-align: left;
             height: auto !important;
}

div.calendar-monthview #empty-activity tbody td {
             background-color: transparent;
             padding-left: 7px;
}

.calendar-monthview-activity .month-activity-details .dijitAccordionTitle .dijitAccordionArrow {
  background: url("../../Images/orange_mini_arrow.png") no-repeat scroll top transparent;
  height: 11px;
  width: 11px;
}

.calendar-monthview-activity .month-activity-details .dijitAccordionTitle-selected .dijitAccordionArrow {
  background: url("../../Images/orange_expand_arrow.png") no-repeat scroll top transparent;
  height: 11px;
  width: 11px;
}

.calendar-monthview-activity .month-activity-details .dijitAccordionTitle .dijitAccordionText {
  margin: 0px;
  text-decoration: none;
}

#activitiesPageContainer .dijitStackContainer-child {
  height: 100% !important;
}

.pod-body table.calendar-monthtable tbody tr td:last-child {
  padding-right: 0px;
}

/* END PodCalendarMonthRenderer.css
 ______________________________________________________________________________*/