/*______________________________________________________________________________
 * productdelivery_rtl.css
 *
 * Create styles that are applied to the HTML for product delivery context details.
 */


.rtl .pd-content-panel {
  left: 377px;
  right: 127px;
}

.rtl .pd-links-panel {
  right: auto;
  left: 10px;
}

.rtl .pd-content-panel-onecol {
  left: 235px;
  right: 127px;
}

.rtl .pd-links-panel-onecol {
  right: auto;
  left: 10px;
}

.rtl .pd-details {
  float: right;
  padding-right: 0px;
}

.rtl .pd-related-ic-case {
  padding-left: 0;
  padding-right: 15px;
}

.rtl .pd-details-table {
  padding-left: 0;
  padding-right: 15px;
}

.rtl .pd-details-table table td {
  padding-left: 0 !important;
  padding-right: 30px !important;
}

.rtl .pd-details .pd-reference {
  padding-left: 0;
  padding-right: 15px;
}

.rtl .pd-reference-id {
  padding-right: 5px;
  right: auto;
  left: 0px;
  padding-left: 15px;
}

.rtl .pd-details .started {
  padding-left: 0;
  padding-right: 15px;
}

.rtl .pd-details .certified {
  padding-left: 0;
  padding-right: 15px;
}

.rtl .next-review-label {
  float: right;
  padding-right: 5px;
  padding-left: 10px;
}

.rtl .next-review {
  float: right;
}

.rtl div.pd-details .decision-content img {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  float: right;
}

.rtl div.pd-case-owner-panel {
  left: auto;
  right: 1px;
}

.rtl div.pd-case-owner-icon {
  padding-left: 4px;
  padding-right: 10px;
}

.rtl div.pd-case-owner,
.rtl div.pd-case-owner-icon {
  float: right;
}

.rtl div.pd-status {
  padding-left: 0;
  padding-right: 12px;
}

.rtl .next-review-table table {
  float: right;
}

.rtl div.next-review-table table {
  margin-left: 15px;
  margin-right: 5px;
}

.rtl div.next-review-table  {
  float: right;
}

/*______________________________________________________________________________
 * end productdelivery_rtl.css
 */
 
 /* ======== Curam 2016 Styling ======== */

body.rtl.curam .pd-container-panel .image-panel-content .participant-image {
  left: auto;
  right: 16px
}

body.rtl.curam div.pd-container-panel div.image-panel-content div.left-corner-image {
  right: 16px;
}

body.rtl.curam div.pd-container-panel div.image-panel-content div.right-corner-image {
  right: 96px;
}

body.rtl.curam .pd-container-panel .image-panel-content .image-links {
  left: auto;
  right: 140px;
}

body.rtl.curam .pd-details .pd-reference {
  text-align: right;
}

body.rtl.curam .pd-details .pd-reference-id {
  right: auto;
}

body.rtl.curam .pd-content-panel, 
body.rtl.curam .pd-content-panel-onecol {
  left: 377px;
  right: 185px;
}

body.rtl.curam .content-panel-detail .tab-links .pd-case-owner-panel {
  padding-left: 0px;
  padding-right: 20px;
}

body.rtl.curam#Curam_ProductDelivery_tabDetails .pd-details-table {
  padding-right: 0px;
}
body.rtl.curam#Curam_ProductDelivery_tabDetails div.pd-details .decision-content img {
  padding-right: 0px;
  margin-right: 0px;
}
body.rtl.curam#Curam_ProductDelivery_tabDetails div.content-panel-detail.pd-content-panel-onecol {
  right: 192px;
}
body.rtl.curam#Curam_ProductDelivery_tabDetails .pd-container-panel .image-panel-content .name-background,
body.rtl.curam#Curam_ProductDelivery_tabDetails .pd-container-panel .image-panel-content div.participant-details {
  margin-right: 0px;
}
