/* *
 * Licensed Materials - Property of IBM
 *
 * PID 5725-H26
 *
 * Copyright IBM Corporation 2016,2021. All Rights Reserved.
 *
 * US Government Users Restricted Rights - Use, duplication or disclosure
 * restricted by GSA ADP Schedule Contract with IBM Corp.
 * */
/*______________________________________________________________________________
 * productdelivery.css
 *
 * Create styles that are applied to the HTML for product delivery context details.
 */

div.pd-container-panel {
  background-color: transparent;
  height:148px;
  overflow: visible;
  position: relative;
  top: 5px;
  min-width: 870px;
  width: 100%;
}

div.pd-container-panel .case-participant-panel .wrapper .image-panel-content {
  height:131px;
}

div.pd-container-panel .case-participant-panel .wrapper .image-panel-content .image-first-line {
  padding-top: 5px !important;
}

.pd-content-panel {
  background-color: #FFFFFF;
  position: absolute;
  left: 127px;
  right: 377px;
  top: 0;
}

.pd-links-panel {
  position: absolute;
  right: 10px;
  top: 0;
  width: 358px;
}

.pd-content-panel-onecol {
  background-color: #FFFFFF;
  position: absolute;
  left: 127px;
  right: 235px;
  top: 0;
}

.pd-links-panel-onecol {
  position: absolute;
  right: 10px;
  top: 0;
  width: 215px;
}

.pd-details {
  float: left;
  height: 138px;
  padding-left: 0px;
  border-left: 1px solid #DADADA;
  border-right: 1px solid #DADADA;
  width: 100%;
  overflow: hidden;
}

.pd-related-ic-case {
  padding-left: 15px;
  font-size: 103%;
}

.pd-details-table {
  padding-left: 15px;
}

.pd-details-table table td {
  padding-left: 30px !important;
  white-space: nowrap;
  word-wrap:normal;
}

.pd-details-table table th {
  white-space: nowrap;
  word-wrap:normal;
}

.pd-details .pd-reference {
  font-size: 140%;
  color: #FB7803;
  width:100%;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 15px;
  padding-bottom: 2px;
}

.pd-reference-id {
  font-size: 120%;
  font-family: tahoma;
  color: #FB7803;
  padding-bottom:0px;
  padding-top: 0px;
  padding-right: 15px;
  background-color: white;
  position: absolute;
  right: 0px;
  top: 5px;
  padding-left: 5px;
}

.pd-details .started {
  width:100%;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 15px;
}

.pd-details .certified {
  width:100%;
  padding-bottom: 6px;
  padding-left: 15px;
  white-space: nowrap;
  overflow: hidden;
}

.decision-content {
  position: absolute;
  bottom: 3px;
  width: 100%;
  background-color: #E6EBF1;
}

.next-review-label {
  float: left;
  padding-right: 10px;
  padding-top: 3px;
  padding-left: 5px;
  color: #696969;
}

.next-review {
  float: left;
  padding-top: 3px;
}

div.pd-details .decision-content img {
  padding-left: 11px;
  padding-top: 1px;
  float: left;
}

div.details-tab-cluster div.pd-links-panel {
  width: 20%;
}

.pd-links-panel .left-col .link-wrapper {
  width:170px;
}

div.pd-case-owner-panel {
  width: 100%;
  background-color: #FFFFFF;
  height: 17px;
  padding-top: 4px;
  position: absolute;
  bottom: 3px;
  left: 1px;
}

div.pd-case-owner-icon {
  padding-left: 10px;
  padding-right: 4px;
}

div.pd-case-owner,
div.pd-case-owner-icon {
  float: left;
}

div.pd-case-status {
  width: 100%;
  background-color: #FFFFFF;
  height: 17px;
}

div.pd-status {
  padding-left: 12px;
}

.next-review-table table {
  float: left;
}

.next-review-table table td {
  padding-bottom: 0px !important;
  white-space: nowrap;
  word-wrap: normal;
}

.legalaction-petition-details-table table th {
  white-space: nowrap;
  word-wrap: normal;
}

div.next-review-table table {
  margin-left: 5px;
  margin-top: 3px;
  margin-right: 15px;
}

div.next-review-table  {
  float: left;
  overflow: hidden;
  white-space: nowrap;
}

/*
* CR00397192
*/
.pd-links-panel-onecol .tab-links .left-col .link-wrapper{
  width:95%;
}
.pd-links-panel-onecol .tab-links .left-col{
  width:95%;
}
/*
* END CR00397192
*/

.pd-links-panel .tab-links,
.pd-links-panel-onecol .tab-links {
  height: 138px;
}

.pd-links-panel .tab-links .left-col,
.pd-links-panel .tab-links .inner-col,
.pd-links-panel-onecol .tab-links .left-col,
.pd-links-panel-onecol .tab-links .inner-col {
  padding-bottom: 5px;
  padding-top: 8px;
}

/*______________________________________________________________________________
 * end productdelivery.css
 */

/* ======== Curam 2016 Styling ======== */
 
body.curam.soria div.pd-container-panel {
  background-color: transparent;
  height:160px;
  top: 0px;
}

body.curam.soria div#content div.context-panel-wrapper div.pd-container-panel div.case-participant-panel {
  width: auto;
  left: 0px;
}

/* Size of image panel content */
body.curam.soria .pd-container-panel .image-panel-content {
  width: 160px;
  height: 160px;
  background-color: transparent;
}

/* Size and position of participant image */
body.curam.soria .pd-container-panel .image-panel-content .participant-image {
  padding: 0px;
  width: 120px;
  height: 120px;
  position: absolute;
  left: 16px;
}

body.curam.soria .pd-container-panel .image-panel-content .participant-image img {
  border-radius: 50%;
}

body.curam.soria .pd-container-panel .image-panel-content .name-background {
  position: absolute;
  bottom: 15px;
  width: 152px;
}

body.curam.soria .pd-container-panel .image-panel-content .name-one-title {
  height: 20px;
  width: 100%;
  background-color: transparent;
}

body.curam.soria .pd-container-panel .image-panel-content .name-one-title a {
  font-family: $infrastructure_main-medium_font-family;
  font-size: $infrastructure_normal_font-size;
  color: $cefwidgets_context-panel_link-color;
  letter-spacing: -0.15px;
  text-align: center;
  line-height: $infrastructure_normal_line-height;
  height: 20px;
  width: 100%;
  text-decoration: none;
}

body.curam.soria .pd-container-panel .image-panel-content .name-one-title a:hover,
body.curam.soria .pd-container-panel .image-panel-content .name-one-title a:focus {
  color: $cefwidgets_context-panel_link-hover-color;
}

body.curam.soria .pd-container-panel .image-panel-content .name-one-title a:hover {
  text-decoration: underline;
}

body.curam.soria .pd-container-panel .image-panel-content .participant-details {
  position: absolute;
  bottom: 0px;
  width: 152px;
  text-align: center;
}

body.curam.soria .pd-container-panel .image-panel-content div.image-first-line,
body.curam.soria .pd-container-panel .image-panel-content div.participant-details-divider,
body.curam.soria .pd-container-panel .image-panel-content div.image-second-line {
  clear: none;
  width: auto;
  float: none;
  display: inline-block;
  padding: 0px;
  font-family: $infrastructure_main-bold_font-family;
  font-size: $infrastructure_very-small_font-size;
  color: $infrastructure_primary-form-control-font_color;
}

body.curam.soria .pd-container-panel .image-panel-content div.participant-details-divider {
  margin-left: 10px;
  margin-right: 7px;
  width: 3px;
  height: 10px;
  border-left: 1px solid $infrastructure_secondary-menu-and-border_background-color;
}

body.curam.soria .pd-container-panel .image-panel-content .name-one-title, 
body.curam.soria .pd-container-panel .image-panel-content .name-two-title {
  background-color: transparent;
}

/* Size and position of special caution icon */
body.curam.soria .pd-container-panel .image-panel-content .left-corner-image {
  left: 16px;
  z-index: 100;
}

/* Size and position of citizen context viewer icon */
body.curam.soria .pd-container-panel .image-panel-content .right-corner-image {
  top: 0px;
  left: 96px;
  z-index: 100;
  background: url("../../Images/ccv__filled--20-enabled.svg") center center no-repeat;
}

body.curam.soria .pd-container-panel .image-panel-content .right-corner-image:hover,
body.curam.soria .pd-container-panel .image-panel-content .right-corner-image:focus {
  display: block;
  height: 40px;
  background: url("../../Images/ccv__filled--20-enabled.svg") center center no-repeat;
}

body.curam.soria .pd-container-panel .image-panel-content .right-corner-image a {
  display: block;
  width: 40px;
  height: 40px;
}

body.curam.soria .pd-container-panel .image-panel-content .right-corner-image a img {
  display: none;
}

body.curam.soria .pd-container-panel .image-panel-content .image-links {
  left: 140px;
  top: 10px;
}

/* Size and position of content panel */
body.curam.soria .pd-content-panel,
body.curam.soria .pd-content-panel-onecol {
  background-color: transparent;
  right: 363px;
  left: 175px;
  top: 10px;
}

body.curam.soria .pd-details {
  float: left;
  height: 160px;
  padding-left: 0px;
  border-left: none;
  border-right: none;
  width: 100%;
  overflow: hidden;
}

/* Styling of the content panel details */ 
body.curam.soria .pd-details .pd-reference {
  width:100%;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 15px;
  padding-bottom: 0px;
  font-family:$infrastructure_main-medium_font-family;
  font-size: $infrastructure_heading-three_font-size;
  color:$infrastructure_primary-font_color;
  letter-spacing:-0.22px;
  text-align:left;
  line-height: $infrastructure_heading-three_line-height;
}

body.curam.soria .pd-details .pd-reference-id {
  padding-bottom:0px;
  padding-top: 0px;
  padding-right: $infrastructure_very-big_padding;
  background-color: $infrastructure_primary-form-control-background_color;
  position: absolute;
  right: 0px;
  top: 5px;
  padding-left: $infrastructure_small_padding;  
  font-family:$infrastructure_main-medium_font-family;
  font-size:$infrastructure_normal_font-size;
  color:$infrastructure_primary-font_color;
  text-align:right;
  line-height: $infrastructure_heading-three_line-height;
}

body.curam.soria .pd-related-ic-case {
  padding-left: 15px;
  font-size: $infrastructure_normal_font-size;
  font-family:$infrastructure_main-medium_font-family;
  line-height: $infrastructure_normal_line-height;
}

body.curam.soria .pd-related-ic-case a {
  color: $cefwidgets_context-panel_link-color;
}

body.curam.soria .pd-related-ic-case a:hover,
body.curam.soria .pd-related-ic-case a:focus {
  color: $cefwidgets_context-panel_link-hover-color;
}

body.curam.soria .pd-related-ic-case a:hover {
  text-decoration: underline;
}

body.curam.soria .pd-details .started,
body.curam.soria .pd-details .certified {
  font-family:$infrastructure_main-regular_font-family;
  font-size:$infrastructure_normal_font-size;
  color:$infrastructure_primary-form-control-font_color;
  line-height: $infrastructure_normal_line-height;
  width:auto;
}

body.curam.soria .pd-details .certified {
  padding-bottom: 0px;
}

body.curam.soria .pd-details-table table .horiz-table-body td {
  font-family:$infrastructure_main-regular_font-family;
  font-size:$infrastructure_small_font-size;
  color:$infrastructure_primary-form-control-font_color;
  line-height:$infrastructure_very-small_line-height;
  padding-left: $infrastructure_very-big_padding !important;
}

body.curam.soria .pd-details-table table .horiz-table-body th {
  font-family:$infrastructure_main-medium_font-family;
  font-size:$infrastructure_small_font-size;
  color:$infrastructure_primary-form-control-font_color;
  line-height:$infrastructure_very-small_line-height;
}

body.curam.soria div.next-review-table table {
  margin-top: 1px;
}

body.curam.soria .pd-details div.next-review-table table .horiz-table-body td {
  font-family:$infrastructure_main-regular_font-family;
  font-size:$infrastructure_normal_font-size;
  color:$infrastructure_primary-form-control-font_color;
  line-height:$infrastructure_normal_line-height;
  padding-left: $infrastructure_very-big_padding !important;
}

body.curam.soria .pd-details div.next-review-table table .horiz-table-body th {
  font-family:$infrastructure_main-medium_font-family;
  font-size:$infrastructure_normal_font-size;
  color:$infrastructure_primary-form-control-font_color;
  line-height:$infrastructure_normal_line-height;
  padding-left: $infrastructure_small_padding;
}

body.curam.soria .decision-content {
  background-color: transparent;
  bottom: 0px;
  top: 136px;
  width: 100%;
}

body.curam.soria .decision-content .next-review-label {
  font-family: $infrastructure_main-medium_font-family;
  font-size: $infrastructure_normal_font-size;
  color: $infrastructure_primary-form-control-font_color;
  line-height: $infrastructure_normal_line-height;
  padding-left: $infrastructure_small_padding;
  padding-top: 0px;
}

body.curam.soria .decision-content .next-review{
  font-family: $infrastructure_main-regular_font-family;
  font-size: $infrastructure_normal_font-size;
  color: $infrastructure_primary-form-control-font_color;
  line-height: $infrastructure_normal_line-height;
  padding-left: $infrastructure_small_padding;
  padding-top: 0px;
}

/* Size and positioning of links panel */
body.curam.soria div.content-panel-detail.pd-links-panel,
body.curam.soria div.content-panel-detail.pd-links-panel-onecol {
  top: 20px;
}

/* Case status header */
body.curam .content-panel-detail .pd-case-status {
  padding-bottom: 0px;
}

/* Case Owner */
body.curam .content-panel-detail .tab-links .pd-case-owner-panel {
  padding-left: $infrastructure_very-big_padding;
}

body.curam .content-panel-detail .pd-case-owner {
  padding-top: 2px;
}

body.curam div.context-panel-wrapper, 
body.curam div.context-panel-wrapper div.pd-container-panel {
  width: 100%
}


body.curam#Curam_ProductDelivery_tabDetails .pd-details-table {
  padding-left: 0px;
}
body.curam#Curam_ProductDelivery_tabDetails div.pd-details .decision-content img {
  padding-left: 0px;
  margin-left: 0px;
}
body.curam#Curam_ProductDelivery_tabDetails div.content-panel-detail.pd-content-panel-onecol {
  left: 192px;
  width: calc(100% - 556px);
  top: 10px;
}
body.curam#Curam_ProductDelivery_tabDetails .content-panel-detail .pd-case-owner {
  padding: 0px;
}
body.curam#Curam_ProductDelivery_tabDetails .pd-container-panel .image-panel-content {
  width: 152px;
}
body.curam#Curam_ProductDelivery_tabDetails .pd-container-panel .image-panel-content .name-background,
body.curam#Curam_ProductDelivery_tabDetails .pd-container-panel .image-panel-content div.participant-details {
  margin-left: 0px;
  width: 152px;
}
body.curam#Curam_ProductDelivery_tabDetails div.content-panel-detail.pd-content-panel-onecol div.pd-reference-id {
  top: 10px;
}
body.curam#Curam_ProductDelivery_tabDetails div.content-panel-detail.pd-content-panel-onecol div.pd-reference,
body.curam#Curam_ProductDelivery_tabDetails div.content-panel-detail.pd-content-panel-onecol div.pd-related-ic-case,
body.curam#Curam_ProductDelivery_tabDetails div.content-panel-detail.pd-content-panel-onecol div.started,
body.curam#Curam_ProductDelivery_tabDetails div.content-panel-detail.pd-content-panel-onecol div.certified,
body.curam#Curam_ProductDelivery_tabDetails div.content-panel-detail.pd-content-panel-onecol div.pd-details-table,
body.curam#Curam_ProductDelivery_tabDetails div.content-panel-detail.pd-content-panel-onecol div.decision-content img {
  padding: 0px;
}
