/*______________________________________________________________________________
 * reflection.css
 *
 * Create styles that are applied to Renderers that implement the reflection api.
 * This style will only work in IE.
 *
 */

div.reflection{
  -ms-filter: "FlipV alpha(opacity=30, style=1, finishOpacity=0, startx=0, starty=0, finishx=0, finishy=40)";
  width: 100%;
  margin: 0;
  padding: 0;
}

/* end reflection.css */
