/*
* Add styling for viewing rich text
*/

div.rich-text em{
  font-style:italic;
}

div.rich-text strong{
  font-weight:bold;
}

div.rich-text * {
  vertical-align:baseline;
}

div.rich-text {
  white-space: normal;
}

div.rich-text ul, div.rich-text ol {
  margin-top:12px;
  margin-bottom:12px;
  padding-left:40px;
}

div.rich-text ul li {
  list-style-type:disc;
  list-style-image:none;
  list-style-position:outside;
}

div.rich-text ol li {
  list-style-type:decimal;
  list-style-image:none;
  list-style-position:outside;
}

div.rich-text sub {
  vertical-align:sub !important;
}

div.rich-text sup {
  vertical-align:super !important;
}