/*
 * IBM Confidential
 *
 * OCO Source Materials
 *
 * Copyright IBM Corporation 2020,2021.
 *
 * The source code for this program is not published or otherwise divested of
 * its trade secrets, irrespective of what has been deposited with the US
 * Copyright Office.
 */

/*______________________________________________________________________________
 * Rotator_rtl.css
 */

.rtl .rotator-default .rotator{
  float: right;
 }

.rtl .rotator-default .prev-button-div {
  float: right;
}

.rtl .rotator-default .rotator-next-button {
  background-image: url('../../Images/caret__outline--left20-enabled.svg');
}

.rtl .rotator-default .rotator-prev-button {
  background-image: url('../../Images/caret__outline--right20-enabled.svg');
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .rtl div.cluster-with-no-header div.rotator-default .rotator-prev-button img,
  .rtl div.cluster-with-no-header div.rotator-default .rotator-next-button img {
    margin-right: -8px;
    width: 18px;
    height: 19px;
  }
}

.rtl .rotator-default .next-button-div{
  float: right;
}

.rtl .rotator-default .rotator div.pane div.pane-item {
  float: right;
  padding-left: 0;
  padding-right: 9px;
}

/*______________________________________________________________________________
 * end Rotator_rtl.css
 */