/*
 * IBM Confidential
 *
 * OCO Source Materials
 *
 * Copyright IBM Corporation 2019,2021.
 *
 * The source code for this program is not published or otherwise divested of
 * its trade secrets, irrespective of what has been deposited with the US
 * Copyright Office.
 */

/*______________________________________________________________________________
 * Rotator.css
 */


.rotator-default {
  background: transparent;
  height: 145px !important;
  width: 98%;
}

.rotator-default .rotator{
  /*
  width: 94%; 
  This was removed as a consequence of upgrading to dojo 1.9, 
  where the rotator animation required a fixed width and height
  in order for the previous and next buttons to work;
  */
  height: 100%;
  width: 500px;
  overflow: hidden;
  float: left;
 }

.rotator-default .rotator .pane{
  width: 100%;
}

.rotator-default .prev-button-div {
  float: left;
  margin-top: 54px;
}

.rotator-default .rotator-next-button {
  background-image: url('../../Images/caret__outline--right20-enabled.svg');
  background-color: transparent;
  background-repeat: no-repeat;
  font-size: 0px;
  border: 0px;
  height: 19px;
  width: 18px;
  border-style: none;
}

.rotator-default .rotator-prev-button {
  background-image: url('../../Images/caret__outline--left20-enabled.svg');
  background-repeat: no-repeat;
  background-color: transparent;
  font-size: 0px;
  border: 0px;
  height: 19px;
  width: 18px;
  border-style: none;
}

div.cluster-with-no-header div.rotator-default .rotator-prev-button,
div.cluster-with-no-header div.rotator-default .rotator-next-button {
  background: none;
  display: block;
}
div.cluster-with-no-header div.rotator-default .rotator-prev-button img,
div.cluster-with-no-header div.rotator-default .rotator-next-button img {
  margin: -4px;
}
@media all and (-ms-high-contrast: none) {
  div.cluster-with-no-header div.rotator-default .rotator-prev-button img,
  div.cluster-with-no-header div.rotator-default .rotator-next-button img {
    margin-left: -8px;
    width: 18px;
    height: 19px;
  }
}

div.cluster-with-no-header div.rotator-default .rotator-prev-button img.hoverIcon,
div.cluster-with-no-header div.rotator-default .rotator-next-button img.hoverIcon {
  display: none;
}
div.cluster-with-no-header div.rotator-default .rotator-prev-button:hover img.defaultIcon,
div.cluster-with-no-header div.rotator-default .rotator-prev-button:focus img.defaultIcon,
div.cluster-with-no-header div.rotator-default .rotator-next-button:hover img.defaultIcon,
div.cluster-with-no-header div.rotator-default .rotator-next-button:focus img.defaultIcon {
  display: none;
}
div.cluster-with-no-header div.rotator-default .rotator-prev-button:hover img.hoverIcon,
div.cluster-with-no-header div.rotator-default .rotator-prev-button:focus img.hoverIcon,
div.cluster-with-no-header div.rotator-default .rotator-next-button:hover img.hoverIcon,
div.cluster-with-no-header div.rotator-default .rotator-next-button:focus img.hoverIcon {
  display: block;
  position: relative;
}
#container_stackContainer div.stack-container-photo .rotator-default .rotator-prev-button,
#container_stackContainer div.stack-container-photo .rotator-default .rotator-next-button {
  background: none;
  padding-left: 0px;
}

.rotator-default .next-button-div{
  float: left;
  margin-top: 54px;
}

.rotator-default .rotator div.pane div.pane-item {
  float: left;
  padding-left: 9px;
  position: relative;
  width: 18%; /* based on 5 pane items per rotator pane */
}

@media print {

  /* Show all particpants in icon view in preview or context panel */
  body.curam.context-panel .rotator-default .rotator .pane,
  body.curam.list-inline-page .rotator-default .rotator .pane {
    display: block !important;
    position: relative !important;
  }
  
  body.curam.context-panel #container_stackCon-fourimages .stack-container-photo .rotator-default .rotator,
  body.curam.list-inline-page #container_stackCon-fourimages .stack-container-photo .rotator-default .rotator,
  body.curam.context-panel #container_stackCon-threeimages .stack-container-photo .rotator-default .rotator,
  body.curam.basic.list-inline-page#Curam_ApplicationContextPanel #container_stackCon-threeimages .stack-container-photo .rotator-default .rotator {
    overflow: visible;
  }
  
}

/*__________________ high contrast styling _____________________*/

.high-contrast .rotator-default .rotator-next-button {
  background-image: url('../../Images/highcontrast/caret__outline--right20-enabled.svg');
}

.high-contrast .rotator-default .rotator-prev-button {
  background-image: url('../../Images/highcontrast/caret__outline--left20-enabled.svg');
}

/*______________________________________________________________________________
 * end Rotator.css
 */
