/*______________________________________________________________________________
 * RoundedCorners.css
 *
 * Styles used to create the rounded corner effect on content panels.
 */

div.content-panel-detail div.details-panel-cluster .wrapper-top {
  display: none;
}

div.wrapper .wrapper-top {
  float:left;
  height:5px;
  width:100%;
  position: static;
}

/*
CR00461776
*/
.rtl div.wrapper .wrapper-top {
  float: right;
}

div.wrapper .wrapper-top .left {
  background:url("../../Images/details-cluster-corners.png") no-repeat scroll 0 0 transparent;
  float:left;
  height:12px;
  width:10px;
}

/*
CR00461776
*/
.rtl div.wrapper .wrapper-top .left {
  background-position: right top;
  float: right;
}

div.wrapper .left {
  text-align:left;
}

/*
CR00461776
*/
.rtl div.wrapper .left {
  text-align: right;
}

div.wrapper .wrapper-top .center {
  background-color:#FFFFFF;
  border-top:1px solid #DADADA;
  display:block;
  height:4px;
  margin-right:-2px;
}

/*
CR00461776
*/
.rtl div.wrapper .wrapper-top .center {
  margin-left: -2px;
  margin-right: 0px;
}

div.wrapper .center {
  text-align:center;
}

div.wrapper .wrapper-top .center .right {
  background:url("../../Images/details-cluster-corners.png") no-repeat scroll right top transparent;
  float:right;
  height:12px;
  margin-top:-1px;
  width:10px;
}

/*
CR00461776
*/
.rtl div.wrapper .wrapper-top .center .right {
  background-position: left top;
  float: left;
}

div.wrapper .right {
  text-align:right;
}

/*
CR00461776
*/
.rtl div.wrapper .right {
  text-align: left;
}

div.wrapper .wrapper-bottom {
  float:left;
  height:3px;
  width:100%;
  position: inherit;
}

/*
CR00461776
*/
.rtl div.wrapper .wrapper-bottom {
  float: right;
}

div.wrapper .wrapper-bottom .left {
  background:url("../../Images/details-cluster-corners.png") no-repeat scroll left bottom transparent;
  float:left;
  height:3px;
  width:10px;
}

/*
CR00461776
*/
.rtl div.wrapper .wrapper-bottom .left {
  background-position: right bottom;
  float: right;
}

div.wrapper .left {
  text-align:left;
}

div.wrapper .wrapper-bottom .center {
   background-color:#FFFFFF;
   border-bottom:1px solid #DADADA;
   display:block;
   height:2px;
   margin-right:-2px;
}

/*
CR00461776
*/
.rtl div.wrapper .wrapper-bottom .center {
  margin-left: -2px;
  margin-right: 0px;
}

div.wrapper .center {
  text-align:center;
}

div.wrapper .wrapper-bottom .center .right {
  background:url("../../Images/details-cluster-corners.png") no-repeat scroll right bottom transparent;
  float:right;
  height:3px;
  width:10px;
}

/*
CR00461776
*/
.rtl div.wrapper .wrapper-bottom .center .right {
  background-position: left bottom;
  float: left;
}

div.wrapper .right {
  text-align:right;
}

div.content-panel-detail div.details-cluster-wrapper div.wrapper-top,
div.content-panel-detail div.details-cluster-wrapper div.wrapper-bottom {
  display: none;
}

div.content-panel-detail div.details-cluster-wrapper div.wrapper div.wrapper-top,
div.content-panel-detail div.details-cluster-wrapper div.wrapper div.wrapper-bottom {
  display: inline;
}


div.person-links-panel div.wrapper div.wrapper-top div.center,
div.person-links-panel div.wrapper div.wrapper-bottom div.center,
div.investigation-links-panel div.wrapper div.wrapper-top div.center {
  background-color: #E6EBF1;
}

div.person-links-panel div.wrapper .wrapper-top .left,
div.investigation-links-panel div.wrapper .wrapper-top .left,
div.dijitTooltipContainer div.wrapper .wrapper-top .left {
  background:url("../../Images/details-cluster-corners-blue.png") no-repeat scroll 0 0 transparent;
}

div.person-links-panel div.wrapper .wrapper-top .center .right,
div.investigation-links-panel div.wrapper .wrapper-top .center .right,
div.dijitTooltipContainer .wrapper-top .center .right {
  background:url("../../Images/details-cluster-corners-blue.png") no-repeat scroll right top transparent;
}

/*
CR00461776
*/
.rtl div.dijitTooltipContainer .wrapper-top .center .right,
.rtl div.investigation-links-panel div.wrapper .wrapper-top .center .right,
.rtl div.person-links-panel div.wrapper .wrapper-top .center .right {
  background-position: left top;
}

div.person-links-panel div.wrapper .wrapper-bottom .left,
div.dijitTooltipContainer div.wrapper .wrapper-bottom .left {
  background:url("../../Images/details-cluster-corners-blue.png") no-repeat scroll left bottom transparent;
}

/*
CR00461776
*/
.rtl div.dijitTooltipContainer div.wrapper .wrapper-bottom .left
.rtl div.person-links-panel div.wrapper .wrapper-bottom .left {
  background-position: right bottom;
}

div.person-links-panel div.wrapper .wrapper-bottom .center .right,
div.dijitTooltipContainer div.wrapper .wrapper-bottom .center .right {
  background:url("../../Images/details-cluster-corners-blue.png") no-repeat scroll right bottom transparent;
}

div.person-links-panel div.wrapper div.wrapper-top,
div.person-links-panel div.wrapper div.wrapper-bottom,
div.ic-links-panel div.wrapper div.wrapper-top {

  background-color: #E6EBF1;

}

div.case-participant-panel div.wrapper .wrapper-top,
div.pane-item div.wrapper .wrapper-top,
div.stack-container-list div.wrapper .wrapper-top,
div.proddelivery-image-panel div.wrapper .wrapper-top {
  height: 1px;
}

div.case-participant-panel div.wrapper .wrapper-top .center,
div.pane-item div.wrapper .wrapper-top .center,
div.proddelivery-image-panel div.wrapper .wrapper-top .center,
div.dijitTooltipContainer div.wrapper .wrapper-top .center {
  background-color: #EBEBEB;
}

div.incident-content-panel div.wrapper div.wrapper-bottom div.left,
div.investigation-content-panel div.wrapper div.wrapper-bottom div.left,
div.pd-content-panel div.wrapper div.wrapper-bottom div.left,
div.pd-content-panel-onecol div.wrapper div.wrapper-bottom div.left,
div.legalaction-order-details-panel div.wrapper div.wrapper-bottom div.left,
div.appeal-hr-details-panel div.wrapper div.wrapper-bottom div.left,
div.caseaudit-content-panel div.wrapper div.wrapper-bottom div.left {
  background:url("../../Images/details-cluster-corners-blue.png") no-repeat scroll left bottom transparent;
}

div.incident-content-panel div.wrapper div.wrapper-bottom div.center div.right,
div.investigation-content-panel div.wrapper div.wrapper-bottom div.center div.right,
div.pd-content-panel div.wrapper div.wrapper-bottom div.center div.right,
div.pd-content-panel-onecol div.wrapper div.wrapper-bottom div.center div.right,
div.legalaction-order-details-panel div.wrapper div.wrapper-bottom div.center div.right,
div.appeal-hr-details-panel div.wrapper div.wrapper-bottom div.center div.right,
div.caseaudit-content-panel div.wrapper div.wrapper-bottom div.center div.right {
  background:url("../../Images/details-cluster-corners-blue.png") no-repeat scroll right bottom transparent;
}

div.incident-content-panel div.wrapper div.wrapper-bottom div.center,
div.investigation-content-panel div.wrapper div.wrapper-bottom div.center,
div.pd-content-panel div.wrapper div.wrapper-bottom div.center,
div.pd-content-panel-onecol div.wrapper div.wrapper-bottom div.center,
div.legalaction-order-details-panel div.wrapper div.wrapper-bottom div.center,
div.appeal-hr-details-panel div.wrapper div.wrapper-bottom div.center,
div.caseaudit-content-panel div.wrapper div.wrapper-bottom div.center,
div.dijitTooltipContainer div.wrapper div.wrapper-bottom div.center {
  background-color:  #E6EBF1;
}

div.stack-container-list div.wrapper .wrapper-top .center {
  margin-right: -1px;
}

div.tooltip-outer-panel div.wrapper .wrapper-top .left {
  background:url("../../Images/details-cluster-corners.png") no-repeat scroll 0 0 transparent;
}

/*
CR00461776
*/
.rtl div.tooltip-outer-panel div.wrapper .wrapper-top .left {
  background-position: right top;
}

div.tooltip-outer-panel .wrapper-top .center .right {
  background:url("../../Images/details-cluster-corners.png") no-repeat scroll right top transparent;
}

div.tooltip-outer-panel div.wrapper .wrapper-bottom .left {
  background:url("../../Images/details-cluster-corners.png") no-repeat scroll left bottom transparent;
}

/*
CR00461776
*/
.rtl div.tooltip-outer-panel div.wrapper .wrapper-bottom .left {
  background-position: left bottom;
}

div.tooltip-outer-panel div.wrapper .wrapper-bottom .center .right {
  background:url("../../Images/details-cluster-corners.png") no-repeat scroll right bottom transparent;
}

/*
CR00461776
*/
.rtl div.tooltip-outer-panel div.wrapper .wrapper-bottom .center .right {
  background-position: left bottom;
}

div.dijitTooltipContainer div.tooltip-outer-panel div.wrapper .wrapper-top .center,
div.dijitTooltipContainer div.tooltip-outer-panel div.wrapper .wrapper-bottom .center {
  background-color: #FFFFFF;
}

div.person-links-panel-onecol div.wrapper div.wrapper-top div.center,
div.person-links-panel-onecol div.wrapper div.wrapper-bottom div.center {
  background-color: #E6EBF1;
}

div.person-links-panel-onecol div.wrapper .wrapper-top .left {
  background:url("../../Images/details-cluster-corners-blue.png") no-repeat scroll 0 0 transparent;
}

div.person-links-panel-onecol div.wrapper .wrapper-top .center .right {
  background:url("../../Images/details-cluster-corners-blue.png") no-repeat scroll right top transparent;
}

div.person-links-panel-onecol div.wrapper .wrapper-bottom .left {
  background:url("../../Images/details-cluster-corners-blue.png") no-repeat scroll left bottom transparent;
}

div.person-links-panel-onecol div.wrapper .wrapper-bottom .center .right {
  background:url("../../Images/details-cluster-corners-blue.png") no-repeat scroll right bottom transparent;
}

div.person-links-panel-onecol div.wrapper div.wrapper-top,
div.person-links-panel-onecol div.wrapper div.wrapper-bottom {

  background-color: #E6EBF1;

}

/*__________________ high contrast styling _____________________*/

.high-contrast div.wrapper .wrapper-top .left {
  background:url("../../Images/highcontrast/details-cluster-corners.png") no-repeat scroll 0 0 transparent;
}

.high-contrast div.wrapper .wrapper-top .center {
  border-top: 1px solid #575757;
}

.high-contrast div.wrapper .wrapper-top .center .right {
  background:url("../../Images/highcontrast/details-cluster-corners.png") no-repeat scroll right top transparent;
}

.high-contrast div.wrapper .wrapper-bottom .left {
  background:url("../../Images/highcontrast/details-cluster-corners.png") no-repeat scroll left bottom transparent;
}

.high-contrast div.wrapper .wrapper-bottom .center {
   border-bottom: 1px solid #575757;
}

.high-contrast div.wrapper .wrapper-bottom .center .right {
  background:url("../../Images/highcontrast/details-cluster-corners.png") no-repeat scroll right bottom transparent;
}

.high-contrast div.person-links-panel div.wrapper div.wrapper-top div.center,
.high-contrast div.person-links-panel div.wrapper div.wrapper-bottom div.center,
.high-contrast div.investigation-links-panel div.wrapper div.wrapper-top div.center {
  background-color: #ffffff;
}

.high-contrast div.person-links-panel div.wrapper .wrapper-top .left,
.high-contrast div.investigation-links-panel div.wrapper .wrapper-top .left,
.high-contrast div.dijitTooltipContainer div.wrapper .wrapper-top .left {
  background:url("../../Images/highcontrast/details-cluster-corners-blue.png") no-repeat scroll 0 0 transparent;
}

.high-contrast div.person-links-panel div.wrapper .wrapper-top .center .right,
.high-contrast div.investigation-links-panel div.wrapper .wrapper-top .center .right,
.high-contrast div.dijitTooltipContainer .wrapper-top .center .right {
  background:url("../../Images/highcontrast/details-cluster-corners-blue.png") no-repeat scroll right top transparent;
}

/*
CR00461776
*/
.rtl .high-contrast div.dijitTooltipContainer .wrapper-top .center .right,
.rtl .high-contrast div.investigation-links-panel div.wrapper .wrapper-top .center .right,
.rtl .high-contrast div.person-links-panel div.wrapper .wrapper-top .center .right {
  background:url("../../Images/highcontrast/details-cluster-corners-blue.png") no-repeat scroll right top transparent;
}

.high-contrast div.person-links-panel div.wrapper .wrapper-bottom .left,
.high-contrast div.dijitTooltipContainer div.wrapper .wrapper-bottom .left {
  background:url("../../Images/highcontrast/details-cluster-corners-blue.png") no-repeat scroll left bottom transparent;
}

.high-contrast div.person-links-panel div.wrapper .wrapper-bottom .center .right,
.high-contrast div.dijitTooltipContainer div.wrapper .wrapper-bottom .center .right {
  background:url("../../Images/highcontrast/details-cluster-corners-blue.png") no-repeat scroll right bottom transparent;
}

.high-contrast div.incident-content-panel div.wrapper div.wrapper-bottom div.left,
.high-contrast div.investigation-content-panel div.wrapper div.wrapper-bottom div.left,
.high-contrast div.pd-content-panel div.wrapper div.wrapper-bottom div.left,
.high-contrast div.pd-content-panel-onecol div.wrapper div.wrapper-bottom div.left,
.high-contrast div.legalaction-order-details-panel div.wrapper div.wrapper-bottom div.left,
.high-contrast div.appeal-hr-details-panel div.wrapper div.wrapper-bottom div.left,
.high-contrast div.caseaudit-content-panel div.wrapper div.wrapper-bottom div.left {
  background:url("../../Images/highcontrast/details-cluster-corners-blue.png") no-repeat scroll left bottom transparent;
}

.high-contrast div.incident-content-panel div.wrapper div.wrapper-bottom div.center div.right,
.high-contrast div.investigation-content-panel div.wrapper div.wrapper-bottom div.center div.right,
.high-contrast div.pd-content-panel div.wrapper div.wrapper-bottom div.center div.right,
.high-contrast div.pd-content-panel-onecol div.wrapper div.wrapper-bottom div.center div.right,
.high-contrast div.legalaction-order-details-panel div.wrapper div.wrapper-bottom div.center div.right,
.high-contrast div.appeal-hr-details-panel div.wrapper div.wrapper-bottom div.center div.right,
.high-contrast div.caseaudit-content-panel div.wrapper div.wrapper-bottom div.center div.right {
  background:url("../../Images/highcontrast/details-cluster-corners-blue.png") no-repeat scroll right bottom transparent;
}

.high-contrast div.case-participant-panel div.wrapper .wrapper-top .center,
.high-contrast div.pane-item div.wrapper .wrapper-top .center,
.high-contrast div.proddelivery-image-panel div.wrapper .wrapper-top .center,
.high-contrast div.dijitTooltipContainer div.wrapper .wrapper-top .center {
  background-color: #ffffff;
}

.high-contrast div.incident-content-panel div.wrapper div.wrapper-bottom div.center,
.high-contrast div.investigation-content-panel div.wrapper div.wrapper-bottom div.center,
.high-contrast div.pd-content-panel div.wrapper div.wrapper-bottom div.center,
.high-contrast div.pd-content-panel-onecol div.wrapper div.wrapper-bottom div.center,
.high-contrast div.legalaction-order-details-panel div.wrapper div.wrapper-bottom div.center,
.high-contrast div.appeal-hr-details-panel div.wrapper div.wrapper-bottom div.center,
.high-contrast div.caseaudit-content-panel div.wrapper div.wrapper-bottom div.center,
.high-contrast div.dijitTooltipContainer div.wrapper div.wrapper-bottom div.center {
  background-color:  #ffffff;
}

.high-contrast div.tooltip-outer-panel div.wrapper .wrapper-top .left {
  background:url("../../Images/highcontrast/details-cluster-corners.png") no-repeat scroll 0 0 transparent;
}


.high-contrast div.tooltip-outer-panel .wrapper-top .center .right {
  background:url("../../Images/highcontrast/details-cluster-corners.png") no-repeat scroll right top transparent;
}

.high-contrast div.tooltip-outer-panel div.wrapper .wrapper-bottom .left {
  background:url("../../Images/highcontrast/details-cluster-corners.png") no-repeat scroll left bottom transparent;
}

.high-contrast div.tooltip-outer-panel div.wrapper .wrapper-bottom .center .right {
  background:url("../../Images/highcontrast/details-cluster-corners.png") no-repeat scroll right bottom transparent;
}

.high-contrast div.person-links-panel-onecol div.wrapper div.wrapper-top div.center,
.high-contrast div.person-links-panel-onecol div.wrapper div.wrapper-bottom div.center {
  background-color: #ffffff;
}

.high-contrast div.person-links-panel-onecol div.wrapper .wrapper-top .left {
  background:url("../../Images/highcontrast/details-cluster-corners-blue.png") no-repeat scroll 0 0 transparent;
}

.high-contrast div.person-links-panel-onecol div.wrapper .wrapper-top .center .right {
  background:url("../../Images/highcontrast/details-cluster-corners-blue.png") no-repeat scroll right top transparent;
}

.high-contrast div.person-links-panel-onecol div.wrapper .wrapper-bottom .left {
  background:url("../../Images/highcontrast/details-cluster-corners-blue.png") no-repeat scroll left bottom transparent;
}

.high-contrast div.person-links-panel-onecol div.wrapper .wrapper-bottom .center .right {
  background:url("../../Images/highcontrast/details-cluster-corners-blue.png") no-repeat scroll right bottom transparent;
}


/*______________________________________________________________________________
 * end RoundedCorners.css
 */