/*______________________________________________________________________________
 * RoundedCorners_rtl.css
 *
 * Styles used to create the rounded corner effect on content panels.
 */

.rtl div.wrapper .wrapper-top {
  float:right;
}

.rtl div.wrapper .wrapper-top .left {
  background-position: right 0;
  float:right;
}

.rtl div.wrapper .left {
  text-align:right;
}

.rtl div.wrapper .wrapper-top .center {
  margin-right:0;
  margin-left:-2px;
}

.rtl div.wrapper .wrapper-top .center .right {
  background-position:left top;
  float:left;
}

.rtl div.wrapper .right {
  text-align:left;
}

.rtl div.wrapper .wrapper-bottom {
  float:right;
}

.rtl div.wrapper .wrapper-bottom .left {
  background-position:right bottom;
  float:right;
}

.rtl div.wrapper .left {
  text-align:right;
}

.rtl div.wrapper .wrapper-bottom .center {
   margin-right:0;
   margin-left:-2px;
}

.rtl div.wrapper .wrapper-bottom .center .right {
  background-position:left bottom;
  float:left;
  height:3px;
  width:10px;
}

div.wrapper .right {
  text-align:right;
}

.rtl div.person-links-panel div.wrapper .wrapper-top .left,
.rtl div.investigation-links-panel div.wrapper .wrapper-top .left,
.rtl div.dijitTooltipContainer div.wrapper .wrapper-top .left {
  background-position:right 0;
}

.rtl div.person-links-panel div.wrapper .wrapper-top .center .right,
.rtl div.investigation-links-panel div.wrapper .wrapper-top .center .right,
.rtl div.dijitTooltipContainer .wrapper-top .center .right {
  background-position:left top;
}

.rtl div.person-links-panel div.wrapper .wrapper-bottom .left,
.rtl div.dijitTooltipContainer div.wrapper .wrapper-bottom .left {
  background-position:right bottom;
}

.rtl div.person-links-panel div.wrapper .wrapper-bottom .center .right,
.rtl div.dijitTooltipContainer div.wrapper .wrapper-bottom .center .right {
  background-position:left bottom;
}

/*______________________________________________________________________________
 * end RoundedCorners_rtl.css
 */