/*______________________________________________________________________________
 * SearchRenderer.css
 * 
 * Create styles that are applied to the HTML produce by the SearchRenderer.
 */
.search-widget{
    float         : left;
    padding-right : 4px;
}

.search-container{
    float        : right;
}

.search-title{
	color        : white;
	font-weight  : bold;
	text-align   : left;
}

.search-query{
	color        : #EE7B13;
	margin-right : 5px;
}

.search-button{
	color        : #EE7B13;
	margin-right : 5px;
}
/* END SearchRender.css 
 ______________________________________________________________________________*/