/*______________________________________________________________________________
 * SpanRenderer_rtl.css
 *
 * Create styles that are applied to the HTML produce by the SpanRenderer.
 */

.rtl div.action-bar {
  margin-left: 0;
  margin-right: -10px;
  padding-left: 0;
  padding-right: 19px;
}

.rtl span.action-bar {
  margin: 0px 0px 0px 6px;
  padding-left: 2px;
  padding-right: 3px;
  border-left-style: none;
  float: left;
}


/* END SpanRender_rtl.css
 ______________________________________________________________________________*/
