/*______________________________________________________________________________
 * SpanRenderer.css
 *
 * Create styles that are applied to the HTML produce by the SpanRenderer.
 */

div.action-bar {
  display: inline-block;
  margin-left: -10px;
  margin-top: -5px;
  padding-left: 19px;
  width: 100%;
}

span.action-bar {
  display: inline-block;
  margin: 0px 6px 0px 0px;
  padding-top: 4px;
  padding-left: 3px;
  padding-right: 2px;
  padding-bottom: 2px;
  text-indent: 0;
  border: 0px;
  border-right-style: none;
  float: right;
}

.action-bar a.ac {
  text-decoration : none;
  padding: 0px;
  border: 2px;
  color: #376F8F;
}

.podcontrol-button-center .action-bar a.ac,
.podcontrol-button-center .action-bar a.ac:hover  {
  text-decoration : none;
  padding: 0px;
  border: 2px;
}

.podcontrol-button-center a.ac {
  color: #57595B;
}

.podcontrol-button-center a.ac:hover {
  color: #F39002;
}

/* END SpanRender.css
 ______________________________________________________________________________*/