/*
 *  Licensed Materials - Property of IBM
 *
 *  PID 5725-H26
 *
 *  Copyright IBM Corporation 2020,2021. All rights reserved.
 * 
 *  US Government Users Restricted Rights - Use, duplication or disclosure
 *  restricted by GSA ADP Schedule Contract with IBM Corp.
 */
 
#stackContainer {
  position: absolute;
  right: 330px;
  left: 10px;
}

#stackContainer #container_stackContainer div.stack-container-photo {
  overflow: hidden;
  height: 205px;
  width: 739px;
  padding: 0px;
}

#stackContainer #container_stackContainer div.stack-container-list {
  height: 172px;
  overflow: visible;
}

#controller_stackContainer span span span {
  border: none;
  padding: 0px;
}


#controller_stackContainer span.dijitChecked #controller_stackContainer_title_1{
  background-image: url('../../Images/view_list_active.png');
  background-repeat: no-repeat;
  background-color: white;
  font-size: 0px;
  border: 0px;
  height: 15px;
  width: 15px;
  border-style: none;
}

#controller_stackContainer span #controller_stackContainer_title_1{
  background-image: url('../../Images/view_list_inactive.png');
  background-repeat: no-repeat;
  background-color: white;
  font-size: 0px;
  border: 0px;
  height: 15px;
  width: 15px;
  border-style: none;
}

#controller_stackContainer span.dijitChecked #controller_stackContainer_title_2 {
  background-image: url('../../Images/view_photo_active.png');
  background-repeat: no-repeat;
  background-color: white;
  font-size: 0px;
  border: 0px;
  height: 15px;
  width: 15px;
  border-style: none;
}

#controller_stackContainer span #controller_stackContainer_title_2 {
  background-image: url('../../Images/view_photo_inactive.png');
  background-repeat: no-repeat;
  background-color: white;
  font-size: 0px;
  border: 0px;
  height: 15px;
  width: 15px;
  border-style: none;
}

div.stack-container-list div.wrapper {
  width: 99%;
}

/* Below are the style classes to display five images in a stack container */

#stackCon-fiveimages {
  position: absolute;
  right: 330px;
  left: 10px;
}

#stackCon-fiveimages .dijitContainer {
  overflow:visible;
}

#stackCon-fiveimages #container_stackCon-fiveimages div.stack-container-photo {
  overflow: visible;
  height: 205px;
  width: 739px;
  padding: 0px;
}

#stackCon-fiveimages #container_stackCon-fiveimages div.stack-container-list {
  height: 172px;
  overflow: visible;
}

#controller_stackCon-fiveimages span span span {
  border: none;
  padding: 0px;
}


#controller_stackCon-fiveimages span.dijitChecked #controller_stackCon-fiveimages_title_1{
  background-image: url('../../Images/view_list_active.png');
  background-repeat: no-repeat;
  background-color: white;
  font-size: 0px;
  border: 0px;
  height: 15px;
  width: 15px;
  border-style: none;
}

#controller_stackCon-fiveimages span #controller_stackCon-fiveimages_title_1{
  background-image: url('../../Images/view_list_inactive.png');
  background-repeat: no-repeat;
  background-color: white;
  font-size: 0px;
  border: 0px;
  height: 15px;
  width: 15px;
  border-style: none;
}

#controller_stackCon-fiveimages span.dijitChecked #controller_stackCon-fiveimages_title_2 {
  background-image: url('../../Images/view_photo_active.png');
  background-repeat: no-repeat;
  background-color: white;
  font-size: 0px;
  border: 0px;
  height: 15px;
  width: 15px;
  border-style: none;
}

#controller_stackCon-fiveimages span #controller_stackCon-fiveimages_title_2 {
  background-image: url('../../Images/view_photo_inactive.png');
  background-repeat: no-repeat;
  background-color: white;
  font-size: 0px;
  border: 0px;
  height: 15px;
  width: 15px;
  border-style: none;
}

div.stack-container-list div.wrapper {
  width: 99%;
}

#container_stackCon-fiveimages .stack-container-photo .rotator-default .rotator {
  width: 85%;
  overflow: hidden;
  float: left;
}

#container_stackCon-fiveimages .stack-container-photo .rotator-default {
  left: 0;
  position: absolute;
  width: 725px;
}

#container_stackCon-fiveimages .stack-container-photo .rotator-default .next-button-div {
   margin-left: -8px;
}

#container_stackCon-fiveimages .stack-container-photo .rotator-default .rotator div.pane div.pane-item{
   float: left;
   padding-left: 9px;
   position: relative;
   width: 18%; /* based on 5 pane items per rotator pane */
}

#container_stackCon-fiveimages .stack-container-list .tab-case-list {
  left: 0;
  position: absolute;
  width: 640px;
}

 /* End of styling for five image stack container  */

/* Below are the style classes to display four images in a stack container */

#stackCon-fourimages {
  position: absolute;
  right: 360px;
  left: 5px;
  z-index: 1;
  top: 5px;
}

#stackCon-fourimages .dijitContainer {
  overflow: visible;
  position: absolute;
  top: 3px;
  z-index: -1;
}

#controller_stackCon-fourimages {
  display: block;
  width: 1px;
}

#stackCon-fourimages .stackControl {
  position: absolute;
  left: -2px;
}

#stackCon-fourimages #container_stackCon-fourimages div.stack-container-photo {
  overflow: visible;
  height: 145px;
  width: 620px;
  padding: 0px;
}

#stackCon-fourimages #container_stackCon-fourimages div.stack-container-list {
  height: 150px;
  overflow: visible;
}

#controller_stackCon-fourimages span span span {
  border: none;
  padding: 0px;
  background: transparent;
}


#controller_stackCon-fourimages span.dijitChecked #controller_stackCon-fourimages_title_1{
  background-image: url('../../Images/avatar--20-enabled.svg');
  background-repeat: no-repeat;
  background-color: transparent;
  font-size: 0px;
  border: 0px;
  height: 21px;
  width: 21px;
  border-style: none;
}

#controller_stackCon-fourimages span #controller_stackCon-fourimages_title_1{
  background-image: url('../../Images/avatar--20-enabled.svg');
  background-repeat: no-repeat;
  background-color: transparent;
  font-size: 0px;
  border: 0px;
  height: 21px;
  width: 21px;
  border-style: none;
}

#controller_stackCon-fourimages span.dijitChecked #controller_stackCon-fourimages_title_2 {
  background-image: url('../../Images/list--20-enabled.svg');
  background-repeat: no-repeat;
  background-color: white;
  font-size: 0px;
  border: 0px;
  height: 21px;
  width: 21px;
  border-style: none;
}

#controller_stackCon-fourimages span #controller_stackCon-fourimages_title_2 {
  background-image: url('../../Images/list--20-enabled.svg');
  background-repeat: no-repeat;
  background-color: transparent;
  font-size: 0px;
  border: 0px;
  height: 21px;
  width: 21px;
  border-style: none;
}

div.stack-container-list div.wrapper {
  width: 99%;
}

#container_stackCon-fourimages .stack-container-photo .rotator:first-child {
  width: 85% !important;
}

#container_stackCon-fourimages .stack-container-photo .rotator-default .rotator {
  width: 83%;
  overflow: hidden;
  float: left;
}

#container_stackCon-fourimages .stack-container-photo .rotator-default {
  left: 0;
  position: absolute;
  width: 600px;
}

#container_stackCon-fourimages .stack-container-photo .rotator-default .rotator div.pane div.pane-item{
   float: left;
   padding-left: 9px;
   position: relative;
   width: 113px;
}

#container_stackCon-fourimages .stack-container-list .tab-case-list {
  left: 28px;
  position: absolute;
  width: 585px;
}

 /* End of styling for four image stack container  */

 /* Below are the style classes to display two images in a stack container, see further
  * down for styling for three images in stack container
  */

#stackCon-twoimages {
  position: absolute;
  right: 618px;
  left: 10px;
}

#stackCon-twoimages .dijitContainer {
  overflow:visible;
}

#stackCon-twoimages #container_stackCon-twoimages div.stack-container-photo {
  overflow: visible;
  height: 145px;
  width: 739px;
  padding: 0px;
}

#stackCon-twoimages #container_stackCon-twoimages div.stack-container-list {
  height: 172px;
  overflow: visible;
}

#controller_stackCon-twoimages span span span {
  border: none;
  padding: 0px;
}


#controller_stackCon-twoimages span.dijitChecked #controller_stackCon-twoimages_title_1{
  background-image: url('../../Images/view_list_active.png');
  background-repeat: no-repeat;
  background-color: white;
  font-size: 0px;
  border: 0px;
  height: 15px;
  width: 15px;
  border-style: none;
}

#controller_stackCon-twoimages span #controller_stackCon-twoimages_title_1{
  background-image: url('../../Images/view_list_inactive.png');
  background-repeat: no-repeat;
  background-color: white;
  font-size: 0px;
  border: 0px;
  height: 15px;
  width: 15px;
  border-style: none;
}

#controller_stackCon-twoimages span.dijitChecked #controller_stackCon-twoimages_title_2 {
  background-image: url('../../Images/view_photo_active.png');
  background-repeat: no-repeat;
  background-color: white;
  font-size: 0px;
  border: 0px;
  height: 15px;
  width: 15px;
  border-style: none;
}

#controller_stackCon-twoimages span #controller_stackCon-twoimages_title_2 {
  background-image: url('../../Images/view_photo_inactive.png');
  background-repeat: no-repeat;
  background-color: white;
  font-size: 0px;
  border: 0px;
  height: 15px;
  width: 15px;
  border-style: none;
}

div.stack-container-list div.wrapper {
  width: 99%;
}

#container_stackCon-twoimages .stack-container-photo .rotator-default .rotator {
  width: 85%;
  overflow: hidden;
  float: left;
}

#container_stackCon-twoimages .stack-container-photo .rotator-default {
  left:0;
  position:absolute;
  width:350px;
}

#container_stackCon-twoimages .stack-container-photo .rotator-default .rotator div.pane div.pane-item{
   float: left;
   padding-left: 9px;
   position: relative;
   width: 45%; /* based on 2 pane items per rotator pane */
}

#container_stackCon-twoimages .stack-container-list .tab-case-list {
  left: 0;
  position: absolute;
  width: 346px;
}

/* End of styling for two image stack container  */

/* Below are the style classes to display three images in a stack container */

#stackCon-threeimages {
  position: absolute;
  right: 460px;
  left: 5px;
  z-index: 1;
  top: 5px;
}

/*
CR00461776
*/
.rtl #stackCon-threeimages {
  left: 460px;
  right: 5px;
}

#stackCon-threeimages .dijitContainer {
  overflow: visible;
  position: absolute;
  top: 3px;
  z-index: -1;
}

#controller_stackCon-threeimages {
  display: block;
  width: 1px;
}

#stackCon-threeimages .stackControl {
  position: absolute;
  left: -2px;
}

/*
CR00461776
*/
.rtl #stackCon-threeimages .stackControl {
  left: auto;
  right: -2px;
}

#stackCon-threeimages #container_stackCon-threeimages div.stack-container-photo {
  overflow: visible;
  height: 145px;
  width: 450px;
  padding: 0px;
}

#stackCon-threeimages #container_stackCon-threeimages div.stack-container-list {
  height: 172px;
  overflow: visible;
}

#controller_stackCon-threeimages span span span {
  border: none;
  padding: 0px;
  background: transparent;
}


#controller_stackCon-threeimages span.dijitChecked #controller_stackCon-threeimages_title_1{
  background-image: url('../../Images/avatar--20-enabled.svg');
  background-repeat: no-repeat;
  background-color: transparent;
  font-size: 0px;
  border: 0px;
  height: 21px;
  width: 21px;
  border-style: none;
}

#controller_stackCon-threeimages span #controller_stackCon-threeimages_title_1{
  background-image: url('../../Images/avatar--20-enabled.svg');
  background-repeat: no-repeat;
  background-color: transparent;
  font-size: 0px;
  border: 0px;
  height: 21px;
  width: 21px;
  border-style: none;
}

#controller_stackCon-threeimages span.dijitChecked #controller_stackCon-threeimages_title_2 {
  background-image: url('../../Images/list--20-enabled.svg');
  background-repeat: no-repeat;
  background-color: white;
  font-size: 0px;
  border: 0px;
  height: 21px;
  width: 21px;
  border-style: none;
}

#controller_stackCon-threeimages span #controller_stackCon-threeimages_title_2 {
  background-image: url('../../Images/list--20-enabled.svg');
  background-repeat: no-repeat;
  background-color: transparent;
  font-size: 0px;
  border: 0px;
  height: 21px;
  width: 21px;
  border-style: none;
}

span#curam_controller_stackCon-threeimages span.dijitButtonNode {
 background: transparent;
 border: none;
}

span#curam_controller_stackCon-threeimages_title_1 img {
  margin-top: -3px;
  margin-left: -3px;
  padding-top: 3px;
  padding-bottom: 5px;
  padding-left: 9px;
  padding-right: 9px;
}

span#curam_controller_stackCon-threeimages_title_2 img {
  margin-top: -6px;
  margin-left: -3px;
  padding-top: 3px; 
  padding-bottom: 4px;
  padding-left: 9px;
  padding-right: 9px;  
}

@media (forced-colors: active) and (prefers-color-scheme: dark) {
  span#curam_controller_stackCon-threeimages_title_1 img,
  span#curam_controller_stackCon-threeimages_title_2 img {
    filter: invert(1);
  }
}

span#curam_controller_stackCon-threeimages_title_1 img.hoverIcon,
span#curam_controller_stackCon-threeimages_title_2 img.hoverIcon {
  display: none;
}

span#curam_controller_stackCon-threeimages_title_1:hover img.hoverIcon,
span#curam_controller_stackCon-threeimages_title_1:focus img.hoverIcon,
span#curam_controller_stackCon-threeimages_title_2:hover img.hoverIcon,
span#curam_controller_stackCon-threeimages_title_2:focus img.hoverIcon {
  display: block;
}

span#curam_controller_stackCon-threeimages_title_1:hover img.defaultIcon,
span#curam_controller_stackCon-threeimages_title_1:focus img.defaultIcon,
span#curam_controller_stackCon-threeimages_title_2:hover img.defaultIcon,
span#curam_controller_stackCon-threeimages_title_2:focus img.defaultIcon {
  display: none;
}

#container_stackContainer .stack-container-photo div.rotator-default div.prev-button-div button img,
#container_stackContainer .stack-container-photo div.rotator-default div.next-button-div button img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#container_stackContainer .stack-container-photo div.rotator-default div.prev-button-div button img.hoverIcon,
#container_stackContainer .stack-container-photo div.rotator-default div.next-button-div button img.hoverIcon {
  display: none;
}

#container_stackContainer .stack-container-photo div.rotator-default div.prev-button-div button:hover img.hoverIcon,
#container_stackContainer .stack-container-photo div.rotator-default div.prev-button-div button:focus img.hoverIcon,
#container_stackContainer .stack-container-photo div.rotator-default div.next-button-div button:hover img.hoverIcon,
#container_stackContainer .stack-container-photo div.rotator-default div.next-button-div button:focus img.hoverIcon {
  display: block;
  position: relative;
}

#container_stackContainer .stack-container-photo div.rotator-default div.prev-button-div button:hover img.defaultIcon,
#container_stackContainer .stack-container-photo div.rotator-default div.prev-button-div button:focus img.defaultIcon,
#container_stackContainer .stack-container-photo div.rotator-default div.next-button-div button:hover img.defaultIcon,
#container_stackContainer .stack-container-photo div.rotator-default div.next-button-div button:focus img.defaultIcon {
  display: none;
}

div.stack-container-list div.wrapper {
  width: 99%;
}

body.curam.soria #container_stackCon-threeimages .stack-container-photo .rotator:first-child {
  width: 90% !important;
}

#container_stackCon-threeimages .stack-container-photo .rotator-default .rotator {
  width: 83%;
  overflow: hidden;
  float: left;
}

.rtl #container_stackCon-threeimages .stack-container-photo .rotator-default .rotator {
  float: right;
}

#container_stackCon-threeimages .stack-container-photo .rotator-default {
  left:0;
  position:absolute;
  width: 455px;
}

/*
CR00461776
*/
.rtl #container_stackCon-threeimages .stack-container-photo .rotator-default {
  left: auto;
  right: 0;
}

#container_stackCon-threeimages .stack-container-photo .rotator-default .rotator div.pane div.pane-item{
   float: left;
   padding-left: 9px;
   position: relative;
   width: 113px; /* based on 3 pane items per rotator pane */
}

/*
CR00461776
*/
.rtl #container_stackCon-threeimages .stack-container-photo .rotator-default .rotator div.pane div.pane-item {
  float: right;
  padding-left: 0px;
  padding-right: 9px;
}

#container_stackCon-threeimages .stack-container-list .tab-case-list {
  left: 28px;
  position: absolute;
  width: 478px;
}

/*
CR00461776
*/
.rtl #container_stackCon-threeimages .stack-container-list .tab-case-list {
  left: 0px;
  right: 28px;
}

 /* End of styling for three image stack container  */

 .stackControl .dijitButtonText {
   display: none;
}

.rotator-buttons-disabled .pane {
  left: 18px !important;
}

/*
CR00461776
*/
.rtl .rotator-buttons-disabled .pane {
  left: auto !important;
  right: 18px !important;
}

div.container-panel span.curamStackController {
  display: block;
  width: 50%;
}

#stackContainer #curam_controller_stackContainer_title_1 img,
#stackContainer #curam_controller_stackContainer_title_2 img {
  height: 21px;
  width: 21px;
  margin-left: auto;
  margin-right: auto;  
}

#stackContainer #curam_controller_stackContainer_title_1 img.hoverIcon,
#stackContainer #curam_controller_stackContainer_title_2 img.hoverIcon {
  display: none;
}

#stackContainer #curam_controller_stackContainer_title_1:hover img.defaultIcon,
#stackContainer #curam_controller_stackContainer_title_1:focus img.defaultIcon,
#stackContainer #curam_controller_stackContainer_title_2:hover img.defaultIcon,
#stackContainer #curam_controller_stackContainer_title_2:focus img.defaultIcon {
  display: none;
}

#stackContainer #curam_controller_stackContainer_title_1:hover img.hoverIcon,
#stackContainer #curam_controller_stackContainer_title_1:focus img.hoverIcon,
#stackContainer #curam_controller_stackContainer_title_2:hover img.hoverIcon,
#stackContainer #curam_controller_stackContainer_title_2:focus img.hoverIcon {
  display: block;
}

/*__________________ high contrast styling _____________________*/

.high-contrast #controller_stackCon-fourimages span.dijitChecked #controller_stackCon-fourimages_title_1{
  background-image: url('../../Images/highcontrast/avatar--20-enabled.svg');
}

.high-contrast #controller_stackCon-fourimages span #controller_stackCon-fourimages_title_1{
  background-image: url('../../Images/highcontrast/avatar--20-enabled.svg');
}

.high-contrast #controller_stackCon-fourimages span.dijitChecked #controller_stackCon-fourimages_title_2 {
  background-image: url('../../Images/highcontrast/list--20-enabled.svg');
}

.high-contrast #controller_stackCon-fourimages span #controller_stackCon-fourimages_title_2 {
  background-image: url('../../Images/highcontrast/list--20-enabled.svg');
}


.high-contrast #controller_stackCon-threeimages span.dijitChecked #controller_stackCon-threeimages_title_1{
  background-image: url('../../Images/highcontrast/avatar--20-enabled.svg');
}

.high-contrast #controller_stackCon-threeimages span #controller_stackCon-threeimages_title_1{
  background-image: url('../../Images/highcontrast/avatar--20-enabled.svg');
}

.high-contrast #controller_stackCon-threeimages span.dijitChecked #controller_stackCon-threeimages_title_2 {
  background-image: url('../../Images/highcontrast/list--20-enabled.svg');
}

.high-contrast #controller_stackCon-threeimages span #controller_stackCon-threeimages_title_2 {
  background-image: url('../../Images/highcontrast/list--20-enabled.svg');

}

.high-contrast #container_stackCon-fourimages .stack-container-list .tab-case-list {
  border: 1px solid #575757;
}

.high-contrast #container_stackCon-twoimages .stack-container-list .tab-case-list {
  border: 1px solid #575757;
}

.high-contrast #container_stackCon-threeimages .stack-container-list .tab-case-list {
  border: 1px solid #575757;
}

.stackControl .dijitToggleButton input.dijitOffScreen {
  display: none;
}

