/*
 * IBM Confidential
 *
 * OCO Source Materials
 *
 * Copyright IBM Corporation 2020.
 *
 * The source code for this program is not published or otherwise divested of
 * its trade secrets, irrespective of what has been deposited with the US
 * Copyright Office.
 */
 
.rtl #stackContainer {
  right: 10px;
  left: 330px;
}

/* Below are the style classes to display five images in a stack container */

.rtl #stackCon-fiveimages {
  right: 10px;
  left: 330px;
}

.rtl #container_stackCon-fiveimages .stack-container-photo .rotator-default .rotator {
  float: right;
}

.rtl #container_stackCon-fiveimages .stack-container-photo .rotator-default {
  left: auto;
  right: 0;
}

.rtl #container_stackContainer div.stack-container-photo .rotator-default .rotator-prev-button,
.rtl #container_stackContainer div.stack-container-photo .rotator-default .rotator-next-button {
  background: none;
  padding-right: 0px;
}

.rtl #container_stackCon-fiveimages .stack-container-photo .rotator-default .next-button-div {
   margin-left: 0;
   margin-right: -8px;
}

.rtl #container_stackCon-fiveimages .stack-container-photo .rotator-default .rotator div.pane div.pane-item{
   float: right;
   padding-left: 0;
   padding-right: 9px;
}

.rtl #container_stackCon-fiveimages .stack-container-list .tab-case-list {
  left: auto;
  right: 0;
}

 /* End of styling for five image stack container  */

/* Below are the style classes to display four images in a stack container */

.rtl #stackCon-fourimages {
  right: 5px;
  left: 360px;
}

.rtl #stackCon-fourimages .stackControl {
  left: auto;
  right: -2px;
}

.rtl #container_stackCon-fourimages .stack-container-photo .rotator-default .rotator {
  float: right;
}

.rtl #container_stackCon-fourimages .stack-container-photo .rotator-default {
  left: auto;
  right: 0;
}

.rtl #container_stackCon-fourimages .stack-container-photo .rotator-default .rotator div.pane div.pane-item{
   float: right;
   padding-left: 0;
   padding-right: 9px;
}

.rtl #container_stackCon-fourimages .stack-container-list .tab-case-list {
  left: auto;
  right: 28px;
}

 /* End of styling for four image stack container  */

 /* Below are the style classes to display two images in a stack container, see further
  * down for styling for three images in stack container
  */

.rtl #stackCon-twoimages {
  right: 10px;
  left: 618px;
}

.rtl #container_stackCon-twoimages .stack-container-photo .rotator-default .rotator {
  float: right;
}

.rtl #container_stackCon-twoimages .stack-container-photo .rotator-default {
  right:0;
  left:auto;
}

.rtl #container_stackCon-twoimages .stack-container-photo .rotator-default .rotator div.pane div.pane-item{
   float: right;
   padding-left: 0;
   padding-right: 9px;
}

.rtl #container_stackCon-twoimages .stack-container-list .tab-case-list {
  left: auto;
  right: 0;
}

/* End of styling for two image stack container  */

/* Below are the style classes to display three images in a stack container */

.rtl #stackCon-threeimages {
  right: 5px;
  left: 460px;
}

.rtl #stackCon-threeimages .stackControl {
  left: auto;
  right: -2px;
}

.rtl #container_stackCon-threeimages .stack-container-photo .rotator-default .rotator {
  float: right;
}

.rtl #container_stackCon-threeimages .stack-container-photo .rotator-default {
  left:auto;
  right:0;
}

.rtl #container_stackCon-threeimages .stack-container-photo .rotator-default .rotator div.pane div.pane-item{
   float: right;
   padding-left: 0;
   padding-right: 9px;
}

.rtl #container_stackCon-threeimages .stack-container-list .tab-case-list {
  left: auto;
  right: 28px;
}

 /* End of styling for three image stack container  */


.rtl .rotator-buttons-disabled .pane {
  left: auto !important;
  right: 18px !important;
}

.rtl .container-panel span.curamStackController {
  display: block;
  width: 37px;
}

.rtl .stackControl .dijitButtonNode,
.rtl .stackControl .dijitToggleButtonHover .dijitButtonNode,
.rtl .stackControl .dijitToggleButtonRtlActive .dijitButtonNode {
  border-style: none;
  background: none;
}