/*______________________________________________________________________________
 * tab-details_rtl.css
 *
 * Create styles that are applied to the HTML for thumb nail panel.
 */

.rtl .content-name {
  padding-left: 0;
  padding-right: 15px;
}

.rtl .content-participant-id {
  padding-right: 5px;
  right: auto;
  left: 0px;
  padding-left: 15px;
}

.rtl tr td.content-address, .rtl div.content-address {
  padding-left: 0;
  padding-right: 15px;
}

.rtl div.content-address {
  float: right;
  margin-right: 0;
  margin-left: 10px;
}

.rtl div.content-sex {
  clear: right;
  padding-left: 0;
  padding-right: 15px;
}

.rtl div.content-age  {
  padding-left: 0;
  padding-right: 15px;
  margin-right: 0;
  margin-left: 15px;
}

.rtl div.content-contacts {
  padding-left: 0;
  padding-right: 12px;
}

.rtl div.content-contacts table td.icon {
  padding-right: 0 !important;
}

.rtl .tab-details div.content-contacts table td.phonenumber,
.rtl .tab-details div.content-contacts table td.faxnumber,
.rtl .tab-details div.content-contacts table td.email {
  padding-right: 0 !important;
  padding-left: 20px;
}

.rtl div.content-web-address {
  padding-left: 0;
  padding-right: 15px;
}

.rtl .tab-details {
  padding-left: 0px;
  padding-right: 0px;
  float: right;
}


.rtl div.phonenumber, .rtl div.email, .rtl div.faxnumber {
  padding-right: 0;
  padding-left: 20px;
}

.rtl div.phonenumber, .rtl div.faxnumber {
  float: right;
}

.rtl div.email {
  margin-right: 0;
  margin-left: 15px;
}

.rtl div.tab-details img {
  float: right;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.rtl div.content-map {
  float: right;
}

.rtl div.tab-details div.content-map img {
  padding-right: 0;
  padding-left: 3px;
}

.rtl a.ac img[src$="icon_map.png"] {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.rtl .tab-details div.watermark {
  left: auto;
  right: 130px;
}

.rtl .tab-details div.prospectdupwatermark {
  left: auto;
  right: 100px;
}

.rtl .content-person-name {
  padding-left: 0;
  padding-right: 15px;
}

/*______________________________________________________________________________
 * end tab-details_rtl.css
 */