/*______________________________________________________________________________
 * tab-links.css
 *
 * Create styles that are applied to the HTML for thumb nail panel.
 */

div.bottom-panel {
  padding-top: 5px;
}

.tab-links {
  background-color:#E6ECF4;
  border-left: 1px solid #DADADA;
  border-right: 1px solid #DADADA;
  float: left;
  width: 100%;
}

div.tab-links div.top-panel table td {
  background-color: transparent;
  font-family: tahoma;
  color: #000000;
  padding: 0px !important;
}

div.tab-links div.top-panel table td img {

  padding-right: 5px;

}

div.tab-links div.top-panel table td a {

  padding-right: 20px;

}

.tab-links table {
  width: auto;
  table-layout: auto;
}

.tab-links div.top-panel table  td.issues,
.tab-links div.top-panel table  td.legal-actions,
.tab-links div.top-panel table  td.investigations,
.tab-links div.top-panel table  td.incidents,
.tab-links div.top-panel table  td.appeals {
  padding:0 10px 0 0;
  color:#3B7192;
  font-family: tahoma;
}

.tab-links div.top-panel td.icon {
  padding-top: 3px;
}

.tab-links div.top-panel {
  padding-left: 10px;
  padding-bottom: 8px;
}

.left-col {
  float: left;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.rtl .left-col {
  float: right;
  padding-left: 0px;
  padding-right: 10px;
}

.inner-col {
  float: left;
  padding-left: 15px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-right: 5px;
}

.left-col .link-wrapper {
  width: 143px;
}

.inner-col .link-wrapper {
  width: 143px;
}

.link-wrapper .icon {
  float: left;
}

.rtl .link-wrapper .icon {
  float: right;
}

.link-wrapper  .link {
  padding-left: 5px;
  padding-top: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rtl .link-wrapper  .link {
  padding-left: 0px;
  padding-right: 5px;
}

.filler-div {
  clear: both;
  width: 0;
  height: 0;
}

/*__________________ high contrast styling _____________________*/

.high-contrast .tab-links {
  background-color:#ffffff;
  border-left: 1px solid #575757;
  border-right: 1px solid #575757;
}


/*______________________________________________________________________________
 * end tab-links.css
 */