/* *
 * Licensed Materials - Property of IBM
 *
 * PID 5725-H26
 *
 * Copyright IBM Corporation 2021. All Rights Reserved.
 *
 * US Government Users Restricted Rights - Use, duplication or disclosure
 * restricted by GSA ADP Schedule Contract with IBM Corp.
 * */
/*______________________________________________________________________________
 * tab-content.css
 *
 * Create styles that are applied to the HTML for the context details panel.
 */

.details div.details-cluster-wrapper {
   margin-top: 5px !important;
   margin-bottom: 5px !important;
}

div.container-panel {
  background-color: transparent;
  height:165px;
  overflow: visible;
  position: relative;
  top: 5px;
}

div.person-container-panel {
  background-color: transparent;
  height:120px;
  overflow: visible;
  position: relative;
  top: 5px;
  min-width:900px;
}

div.content-panel-detail {
  padding: 0;
  bottom: auto !important;
  height: auto !important;
  overflow: visible;
  font-family: tahoma;
}

.tab-details div.dijitContentPane,
.tab-links div.dijitContentPane,
.tab-thumbnail div.dijitContentPane,
.person-thumbnail-with-title div.dijitContentPane,
.tab-thumbnail-with-title div.dijitContentPane {
  border:medium none;
  margin-left:0px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

div.person-image-panel {
  width: 98px;
  position: absolute;
  left: 10px;
  top: 0px;
}

/*
* CR00461750
*/
.rtl div.person-image-panel {
  left: auto;
  right: 10px;
}

div.person-details-panel {
  background-color: #FFFFFF;
  position: absolute;
  left: 118px;
  right: 340px;
  top: 0px;
  z-index: 0;
}

div.person-details-panel-no-links {
  background-color: #FFFFFF;
  position: absolute;
  left: 118px;
  right: 10px;
  top: 0px;
  z-index: 0;
}

/*
* CR00461750
*/
.rtl div.person-details-panel-no-links {
  left: 10px;
  right: 118px;
}

div.person-links-panel {
  position: absolute;
  right: 10px;
  top: 0px;
  width: 320px;
}

div.person-links-panel div.wrapper {
  background-color: #E6ECF4;
}

div.content-panel-detail a {
  color: $cefwidgets_context-panel_link-color;
  text-decoration: none;
}

div.content-panel-detail a:hover {
  text-decoration: underline;
}

div.person-details-panel-onecol {
  background-color:#FFFFFF;
  left:118px;
  position:absolute;
  right: 235px;
  top:0;
  z-index:-1;
}

div.person-links-panel-onecol {
  position: absolute;
  right: 10px;
  top: 0;
  width: 215px;
}

div.person-links-panel-onecol .left-col .link-wrapper  {
  width: 200px;
}

/*__________________ high contrast styling _____________________*/

.high-contrast div.content-panel-detail a {
  color: #005291;
}


/*______________________________________________________________________________
 * end tab-content.css
 */