/*______________________________________________________________________________
 * tab-links_rtl.css
 *
 * Create styles that are applied to the HTML for thumb nail panel.
 */

.rtl .tab-links {
  float: right;
}

.rtl div.tab-links div.top-panel table td img {
  padding-right: 0;
  padding-left: 5px;

}

.rtl div.tab-links div.top-panel table td a {
  padding-right: 0;
  padding-left: 20px;

}

.rtl .tab-links div.top-panel table  td.issues,
.rtl .tab-links div.top-panel table  td.legal-actions,
.rtl .tab-links div.top-panel table  td.investigations,
.rtl .tab-links div.top-panel table  td.incidents,
.rtl .tab-links div.top-panel table  td.appeals {
  padding:0 0 0 10px;
}

.rtl .tab-links div.top-panel {
  padding-left: 0;
  padding-right: 10px;
}

.rtl .left-col {
  float: right;
  padding-left: 0;
  padding-right: 10px;
}

.rtl .inner-col {
  float: right;
  padding-left: 5px;
  padding-right: 15px !important;
}

.rtl .link-wrapper .icon {
  float: right;
}

.rtl .link-wrapper .icon  > img {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.rtl .link-wrapper  .link {
  padding-left: 0;
  padding-right: 5px;
}

/*______________________________________________________________________________
 * end tab-links_rtl.css
 */