/*______________________________________________________________________________
 * tab-image_rtl.css
 * 
 * Create styles that are applied to the HTML for thumb nail panel.
 */

.rtl .tab-thumbnail .left-corner-image {
left: auto;
right: 0px;
-moz-transform: scaleX(-1);
-o-transform: scaleX(-1);
-webkit-transform: scaleX(-1);
transform: scaleX(-1);
filter: FlipH;
-ms-filter: "FlipH";
}

.rtl .tab-thumbnail .right-corner-image {
right: auto;
left: 4px;
}

.rtl div.tab-thumbnail {
  float: right;
}
