/*______________________________________________________________________________
 * tab-content_rtl.css
 *
 * Create styles that are applied to the HTML for the context details panel.
 */
 
.rtl div.person-image-panel {
  left: auto;
  right: 10px;
}

.rtl div.person-details-panel {
  right: 118px;
  left: 340px;
}

.rtl div.person-details-panel-no-links {
  right: 118px;
  left: 10px;
}

.rtl div.person-links-panel {
  right: auto;
  left: 10px;
}

.rtl div.person-details-panel-onecol {
  right:118px;
  left: 235px;
}

.rtl div.person-links-panel-onecol {
  right: auto;
  left: 10px;
}

/*______________________________________________________________________________
 * end tab-content_rtl.css
 */