/*______________________________________________________________________________
 * tab-image.css
 * 
 * Create styles that are applied to the HTML for thumb nail panel.
 */
.tab-thumbnail .participant-image img {
height: 100%;
width: 100%;
}

.tab-thumbnail .participant-image {
padding-left:15px;
padding-right:15px;
padding-top:20px;
width: 90px;
height: 95px;
}

.tab-thumbnail .edit-link {
padding-bottom:5 !important;
padding-left:0 !important;
padding-right:0 !important;
padding-top:2px !important;
text-align: center;
}

.tab-thumbnail .left-corner-image {
position:absolute;
left: 0px;
top: 0px;
}

.tab-thumbnail .right-corner-image {
position:absolute;
right: 4px;
top: 4px;
}

div.image-panel-width {
  width: 133px
}

.tab-thumbnail {
  text-align: center;
}

div.tab-thumbnail {
  height: 128px;
  border-left: 1px solid #DADADA;
  border-right: 1px solid #DADADA;
  float: left;
  width: 100%;
  background-color: #FFFFFF;
}
