/*
 * Licensed Materials - Property of IBM
 *
 * PID 5725-H26
 *
 * Copyright IBM Corporation 2016,2021. All Rights Reserved.
 *
 * US Government Users Restricted Rights - Use, duplication or disclosure
 * restricted by GSA ADP Schedule Contract with IBM Corp.
 *
 *_________________________________________________________________________________
 * tab-details.css
 *
 * Create styles that are applied to the HTML for thumb nail panel.
 */

.content-name {
  font-size: 140%;
  font-family: tahoma;
  color: #FB7803;
  padding-left: 15px;
  padding-bottom:0px;
  width: 99%;
  white-space: nowrap;
  overflow: hidden;
}

.rtl .content-name {
  padding-left: default;
  padding-right: 15px;
}

.content-participant-id {
  font-size: 120%;
  font-family: tahoma;
  color: #FB7803;
  padding-bottom:0px;
  padding-top: 0px;
  padding-right: 15px;
  background-color: white;
  position: absolute;
  right: 0px;
  top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
}

.rtl .content-participant-id {
  right: auto;
  left: 0px !important;
  padding-left: 15px !important;
  padding-right: 5px;
}

tr td.content-address, div.content-address {
  font-family: tahoma;
  font-size: 110%;
  color: #000000;
  padding-bottom:2px !important;
  padding-top:0px !important;
  padding-left: 15px;
}

.rtl tr td.content-address, .rtl div.content-address {
  padding-left: 0px;
  padding-right: 15px;
}

div.content-address {
  font-family: tahoma;
  font-size: 105%;
  color: #000000;
  float: left;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 10px;
  max-width: 86%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rtl div.content-address {
  float: right;
  margin-left: 10px;
  margin-right: 0px;
}

div.content-address-table table {
  width: auto;
  table-layout: auto;
}

tr td.content-address {

  padding-right: 0px;

}

div.content-sex {
  clear: left;
  font-family: tahoma;
  padding-left: 15px;
}

/*
* CR00461750
*/
.rtl div.content-sex {
  clear: right;
  padding-left: 0px;
  padding-right: 15px;
}

div.content-age  {
  padding-bottom: 10px;
  font-family: tahoma;
  padding-left: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-right: 15px;
}

div.content-contacts {
  padding-left: 12px;
}

.rtl div.content-contacts {
  padding-left: 0px;
  padding-right: 12px;
}

div.content-contacts table td.icon {
  padding-left: 0 !important;
  width:15px;
}

div.content-contacts td {
  font-family: tahoma;
  color: #737373;
}

.tab-details div.content-contacts table td.phonenumber,
.tab-details div.content-contacts table td.faxnumber,
.tab-details div.content-contacts table td.email {
  padding-top: 0 !important;
  padding-left: 0 !important;
  padding-right: 20px;
  color: #3B7192;
}

div.content-web-address {
  padding-left: 15px;
  padding-bottom:10px;
  font-family: tahoma;
  color: #3B7192;
}

.tab-details {
  height: 108px;
  padding-left: 0px;
  border-left: 1px solid #DADADA;
  border-right: 1px solid #DADADA;
  float: left;
  width: 100%;
  overflow: hidden;
}

.tab-details div.content-contacts table.list-body td.field {
  background-color:white;
}

.tab-details div.content-contacts table {
  width:auto;
  table-layout: auto;
}

div.phonenumber, div.email, div.faxnumber {
  font-family: tahoma;
  padding-right: 20px;
  padding-top: 8px;
}

.rtl div.phonenumber, .rtl div.email, .rtl div.faxnumber {
  padding-left: 20px;
  padding-right: 0px;
}

div.phonenumber, div.faxnumber {
  float: left;
}

.rtl div.phonenumber, .rtl div.faxnumber {
  float: right;
}

div.email {
  white-space: nowrap;
  overflow: hidden;
  margin-right: 15px;
}

/*
* CR00461750
*/
.rtl div.email {
  margin-left: 15px;
  margin-right: 0px;
}

div.tab-details img {
  float: left;
}

/*
* CR00461750
*/
.rtl div.tab-details img {
  float: right;
}

div.content-map {
  float: left;
  padding-top: 1px;
}

div.tab-details div.content-map img {
  float: left;
  padding-right: 10px;
}

.tab-details div.watermark {
  color: gainsboro;
  font-size: 450%;
  z-index: -2;
  position: absolute;
  top: 30px;
  left: 130px;
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
  background-color: #ffffff;
}

.tab-details div.prospectdupwatermark {
  color:gainsboro;
  font-size:400%;
  z-index: -2;
  position:absolute;
  top: 30px;
  left: 100px;
  background-color: #ffffff;
}

.content-person-name {
  font-size: 140%;
  font-family: tahoma;
  color: #FB7803;
  padding-left: 15px;
  padding-bottom:0px;
  width: 78%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/*__________________ high contrast styling _____________________*/

/* BEGIN, WI117561, YF */
.high-contrast .tab-details div.prospectdupwatermark {
  color: #666666;
}
.high-contrast .tab-details div.watermark {
  color: #666666;
}
/* END, WI117561, YF */


.high-contrast .content-name {
  color: #a22d0b;
}

.high-contrast .content-participant-id {
  color: #a22d0b;
}

.high-contrast .content-person-name {
  color: #a22d0b;
}

.high-contrast .tab-details {
  border-left: 1px solid #575757;
  border-right: 1px solid #575757;
}


/*______________________________________________________________________________
 * end tab-details.css
 */