#case-member-thumbnail-picker {
overflow:hidden;
position:relative;
}


#thumbnail-picker-container {
overflow:hidden;
position:relative;
  border:1px solid #7786B8;
}

#case-member-thumbnail-picker {
  border:1px solid #7786B8;
  width:70%;
}

#case-member-thumbnail-picker td.thumbnail-picker-button {
width:1%;
}

#case-member-thumbnail-picker .thumbnail-picker-container {
width:90%;
}

#case-member-thumbnail-picker .thumbnail-picker-container {
width:90%;
}



col.thumbnail-picker-button {
width:10px;
}

td.thumbnail-picker-button input {
width:10px;
}
