/*______________________________________________________________________________
 * Tooltip_rtl.css
 *
 * Create styles that are applied to the HTML produce by the
 * Tooltip renderer.
 */

.rtl .tooltip-startup-position {
  left:auto;
  right:5000px;
}

.rtl .tooltip-inner-panel {
  float: right;
}

.rtl .tooltip-outer-panel {
  float: right;
}

.rtl .tooltip-outer-panel .tooltip-title {
  padding-left: 0px;
  padding-right: 7px;
  text-align: right;
  margin-right: 0px; /* enough to buffer the close button. */
  margin-left: 15px; /* enough to buffer the close button. */
}

.rtl .tooltip-outer-panel .tooltip-title-nolink {
  padding-left: 0px;
  padding-right: 7px;
  text-align: right;
}

.rtl .investigation-content {
  padding-left: 0px;
  padding-right: 5px;
}

.rtl .investigation-ref {
  padding-right: 0px;
  padding-left: 5px;
}

.rtl .incident-date {
  padding-right: 0px;
  padding-left: 3px;
}

.rtl .tooltip-phone,
.rtl .tooltip-email {
  padding-left: 0px;
  padding-right: 5px;
}

.rtl .tooltip-phone img,
.rtl .tooltip-phone .tooltip-phonenumber,
.rtl .tooltip-email img,
.rtl .tooltip-email .tooltip-emailaddress {
  float: right;
}

.rtl .tooltip-phone img {
  clear: right;
  margin-left: 0px;
  margin-right: -2px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.rtl .tooltip-email img {
  margin-left: 0px;
  margin-right: -2px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.rtl .tooltip-phonenumber,
.rtl .tooltip-emailaddress {
  padding-left: 0px;
  padding-right: 5px;
  padding-top: 3px;
}

.rtl .tooltip-address {
  padding-left: 0px;
  padding-right: 5px;
  margin-right: 0px;
  margin-left: 5px;
}

.rtl .tooltip-shadow .wrapper  {
 margin:-3px -4px 2px 4px;
}

.rtl div.speccaution-tooltip-width div.tooltip-close-button {
left: auto;
right: 180px;
}

.rtl div.incident-tooltip-width div.tooltip-close-button {
left: auto;
right: 255px;
}

.rtl div.investig-tooltip-width div.tooltip-close-button {
left: auto;
right: 255px;
}

.rtl div.details-tooltip-width div.tooltip-close-button {
left: auto;
right: 255px;
}

/*______________________________________________________________________________
 * End of Tooltip_rtl.css
 */

/* ==== Curam 2016 Styling ==== */

/* Position and styling of tooltip title text */
body.rtl.curam .dijitTooltipDialogPopup .tooltip-title,
body.rtl.curam .dijitTooltipDialogPopup .tooltip-title-nolink {
  text-align: right;
}

/* Styling of tooltip dialog contents */
body.rtl.curam .dijitTooltipDialogPopup .tooltip-inner-panel {
  text-align: right;
}

/* Position of close button */
body.rtl.curam .dijitTooltipDialogPopup .tooltip-close-button {
  right: auto;
  left: 0px;
}
