/*
 * Licensed Materials - Property of IBM
 *
 * PID 5725-H26
 *
 * Copyright IBM Corporation 2012,2020. All Rights Reserved.
 *
 * US Government Users Restricted Rights - Use, duplication or disclosure
 * restricted by GSA ADP Schedule Contract with IBM Corp.
 *
 *______________________________________________________________________________
 * Tooltip.css
 *
 * Create styles that are applied to the HTML produce by the
 * Tooltip renderer.
 */

.tooltip-startup-position {
  top:5000px;
  left:5000px;
  position:absolute;
}

.dijitPopup, .dijitTooltipContainer {
  border: none !important;
  background: transparent !important;
}

div.dijitTooltipFocusNode,
.dijitPopup div.dijitTooltipContainer {
  padding: 0px;
  border: 0px;
  width: 200px;
}

.dijitTooltipConnector {
  display: none;
  background: transparent !important;
}

.tooltip-inner-panel {
  background-color: #FFFFFF;
  border-left: 1px solid #DADADA;
  border-right: 1px solid #DADADA;
  float: left;
  overflow: hidden;
  width: 100%;
}

/*
CR00461776
*/
.rtl .tooltip-inner-panel {
  float: right;
}

.tooltip-outer-panel {
  background-color: #E6EBF1;
  border-left: 1px solid #DADADA;
  border-right: 1px solid #DADADA;
  float: left;
  overflow: hidden;
  width: 100%;
}

/*
CR00461776
*/
.rtl .tooltip-outer-panel {
  float: right;
}

.tooltip-inner-panel {
  font-size: 85%;
}

.tooltip-outer-panel .tooltip-title {
  background-color: #EBEBEB;
  color: #376F8F;
  font-family: tahoma;
  font-size: 85%;
  padding-left: 7px;
  padding-bottom: 5px;
  text-align: left;
  margin-right: 15px; /* enough to buffer the close button. */
}

.tooltip-outer-panel .tooltip-title-nolink {
  background-color: #EBEBEB;
  color: black;
  font-family: tahoma;
  font-size: 85%;
  padding-left: 7px;
  padding-bottom: 5px;
  text-align: left;
}

.tooltip-outer-panel .wrapper {
  margin-left: 5px;
  margin-right: 5px;
}

div.dijitTooltipBelow {
  padding-top:0;
}

.tooltip-inner-panel a {
  text-decoration: none;
  color: #376F8F;
}

.tooltip-inner-panel a:hover {
  text-decoration: underline;
}

.spec-caution-types {
  padding: 0px 5px;
}

.spec-caution-roll-firstlink {
  padding-left: 5px;
}

.spec-caution-roll-firstlink a,
.spec-caution-roll-link a {

  text-decoration: none;

}

.spec-caution-roll-firstlink a:hover,
.spec-caution-roll-link a:hover {
  text-decoration: underline;
}

.investigation-content {
  padding-left: 5px;
  padding-bottom: 5px;
}

.investigation-ref {
  padding-right: 5px;
  margin-top: 1px;
  display: inline;
}

.incident-content {
  padding-left: 5px;
  padding-bottom: 1px;
  padding-right: 5px;
}

.incident-date {
  color: #FB7803;
  padding-right: 3px;
  display: inline;
}

.tooltip-inner-panel .more-link {
  float: right;
  padding-right: 7px;
}

.incident-content .incident-text {
  float: none;
  display: inline;
}

.incident-content .incident-type {
  display: inline;
}

.tooltip-inner-panel .person-tooltip-detail,
.tooltip-inner-panel .tooltip-phone,
.tooltip-inner-panel .tooltip-email {
  float: none;
}

.tooltip-phone,
.tooltip-email {
  padding-left: 5px;
}

/*
CR00461776
*/
.rtl .tooltip-email,
.rtl .tooltip-phone {
  padding-left: 0px;
  padding-right: 5px;
}

.tooltip-phone img,
.tooltip-phone .tooltip-phonenumber,
.tooltip-email img,
.tooltip-email .tooltip-emailaddress {
  float: left;
}

/*
CR00461776
*/
.rtl .tooltip-email img,
.rtl .tooltip-email .tooltip-emailaddress,
.rtl .tooltip-phone img,
.rtl .tooltip-phone .tooltip-phonenumber {
  float: right;
}

.tooltip-phone img {
  clear: left;
  margin-left: -2px;
}

/*
CR00461776
*/
.rtl .tooltip-phone img {
  clear: right;
  margin-left: 0px;
  margin-right: -2px;
}

.tooltip-email img {
  margin-left: -2px;
}

/*
CR00461776
*/
.rtl .tooltip-email img {
  margin-left: 0px;
  margin-right: -2px;
}

.tooltip-phonenumber,
.tooltip-emailaddress {
  padding-left: 5px;
  padding-top: 3px;
}

/*
CR00461776
*/
.rtl .tooltip-emailaddress,
.rtl .tooltip-phonenumber {
  padding-left: 0px;
  padding-right: 5px;
}

.tooltip-address {
  padding-left: 5px;
  margin-right: 5px;
  padding-bottom: 7px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*
CR00461776
*/
.rtl .tooltip-address {
  padding-left: 0px;
  padding-right: 5px;
  margin-left: 5px;
  margin-right: 0px;
}

.link-content {
  font-size: 80%;
  padding-left: 5px;
}

.links-tooltips {
  background-color: #e7ebf4;
}

.tooltip-shadow {
  background-color: #aaacaf;
  border: 1px solid #ccc;
  margin: 4px 5px;
  height: 100%;
}

.tooltip-shadow .wrapper  {
 margin:-3px 4px 2px -4px;
 height: 100%;
}

.tooltip-shadow .tooltip-outer-panel .wrapper  {
 margin: 0px 5px 0px 5px;
 height: 100%;
}

.investig-tooltip-width {
  width: 265px;
}

.incident-tooltip-width {
  width: 265px;
}

.speccaution-tooltip-width {
  width: 190px;
}

.details-tooltip-width {
  width: 265px;
}

.tooltip-title a {
  color: #376F8F;
  text-decoration: none;
}

.tooltip-title a:hover {
  text-decoration: underline;
}

div.speccaution-tooltip-width div.tooltip-close-button {

position:absolute;
top: 5px;
left: 180px;
background-repeat:no-repeat;
width:11px;
height:12px;

}

div.speccaution-tooltip-width div.tooltip-close-button-normal {

background-image:url("../../Images/hover_close_nor.png");

}

div.speccaution-tooltip-width div.tooltip-close-button-mouseover {

background-image:url("../../Images/hover_close_rol.png");
cursor: pointer;

}

div.speccaution-tooltip-width div.tooltip-close-button-active {

background-image:url("../../Images/hover_close_sel.png");

}

div.incident-tooltip-width div.tooltip-close-button {

position:absolute;
top: 5px;
left: 255px;
background-repeat:no-repeat;
width:11px;
height:12px;

}

div.incident-tooltip-width div.tooltip-close-button-normal {

background-image:url("../../Images/hover_close_nor.png");

}

div.incident-tooltip-width div.tooltip-close-button-mouseover {

background-image:url("../../Images/hover_close_rol.png");
cursor: pointer;

}

div.incident-tooltip-width div.tooltip-close-button-active {

background-image:url("../../Images/hover_close_sel.png");

}

div.investig-tooltip-width div.tooltip-close-button {

position:absolute;
top: 5px;
left: 255px;
background-repeat:no-repeat;
width:11px;
height:12px;

}

div.investig-tooltip-width div.tooltip-close-button-normal {

background-image:url("../../Images/hover_close_nor.png");

}

div.investig-tooltip-width div.tooltip-close-button-mouseover {

background-image:url("../../Images/hover_close_rol.png");
cursor: pointer;

}

div.investig-tooltip-width div.tooltip-close-button-active {

background-image:url("../../Images/hover_close_sel.png");

}


div.details-tooltip-width + div.tooltip-close-button {

position:absolute;
top: 5px;
left: 255px;
background-repeat:no-repeat;
width:11px;
height:12px;
}

/*
CR00461776
*/
.rtl div.details-tooltip-width + div.tooltip-close-button {
  left: auto;
  right: 255px;
}

div.details-tooltip-width + div.tooltip-close-button-normal {

background-image:url("../../Images/hover_close_nor.png");

}

div.details-tooltip-width + div.tooltip-close-button-mouseover {

background-image:url("../../Images/hover_close_rol.png");
cursor: pointer;

}

div.details-tooltip-width + div.tooltip-close-button-active {

background-image:url("../../Images/hover_close_sel.png");

}

/*__________________ high contrast styling _____________________*/

.high-contrast .tooltip-outer-panel {
  background-color: #ffffff;
  border-left: 1px solid #575757;
  border-right: 1px solid #575757;
}

.high-contrast .tooltip-outer-panel .tooltip-title {
  background-color: #ffffff;
}

.high-contrast .tooltip-outer-panel .tooltip-title-nolink {
  background-color: #ffffff;
}

.high-contrast .tooltip-inner-panel {
  border-left: 1px solid #575757;
  border-right: 1px solid #575757;
}

.high-contrast .tooltip-title a {
  color: #005291;
}

.high-contrast .tooltip-inner-panel a {
  color: #005291;
}

.high-contrast .incident-date {
  color: #a22d0b;
}


.high-contrast div.speccaution-tooltip-width div.tooltip-close-button-normal {
  background-image:url("../../Images/highcontrast/hover_close_nor.png");
}

.high-contrast div.speccaution-tooltip-width div.tooltip-close-button-mouseover {
  background-image:url("../../Images/highcontrast/hover_close_rol.png");
}

.high-contrast div.speccaution-tooltip-width div.tooltip-close-button-active {
  background-image:url("../../Images/highcontrast/hover_close_sel.png");
}

.high-contrast div.incident-tooltip-width div.tooltip-close-button-normal {
  background-image:url("../../Images/highcontrast/hover_close_nor.png");
}

.high-contrast div.incident-tooltip-width div.tooltip-close-button-mouseover {
  background-image:url("../../Images/highcontrast/hover_close_rol.png");
}

.high-contrast div.incident-tooltip-width div.tooltip-close-button-active {
  background-image:url("../../Images/highcontrast/hover_close_sel.png");
}

.high-contrast div.investig-tooltip-width div.tooltip-close-button-normal {
  background-image:url("../../Images/highcontrast/hover_close_nor.png");
}

.high-contrast div.investig-tooltip-width div.tooltip-close-button-mouseover {
  background-image:url("../../Images/highcontrast/hover_close_rol.png");
}

.high-contrast div.investig-tooltip-width div.tooltip-close-button-active {
  background-image:url("../../Images/highcontrast/hover_close_sel.png");
}

.high-contrast div.details-tooltip-width + div.tooltip-close-button-normal {
  background-image:url("../../Images/highcontrast/hover_close_nor.png");
}

.high-contrast div.details-tooltip-width + div.tooltip-close-button-mouseover {
  background-image:url("../../Images/highcontrast/hover_close_rol.png");
}

.high-contrast div.details-tooltip-width + div.tooltip-close-button-active {
  background-image:url("../../Images/highcontrast/hover_close_sel.png");
}


/*______________________________________________________________________________
 * End of Tooltip.css
 */
 
/* ==== Curam 2016 Styling ==== */

/* Size and position of tooltip dialog */
body.curam .dijitTooltipDialogPopup .tooltip-shadow {
  height: 100%;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

body.curam div.dijitTooltipFocusNode,
body.curam .dijitPopup div.dijitTooltipContainer,
body.curam .dijitTooltipDialogPopup .tooltip-shadow.speccaution-tooltip-width,
body.curam .dijitTooltipDialogPopup .tooltip-shadow.details-tooltip-width {
  width: 100%;
  min-width: 200px;
}
body.curam .dijitTooltipDialogPopup .tooltip-shadow.incident-tooltip-width {
  width: 280px;
}

body.curam .dijitTooltipDialogPopup .wrapper {
  margin: 0px;
}
body.curam .dijitTooltipDialogPopup .wrapper .wrapper-top,
body.curam .dijitTooltipDialogPopup .wrapper .wrapper-bottom {
  display: none;
}
body.curam .dijitTooltipDialogPopup .tooltip-outer-panel {
  border: 0px;
  background-color: #e0e0e0;
}

/* Position and styling of tooltip title text */
body.curam .dijitTooltipDialogPopup .tooltip-title,
body.curam .dijitTooltipDialogPopup .tooltip-title-nolink {
  font-family: $infrastructure_main-bold_font-family;
  font-size: 14px;
  color: #1f57a4;
  height: 20px;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  padding: 10px;
  margin: 0px;
  background-color: #fff;
}
body.curam .dijitTooltipDialogPopup .tooltip-title a:hover {
  color: #25467a;
  text-decoration: none;
}

/* Position and styling of close button */
body.curam .dijitTooltipDialogPopup .tooltip-close-button {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0px;
  top: 0px;
  left: auto;
  background-color: #fff;
}

body.curam .dijitTooltipDialogPopup .tooltip-close-button img.tooltip-close-default-icon,
body.curam .dijitTooltipDialogPopup .tooltip-close-button:hover img.tooltip-close-hover-icon,
body.curam .dijitTooltipDialogPopup .tooltip-close-button:focus img.tooltip-close-hover-icon {
  display: block;
}

body.curam .dijitTooltipDialogPopup .tooltip-close-button:hover img.tooltip-close-default-icon,
body.curam .dijitTooltipDialogPopup .tooltip-close-button:focus img.tooltip-close-default-icon,
body.curam .dijitTooltipDialogPopup .tooltip-close-button img.tooltip-close-hover-icon {
  display: none;
}

/* Fix this element causing a strange 1px bump at the top of the close button */
body.curam .dijitTooltipDialogPopup .tooltip-close-button div a {
  position: absolute;
  top: 1px;
}

/* Styling of tooltip dialog contents */
body.curam .dijitTooltipDialogPopup .tooltip-inner-panel {
  font-family: $infrastructure_main-regular_font-family;
  font-size: 14px;
  color: #464646;
  letter-spacing: 0px;
  text-align: left;
  padding: 10px;
  width: auto;
  border: 0px;
  background-color: inherit;
}
body.curam .dijitTooltipDialogPopup .tooltip-inner-panel .spec-caution-types,
body.curam .dijitTooltipDialogPopup .tooltip-inner-panel .incident-content {
  padding: 0px;
}
