/*______________________________________________________________________________
 * underpayment_rtl.css
 *
 * Create styles that are applied to the HTML for the underpayment context details.
 */

.rtl .underpayment-details {
  float: right;
  padding-left: 0;
  padding-right: 15px;
}

.rtl .payment-details-table table {
  float: right;
}

.rtl .payment-details-table table th {
  padding-left: 0;
  padding-right: 5px;
}

.rtl .payment-details-table table td {
  padding-left: 0 !important;
  padding-right: 60px !important;
}

.rtl .underpay-details-table table td {
  padding-left: 0 !important;
  padding-right: 30px !important;
}

.rtl .underpayment-details .payment-icon {
  float: right;
  margin-right: 0;
  margin-left: -22px;
}

.rtl .payment-details-table table caption {
  padding-left: 0;
  padding-right: 30px;
}

.rtl .due-date-link .due-date {
  padding-right: 0;
  padding-left: 3px;
}

.rtl .underpayment-content-panel {
  left: 354px;
  right: 127px;
}

.rtl .payment-content-panel {
  right: auto;
  left: 10px;
}

.rtl .underpayment-tab-details {
  padding-right: 0px;
  float: right;
}

.rtl .underpayment-tab-payment {
  padding-right: 0px;
  float: right;
}

.rtl .underpayment-tab-payment h3 {
  padding-left: 0;
  padding-right: 28px;

}

.rtl h3.payment-title {
  background-position: right top;
  padding-left: 0;
  padding-right: 25px;
}

.rtl .underpayment-tab-details div.watermark {
  left: auto;
  right: 97px;
}

/*______________________________________________________________________________
 * end underpayment_rtl.css
 */

/* ======== Curam 2016 Styling ======== */

body.rtl.curam div#content div.context-panel-wrapper div.underpay-container-panel div.case-participant-panel {
  right: 0px;
}
 
body.rtl.curam .underpay-container-panel .image-panel-content .participant-image {
  left: auto;
  right: 16px
}

body.rtl.curam div.underpay-container-panel div.image-panel-content div.left-corner-image {
  right: 16px;
}

body.rtl.curam div.underpay-container-panel div.image-panel-content div.right-corner-image {
  right: 96px;
}

body.rtl.curam div.underpay-container-panel div.image-panel-content div.image-links {
  left: auto;
  right: 140px;
}

body.rtl.curam .underpayment-content-panel {
  right: 175px;
  left: 354px;
}

body.rtl.curam .underpayment-details .underpayment-type {
  text-align: right;
}

body.rtl.curam .underpayment-details .pd-reference-id {
  right: auto;
}

body.rtl.curam .underpay-details-table table .horiz-table-body td {
  padding-left: $infrastructure_normal_padding !important;
  padding-right: $infrastructure_very-big_padding !important;
}

body.rtl.curam div.content-panel-detail.underpayment-content-panel .underpayment-tab-details div.watermark {
  text-align: right;
  right: 15px;
}

body.rtl.curam .payment-content-panel {
  left: 10px;
  right: auto;
}

body.rtl.curam .underpayment-tab-payment {
  border-right: 2px solid $infrastructure_primary-menu-and-border_background-color;
  border-left: none;
}

body.rtl.curam .underpayment-details h3.payment-title {
  background-position: right center;
  padding-left: 0px;
  padding-right: 30px;
}

body.rtl.curam .underpayment-details .payment-details-table table tbody.horiz-table-body th {
  padding-left: 0px;
  padding-right: 30px;
}

body.rtl.curam .underpayment-details .payment-details-table table tbody.horiz-table-body td {
  padding-right: $infrastructure_very-big_padding !important;
  padding-left: 0px !important;
}
