/*
 * Licensed Materials - Property of IBM
 *
 * PID 5725-H26
 *
 * Copyright IBM Corporation 2016,2021. All Rights Reserved.
 *
 * US Government Users Restricted Rights - Use, duplication or disclosure
 * restricted by GSA ADP Schedule Contract with IBM Corp.
 *
 *_________________________________________________________________________________
 * underpayment.css
 *
 * Create styles that are applied to the HTML for the underpayment context details.
 */

div.underpay-container-panel {
  background-color: transparent;
  height:130px;
  overflow: hidden;
  position: relative;
  top: 5px;
  min-width: 940px;
}

.underpayment-details {
  float: left;
  width: 100%;
  padding-left: 15px;
}

.underpayment-details .underpayment-type {
  font-size: 140%;
  color: #FB7803;
  width: 96%;
  white-space: nowrap;
  overflow: hidden;
  padding-bottom: 2px;
}

.underpayment-related-ic-case {
  font-size: 103%;
}

.payment-details-table table {
  float: left;
}

.payment-details-table table th {
  padding-left: 5px;
}

.underpay-details-table {
  padding-top: 20px;
}

.payment-details-table table td {
  padding-left: 60px !important;
}

.underpay-details-table table td {
  padding-left: 30px !important;
}

.underpayment-details .payment-icon {
  float: left;
  margin-right: -22px;
}

.payment-details-table {
  padding-top: 10px;
}

.payment-details-table table caption {
  padding-left: 30px;
  padding-bottom: 10px;
  font-weight: bold;
  border-bottom: 1px solid grey;
  width: 90%;
  margin-bottom: 8px;
}

.due-date-link, .due-date-link div {
  display: inline;
}

.due-date-link .due-date {
  padding-right: 3px;
}

.underpayment-content-panel {
  background-color: #FFFFFF;
  position: absolute;
  left: 127px;
  right: 354px;
  top: 0;
  z-index: 0;
}

.payment-content-panel {
  position: absolute;
  right: 10px;
  top: 0;
  width: 334px;
}

.underpayment-tab-details {
  height: 120px;
  padding-left: 0px;
  border-left: 1px solid #DADADA;
  border-right: 1px solid #DADADA;
  float: left;
  width: 100%;
}

.underpayment-tab-payment {
  height: 100px;
  padding-left: 0px;
  border-left: 1px solid #DADADA;
  border-right: 1px solid #DADADA;
  float: left;
  width: 100%;
  background-color: #FFFFFF;
}

.underpayment-tab-payment h3 {
  padding-left: 28px;
  padding-top: 3px;

}

.underpayment-tab-payment .underline {
  border-bottom: 1px solid grey;
  width: 80%;
  height: 10px;
}

h3.payment-title {
  background: url(../../Images/icon_payments.png) no-repeat top left white;
  padding-left: 25px;
  height: 20px;
  border-bottom: 1px solid #DADADA;
  width: 83%;
}

.underpayment-tab-details div.watermark {
  color: gainsboro;
  font-size: 450%;
  z-index: -2;
  position: absolute;
  top: 15px;
  left: 97px;
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
  background-color: #ffffff;
  line-height: 1em;
  text-align: center;
  width: 310px;
}

/*__________________ high contrast styling _____________________*/

/* BEGIN, WI117561, YF */
.high-contrast .underpayment-tab-details div.watermark{
  color: #666666;
}
/* END, WI117561, YF */

.high-contrast .underpayment-tab-details {
  border-left: 1px solid #575757;
  border-right: 1px solid #575757;
}

.high-contrast .underpayment-tab-payment {
  border-left: 1px solid #575757;
  border-right: 1px solid #575757;
}


.high-contrast .underpayment-details .underpayment-type {
  color: #a22d0b;
}

.high-contrast h3.payment-title {
  background: url(../../Images/highcontrast/icon_payments.png) no-repeat top left white;
  border-bottom: 1px solid #575757;
}

/*______________________________________________________________________________
 * end underpayment.css
 */

/* ======== Curam 2016 Styling ======== */

body.curam.soria div.underpay-container-panel {
  background-color: transparent;
  height: 180px;
  top: 0px;
}

body.curam.soria div#content div.context-panel-wrapper div.underpay-container-panel div.case-participant-panel {
  width: auto;
  left: 0px;
}

/* Size of image panel content */
body.curam.soria .underpay-container-panel .image-panel-content {
  width: 160px;
  height: 160px;
  background-color: transparent;
}

/* Size and position of participant image */
body.curam.soria .underpay-container-panel .image-panel-content .participant-image {
  padding: 0px;
  width: 120px;
  height: 120px;
  position: absolute;
  left: 16px;
}

body.curam.soria .underpay-container-panel .image-panel-content .participant-image img {
  border-radius: 50%;
}

body.curam.soria .underpay-container-panel .image-panel-content .name-background {
  position: absolute;
  bottom: 15px;
  width: 152px;
}

body.curam.soria .underpay-container-panel .image-panel-content .name-one-title {
  height: 20px;
  width: 100%;
  background-color: transparent;
}

body.curam.soria .underpay-container-panel .image-panel-content .name-one-title a {
  font-family: $infrastructure_main-medium_font-family;
  font-size: $infrastructure_normal_font-size;
  color: $cefwidgets_context-panel_link-color;
  letter-spacing: -0.15px;
  text-align: center;
  line-height: $infrastructure_normal_line-height;
  height: 20px;
  width: 100%;
  text-decoration: none;
}

body.curam.soria .underpay-container-panel .image-panel-content .name-one-title a:hover,
body.curam.soria .underpay-container-panel .image-panel-content .name-one-title a:focus {
  color: $cefwidgets_context-panel_link-hover-color;
}

body.curam.soria .underpay-container-panel .image-panel-content .name-one-title a:hover {
  text-decoration: underline;
}

body.curam.soria .underpay-container-panel .image-panel-content .participant-details {
  position: absolute;
  bottom: 0px;
  width: 152px;
  text-align: center;
}

body.curam.soria .underpay-container-panel .image-panel-content div.image-first-line,
body.curam.soria .underpay-container-panel .image-panel-content div.participant-details-divider,
body.curam.soria .underpay-container-panel .image-panel-content div.image-second-line {
  clear: none;
  width: auto;
  float: none;
  display: inline-block;
  padding: 0px;
  font-family: $infrastructure_main-bold_font-family;
  font-size: $infrastructure_very-small_font-size;
  color: $infrastructure_primary-form-control-font_color;
}

body.curam.soria .underpay-container-panel .image-panel-content div.participant-details-divider {
  margin-left: 10px;
  margin-right: 7px;
  width: 3px;
  height: 10px;
  border-left: 1px solid $infrastructure_secondary-menu-and-border_background-color;
}

body.curam.soria .underpay-container-panel .image-panel-content .name-one-title,
body.curam.soria .underpay-container-panel .image-panel-content .name-two-title {
  background-color: transparent;
}

/* Size and position of special caution icon */
body.curam.soria .underpay-container-panel .image-panel-content .left-corner-image {
  left: 16px;
  z-index: 100;
}

/* Size and position of citizen context viewer icon */
body.curam.soria .underpay-container-panel .image-panel-content .right-corner-image {
  top: 0px;
  left: 96px;
  z-index: 100;
  background: url("../../Images/ccv__filled--20-enabled.svg") center center no-repeat;
}

body.curam.soria .underpay-container-panel .image-panel-content .right-corner-image:hover,
body.curam.soria .underpay-container-panel .image-panel-content .right-corner-image:focus {
  display: block;
  height: 40px;
  background: url("../../Images/ccv__filled--20-enabled.svg") center center no-repeat;
}

body.curam.soria .underpay-container-panel .image-panel-content .right-corner-image a {
  display: block;
  width: 40px;
  height: 40px;
}

body.curam.soria .underpay-container-panel .image-panel-content .right-corner-image a img {
  display: none;
}

body.curam.soria .underpay-container-panel .image-panel-content .image-links {
  left: 140px;
  top: 10px;
}


/* Size and position of content panel */
body.curam.soria .underpayment-content-panel {
  background-color: transparent;
  right: 363px;
  left: 175px;
  top: 10px;
}

body.curam.soria .underpayment-tab-details {
  float: left;
  height: 160px;
  padding-left: 0px;
  border-left: none;
  border-right: none;
  width: 100%;
  overflow: hidden;
}

/* Styling of the content panel details */
body.curam.soria .underpayment-tab-details .underpayment-type {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  padding-bottom: $infrastructure_small_padding;
  font-family: $infrastructure_main-medium_font-family;
  font-size: $infrastructure_heading-three_font-size;
  color: $infrastructure_primary-font_color;
  letter-spacing: -0.22px;
  text-align: left;
  line-height: $infrastructure_heading-three_line-height;
}

body.curam.soria .underpayment-tab-details .pd-reference-id {
  padding-bottom:0px;
  padding-top: 0px;
  padding-right: 0px;
  background-color: $infrastructure_primary-form-control-background_color;
  position: absolute;
  right: 0px;
  top: 5px;
  padding-left: $infrastructure_small_padding;
  font-family: $infrastructure_main-medium_font-family;
  font-size: $infrastructure_normal_font-size;
  color: $infrastructure_primary-font_color;
  text-align: right;
  line-height: $infrastructure_heading-three_line-height;
}

body.curam.soria .underpayment-related-ic-case {
  font-size: $infrastructure_normal_font-size;
  font-family: $infrastructure_main-medium_font-family;
  line-height: $infrastructure_normal_line-height;
  padding-bottom: $infrastructure_small_padding;
}

body.curam.soria .underpayment-related-ic-case a {
  color: $cefwidgets_context-panel_link-color;
}

body.curam.soria .underpayment-related-ic-case a:hover,
body.curam.soria .underpayment-related-ic-case a:focus {
  color: $cefwidgets_context-panel_link-hover-color;
}

body.curam.soria .underpayment-related-ic-case a:hover{
  text-decoration: underline;
}

body.curam.soria .underpay-details-table table .horiz-table-body td {
  font-family: $infrastructure_main-regular_font-family;
  font-size: $infrastructure_normal_font-size;
  color: $infrastructure_primary-form-control-font_color;
  line-height: $infrastructure_normal_line-height;
  padding-left: $infrastructure_very-big_padding !important;
}

body.curam.soria .underpayment-tab-details .underpayment-details .underpay-details-table {
  padding-top: 0px;
}

body.curam.soria .underpay-details-table table .horiz-table-body td.horiz-body-last-cell a {
  font-family: $infrastructure_main-medium_font-family;
  color: $cefwidgets_context-panel_link-color;
}

body.curam.soria .underpay-details-table table .horiz-table-body td.horiz-body-last-cell a:hover,
body.curam.soria .underpay-details-table table .horiz-table-body td.horiz-body-last-cell a:focus {
  color: $cefwidgets_context-panel_link-hover-color;
}

body.curam.soria .underpay-details-table table .horiz-table-body td.horiz-body-last-cell a:hover {
  text-decoration: underline;
}

body.curam.soria .underpay-details-table table .horiz-table-body th {
  font-family: $infrastructure_main-medium_font-family;
  font-size: $infrastructure_normal_font-size;
  color: $infrastructure_primary-form-control-font_color;
  line-height: $infrastructure_normal_line-height;
}

body.curam div.content-panel-detail.underpayment-content-panel .underpayment-tab-details div.watermark {
	color:#ad1625;
  font-family: $infrastructure_main-medium_font-family;
  font-size: $infrastructure_normal_font-size;
  z-index: inherit;
  line-height: $infrastructure_normal_line-height;
  position: absolute;
  top: inherit;
  left: 15px;
  bottom: 10px;
  -moz-opacity: inherit;
  -khtml-opacity: inherit;
  opacity: inherit;
  background: none;
  width: 100%;
  text-align: left;
}

/* Styling of the Payment Content Panel */

body.curam.soria .content-panel-detail.payment-content-panel {
  top: 20px;
}

body.curam.soria .underpayment-tab-payment {
  height: 140px;
  padding-left: 0px;
  border-left: 2px solid $infrastructure_primary-menu-and-border_background-color;
  border-right: none;
  float: left;
  width: 100%;
  background-color: transparent;
}

body.curam.soria .underpayment-tab-payment .underpayment-details {
  padding-left: $infrastructure_very-big_padding;
}

body.curam.soria .underpayment-details h3.payment-title {
  background: url(../../Images/payment__filled-20-enabled.svg) no-repeat left center;
  padding-left: 30px;
  padding-top: 0px;
  height: 20px;
  border-bottom: none;
  width: 83%;
  font-family: $infrastructure_main-medium_font-family;
  font-size: $infrastructure_normal_font-size;
  color: $infrastructure_primary-font_color;
}

body.curam.soria .underpayment-details .payment-details-table table tbody.horiz-table-body th {
  font-family: $infrastructure_main-medium_font-family;
  font-size: $infrastructure_normal_font-size;
  color: $infrastructure_primary-form-control-font_color;
  padding-left: 30px;
}

body.curam.soria .underpayment-details .payment-details-table table tbody.horiz-table-body td {
  font-family: $infrastructure_main-regular_font-family;
  font-size: $infrastructure_normal_font-size;
  color: $infrastructure_primary-form-control-font_color;
  padding-left: $infrastructure_very-big_padding !important;
}

body.curam.soria .underpayment-details .payment-details-table table tbody.horiz-table-body td a {
  font-family: $infrastructure_main-medium_font-family;
  font-size: $infrastructure_normal_font-size;
  color: $cefwidgets_context-panel_link-color;
}

body.curam.soria .underpayment-details .payment-details-table table tbody.horiz-table-body td a:hover,
body.curam.soria .underpayment-details .payment-details-table table tbody.horiz-table-body td a:focus {
  color: $cefwidgets_context-panel_link-hover-color;
}

body.curam.soria .underpayment-details .payment-details-table table tbody.horiz-table-body td a:hover {
  text-decoration: underline;
}
