.evidencecluster {
 background-color: #E8E8E8;
 padding: 10px;
 margin-top:5;
 font-size: 10pt;
 width: 100%;
 margin: 1ex 0 1ex 0;
 border-left: 1px solid #91A6B4;
 border-right: 1px solid #91A6B4;
 border-bottom: none;
 border-top: none;
}

.evidencecluster caption {
  padding: 0;
  margin: 0;
}

.evidencecluster .top {
  vertical-align: top;
}

.evidencecluster .title .fieldlist .title {
  text-align: left;
}

.evidencecluster .title .header {
  background-color: #369;
  color: #fff;
  display: block;
  font-size: 10pt;
  font-weight: bold;
  padding: 2px 4px 3px 4px;
  border: none;
}

.evidencecluster .title .desc {
  display: block;
  color: #369;
  font-size: 8pt;
  padding: 0 0 0 2px;
  margin: 0;
  border: none;
}

.evidencecluster .labelfirst, .evidencecluster .labellast, .evidencecluster .labelempty {
  background-color: #c0d4e7;
  color: #369;
  vertical-align: middle;
}

.evidencecluster .labelfirst {
  padding-right: 0.5em;
  text-align: right;
}
.evidencecluster .labellast {
  padding-left: 0.5em;
  text-align: left;
}

.evidencecluster .fieldfirst, .evidencecluster .fieldlast {
  vertical-align: top;
}

.evidencecluster .fieldfirst {
  text-align: right;
}

.evidencecluster .fieldlast {
  text-align: left;
}

.evidencecluster .fieldnolabels {
  padding-left: 0;
  margin-left: 0;
  vertical-align: top;
}

div.evidence-workspace-cluster {
  padding-bottom: 5px;
}

div.evidence-workspace-cluster table {
  border-spacing: 0px;
}

div.evidence-workspace-cluster td {
  background-color:#FFFFFF;
  border:0pt solid #FFFFFF;
  padding-left:8px;
  padding-right:10px;
}

div.evidence-workspace-cluster .list {
  width: 100%;
}

.control-with-right-padding {
  padding-right: 20px;
}

div.sitemap-cluster {
  margin-top: 20px;
}

div.sitemap-cluster table {
  border-spacing: 0;
}

div.sitemap-cluster .bx--cluster {
  width: 100%;
  border: 0 solid white;
}

div.sitemap-cluster td {
  border-bottom: 0 solid white;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

div.sitemap-heading-cluster {
  text-align: left;
  margin-top: 0;
}

div.sitemap-heading-cluster td {
  text-align: left;
  color: #7786B8;
  background-color: #E9E9FF;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 10px;
  border-right: 1px solid white;
}

div.sitemap-link-cluster {
  margin-top: 0;
}

div.sitemap-link-cluster td {
  background-color: #F5F5F5;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 10px;
  border-right: 1px solid #E3E3E3;
  border-bottom: 1px solid #E3E3E3;
}

.evidence-hidden-submit table td .action-set {
  margin-top: 5px ;
}

.evidence-hidden-submit .action-set.blue-action-set a {
  position:absolute;
  left: -10000000px;
}