.rtl .evidencecluster .title .fieldlist .title {
  text-align: right;
}

.rtl .evidencecluster .title .desc {
  padding: 0 2px 0 0;
}

.rtl .evidencecluster .labelfirst {
  padding-right: 0px;
  padding-left: 0.5em;
  text-align: left;
}
.rtl .evidencecluster .labellast {
  padding-left: 0px;
  padding-right: 0.5em;
  text-align: right;
}

.rtl .evidencecluster .fieldfirst {
  text-align: left;
}

.rtl .evidencecluster .fieldlast {
  text-align: right;
}

.rtl .evidencecluster .fieldnolabels {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

.rtl div.evidence-workspace-cluster td {
  padding-left:10px;
  padding-right:8px;
}

.rtl.control-with-right-padding {
  padding-right: 0px;
  padding-left: 20px;
}

.rtl div.sitemap-heading-cluster {
  text-align: right;
}

.rtl div.sitemap-heading-cluster td {
  text-align: right;
  padding-left: 10px;
  padding-right: 5px;
  border-right: none;
  border-left: 1px solid white;
}

.rtl div.sitemap-link-cluster td {
  padding-left: 10px;
  padding-right: 5px;
  border-right: none;
  border-left: 1px solid #E3E3E3;
}

.rtl .evidence-hidden-submit .action-set.blue-action-set a {
  left: auto;
  right: -10000000px;
}