/*
 * IBM Confidential
 *
 * OCO Source Materials
 *
 * Copyright IBM Corporation 2019.
 *
 * The source code for this program is not published or otherwise divested of
 * its trade secrets, irrespective of what has been deposited with the US
 * Copyright Office.
 */

/*______________________________________________________________________________
 * ApplicationStyles.css
 * 
 */ 
div.tab-Application-list a {
  color:#376F8F;
  text-decoration:none;
}

div.tab-Application-list a:hover {
color:#376F8F;
text-decoration:underline;
}

 div.tab-application-list {

     margin-top: 5px;
    width: 395px;
   height: 135px;
}

div.tab-Application-member-list a {
color:#376F8F;
text-decoration:none;
}

div.tab-Application-member-list a:hover {
color:#376F8F;
text-decoration:underline;
}

div.tab-application-member-list {
border: 1px solid #DADADA;
 overflow: scroll;
margin-top: 5px;
width: 395px;
height: 138px;
}

.application-details-table {
  padding-left: 12px;
}

.application-tab-links {
  background-color:#E6ECF4;
  float: left;
  width: 100%;
  height:134px;
}

.content-intakeapplication-id {
font-size: 120%;
left: 290px;
margin-top: 4px;
font-family: tahoma;
color: #FB7803;
padding-bottom:5px;
padding-top: 0px;
padding-right: 15px;
background-color: white;
position: absolute;
right: 0px;
top: 4px;
padding-left: 5px;
height: 16px;
padding-right: 1px;
width: 25px;
}

.content-single-intakeapplication-id {

  font-size: 120%;
  font-family: tahoma;
  color: #FB7803;
  padding-bottom:0px;
  padding-top: 0px;
  padding-right: 15px;
  background-color: white;
  position: absolute;
  right: 0px;
  top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
}


 div.application-person-details-panel {
    background-color: #FFFFFF;
    left: 451px;
    position: absolute;
    right: 207px;
    top: 7px;
    z-index: 0;
}

div.application-single-person-details-panel {
    background-color: #FFFFFF;
    left: 130px;
    position: absolute;
    right: 210px;
    top: 7px;
    z-index: 0;
}

.application-name {

  font-size: 140%;
  font-family: tahoma;
  color: #FB7803;
  padding-left: 12px;
  padding-bottom:5px;
  padding-top: 0px;
  /* Beging, CR00280124 MN*/
 /* Begin, CR00274252*/
  width: 700px;
  /* END, CR00274252 */
  /* END, CR00280124 MN*/
  white-space: nowrap;
  overflow: hidden;
}

#tab-details .application-name {
color:#FB7803;
font-family:tahoma;
font-size:125%;
overflow:hidden;
padding-bottom:0;
padding-left:15px;
padding-top:5px;
white-space:nowrap;
width:99%;
}

div.person-application-thumbnail-panel {
  width: 110px;
  left: 10px;
  top: 7px;
  position: absolute;
}

div.person-application-thumbnail-panel .top
{
  height: 1px;
}

div.person-application-thumbnail-panel div.wrapper .wrapper-top {
  height: 1px;
}

.person-application-thumbnail-panel div.image-panel-content div.participant-image {

    clear: left;
    float: left;
    height: 75px;
    padding-left: 19px;
    padding-top: 5px;
    width: 68px;

}

div.pd-application-links-panel {
color: #376F8F;
text-decoration: none;
    position: absolute;
    right: 10px;
    top: 7px;
    width: 190px;
}

div.application-status-label {
margin-left: 10px;
margin-right: 10px;
}

div.application-user {
    position: absolute;
    bottom: 0px;
    left: 1px;
    background-color: #FFFFFF;
    height: 18px;
    width: 100%;
    padding-top: 4px;
}

div.application-user-label {
margin-left: 10px;
margin-right: 10px;
}

div.Intakecontainer-panel {
  background-color: transparent; 
  height:150px;
  min-width: 960px; 
  overflow: visible;
  position: relative;
  top: 0px;
}   

div.app-list-size {
  width: 410px !important;
}

div.application-tab-links div.ic-case-status {
  padding-bottom: 3px;
}

div.application-tab-links div.application-user {
  padding-top: 4px;
}

div.intake-user-panel {
  width: 100%;
  background-color: #FFFFFF;
  position: absolute;
  bottom: 2px;
  left: 1px;
  height: 18px;
  padding-top: 4px;
}

div.intake-user-icon {
  padding-left: 11px;
  padding-right: 4px;
  padding-top: 2px;
}

div.intake-user,
div.intake-user-icon {
  float: left;
}

div.intake-tooltip {
  position: absolute;
  top: 3px;
  right: 4px;
}

div.intake-outer-status {
  width: 100%;
  background-color: #FFFFFF;
  height: 18px;
}

div.intake-status {
  padding-left: 13px;
  padding-top: 2px;
  white-space: nowrap;
  width: 80%;
  text-overflow: ellipsis;
  overflow: hidden; 
  color: black;
}

div.programs-req-list {
    color: #696969;
    padding-left: 15px;
    padding-top: 10px;
}

div.programs-list {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;     
  padding-left: 15px;
  padding-top: 1px;
}

div.application-details {
    border-left: 1px solid #DADADA;
    border-right: 1px solid #DADADA;
    float: left;
    height: 134px;
    overflow: hidden;
    padding-left: 0;
    width: 100%;
}

/*
The style below overrides the cef styling, this is because third photo was being truncated 
*/ 
#container_stackCon-threeimages .stack-container-photo .app-rotator-width .rotator:first-child {
  width: 85% !important;
}

/*
 Styling for Preview Panel
*/ 
 body#Curam_ApplicationContextPanel.list-inline-page { overflow-y: visible }

 body#Curam_ApplicationContextPanel.list-inline-page .top .left { background:none }

 body#Curam_ApplicationContextPanel.list-inline-page .top .center { border: none; height:1px; background-color: transparent;}

 body#Curam_ApplicationContextPanel.list-inline-page .top .right { background:none; }

 body#Curam_ApplicationContextPanel.list-inline-page .top { height: 1px; }

 body#Curam_ApplicationContextPanel.list-inline-page .bottom .left { background:none }

 body#Curam_ApplicationContextPanel.list-inline-page .bottom .center { border: none; height:1px; background-color: transparent;}

 body#Curam_ApplicationContextPanel.list-inline-page .bottom .right { background:none; }

 body#Curam_ApplicationContextPanel.list-inline-page .bottom{ height: 1px; }

body#Curam_ApplicationContextPanel.list-inline-page div#tab-title {
  display: none;
}

body#Curam_ApplicationContextPanel.list-inline-page div#content {
  border-left: 0px;
  border-right: 0px;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  top: 0px;
  background: transparent;
}

body#Curam_ApplicationContextPanel.list-inline-page div#content div.Intakecontainer-panel {
  min-width: 885px;
  height: 150px;
  top: 0px;
}

body#Curam_ApplicationContextPanel.list-inline-page div#content div.Intakecontainer-panel div.pd-application-links-panel {
  right: 2px;
}

body#Curam_ApplicationContextPanel.list-inline-page div#content div.Intakecontainer-panel div.application-person-details-panel {
  right: 200px;
}

body#Curam_ApplicationContextPanel.list-inline-page div#content div.Intakecontainer-panel div.application-single-person-details-panel {
  right: 202px;
}

body#Curam_ApplicationContextPanel.list-inline-page div#content div.Intakecontainer-panel div.application-person-details-panel div.content-single-intakeapplication-id {
  padding: 0px 0px 0px 12px;
  position: relative;
  top: 0px;
}

body#Curam_ApplicationContextPanel.list-inline-page div#content div.Intakecontainer-panel div.application-person-details-panel div.application-name {
  padding-bottom: 0px;    
}

body.curam div.Intakecontainer-panel div.application-details {
  height: 180px;
}

@media print {
  /* Prevent content from being cut off when printing */
  body.curam.basic.list-inline-page#Curam_ApplicationContextPanel #content {
    overflow: visible;
  }
  
  body.curam.basic.list-inline-page#Curam_ApplicationContextPanel .content-panel-detail.application-single-person-details-panel {
    width: calc(100% - 186px - 220px - 100px);
  }
  
  body.curam div.context-panel-wrapper div.Intakecontainer-panel.multi-person {
    min-width: 1210px;
  }
}

/*______________________________________________________________________________
 * end ApplicationStyles.css
 */ 