/*
 * Styles for the Triage Alert List 
 */
div.triageAlertList {
   background-color:#FFECBD;
   border:1px solid #fbdc83;
   color:black;
   margin:0% 1% 1% 1%;
   padding-top:6px;
   padding-bottom:6px;
   padding-right:25px;
   padding-left:10px;
   position:relative;
}

/*
 * Styles for the Triage Alert Title.
 */
div.triageAlertTitle {
   color:#db334b;
   margin-left:4.8%;
   margin-right:1%;
   margin-top:1%;
   font-family:tahoma;
   font-weight:bold;
   font-size:11px;
   background-color:#FFECBD;
   position:relative;
}

div.triageSearchBox {
   background-color:#e8ecf9;
   margin-left: 10px;
   float: left;
   width: 256px;
   padding-bottom: 7px;
   padding-left: 27px;
   padding-top: 10px;
  
}

input.triageSearchBox {
    background-color:white;
    width: 165px;
    border: 8px solid white;
}

div.servicesList {

   float: left;
   clear:left;
   width: 279px;
   border: 2px solid #E7EAF5;
   height: 423px;
   overflow: auto;
   margin-left: 10px;
   padding-bottom: 1px;
   padding-left: 11px;
}

div.servicesListEntry {
    
    background-color:white;
    border: 1px solid white;
    margin-left: 10px;
}

span.servicesTitleBold {

color: #f39002;
background-color: white;
font-family: tahoma;
font-weight:bold;
font-size: 10pt;
}

div.servicesTitlePadding {

border-bottom: 1px solid white;
padding-left: 20px;
padding-bottom: 1px;
padding-top:10px;
}

span.servicesTitle {

color: #f39002;
background-color: white;
font-family: tahoma;
font-weight:normal;
font-size: 10pt;
}

hr.listDivider {
    background-color: #D4D4D4;
    border: 0 none;
    clear: both;
    color: #e7eaf5;
    height: 1px;
    width: 93%;
}

div.moreInfo{
    width: auto;
    background-color:#f1f3fa;
    border-left: 20px solid white;
    border-right: 2px solid white;
    outline-color: #e7eaf5;
    font-family: tahoma;
    color:#878888;
}

.ifScript-hide {
display: none;
}

span.serviceName {

margin-left: 5px;
width: 170px;
height: auto;
margin-bottom: 3px;
display: inline-block;
}


.serviceInput, .serviceName, .serviceIcon, .triage-description {

  height: 20px;
  vertical-align: top;
}

.serviceAddressField {
  width: 188px;

}
.openDescriptionLink, .openDescriptionLinkSelected img  {
}

.openDescriptionLink {
   background-image: url(../../Images/arrow_collapse.png);
}


.openDescriptionLinkSelected {
        background-image: url(../../Images/arrow_expand.png);
}

div.to-do-background {

 background-image:url(../../Images/App_to_do_bg.png);
  background-repeat:repeat;
}

div.services-map {

    margin-right: 1.5%;
    height: 466px;
}

/* Triage Results 'Go' button styling */

div.triage-go-button {

float:right;

}

a.triageButtonLink {
    text-decoration: none !important;
}

.triageButtonLink:selected {
    background-color: #FEE069;
    background-image: url("../../servlet/resource?r=button_active_background");
}

a.triageButtonLeftCorner {
    background: url("../../servlet/resource?r=action_control_background_sel") no-repeat scroll 0 0 transparent;
}

a.triageButtonDiv {
    background: url("../../servlet/resource?r=action_control_background_sel") repeat-x scroll 0 0 transparent;
}

.triageButtonDiv {
    color: ${navpanel.button.color};
    font-family: tahoma;
    font-weight: 400;
    padding: 0 16px 6px 18px;
    background: url("../../servlet/resource?r=cp_action_control") repeat-x scroll 0 0 transparent;
    display: inline-block;
    margin-right: 4px;
}
.triageButtonLink {
    text-decoration: none;
    min-width:5em;
    text-align:center;
    cursor: pointer;
    margin-right: 5px;
    float: left;
    min-width:65px;
}

span.triageButtonLeftCorner {
    background: url("../../servlet/resource?r=cp_action_control_corners") no-repeat scroll 0 0 transparent;
    color: black;
    cursor: pointer;
    display: inline-block;
    height: 20px;
}

a:hover .triageButtonLeftCorner {
    background: url("../../servlet/resource?r=action_control_corners_roll") no-repeat scroll 0 0 transparent;
    text-decoration: none;
}

.triageButtonRightCorner {
    background: url("../../servlet/resource?r=cp_action_control_corners") no-repeat scroll right 0 transparent;
    display: inline-block;
    height: 20px;
    margin-left: 2px;
}

a:hover .triageButtonRightCorner {
    background: url("../../servlet/resource?r=action_control_corners_roll") no-repeat scroll right 0 transparent;
    text-decoration: none;
}
a.triageButtonDiv {
    background: url("../../servlet/resource?r=action_control_background_sel") repeat-x scroll 0 0 transparent;
}

a:hover .triageButtonDiv {
    background: url("../../servlet/resource?r=action_control_background_roll") repeat-x scroll 0 0 transparent;
}


/* End of Triage Results 'Go' button styling */

/* Quick Notes renderer style to remover the padding around the button div allowing for extra globalisation space.*/

body.basic div#content div#quick-notes-div-action-set
{
    padding-left: 0;
    padding-right: 0;
}
/* End of Quick Notes Styling.*/