/*
 * Styles for the Triage Alert Image Title.
 */
div.triageAlertImageTitle {
    background-color: #FFECBD;
    float: left;
    margin: 0% 1% 1% 1%;
    padding-top: 1px;
    padding-right: 2.05%;
    padding-left: 9px;
    position: relative;
}