div.smart-panel-cluster div div.header-wrapper h2.collapse span.collapse-title {
  font-weight:bold;
  color:#4e4d4d; 
  font-family:Tahoma;
  font:Tahoma;
}

div.smart-panel-cluster>div>table>tbody>tr>td>div span {
   white-space: normal;
}

div.smart-panel-cluster>div>table>tbody>tr>td>input {
  margin-top: 8px;
  margin-bottom: 5px;
  width: 95%;
}

div.smart-panel-cluster>div>table>tbody>tr>td>div {
  padding-top: 5px;
}

div.smart-panel-cluster>div>table>tbody>tr>td>div>a {
  padding-right: 8px;
}

div.smart-panel-cluster>div>div.header-wrapper {
  background-image: url("../../Images/smartpanel_title_bg.png");
}

.soria div.smart-panel-cluster>div>div.header-wrapper>h2.collapse {
  background-image: url("../../Images/smartpanel_title_bg.png");
  background-repeat: repeat-x;
}

body.soria#Curam_Application_smartPanel .page-title-bar  {
  display:none !important;
  height:1px !important;
}

body.soria#Curam_SmartPanelHome .page-title-bar  {
  display:none !important;
  height:1px !important;
}

body.soria#Curam_Triage_smartPanel .page-title-bar  {
  display:none !important;
  height:1px !important;
}

body.soria#Curam_Screening_smartPanel .page-title-bar  {
  display:none !important;
  height:1px !important;
}

body.soria#Curam_LifeEvents_smartPanel .page-title-bar  {
  display:none !important;
  height:1px !important;
}

body.basic#Curam_Application_smartPanel .title-exists {
  top:0;
}

body.basic#Curam_SmartPanelHome .title-exists {
  top:0;
}

body.basic#Curam_Triage_smartPanel .title-exists {
  top:0;
}

body.basic#Curam_Screening_smartPanel .title-exists {
  top:0;
}

body.basic#Curam_LifeEvents_smartPanel .title-exists {
  top:0;
}

div.smart-panel-cluster>div>table>tbody>tr>td>div>div>div img {
   width:100%;
   height:1px;
   padding-top: 5px;
   padding-bottom: 5px;
}

/* ======== Curam Styling 2016 ======== */
body.curam.soria.smart-panel  .page-title-bar  {
  display:none !important;
  height:1px !important;
}

body.curam.soria.smart-panel .title-exists {
  top:0;
}

body.curam.soria.smart-panel div.smart-panel-cluster>div>div.header-wrapper>h2.collapse {
  background-image: none;
}

/* ======== End Curam Styling 2016 ======== */