.supervisor-case-filterdescription{
  /* BEGIN CR00124955 SAI */ 
  font-size: 8pt;  
  font-family: Verdana; 
  font-weight: normal;
  /* END CR00124955 */ 
  color: darkblue;  
  text-align: left;
  padding: 0;
}

