@import url("${resource-uri:triage.styles.high.contrast.css}");

.high-contrast .box-align {

    font-size: 13.5pt Arial;
    font-weight: bold;
    color : #c9350c;
    background-color: #FAFAFA;
    padding: 20px;    
    border: 1px solid #666666
}

.high-contrast div.cluster h2 {
  margin-bottom: 1px;
  margin-top: 0px;
  color: #000000;
  font-weight: normal;
  font-size: 16pt;
  border-bottom: 1px solid #666666;
}

.high-contrast div.cluster div.desc-header {
  color: #666666;
  font-size: 13.5pt;
}

.high-contrast span.field-label-text {
    font-size: 13.5pt;
    color: #222222;
}

.CreateAccount.high-contrast div.cluster.checkbox-container-div.bhv-select-list {
    background-color: #cce8f2;
    border-bottom: 1px solid #666666;
    border-left: 1px solid #666666;
    border-right: 1px solid #666666;
    font-size: 13.5pt;
    color: #222222;
}