<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed Materials - Property of IBM

  Copyright IBM Corporation 2012,2022. All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or disclosure
  restricted by GSA ADP Schedule Contract with IBM Corp.
-->
<web-app
  xmlns="http://java.sun.com/xml/ns/j2ee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
  version="2.4">

  <display-name>@APP_NAME@Client</display-name>
  <mime-mapping>
    <extension>svg</extension>
    <mime-type>image/svg+xml</mime-type>
  </mime-mapping>

  <filter>
    <display-name>Request Filter</display-name>
    <filter-name>Request Filter</filter-name>
    <filter-class>curam.omega3.RequestFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>Request Filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>URLStatsFilter</filter-name>
    <filter-class>curam.util.jmx.internal.web.URLStatsFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>URLStatsFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <servlet>
    <display-name>ActionServlet</display-name>
    <servlet-name>ActionServlet</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActionServlet</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>

  <servlet>
    <display-name>ApplicationController</display-name>
    <servlet-name>ApplicationController</servlet-name>
    <servlet-class>curam.omega3.ApplicationController</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplicationController</servlet-name>
    <url-pattern>/servlet/ApplicationController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ApplicationController</servlet-name>
    <url-pattern>/servlet/JSONServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ApplicationController</servlet-name>
    <url-pattern>*.AgendaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ApplicationController</servlet-name>
    <url-pattern>*.AgendaSummary</url-pattern>
  </servlet-mapping>

  <servlet >
    <display-name>FileDownload</display-name>
    <servlet-name>FileDownload</servlet-name>
    <servlet-class>curam.omega3.FileDownload</servlet-class>
    <load-on-startup>3</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileDownload</servlet-name>
    <url-pattern>/servlet/FileDownload</url-pattern>
  </servlet-mapping>

  <servlet >
    <display-name>ImageGenerator</display-name>
    <servlet-name>ImageGenerator</servlet-name>
    <servlet-class>curam.omega3.imagegen.ImageGenerator</servlet-class>
    <load-on-startup>4</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageGenerator</servlet-name>
    <url-pattern>/servlet/ImageGenerator</url-pattern>
  </servlet-mapping>

  <servlet >
    <display-name>DBtoJMSservlet</display-name>
    <servlet-name>DBtoJMSservlet</servlet-name>
    <servlet-class>curam.omega3.DBtoJMSservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBtoJMSservlet</servlet-name>
    <url-pattern>/servlet-unauth/DBtoJMS</url-pattern>
  </servlet-mapping>

  <!-- Warning: If you choose to deploy the /resource servlet in a public-facing (internet) application,
   you should ensure that your Resource Store content is appropriately secured.
   Any content that should not be publicly visible should be marked 'internal'.-->
  <servlet >
    <display-name>ApplicationResource</display-name>
    <servlet-name>ApplicationResource</servlet-name>
    <servlet-class>curam.util.client.servlet.ApplicationResourceServlet</servlet-class>
    <load-on-startup>4</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplicationResource</servlet-name>
    <url-pattern>/servlet/resource</url-pattern>
  </servlet-mapping>

  <servlet >
    <display-name>TemplateResource</display-name>
    <servlet-name>TemplateResource</servlet-name>
    <servlet-class>curam.util.client.servlet.TemplateResourceServlet</servlet-class>
    <load-on-startup>4</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>TemplateResource</servlet-name>
    <url-pattern>/servlet/template</url-pattern>
  </servlet-mapping>

  <servlet >
    <display-name>UserLocale</display-name>
    <servlet-name>UserLocale</servlet-name>
    <servlet-class>curam.util.client.servlet.UserLocaleServlet</servlet-class>
    <load-on-startup>4</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLocale</servlet-name>
    <url-pattern>/servlet/locale</url-pattern>
  </servlet-mapping>

  <servlet >
    <display-name>PathResolver</display-name>
    <servlet-name>PathResolver</servlet-name>
    <servlet-class>curam.util.client.servlet.PathResolverServlet</servlet-class>
    <load-on-startup>4</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>PathResolver</servlet-name>
    <url-pattern>/servlet/PathResolver</url-pattern>
  </servlet-mapping>

  <servlet>
    <display-name>AutoRecoveryServlet</display-name>
    <servlet-name>AutoRecoveryServlet</servlet-name>
    <servlet-class>curam.util.client.autorecovery.servlet.AutoRecoveryServlet</servlet-class>
    <load-on-startup>4</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutoRecoveryServlet</servlet-name>
    <url-pattern>/servlet/autorecovery</url-pattern>
  </servlet-mapping>

  <servlet>
    <display-name>CDSLService</display-name>
    <servlet-name>CDSLService</servlet-name>
    <servlet-class>curam.util.cdsl.DataServiceServlet</servlet-class>
    <load-on-startup>5</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>CDSLService</servlet-name>
    <url-pattern>/dataservice/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <display-name>FileEdit</display-name>
    <servlet-name>FileEdit</servlet-name>
    <servlet-class>curam.util.client.servlet.FileEditServlet</servlet-class>
    <load-on-startup>5</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileEdit</servlet-name>
    <url-pattern>/servlet/FileEdit</url-pattern>
  </servlet-mapping>

  <listener>
    <listener-class>curam.util.client.servlet.FileEditSessionListener</listener-class>
  </listener>
  <listener>
    <listener-class>curam.util.client.httpsession.AutoRecoveryHttpSessionListener</listener-class>
  </listener>

  <welcome-file-list>
    <welcome-file>AppController.do</welcome-file>
  </welcome-file-list>

  <jsp-config>
    <taglib>
      <taglib-uri>http://www.curamsoftware.com/curam</taglib-uri>
      <taglib-location>/WEB-INF/curam.tld</taglib-location>
    </taglib>
    <jsp-property-group>
      <url-pattern>*.jspc</url-pattern>
      <url-pattern>*.jsps</url-pattern>
      <is-xml>true</is-xml>
    </jsp-property-group>
  </jsp-config>

  <security-constraint>
    <display-name>Security Constraint</display-name>
    <web-resource-collection>
      <web-resource-name>Protected Area</web-resource-name>
      <url-pattern>*.html</url-pattern>
      <url-pattern>*.do</url-pattern>
      <url-pattern>*.jsp</url-pattern>
      <url-pattern>*.jspc</url-pattern>
      <url-pattern>*.jsps</url-pattern>
      <url-pattern>*.jspx</url-pattern>
      <url-pattern>*.htm</url-pattern>
      <url-pattern>*.xml</url-pattern>
      <url-pattern>*.xsl</url-pattern>
      <url-pattern>/servlet/*</url-pattern>
      <url-pattern>/</url-pattern>

      <http-method>PUT</http-method>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
      <http-method>DELETE</http-method>
    </web-resource-collection>
    <auth-constraint>
      <description>All pages constraint</description>
      <role-name>everyone</role-name>
    </auth-constraint>
    <user-data-constraint>
      <description>SSL required</description>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/logon.jsp</form-login-page>
      <form-error-page>/logonerror.jsp</form-error-page>
    </form-login-config>
  </login-config>
  <security-role>
    <description>every one</description>
    <role-name>everyone</role-name>
  </security-role>

  <error-page>
    <error-code>404</error-code>
    <location>/http-404-error.jsp</location>
  </error-page>
</web-app>
