/*
 * IBM Confidential
 *
 * OCO Source Materials
 *
 * Copyright IBM Corporation 2020,2021.
 *
 * The source code for this program is not published or otherwise divested of
 * its trade secrets, irrespective of what has been deposited with the US
 * Copyright Office.
 */

/*______________________________________________________________________________
 * applicationcase.css
 *
 * Create styles that are applied to the HTML for the investigation tab details.
 */

body.curam.soria div.container-panel-applicationcase {
  background: transparent;
  height: 160px;
  overflow: visible;
  min-width: 1224px;
  position: relative;
  top: 0px;
}

/* style for single client panel */
body.curam.soria div.container-panel-applicationcase div.case-participant-panel {
  top: 10px !important;
  background: transparent;
  padding: 0;
  bottom: auto !important;
  height: auto !important;
  overflow: visible;
  font-family: tahoma;
}

body.curam.soria div#content div.context-panel-wrapper div.container-panel-applicationcase div.case-participant-panel {
	width: auto;
	left: 0px;
}

body.curam.soria .container-panel-applicationcase .image-panel-content {
	width: 160px;
	height: 160px;
	background-color: transparent;
}

body.curam.soria .container-panel-applicationcase .image-panel-content .name-background {
	margin-left: 0px;
	width: 160px;
	position: absolute;
	bottom: 15px;
}

body.curam.soria .container-panel-applicationcase .image-panel-content .name-one-title {
	background-color: transparent;
	width: 100%;
	height: 20px;
}

body.curam.soria .container-panel-applicationcase .image-panel-content .name-one-title a {
	font-family: $infrastructure_main-medium_font-family;
	font-size: 14px;
	line-height: 20px;
	height: 20px;
	text-decoration: none;
	letter-spacing: -0.15px;
	color: #1f57a4;
}

body.curam.soria .container-panel-applicationcase .image-panel-content .name-one-title a:hover,
body.curam.soria .container-panel-applicationcase .image-panel-content .name-one-title a:focus {
	color: #25467a;
}

body.curam.soria .container-panel-applicationcase .image-panel-content .left-corner-image {
	z-index: 100;
}

body.curam.soria .container-panel-applicationcase .image-panel-content .right-corner-image {
	top: 0px;
	left: 100px;
	z-index: 100;
	background: url("../../Images/ccv__filled--20-enabled.svg") center center no-repeat;
}

body.curam.soria .container-panel-applicationcase .image-panel-content .right-corner-image:hover,
body.curam.soria .container-panel-applicationcase .image-panel-content .right-corner-image:focus {
	background-image: url("../../Images/ccv__filled--20-enabled.svg");
}

body.curam.soria .container-panel-applicationcase .image-panel-content .right-corner-image a {
	display: block;
	width: 40px;
	height: 40px;
}

body.curam.soria .container-panel-applicationcase .image-panel-content .right-corner-image a img {
	display: none;
}

body.curam.soria .container-panel-applicationcase .image-panel-content .image-links {
	top: 10px;
	left: 143px;
}

body.curam.soria .container-panel-applicationcase .image-panel-content .participant-image {
	padding: 0px;
	width: 120px;
	height: 120px;
	position: absolute;
	left: 20px;
}

body.curam.soria .container-panel-applicationcase .image-panel-content .participant-image img {
	border-radius: 50%;
}

body.curam.soria .container-panel-applicationcase .image-panel-content .participant-details {
	margin-left: 0px;
	position: absolute;
	bottom: 0px;
	width: 160px;
	text-align: center;
}

body.curam.soria .container-panel-applicationcase .image-panel-content .participant-details .image-first-line,
body.curam.soria .container-panel-applicationcase .image-panel-content .participant-details .image-second-line {
	clear: none;
	width: auto;
	float: none;
	display: inline-block;
	padding: 0px;
	font-family: $infrastructure_main-bold_font-family;
	font-size: 11px;
	color: #464646;
}

body.curam.soria .applicationcase-tab-details {
  height: 160px;
  padding-left: 0px;
  border-left: none;
  border-right: none;
  float: left;
  width: 100%;
  overflow: hidden;
}

body.curam.soria .applicationcase-details .applicationcase-details {
	padding: 5px 0px 20px;
}

body.curam.soria .applicationcase-details .name {
  font-size: 21px;
  font-family: $infrastructure_main-medium_font-family;
  line-height: 30px;
  color: #294c62;
  letter-spacing: -0.22px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0px;
}

body.curam.soria #stackCon-fourimages-applicationcase + .applicationcase-content-panel .applicationcase-details .name,
body.curam.soria #stackCon-threeimages-applicationcase + .applicationcase-content-panel .applicationcase-details .name {
  font-size: 16px;
  line-height: 23px;
}

body.curam.soria .applicationcase-details .reference {
  font-size: 14px;
  font-family: $infrastructure_main-medium_font-family;
  line-height: 13px;
  padding: 0 20px 0 5px;
  position: absolute;
  right: 0px;
  top: 5px;
  color: #264a60;
}

body.curam.soria .applicationcase-details table.list-body th {
	font-family: $infrastructure_main-medium_font-family;
	color: #464646;
	font-size: 14px;
	line-height: 20px;
	
}

body.curam.soria .applicationcase-details table.list-body td {
	font-family: $infrastructure_main-regular_font-family;
	color: #464646;
	font-size: 14px;
	line-height: 20px;
	padding-left: 20px !important;
}

.applicationcase-details .tab-link {
  font-size: 120%;
  width:100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.applicationcase-details .main-details {
  padding-top: 5px;
}

body.curam.soria div.application-case-programs {
	padding-right: 20px;
}

body.curam.soria div.application-case-programs {
	font-family: $infrastructure_main-medium_font-family;
	font-size: 14px;
	color: #464646;
	line-height: 20px;
	display: inline-block;
}

body.curam.soria div.application-case-programs-list  {
	font-family: $infrastructure_main-regular_font-family;
	font-size: 14px;
	color: #464646;
	line-height: 20px;
	display: inline-block;
}


/* style for single client panel */
div.container-panel-outcomeplan div.case-participant-panel {
  top: 6px !important;
}


/* styles for multiple clients on outcome plan */
body.curam.soria #stackCon-threeimages-applicationcase {
  position: absolute;
  left: 0px;
  top: 10px;
  display: block;
  height: 170px;
  width: 590px;
  overflow: hidden;
}

body.curam.soria #stackCon-threeimages-applicationcase .dijitContainer {
  overflow: visible;
  position: absolute;
  top: 0px;
}

#controller_stackCon-threeimages-applicationcase {
  display: block;
  width: 1px;
}

body.curam.soria #stackCon-threeimages-applicationcase .stackControl {
  position: absolute;
  top: 5px;
  left: 0px;
  z-index: 100;
}

body.curam.soria #stackCon-threeimages-applicationcase #container_stackCon-threeimages-applicationcase div.stack-container-photo {
  overflow: visible;
  height: 160px;
  width: 440px;
  padding: 0px;
}

body.curam.soria #stackCon-threeimages-applicationcase #container_stackCon-threeimages-applicationcase div.stack-container-list {
  height: 160px;
  overflow: visible;
}

body.curam.soria #stackCon-threeimages-applicationcase .dijitToggleButton {
	border: 0px;
	margin: 0px;
}

body.curam.soria #stackCon-threeimages-applicationcase .dijitButtonNode {
	background: transparent;
	border: 0px;
	padding: 0px;
}

body.curam.soria #stackCon-threeimages-applicationcase #controller_stackCon-threeimages-applicationcase_title_1, 
body.curam.soria #stackCon-threeimages-applicationcase #controller_stackCon-threeimages-applicationcase_title_2 {
	background-position: center center;
	background-repeat: no-repeat;
	background-color: transparent;
	height: 30px;
	width: 40px;
}

#controller_stackCon-threeimages-applicationcase span #controller_stackCon-threeimages-applicationcase_title_1:hover,
#controller_stackCon-threeimages-applicationcase span #controller_stackCon-threeimages-applicationcase_title_1:focus {
	background-image: url('../../Images/avatar--20-enabled.svg');
}

#controller_stackCon-threeimages-applicationcase span.dijitChecked #controller_stackCon-threeimages-applicationcase_title_1 {
  background-image: url('../../Images/toggle_photo_inactive.png');
  font-size: 0px;
  border: 0px;
  border-style: none;
}

#controller_stackCon-threeimages-applicationcase span #controller_stackCon-threeimages-applicationcase_title_1 {
  background-image: url('../../Images/avatar--20-enabled.svg');
  font-size: 0px;
  border: 0px;
  border-style: none;
}

#controller_stackCon-threeimages-applicationcase span #controller_stackCon-threeimages-applicationcase_title_2:hover,
#controller_stackCon-threeimages-applicationcase span #controller_stackCon-threeimages-applicationcase_title_2:focus {
	background-image: url('../../Images/list--20-enabled.svg');
}

#controller_stackCon-threeimages-applicationcase span.dijitChecked #controller_stackCon-threeimages-applicationcase_title_2{
  background-image: url('../../Images/toggle_list_inactive.png');
  background-repeat: no-repeat;
  background-color: white;
  font-size: 0px;
  border: 0px;
  height: 21px;
  width: 21px;
  border-style: none;
}

#controller_stackCon-threeimages-applicationcase span #controller_stackCon-threeimages-applicationcase_title_2{
  background-image: url('../../Images/list--20-enabled.svg');
  background-repeat: no-repeat;
  background-color: white;
  font-size: 0px;
  border: 0px;
  height: 21px;
  width: 21px;
  border-style: none;
}

span#curam_controller_stackCon-threeimages-applicationcase {
	display: block;
	margin-left: 1px;
    width: 50%;
}

#curam_controller_stackCon-threeimages-applicationcase #curam_controller_stackCon-threeimages-applicationcase_title_1 img {
  padding-top: 3px;
  padding-left: 9px;
  padding-right: 9px;
  padding-bottom: 7px;
}

#curam_controller_stackCon-threeimages-applicationcase #curam_controller_stackCon-threeimages-applicationcase_title_2 img {
  padding-top: 3px; 
  padding-left: 9px;
  padding-right: 9px;
  padding-bottom: 5px;
}

@media (forced-colors: active) and (prefers-color-scheme: dark) {
  #curam_controller_stackCon-threeimages-applicationcase #curam_controller_stackCon-threeimages-applicationcase_title_1 img,
  #curam_controller_stackCon-threeimages-applicationcase #curam_controller_stackCon-threeimages-applicationcase_title_2 img {
    filter: invert(1);
  }
}

#curam_controller_stackCon-threeimages-applicationcase #curam_controller_stackCon-threeimages-applicationcase_title_1 img.hoverIcon,
#curam_controller_stackCon-threeimages-applicationcase #curam_controller_stackCon-threeimages-applicationcase_title_2 img.hoverIcon {
  display: none;
}

#curam_controller_stackCon-threeimages-applicationcase #curam_controller_stackCon-threeimages-applicationcase_title_1:hover img.defaultIcon,
#curam_controller_stackCon-threeimages-applicationcase #curam_controller_stackCon-threeimages-applicationcase_title_1:focus img.defaultIcon,
#curam_controller_stackCon-threeimages-applicationcase #curam_controller_stackCon-threeimages-applicationcase_title_2:hover img.defaultIcon,
#curam_controller_stackCon-threeimages-applicationcase #curam_controller_stackCon-threeimages-applicationcase_title_2:focus img.defaultIcon {
  display: none;
}

#curam_controller_stackCon-threeimages-applicationcase #curam_controller_stackCon-threeimages-applicationcase_title_1:hover img.hoverIcon,
#curam_controller_stackCon-threeimages-applicationcase #curam_controller_stackCon-threeimages-applicationcase_title_1:focus img.hoverIcon,
#curam_controller_stackCon-threeimages-applicationcase #curam_controller_stackCon-threeimages-applicationcase_title_2:hover img.hoverIcon,
#curam_controller_stackCon-threeimages-applicationcase #curam_controller_stackCon-threeimages-applicationcase_title_2:focus img.hoverIcon {
  display: block;
}

body.curam.soria #container_stackCon-threeimages-applicationcase .stack-container-photo .rotator-default {
  height: 160px !important;
  width: 585px;
}

body.curam.soria #container_stackCon-threeimages-applicationcase .stack-container-photo .rotator-default .prev-button-div,
body.curam.soria #container_stackCon-threeimages-applicationcase .stack-container-photo .rotator-default .next-button-div  {
  margin-top: 65px;
}

body.curam.soria #container_stackCon-threeimages-applicationcase .stack-container-photo .rotator-default .next-button-div {
	position: relative;
	right: 10px;
}

body.curam.soria #container_stackCon-threeimages-applicationcase .stack-container-photo .rotator-default .rotator-prev-button,
body.curam.soria #container_stackCon-threeimages-applicationcase .stack-container-photo .rotator-default .rotator-next-button {
	background-position: center center;
	background-repeat: no-repeat;
	width: 40px;
	height: 30px;
	margin: 0px;
	padding: 2px 6px 3px;
}

body.curam.soria #container_stackCon-threeimages-applicationcase .stack-container-photo .rotator-default .rotator-prev-button:hover,
body.curam.soria #container_stackCon-threeimages-applicationcase .stack-container-photo .rotator-default .rotator-prev-button:focus {
	background-image: url("../../Images/caret__outline--left20-enabled.svg");
}

body.curam.soria #container_stackCon-threeimages-applicationcase .stack-container-photo .rotator-default .rotator-next-button:hover,
body.curam.soria #container_stackCon-threeimages-applicationcase .stack-container-photo .rotator-default .rotator-next-button:focus {
	background-image: url("../../Images/arrow_scroll_right_hover.png");
}

body.curam.soria #container_stackCon-threeimages-applicationcase .stack-container-photo .rotator-default .rotator-prev-button img,
body.curam.soria #container_stackCon-threeimages-applicationcase .stack-container-photo .rotator-default .rotator-next-button img {
  background: none;
  display: block;
  margin: 4px;
}

body.curam.soria #container_stackCon-threeimages-applicationcase .stack-container-photo .rotator-default .rotator-prev-button img.hoverIcon,
body.curam.soria #container_stackCon-threeimages-applicationcase .stack-container-photo .rotator-default .rotator-next-button img.hoverIcon {
  display: none;	
}

body.curam.soria #container_stackCon-threeimages-applicationcase .stack-container-photo .rotator-default .rotator-prev-button:hover img.defaultIcon,
body.curam.soria #container_stackCon-threeimages-applicationcase .stack-container-photo .rotator-default .rotator-prev-button:focus img.defaultIcon,
body.curam.soria #container_stackCon-threeimages-applicationcase .stack-container-photo .rotator-default .rotator-next-button:hover img.defaultIcon,
body.curam.soria #container_stackCon-threeimages-applicationcase .stack-container-photo .rotator-default .rotator-next-button:focus img.defaultIcon {
  display: none;
}

body.curam.soria #container_stackCon-threeimages-applicationcase .stack-container-photo .rotator-default .rotator-prev-button:hover img.hoverIcon,
body.curam.soria #container_stackCon-threeimages-applicationcase .stack-container-photo .rotator-default .rotator-prev-button:focus img.hoverIcon,
body.curam.soria #container_stackCon-threeimages-applicationcase .stack-container-photo .rotator-default .rotator-next-button:hover img.hoverIcon,
body.curam.soria #container_stackCon-threeimages-applicationcase .stack-container-photo .rotator-default .rotator-next-button:focus img.hoverIcon {
  display: block;
  position: relative;	
}

#container_stackCon-threeimages-applicationcase .stack-container-photo .rotator-default .rotator {
  width: 86%;
  overflow: hidden;
  float: left;
}

#container_stackCon-threeimages-applicationcase .stack-container-photo .rotator-default .rotator-buttons-disabled {
  width: 94%;
  overflow: hidden;
  float: left;
}

body.curam.soria #container_stackCon-threeimages-applicationcase .stack-container-photo .rotator-default .rotator-buttons-disabled .pane {
	left: 40px !important;
}

body.curam.soria #container_stackCon-threeimages-applicationcase .stack-container-photo .rotator-default .rotator div.pane div.pane-item {
	margin-left: 10px;
	width: 160px;
	height: 160px;
	float: left;
	position: relative;
	padding-left: 0px;
}

body.curam.soria #container_stackCon-threeimages-applicationcase .stack-container-photo .rotator-default .rotator div.pane div.pane-item:first-of-type {
	margin-left: 0px;
}

body.curam.soria #container_stackCon-threeimages-applicationcase .stack-container-list .tab-case-list {
  left: 60px;
  position: absolute;
  width: 475px;
}

body.curam.soria #container_stackCon-threeimages-applicationcase .stack-container-list .tab-case-list .list-body {
	width: 475px;
}

body.curam.soria #container_stackCon-threeimages-applicationcase .stack-container-list .tab-case-list div:not(.table-list) .list-body {
	width: 455px;
}

body.curam.soria #container_stackCon-threeimages-applicationcase .stack-container-list .tab-case-list div table thead {
	height: 26px;
}

body.curam.soria #container_stackCon-threeimages-applicationcase .stack-container-list .tab-case-list div table thead tr {
	background: inherit;
	height: 25px;
	border-bottom: 1px solid #e0e0e0;
}

body.curam.soria #container_stackCon-threeimages-applicationcase .stack-container-list .tab-case-list table.list-body th.table-header {
	font-family: $infrastructure_main-medium_font-family;
	font-size: 14px;
	color: $infrastructure_context_panel_lists_header_font-color;
	height: 20px;
	line-height: 20px;
	padding: 0px;
	border: 0px;
}

body.curam.soria #container_stackCon-threeimages-applicationcase .stack-container-list .tab-case-list div:not(.table-list) th.header-last-cell {
	display: none;
}

body.curam.soria #container_stackCon-threeimages-applicationcase .stack-container-list .tab-case-list div.table-list {
	max-height: 130px;
	height: 130px;
	overflow-y: auto;
}

body.curam.soria #container_stackCon-threeimages-applicationcase .stack-container-list .tab-case-list div.table-list tr {
	height: 31px;
}

body.curam.soria #container_stackCon-threeimages-applicationcase .stack-container-list .tab-case-list div.table-list tr td {
	background-color: inherit !important;
	height: 30px;
	border-bottom: 1px solid #e0e0e0;
	padding: 0px !important;
	font-family: $infrastructure_main-regular_font-family;
	font-size: 14px;
	color: #464646;
	line-height: 20px;
}

body.curam.soria #container_stackCon-threeimages-applicationcase .stack-container-list .tab-case-list div.table-list tr td a.ac {
	text-decoration: none;
	font-family: $infrastructure_main-medium_font-family;
	color: #1f57a4;
}

body.curam.soria #container_stackCon-threeimages-applicationcase .stack-container-list .tab-case-list div.table-list tr td a.ac:hover,
body.curam.soria #container_stackCon-threeimages-applicationcase .stack-container-list .tab-case-list div.table-list tr td a.ac:focus {
	color: #25467a;
}

body.curam.soria #container_stackCon-threeimages-applicationcase .stack-container-list .tab-case-list div.table-list tr td.body-first-cell a.ac {
	display: block;
	width: 30px;
	height: 30px;
	background: url("../../Images/ccv__filled--20-enabled.svg") 5px center no-repeat;
}

body.curam.soria #container_stackCon-threeimages-applicationcase .stack-container-list .tab-case-list div.table-list tr td.body-first-cell a.ac:hover,
body.curam.soria #container_stackCon-threeimages-applicationcase .stack-container-list .tab-case-list div.table-list tr td.body-first-cell a.ac:focus {
	background-image: url("../../Images/ccv__filled--20-enabled.svg");
}

body.curam.soria #container_stackCon-threeimages-applicationcase .stack-container-list .tab-case-list div.table-list tr td.body-first-cell a.ac img {
	display: none;
}

#container_stackCon-threeimages-applicationcase .stack-container-list .tab-case-list .person-name-icons .person-name {
  float: left;
  padding-right: 5px;
  padding-top: 3px;
}
#container_stackCon-threeimages-applicationcase .stack-container-list .tab-case-list .person-name-icons .list-icon {
  float: left;
  padding-right: 3px;
  padding-top: 2px !important;
}

/* Small content panel used with multiple clients */
body.curam.soria .applicationcase-content-panel {
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 280px;
  min-width: 360px;
  width: calc(100% - 955px);
}

/* Medium content panel used with single client */
body.curam.soria .applicationcase-content-panel-medium {
  background-color: transparent;
  position: absolute;
  left: 192px;
  top: 10px;
  width: calc(100% - 473px);
}

div.applicationcasee-content-panel-blue-footer div.wrapper div.bottom div.left {
  background:url("../../Images/details-cluster-corners-blue.png") no-repeat scroll left bottom transparent;
}

div.applicationcase-content-panel-blue-footer div.wrapper div.bottom div.center div.right {
  background:url("../../Images/details-cluster-corners-blue.png") no-repeat scroll right bottom transparent;
}

div.applicationcase-content-panel-blue-footer div.wrapper div.bottom div.center {
  background-color:  #E6EBF1;
}


/* Right hand side content panel for Application Case Home Context Panel */
body.curam.soria .applicationcase-right-panel {
	top: 10px;
	position: absolute;
	right: 0px;
	width: 280px;
	border-left: 2px solid #e0e0e0;
	padding-top: 0px !important;
	background-color: transparent;
	height: 160px !important;
}


/* Content panel for Application Case Status outer panel */

body.curam.soria div.application-case-outer-status {
  width: 100%;
  background-color: transparent;
  height: 23px;
}

/* Content panel for Application Case Status*/
body.curam.soria div.application-case-status {
	font-family: $infrastructure_main-medium_font-family;
	font-size: 16px;
	line-height: 23px;
	height: 23px;
	color: #294c62;
	padding: 0px;
}


body.curam.soria .application-right-panel-table-links {
  float: left;
  width: 100%;
}

body.curam.soria .application-right-panel-table-links div.case-owner-panel {
  width: 100%;
  background-color: transparent;
  position: absolute;
  bottom: 0px;
  height: 20px;
  padding-top: 0px;
}

body.curam.soria .application-right-panel-table-links div.case-owner-panel div.link {
	
}

body.curam.soria .application-right-panel-table-links div.case-owner-panel div.link a {
	background: url("../../Images/icon_case_owner.png") left center no-repeat;
	padding-left: 30px;
	height: 20px;
}

body.curam.soria .application-right-panel-table-links div.case-owner-panel div.link a:hover,
body.curam.soria .application-right-panel-table-links div.case-owner-panel div.link a:focus {
	background-image: url("../../Images/icon_case_owner_hover.png");
}

body.curam.soria .application-right-panel-table-links div.case-owner-icon img {
  display: none;
}

@media print {
  body.curam.soria.context-panel div#container_stackCon-threeimages-applicationcase .stack-container-photo .rotator-default .rotator {
    overflow: visible;
  }

  body.curam.soria.context-panel div#content div#stackCon-threeimages-applicationcase {
    overflow: visible;
  }

  body.curam.soria.context-panel div#container_stackCon-threeimages-applicationcase .stack-container-list .tab-case-list div.table-list {
    overflow-y: visible;
    overflow-x: visible;
  }
}

 /* End of styling for four image stack container  */
