/*______________________________________________________________________________
 * applicationcase_rtl.css
 * 
 * Create styles that are applied to the HTML for the investigation tab details.
 */

body.curam.soria.rtl .applicationcase-tab-details {
  float: right;
}

body.curam.soria.rtl .applicationcase-details .reference {
	padding: 0 5px 0 20px;
	right: auto;
	left: 0px;
}


/* styles for multiple clients on outcome plan */
body.curam.soria.rtl #stackCon-threeimages-applicationcase {
  right: 0px;
  left: auto;
}

body.curam.soria.rtl #stackCon-threeimages-applicationcase .stackControl {
	left: auto;
	right: 0px;
}

.rtl #container_stackCon-threeimages-applicationcase .stack-container-photo .rotator-default .rotator {
  float: right;
} 

.rtl #container_stackCon-threeimages-applicationcase .stack-container-photo .rotator-default .rotator-buttons-disabled {
  float: right;
} 
 
body.curam.soria.rtl #container_stackCon-threeimages-applicationcase .stack-container-photo .rotator-default .rotator-buttons-disabled .pane {
	left: auto !important;
	right: 40px !important;
}

body.curam.soria.rtl #container_stackCon-threeimages-applicationcase .stack-container-photo .rotator-default .rotator div.pane div.pane-item {
   float: right;
   padding: 0px;
   margin-right: 10px;
   margin-left: 0px;
}

body.curam.soria.rtl #container_stackCon-threeimages-applicationcase .stack-container-photo .rotator-default .rotator div.pane div.pane-item:first-of-type {
	margin-right: 0px;
	margin-left: 0px;
}

body.curam.soria.rtl .container-panel-applicationcase .image-panel-content .right-corner-image {
	left: auto;
	right: 100px;
}

body.curam.soria.rtl .container-panel-applicationcase .image-panel-content .left-corner-image {
	left: auto;
	right: 15px;
}

body.curam.soria.rtl .container-panel-applicationcase .image-panel-content .image-links {
	left: auto;
	right: 143px;
}

body.curam.soria.rtl #container_stackCon-threeimages-applicationcase .stack-container-photo .rotator-default .rotator-prev-button:hover,
body.curam.soria.rtl #container_stackCon-threeimages-applicationcase .stack-container-photo .rotator-default .rotator-prev-button:focus {
	background-image: url("../../Images/arrow_scroll_right_hover.png");
}

body.curam.soria.rtl #container_stackCon-threeimages-applicationcase .stack-container-photo .rotator-default .rotator-next-button:hover,
body.curam.soria.rtl #container_stackCon-threeimages-applicationcase .stack-container-photo .rotator-default .rotator-next-button:focus {
	background-image: url("../../Images/caret__outline--left20-enabled.svg");
}

body.curam.soria.rtl #container_stackCon-threeimages-applicationcase .stack-container-photo .rotator-default .next-button-div {
	right: auto;
	left: 10px;
	float: left;
}

body.curam.soria.rtl #container_stackCon-threeimages-applicationcase .stack-container-list .tab-case-list {
  left: auto;
  right: 60px;
}

.rtl #container_stackCon-threeimages-applicationcase .stack-container-list .tab-case-list .person-name-icons .person-name {
  float: right;
  padding-right: 0;
  padding-left: 5px;
}
.rtl #container_stackCon-threeimages-applicationcase .stack-container-list .tab-case-list .person-name-icons .list-icon {
  float: right;
  padding-right: 0;
  padding-left: 3px;
}

/* Small content panel used with multiple clients */
body.curam.soria.rtl .applicationcase-content-panel { 
  right: auto;
  left: 280px;
}

/* Medium content panel used with single client */
.rtl .applicationcase-content-panel-medium { 
  left: 207px;
  right: 130px;
}

.rtl div.applicationcasee-content-panel-blue-footer div.wrapper div.bottom div.left {
  background-position: right bottom;
}

.rtl div.applicationcase-content-panel-blue-footer div.wrapper div.bottom div.center div.right {
  background-position: left bottom;
}

/* Right hand side content panel for Application Case Home Context Panel */
body.curam.soria.rtl div#content .container-panel-applicationcase .content-panel-detail.applicationcase-right-panel {
  right: auto;
  left: 0px;
  border-right: 2px solid #e0e0e0;
  border-left: none;
}


/* Content panel for Application Case Status*/
.rtl div.application-case-status {
  padding-left: 0;
  padding-right: 10px;
}


body.curam.soria.rtl .application-right-panel-table-links {
  float: right;
}

body.curam.soria.rtl .application-right-panel-table-links div.case-owner-panel {
  left: auto;
  right: 20px;
}

body.curam.soria.rtl .application-right-panel-table-links div.case-owner-panel div.link a {
	padding-left: 0px;
}

body.curam.soria.rtl #stackCon-threeimages-applicationcase .stack-container-list .table-list table.list-body td.body-first-cell a.ac {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.rtl div.case-owner,
.rtl div.case-owner-icon {
  float: right;
}

/* End of styling for four image stack container  */

body.curam.soria.rtl div#content .content-panel-detail div.link a.ac {
    padding-right: 30px;
    background-position: right center;
}

body.curam.soria.rtl div#content .container-panel-applicationcase .content-panel-detail .applicationcase-details div.application-case-programs-list {
    float: right;
}

body.curam.soria.rtl div#content .container-panel-applicationcase .content-panel-detail .applicationcase-details div.application-case-programs {
    float: right;
    padding-right: 0px;
    padding-left: 20px;
}

body.curam.soria.rtl div#content .container-panel-applicationcase .content-panel-detail.applicationcase-content-panel-medium {
    right: 200px;
}