/*
*  Licensed Materials - Property of IBM
*  PID 5725-H26
*  Copyright IBM Corporation 2006,2019. All rights reserved.
*  US Government Users Restricted Rights - Use, duplication or disclosure
*  restricted by GSA ADP Schedule Contract with IBM Corp.
*/

@media print {
  body.rtl.curam-internal-app #page-content {
    margin-right: 0 !important;
  }
}

.rtl .t2 #main .b {
}

#ieg-main-content-pane-nested {
  overflow: hidden;
}

.rtl .t2 #main {
    float: left;
    *margin-left: -4px;
}

.rtl .t2 #main {
    margin-left: 0;
    padding-right: 0px;
    padding-left: 8px;
}

.rtl .t1 #main {
    *margin-left: -14.6em;
}

.rtl .t2 #main .b {
}

.rtl div.navigationPanel input[type=image] {
    margin-left: 0.5em;
    margin-right: 0;
}

.rtl div.navigationPanelQuit input[type=image] {
    margin-left: 0.5em;
    margin-right: 0;
}

input.submitLink-back, .back, div.back,
.rtl input.submitLink-next, .rtl .next, .rtl div.next {
    padding: 2px 16px 4px 18px;
    background-image: url("${resource-uri:navpanel.button.background.image}");
    background-position: center left;
    background-repeat: repeat-x;
    text-align:center;
}

input.submitLink-next, .next, div.next,
.rtl input.submitLink-back, .rtl .back, .rtl div.back {
    padding: 2px 16px 4px 18px;
    background-image: url("${resource-uri:navpanel.button.background.image}");
    background-position: center right;
    background-repeat: repeat-x;
    text-align:center;
}

.rtl body.modal .field-label-text {
    float: right;
}

body.rtl input[type="text"], body.rtl input[type="password"], body.rtl textarea {
    float: right;
}

body.rtl select {
    float: right;
}

.rtl .sections-div {
    float: right;
}

.rtl .t2 #hd .h-sections-div {
    *margin-left: 2%;
    *width: 96%;
}

.rtl #bd.horiz-layout {
    *width: 96%;
    *padding-right: 1%;
}

.rtl table#hSections tr td.hSelected {

        float: right;
}

.rtl .h-back-arrow-div {
        background-image: url("${resource-uri:sectionspanel.horizontal.next.arrow.image}");

}

.rtl .h-next-arrow-div {
        background-image: url("${resource-uri:sectionspanel.horizontal.back.arrow.image}");
}

.rtl .sectionTabTextSpan {

        float: right;

}

.rtl .sectionTabTextSpanDisabled {

        float: right;

}

.rtl .sectionBarTextSpan {
        padding-left:5px;
        padding-right: 2px;
}

.rtl div.cluster h3 {
    text-align: right;
}

.rtl td.horizontal-align-center-firstCol {
    *padding-left: 0px;
}

.rtl td.horizontal-align-end {
    text-align: left;
}

.rtl td.horizontal-align-center {
    *padding-right: 0px;
}

.rtl .field-label-text {
    /* Required to workaround firefox bug in positioning background
      image in rtl layout */
    display:-moz-inline-box;
}

.rtl .mandatory {
    padding-left: 0px;
    padding-right: 3px;
}

.rtl .mandatoryLQ {
    padding-left: 0px;
    padding-right: 3px;
}

.rtl .mandatoryFloat {
    float: right;
}

.rtl .codetableRadioDiv {
   float: right;
}

.rtl .removePaddingTextarea {
  padding-left: 3px;
  padding-right: 5px;
}

.rtl .addCell {
    text-align: left;
}

.rtl div.list .addToListImage {
  padding:0pt 0px 0pt 5pt;
}

.rtl div.list table.listBody td.last {
    border-left: 0;
}

.rtl .multiSelectColDiv {

  float: right;

}

.rtl .multiSelectAnswerColDiv {

  float: right;

}

.rtl .listBoxTextSpanRightAlign {
  float: right;
}

.rtl .listBoxTextSpanRightAlignRadio {
  float: right;
}

.rtl .container span {
  *margin-left: 0;
  *margin-right: 1em;
}

.rtl .helpLinkSpan {
    float: right;
}

.rtl .openHelpLink, .rtl .openHelpLinkSelected {
    text-align:left;
    background-position: center left;
}

.rtl .closeHelpLinkDialog {
    float: left; /* RTL specific rule for fixing a bug in IE */
    padding-left: 0px;
}

.rtl .helpCell {
    text-align: left;
}

.rtl .helpWrapperDiv {
    float: right;
}

.rtl .ctListQuestionDiv {
    text-align:right;
}

.rtl .ctListQuestionLabel {
    text-align:right;
}

.rtl .ctListQuestionLabelNormal {
    text-align:right;
    font-family: MainMediumFontforIBM;
    font-size: 14px;
    color: Black;
    font-weight: normal;
    line-height: 20px;
}

body.rtl.curam-internal-app .ctListQuestionLabelNormal .mandatory:after {
    float: none;
    padding-right: 0px;
}

.rtl .ctListQuestionDescription  {
    text-align:right;
    padding-left:0px;
    padding-right:1px;
}

.rtl .ctListQuestionItem {
    text-align:right;
}

.rtl .listQuestionDiv {
    float: right;
}

.rtl .listQuestionTable {
  float: right;
}

.rtl .listQuestionTable .checkBoxCell {
    text-align: left;
}

.rtl .listQuestionTable .labelCell {
    text-align: right;
}

.rtl .listQuestionLabel {
    text-align: right;
}

.rtl .listQuestionLabelWithHelp {
    float: right;
}

.rtl .inner-section-div {
    background-position: 185px 3px;
    border: 1px solid transparent;
    height: 31px;
    padding-left: 0px !important;
    padding-right: 40px;
}

.rtl .hidden {
  left: auto;
  right: -100000px;
}

/* Make skip links invisible */
.rtl .skipLink {
  left: auto;
  right: -999px;
}

.rtl #bd {
    padding-right: 0px;
    padding-left: 15px;
    margin-left: 0;
    margin-right: 1%;
}

.rtl .t2 #main .b {
  padding-left: 0px;
  padding-right: 1px;
}

.rtl #main {
    float: right;
}

.rtl #mainWrapper {
  float:right;
}

.rtl .no-sections {
  float: left;
}

.rtl .t2 {
    text-align: right;
}

.rtl .t2 .b {
    float: right;
}

/****************************
 * Progress Bar Styles       *
 ****************************/
.rtl .progressTable td {
    padding: 3px;
}

.rtl .progressText {
    padding-left: 5px;
    padding-right: 10px;
    text-align: right;
}

/***************************
 * Notes panel Styles      *
 ***************************/
/* The notes table cell */
.rtl .notesCell {
      padding-left:0px;
      padding-right:10px;
}

/* The notes link */
.rtl .notesLink {
    float: right;
}

/* The notes text and arrow */
.rtl .notes {
    margin-left: 4px;
    margin-right: 2px;
    padding: 1px 0px 1px 15px;
}

.rtl #notesIconCol {
    padding:2px 0px 2px 10px;
}

.rtl #notesTextCol {
    padding:0 10px 0 0;
}

.rtl #notesDiv textarea {
    margin-left:0px;
    margin-right:2px;
}

/***************************
 * Navigation panel Styles *
 ***************************/
.rtl div.navigationPanel {
    text-align: left;
    float: left;
    right:auto;
    left:0px;
}

.rtl div.navigationPanelQuit {
    text-align: right;
    float: right;
}

.rtl .buttonLink, .rtl .submitLinkWrapper {
    margin-right: 0px;
    margin-left: 5px;
}

body.rtl.curam-internal-app div.navigationPanel {
    float: left;
}

body.rtl.curam-internal-app div.navigationPanelQuit {
    float: right;
}

/****************
 * Modal Styles *
 ****************/

body.rtl.modal div.action-set {
float:left;
padding-left:15px;
padding-right:15px;
}

body.rtl.modal div.quit {
float: right;
}

body.rtl.modal .hidden-button {
left:auto;
right:-9999px;
}

body.rtl.modal .action-set .replace {
margin:-1px -3px -1px 9px;
}

body.rtl.modal .action-set .submit {
margin-right:0em;
margin-left:1em;
}

body.rtl.modal span.filler {
margin-left:0px;
margin-right:10px;
}

body.rtl.modal .page-title-bar .title {
padding:4px 15px 0px 0px;
margin-right:0px;
margin-left:15px;
float:right;
}

body.rtl.modal .mandatory-icon-help {
float: left;
padding-right:0px;
padding-left:10px;
}

body.rtl.modal h2.collapse {
    padding:0 0 3px 14px;
}

body.rtl.modal .mandatory {
    padding-left: 0px;
    padding-right: 3px;
}

/*************************
 * Sections Panel Styles *
 *************************/
.rtl .section-div {
    padding-left: 0px;
    padding-right: 40px;
}

/************************************
 * Horizontal Sections Panel Styles *
 ************************************/
.rtl .t2 #bd .h-sections-div {
    padding: 1px 0 0 1px;
    border-width: 1px 0 0 1px;
}

.rtl .t2 #hd .h-sections-div {
    margin-left: 0%;
    margin-right: 1%;
}

/**********************
 * Person Tabs Styles *
 **********************/
.personTabsDiv {
    text-align: right;
}

.personTabsTable {
    float: right;
}

.personTabsDiv .cluster {
    float: right;
}

/******************
 * Cluster Styles *
 ******************/

.rtl table.horizontal-align-start {
    margin-right: 0px;
    margin-left: auto;
}

.rtl table.horizontal-align-end {
    margin-left: 0px;
    margin-right: auto;
}


.rtl td.horizontal-align-start {
    text-align: right;
    padding-right: 0px;
    padding-left: 15px;
}

.rtl td.horizontal-align-start-firstCol {
    text-align: right;
    padding-left: 5px;
    padding-right: 10px;
}

.rtl td.horizontal-align-center-firstCol {
    padding-left: 0px;
    padding-right: 10px;
}

.rtl td.horizontal-align-end-firstCol {
    text-align: left;
    padding-left: 0px;
    padding-right: 10px;
}

/***************************
 * Field-level help Styles *
 ***************************/

.rtl td.field-level-help-cell {
  padding: 0;
}

.rtl td.field-level-help-cell-textarea {
  padding-right: 0;
  padding-left: 3px;
}

.rtl td.field-level-help-last-cell {
  padding-left: 5px;
  padding-right: 3px;
}

.rtl td.field-level-help-cell-dropdown {
  padding: 0;
}

.rtl td.field-level-help-last-cell-dropdown {
  padding-left: 5px;
  padding-right: 3px;
}

.rtl td.field-level-help-date-icon-cell {
  padding-left: 0;
  padding-right: 10px;
}

.rtl .openHelpLink img {
    padding-right: 10px;
    padding-left: 0;
}

/***************
 * List Styles *
 ***************/
/* This style is used on the h2 element for the list title when a list
has been configured to be styled as a cluster */
.rtl .listHeaderAsCluster {
    text-align: right;
}

/* This style is used on the h2 element for the list title when a list
has been configured to be styled as a cluster and it contains an add
link. */
.rtl .listHeaderAsClusterWithAddLink {
    text-align: right;
}

/* This style is used for the select drop down when a list is being styled
as a cluster. */
body.rtl.curam-internal-app .listSelect {
    margin-right: 0px;
    margin-left: 4px;
    float: none;
}

body.rtl.curam-internal-app select.listSelect:hover,
body.rtl.curam-internal-app select.listSelect:focus {
    background-position: left 5px bottom 4px;
}

div.list div.description .actionSet select {
    margin-right: 0px;
    margin-left: 4px;
}

.rtl div.list table.listBody th {
  border-right: none;
  border-left: 1px solid #FFFFFF;
}

.rtl .listAlign {
  padding:5px 12px 5px 5px;
}

.rtl .leftAlignList {
  padding:5px 12px 5px 5px;
  text-align:right;
}

.rtl .listAlignFooter {
  padding:10px 12px 10px 5px;
}

.rtl .leftAlignListFooter {
  padding:10px 12px 10px 5px;
  text-align:right;
}

.rtl .rightAlignListFooter {
  padding:10px 12px 10px 5px;
  text-align:left;
}

.rtl .rightAlignList {
  padding:10px 12px 10px 5px;
  text-align:left;
}

.rtl .rowHelpAlign {
  padding:2px 0px 2px 12px;
  text-align:left;
}

body.rtl.curam-internal-app .listAddLink {
  background-position: center left;
    padding: 6px 10px 6px 28px;
    display: inline-block; /* Fix for IE */
}

.rtl .clusterEditLinkWithImage,
.rtl .clusterEditLinkWithImage:visited,
.rtl .clusterEditLinkWithImage:active {
    padding-right: 0px;
    padding-left: 18px;
}

.rtl .addToListLink a,
.rtl .addToListLink a:visited,
.rtl .addToListLink a:active {
  padding-right: 0px;
  padding-left: 18px;
}

/***********************
 * Multi-select Styles *
 ***********************/
.rtl .indentedRadioContentDiv {
  margin-left: 0%;
  margin-right: -2.5%;
}

.rtl .checkboxLeftAlign {
  margin-right: 0px;
  margin-left: 0px;
  float: right;
}

.rtl .checkboxRightAlign {
  margin-left: 0px;
  margin-right: 3px;
  float: left;
}

.rtl .multiSelectLabelDiv {
  padding-right: 0px;
  padding-left: 3px;
  float: right;
}

.rtl .listBoxTextSpanLeftAlignRadio {
  margin-right: 3px;
  font-size: 14px;
  font-family: MainRegularFontforIBM;
  color: Black;
}

.rtl .indentedRadioReadOnlyLabel {
  width: 42.5%;
}

.rtl .indentedRadioReadOnlyValue {
  float: left;
  font-family: MainRegularFontforIBM;
  font-size: 14px;
  color: Black;
}

/********************
 * Container Styles *
 ********************/

/******************************
 * List Styles With No Stripe *
 ******************************/
.rtl div.list-no-stripe div.list table.listBody td,
.rtl div.list-no-stripe div.list table.listBody th      {
    text-align: right;
    border-right: none;
    border-left: none;
}

.rtl div.list-no-stripe div.list col {
    border-right: 0px transparent;
    border-left: 0px transparent;
}

.rtl div.list col.last {
    border-right: 0;
    border-left: 0;
}

.rtl span.new-link {
  padding-left: 0px;
  padding-right: 10px;
}

/***************
 * Help Styles *
 ***************/
.rtl .helpDivDialog {
    padding-left: 0px;
    padding-right: 10px;
}

.rtl .hiddenHelpDialog {
  left: auto;
  right: -10000px;
  text-align: right !important;
}

.rtl .helpDiv p {
    padding-left: 0px;
    padding-right: 10px;
}

.rtl .openHelpLinkDefault, .rtl .openHelpLinkSelectedDefault {
    padding-right: 0px;
    padding-left: 20px;
    background-position: center left;
}

.rtl .closeHelpLinkDefault {
    float: left;
    padding-right: 0%;
    padding-left: 1.25%;
}

body.curam-internal-app.rtl .closeLinkDivDialog {
    right: auto;
    left: -5px;
}

body.curam-internal-app.rtl .closeLinkDiv {
  right: auto;
  left: 10px;
}

/**********************************
 * Codetable Hierarchy Styles *
 **********************************/
.rtl .codetable-hierarchy-container th {
    text-align:right;
}

.rtl .codetable-hierarchy-container td {
    padding-left:1px;
    padding-right: 0px;
}
.rtl .codetable-hierarchy-container-read-only th{
    text-align: right;
    padding-right: 0px;
}

body.curam-internal-app .codetable-hierarchy-container-read-only th:first-child,
body.curam-internal-app .codetable-hierarchy-container-read-only td:first-child{
    padding-left: 20px;
}

.rtl .addPaddingRight{
    padding-right:0px !important;
    padding-left:5px !important;
}

.rtl .addPaddingLeft{
    padding-left:0px !important;
    padding-right:5px !important;
}

/*************************
 * List Question Styles *
 *************************/
body.rtl.curam-internal-app table.listQuestionTable input.ieg-checkbox[type=checkbox]+label,
body.rtl.curam-internal-app  table.listQuestionTable input.ieg-checkbox[type=checkbox][disabled]+label {
  float: none;
}

body.rtl.curam-internal-app div.listQuestionCheckBox {
    text-align: center;
    margin-bottom: 0px;
    width: 70px;
    margin: 0px auto;
    padding-top: 2px;
    padding-right: 7px;
}

/*************************
 * Date Selector Styles  *
 *************************/

.rtl .date-icon-cell {
    padding-left: 0px;
    padding-right: 5px;
}

.rtl .dateSelector {
    padding-left: 1px;
    padding-right: 10px;
    float: right;
}

.rtl .dateSelectorWithHelp {
    padding-left: 1px;
    padding-right: 0px;
    float: right;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.rtl td.field-cell-dropdown {
  padding-left: 7px;
  padding-right: 0px;
}

.rtl .last-cell .alt-date-component {
  padding-left: 9px;
  padding-right: 0px;
}

.rtl .alt-date-component input {
 padding-left: 0px;
 padding-right: 5px;
}

/**********************************
 * Localized Confirm Window Style *
 **********************************/

.rtl .confirmHeadingDiv {
    padding-left: 0px;
    padding-right: 10px;
}

.rtl .confirmTitleDiv {
    float: right;
    text-align: right;
}

.rtl .confirmCloseLink {
    float: left;
}

.rtl .confirmCloseDiv {
    float: right;
}

body.rtl.curam-internal-app span.confirmButtonLeft {
  margin-left: 20px;
  margin-right: auto;
}
body.rtl.curam-internal-app span.confirmButtonLeft:last-child {
  margin-left: 0px;
  margin-right: auto;
}
/************************
 * No JavaScript styles *
 ************************/


/* ======== Curam 2016 Styling ======== */

body.rtl.curam-internal-app #page-content {
    float: left;
    margin-right: 270px;
    margin-left: 0;
    margin: 0 calc(${sectionspanel.width} + 10px) 0 10px;
}

body.rtl.curam-internal-app #page-content.no-sections {
    margin: 10px 10px 0 10px;
}

body.rtl.curam-internal-app #bd {
    margin: 0;
    padding: 0;
}

body.rtl.curam-internal-app .t2 {
  min-height: 100%;
    margin: auto;
    text-align: right;
}

/* Banner */
body.rtl.curam-internal-app .logoCell {
  text-align: right;
}

body.rtl.curam-internal-app .logoCell img {
    padding: 0;
    margin: 0 15px 0 10px;
}

body.rtl.curam-internal-app .logoCell .system-title {
    margin: 0 5px 0 0px;
}

body.rtl.curam-internal-app .menuItem {
    float: left;
    padding: 5px 0 0 0;
    margin: 0 0 0 10px;
}

body.rtl.curam-internal-app .menuItemLogout a:after {
    padding: 0px 10px 0 18px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
/* Progress Bar */
body.rtl.curam-internal-app .completedText {
  float: right;
    padding: 2px 10px 2px 0px;
}

body.rtl.curam-internal-app .progressTable td.progressText {
    text-align: right;
}

body.rtl.curam-internal-app .completedDiv {
  float: right;
}

body.rtl.curam-internal-app .sectionTextSpan {
    float: right;
    padding-right: 0;
    padding-left: 20px;
}


/* Section Panel */
body.rtl.curam-internal-app .sections-div {
  left: auto;
    right: 0;
}

body.rtl.curam-internal-app .section-text {
    margin-right: 65px;
    margin-left: 45px;
    text-align: right;
}

body.rtl.curam-internal-app .section-icon {
    right: 20px;
    left: auto;
}


body.rtl.curam-internal-app .section-icon:after {
    right: 210px;
    left: auto;
        -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

body.rtl.curam-internal-app tr.enabled .section-icon:after {
  background-image: url("../servlet/resource?r=Done_Blue60_20px.png");
}

body.rtl.curam-internal-app tr.selected .section-icon:after {
  background-image: url("../servlet/resource?r=InProgress_Green50_20px.png");
}

body.rtl.curam-internal-app tr.disabled .section-icon:after {
  background-image: url("../servlet/resource?r=Locked_Grey20_20px.png");
}

/* Page Title */
body.rtl.curam-internal-app #pageTitleDiv table.pageHeadingTable {
  text-align: right;
  width: 100%;
  height: 90px;
}

body.rtl.curam-internal-app #pageTitleDiv table.pageHeadingTable td:last-child {
  vertical-align: top;
    padding: 15px 10px 15px 20px;
}

body.rtl.curam-internal-app #pageTitleDiv .Links {
  position: static;
    float: left;
    text-align: left;
}

body.rtl.curam-internal-app #pageTitleDiv .Links a {
    border-left: none;
    border-right: none;
    text-align: left;
}

body.rtl.curam-internal-app #pageTitleDiv .Links a:last-child {
    border-right: none;
    text-align: left;
}

body.rtl.curam-internal-app #pageTitleDiv .Links a:first-child {
    padding-left: 0px;
    padding-right: 10px;
    border-right: none;
    border-left: none;
}

body.rtl.curam-internal-app #pageTitleDiv .pageHeading {
    text-align: right;
}

body.rtl.curam-internal-app #pageTitleDiv .pagedescription {
    text-align: right;
}

body.rtl.curam-internal-app .requiredFieldIndicator {
  display: inline-block;
  width: 100%;
  text-align: right;
}

/* Cluster */
body.rtl.curam-internal-app div.cluster h3 {
  text-align: right;
}

body.rtl.curam-internal-app div.cluster .helpCell {
    text-align: left;
}

body.rtl.curam-internal-app div.cluster .helpCell a {
    text-align: left;
}

body.rtl.curam-internal-app div.cluster .desc-header {
    text-align: right;
}

body.rtl.curam-internal-app td.horizontal-align-start,
body.rtl.curam-internal-app td.horizontal-align-start-firstCol {
  margin: 0;
  padding: 10px 0;
  text-align: right;
}

body.curam-internal-app td.horizontal-align-start-firstCol {
  padding-right: 10px;
  padding-left: 0;
}

body.rtl.curam-internal-app .field-label-text {
    text-align: right;
    float: right;
}

body.rtl.curam-internal-app .mandatory:after {
    padding-left: 0px;
    padding-right: 3px;
    float: right;
}

body.rtl.curam-internal-app .singleSelectListQuestionHelp img {
  padding-right: 8px;
}

/* CHECKBOX */
body.rtl.curam-internal-app input.ieg-checkbox[type=checkbox],
body.rtl.curam-internal-app input.ieg-checkbox[type=checkbox][disabled] {
  left: auto;
  right: 0;
  float: right;
}

body.rtl.curam-internal-app input.ieg-checkbox[type=checkbox] + label,
body.rtl.curam-internal-app input.ieg-checkbox[type=checkbox][disabled] + label {
  float: right;
}

body.rtl.curam-internal-app input.ieg-checkbox[type=checkbox] + label:before,
body.rtl.curam-internal-app input.ieg-checkbox[type=checkbox][disabled] + label:before {
  right: -15px;
  left: auto;
}

body.rtl.curam-internal-app input.ieg-checkbox[type=checkbox] + label:after,
body.rtl.curam-internal-app input.ieg-checkbox[type=checkbox][disabled] + label:after {
  right: -12px;
  left: auto;
}

body.rtl.curam-internal-app label.checkbox-touchable-area:after {
  right: -27px;
  left: 0px;
}

/* RADIO */
body.rtl.curam-internal-app input.ieg-checkbox[type=radio],
body.rtl.curam-internal-app input.ieg-checkbox[type=radio][disabled] {
  right: 0;
  left: auto;
}

body.rtl.curam-internal-app table input.ieg-checkbox[type=radio] + label:before,
body.rtl.curam-internal-app table input.ieg-checkbox[type=radio][disabled] + label:before {
  right: -15px;
  left: auto;
}

body.rtl.curam-internal-app .ctListQuestionTable td.ctListQuestionButtonsColumn input.ieg-checkbox[type=radio] + label:before,
body.rtl.curam-internal-app .ctListQuestionTable td.ctListQuestionButtonsColumn input.ieg-checkbox[type=radio][disabled] + label:before {
    right: -12px;
}

/* Navigation Buttons in regular page */
body.rtl.curam-internal-app:not(.modal) a.buttonLink {
  margin-left: 20px;
  margin-right: 0px;
}

/* Navigation Buttons in modal */
body.rtl.curam-internal-app.modal div.actions-panel .action-set.center a {
  margin-left: 20px;
  margin-right: 0px;
}

/*********************
 * List Styles - NEW *
 *********************/

body.rtl.curam-internal-app div.list div.description .actionSet span.addToListLink {
  position: relative;
  margin-left: 4px;
  margin-right: 20px;
}

body.rtl.curam-internal-app div.list .addToListLink a,
body.rtl.curam-internal-app div.list .addToListLink a:visited,
body.rtl.curam-internal-app div.list .addToListLink a:active {
  color: #1f57a4;
  padding: 6px 10px 6px 28px;
  font-family: MainMediumFontforIBM;
  font-size: inherit;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}
body.rtl.curam-internal-app div.list select + span.addToListLink a,
body.rtl.curam-internal-app div.list select + span.addToListLink a:visited,
body.rtl.curam-internal-app div.list select + span.addToListLink a:active {
  padding-right: 10px;
}

body.curam-internal-app .listHeaderAsCluster,
body.curam-internal-app .listHeaderAsClusterWithAddLink {
    color: ${list.title.color};
    border-bottom: 1px solid ${list.title.border.color};
    margin-bottom: 0px;
    margin: 0px 0px 10px;
    padding: 3px 0px 5px;
    text-align: right;
    font-family: MainLightFontforIBM;
    font-size: 18px;
    font-weight: normal;
    line-height: 26px;
}

body.rtl.curam-internal-app div.list table.listBody .leftAlignList {
  padding:10px;
  text-align:right;
}

body.rtl.curam-internal-app div.list table.listBody .actionsTd {
  padding-right: 0px;
}

/* Calendar */

body.rtl.curam-internal-app .dojoxCalendar .dojoxCalendarBody table thead td:first-child {
    padding-right: 0px;
    padding-left: 5px;
}

body.rtl.curam-internal-app .dojoxCalendar .dojoxCalendarBody table thead td:last-child {
    padding-right: 0px;
    padding-left: 5px;
}

body.rtl.curam-internal-app .dojoxCalendar .dojoxCalendarBody .dijitCalendarWeekTemplate .dijitCalendarDateTemplate:first-child {
    padding-left: 0px;
    padding-right: 5px;
}

body.rtl.curam-internal-app .dojoxCalendar .dojoxCalendarBody .dijitCalendarWeekTemplate .dijitCalendarDateTemplate:last-child {
    padding-right: 0px;
    padding-left: 5px
}

body.rtl.curam-internal-app .dojoxCalendar .dojoxCalendarDecrease {
    float: right;
}

body.rtl.curam-internal-app .dojoxCalendar .dojoxCalendarIncrease {
    float: left;
}

body.rtl.curam-internal-app .dojoxCalendar .dojoxCal-MY-labels .dojoxCal-MY-M-Template.dojoxCal-MY-M-last {
    border-right: none;
    border-left: 2px solid #f4f4f4;
}

body.rtl.curam-internal-app .dojoxCalendar .dojoxCal-MY-labels .dojoxCal-MY-G-Template .dojoxCal-MY-M-Template:nth-child(1) {
    padding-left: 0px;
    padding-right: 5px;
}

body.rtl.curam-internal-app .dojoxCalendar .dojoxCal-MY-labels .dojoxCal-MY-G-Template .dojoxCal-MY-M-Template:nth-child(2) {
    padding-right: 0px;
    padding-left: 5px;
}

body.rtl.curam-internal-app .dojoxCalendar .dojoxCal-MY-labels .dojoxCal-MY-G-Template .dojoxCal-MY-Y-Template:nth-child(3) {
    padding-left: 0px;
    padding-right: 5px;
}

body.rtl.curam-internal-app .dojoxCalendar .dojoxCal-MY-labels .dojoxCal-MY-G-Template .dojoxCal-MY-Y-Template:nth-child(4) {
    padding-right: 0px;
    padding-left: 5px;
}

body.rtl.curam-internal-app .dojoxCalendar .dojoxCalendarDecrease {
    background-image: url('../servlet/resource?r=calendar-next.png');
}

body.rtl.curam-internal-app .dojoxCalendar .dojoxCalendarIncrease {
    background-image: url('../servlet/resource?r=calendar-previous.png');
}

body.rtl.curam-internal-app .dojoxCalendar .dojoxCalendarDecrease:hover {
    background-image: url('../servlet/resource?r=calendar-next-hover.png');
}

body.rtl.curam-internal-app .dojoxCalendar .dojoxCalendarIncrease:hover {
    background-image: url('../servlet/resource?r=calendar-previous-hover.png');
}
/* Page description */

body.rtl.modal .page-description .description-title {
    float: right;
    text-align: right;
}

body.rtl.modal .page-description .printLink {
    text-align: right;
    float: left;
}

/* Messages panel */

body.rtl.curam-internal-app .messages-container {
  text-align: right;
  padding: 10px;
  border-left: 0px;
  border-right: 3px solid #ad1625;
}

body.rtl.curam-internal-app .messages-container span:before {
  padding-right: 0px;
  padding-left: 10px
}

/* Relationships page */

body.rtl.curam-internal-app .relationshipDiv .caretakerDiv,
body.rtl.curam-internal-app .relationshipDiv .display-text-value {
    text-align: right;
}

body.rtl.curam-internal-app .relationshipDiv tr.compact-style td:first-child {
    padding-left: 5px;
    padding-right: 0px;
}

body.rtl.curam-internal-app .relationshipDiv .caretakerDiv input.ieg-checkbox[type=checkbox],
body.rtl.curam-internal-app .relationshipDiv .caretakerDiv input.ieg-checkbox[type=checkbox]+label {
    float: none;
}

body.rtl.curam-internal-app .relationshipDiv .relationshipTable td span {
    float: right;
}

body.rtl.curam-internal-app .caretakerDiv input {
    margin-left: 0px;
    margin-right: 10px;
}

/* CT list edit, CT hierarchy list edit, three field date picker */

body.rtl.curam-internal-app select {
    background-position: left 6px bottom 6px;
    padding: 0 10px 0px 20px;
}

body.rtl.curam-internal-app select:hover,
body.rtl.curam-internal-app select:focus {
  background-position: left 5px bottom 5px;
}

body.rtl.curam-internal-app .field-level-help-cell-dropdown select {
    padding: 0px 10px 0px 20px;
    background-position: left 6px bottom 6px;
}

body.rtl.curam-internal-app .field-level-help-cell-dropdown select:hover,
body.rtl.curam-internal-app .field-level-help-cell-dropdown select:focus {
    background-position: left 5px bottom 5px;
}

body.rtl.curam-internal-app .removePaddingCodetableHierarchy {
    padding-right: 10px !important;
}

body.rtl.curam-internal-app .codetable-hierarchy-container {
    text-align: right;
}

body.rtl.curam-internal-app .alternate-date-container tr td:nth-child(1) {
    padding-left: 6px;
    padding-right: 0px;
}

body.rtl.curam-internal-app .alternate-date-container tr td:nth-child(3) {
    padding-left: 0px;
    padding-right: 6px;
}

body.rtl.curam-internal-app .containerField .field-level-help-table td:nth-child(1) {
    padding-left: 6px;
    padding-right: 0px;
}

body.rtl.curam-internal-app .containerField .field-level-help-table td:nth-child(5) {
    padding-left: 0px;
    padding-right: 6px;
}

/* Highlight Validation */

body.rtl.curam-internal-app div.highlight-validation {
    border-width: 0 3px 0 0;
}

body.rtl.curam-internal-app table.horizontal-align-start > tbody > tr > td:nth-child(n+2) {
    padding-left: 0px;
    padding-right: 10px;
}
/* Conditional cluster */


body.rtl.curam-internal-app div.cluster.conditional .clusterHeadingTable h3 {
  margin-right: 10px;
  margin-left: 0px;
}

body.rtl.curam-internal-app div.cluster.conditional .clusterHeadingTable a {
  margin-right: 0px;
  margin-left: 10px;
}

body.rtl.curam-internal-app div.conditional table.horizontal-align-start > tbody > tr > td.horizontal-align-start {
  padding-right: 10px;
}

/* Expand Collapse Classes*/
.rtl .collapsed-element {
  background-image: url("${resource-uri:arrow_right_blue80}");
}

.rtl .expand-collapse-td:hover .collapsed-element,
.rtl .expand-collapse-td:focus .collapsed-element {
  background-image: url("${resource-uri:arrow_right_blue50}");
}

.rtl .expand-collapse-td {
  text-align: center;
}

.rtl .listHeaderAsClusterWithExpandCollapse {
  text-align: right;
}

/********************************
 * Informational Message Styles *
 ********************************/
.rtl .infoMessage-container {
  padding-right: 11px;
}

.rtl .infoMessage-container-no-heading-links {
  padding-right: 0px;
}

.rtl .infoMessage-image-container {
  float: right;
  padding-left: 10px;
}

.rtl .summaryListWithInfoMessage {
  float: right;
    width: calc(50% - 41px);
}

.rtl .title-bar-div-internal.title-bar-div-not-styled-as-cluster .summaryListWithInfoMessage {
  width: calc(50% - 30px);
}

.rtl .list .title-bar-div .title-div-infoMessage {
    float: right;
}

.rtl .listHeaderAsClusterWithExpandCollapse {
  text-align: right;
}

.rtl .listTitleWithInfoMessage {
    float: right;
    padding-top: 2px;
    padding-left: 10px;
    padding-right: 0px;
}

.rtl .listTitleWithInfoMessageAndSpacing {
    float: right;
    padding-right: 0px;
}

.rtl .title-bar-div.title-bar-div-infoMessage.expand-relationship-summary-list.relationship-summary-list-as-cluster.internal-relationship-summary-list div.title-div-infoMessage {
  float: right;
  padding-left: 11px;
  width: 49%;
}

.rtl .title-bar-div.title-bar-div-infoMessage.expand-relationship-summary-list.relationship-summary-list-as-cluster.internal-relationship-summary-list div.summaryListWithInfoMessage {
    width: calc(51% - 41px);
}


/***************
 * Merge Fixes *
 **************/

.rtl .title-bar-div.title-bar-div-infoMessage.expand-relationship-summary-list.relationship-summary-list-as-cluster.internal-relationship-summary-list div.title-div-infoMessage {
  float: right;
}

body.rtl.curam-internal-app .listHeaderAsCluster, body.curam-internal-app .listHeaderAsClusterWithAddLink {
  border: 0;
}

body.rtl .list .title-bar-div .title-div-infoMessage {
  width: 50%;
}

.rtl .helpCellWithEditLink {
  padding-left: 5px !important;
  padding-right: 10px;
  text-align: left;
}

body.rtl.curam-internal-app table.clusterHeadingTableNoEditOrHelp td.clusterTitleContainer {
    padding-left: 5px;
    padding-right: 0;
}

body.rtl table.clusterHeadingTableNoEditOrHelp tr.rowWithInfoMessageBorder div.infoMessage-container-no-heading-links {
    padding-right: 15px !important;
}

body.rtl table.clusterHeadingTable tr.rowWithInfoMessageBorder div.infoMessage-container,
body.rtl table.clusterHeadingTable tr.rowWithInfoMessageBorder div.infoMessage-container-no-heading-links,
body.rtl table.listHeadingTable tr.rowWithInfoMessageBorder div.infoMessage-container-no-heading-links,
body.rtl table.listHeadingTable div.infoMessage-container,
body.rtl .title-bar-div .infoMessage-container-list.listRenderedASCluster,
body.rtl div.summaryListWithInfoMessage div.infoMessage-container {
    padding-right: 15px !important;
}

/*************************
 * CDEJ Filtering Select *
 *************************/

.rtl .dijitComboBox .dijitArrowButtonContainer {
    float: left;
    text-align: center;
}

.rtl .dijitComboBox .dijitInputContainer .dijitInputInner  {
    padding: 0px 10px 0px 10px !important;
    height: 100% !important;
}

.rtl .dijitComboBoxMenu .dijitMenuItem {
  padding: 5px 10px 5px 0px !important;
    text-align: right;
}

.rtl .dijitComboBox .dijitPlaceHolder {
    padding-left: 0px;
    width: 100%;
    padding-right: 0px;
    left: -10px;
}

/* CSS used to pre-load images so they appear if IEG goes offline */

body.rtl::after {
    position:absolute;
    width:0;
    height:0;
    overflow:hidden;
    z-index:-1;
    content:url("${resource-uri:arrow_down_blue80}") url("${resource-uri:arrow_down_blue50}") url("${resource-uri:arrow_right_blue80}") url("${resource-uri:arrow_right_blue50}")
    url("${resource-uri:help.link.image.roll.rtl}") url("${resource-uri:dialog.help.link.image.close}") url("${resource-uri:dialog.help.link.image.close.roll}")
    url("${resource-uri:help.link.image.close}") url("${resource-uri:help.link.image.close.roll}") url("../servlet/resource?r=chevron-down-hover.png")
    url("../servlet/resource?r=calendar-hover.png") url("../servlet/resource?r=calendar.png") url("../servlet/resource?r=calendar-previous.png")
    url("../servlet/resource?r=calendar-next.png") url("../servlet/resource?r=calendar-previous-hover.png") url("../servlet/resource?r=calendar-next-hover.png")
    url("${resource-uri:list.link.add.image.roll}");
}
