
.oneui.high-contrast .curramSideMenuButton .dijitButtonText {
  font-weight: normal;
  font-size: 10pt;
  white-space: normal;
  display: block;
  overflow: hidden;
  word-wrap: break-word;
  padding: 7px 2px 0px !important; 
}

.oneui.high-contrast .curramSideMenuButtonHover .dijitButtonNode .dijitButtonText,
.oneui.high-contrast .curramSideMenuButtonActive .dijitButtonNode .dijitButtonText
{
    
        /* Firefox */
    -moz-transition-property: opacity,background !important;
    -moz-transition-duration: .4s !important;
    /* WebKit */
    -webkit-transition-property: opacity,background !important;
    -webkit-transition-duration: .4s !important;
    /* Opera */
    -o-transition-property: opacity,background !important;
    -o-transition-duration: .4s !important;
    /* Standard */
    transition-property: opacity,background !important;
    transition-duration: .4s !important;
    
    color: #057ba9 !important;
    filter: alpha(opacity = 100); /* For IE8 and earlier */
    opacity: 1.0 !important;
}

.oneui.high-contrast .curramSideMenuButtonHover .dijitButtonNode .dijitButtonContents, 
.oneui.high-contrast .curramSideMenuButtonActive .dijitButtonNode .dijitButtonContents{
   background-color: #ffffff; 
   border-left: 4px solid #057ba9;
   border-bottom: 4px solid #057ba9;
}

.oneui.high-contrast .curramSideMenuOverFlowButton.curramSideMenuOverFlowButtonHover,
.oneui.high-contrast .curramSideMenuOverFlowButton.curramSideMenuOverFlowButtonActive {
    border: 1px solid #466278;    
}

.oneui.high-contrast ol.navMenuOverFlow {
    list-style: none;
    margin: 0px;
    padding: 0px;
    padding-right: 2px;
    text-align: left;
}
