ol.navMenu {
	list-style: none;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

ol.navMenu li {
	display: inline-block;
	width: 100%;
}

ol.navMenuOverFlow {
	list-style: none;
	margin: 0px;
	padding: 0px;
	text-align: left;
}

ol.navMenuOverFlow li {
  padding: 1px;
}

ol.horizontalNavMenuPop{
	list-style: none;
	margin: 0px;
	padding: 0px;
}

ol.horizontalNavMenuPop li{
    display: inline-block;
    width : 90px;
}


/******************************************
Defines the buttons in the main menu panel
******************************************/

.curramSideMenuButton {
	height: 100%;
	width: 100%;
}

.curramSideMenuButton .dijitButtonText {
/*
change button so that
text is wrapped
*/
	white-space: normal;
	display: block;
  overflow: hidden;
  word-wrap: break-word;
  padding: 7px 2px 0px !important; /* In IE, there's inline padding, 
                                      so override them. */
}

.curramSideMenuButton .dijitButtonNode {
	
		/* Firefox */
	-moz-transition-property: opacity,background !important;
	-moz-transition-duration: .4s !important;
	/* WebKit */
	-webkit-transition-property: opacity,background !important;
	-webkit-transition-duration: .4s !important;
	/* Opera */
	-o-transition-property: opacity,background !important;
	-o-transition-duration: .4s !important;
	/* Standard */
	transition-property: opacity,background !important;
	transition-duration: .4s !important;
	
	
	height: 100%;
	width: 100%;
	border: 0px;
	/*	background: #0685b7;  */
	color: #a5d4e7;
  padding-top: 13px !important;
  padding-bottom: 12px !important;
	/* border: 2px inset rgb(96,96,96);  */
	filter: alpha(opacity = 60); /* For IE8 and earlier */
	opacity: 0.65 !important;
	
}

.curramSideMenuButtonHover .dijitButtonNode {
	
		/* Firefox */
	-moz-transition-property: opacity,background !important;
	-moz-transition-duration: .4s !important;
	/* WebKit */
	-webkit-transition-property: opacity,background !important;
	-webkit-transition-duration: .4s !important;
	/* Opera */
	-o-transition-property: opacity,background !important;
	-o-transition-duration: .4s !important;
	/* Standard */
	transition-property: opacity,background !important;
	transition-duration: .4s !important;
	
	color: white !important;
	filter: alpha(opacity = 100); /* For IE8 and earlier */
	opacity: 1.0 !important;
}

.curramSideMenuButtonIcon {
	background-image: url(../../../image/navmenu/navBarBaseImage.png); 
	/* Icon for the nav bar */
	width: 32px;
	height: 30px;
  background-position:56px 0px;
}

.curramSideMenuButtonChecked .dijitButtonNode{

		/* Firefox */
	-moz-transition-property: opacity,background !important;
	-moz-transition-duration: .4s !important;
	/* WebKit */
	-webkit-transition-property: opacity,background !important;
	-webkit-transition-duration: .4s !important;
	/* Opera */
	-o-transition-property: opacity,background !important;
	-o-transition-duration: .4s !important;
	/* Standard */
	transition-property: opacity,background !important;
	transition-duration: .4s !important;
	
	background: #0f5b7a;
	/*background-color: rgb(89,94,111) !important*/
	color: white !important;
	filter: alpha(opacity = 100); /* For IE8 and earlier */
	opacity: 1.0 !important;
}


/******************************************
Defines the style of the over flow buttons
******************************************/
.curramSideMenuOverFlowButton {
	height: 100%;
	width: 100%;
}

.curramSideMenuOverFlowButton .dijitButtonNode {
	
		/* Firefox */
	-moz-transition-property: background !important;
	-moz-transition-duration: .4s !important;
	/* WebKit */
	-webkit-transition-property: background !important;
	-webkit-transition-duration: .4s !important;
	/* Opera */
	-o-transition-property: background !important;
	-o-transition-duration: .4s !important;
	/* Standard */
	transition-property: background !important;
	transition-duration: .4s !important;
	
	
	height: 100%;
	width: 100%;
	border: 0px;
	background: white;  
	color: black;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
	/* border: 2px inset rgb(96,96,96);  */
	
}

.curramSideMenuOverFlowButtonChecked .dijitButtonNode{


		/* Firefox */
	-moz-transition-property: opacity,background !important;
	-moz-transition-duration: .4s !important;
	/* WebKit */
	-webkit-transition-property: opacity,background !important;
	-webkit-transition-duration: .4s !important;
	/* Opera */
	-o-transition-property: opacity,background !important;
	-o-transition-duration: .4s !important;
	/* Standard */
	transition-property: opacity,background !important;
	transition-duration: .4s !important;
	
	background: #0685b7;
	/*background-color: rgb(89,94,111) !important*/
	color: white !important;
	filter: alpha(opacity = 100); /* For IE8 and earlier */
	opacity: 1.0 !important;
}


.curramSideMenuOverFlowButtonHover .dijitButtonNode {
	
		/* Firefox */
	-moz-transition-property: background !important;
	-moz-transition-duration: .4s !important;
	/* WebKit */
	-webkit-transition-property: background !important;
	-webkit-transition-duration: .4s !important;
	/* Opera */
	-o-transition-property: background !important;
	-o-transition-duration: .4s !important;
	/* Standard */
	transition-property: background !important;
	transition-duration: .4s !important;
	
	background : #cce8f2;
	color: black !important;
}


.curramSideMenuOverFlowButtonHover .curramSideMenuOverFlowButtonIcon {
  opacity: 1;
  filter:alpha(opacity=100); /* For IE8 and earlier */
}

.curramSideMenuOverFlowButtonIcon {
  /* Set the icon for the pop out menu*/
  background-position: 24px 24px;
  width: 24px;
  height: 24px;
  margin-Left : 10px;
  margin-Right : 10px;
  opacity: 0.5;
  filter:alpha(opacity=50); /* For IE8 and earlier */
}


/******************************************
Defines the expand button that appears when the main buttons flow in 
to the over flow menu
******************************************/

.curramSideMenuOverFlowButtonExpand{
	margin : 20px;
	
}.curramSideMenuOverFlowButtonExpand .dijitButtonNode {
	
	border : 0px
	
}

.curramSideMenuOverFlowButtonExpandHover .curramSideMenuOverFlowButtonExpandIcon {
  background-image: url(../../../image/navmenu/popup_nav_btn_roll.png);
}

.curramSideMenuOverFlowButtonExpandIcon {
	background-image: url(../../../image/navmenu/popup_nav_btn.png);  
	/* Icon for the nav bar */
	width: 21px;
	height: 15px;
}

.oneui div.idxOneuiHoverCardContainer {
  min-height: 0px;
}
