/*
  Styles for the Dojo based rich text editor
*/
.bx--cluster div.EditorToolbarDomNode .bx--cluster__item {
  padding-left: 0px;
  padding-right: 0px;
  width: 10px;
}
.bx--cluster div.RichTextEditable {
  background-color: white;
}
.bx--cluster .iconContainer label {
  white-space: nowrap;
  width: 31px;
  cursor: pointer;
  
}
.bx--cluster .labelContainer {
  width: 100%;
  text-align: center;
  background: url(../../Images/down_arrow.gif) top right no-repeat white;
  border: 1px solid #777;
}
.SC_Panel {
  background-color: #eee;
  cursor: pointer;
  border: 1px solid #333;
}
.bx--cluster div.rich-text ol, .bx--cluster div.rich-text ul{
  list-style-type: disc;
  padding-left: 20px;
}
.bx--cluster div.rich-text ul > ul, .bx--cluster div.rich-text ul ul {
  list-style-type: circle;
}
.bx--cluster div.rich-text ul > ul > ul {
  list-style-type: square;
}
div.rich-text h1, div.rich-text h2, div.rich-text h3,
div.rich-text h4, div.rich-text h5, div.rich-text h6 {
  font-weight: bold;
  background-color: transparent;
  border-color: transparent;
  border-width: 0px;
  padding: 0px;
  border-style: hidden;
  background-image: none;
}
div.rich-text h5#subject-text{
  font-size: 100%;
}
div.rich-text h1 {
  font-size: 180%;
  font-weight: bolder;
}
.bx--cluster div.rich-text h2 {
  font-size: 170%;
}
div.rich-text h3 {
  font-size: 160%;
  font-weight: lighter;
}
div.rich-text h4 {
  font-size: 150%;
}
div.rich-text h5 {
  font-size: 140%;
}
div.rich-text h6 {
  font-size: 120%;
}
