/*
 * Licensed Materials - Property of IBM
 * 
 * Copyright IBM Corporation 2014. All Rights Reserved.
 *
 * US Government Users Restricted Rights - Use, duplication or disclosure 
 * restricted by GSA ADP Schedule Contract with IBM Corp.
 */


.rtl .soria .dijitDialog .dijitDialogTitleBar .dijitDialogTitle {
    padding-left: 0px;
    padding-right: 15px;
    margin-right: 0px;
    margin-left: 35px;
}

.rtl .soria .dijitDialog .dijitDialogTitleBar .dijitDialogCloseIcon {
    right: auto;
    left: 5px;
    float: left;
}

.rtl .soria .dijitDialog .dijitDialogTitleBar .dijitDialogCloseIcon-hover {
    background-position: right center;
}

.rtl .soria .dijitDialog .dijitDialogTitleBar .dijitDialogCloseIcon-hover:active {
    background-position: right bottom;    
}

.rtl .soria .dijitDialog .dijitDialogTitleBar .dijitDialogCloseIcon:before {
    right: auto;
    left: 0;
}

.rtl .soria .dijitDialog .dijitDialogPaneContent .dijitPopupDialogActionBar {
    float: right;
}

.rtl .soria .dijitDialog .dijitDialogPaneContent .dijitPopupDialogActionBar .cw-popup-link-dialog-action-bar-button {
    float: left;
    margin: 8px 10px 6px 6px;
    padding-right: 0px;
    padding-left: 6px;
}

.rtl .soria .dijitDialog .dijitDialogPaneContent .dijitPopupDialogActionBar .cw-popup-link-dialog-action-bar-button span{
    padding-left: 15px;
    padding-right: 21px;
}

.rtl .soria .dijitDialog .dijitDialogPaneContent .dijitPopupDialogActionBar .cw-popup-link-dialog-action-bar-button:hover {
    background-position: left center;
}

.rtl .soria .dijitDialog .dijitDialogPaneContent .dijitPopupDialogActionBar .cw-popup-link-dialog-action-bar-button span:hover{
    background-position: right center;
}

.rtl .soria .dijitDialog .dijitDialogPaneContent .dijitPopupDialogActionBar .cw-popup-link-dialog-action-bar-button:active {
    background-position: left bottom;
}

.rtl .soria .dijitDialog .dijitDialogPaneContent .dijitPopupDialogActionBar .cw-popup-link-dialog-action-bar-button span:active{
    background-position: right bottom;
}

/* Page */
.rtl .cw-required-message {
  text-align: left;  
}

/* Menu */

.rtl .cw-menu-panel .cw-menu-item td {
	padding: 4px 2px 2px 0;
}
/* Action Button */

.rtl .cw-page .cw-action-button .dijitStretch.dijitButtonNode {
  padding: 4px 10px 4px 0px !important;
}
.rtl .cw-page .cw-action-button .dijitButtonNode.dijitRight {
  border-left: 1px solid #0A5F8E;
  border-right: 0;
}

.rtl .cw-action-button-tooltip.dijitTooltipDialog .dijitTooltipConnector {
    margin-left: 0px;
    margin-right: 149px;
}
/* Title Pane */

.rtl .cw-title-pane {
    padding: 1px 10px 2px 6px;
}

.rtl .cw-title-pane .cw-title-pane-title {
    left: auto;
    right: 0;
}

.rtl .cw-title-pane .cw-title-pane-text-div {
    float:right;
    text-align:right;
}

.rtl .cw-title-pane .cw-title-pane-link-div {
    text-align:left;
    right: auto;
    left: 0;
}

.rtl .cw-title-pane .cw-title-pane-actions, 
.rtl .cw-title-pane .cw-title-pane-help, 
.rtl .cw-title-pane .cw-title-pane-show-div, 
.rtl .cw-title-pane .cw-title-pane-hide-div {
    float: left;
}

.rtl .cw-title-pane .cw-title-pane-actions-separator {
    border-right: none;
    border-left: 1px solid #DDDDDD;
    float: left;
    margin: 0 10px 0 0;
} 

.rtl .cw-title-pane .cw-title-pane-actions .cw-context-button .dijitButtonNode,
.rtl .cw-title-pane .cw-title-pane-actions .cw-button .dijitButtonNode {
    border: 1px solid #B1D1E2;
}

.rtl .cw-title-pane .cw-title-pane-help a {
    margin-left: 0px;
    margin-right: 10px;
}

.rtl .cw-title-pane .cw-title-pane-show-div a, 
.rtl .cw-title-pane .cw-title-pane-hide-div a {
    margin-left: 0px;
    margin-right: 15px;
}

/* Tooltip */

.rtl .dijitTooltip.dijitTooltipABRight.cw-tooltip .dijitTooltipConnector,
.rtl .dijitTooltipDialog.dijitTooltipABRight.cw-tooltip-dialog .dijitTooltipConnector {
    left: 3px !important;
    right: auto;
}
.rtl .dijitTooltip.dijitTooltipBelow.cw-tooltip .dijitTooltipConnector,
.rtl .dijitTooltipDialog.dijitTooltipBelow.cw-tooltip-dialog .dijitTooltipConnector {
    left: auto;
    right: 8px;
}
.rtl .dijitTooltip.dijitTooltipBelow.cw-tooltip,
.rtl .dijitTooltipDialog.dijitTooltipBelow.cw-tooltip-dialog {
    padding-left: 3px;
    padding-right: 0px;
}
.rtl .dijitTooltip.dijitTooltipAbove.cw-tooltip .dijitTooltipConnector,
.rtl .dijitTooltipDialog.dijitTooltipAbove.cw-tooltip-dialog .dijitTooltipConnector {
    left: 0px;
    right: 5px;
}
.rtl .dijitTooltip.dijitTooltipAbove.cw-tooltip,
.rtl .dijitTooltipDialog.dijitTooltipAbove.cw-tooltip-dialog {
    margin-left: 0px;
    margin-right: -5px;
    padding-left: 0;
    padding-right: 0;
}
.rtl .dijitTooltip.dijitTooltipLeft.cw-tooltip,
.rtl .dijitTooltipDialog.dijitTooltipLeft.cw-tooltip-dialog {
    margin-left: 0px;
    margin-right: -10px;
    padding-right: 0px;
    padding-left: 10px;
}
.rtl .dijitTooltip.dijitTooltipLeft.cw-tooltip .dijitTooltipConnector,
.rtl .dijitTooltipDialog.dijitTooltipLeft.cw-tooltip-dialog .dijitTooltipConnector {
    right: 0px;
    left: -5px;
}
.rtl .dijitTooltip.dijitTooltipRight.cw-tooltip,
.rtl .dijitTooltipDialog.dijitTooltipRight.cw-tooltip-dialog {
    padding-left: 0px;
    padding-right: 9px;
}
.rtl .dijitTooltip.dijitTooltipRight.cw-tooltip .dijitTooltipConnector,
.rtl .dijitTooltipDialog.dijitTooltipRight.cw-tooltip-dialog .dijitTooltipConnector {
    left: auto;
    right: -6px;
}
.rtl .dijitTooltip.cw-tooltip,
.rtl .dijitTooltipDialog.cw-tooltip-dialog {
    left: auto;
    right: 0;
}
/* Dialog */
.rtl .soria .dijitDialogCloseIcon {
  right: auto;
  left: -10px;
}
.rtl .soria .dijitDialogCloseIcon:before {
  left: auto;
  right: 0;
}

/* Normal Hover Click Images for Help, Show, Hide, Actions */

[lang|="ar"] .rtl .cw-title-pane-link-div .cw-title-pane-help .cw-title-pane-help-image {
	background-image: url(../../Images/cw_help_button_rtl.png);
}

.rtl .cw-title-pane-link-div .cw-title-pane-show-div .cw-title-pane-show-image {
	background-image: url(../../Images/Common/show-hover-click_rtl.png);
}

.rtl .cw-title-pane-link-div .cw-title-pane-help .cw-title-pane-help-image,
.rtl .cw-title-pane-link-div .cw-title-pane-show-div .cw-title-pane-show-image,
.rtl .cw-title-pane-link-div .cw-title-pane-hide-div .cw-title-pane-hide-image,
.rtl .cw-title-pane-link-div .cw-title-pane-actions .cw-title-pane-actions-image {
	background-position: left top;
	padding: 1px 0px 1px 20px;
}

.rtl .cw-title-pane-link-div .cw-title-pane-show-div .cw-title-pane-show-image,
.rtl .cw-title-pane-link-div .cw-title-pane-hide-div .cw-title-pane-hide-image {
    background-position: left 2px;
}


/* Hover,Focus state */
.rtl .cw-title-pane-link-div .cw-title-pane-help .cw-title-pane-help-image:hover,
.rtl .cw-title-pane-link-div .cw-title-pane-actions .cw-title-pane-actions-image:hover,
.rtl .cw-title-pane-link-div .cw-title-pane-help .cw-title-pane-help-image:focus,
.rtl .cw-title-pane-link-div .cw-title-pane-actions .cw-title-pane-actions-image:focus {
	background-position: left center;
}

/* Active state */
.rtl .cw-title-pane-link-div .cw-title-pane-help .cw-title-pane-help-image:active,
.rtl .cw-title-pane-link-div .cw-title-pane-actions .cw-title-pane-actions-image:active {
    background-position: left bottom;
}

.rtl .cw-title-pane-link-div .cw-title-pane-show-div .cw-title-pane-show-image:hover, 
.rtl .cw-title-pane-link-div .cw-title-pane-hide-div .cw-title-pane-hide-image:hover,
.rtl .cw-title-pane-link-div .cw-title-pane-show-div .cw-title-pane-show-image:focus, 
.rtl .cw-title-pane-link-div .cw-title-pane-hide-div .cw-title-pane-hide-image:focus {
	background-position: left -10px;
}

/* Active state */

.rtl .cw-title-pane-link-div .cw-title-pane-show-div .cw-title-pane-show-image:active, 
.rtl .cw-title-pane-link-div .cw-title-pane-hide-div .cw-title-pane-hide-image:active {
    background-position: left -22px;
}

.rtl .cw-title-pane-actions .cw-title-pane-actions-panel {
	float: left;
	margin-right: 0px;
	margin-lef: -1px;
}

.rtl .cw-title-pane-actions .cw-title-pane-actions-panel .cw-title-pane-actions-menu-item {
	text-align: left;
	float: left;
}
.rtl .cw-title-pane-actions-div-over .cw-title-pane-actions-button {
    margin-right: 0px;
    margin-left: -1px;
}

.rtl .cw-title-pane-actions-image {
    margin-right: 5px;
    margin-left: 3px;
}

/* Loading Content */  
.rtl .dijitContentPaneLoading,
.rtl .oneui .dijitContentPaneLoading {
    text-align: right;  
    left: auto;
    right: 50%;
}

.rtl .dijitContentPaneLoading .dijitIconLoading,
.rtl .oneui .dijitContentPaneLoading .dijitIconLoading {
    margin: -5px -10px 0 0;
}

/* Scroll Pane */

.rtl .dojoxScrollHelper {
	left:auto;
	right:4px;
}
/* HCR IFrame */

/* Error messages */


.rtl ul.messages {
    padding-left: 0px;
    padding-right: 5px;
}
.rtl ul.messages li {
    background-position: right center;
    margin-left: 0em;
    margin-right: 1em;
    padding: 5px 2.5em 5px 5px;
}

/* Rotator */
.rtl .cw-rotator .cw-rotator-nav.cw-rotator-nav-prev {
    left: auto;
    right: 5px;
    background-image: url("../../Images/cw_rotator_scroll_right_click.png");
}
.rtl .cw-rotator .cw-rotator-nav.cw-rotator-nav-next {
    right: auto;
    left: 5px;
    background-image: url("../../Images/cw_rotator_scroll_left_click.png");
}
.rtl .cw-rotator .cw-rotator-nav.cw-rotator-nav-prev:hover {
    background-image: url("../../Images/cw_rotator_scroll_right_hover.png");
}
.rtl .cw-rotator .cw-rotator-nav.cw-rotator-nav-next:hover {
    background-image: url("../../Images/cw_rotator_scroll_left_hover.png");
}
/* End of Citizen Workspace Styles */
