/*
 * Licensed Materials - Property of IBM
 * 
 * Copyright IBM Corporation 2012,2020. All Rights Reserved.
 *
 * US Government Users Restricted Rights - Use, duplication or disclosure 
 * restricted by GSA ADP Schedule Contract with IBM Corp.
 */


.soria .dijitDialogUnderlayWrapper .dijitDialogUnderlay {
    background-color: #828181;
    opacity: 0.5;
}

.soria .dijitDialog.dijitContentPane {
    border-radius: 3px;
    padding: 2px 3px;
    border: 1px solid #cce0ee;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    max-height: 500px;
    max-width: 600px;
}

.soria .dijitDialog .dijitDialogTitleBar {
    background: white;  
    margin: 0 4px;
    padding: 6px 0 8px;
    border-bottom: 1px solid #ced1d3;
    cursor: default;
}

.soria .dijitDialog .dijitDialogTitleBar .dijitDialogTitle {
    font: 16px arial;
    color: #000;
    padding-left: 15px;
    margin-right: 35px;
}

.soria .dijitDialog .dijitDialogTitleBar .dijitDialogCloseIcon {
    top: 6px;
    right: 5px;
    float: right;
    overflow: visible;
    border: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    background: url('../../Images/Common/dialog-cancel-hover.png') no-repeat;
    padding: 0;
    display: block;
    width: 19px;
    height: 20px;
}

.soria .dijitDialog .dijitDialogTitleBar .dijitDialogCloseIcon-hover {
    background-position: left center;
}

.soria .dijitDialog .dijitDialogTitleBar .dijitDialogCloseIcon-hover:active {
    background-position: left bottom;    
}

.soria .dijitDialog .dijitDialogTitleBar .dijitDialogCloseIcon:before {
    border: 0 !important;
    position: relative;
    padding: 0;
    overflow: visible;
    top: 0;
    right: 0;
    text-indent: -9999em;
}

.soria .dijitDialog .dijitDialogPaneContent .dijitDialogPaneContentArea .cw-text-displayer {
    overflow-y: auto;
    max-height: 375px;
    max-width: 585px;
    padding: 13px 18px 20px;
}

.soria .dijitDialog .dijitDialogPaneContent {
    padding: 0;
    border: none;
}

.soria .dijitDialog .dijitDialogPaneContent .dijitPopupDialogActionBar {
    background: #d7ebf9;
    width: 100%;
    float: left;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.soria .dijitDialog .dijitDialogPaneContent .dijitPopupDialogActionBar .cw-popup-link-dialog-action-bar-button {
    display: block;
    float: right;
    background: url('../../Images/Common/modal_right.png') no-repeat top right;
    height: 33px;
    margin: 8px 6px 6px 10px;
    text-decoration: none;
    padding-right: 6px;
}

.soria .dijitDialog .dijitDialogPaneContent .dijitPopupDialogActionBar .cw-popup-link-dialog-action-bar-button span{
    height: 33px;
    padding-left: 21px;
    padding-right: 15px;
    display: block;
    font: 12px arial;
    line-height: 30px;
    color: #000;
    background: url('../../Images/Common/modal-button-left.png') no-repeat;
    text-decoration: none;
    cursor: pointer;
}

.soria .dijitDialog .dijitDialogPaneContent .dijitPopupDialogActionBar .cw-popup-link-dialog-action-bar-button:hover {
    background-position: right center;
}

.soria .dijitDialog .dijitDialogPaneContent .dijitPopupDialogActionBar .cw-popup-link-dialog-action-bar-button span:hover{
    background-position: left center;
    text-decoration: underline;
}

.soria .dijitDialog .dijitDialogPaneContent .dijitPopupDialogActionBar .cw-popup-link-dialog-action-bar-button:active {
    background-position: right bottom;
}

.soria .dijitDialog .dijitDialogPaneContent .dijitPopupDialogActionBar .cw-popup-link-dialog-action-bar-button span:active{
    background-position: left bottom;
        text-decoration: underline;
    color: #000;
}

/* Page */
.cw-page {
    width: 100%;
    height: 100%;
}

/* Removes underline from all links in non-hover state */
.cw-page a {
    text-decoration: none;
    color: #005291;           /* sets V6 Blue for all links */
    font: 12px arial;
}

/* Underlines all hovered links */
.cw-page a:hover {
    text-decoration: underline;
}

/* Sets all visited links to V6 Blue */
.cw-page a:visited{
    color: #005291;
}

/* Fix yellow border in Chrome */
.deprecated :focus {
    outline:none;
}

.cw-page a:focus {
    text-decoration: underline;
}

.cw-page .cw-content {
    overflow:visible;
}

.cw-page .cw-context-bar {
    height:87px;
} 

.cw-required, 
.cw-required-message {
    color: #E48724;
}

.cw-required-message {
  text-align: right;  
}

/* Menu */

.soria .cw-menu-panel {
  border-collapse: separate; 
  border-spacing: 0;
  padding: 5px;
}
.soria .cw-menu-panel .cw-menu-item-icon {
    height: 100%;
    width: 100%;
}
.cw-menu-panel .cw-menu-item {
  background-color: #FFF !important; 
}
.cw-menu-panel .cw-menu-item td {
  height: 32px;
  padding: 4px 0 2px 2px;
  -moz-transition: background-color 700ms ease 0s;
}
.cw-menu-panel .cw-menu-item td:first-child {
  min-width: 4px;
  border-top-left-radius: 2px; 
  border-bottom-left-radius: 2px;
}
.cw-menu-panel .cw-menu-item td:last-child { 
  border-top-right-radius: 2px; 
  border-bottom-right-radius: 2px;
}
.cw-menu-panel .dijitFocused.cw-menu-item td, 
.cw-menu-panel .dijitMenuItemHover.cw-menu-item td,
.cw-menu-panel .dijitMenuItemSelected.cw-menu-item td {
  background-color: #D4EDFE; 
}

/* Popup Link */

.cw-page .cw-popup-link {
    margin: 0;
}
.cw-page .cw-popup-link span span {
    cursor: pointer;
}
.cw-page .cw-popup-link.dijitOpened a {
    text-decoration: underline;
}

/* Action Button */

.cw-page .dijitComboButton .dijitButtonText {
    padding: 0 0.3em;
}

.cw-page .cw-action-button .dijitStretch {
  width: 145px;
}

.cw-page .cw-action-button .dijitStretch.dijitButtonNode {
  padding: 4px 0 4px 10px !important;
  white-space: pre-wrap;
  width: auto;
}

.dijitToggleButton, .oneui .dijitDropDownButton, .oneui .dijitComboButton {
  padding-left: 10%; 
  padding-right: 10%; 
}

oneui .dijitButton {
  padding-left: 0%; 
  padding-right: 0%; 
}

.cw-page .cw-action-button .dijitArrowButton.dijitButtonNode {
  padding: 4px 2px !important;
}
.cw-page .cw-action-button .dijitArrowButtonInner {
  background: url("../../Images/cw_action_button_arrow.png") no-repeat scroll center center transparent;
}

.cw-page .cw-action-button .dijitButtonNode.dijitRight {
  border-left: 0;
}

.cw-action-button-tooltip.dijitTooltipDialog {
    overflow: visible !important;
}

.cw-action-button-tooltip.dijitTooltipDialog .dijitTooltipConnector {
    margin-left: 149px;
}
.cw-action-button-tooltip .cw-menu-panel {
    min-width: 180px;
}
.cw-menu-panel .cw-menu-item .dijitMenuItemLabel {
  color: #005291;
}

/* Title Pane */

.cw-title-pane {
    margin-bottom:10px;
    padding: 1px 6px 2px 10px;
}

.cw-title-pane .cw-title-pane-title {
    left: 0;
    position: relative;
    margin: 4px 0;
    -moz-transition: all 750ms linear 0s;
    display: table;
    width: 100%;
    vertical-align: middle;
    padding: 2px 0;
}

.cw-title-pane .cw-title-pane-text-div {
    float:left;
    text-align:left;
    margin-top: 3px;
    font-size: 14px;
    display: table-cell;
}

.cw-title-pane .cw-title-pane-link-div {
    text-align:right;
    color: #6D6D6D;
    font: 12px arial;
    display: table-cell;
    min-width: 100px;
    padding-bottom: 5px;
    vertical-align: bottom;
    position: absolute;
    right: -70%;
    bottom: 0;
    width: 100%;
}

.cw-title-pane .cw-title-pane-show-div, 
.cw-title-pane .cw-title-pane-hide-div {
    width: 60px;
}

.cw-title-pane .cw-title-pane-actions, 
.cw-title-pane .cw-title-pane-help, 
.cw-title-pane .cw-title-pane-show-div, 
.cw-title-pane .cw-title-pane-hide-div {
    cursor:pointer;
    float: left;
    overflow: visible;
}

.cw-title-pane .cw-title-pane-link-div a,
.cw-title-pane .cw-title-pane-link-div .dijitButtonText *{
    font-weight: normal;
    font-size: 12px;
}

.cw-title-pane .cw-title-pane-actions {
    height: 15px;
    padding: 0;
} 
.cw-title-pane .cw-title-pane-actions-separator {
    border-right: 1px solid #DDDDDD;
    float: right;
    height: 100%;
    margin: 0 0 0 10px;
} 

.cw-title-pane .cw-title-pane-actions .cw-button.dijitButton {
    margin: 0;
}
.cw-title-pane .cw-title-pane-actions .cw-context-button .dijitButtonNode,
.cw-title-pane .cw-title-pane-actions .cw-button .dijitButtonNode {
    padding: 0;
    margin: -5px 0 0 0;
}
.cw-title-pane .cw-title-pane-actions .cw-context-button .dijitButtonNode,
.cw-title-pane .cw-title-pane-actions .cw-button .dijitButtonNode {
    background: #CDE4F1;
    background: -linear-gradient(center top , #D8ECF7 0%, #CDE4F1 5%, #CDE4F1 100%);
    background: -moz-linear-gradient(center top , #D8ECF7 0%, #CDE4F1 5%, #CDE4F1 100%);
    background: -ms-linear-gradient(center top , #D8ECF7 0%, #CDE4F1 5%, #CDE4F1 100%);
    background: -o-linear-gradient(center top , #D8ECF7 0%, #CDE4F1 5%, #CDE4F1 100%);
    background: -webkit-linear-gradient(center top , #D8ECF7 0%, #CDE4F1 5%, #CDE4F1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #D8ECF7), color-stop(5%, #CDE4F1), color-stop(100%,#CDE4F1));
    border: 1px solid #B1D1E2;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    padding: 2px;
}
.cw-title-pane .cw-title-pane-actions .cw-context-button.dijitHover .dijitButtonNode,
.cw-title-pane .cw-title-pane-actions .cw-button.dijitHover .dijitButtonNode,
.cw-title-pane .cw-title-pane-actions .cw-context-button.dijitFocused .dijitButtonNode,
.cw-title-pane .cw-title-pane-actions .cw-button.dijitFocused .dijitButtonNode {
    background: #DCEFF7;
    background: -linear-gradient(center top , #E5F4FB 0%, #DCEFF7 5%, #DCEFF7 100%);
    background: -moz-linear-gradient(center top , #E5F4FB 0%, #DCEFF7 5%, #DCEFF7 100%);
    background: -ms-linear-gradient(center top , #E5F4FB 0%, #DCEFF7 5%, #DCEFF7 100%);
    background: -o-linear-gradient(center top , #E5F4FB 0%, #DCEFF7 5%, #DCEFF7 100%);
    background: -webkit-linear-gradient(center top , #E5F4FB 0%, #DCEFF7 5%, #DCEFF7 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #E5F4FB), color-stop(5%, #DCEFF7), color-stop(100%,#DCEFF7));
}
.cw-title-pane .cw-title-pane-actions .cw-context-button.dijitActive.dijitFocused .dijitButtonNode,
.cw-title-pane .cw-title-pane-actions .cw-button.dijitActive.dijitFocused .dijitButtonNode {
    background: #B7D1E4;
    background: -linear-gradient(center top , #C3DCEE 0%, #B7D1E4 5%, #B7D1E4 100%);
    background: -moz-linear-gradient(center top , #C3DCEE 0%, #B7D1E4 5%, #B7D1E4 100%);
    background: -ms-linear-gradient(center top , #C3DCEE 0%, #B7D1E4 5%, #B7D1E4 100%);
    background: -o-linear-gradient(center top , #C3DCEE 0%, #B7D1E4 5%, #B7D1E4 100%);
    background: -webkit-linear-gradient(center top , #C3DCEE 0%, #B7D1E4 5%, #B7D1E4 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #C3DCEE), color-stop(5%, #B7D1E4), color-stop(100%,#B7D1E4));
}

.cw-title-pane .cw-title-pane-actions .cw-context-button .dijitButtonNode .dijitButtonText,
.cw-title-pane .cw-title-pane-actions .cw-button .dijitButtonNode .dijitButtonText {
    padding: 0 10px;
    margin: -4px 0 0 0;
}
.cw-title-pane .cw-title-pane-actions .dijitButtonContents:focus .dijitButtonText span,
.cw-title-pane .cw-title-pane-actions .dijitButtonNode .dijitButtonText span:hover {
    text-decoration: underline;
}
.cw-title-pane .cw-title-pane-actions .cw-context-button .dijitArrowButtonInner {
    background: url("../../Images/cw_category_action_button_arrow.png") no-repeat scroll center center transparent;
}

.cw-title-pane .cw-title-pane-help a {
    margin-left: 10px;
}

.cw-title-pane .cw-title-pane-show-div a, 
.cw-title-pane .cw-title-pane-hide-div a {
    margin-left: 15px;
}

/* Tooltip */

.dijitTooltip.cw-tooltip .dijitTooltipContainer,
.dijitTooltipDialog.cw-tooltip-dialog .dijitTooltipContainer {
    background-color: #FFFFFF !important;
    background-position: center bottom !important;
    background-repeat: repeat-x !important;
    border: 3px solid #999999 !important;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.25);
    color: #222222;
    font-size: 1em;
    max-width: 600px;
    padding: 0;
}

.dijitTooltip.cw-tooltip .dijitTooltipConnector,
.dijitTooltipDialog.cw-tooltip-dialog .dijitTooltipConnector {
    background-image: url("../jscript/ibmidxtk/idx/themes/oneui/idx/oneui/images/popupSharkfin.png") !important;
    background-repeat: no-repeat;
    border: 0 none;
    height: 18px !important;
    width: 18px !important;
    z-index: 2;
    display: block;
}

.dijitTooltip.dijitTooltipABRight.cw-tooltip .dijitTooltipConnector,
.dijitTooltipDialog.dijitTooltipABRight.cw-tooltip-dialog .dijitTooltipConnector {
    left: auto !important;
    right: 3px;
}
.dijitTooltip.dijitTooltipBelow.cw-tooltip .dijitTooltipConnector,
.dijitTooltipDialog.dijitTooltipBelow.cw-tooltip-dialog .dijitTooltipConnector {
    background-position: -18px 0 !important;
    left: 8px;
    top: -6px;
}
.dijitTooltip.dijitTooltipBelow.cw-tooltip,
.dijitTooltipDialog.dijitTooltipBelow.cw-tooltip-dialog {
    padding-left: 0;
    padding-right: 3px;
    padding-top: 9px;
}
.dijitTooltip.dijitTooltipAbove.cw-tooltip .dijitTooltipConnector,
.dijitTooltipDialog.dijitTooltipAbove.cw-tooltip-dialog .dijitTooltipConnector {
    background-position: 0 0 !important;
    bottom: -4px;
    left: 5px;
}
.dijitTooltip.dijitTooltipAbove.cw-tooltip,
.dijitTooltipDialog.dijitTooltipAbove.cw-tooltip-dialog {
    margin-left: -5px;
    margin-top: 4px;
    padding-bottom: 11px;
    padding-left: 0;
}
.dijitTooltip.dijitTooltipLeft.cw-tooltip,
.dijitTooltipDialog.dijitTooltipLeft.cw-tooltip-dialog {
    margin-left: -10px;
    padding-right: 10px;
}
.dijitTooltip.dijitTooltipLeft.cw-tooltip .dijitTooltipConnector,
.dijitTooltipDialog.dijitTooltipLeft.cw-tooltip-dialog .dijitTooltipConnector {
    background-position: -36px 0 !important;
    right: -5px;
}
.dijitTooltip.dijitTooltipRight.cw-tooltip,
.dijitTooltipDialog.dijitTooltipRight.cw-tooltip-dialog {
    padding-left: 9px;
}
.dijitTooltip.dijitTooltipRight.cw-tooltip .dijitTooltipConnector,
.dijitTooltipDialog.dijitTooltipRight.cw-tooltip-dialog .dijitTooltipConnector {
    background-position: -54px 0 !important;
    left: -6px;
}
.dijitTooltip.cw-tooltip,
.dijitTooltipDialog.cw-tooltip-dialog {
    display: block;
    left: 0;
    overflow: visible;
    position: absolute;
    top: -10000px;
    z-index: 2000;
}
.cw-tooltip .dijitTooltipFocusNode,
.cw-tooltip-dialog .dijitTooltipFocusNode {
    padding: 0;
    width: auto !important;
}
.dijitTooltip.cw-tooltip .dijitTooltipConnector {
    position: absolute;
}

/* Dialog */
.soria .dijitDialog {
    overflow: visible;
    padding: 5px;
    background: #FFF;
    border: none;
    box-shadow: 0 3px 15px #CED0D2;
    -moz-box-shadow: 0 3px 15px #CED0D2;
    -webkit-box-shadow: 0 3px 15px #CED0D2;
}
.soria .dijitDialogTitleBar {
    color: #FFF;
    background: #6EACD7;
    font-size: 14px;
}
.soria .dijitDialogCloseIcon {
  display: block;
  position: absolute;
  top: -10px;
  right: -10px;
  height: 0;
  width: 26px;
  padding: 26px 0 0 0;
  overflow: hidden;
  background: #FFF none;
  border: 3px solid #6EACD7;
  -moz-border-radius: 26px;
  -webkit-border-radius: 26px;
  border-radius: 26px;
  color: #6EACD7;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  box-shadow: 0 0 0 3px #FFFFFF;
  -moz-box-shadow: 0 0 0 3px #FFFFFF;
  -webkit-box-shadow: 0 0 0 3px #FFFFFF;
}
.soria .dijitDialogCloseIcon:before {
  content: "\D7";
  display: block;
  text-align: center;
  width: 26px;
  position: absolute;
  top: -2.6px;
  left: 0;
  font-size: 26px;
  line-height: 26px;
  font-family: $infrastructure_main-bold_font-family;
  font-weight: bold;
}

.dijitDialog .cw-text-displayer {
  max-width: 400px; 
  max-height: 600px;  
}

/* Normal Hover Click Images for Help, Show, Hide, Actions */

.cw-title-pane-link-div .cw-title-pane-help .cw-title-pane-help-image {
  background-image: url(../../Images/cw_help_button.png);
}

.cw-title-pane-link-div .cw-title-pane-hide-div .cw-title-pane-hide-image {
  background-image: url(../../Images/Common/hide-hover-click.png);
}

.cw-title-pane-link-div .cw-title-pane-show-div .cw-title-pane-show-image {
  background-image: url(../../Images/Common/show-hover-click.png);
}

.cw-title-pane-link-div .cw-title-pane-actions .cw-title-pane-actions-image {
  background-image: url(../../Images/cw_category_action_button.png);
}
.cw-title-pane-link-div .cw-title-pane-actions .cw-title-pane-actions-dropdown .cw-title-pane-actions-image {
  background-image: url(../../Images/cw_category_actions_button.png);
}

.cw-title-pane-link-div .cw-title-pane-help .cw-title-pane-help-image,
.cw-title-pane-link-div .cw-title-pane-show-div .cw-title-pane-show-image,
.cw-title-pane-link-div .cw-title-pane-hide-div .cw-title-pane-hide-image,
.cw-title-pane-link-div .cw-title-pane-actions .cw-title-pane-actions-image {
  height: 13px;
  display: block;
  font: 12px arial;
  background-repeat: no-repeat;
  background-position: right top;
  padding: 1px 20px 1px 0;
}

.cw-title-pane-link-div .cw-title-pane-show-div .cw-title-pane-show-image,
.cw-title-pane-link-div .cw-title-pane-hide-div .cw-title-pane-hide-image {
    height: 12px;
    background-position: right 2px;
}


/* Hover,Focus state */
.cw-title-pane-link-div .cw-title-pane-help .cw-title-pane-help-image:hover,
.cw-title-pane-link-div .cw-title-pane-actions .cw-title-pane-actions-image:hover,
.cw-title-pane-link-div .cw-title-pane-help .cw-title-pane-help-image:focus,
.cw-title-pane-link-div .cw-title-pane-actions .cw-title-pane-actions-image:focus {
  background-position: right center;
}

/* Active state */
.cw-title-pane-link-div .cw-title-pane-help .cw-title-pane-help-image:active,
.cw-title-pane-link-div .cw-title-pane-actions .cw-title-pane-actions-image:active {
    background-position: right bottom;
}

.cw-title-pane-link-div .cw-title-pane-show-div .cw-title-pane-show-image:hover, 
.cw-title-pane-link-div .cw-title-pane-hide-div .cw-title-pane-hide-image:hover,
.cw-title-pane-link-div .cw-title-pane-show-div .cw-title-pane-show-image:focus, 
.cw-title-pane-link-div .cw-title-pane-hide-div .cw-title-pane-hide-image:focus {
  background-position: right -10px;
}

/* Active state */

.cw-title-pane-link-div .cw-title-pane-show-div .cw-title-pane-show-image:active, 
.cw-title-pane-link-div .cw-title-pane-hide-div .cw-title-pane-hide-image:active {
    background-position: right -22px;
}

.cw-title-pane-actions .cw-title-pane-actions-button {
    position: relative;
    background-color: white;
}
  
.cw-title-pane-actions .cw-title-pane-actions-panel {
  display: none;
  z-index: 2000;
  position: relative;
  float: right;
  background-color: #FFF;
  border: 1px solid #BDCDE3;
  min-width: 100px;
  margin-top: -5px;
  margin-right: -1px;
  box-shadow: 0 1px 3px #CED0D2;
}

.cw-title-pane-actions .cw-title-pane-actions-panel .cw-title-pane-actions-menu {
  display: inline-block;
  padding: 2px 4px;   
}

.cw-title-pane-actions .cw-title-pane-actions-panel .cw-title-pane-actions-menu-item {
  margin: 0;
  padding: 2px 6px;
  white-space: nowrap;
  font-size: 11px;
  text-align: right;
  float: right;
}
.cw-title-pane-actions-div-over .cw-title-pane-actions-gutter {
  z-index: 4000;
  position: relative;
  background-color: white;
  margin: 0px;
  height: 5px;
  display: block;
}

.cw-title-pane-actions-div-over .cw-title-pane-actions-button {
    z-index: 3000;
    border-top: 1px solid #BDCDE3;
    border-left: 1px solid #BDCDE3;
    border-right: 1px solid #BDCDE3;
    border-bottom: none;
    box-shadow: 0 1px 3px #CED0D2;
    margin-right: -1px;
    margin-top: -3px;
    padding-top: 2px;
}

.cw-title-pane-actions-div-over .cw-title-pane-actions-panel {
  display: block;
}

.cw-title-pane-actions-image {
    margin-right: 3px;
    margin-left: 5px;
}

.cw-title-pane-actions-tooltip-dialog .dijitTooltipContainer {
    width: 120px !important;
}

/* Loading Content */  
.dijitContentPaneLoading,
.oneui .dijitContentPaneLoading {
    color: transparent;
    text-align: left;  
    display: block;
    background: none;
    position: relative;
    height: 50%;
    width: 50%;
    top: 50%;
    left: 50%;
}

.dijitContentPaneLoading .dijitIconLoading,
.oneui .dijitContentPaneLoading .dijitIconLoading {
    background: url('../../Images/cw_loading_icon.gif') no-repeat center center;
    margin: -5px 0 0 -10px;
    height: 9px;
    width: 19px;
    padding: 0;
}

.cw-loading-pane-div {
    font-size: 13px;
    font-family: Arial;
    width: 100%;
}
.cw-loading-pane-div .cw-loading-pane-description {
    max-width: 340px;
    word-wrap: normal;
}
.cw-loading-pane-div .cw-loading-pane-image {
    background-image: url("../../Images/Common/busy.gif");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 50px;
}

@-webkit-keyframes cw-fade-in { 
    from { opacity:0; } to { opacity:1; } 
}
@-moz-keyframes cw-fade-in { 
    from { opacity:0; } to { opacity:1; } 
}
@keyframes cw-fade-in { 
    from { opacity:0; } to { opacity:1; } 
}
 
.cw-page {
    opacity:0;
    -webkit-animation:cw-fade-in ease-in 1;
    -moz-animation:cw-fade-in ease-in 1;
    animation:cw-fade-in ease-in 1;
 
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
 
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}

/* Scroll Pane */

.dojoxScrollWindow {
  position:relative;
  overflow:visible;
  border:none !important;
}
.dojoxScrollHelper .helperInner {
  visibility: hidden;
}
.dojoxScrollHelper {
  border:1px solid #b7b7b7;
  width:4px;
  background:#ededed;
  height:2px;
  position:absolute;
  top:-6px;
  left:4px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.dojoxScrollWrapper {
 border:none !important;
}

/* HCR IFrame */

.cw-i-frame-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.cw-i-frame-wrapper .cw-i-frame {
  position: absolute;
  display: block;
  border: 0;
  height: 100%;
  width: 100%;
}

/* Error messages */
h3.message-list, .messages span {
  position: absolute;
  left: -999px;
  width: 990px;
}

ul.messages {
    border: 2px solid #D9665F;
    border-radius: 4px 4px 4px 4px;
    background-color: #FFF3F3;
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
    margin: 5px;
    padding-left: 5px;
}
ul.messages li {
    background-repeat: no-repeat;
    background-position: left center;
    list-style-type: none;
    margin-left: 1em;
    padding: 5px 5px 5px 2.5em;
}

/* Fatal */
ul.messages li.level-0 {
  background-image: url("../../themes/v6/images/error_icon.png");
}

/* Error */
ul.messages li.level-1 {
  background-image: url("../../themes/v6/images/error_icon.png");
}

/* Informational */
ul.messages li.level-2 {
  background-image: url("../../Images/icon_special_caution.png");
}

/* hide messages present text from user but allow it to be read for accessibility */
.messagesPresent { 
  position: absolute; 
  left: -1000000px; 
}
  
/* Rotator */
.cw-rotator {
    position: relative;
}
.cw-rotator .cw-rotator-nav {
    background-position: center center;
    background-repeat: no-repeat;
    width: 12px; 
    height: 18px; 
    position: absolute;
    top: 20px;
    padding: 5px;
}
.cw-rotator .cw-rotator-nav.cw-rotator-nav-prev {
    left: 5px;
    background-image: url("../../Images/cw_rotator_scroll_left_click.png");
}
.cw-rotator .cw-rotator-nav.cw-rotator-nav-next {
    right: 5px;
    background-image: url("../../Images/cw_rotator_scroll_right_click.png");
}
.cw-rotator .cw-rotator-nav.cw-rotator-nav-prev:hover {
    background-image: url("../../Images/cw_rotator_scroll_left_hover.png");
}
.cw-rotator .cw-rotator-nav.cw-rotator-nav-next:hover {
    background-image: url("../../Images/cw_rotator_scroll_right_hover.png");
}
.cw-rotator .cw-rotator-container-wrapper {
    margin: 0 30px;
    overflow: hidden;
    position: relative;
}
.cw-rotator .cw-rotator-container {
    position: relative;
    margin: 0 auto;
}

/* Inline Tooltip */
.cw-inline-dropdown {
    position: relative;
    display: table
}
.cw-inline-dropdown .cw-inline-dropdown-container-wrapper {
    margin: 0;
    overflow: hidden;
    position: relative;
}
.cw-inline-dropdown .cw-inline-dropdown-div {
    display: table-cell;
}
.cw-inline-dropdown .cw-inline-dropdown-div .dijitButtonText {
    padding: 0px 4px;
}
.cw-inline-dropdown .cw-inline-dropdown-button {
    background-image: url("../../Images/cw_more_click.png");
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 11px;
    width: 11px;
    margin-top: 5px;
    padding: 5px;
}
.cw-inline-dropdown .cw-inline-dropdown-button:hover {
    background-image: url("../../Images/cw_more_hover.png");
}
.cw-inline-dropdown-tooltip-container {
    margin: 10px 2px;
}
.cw-inline-dropdown-tooltip .dijitTooltipContainer{
    width: auto !important;
}

/* End of Citizen Workspace Styles */
