/*
 * Licensed Materials - Property of IBM
 * 
 * Copyright IBM Corporation 2012. All Rights Reserved.
 *
 * US Government Users Restricted Rights - Use, duplication or disclosure 
 * restricted by GSA ADP Schedule Contract with IBM Corp.
 */


body.high-contrast .cw-page a {
    text-decoration: underline;
    color: #00649d;           
    font: 12px arial;
}

body.high-contrast .cw-page a:hover {
    color: #05386b; 
    text-decoration: underline;
}

body.high-contrast .cw-page a:visited{
    color: #745285;
    text-decoration: underline;
}

/* Dijit menu selection */
body.high-contrast .cw-menu-panel .dijitFocused.cw-menu-item td, 
body.high-contrast .cw-menu-panel .dijitMenuItemHover.cw-menu-item td,
body.high-contrast .cw-menu-panel .dijitMenuItemSelected.cw-menu-item td {
    border-top: 1px solid #466278;
    border-bottom: 1px solid #466278;
}

body.high-contrast .cw-menu-panel .dijitFocused.cw-menu-item td:first-child, 
body.high-contrast .cw-menu-panel .dijitMenuItemHover.cw-menu-item td:first-child,
body.high-contrast .cw-menu-panel .dijitMenuItemSelected.cw-menu-item  td:first-child {    
    border-left: 1px solid #466278;     
}

body.high-contrast .cw-menu-panel .dijitFocused.cw-menu-item td:last-child, 
body.high-contrast .cw-menu-panel .dijitMenuItemHover.cw-menu-item td:last-child,
body.high-contrast .cw-menu-panel .dijitMenuItemSelected.cw-menu-item  td:last-child {    
    border-right: 1px solid #466278;     
}

body.high-contrast .cw-menu-panel .dijitFocused.cw-menu-item td, 
body.high-contrast .cw-menu-panel .dijitMenuItemHover.cw-menu-item td,
body.high-contrast .cw-menu-panel .dijitMenuItemSelected.cw-menu-item td {
    background-color: #cce8f2;    
}

/** Login panel **/
body.high-contrast h2.login-panel-title {
    color: #555555;
    font-weight: normal;
    font-size: 20pt;
    margin-top: 0px;
    margin-bottom: 0px;
}

body.high-contrast div#loginPane {
    padding: 0px;
    margin-left: 25px;
    margin-right: 40px;
    border: 1px solid #666666;
    width: 320px;    
    height: 225px;
    background-color: #EEEEEE;
    float: left;
}

body.high-contrast.rtl div#loginPane {
    float: right;
    margin-left: 15px;
    margin-right: 15px;
    width: 360px;
}

body.high-contrast div#loginPane .dijitInputField .dijitPlaceHolder,
body.high-contrast div#loginPane .dijitInputContainer .dijitPlaceHolder {
  padding: 4px 10px;
  color: #666666;
}

body.high-contrast h2.lp-h2 {
    color: #C93F0C;
}

