/*
 * Licensed Materials - Property of IBM
 * 
 * Copyright IBM Corporation 2012. All Rights Reserved.
 *
 * US Government Users Restricted Rights - Use, duplication or disclosure 
 * restricted by GSA ADP Schedule Contract with IBM Corp.
 */

/* Start of HCR Styles - IE */
body .cw-page {
    opacity:1;
}

body div.dijitTooltip div.dijitTooltipContainer,
body div.dijitTooltipDialog div.dijitTooltipContainer {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#90c8ea', endColorstr='#6EACD7',GradientType=0 );
}
body .cw-page .cw-action-button .dijitButtonNode {
    filter: progid:DXImageTransform.Microsoft.Shadow(color='#888888', Direction=135, Strength=3);         
}
body div.dijitTooltip div.dijitTooltipContainer,
body div.dijitTooltipDialog div.dijitTooltipContainer {
    background-image: -ms-linear-gradient(top, #90c8ea, #6EACD7) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#90c8ea', endColorstr='#6EACD7',GradientType=0 );
}

.cw-title-pane-link-div .cw-title-pane-help .cw-title-pane-help .cw-title-pane-help-image,
.cw-title-pane-link-div .cw-title-pane-show-div .cw-title-pane-show-image,
.cw-title-pane-link-div .cw-title-pane-hide-div .cw-title-pane-hide-image,
.cw-title-pane-link-div .cw-title-pane-actions .cw-title-pane-actions-image {
	*display:inline;
    zoom: 1;
}
.cw-title-pane-actions .cw-title-pane-actions-panel .cw-title-pane-actions-menu {
	*display:inline;
    zoom: 1;		
}

body .cw-title-pane .cw-title-pane-actions .cw-context-button .dijitButtonNode,
body .cw-title-pane .cw-title-pane-actions .cw-button .dijitButtonNode {
    margin: -3px 0 0 0;
}

/* End of HCR Styles - IE */
