span.weekly-calculation-cluster span.filler {

margin-right: 0px;
padding-left: 0px;

}

div.remove-filler span.filler {
  display:none;
}

.soria #content div.bx--cluster .top.first-col div.bx--cluster.remove-child-indent { margin-left: 0px; margin-right: 0px;}
.soria div.bx--cluster .top div.bx--cluster.remove-child-indent { margin-left: 0px; margin-right: 0px;}
.soria div.bx--cluster .top.last-col div.bx--cluster.remove-child-indent { margin-left: 0px; margin-right: 0px;}
