<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed Materials - Property of IBM

  Copyright IBM Corporation 2012. All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or disclosure
  restricted by GSA ADP Schedule Contract with IBM Corp.
-->
<web-app
  xmlns="http://java.sun.com/xml/ns/j2ee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
  version="2.4">

  <display-name>RESTAPIClient</display-name>
  <context-param>
    <param-name>port</param-name>
    <param-value>1221</param-value>
  </context-param>
  <context-param>
    <param-name>server</param-name>
    <param-value>localhost</param-value>
  </context-param>


  <listener>
    <listener-class>curam.rest.RestApplicationInitialisation</listener-class>
  </listener>

  <servlet>
        <servlet-name>Graphql</servlet-name>
        <servlet-class>curam.graphql.GraphQLEndpoint</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Graphql</servlet-name>
    <url-pattern>/graphql/*</url-pattern>
  </servlet-mapping>

  <filter>
    <filter-name>RestURLStatsServletFilter</filter-name>
    <filter-class>curam.rest.filters.RestURLStatsServletFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>RestURLStatsServletFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter>
    <filter-name>CORSFilter</filter-name>
  <filter-class>curam.rest.filters.CORSFilter</filter-class>
  </filter>
  <filter-mapping>
      <filter-name>CORSFilter</filter-name>
      <url-pattern>/*</url-pattern>
  </filter-mapping>


  <filter>
    <display-name>Curam REST</display-name>
    <filter-name>CuramRest</filter-name>
    <filter-class>org.glassfish.jersey.servlet.ServletContainer</filter-class>
      <init-param>
        <param-name>javax.ws.rs.Application</param-name>
        <param-value>curam.rest.CuramApplication</param-value>
      </init-param>
      <init-param>
        <param-name>jersey.config.servlet.filter.staticContentRegex</param-name>
        <param-value>.*\.jsp|.*\.html|.*\.htm|.*\.css|.*\.png|.*\.gif|.*\.jpg|.*\.js|.*j_security_check|.*graphql</param-value>
      </init-param>
    </filter>
  <filter-mapping>
    <filter-name>CuramRest</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping> 

  <welcome-file-list>
    <welcome-file>/index.html</welcome-file>
  </welcome-file-list>


</web-app>
