/* 
 * Licensed Materials - Property of IBM
 * 
 * Copyright IBM Corporation 2016,2020. All Rights Reserved.
 *
 * US Government Users Restricted Rights - Use, duplication or disclosure 
 * restricted by GSA ADP Schedule Contract with IBM Corp.
 */
/*
See ExternalApplication.css
*/
.app-container, .app-container-bc {
  width:100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
/*
The oneui theme applies apdding to a content pane that we don't want.
*/
.app-container .app-banner.dijitContentPane, 
.app-container .app-nav.dijitContentPane, 
.app-container .app-content.dijitContentPane {
  margin: 0;
  padding: 0;
}

.app-container .app-banner {
  height: 65px;
}

.app-container #app-content {
    overflow-y: auto;
}

.curamApp .leftNavMenu 
{
  background: #047BB0;
  width: 150px;
  padding:0px;
  margin : 0px
  overflow : hidden;
  overflow : hidden;
}

/*Styling for the area of the Modal dialogs that is outside the UIM pages*/
.oneui div.modalDialog .dijitDialogTitleBar .hidden {
  display: none;
}


.oneui div.modalDialog div.dijitDialogPaneContent {
  overflow: hidden !important;
  height: auto !important;
  width: auto !important;
  padding-top: 0px;
}

.oneui div.modalDialog div.dijitDialogPaneContent .contentPanelFrameWrapper,
.oneui div.modalDialog div.dijitDialogPaneContent iframe {
  height: 100% !important;
  width: 100% !important;
}

.oneui div.modalDialog .dijitDialogTitleBar .dijitDialogTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left;
}

.oneui div.modalDialog .hidden {
  position: absolute;
  left: -1000000px;
  display: inline;
}

/* Added as part of the skip link fix TEC-15122 */
.curam-extapp div.access.hidden {
  position: absolute;
  left: -1000000px;
  display: inline;
}

/* To display timer to user in session timeout dialog feature */
body.modal div.modal-timer {
  display: inline-block;
  float: right;
  height: 20px;
  width: 10%;
  padding:0px 10px 0px 10px;
  background: #ececec;
  text-align: center;
  font-family: $infrastructure_main-regular_font-family;
  font-size: 14px;
  color: #464646;
  letter-spacing: 1.2px;
  line-height: 20px;
  margin-top: 20px;
}

/* To display the user message to user in session timeout dialog feature */
body.modal div.user-message {
  display: inline-block;
  width: 100%;
}

div.user-message p {
  font-size: 14px;
  font-family: $infrastructure_main-regular_font-family;
  line-height: 20px;
  color: #464646;
}

div.user-message:focus {  
    outline: none;
}


/**** Session Expired Message Wrapper ***/
div#login-container {
    float: left;
}

div.wrapper-expired-message {
  margin:0 auto;
  width:320px;
  text-align:left;
  margin-left:25px;
  margin-bottom:25px;
}



/** Modal width needs to stretch past the padding on the content div **/
div.wrapper-expired-message div#error-messages-container ul.messages
{
  width: 100%;
}

div.wrapper-expired-message ul.messages
{
    background: #f9f9f9;
    padding: 10px 0px;
    margin: 0px;
    width: 100%;
    border:none;
    border-left:3px solid #ad1625;
    list-style: none;
}

div.wrapper-expired-message ul.messages:focus {  
    outline: none;
    border-top: 1px solid #e0e0e0; 
    border-bottom: 1px solid #e0e0e0; 
    border-right: 1px solid #e0e0e0; 
    box-shadow: 0px 4px 4px -2px #e0e0e0;  
}
 
div.wrapper-expired-message ul.messages li div
{
    color: #464646;
    font-family: $infrastructure_main-regular_font-family;
    font-size: 12px;
    line-height: 17px;
    min-height: 20px; 
    padding-left: 30px;
} 

 
div.wrapper-expired-message ul.messages li.level-1
{
  background: url("../../image/error__filled--20-enabled.svg") no-repeat left top;
 
}

div.wrapper-expired-message ul.messages li
{
    padding: 0px;
    margin: 10px 10px;   
}

div.wrapper-expired-message .messages span {
  width: 100%;
  left:0px;
  position:relative;
  font-weight:normal;
}


/*added for fix for GUM-5822*/
div.idxOneuiHoverHelpTooltipContainer, div{
    outline:0;
}

@media print {

  html, body {
    height: auto !important;
  }

  .curam-extapp .app-container {
    position: static !important;
    width: 100% !important;
    height: auto !important;
  }

  .app-container #app-nav,
  .app-container #app-banner,
  .app-container #app-banner .curamOneuiHeader,
  .curam-extapp .idxHeaderContainer,
  .curam-extapp .oneuiMenuDialog,
  .curam-extapp .idxOneuiHoverCard {
    display: none !important;
  }

  .app-container-bc {
    position: static !important;
    width: 100% !important;
    height: auto !important;
    overflow-y: visible !important;
  }

  .app-container #app-content {
    position: static !important;
    width: 100% !important;
    height: auto !important;
    overflow-y: visible !important;
}

   .app-container #app-content .dijitContentPane {
     position: static !important;
     width: 100% !important;
     height: auto !important;
     overflow-y: visible !important;
  }

  /*
  #app-content .curam-iframe {
    border: 5px solid red !important;
    position: static !important;
    display: block !important;
    width: 100% !important;
    height: 768px !important;
    overflow: visible !important;

  }*/

  /* hide messages present text from user but allow it to be read for accessibility */
  .messagesPresent {
    position: absolute;
    left: -1000000px;
  }
  
  .dijitCheckBoxInput, .dijitCheckBox {
    opacity: 3 !important;
  }
  
  .dijitCheckBox input, .dijitRadio input{
	opacity: 3 !important;
  }
  
  .oneui table.listBody td.leftAlignList .check-wrapper div.dijitCheckBox {
    float: left;
    margin-top: 2px;
    opacity: 3 !important;
  }

}

/* CSS added by UA team goes below this */

/* Fix IE radio, and checkbox button alignment */
.oneui .tabForm table.listBody td.leftAlignList div.dijitRadio {
    float: left;
    margin-top: 4px;
}

.oneui table.listBody td.leftAlignList .check-wrapper div.dijitCheckBox {
    float: left;
    margin-top: 2px;
}

/* Needed for text map. */
.oneui ol.service-providers-list .service-providers-list-item-title {
     font-weight: bold;
}

.oneui ol.service-providers-list .service-providers-list-item-description {
    font-style: italic;
    color: #505050;
    background-color: inherit;
}

.oneui .service-providers-list table.service-providers-table-list {
    width: 100%;
}

.oneui .service-providers-list table.service-providers-table-list th {
    text-align: center;
    font-weight: bold;
}

.oneui .service-providers-list table.service-providers-table-list td {
    width: 25%;
    padding: 5px 5px 5px 5px;
    background-color: #F0F0F0;
    color: inherit;
    height: 8ex;
}

.oneui ol.service-providers-list {
    font-weight: bold;
}

.oneui ol.service-providers-list > li > * {
    font-weight: normal;
}

.oneui ol.service-providers-list > li {
    margin-top: 10px;
}

.radiobutton-container-div .dijitRadio {
float: left;
}
.radiobutton-container-div .select-head-span-wrapper {
width: 90%;
}

/* Motivation Results Page fix for multiple pages - Firefox */
.dijitBorderContainerPane {
  position: static !important;
}

/* Motivation Results Page fix for multiple pages - Chrome */
div#eligibility-main-layout {
  overflow-y: visible !important;
}

.lp-welcome-banner-data{
    margin-top: -55px;
}

.lp-welcome-banner-background{
  background-color: #d9e8f2;
}

.lp-welcome-line1 {
    color: #555555;
    font-size: 28pt;
    font-weight: normal;
    line-height: 1em;
    margin-left: 330px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.lp-welcome-line2 {
    color: #222222;
    font-size: 44pt;
    font-weight: normal;
    line-height: 1em;
    margin-left: 330px;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

.lp-welcome-line3 {
    color: #555555;
    font-size: 13pt;
    font-weight: normal;
    line-height: 1em;
    margin-left: 330px;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

/* hide messages present text from user but allow it to be read for accessibility */
.messagesPresent { 
  position: absolute; 
  left: -1000000px; 
}

.title > h2{
    margin-top: 0;
    font-weight: normal;
    font-size: 28px;
}

/* Style the various links and headers on the ScreeningResults page */
.screening-results-rescreening-link {
  font-size: 13pt;
}
.screening-results-eligible > div.cluster > h3 {
  font-size: 16pt;
  font-weight: normal;
  border-bottom: 1px solid #DEDFE1;
}
.screening-results-not-eligible > div.cluster > h3 {
  font-size: 16pt;
  font-weight: normal;
  border-bottom: 1px solid #DEDFE1;
}
}
.radiobutton-container-div .select-head-span-wrapper {
    width: 90%;
}

/* Styling for ExitIntakeOptions page */
body.ExitIntakeOptions .list-wrapper.list-no-stripe {
    padding-top: 9px;
    padding-left: 0px;
    margin-left: -2px;
    margin-bottom: -11px;
}

body.ExitIntakeOptions .select-head-span-wrapper {
    display: inline-block !important;
    padding-left: 10px !important;
}

body.ExitIntakeOptions .listBody .leftAlignList {
    padding-bottom: 11px;
}

body.ExitIntakeOptions .listBody .leftAlignList .dijitRadio {
    margin-top: 1px !important;
}

.dj_ie7 body { position:relative; }

body.cw.oneui .helpDescriptionText {
    color: #666666;
    font-size: 13.5px;
    margin-bottom: 2px;
}

body.cw.oneui .helpDiv p {
		color: #666666;
    font-size: 13.5px;
    margin-bottom: 2px;
}

body.cw.oneui .helpDiv {
    background-color: #fafafa !important;
    border-bottom: 1px solid #eeeeee;
    border-left: 0 none;
    border-right: 0 none;
    color: #000000 !important;
    padding-top: 2px;
    width: 100%;
}

body.cw.oneui .closeLinkDiv {
    background-color: #fafafa !important;
    border-top: 1px solid #eeeeee;
    font-size: 90%;
    height: 17px;
    margin-top: 10px;
    padding: 1px;
    text-align: right;
}

body.cw.oneui .helpDiv p {
    line-height: normal;
    padding-left: 10px;
}

body.cw.oneui a.closeHelpLink.bhv-close {
    margin-right: 3%;
}
