/*
See ExternalApplication_rtl.css
*/
.rtl.oneui div.modalDialog .dijitDialogTitleBar .dijitDialogTitle {
  float: right;
}

.rtl.oneui div.modalDialog .hidden {
  left: auto;
  right: -1000000px;
}

/* Added as part of the skip link fix TEC-15122 */
.rtl .curam-extapp div.access.hidden {
  left: auto;
  right: -1000000px;
}

/* To display timer to user in session timeout dialog feature */
body.modal.rtl div.modal-timer {
  right: auto;
  left: 0px;
}

/* CSS added by UA team goes below this */

/* Fix IE radio, and checkbox button alignment */
.rtl.oneui .tabForm table.listBody td.leftAlignList div.dijitRadio {
    float: right;
}

.rtl.oneui table.listBody td.leftAlignList .check-wrapper div.dijitCheckBox {
    float: right;
}

/* Needed for IntakeLogin */
.rtl.IntakeOptionalLogin .radiobutton-container-div .dijitRadio {
    float: right;
}

.rtl .radiobutton-container-div .dijitRadio {
  float: right;
}

.rtl .lp-welcome-line1 {
    margin-left: 0px;
    margin-right: 360px;
}

.rtl .lp-welcome-line2 {
    margin-left: 0px;
    margin-right: 360px;
}

.rtl .lp-welcome-line3 {
    margin-left: 0px;
    margin-right: 360px;
}

/* Mirroring support for dojo.css as part of GLS-1741 */
.rtl caption, th {
    text-align: right;
}
/* end */
