.rtl .business-object-viewer {
	padding-left: 0;
	padding-right: $infrastructure_normal_padding;
}

.rtl .business-object-viewer__actions {
	margin-left: 10px;
	margin-right: 0;
}

.rtl .business-object-incoming {
	border-left: 1px solid #DEDEDE;
	border-right: none;
	padding-left: 25px;
	padding-right: 0;
}

.rtl .business-object-viewer__navigation {
	float: left;	
}


.rtl .business-object-update__conflict>svg, 
.rtl .information-missing__card>svg {
	left: 0;
	right: 20px;
}

.rtl .business-object-viewer__navigation_text {
	float: left;
}

.rtl .business-object-timeline__timeline {
	left: auto;
	right: 0;	
}

.rtl .business-object-timeline__point::before {
	transform: translateX(50%);
}

.rtl .evidence-viewer__buttons {
	float: left;
}

.rtl .evidence-viewer__collapse-collapsed {
	transform: rotate(-90deg);
}

.rtl .evidence-viewer__actions {
	margin-left: 10px;
	margin-right: 0;
}

.rtl .evidence-attribute-viewer__name-container {
	margin-left: 5%;
	margin-right: 0;
}

.rtl .evidence-attribute-viewer__name {
	float: right;
}

.rtl .evidence-attribute-viewer__value {
	float: right;
}

.rtl .information-missing__title::before, 
.rtl .business-object-conflict__title::before {
	left: 0;
	right: -20px;
}

.rtl div.information-missing__title, 
.rtl div.business-object-conflict__title {
    margin-left: 0;
    margin-right: 40px;
    padding-left: 0;
    padding-right: $infrastructure_normal_padding;
}

.rtl .information-missing__text,
.rtl .business-object-conflict__text {
	margin-right: 50px;
	margin-left: 0;
}

.rtl .business-object-viewer__title {
	margin-left: 0;
	margin-right: 20px;
}

.rtl .business-object-viewer__sourceCaseDescription {
	margin-left: 0;
	margin-right: 20px;
}

.rtl .business-object-viewer__buttons {
	margin: 5px 14px 0 5px;
}

.rtl .existing-business-object-viewer__navigationTitle,
.rtl .business-object-viewer__timelineTitle, 
.rtl .business-object-update__title,
.rtl .information-missing__title,
.rtl .business-object-conflict__title {
    margin-left: 0;
    margin-right: 20px;
}

.rtl .existing-business-object-viewer__navigation>p{
	padding: 0 $infrastructure_very-big_padding 0 $infrastructure_normal_padding;
	margin-left: 0;
	margin-right: 20px;
}
.rtl .business-object-viewer__timelineDescription {
	padding: $infrastructure_small_padding $infrastructure_very-big_padding 0 0;
}

.rtl .business-object-viewer__timelineLabel {
	padding: $infrastructure_very-big_padding $infrastructure_normal_padding 0 $infrastructure_normal_padding;
}

.rtl .business-object-timeline__span {
	transform: translateX(50%);
}

.rtl .business-object-viewer__timelineLabel>span {
	float: left;
}

.rtl .evidence-attribute-viewer__value-container>.conflict-icon, 
.rtl .evidence-attribute-viewer__value-container>.missingInfo-icon {
	left: 0;
	right: -21px;
}

.rtl .business-object-update>p{
	padding-right: $infrastructure_very-big_padding;
	padding-left: 0;
}

.rtl .business-object-conflict__form,
.rtl .business-object-conflict__form>input#existing {
	margin-right: 50px;
	margin-left: 0;
}

.rtl .business-object-conflict__form>input,
.rtl .business-object-conflict__form>label {
	margin-left: 10px;
	margin-right: 0;
}

.rtl .business-object-update_button {
	margin: 15px 20px 0 0;
}

.rtl .incoming-evidence-comparison__container {
	width: 100%;
} 

