.existing-business-object-viewer__navigation, 
.business-object-update, 
.business-object-viewer__timelineContainer,
.information-missing__card {
	border: 1px solid $infrastructure_secondary-menu-and-border_background-color;
    padding: $infrastructure_normal_padding 0;
}

.business-object-viewer__timelineContainer{
	padding-bottom: 0;
	background: $infrastructure_primary-background_color;
}
.existing-business-object-viewer__headingContainer {
	display: flex;
	margin-left: 20px;
	padding-top: $infrastructure_normal_padding;
}

div.information-missing__title, div.business-object-conflict__title {
	margin-left: 40px;
    position: relative;
    padding-left: $infrastructure_normal_padding;
    padding-top: $infrastructure_small_padding;
}

.existing-business-object-viewer__navigationTitle,
.business-object-viewer__timelineTitle, 
.business-object-update__title,
.information-missing__title,
.business-object-conflict__title {
	font-family: $infrastructure_main-bold_font-family;
    font-size: $infrastructure_heading-four_font-size;
    margin-left: 20px;
}

.business-object-viewer__timelineTitle {
	font-size: $infrastructure_normal_font-size;
}

.business-object-viewer__timelineTitle, 
.business-object-update__title,
.information-missing__title,
.business-object-conflict__title {
	padding-bottom: $infrastructure_small_padding;
	display: block;
}

.business-object-viewer__timelineDescription {
	font-size: $infrastructure_heading-five_font-size;
    padding: $infrastructure_small_padding 0 0 $infrastructure_very-big_padding;
}

.business-object-viewer__timelineContainer { 
	background-color: $infrastructure_primary-background_color;
	border-top: none;
}

.existing-business-object-viewer__navigation>p{
	padding: 0 $infrastructure_normal_padding 0 $infrastructure_very-big_padding;
	margin-left: 20px;
}

.incoming-evidence-comparison__header>div {
	margin-bottom: 20px;
}

.incoming-evidence-comparison {
	position: relative;
	width: 100%;
	display: flex;
    flex-direction: row;
    align-content: stretch;
}

.business-object-viewer {
	box-sizing: border-box;
	position: relative;
	vertical-align: top;
	min-height: 100%;
	max-width: calc(100% - 15px);
	flex: 1;
	margin-left: 15px;
}

.business-object-viewer__evidence {
	border: 1px solid $infrastructure_secondary-menu-and-border_background-color;
	border-top: none;
    padding: $infrastructure_normal_padding;
}

.business-object-incoming {
	padding-left: 0;
	margin-left: 0;
}

.business-object-viewer__title {
	font-size : $infrastructure_heading-four_font-size ;
	font-family: $infrastructure_main-bold_font-family;
	line-height: 30px;
	color: black;
	display: inline-block;
	margin-left: 20px;
}

.business-object-viewer__sourceCaseDescription {
	margin-left: 20px;
	
}

.business-object-viewer__navigation {
	float: right;
}

.existing-business-object-viewer__headingContainer>div {
	line-height: $infrastructure_heading-two_font-size;
}

.business-object-viewer__navigation_button {
	border:none;
	height: 24px;
	width: 24px;
	cursor: pointer;
	margin-right: 5px;
	padding: 0;
	background: none;
}

.business-object-viewer__navigation_button .navigationIcon,
.business-object-timeline__button .navigationIcon {
	padding: 2px;
	box-sizing: content-box;
}

.business-object-viewer__navigation_button[disabled],
.business-object-timeline__button[disabled] {
	pointer-events: none;
}

.business-object-viewer__navigation_button[disabled] .caret,
.business-object-timeline__button[disabled] .caret {
	fill: #9fa7a7;
}

.business-object-viewer__navigation_button[disabled] .circle,
.business-object-timeline__button[disabled] .circle {
	stroke:  #9fa7a7;
}

.business-object-viewer__navigation_button:hover .navigationIcon, 
.business-object-viewer__navigation_button:focus .navigationIcon,
.business-object-timeline__button:hover .navigationIcon,
.business-object-timeline__button:focus .navigationIcon {
	background: #E5E5E5;
}

.business-object-viewer__informational {
	box-sizing: border-box;
	height: 50px;
	visibility: hidden;	
}

.business-object-timeline {
	box-sizing: border-box;
	width: 100%;
	height: 70px;
}

.business-object-timeline>.business-object-timeline__button:first-child {
	margin-left: 5px;
}

.business-object-timeline>.business-object-timeline__button:last-child {
	margin-right: 5px;
}

.business-object-timeline__button {
	height: 25px;
	width: 25px;
	cursor: pointer;
	float: left;
	margin-top: 36px;
	padding: 0;
	border: none;
	
	
}

.business-object-timeline__button .navigationIcon {
	width: 25px;
	height: 25px;
}



.business-object-timeline__timelinewrapper {
	float: left;
	box-sizing: border-box;
	width: calc(100% - 80px);	
	position: relative;
	margin: 0 10px;
  	height: 100%;
}

.business-object-timeline__timeline {
	box-sizing: border-box;
	height: 2px;
	padding: 0 15px;
	background: $infrastructure_primary-hover-and-focus-background_color;
	border-top: 2px solid $infrastructure_primary-hover-and-focus-background_color;
	position: absolute;
	left: 0;
    top: 50px;
	width: 100%;
	z-index: 1;
}

.business-object-timeline__point {
    position: absolute;
   	z-index: 2;
  	text-align: center;
  	bottom: -8px;
  	width: 20px;
  	height: 20px;
  	border: none;
  	transform: translateX(-50%);
  	transition: background-color 0.3s, border-color 0.3s, width 0.3s, height 0.3s;
  	cursor: pointer;
}

.business-object-timeline__spanWrapper {
    width: 110px;
    height: 40px;
    position: relative;
    pointer-events: none;
    display: flex;
    top: -60px;
    transform: translateX(-40%);
    align-items: center;
    justify-content: center;
}

.business-object-timeline__point-active > .business-object-timeline__spanWrapper,
.business-object-timeline__point.business-object-timeline__point-active > .business-object-timeline__spanWrapper {
    top: -86px;
}

.business-object-timeline__span {
    color: $infrastructure_primary-hover-and-focus-font_color;
    pointer-events: none;
    font-size: calc(5px + 0.6vw);
}

.business-object-timeline__point-active > svg,
.business-object-timeline__point:hover > svg.timeline-icon >circle,
.business-object-timeline__point:focus > svg.timeline-icon >circle,
.business-object-timeline__point.business-object-timeline__point-active > .timeline-icon > circle  {
	fill: $infrastructure_primary-hover-and-focus-background_color;
}

.business-object-timeline__point:hover > svg, 
.business-object-timeline__point:focus > svg {
	background: #E5E5E5;
}



.evidence-viewer__name>span {
	padding-left: $infrastructure_normal_padding;
    font-family: $infrastructure_main-regular_font-family;
    	
}

.timelineDescriptionNode {
	font-size: $infrastructure_heading-five_font-size;
    font-family: $infrastructure_main-regular_font-family;
    
}

.business-object-viewer__timelineLabel {
	font-size: 13px;
    padding: $infrastructure_normal_padding $infrastructure_normal_padding 0 $infrastructure_very-big_padding;
	font-family: $infrastructure_main-bold_font-family;
}

.business-object-viewer__timelineLabel>span {
	float:right;
	font-weight: normal;
}

.business-object-timeline__point-active {
	z-index: 1;
	pointer-events: none;
}

.business-object-timeline__point-active>.chevron,
.business-object-timeline__point-missingData>.chevron,
.business-object-timeline__point-conflict>.chevron {
	position: relative;
	top: -1px;
}

.evidence-viewer__container {
	padding-bottom: $infrastructure_normal_padding;
    margin-bottom: 5px;
}
    
.evidence-viewer__container, .business-object-viewer__container {
	background-color: #fff;
	border-bottom: 1px solid $infrastructure_secondary-menu-and-border_background-color;	
	display: -webkit-box;
    display: -ms-flexbox;
	display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
}

.business-object-viewer__container {
	padding: $infrastructure_normal_padding 0 15px;
 	border: 1px solid $infrastructure_secondary-menu-and-border_background-color;   
}

.business-object-viewer__container .business-object-viewer__actions {
	padding: 5px;
}

.evidence-viewr__textContainer {
	margin-left: 5px;
}
.evidence-viewer__textContainer, .businss-object-viewer__textContainer {
	-webkit-box-flex: 1;
    -ms-flex: 1 1 24ch;
    flex: 1 1 24ch;
    -ms-flex-item-align: center;
    align-self: center;
}

.evidence-viewer__date {
	display: inline-flex;
	margin-left: 4px;
}

.evidence-viewer__name {
	font-size: 16px;
    font-family: $infrastructure_main-bold_font-family;
    color: black;
    display: inline-flex;
    line-height: 23px;
    margin-left: 4px;
}

.evidence-viewer__buttons, .business-object-viewer__buttons {
	-ms-flex-negative: 0;
	flex-shrink: 0;
	height: 100%;
	align-self: center;
	line-height: 23px;
}

.business-object-viewer__buttons {
	margin-left: 20px;
}

.business-object-viewer__buttons > button {
	margin-right: 5px;
}

.evidence-viewer__collapse {
	cursor: pointer;
	border: 0;
	padding: 0;
	background-color: #FFFFFF;
	transition: transform 500ms;
	transform-origin: center center;
	position: relative;
    top: 6px;
    display: inline;
}

.evidence-viewer__collapse:hover svg{
	background: #E5E5E5;
}

.evidence-viewer__collapse-collapsed {
	transform: rotate(90deg);
}


.business-object-viewer__actions,
.evidence-viewer__actions {
	border: none;
	height: 100%;
}

.evidence-viewer__buttons .evidence-viewer__actions {
	vertical-align: middle;
	margin-left: 4px;
	padding: 5px;
}

.evidence-viewer__actions, .business-object-viewer__actions,
.business-object-update_button, .business-object-conflict_button {
	position: relative;
	background: transparent;
	color: $infrastructure_primary-hover-and-focus-font_color;
	font-family: $infrastructure_main-regular_font-family;
	font-size: 14px;
	background-color: #fff;
	cursor: pointer;
	border: 1px solid transparent;
	display: inline-flex;
	padding: 0;
	outline-offset: 5px;
}

.business-object-update_button, .business-object-conflict_button {
	font-family: $infrastructure_main-regular_font-family;
	padding: $infrastructure_small_padding $infrastructure_normal_padding;
	margin: 15px 0 0 20px;
    display: block;
    border: 1px solid $infrastructure_primary-hover-and-focus-background_color;
}

.evidence-viewer__actions[disabled], .business-object-viewer__actions[disabled],
.business-object-update_button[disabled], .business-object-conflict_button[disabled] {
	border-color: #9fa7a7;
	color: #9fa7a7;
	pointer-events: none;
}

.evidence-viewer__actions:hover, .evidence-viewer__actions:focus,
.business-object-viewer__actions:hover, .business-object-viewer__actions:focus,
.business-object-update_button:hover, .business-object-update_button:focus,
.business-object-conflict_button::hover, .business-object-conflict_button::focus {
	color: #FFF;
	background-color: $infrastructure_primary-hover-and-focus-background_color;

}

.business-object-update_button:hover,
.business-object-viewer__actions:hover,
.evidence-viewer__actions:hover {
	background: #E5E5E5;
}

.evidence-viewer__description {
	font-family: $infrastructure_main-bold_font-family;
	display: inline-block;
	background-color: #ad1625;
    border-radius: 20px;
    padding: $infrastructure_small_padding $infrastructure_normal_padding $infrastructure_small_padding $infrastructure_normal_padding;
    color: #ffffff;
    font-size: 12px;
    margin-left: 4px;
}

.evidence-viewer__attributes {
	width: 100%;
	overflow: hidden;
	transition: max-height 500ms;
}

.evidence-attribute-viewer {
	padding: $infrastructure_small_padding;
	font-size: 0;
}

.evidence-attribute-viewer__name-container {
	display:inline-block;
    width: 35%;
    margin-right: 5%;
    vertical-align: top;
}

.evidence-attribute-viewer__name {
    font-family: $infrastructure_main-bold_font-family;
    font-size: 14px;
    line-height: $infrastructure_normal_line-height;
    min-height: 20px;
    color: black;
    float: left;
}

.evidence-attribute-viewer__value-container {
	display:inline-block;
    width: 58%;
    position: relative;
}

.evidence-attribute-viewer__value {
	font-family: $infrastructure_main-regular_font-family;
    font-size: 14px;
    line-height: $infrastructure_normal_line-height;
    min-height: 20px;
    color: black;
    padding: 0 3px;
    float: left;
}

.evidence-attribute-viewer__value-highlight {
	background-color: #FADB8C;
	transition: background-color 250ms linear;
}

.business-object-update>p{
	padding-left: $infrastructure_very-big_padding;
}

.information-missing__card,
.business-object-update,
.conflict__informational {
	display: none;
	position: relative;
}

.evidence-attribute-viewer__value-container.information-missing>.evidence-attribute-viewer__value {
	font-style: italic;
	position: relative
}

.business-object-timeline__point>svg {
	position: relative;
	padding: 2px;	
	width: 18px;
    height: 18px;
    box-sizing: content-box;
}

.evidence-attribute-viewer__value-container>.conflict-icon, 
.evidence-attribute-viewer__value-container>.missingInfo-icon {
	display: none;
	position: absolute;
	left: -21px;
	width: 18px;
}

.evidence-attribute-viewer__value-container.evidence-attribute-viewer__value-conflict>.conflict-icon,
.evidence-attribute-viewer__value-container.information-missing>.missingInfo-icon {
	display: inline-block;
}

.business-object-timeline__point-active.business-object-timeline__point-conflict::after,
.business-object-timeline__point-active.business-object-timeline__point-missingData::after,
.business-object-timeline__point.business-object-timeline__point-conflict:hover:after, 
.business-object-timeline__point.business-object-timeline__point-conflict:focus:after,
.business-object-timeline__point.business-object-timeline__point-missingData:hover:after, 
.business-object-timeline__point.business-object-timeline__point-missingData:focus:after {
    font-size: 11px;
    line-height: 11px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    padding: 1px;
    color: #ffffff;
    display: inline-block;
    position: absolute;
    top: -7px;
    left: -7px;
}

.business-object-viewer__noComparison {
	display: none;
	border-left: 1px solid $infrastructure_secondary-menu-and-border_background-color;
	border-right: 1px solid $infrastructure_secondary-menu-and-border_background-color;
}

.business-object-viewer__noComparison>div {
	padding: $infrastructure_small_padding $infrastructure_normal_padding 0 $infrastructure_very-big_padding;
}

.business-object-viewer__noComparison>div:first-child {
	padding-top: $infrastructure_very-big_padding;
}

.evidence-attribute-viewer__value-conflict>.evidence-attribute-viewer__value {
	background-color: #E6CF01;
	transition: background-color 250ms linear;
	position: relative;
	min-width: 50px;
}

.business-object-update__conflict {
	display: none;
	padding-top: $infrastructure_very-big_padding;
}

.business-object-update__conflict>svg, 
.information-missing__card>svg {
	position: absolute;
    left: 20px;
    width: 24px;
}

.information-missing__text,
.business-object-conflict__text {
	padding: $infrastructure_normal_padding 0;
	margin-left: 50px;
}

.business-object-conflict__form,
.business-object-conflict__form>input#existing {
	margin-left: 50px;
}

.business-object-conflict__form>input,
.business-object-conflict__form>label {
	vertical-align: top;
	margin-right: 10px;
}

.business-object-conflict__form>input {
	cursor: pointer;
}

body.curam.soria ul.messages.incoming-evidence-comparison__informational {
	display: none;
	background: none;
	width: calc(100% - 3px);
	pointer-events: none; 
}

body.curam.soria ul.messages li.level-2.incoming-evidence-comparison__informationalList {
	background: none;
	position: relative;
}

.incoming-evidence-comparison__informationalList:before {
    content: '\2714';
    position: absolute;
    color: #FFFFFF;
    width: 20px;
    line-height: $infrastructure_normal_line-height;
    height: 20px;
    text-align: center;
    background: green;
    border-radius: 50%;
}

@media all and (-ms-high-contrast: active) {
 .evidence-viewer__collapse>svg>.chevron {
	fill: #FFFFFF;
 }
 
 .evidence-viewer__collapse:hover>svg>.chevron {
    fill: #161616;
 }
 
.business-object-timeline__point-active>.chevron>polygon {
 	fill: #000; 
 	stroke: #FFFFFF;
 }
 
 
 .business-object-timeline__point-active>.chevron>line {
 	stroke: #000000;
 }
 
 .evidence-attribute-viewer__value-container>.conflict-icon>path, 
 .evidence-attribute-viewer__value-container>.missingInfo-icon>path {
	fill: #FFFFFF;
 }	

}

@media all and (-ms-high-contrast: black-on-white) {
 .evidence-viewer__collapse>svg>.chevron {
	fill: #161616;
 }
 

 .business-object-timeline__point-active>.chevron>polygon {
 	fill: #FFF; 
 	stroke: #161616;
 }
 
  .business-object-timeline__point-active>.chevron>line {
 	stroke: #FFF;
 }
 
 .evidence-attribute-viewer__value-container>.conflict-icon>path, 
 .evidence-attribute-viewer__value-container>.missingInfo-icon>path {
	fill: #161616;
 }	
}
@media all and (-ms-high-contrast: white-on-black) {
 .business-object-viewer__navigation_button .caret,
 .business-object-timeline__button .caret {
	fill: #FFFFFF;
 }

 .business-object-viewer__navigation_button .circle,
 .business-object-timeline__button .circle {
	stroke:  #FFFFFF;
 }
 
 .business-object-viewer__navigation_button:hover .caret,
 .business-object-viewer__navigation_button:focus .caret,
 .business-object-timeline__button:hover .caret,
 .business-object-timeline__button:focus .caret {
	fill: #161616;
 }

 .business-object-viewer__navigation_button:hover .circle,
 .business-object-viewer__navigation_button:focus .circle,
 .business-object-timeline__button:hover .circle,
 .business-object-timeline__button:hover .circle {
	stroke:  #161616;
 }
}