[lang|="ar"] .rtl.curam-extapp .curamOneuiHeader.idxHeaderContainer .idxHeaderPrimary li.idxHeaderPrimaryAction.idxHeaderHelp .idxHeaderDropDown span.idxHeaderHelpIcon {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.rtl.curam-extapp .oneuiHeaderGlobalActionsMenu_help,
.rtl.curam-extapp .oneuiHeaderNavigationMenu > .dijitMenuPopup,
.rtl.curam-extapp .oneuiHeaderNavigationMenu > .oneuiMenuDialogPopup {
  left: auto !important;
  right: 0px !important;
  overflow-x: hidden; /* Fix for safari. GLS-1743 */
}
.rtl.curam-extapp #appHelpMenu .helpItemIcon,
.rtl.curam-extapp #MMMenuID .megaMenuItemIcon {
  margin: 10px 0px 0 10px;
}
.rtl.curam-extapp .oneuiHeaderGlobalActionsMenu > .dijitMenuPopup {
  margin-left: 0;
  margin-right: 0;
}
.rtl.curam-extapp .curamOneuiHeader.idxHeaderContainer .idxHeaderPrimaryThick .idxHeaderPrimary li.idxHeaderPrimaryAction .idxHeaderDropDown.idxHeaderUserName {
  margin: 0 0px 0 25px;
   padding-bottom: 0px;
}

.rtl.curam-extapp .curamOneuiHeader.idxHeaderContainer .idxHeaderPrimaryThick .idxHeaderPrimary li.idxHeaderPrimaryAction .idxHeaderUserName {
	padding-left: 0px;
}
.rtl.curam-extapp .curamOneuiHeader.idxHeaderContainer .idxHeaderPrimary .idxHeaderDropDown.idxHeaderUserName span.idxHeaderDropDownArrow {
  margin: 0 10px 17px 0px;
}

.rtl.curam-extapp .curamOneuiHeader.idxHeaderContainer .idxHeaderPrimary .idxHeaderDropDown.idxHeaderUserName .idxHeaderUserIcon {
  right: auto;
  left: 8px;
}
.rtl.curam-extapp .curamOneuiHeader.idxHeaderContainer .idxHeaderPrimary li.idxHeaderPrimaryAction.idxHeaderHelp .idxHeaderDropDown {
  border-left: 1px solid #585858;
  border-right: 1px solid transparent;
}

.rtl.curam-extapp .idxOneuiHoverHelpTooltipABRight.idxOneuiHoverHelpTooltipBelow .idxOneuiHoverHelpTooltipConnector {
  right: auto;
  left: 13px;
}

/* Active, selected, focused */
.rtl.oneui.curam-extapp .curamOneuiHeader.idxHeaderContainer .idxHeaderPrimary li.idxHeaderPrimaryAction.idxHeaderHelp .idxHeaderDropDown:focus,
.rtl.oneui.curam-extapp .curamOneuiHeader.idxHeaderContainer .idxHeaderPrimary li.idxHeaderPrimaryAction.idxHeaderHelp .idxHeaderDropDown:visited,
.rtl.oneui.curam-extapp .curamOneuiHeader.idxHeaderContainer .idxHeaderPrimary li.idxHeaderPrimaryAction.idxHeaderHelp .idxHeaderDropDown:active {
   border-left: none;
   border-right: 1px solid #585858;
}

/* Active, selected, focused for IE */
.rtl.dj_ie .oneui.curam-extapp .curamOneuiHeader.idxHeaderContainer .idxHeaderPrimary li.idxHeaderPrimaryAction.idxHeaderHelp .idxHeaderDropDown:focus,
.rtl.dj_ie .oneui.curam-extapp .curamOneuiHeader.idxHeaderContainer .idxHeaderPrimary li.idxHeaderPrimaryAction.idxHeaderHelp .idxHeaderDropDown:visited,
.rtl.dj_ie .oneui.curam-extapp .curamOneuiHeader.idxHeaderContainer .idxHeaderPrimary li.idxHeaderPrimaryAction.idxHeaderHelp .idxHeaderDropDown:active {
  border-left: none;
  border-right: 1px solid #585858;
}

.rtl.oneui.curam-extapp .idxHeaderContainer .idxHeaderPrimary .idxHeaderLogoBox {
  border-left: none;
  border-right: none;
}

.rtl.curam-extapp .idxHeaderContainer .idxHeaderPrimary span.idxHeaderUserIcon {
  margin: 0 0 0 20px;
}

.rtl.curam-extapp .curamOneuiHeader.idxHeaderContainer .idxHeaderPrimaryThick .idxHeaderPrimary .idxHeaderPrimaryTitleContainer div.idxHeaderPrimaryTitle .extappLogoHolder div[style*="app-banner-logo.png"] {
  visibility: hidden;
}
