.curam-extapp .app-banner {
  min-width: 600px;
}
.curam-extapp .curamOneuiHeader.idxHeaderContainer {
  min-width: 0;
}

.curam-extapp .curamOneuiHeader.idxHeaderContainer .idxHeaderPrimaryThick .idxHeaderPrimary .idxHeaderPrimaryTitleContainer {
  margin: 0;
  padding: 0;
}
.curam-extapp .curamOneuiHeader.idxHeaderContainer .idxHeaderPrimaryThick .idxHeaderPrimary .idxHeaderPrimaryTitleContainer div.idxHeaderPrimaryTitle {
  margin: 8px 27px 0 27px;
  cursor: pointer;
}
.curam-extapp .curamOneuiHeader.idxHeaderContainer .idxHeaderPrimaryThick .idxHeaderPrimary .idxHeaderPrimaryTitleContainer div.idxHeaderPrimaryTitle .extappLogoHolder div[style*="app-banner-logo.png"] {
	visibility: hidden;
}

.curam-extapp .curamOneuiHeader.idxHeaderContainer .idxHeaderPrimary li > span:focus {
  outline:1px dotted #fff;
}
.curam-extapp .curamOneuiHeader.idxHeaderContainer .idxHeaderPrimary .idxHeaderDropDown.idxHeaderUserName:hover .idxHeaderUserIcon {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
}

.curam-extapp .curamOneuiHeader div.idxHeaderPrimaryTitle .idxHeaderPrimaryTitleOrgName a.extappLogoLink {
  color: #ffffff;
  text-decoration: none;
}

.curam-extapp .curamOneuiHeader div.idxHeaderPrimaryTitle .idxHeaderPrimaryTitleLogo {
  height: 21px;
  width: 31px;
  margin: 0 auto 4px auto;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
}
.curam-extapp .curamOneuiHeader div.idxHeaderPrimaryTitle .idxHeaderPrimaryTitleOrgName {
  white-space: pre;
  text-align: center;
  font-size: 87%;
  font-weight: bold;
  line-height: 1;
  margin-top:0px;
}

.curam-extapp .curamOneuiHeader.idxHeaderContainer .dijitMenuBar.menubarClassOUI {
  /*IDX UPGRADE*/
  /*position:absolute;*/
  /*padding: 0;*/
}

.dj_ie7 .curam-extapp .curamOneuiHeader.idxHeaderContainer .dijitMenuBar.menubarClassOUI {
  padding: 0 5px 35px 5px;
}
.dj_ie7 .curam-extapp .curamOneuiHeader.idxHeaderContainer .dijitMenuBar.menubarClassOUI .dijitMenuItem.PopupMenuBarItemClassOUI span.idxHeaderDropDownArrow {
  height: 5px;
}
.dj_ie7 .curam-extapp .curamOneuiHeader div.idxHeaderPrimaryTitle .idxHeaderPrimaryTitleOrgName {
  white-space: normal;
}
.dj_ie7 .curam-extapp .idxHeaderContainer .idxHeaderPrimaryThick .idxHeaderPrimary .idxHeaderPrimaryTitleContainer div.idxHeaderPrimaryTitle .extappLogoHolder {
  width: 110px;
}

.curam-extapp .curamOneuiHeader.idxHeaderContainer .dijitMenuBar.menubarClassOUI .dijitMenuItem.PopupMenuBarItemClassOUI.userRequiredOUI {
  /*margin: 0 13px;*/
}

.curam-extapp .curamOneuiHeader.idxHeaderContainer .dijitMenuBar.menubarClassOUI .dijitMenuItem.PopupMenuBarItemClassOUI span {
  position: relative;
}

.curam-extapp .curamOneuiHeader.idxHeaderContainer .dijitMenuBar.menubarClassOUI .dijitMenuItem.PopupMenuBarItemClassOUI span.idxHeaderDropDownArrow {
  position: static;
}


.curam-extapp .curamOneuiHeader.idxHeaderContainer .dijitMenuBar.menubarClassOUI span, .curam-extapp .curamOneuiHeader.idxHeaderContainer .dijitMenuBar.menubarClassOUI .dijitMenuItem.PopupMenuBarItemClassOUI span, .curam-extapp .curamOneuiHeader.idxHeaderContainer .idxHeaderPrimaryThick .idxHeaderPrimary li.idxHeaderPrimaryAction .idxHeaderDropDown.idxHeaderUserName span.idxHeaderUserText {
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  /*IDX UPGRADE*/
  /*display:inline-block;*/
}

.curam-extapp .curamOneuiHeader.idxHeaderContainer .idxHeaderPrimary li.idxHeaderPrimaryAction.idxHeaderHelp .idxHeaderDropDown span.idxHeaderDropDownArrow {
  background-position: -69px 18px;
}
.curam-extapp .curamOneuiHeader.idxHeaderContainer .idxHeaderPrimary li.idxHeaderPrimaryAction.idxHeaderHelp .idxHeaderDropDown:hover span.idxHeaderDropDownArrow  {
  background-position: -84px 18px;
}

.curam-extapp .curamOneuiHeader.idxHeaderContainer .idxHeaderPrimary li.idxHeaderPrimaryAction.idxHeaderHelp .idxHeaderDropDown span.idxHeaderHelpIcon {
  background-position: -44px 19px;
}
.curam-extapp .curamOneuiHeader.idxHeaderContainer .idxHeaderPrimary li.idxHeaderPrimaryAction.idxHeaderHelp .idxHeaderDropDown:hover span.idxHeaderHelpIcon  {
  background-position: -61px 19px;
}

.curam-extapp .oneuiHeaderGlobalActionsMenu_help,
.curam-extapp .oneuiHeaderNavigationMenu > .dijitMenuPopup,
.curam-extapp .oneuiHeaderNavigationMenu > .oneuiMenuDialogPopup {
  width: 100%;
  left: auto !important;
  right: auto !important;
  margin-top: 4px;
  left: 0px !important;
  overflow: auto;
}
.curam-extapp .oneuiHeaderGlobalActionsMenu .oneuiHeaderGlobalActionsMenu_help td.dijitMenuItemLabel,
.curam-extapp .idxHeaderContainer.oneuiHeaderNavigationMenu td.dijitMenuItemLabel {
  padding: 0;
}
.curam-extapp .MMItemContainer, .curam-extapp .HMItemContainer {
  overflow: hidden;
}
.curam-extapp .curamOneuiHeader .idxHeaderPrimaryTitleOrgName {
  color: #D7D7D6;
}
.curam-extapp #MMMenuID .MMItemContainer,
.curam-extapp .HMItemContainer {
  margin: 10px 0 3px 0;
}
.curam-extapp #MMMenuID .MMItemContainer.MMItemContainerRow0,
.curam-extapp .HMItemContainer.HMItemContainerRow0 {
  margin-top: 15px;
}
.curam-extapp #MMMenuID .MMItemContainer.lastItemContainerOUI,
.curam-extapp .HMItemContainer.lastItemContainerOUI {
  margin-bottom: 15px;
}

.curam-extapp #appHelpMenu .helpItemIcon,
.curam-extapp #MMMenuID .megaMenuItemIcon {
  margin: 10px 10px 0 0;
}
.curam-extapp #appHelpMenu .HMtitle,
.curam-extapp #MMMenuID .MMtitle {
  color: #067ba9;
}
.curam-extapp #MMMenuID .MMtitle.xlarge,
.curam-extapp #appHelpMenu .HMtitle.xlarge {
  font-size: 200%;
}

.curam-extapp #appHelpMenu .HMdesc.xlarge,
.curam-extapp #MMMenuID .MMdesc.xlarge {
  font-size: 100%;
}

.curam-extapp #MMMenuID .MMtitle.large,
.curam-extapp #appHelpMenu .HMtitle.large {
  font-size: 140%;
}

.curam-extapp #appHelpMenu .HMdesc.large,
.curam-extapp #MMMenuID .MMdesc.large {
  font-size: 90%;
}

.curam-extapp #MMMenuID .MMtitle.medium,
.curam-extapp #appHelpMenu .HMtitle.medium {
  font-size: 130%;
}

.curam-extapp #appHelpMenu .HMdesc.medium,
.curam-extapp #MMMenuID .MMdesc.medium {
  font-size: 90%;
}

.curam-extapp #MMMenuID .MMtitle.small,
.curam-extapp #appHelpMenu .HMtitle.small {
  font-size: 100%;
}

.curam-extapp #appHelpMenu .HMdesc.small,
.curam-extapp #MMMenuID .MMdesc.small {
  font-size: 80%;
}

#appHelpMenu .dijitMenuItemLabel {
  width: 100%
}

.menuItemAccessibilityFocusableButton {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%; 
  border-width: 0px; 
  background: none; 
  outline: 0;
}

.curam-extapp .oneuiHeaderGlobalActionsMenu > .dijitMenuPopup {
  margin-left: 0;
}
.curam-extapp .MenuClassOUI .dijitMenuArrowCell {
  width: 7px;
}
.curam-extapp .MenuClassOUI table {
  table-layout: fixed;
}
.curam-extapp .MenuClassOUI {
  table-layout: fixed;
  width: 100%;
}
.curam-extapp .MenuClassOUI .menuItemClassOUI .megaMenuItemIcon,
.curam-extapp .MenuClassOUI .menuItemClassOUI .helpItemIcon {
  background-size:cover;
}
.dj_ie8 .curam-extapp .MenuClassOUI .menuItemClassOUI .megaMenuItemIcon {
  background: none !important;
}
.curam-extapp .MenuClassOUI .menuItemClassOUI .MegaMenuIconSize{
  height: 24px;
  width: 24px;
}
.curam-extapp .MenuClassOUI .menuItemClassOUI .MegaMenuIconSize_Big {
  height: 40px;
  width: 40px;
}
.curam-extapp #MMMenuID.MenuClassOUI .menuItemClassOUI .MegaMenuIcon_firstRow,
.curam-extapp #appHelpMenu.MenuClassOUI .menuItemClassOUI .MegaMenuIcon_firstRow {
  margin-top: 15px;
}

.curam-extapp .MenuClassOUI .dijitMenuItemIconCell {
  vertical-align: top;
}
.curam-extapp .menuItemClassOUI {
  white-space: normal !important;
}
.curam-extapp .curamOneuiHeader.idxHeaderContainer .idxHeaderPrimaryThick .idxHeaderPrimary div.idxHeaderPrimaryTitle {
  margin: 3px 0 0 0;
  cursor: pointer;
}
.curam-extapp .oneuiMenuDialog .dijitTooltipContents {
  display: block;
}

.curam-extapp .idxOneuiHoverHelpTooltipCloseIcon {
  display: none !important;
}

.dj_ie .oneui.curam-extapp div.idxOneuiHoverHelpTooltipContainer,
.oneui.curam-extapp div.idxOneuiHoverHelpTooltipContainer {
  margin: 0;
  padding: 1px;
}

.curam-extapp .curam-extapp_userHoverMenu_class > ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.curam-extapp .curam-extapp_userHoverMenu_class > ol > li > div {
  padding: 2px 15px;
}

.curam-extapp .curam-extapp_userHoverMenu_class > ol > li > div  a {
  color: #222222;
  text-decoration: none;
}

.curam-extapp .curam-extapp_userHoverMenu_class > ol > li.lastPersonMenuLink  > div {
  padding-bottom: 5px;
}

.curam-extapp .curam-extapp_userHoverMenu_class > ol > li.firstPersonMenuLink  > div {
  padding-top: 5px;
}

.curam-extapp .curam-extapp_userHoverMenu_class > ol > li > div:hover {
  background: #CCE8F2;
  cursor: pointer;
}

.curam-extapp .curamOneuiHeader.idxHeaderContainer .idxHeaderPrimaryThick .idxHeaderPrimary li.idxHeaderPrimaryAction .idxHeaderDropDown.idxHeaderUserName {
  margin: 0 25px 0 0;
  padding-bottom: 0px;
}

.curam-extapp .curamOneuiHeader.idxHeaderContainer .idxHeaderPrimaryThick .idxHeaderPrimary li.idxHeaderPrimaryAction .idxHeaderUserName {
	padding-right: 0px;
}

.curam-extapp .curamOneuiHeader.idxHeaderContainer .idxHeaderPrimaryThick .idxHeaderPrimary li.idxHeaderPrimaryAction .idxHeaderDropDown.idxHeaderUserName .idxHeaderUserIcon {
  width:23px;
  height:23px;
}

.curam-extapp .curamOneuiHeader.idxHeaderContainer .idxHeaderPrimary .idxHeaderDropDown.idxHeaderUserName span.idxHeaderDropDownArrow {
  cursor: pointer;
  background: url('../../../../Images/ext-banner-user-arrow.png') no-repeat;
  width: 11px;
  height: 8px;
  margin: 0 0 0 0;
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
  filter: alpha(opacity=85);
}

.curam-extapp .curamOneuiHeader.idxHeaderContainer .idxHeaderPrimary .idxHeaderDropDown.idxHeaderUserName:hover span.idxHeaderDropDownArrow,
.curam-extapp .curamOneuiHeader.idxHeaderContainer .idxHeaderPrimary .idxHeaderDropDown.idxHeaderUserName span.idxHeaderDropDownArrow:hover {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
}

.curam-extapp .curamOneuiHeader.idxHeaderContainer .idxHeaderPrimaryThick .idxHeaderPrimary li.idxHeaderPrimaryAction .idxHeaderDropDown.idxHeaderUserName span.idxHeaderUserText {
 position: relative;
 bottom: 8px;
}
.dj_ie8 .curam-extapp .curamOneuiHeader.idxHeaderContainer .idxHeaderPrimaryThick .idxHeaderPrimary li.idxHeaderPrimaryAction .idxHeaderDropDown.idxHeaderUserName span.idxHeaderUserText {
 bottom: 4px;
}

.curam-extapp .curamOneuiHeader.idxHeaderContainer .idxHeaderPrimary .idxHeaderDropDown.idxHeaderUserName .idxHeaderUserIcon {
  right: 8px;
  top: -2px;
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
  filter: alpha(opacity=85);
}
.curam-extapp .curamOneuiHeader.idxHeaderContainer .idxHeaderPrimary .idxHeaderUserIcon img.idxHeaderUserIcon {
  width: 23px;
  height: 23px;
}

.curam-extapp .curamOneuiHeader.idxHeaderContainer .idxHeaderPrimary li.idxHeaderPrimaryAction.idxHeaderHelp .idxHeaderDropDown {
  margin: 0;
  padding: 0 20px;
  border-left: 1px solid transparent;
  border-right: 1px solid #585858;
}

.curam-extapp .idxOneuiHoverHelpTooltipABRight.idxOneuiHoverHelpTooltipBelow .idxOneuiHoverHelpTooltipConnector {
  right: 13px;
}

.curam-extapp .curamOneuiHeader.idxHeaderContainer .idxHeaderPrimaryThick .idxHeaderPrimary .idxHeaderPrimaryInner li.idxHeaderPrimaryAction.idxHeaderSeparator span {
  margin: 0;
  padding: 0;
}

.oneui.curam-extapp .idxHeaderContainer .idxHeaderPrimaryThick .dijitMenuBar .dijitMenuItem {
  padding-top: 23px;
  padding-bottom: 23px;
}

/* Hover */
.curam-extapp .curamOneuiHeader.idxHeaderContainer .idxHeaderPrimary li.idxHeaderPrimaryAction.idxHeaderHelp .idxHeaderDropDown:hover {
  background-image: -moz-linear-gradient(#000000, #212121);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#000000), to(#212121));
  background-image: -webkit-linear-gradient(#000000, #212121);
  background-image: -o-linear-gradient(#000000, #212121);
  color: #ffffff;
}

/* Hover for IE */
.dj_ie .curam-extapp .curamOneuiHeader.idxHeaderContainer .idxHeaderPrimary li.idxHeaderPrimaryAction.idxHeaderHelp .idxHeaderDropDown:hover {
  filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#000000', EndColorStr='#212121');
}

/* Active, selected, focused */
.oneui.curam-extapp .curamOneuiHeader.idxHeaderContainer .idxHeaderPrimary li.idxHeaderPrimaryAction.idxHeaderHelp .idxHeaderDropDown:focus,
.oneui.curam-extapp .curamOneuiHeader.idxHeaderContainer .idxHeaderPrimary li.idxHeaderPrimaryAction.idxHeaderHelp .idxHeaderDropDown:visited,
.oneui.curam-extapp .curamOneuiHeader.idxHeaderContainer .idxHeaderPrimary li.idxHeaderPrimaryAction.idxHeaderHelp .idxHeaderDropDown:active {
   background-position: 0 0;
   background-color: #444444;
   background-image: -moz-linear-gradient(#585858, #161616);
   background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#585858), to(#161616));
   background-image: -webkit-linear-gradient(#585858, #161616);
   background-image: -o-linear-gradient(#585858, #161616);
   border-left: 1px solid #585858;
   -webkit-box-shadow: 1px 0px #111111, -1px 0px #111111;
   -moz-box-shadow : 1px 0px #111111, -1px 0px #111111;
   box-shadow: 1px 0px #111111, -1px 0px #111111;
}

/* Active, selected, focused for IE */
.dj_ie .oneui.curam-extapp .curamOneuiHeader.idxHeaderContainer .idxHeaderPrimary li.idxHeaderPrimaryAction.idxHeaderHelp .idxHeaderDropDown:focus,
.dj_ie .oneui.curam-extapp .curamOneuiHeader.idxHeaderContainer .idxHeaderPrimary li.idxHeaderPrimaryAction.idxHeaderHelp .idxHeaderDropDown:visited,
.dj_ie .oneui.curam-extapp .curamOneuiHeader.idxHeaderContainer .idxHeaderPrimary li.idxHeaderPrimaryAction.idxHeaderHelp .idxHeaderDropDown:active {
  filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#585858', EndColorStr='#161616');
  border-left: 1px solid #585858;
}

.oneui.curam-extapp .idxHeaderContainer .idxHeaderPrimary .idxHeaderLogoBox {
  box-shadow: 0 0;
  border-left: none;
}

/*Some IE8 css here*/
.dj_ie8 body.curam-extapp {
  margin:0 0.5px;
}
.dj_ie8 .curam-extapp .curamOneuiHeader.idxHeaderContainer .dijitMenuBar.menubarClassOUI {
  top: -3px;
}
.dj_ie8 .curam-extapp .curamOneuiHeader.idxHeaderContainer .dijitMenuBar.menubarClassOUI .dijitMenuItem.PopupMenuBarItemClassOUI span {
  top: 3px;
}
.dj_ie8 .curam-extapp .curamOneuiHeader.idxHeaderContainer .dijitMenuBar.menubarClassOUI .dijitMenuItem.PopupMenuBarItemClassOUI span.idxHeaderDropDownArrow {
  position: relative;
  top: 2px;
}


.dj_gecko .curam-extapp .curamOneuiHeader.idxHeaderContainer .idxHeaderPrimaryThick .idxHeaderPrimary li.idxHeaderPrimaryAction .idxHeaderDropDown.idxHeaderUserName span.idxHeaderUserText,
.dj_ie9 .curam-extapp .curamOneuiHeader.idxHeaderContainer .idxHeaderPrimaryThick .idxHeaderPrimary li.idxHeaderPrimaryAction .idxHeaderDropDown.idxHeaderUserName span.idxHeaderUserText {
    bottom: 3px;
}
.curam-extapp .curamOneuiHeader.idxHeaderContainer .dijitMenuBar.menubarClassOUI {
    bottom: 4px;
}
.dj_gecko .oneui.curam-extapp .idxHeaderContainer .idxHeaderPrimaryThick .dijitMenuBar .dijitMenuItem,
.dj_ie9 .oneui.curam-extapp .idxHeaderContainer .idxHeaderPrimaryThick .dijitMenuBar .dijitMenuItem {
    padding-bottom: 18px;
    padding-top: 28px;
}
.curam-extapp .curamOneuiHeader.idxHeaderContainer .idxHeaderPrimaryThick .idxHeaderPrimary li.idxHeaderPrimaryAction .idxHeaderDropDown.idxHeaderUserName .idxHeaderUserIcon {
  height: auto;
  width: auto;
}
.curam-extapp .idxHeaderContainer .idxHeaderPrimary .idxHeaderUserText {
  margin: 0;
}
.curam-extapp .idxHeaderContainer .idxHeaderPrimary span.idxHeaderUserIcon {
  margin: 0 20px 0 0 ;
}

/*Replace the Settings node icon, with a print icon as we only use the*/
/*settings node for print functionality at the moment.*/
.curam-extapp .curamOneuiHeader.idxHeaderContainer .idxHeaderPrimary  li.idxHeaderPrimaryAction.idxHeaderTools .idxHeaderSettingsIcon,
.curam-extapp .curamOneuiHeader.idxHeaderContainer .idxHeaderPrimary  li.idxHeaderPrimaryAction.idxHeaderTools .idxHeaderSettingsIcon:hover {
  background: url(image/app-banner-print.png) no-repeat 0px 25px;
}

.oneui .idxHeaderContainer li.idxHeaderPrimaryNav {
  float: right;
}


/*fix jump when highlight menu item*/
.curam-extapp.oneui .oneuiHeaderNavigationMenu td.dijitMenuItemLabel,
.curam-extapp.oneui .oneuiHeaderNavigationSubmenu td.dijitMenuItemLabel,
.curam-extapp.oneui .oneuiHeaderNavigationMenu td.oneuiMenuHeadingLabel,
.curam-extapp.oneui .oneuiHeaderNavigationSubmenu td.oneuiMenuHeadingLabel {
	    padding: 0px;
}
.curam-extapp.oneui .oneuiHeaderNavigationMenu .dijitMenuTable tr.dijitMenuItem.dijitMenuItemFocused td.dijitMenuItemLabel,
.curam-extapp.oneui .oneuiHeaderNavigationSubmenu .dijitMenuTable tr.dijitMenuItem.dijitMenuItemFocused td.dijitMenuItemLabel,
.curam-extapp.oneui .oneuiHeaderNavigationMenu .dijitMenuTable tr.dijitMenuItem.dijitMenuItemFocused td.oneuiMenuHeadingLabel,
.curam-extapp.oneui .oneuiHeaderNavigationSubmenu .dijitMenuTable tr.dijitMenuItem.dijitMenuItemFocused td.oneuiMenuHeadingLabel,
.curam-extapp.oneui .oneuiHeader2ndLevMenu .dijitMenuTable tr.dijitMenuItem.dijitMenuItemFocused td.dijitMenuItemLabel,
.curam-extapp.oneui .oneuiHeader2ndLevSubmenu .dijitMenuTable tr.dijitMenuItem.dijitMenuItemFocused td.dijitMenuItemLabel,
.curam-extapp.oneui .oneuiHeader2ndLevMenu .dijitMenuTable tr.dijitMenuItem.dijitMenuItemFocused td.oneuiMenuHeadingLabel,
.curam-extapp.oneui .oneuiHeader2ndLevSubmenu .dijitMenuTable tr.dijitMenuItem.dijitMenuItemFocused td.oneuiMenuHeadingLabel,
.curam-extapp.oneui .oneuiHeaderGlobalActionsMenu .dijitMenuTable tr.dijitMenuItem.dijitMenuItemFocused td.dijitMenuItemLabel,
.curam-extapp.oneui .oneuiHeaderGlobalActionsSubmenu .dijitMenuTable tr.dijitMenuItem.dijitMenuItemFocused td.dijitMenuItemLabel,
.curam-extapp.oneui .oneuiHeaderGlobalActionsMenu .dijitMenuTable tr.dijitMenuItem.dijitMenuItemFocused td.oneuiMenuHeadingLabel,
.curam-extapp.oneui .oneuiHeaderGlobalActionsSubmenu .dijitMenuTable tr.dijitMenuItem.dijitMenuItemFocused td.oneuiMenuHeadingLabel{
		padding: 0px;
}
.curam-extapp.oneui .oneuiHeaderNavigationMenu .dijitMenuTable tr.dijitMenuItem.dijitMenuItemFocused:first-child>td.dijitMenuItemLabel,
.curam-extapp.oneui .oneuiHeaderNavigationSubmenu .dijitMenuTable tr.dijitMenuItem.dijitMenuItemFocused:first-child>td.dijitMenuItemLabel,
.curam-extapp.oneui .oneuiHeaderNavigationMenu .dijitMenuTable tr.dijitMenuItem.dijitMenuItemFocused:first-child>td.oneuiMenuHeadingLabel,
.curam-extapp.oneui .oneuiHeaderNavigationSubmenu .dijitMenuTable tr.dijitMenuItem.dijitMenuItemFocused:first-child>td.oneuiMenuHeadingLabel,
.curam-extapp.oneui .oneuiHeader2ndLevMenu .dijitMenuTable tr.dijitMenuItem.dijitMenuItemFocused:first-child>td.dijitMenuItemLabel,
.curam-extapp.oneui .oneuiHeader2ndLevSubmenu .dijitMenuTable tr.dijitMenuItem.dijitMenuItemFocused:first-child>td.dijitMenuItemLabel,
.curam-extapp.oneui .oneuiHeader2ndLevMenu .dijitMenuTable tr.dijitMenuItem.dijitMenuItemFocused:first-child>td.oneuiMenuHeadingLabel,
.curam-extapp.oneui .oneuiHeader2ndLevSubmenu .dijitMenuTable tr.dijitMenuItem.dijitMenuItemFocused:first-child>td.oneuiMenuHeadingLabel,
.curam-extapp.oneui .oneuiHeaderGlobalActionsMenu .dijitMenuTable tr.dijitMenuItem.dijitMenuItemFocused:first-child>td.dijitMenuItemLabel,
.curam-extapp.oneui .oneuiHeaderGlobalActionsSubmenu .dijitMenuTable tr.dijitMenuItem.dijitMenuItemFocused:first-child>td.dijitMenuItemLabel,
.curam-extapp.oneui .oneuiHeaderGlobalActionsMenu .dijitMenuTable tr.dijitMenuItem.dijitMenuItemFocused:first-child>td.oneuiMenuHeadingLabel,
.curam-extapp.oneui .oneuiHeaderGlobalActionsSubmenu .dijitMenuTable tr.dijitMenuItem.dijitMenuItemFocused:first-child>td.oneuiMenuHeadingLabel{
	padding: 0px;
}

/*fix the flicker when you hover over menu item*/
.curam-extapp.oneui .dijitMenuTable tr.dijitMenuItem.dijitMenuItemFocused>td.dijitMenuItemIconCell {
border: 1px dotted #000000;
border-right: 0px none transparent;
}
.curam-extapp.oneui .dijitMenuTable tr.dijitMenuItem.dijitMenuItemFocused>td.dijitMenuItemLabel {
border-top: 1px dotted #000000;
border-bottom: 1px dotted #000000;
}
.curam-extapp.oneui .dijitMenuTable tr.dijitMenuItem.dijitMenuItemFocused>td.dijitMenuArrowCell {
border: 1px dotted #000000;
border-left: 0px none transparent;
}
.curam-extapp.oneui .dijitMenuTable tr.dijitMenuItem>td.dijitMenuItemIconCell {
border: 1px solid transparent;
}
.curam-extapp.oneui .dijitMenuTable tr.dijitMenuItem>td.dijitMenuItemLabel {
border-top: 1px solid transparent;
border-bottom: 1px solid transparent;
}
.curam-extapp.oneui .dijitMenuTable tr.dijitMenuItem>td.dijitMenuArrowCell {
border: 1px solid transparent;
}
