/*
The html and body elements needs to have width and height applied to allow the
"root" container (#app-root) to match the browser viewport size.
See Dojo Border Container documentation for more details.
*/
html, body {
  height: 100%;
  /* 
  For a fixed width layout, change this to a pixel width. The margin settings
  below will ensure it is centered. 
  */
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  font-family: arial;
  overflow: hidden;
  /* TODO: font size.... */
}

/*TODO: move fading functionality to the "ExternalApplication" widget
(ExternalApplication.js\ExternalApplication.css). */ 
body.curam-extapp {
  opacity: 0;
  /*filter:alpha(opacity=0); TODO: ie8?*/
}


.curamApp .leftNavMenu 
{
	background: #047BB0;
	width: 150px;
	padding:0px;
	margin : 0px
	overflow : hidden;
	overflow : hidden;
}

/* To get an iframe to match its parent size (as it'ss resized also) it needs
(from experimenting!) the following:
1. An ancestor with explicit pixel dimensions: The Dojo "center" region, our "app-content" div.
2. An absolutely positioned parent div: Again, the Dojo "center" region,
   our "app-content" div, takes care of both of these requirements.
3. Display it as an absolutely positioned block element with top, bottom etc.
set to zero. And also set its width and height to 100%, see styles below.
This seems to work across all our supported browsers.  
*/
.curam-iframe {
  position: absolute;
  display: block;
  border: 0;
  margin: 0;
  padding: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /*width and height of 100%width seems to work ok for iframes. Doesn't cause a
  scrollbars on the parent container?*/
  width: 100%;
  height: 100%;
  
  background-color: white; /* only need this temporarily. The content within
  the iframe will have it's own background color */
  
  /*height: 2000px;*/
  
}

