.curam-extapp.mobile .curamOneuiHeader.idxHeaderContainer .idxHeaderPrimaryThick .idxHeaderPrimary li.idxHeaderPrimaryAction .idxHeaderDropDown.idxHeaderUserName {
  margin: 0px !important;
}

.curam-extapp.mobile .curamOneuiHeader.idxHeaderContainer .idxHeaderPrimary .idxHeaderDropDown.idxHeaderUserName span.idxHeaderDropDownArrow {
  background-position: center;
  padding: 20px 10px 0px 10px;
}

@media (max-width: 1025px) {
	.curam-extapp.mobile .idxHeaderContainer .idxHeaderPrimary ul.idxHeaderPrimaryActionsLeading {
		left: 20px !important;
		right: 0px;
	}	
}

/* Fix issue with dropdowns on iOS devices */
.dj_ios .oneui #app-content .dijitContentPane {
  overflow: hidden;
}