
body.curam-extapp.high-contrast #appHelpMenu .HMtitle,
body.curam-extapp.high-contrast #MMMenuID .MMtitle {
  font-size: 20pt;
  text-decoration: underline;
}

body.curam-extapp.high-contrast #appHelpMenu .HMtitle:hover,
body.curam-extapp.high-contrast .MMtitle:hover {
  font-size: 20pt;
  text-decoration: underline;
  color: #05386b;
}

body.curam-extapp.high-contrast #MMMenuID .MMtitle.xlarge,
body.curam-extapp.high-contrast #appHelpMenu .HMtitle.xlarge {
  font-size: 20pt;
  text-decoration: underline;
}

body.curam-extapp.high-contrast #MMMenuID .MMtitle.xlarge:hover,
body.curam-extapp.high-contrast #appHelpMenu .HMtitle.xlarge:hover {
  font-size: 20pt;
  text-decoration: underline;
  color: #05386b;
}

body.curam-extapp.high-contrast #appHelpMenu .HMdesc.xlarge,
body.curam-extapp.high-contrast#MMMenuID .MMdesc.xlarge {
 font-size: 13pt;
}

body.curam-extapp.high-contrast #MMMenuID .MMtitle.large,
body.curam-extapp.high-contrast #appHelpMenu .HMtitle.large {
  font-size: 20pt;
  text-decoration: underline;
}

body.curam-extapp.high-contrast #MMMenuID .MMtitle.large:hover,
body.curam-extapp.high-contrast #appHelpMenu .HMtitle.large:hover {
  font-size: 20pt;
  text-decoration: underline;
  color: #05386b;
}

body.curam-extapp.high-contrast #appHelpMenu .HMdesc.large,
.body.curam-extapp.high-contrast #MMMenuID .MMdesc.large {
  font-size: 13pt;
}

body.curam-extapp.high-contrast #MMMenuID .MMtitle.medium,
body.curam-extapp.high-contrast #appHelpMenu .HMtitle.medium {
  font-size: 20pt;
  text-decoration: underline; 
}

body.curam-extapp.high-contrast #MMMenuID .MMtitle.medium:hover,
body.curam-extapp.high-contrast #appHelpMenu .HMtitle.medium:hover {
  font-size: 20pt;
  text-decoration: underline;
  color: #05386b;
}

body.curam-extapp.high-contrast #appHelpMenu .HMdesc.medium,
body.curam-extapp.high-contrast #MMMenuID .MMdesc.medium {
  font-size: 13pt;
}

body.curam-extapp.high-contrast #MMMenuID .MMtitle.medium,
body.curam-extapp.high-contrast #appHelpMenu .HMtitle.medium {
  font-size: 20pt;
  text-decoration: underline;
}

body.curam-extapp.high-contrast #MMMenuID .MMtitle.medium:hover,
body.curam-extapp.high-contrast #appHelpMenu .HMtitle.medium:hover {
  font-size: 20pt;
  text-decoration: underline;
  color: #05386b;
}

body.oneui.high-contrast .oneuiHeaderNavigationMenu .dijitMenu .idxHeaderNavCurrentPage, 
body.oneui.high-contrast .oneuiHeaderNavigationMenu .dijitMenuActive .dijitMenuItemHover, 
body.oneui.high-contrast .oneuiHeaderNavigationMenu .dijitMenuActive .dijitMenuItemSelected {
    background-color: #cce8f2;    
    border: 2px solid #000000;
}
