.citizen-portal-list tbody tr:first-child td {
  border-top: none;
}

.citizen-portal-list tbody tr.even td {
  background-color: #eaf5fc;
}

.citizen-portal-cluster .input-cluster td {
  background-color: #ffffff;
}

.citizen-portal-cluster td.label {
  background-color: #ffffff;
}

.oneui .cw-contrast-mode-selector {
    text-align: right;
}

.oneui .cw-contrast-mode-selector a,
.oneui .cw-contrast-mode-selector a:visited,
.oneui.high-contrast .cw-contrast-mode-selector a,
.oneui.high-contrast .cw-contrast-mode-selector a:visited {
    color: #745285 !important;
    text-decoration: none !important;
    cursor: pointer; cursor: hand;
}

.oneui.high-contrast .cw-contrast-mode-selector a.selectedContrastMode,
.oneui .cw-contrast-mode-selector a.selectedContrastMode,
.oneui .cw-contrast-mode-selector a.selectedContrastMode:visited,
.oneui.high-contrast .cw-contrast-mode-selector a.selectedContrastMode:visited {
    color: #00649d !important;
    text-decoration: none !important;
    cursor: pointer; cursor: hand;
}


#Curam_CitizenWorkspace_searchPDFOfficeByZip .page-title-bar {
  background-color: #eaf5fc;
}

#Curam_CitizenWorkspace_searchPDFOfficeByZip .help {
  visibility: hidden;
}

#Curam_CitizenWorkspace_searchPDFOfficeByCounty .page-title-bar {
  background-color: #eaf5fc;
}

#Curam_CitizenWorkspace_searchPDFOfficeByCounty .help {
  visibility: hidden;
}

#Curam_CitizenWorkspace_searchProgramOfficeByZip .page-title-bar {
  background-color: #eaf5fc;
}

#Curam_CitizenWorkspace_searchProgramOfficeByZip .help {
  visibility: hidden;
}

#Curam_CitizenWorkspace_searchProgramOfficeByCounty .page-title-bar {
  background-color: #eaf5fc;
}

#Curam_CitizenWorkspace_searchProgramOfficeByCounty .help {
  visibility: hidden;
}

/* START CSS specifying page icons*/
/* This CSS should be removed once TEC-13031 is implemented. */
/*
#Curam_CitizenAccount_home .page-header .page-title-bar {
  background: url("../extapp/images/Home.png") no-repeat top left;
}
#Curam_CitizenAccount_listPayments .page-header .page-title-bar {
  background: url("../extapp/images/Payments.png") no-repeat top left;
}

#Curam_CitizenAccount_listCitizenActivities .page-header .page-title-bar {
  background: url("../extapp/images/Activities.png") no-repeat top left;
}

#Curam_CitizenAccount_listMyApplications .page-header .page-title-bar {
  background: url("../extapp/images/Applications.png") no-repeat top left;
}



#Curam_CitizenAccount_listContactInformation .page-header .page-title-bar {
  background: url("../extapp/images/Contact_info.png") no-repeat top left;
}

*/


#Curam_CitizenAccount_lifeEventUpdates .page-header .page-title-bar {
  background: url("../extapp/images/My_Updates.png") no-repeat top left;
  background-position : 25px 15px;
  background-color : #fafafa;
}
#Curam_CitizenAccount_lifeEventUpdates .pageDescriptionStyle td{
     color : #666666;  
}
#Curam_CitizenAccount_lifeEventUpdates .pageDescriptionStyle{
     padding : 0px;   
}
#Curam_CitizenAccount_lifeEventUpdates #content{
     padding-top: 0px;   
}

/*
#Curam_CitizenAccount_listLifeEvents .page-header .page-title-bar {
  background: url("../extapp/images/My_Updates.png") no-repeat top left;
}

#Curam_CitizenAccount_savedScreenings .page-header .page-title-bar {
  background: url("../extapp/images/Screenings.png") no-repeat top left;
}


#Curam_CitizenWorkspace_listSavedScreenings .page-header .page-title-bar {
  background: url("../extapp/images/Screenings.png") no-repeat top left;
}

#Curam_CitizenAccount_myInformation .page-header .page-title-bar {
  background: url("../extapp/images/My_info.png") no-repeat top left;
}


#Curam_StandardUser_home .page-header .page-title-bar {
  background: url("../extapp/images/Home.png") no-repeat top left;
}



#Curam_CitizenWorkspace_ContactUs .page-header .page-title-bar {
  background: url("../extapp/images/Contact_Us.png") no-repeat top left;
}



#Curam_CitizenWorkspace_FAQ .page-header .page-title-bar {
  background: url("../extapp/images/FAQ.png") no-repeat top left;
}

#Curam_CitizenAccount_viewLifeEventLaunch .page-header .page-title-bar {
    background: url("../extapp/images/My_Updates.png") no-repeat top left;
}
#Curam_CitizenAccount_viewLifeEventPostSubmit .page-header .page-title-bar {
    background: url("../extapp/images/My_Updates.png") no-repeat top left;
}
#Curam_CitizenWorkspace_apply .page-header .page-title-bar {
    background: url("../extapp/images/Apply_for_benefits.png") no-repeat top left;
}
*/

/* END CSS specifying page icons*/


/* 
 * Fix sytling of menu items. GUM-3250.
 */
.CITWSAPP #MMMenuID td.dijitMenuItemLabel, 
.CITWSAPP #MMMenuID td.dijitMenuItemLabel .MMItemContainer  {
	width: 100%;
}



/* GUM-3450 */
#Curam_CitizenAccount_createActivityComment .cluster table td.field textarea.dijitTextArea {
	padding-right: 5px;
}


/* start WITHDRAW APPLICATION start */

#Curam_CitizenWorkspace_withdrawIntakeApplication.modal #mainForm .input-cluster th,
#Curam_CitizenWorkspace_withdrawIntakeApplication.modal #mainForm .input-cluster td{
	padding-top : 0px
}

#Curam_CitizenWorkspace_withdrawIntakeApplication.modal div#content table td.field 
.dijitTextBox .dijitInputField {
	margin-top: 0px;
}

#Curam_CitizenWorkspace_withdrawIntakeApplication.modal .reasonCluster table.input-cluster td 
.dijitInline.dijitReset.dijitLeft.idxComposite.codetable.idxSelectWrap{
    margin-top: 0px;
    width : 50%;
}

#Curam_CitizenWorkspace_withdrawIntakeApplication.modal .reasonCluster table.input-cluster td 
.dijitInline.dijitReset.dijitLeft.idxComposite.text.idxTextBoxWrap{

    width : 80%;
}

#Curam_CitizenWorkspace_withdrawIntakeApplication.modal .reasonCluster span.label{
	position : relative;
	top : 8px
}

#Curam_CitizenWorkspace_withdrawIntakeApplication.modal #mainForm .input-cluster td .dijitTextBox input{
	padding-bottom : 1px;
	height : 20px;
}

#Curam_CitizenWorkspace_withdrawIntakeApplication.modal .cluster{
	padding-bottom : 0px;
}

#Curam_CitizenWorkspace_withdrawIntakeApplication.modal .cluster .header-wrapper p{
    margin-top : 15px;
	font : 90% Arial!important;
	color : black;
	margin-bottom : 15px
}

#Curam_CitizenWorkspace_withdrawIntakeApplication.modal.list 
.header-wrapper h2 span, .cluster .header-wrapper h2 span
{
    font:65% Tahoma;
}

#Curam_CitizenWorkspace_withdrawIntakeApplication.modal .cluster table th.label{
	font : 90% Arial!important;
	color : black;
}

#Curam_CitizenWorkspace_withdrawIntakeApplication.modal div#content table td.field div {
    margin-top: 5px;
}


#Curam_CitizenWorkspace_withdrawIntakeApplication.modal .cluster.cluster-with-header.is-uncollapsed.label-field.cluster-inner-tds-no-padding table{
	background-color:#cce8f2;
	padding-bottom : 7px;
	padding-left : 6px;
	padding-right : 6px;
	padding-top : 0px;
	margin-top : 5px
}

#Curam_CitizenWorkspace_withdrawIntakeApplication.modal div#content
.cluster.cluster-with-header.is-uncollapsed.label-field.cluster-inner-tds-no-padding 
table td.field  div{
	margin-top: 0px;
}

#Curam_CitizenWorkspace_withdrawIntakeApplication.modal 
.cluster.cluster-with-header.is-uncollapsed.label-field.cluster-inner-tds-no-padding table 
.first-col.last-col.top .cluster.cluster-with-no-header.field-label{
	margin-top : 0px;
}

#Curam_CitizenWorkspace_withdrawIntakeApplication.modal 
.cluster.cluster-with-header.is-uncollapsed.label-field.cluster-inner-tds-no-padding table 
.first-col.last-col.top .cluster.cluster-with-no-header.field-label table{
	padding-top : 0px;
	padding-bottom : 0px;
}

#Curam_CitizenWorkspace_withdrawIntakeApplication.modal 
.cluster.cluster-with-header.is-uncollapsed.label-field.cluster-inner-tds-no-padding table 
.first-col.last-col.top .cluster.cluster-with-no-header.field-label table td input{
	margin-left : 0px;
	margin-right : 0px;
	width : 14px;
}

#Curam_CitizenWorkspace_withdrawIntakeApplication.modal 
.cluster.cluster-with-header.is-uncollapsed.label-field.cluster-inner-tds-no-padding table 
.first-col.last-col.top .cluster.cluster-with-no-header.field-label table th span{
	padding-left : 0px;
}

#Curam_CitizenWorkspace_withdrawIntakeApplication.modal 
.cluster.cluster-with-header.is-uncollapsed.label-field.cluster-inner-tds-no-padding table 
.first-col.last-col.top .cluster.cluster-with-no-header.label-field.cluster-no-border-all{
	margin-top : 0px;
}

#Curam_CitizenWorkspace_withdrawIntakeApplication.modal 
.cluster.cluster-with-header.is-uncollapsed.label-field.cluster-inner-tds-no-padding table 
.first-col.last-col.top .cluster.cluster-with-no-header.label-field.cluster-no-border-all div{
	margin-top : 0px;
}

#Curam_CitizenWorkspace_withdrawIntakeApplication.modal 
.cluster.cluster-with-header.is-uncollapsed.label-field.cluster-inner-tds-no-padding table 
.first-col.last-col.top .cluster.cluster-with-no-header.label-field.cluster-no-border-all div table{
	padding-top : 0px;
	padding-bottom : 0px
}

/* Required to hide accessibility text. */

/* Use this style to position items off screen that we want the
 * screen reader to still read. This is used as a workaround 
 * where CSS background images are used instead of inline images.
 */
/* Also target other styles to fix accessibility issues. Rules here match, v6.css styles */
.hiddenControlForScreenReader,
body.soria span.hidden, 
body.soria table .hidden, 
body.soria .dijitDialog .closeText, 
body.soria #app-banner-dc .hidden, 
body.soria div.access.hidden,
body.curam-extapp span.hidden {
  position:absolute;
  left:-1000000px;
  display:inline;
}
/* end WITHDRAW APPLICATION end */
