.rtl.oneui .cw-contrast-mode-selector {
  text-align: left;
}

#Curam_CitizenAccount_lifeEventUpdates.rtl .page-header .page-title-bar {
background: url("../extapp/images/My_Updates.png") no-repeat right 15px;
}

/* GUM-3450 */
#Curam_CitizenAccount_createActivityComment.rtl .cluster table td.field textarea.dijitTextArea {
padding-right: 0px;
padding-left: 5px;
}


/* start WITHDRAW APPLICATION start */

#Curam_CitizenWorkspace_withdrawIntakeApplication.modal.rtl 
.cluster.cluster-with-header.is-uncollapsed.label-field.cluster-inner-tds-no-padding table 
.first-col.last-col.top .cluster.cluster-with-no-header.field-label table th span{
padding-right : 0px;
}
#Curam_CitizenWorkspace_withdrawIntakeApplication.modal.rtl 
.cluster.cluster-with-header.is-uncollapsed.label-field.cluster-inner-tds-no-padding table 
.first-col.last-col.top .cluster.cluster-with-no-header.field-label table th span.mandatory-label{
padding-left : 10px;
}

/* Required to hide accessibility text. */

/* Use this style to position items off screen that we want the
* screen reader to still read. This is used as a workaround 
* where CSS background images are used instead of inline images.
*/
/* Also target other styles to fix accessibility issues. Rules here match, v6.css styles */
.rtl .hiddenControlForScreenReader,
body.soria.rtl span.hidden, 
body.soria.rtl table .hidden, 
body.soria.rtl .dijitDialog .closeText, 
body.soria.rtl #app-banner-dc .hidden, 
body.soria.rtl div.access.hidden,
body.curam-extapp.rtl span.hidden {
left:auto;
right:-1000000px;
}
/* end WITHDRAW APPLICATION end */
