/* BEGIN, 169689, MJ */
/* Custom Pagination Citizen Portal Start */

div.pagination-gui-container {
}
ul.pagination-control-list {
border:0;
margin:0;
padding:0;
list-style:none;
}
li.pagination-control-list-item {
border:0;
padding:3px 4px;
display:block;
list-style:none;
float:left;
margin-right:2px;
}
li.pagination-control-list-item.enabled a.pagination-link {
display:inline;
}
li.pagination-control-list-item.enabled p.pagination-text {
display:none;
}
.soria div.pagination-gui-container li.pagination-control-list-item.disabled a.pagination-link {
visibility:hidden;
}
li.pagination-control-list-item.disabled p.pagination-text {
display:block;
}
p.pagination-page-size-dropdown-label {
display:inline;
}
div.pagination-direct-links-dots li.pagination-direct-link.first.has-previous {
display:inline;
}
li.pagination-direct-link.last.has-next div.pagination-direct-links-dots {
display:inline;
}
 
div.pagination-gui-container ul.pagination-control-list li.display_info.pagination-control-list-item > p {
margin-top:0;
}
/* Custom Pagination Citizen Portal END */
/* END, 169689 */