/* This file should be removed when oneui styling is available in the external container iframe after calling displayContent(). At that point all references to lifeeventoneui should be removed  */

.lifeeventoneui .dijitToggleButton, 
.lifeeventoneui .dijitButton, 
.lifeeventoneui .dijitDropDownButton, 
.lifeeventoneui .dijitComboButton{
	margin: 0.2em 5px; 
}
 
.lifeeventoneui .dijitButtonNode {
  /* rules for dijit.form.*Button widgets and arrow nodes on ComboBox, Spinner etc. */
	-webkit-transition-property: background-color;
	-moz-transition-property: background-color;
	transition-property: background-color;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.lifeeventoneui .dijitButton .dijitButtonNode,
.lifeeventoneui .dijitButton .dijitButtonHover,
.lifeeventoneui .dijitDropDownButton .dijitButtonNode,
.lifeeventoneui .dijitComboButton .dijitButtonNode,
.lifeeventoneui .dijitToggleButton .dijitButtonNode {
  /* rules for the dijit.form.*Button widgets (see also ComboButton section below) */
	padding: 4px 10px 4px;
	background-color: #fc9540;
	background-image: -moz-linear-gradient(top, #fc9540, #f67d19);
	background-image: -webkit-gradient(linear,0% 0%,0% 100%,from(#fc9540),to(#f67d19));
	background-image: -webkit-linear-gradient(top,  #fc9540 0%,#f67d19 100%); /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top,  #fc9540 0%,#f67d19 100%); /* Opera 11.10+ */
	background-image: -ms-linear-gradient(top,  #fc9540 0%,#f67d19 100%); /* IE10+ */
	background-image: linear-gradient(top,  #fc9540 0%,#f67d19 100%); /* W3C */
	/*
	filter: progid:DXImageTransform.Microsoft.gradient( GradientType=0, startColorstr='#f4f4f4', endColorstr='#dbdbdb'); 
	*/
	border: 1px solid #c3c3c3;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
	color: #FFFFFF;
	text-shadow:0px 1px 0px #ffffff;
	font-weight: bold;
}
.dj_webkit .lifeeventoneui .dijitButton .dijitButtonNode,
.dj_webkit .lifeeventoneui .dijitDropDownButton .dijitButtonNode,
.dj_webkit .lifeeventoneui .dijitComboButton .dijitButtonNode,
.dj_webkit .lifeeventoneui .dijitToggleButton .dijitButtonNode{
	padding: 3px 10px 4px;
}
.lifeeventoneui .dijitDropDownButton .dijitButtonNode {
	padding-right: 2px;
}
.lifeeventoneui .dijitComboButton .dijitButtonNode {
	padding-right: 0px;
}
.lifeeventoneui .dijitComboButton .dijitArrowButton {
	border-left-width: 0;
	padding: 4px 2px;
}
/*arrow styles for down/up/left/right directions*/
.lifeeventoneui .dijitArrowButtonInner {
	width: 15px;
	height: 15px;
	margin: 0 auto;
	background-image: url("images/buttonArrows.png");
	background-repeat: no-repeat;
	background-position: -151px 0px;
}
.dj_ie6 .lifeeventoneui .dijitArrowButtonInner {
	background-image: url("images/buttonArrows8bit.png");
}
.lifeeventoneui .dijitDisabled .dijitArrowButtonInner {
	background-position: -151px 0px;
}
.lifeeventoneui .dijitComboButtonHover .dijitArrowButtonInner,
.lifeeventoneui .dijitDropDownButtonHover .dijitArrowButtonInner,
.lifeeventoneui .dijitComboButtonActive .dijitArrowButtonInner,
.lifeeventoneui .dijitDropDownButtonActive .dijitArrowButtonInner  {
	background-position: -51px -0px;
}

/*left*/
.lifeeventoneui .dijitLeftArrowButton .dijitArrowButtonInner {
	background-position: -176px -1px;
}
.lifeeventoneui .dijitDisabled .dijitLeftArrowButton .dijitArrowButtonInner {
	background-position: -176px -1px;
}
.lifeeventoneui .dijitComboButtonHover .dijitLeftArrowButton .dijitArrowButtonInner,
.lifeeventoneui .dijitDropDownButtonHover .dijitLeftArrowButton .dijitArrowButtonInner,
.lifeeventoneui .dijitComboButtonActive .dijitLeftArrowButton .dijitArrowButtonInner,
.lifeeventoneui .dijitDropDownButtonActive .dijitLeftArrowButton .dijitArrowButtonInner  {
	background-position: -76px -1px;
}

/*right*/
.lifeeventoneui .dijitRightArrowButton .dijitArrowButtonInner {
	background-position: -125px -1px;
}
.lifeeventoneui .dijitDisabled .dijitRightArrowButton .dijitArrowButtonInner {
	background-position: -125px -1px;
}
.lifeeventoneui .dijitComboButtonHover .dijitRightArrowButton .dijitArrowButtonInner,
.lifeeventoneui .dijitDropDownButtonHover .dijitRightArrowButton .dijitArrowButtonInner,
.lifeeventoneui .dijitComboButtonActive .dijitRightArrowButton .dijitArrowButtonInner,
.lifeeventoneui .dijitDropDownButtonActive .dijitRightArrowButton .dijitArrowButtonInner {
	background-position: -25px -1px;
}

/*up*/
.lifeeventoneui .dijitUpArrowButton .dijitArrowButtonInner {
	background-position: -100px -2px;
}
.lifeeventoneui .dijitDisabled .dijitUpArrowButton .dijitArrowButtonInner {
	background-position: -100px -2px;
}
.lifeeventoneui .dijitComboButtonHover .dijitUpArrowButton .dijitArrowButtonInner,
.lifeeventoneui .dijitDropDownButtonHover .dijitUpArrowButton .dijitArrowButtonInner,
.lifeeventoneui .dijitComboButtonActive .dijitUpArrowButton .dijitArrowButtonInner,
.lifeeventoneui .dijitDropDownButtonActive .dijitUpArrowButton .dijitArrowButtonInner {
	background-position: 0px -2px;
}

/*arrow finish*/
.lifeeventoneui .dijitButtonText {
	padding: 0 0.3em;
	text-align: center;
}
.lifeeventoneui .dijitDropDownButton .dijitIcon, 
.lifeeventoneui .dijitComboButton .dijitIcon {
	margin-right: 5px;
}
.lifeeventoneui .dijitDropDownButton .dijitButtonText, 
.lifeeventoneui .dijitComboButton .dijitButtonText {
	padding: 0 30px 0 0;
}
/* focused status */
.lifeeventoneui .dijitButtonFocused .dijitButtonContents,
.lifeeventoneui .dijitDropDownButtonFocused .dijitButtonContents,
.lifeeventoneui .dijitToggleButtonFocused .dijitButtonContents {
	outline: none;
}
.lifeeventoneui .dijitButtonFocused .dijitButtonNode,
.lifeeventoneui .dijitDropDownButtonFocused .dijitButtonNode,
.lifeeventoneui .dijitToggleButtonFocused .dijitButtonNode {
	outline: 1px dotted #000000;
	/*outline: 1px dotted rgba(0, 0, 0, 0.5);*/
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
/* hover status */
.lifeeventoneui .dijitButtonHover .dijitButtonNode,
.lifeeventoneui .dijitDropDownButtonHover .dijitButtonNode,
.lifeeventoneui .dijitComboButtonHover .dijitButtonNodeHover,
.lifeeventoneui .dijitComboButtonHover .dijitDownArrowButtonHover,
.lifeeventoneui .dijitToggleButtonHover .dijitButtonNode {
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	transition-duration: 0.2s;
	background-color: #FAA157;
	background-image: -moz-linear-gradient(top, #FAA157, #F08D3C);
	background-image: -webkit-gradient(linear,0% 0%,0% 100%,from(#FAA157),to(#F08D3C));
	background-image: -webkit-linear-gradient(top,  #FAA157 0%,#F08D3C 100%); /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top,  #FAA157 0%,#F08D3C 100%); /* Opera 11.10+ */
	background-image: -ms-linear-gradient(top,  #FAA157 0%,#F08D3C 100%); /* IE10+ */
	background-image: linear-gradient(top,  #FAA157 0%,#F08D3C 100%); /* W3C */
	/*
	filter: progid:DXImageTransform.Microsoft.gradient( GradientType=0, startColorstr='#fefefe', endColorstr='#cccccc'); 
	*/
	border: 1px solid -moz-linear-gradient(top, #fdfdfd, #e4e4e4);
	border: 1px solid -webkit-gradient(linear,0% 0%,100% 100%,from(#fdfdfd),to(#e4e4e4));
}
/* active status */
.lifeeventoneui .dijitButtonActive .dijitButtonNode,
.lifeeventoneui .dijitDropDownButtonActive .dijitButtonNode,
.lifeeventoneui .dijitComboButtonActive .dijitButtonNodeActive,
.lifeeventoneui .dijitComboButtonActive .dijitDownArrowButtonActive,
.lifeeventoneui .dijitToggleButtonActive .dijitButtonNode {
	-webkit-transition-duration: 0.1s;
	-moz-transition-duration: 0.1s;
	transition-duration: 0.1s;
	background-color: #fc9540;
	background-image: -moz-linear-gradient(top, #dbdbdb, #f4f4f4);
	background-image: -webkit-gradient(linear,0% 0%,0% 100%,from(#dbdbdb),to(#f4f4f4));
	background-image: -webkit-linear-gradient(top, #dbdbdb 0%, #f4f4f4 100%); /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top, #dbdbdb 0%, #f4f4f4 100%); /* Opera 11.10+ */
	background-image: -ms-linear-gradient(top, #dbdbdb 0%, #f4f4f4 100%); /* IE10+ */
	background-image: linear-gradient(top,  #dbdbdb 0%, #f4f4f4 100%); /* W3C */
	/*
	filter: progid:DXImageTransform.Microsoft.gradient( GradientType=0, startColorstr='#dbdbdb', endColorstr='#f4f4f4'); 
	*/
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1) inset;
	color: #515151;
	outline: none;
}

.dj_opera .lifeeventoneui .dijitButtonActive .dijitButtonNode,
.dj_opera .lifeeventoneui .dijitDropDownButtonActive .dijitButtonNode,
.dj_opera .lifeeventoneui .dijitComboButtonActive .dijitButtonNodeActive,
.dj_opera .lifeeventoneui .dijitComboButtonActive .dijitDownArrowButtonActive,
.dj_opera .lifeeventoneui .dijitToggleButtonActive .dijitButtonNode {
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}

/* disabled status */
.lifeeventoneui .dijitButtonDisabled,
.lifeeventoneui .dijitDropDownButtonDisabled,
.lifeeventoneui .dijitComboButtonDisabled,
.lifeeventoneui .dijitToggleButtonDisabled {
	background-image: none;
	outline: none;
}
.lifeeventoneui .dijitButtonDisabled .dijitButtonNode,
.lifeeventoneui .dijitDropDownButtonDisabled .dijitButtonNode,
.lifeeventoneui .dijitComboButtonDisabled .dijitButtonNode,
.lifeeventoneui .dijitToggleButtonDisabled .dijitButtonNode {
	color: #818181;
}
.dj_ie .lifeeventoneui .dijitButtonDisabled .dijitButtonNode,
.dj_ie .lifeeventoneui .dijitDropDownButtonDisabled .dijitButtonNode,
.dj_ie .lifeeventoneui .dijitComboButtonDisabled .dijitButtonNode,
.dj_ie .lifeeventoneui .dijitToggleButtonDisabled .dijitButtonNode {
	color: #818181;
}
.lifeeventoneui .dijitComboButtonDisabled .dijitArrowButton {
	border-left-width: 0;
}
/* for ComboButton */
.lifeeventoneui table.dijitComboButton {
	border-collapse: separate;
	/* override dijit.css so that ComboBox rounded corners work */

}
.dj_ie6 .lifeeventoneui .dijitButtonNode {
	background-image: none;
}
.lifeeventoneui .dijitComboButton .dijitStretch {
	-moz-border-radius: 3px 0 0 3px;
	-webkit-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
}
.lifeeventoneui .dijitComboButton .dijitArrowButton {
	-moz-border-radius: 0 3px 3px 0;
	-webkit-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
}



/* DropDown & Combo Button */
/*
.lifeeventoneui .dijitDropDownButton .dijitButtonNode,
.lifeeventoneui .dijitComboButton .dijitButtonNode{
	background-color: #fcfcfc;
	background-image: -moz-linear-gradient(top, #fcfcfc, #ececec);
	background-image: -webkit-gradient(linear,0% 0%,0% 100%,from(#fcfcfc),to(#ececec));
}
.lifeeventoneui .dijitDropDownButtonHover .dijitButtonNode,
.lifeeventoneui .dijitComboButtonFocused .dijitHasDropDownOpen{
	background-color: #e5e5e5;
	background-image: -moz-linear-gradient(top, #f5f5f5, #e0e0e0);
	background-image: -webkit-gradient(linear,0% 0%,0% 100%,from(#f5f5f5),to(#e0e0e0));
}
*/
.lifeeventoneui .dijitComboButtonHover .dijitButtonNodeHover,
.lifeeventoneui .dijitComboButtonHover .dijitDownArrowButtonHover{
	background-color: #fc9540;
	background-image: -moz-linear-gradient(top, #ededed, #cccccc);
	background-image: -webkit-gradient(linear,0% 0%,0% 100%,from(#ededed),to(#cccccc));
	background-image: -webkit-linear-gradient(top, #ededed 0%, #cccccc 100%); /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top, #ededed 0%, #cccccc 100%); /* Opera 11.10+ */
	background-image: -ms-linear-gradient(top, #ededed 0%, #cccccc 100%); /* IE10+ */
	background-image: linear-gradient(top,  #ededed 0%, #cccccc 100%); /* W3C */
	/*
	filter: progid:DXImageTransform.Microsoft.gradient( GradientType=0, startColorstr='#ededed', endColorstr='#cccccc'); 
	*/
}
/*
.lifeeventoneui .dijitDropDownButtonActive .dijitButtonNode,
.lifeeventoneui .dijitComboButtonActive .dijitButtonNodeActive,
.lifeeventoneui .dijitComboButtonActive .dijitDownArrowButtonActive{
	background-color: #cccccc;
	background-image: -moz-linear-gradient(top, #ededed, #dadada);
	background-image: -webkit-gradient(linear,0% 0%,0% 100%,from(#ededed),to(#dadada));
}
*/
.lifeeventoneui .dijitDropDownButtonDisabled .dijitButtonNode,
.lifeeventoneui .dijitComboButtonDisabled .dijitButtonNode{
	background-color: #fc9540;
	color: #818181;
}

/* Toggle Button */
/*
.lifeeventoneui .dijitToggleButtonActive .dijitButtonNode{
	background-color: #ececec;
	background-image: -moz-linear-gradient(top, #fcfcfc, #ececec);
	background-image: -webkit-gradient(linear,0% 0%,0% 100%,from(#fcfcfc),to(#ececec));
	-webkit-box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.25) inset;
	-moz-box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.25) inset;
	box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.25) inset;
	color: #515151;
}
*/
.lifeeventoneui .dijitToggleButton .dijitButtonNode .dijitButtonContents{
	text-align: left;
}
.lifeeventoneui .dijitToggleButton .dijitButtonNode .dijitCheckBoxIcon {
    background-image: url("images/buttonToggle.png");
}
.dj_ie6 .lifeeventoneui .dijitToggleButton .dijitButtonNode .dijitCheckBoxIcon {
    background-image: url("images/buttonToggle8bit.png");
}
.lifeeventoneui .dijitToggleButton .dijitButtonNode .dijitCheckBoxIcon {
    /*background-position: -16px 50%;*/
	background-position: -1px -1px;
}
.lifeeventoneui .dijitToggleButtonHover .dijitButtonNode .dijitCheckBoxIcon {
    /*background-position: -16px 50%;*/
	background-position: -1px -1px;
}
.lifeeventoneui .dijitToggleButtonActive .dijitButtonNode .dijitCheckBoxIcon {
	background-position: -1px -217px;
}
.lifeeventoneui .dijitToggleButtonChecked .dijitButtonNode .dijitCheckBoxIcon {
    background-position: -1px -433px;
}
.lifeeventoneui .dijitToggleButtonCheckedHover .dijitButtonNode .dijitCheckBoxIcon {
	background-position: -1px -433px;
}
.lifeeventoneui .dijitToggleButtonCheckedActive .dijitButtonNode .dijitCheckBoxIcon {
	background-position: -1px -433px;
}
.lifeeventoneui .dijitToggleButtonDisabled .dijitButtonNode .dijitCheckBoxIcon {
	background-position: -1px -1px;
}


/* a11y */
.dijit_a11y .lifeeventoneui .dijitButtonNode {
	background: transparent none repeat scroll 0% 0%; 
	padding: 1px !important;
}
.dijit_a11y .lifeeventoneui .dijitButtonFocused .dijitButtonContents,
.dijit_a11y .lifeeventoneui .dijitDropDownButtonFocused .dijitButtonContents,
.dijit_a11y .lifeeventoneui .dijitToggleButtonFocused .dijitButtonContents {
	outline: 1px dotted #000000 !important;
	/*outline: 1px dotted rgba(0, 0, 0, 0.5) !important;*/
}
.dijit_a11y .lifeeventoneui .dijitButtonFocused .dijitButtonNode,
.dijit_a11y .lifeeventoneui .dijitDropDownButtonFocused .dijitButtonNode,
.dijit_a11y .lifeeventoneui .dijitToggleButtonFocused .dijitButtonNode {
	outline: none !important;
}

.lifeeventoneui .dijitButtonText {
    font-size: 16pt;
    font-weight: normal;
    padding: 0.3em 0;
    text-align: center;
}