/* styling for Online Appeals UI */

#content div div.launch-online-appeal-content h2
{
    font: 24px Arial !important;     
    color: #666666;
}

#content div div.launch-online-appeal-content h3
{
    font:300 15px arial !important;    
    color: #dd731c;
}

#content div div#le-apply-online-title
{
    padding-top: 5px;
    margin:0px 0px 0px 0px;     
    font: 24px Arial !important;     
    color: #666666;
}

#content div div.launch-online-appeal-titledesc
{
    float:left; 
    width: 60%;
    padding-top: 0px;     
    margin:0px 0px 0px 0px; 
}

#content div div.launch-online-appeal-titledesc-title
{
    width: 100%;    
    padding-top: 5px;
    margin:0px 0px 0px 0px;     
    font: 24px Arial !important;     
    color: #666666;
}

#Curam_CitizenWorkspace_appeals div#content table td.field div
{
    margin-top: 0px;
}

#content div div.launch-online-appeal-titledesc-desc 
{
    width: 100%;        
    font:300 15px arial !important;  
    color: #222222;
}

#content div div.launch-online-appeal-rights-titledesc {
    float:left; 
    width: 60%;
    margin:0px 25px 0px 0px;    

}

#content div div.launch-online-appeal-rights-titledesc-title {
    font: 24px Arial !important;     
    color: #666666;
}

#content div div.launch-online-appeal-content li {
   margin:0 0 5px 0;   
}

/* Button styling */
.launch-online-appeal-content .dijitButtonText {
    font-size: 16pt;
    font-weight: normal;
    padding: 0.3em 0;
    text-align: center;
}

.launch-online-appeal-content .dijitButtonNode {
  
    -webkit-transition-property: background-color;
    -moz-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.oneui .launch-online-appeal-content .dijitToggleButton, .oneui .launch-online-appeal-content .dijitButton, 
.oneui .launch-online-appeal-content .dijitDropDownButton, .oneui .launch-online-appeal-content .dijitComboButton
{
    margin-top: 20px;
}

.launch-online-appeal-content .dijitButton .dijitButtonNode,
.launch-online-appeal-content .dijitButton .dijitButtonHover,
.launch-online-appeal-content .dijitDropDownButton .dijitButtonNode,
.launch-online-appeal-content .dijitComboButton .dijitButtonNode,
.launch-online-appeal-content .dijitToggleButton .dijitButtonNode {
  /* rules for the dijit.form.*Button widgets (see also ComboButton section below) */
    padding: 4px 10px 4px;
    background-color: #fc9540;
    background-image: -moz-linear-gradient(top, #fc9540, #f67d19);
    background-image: -webkit-gradient(linear,0% 0%,0% 100%,from(#fc9540),to(#f67d19));
    background-image: -webkit-linear-gradient(top,  #fc9540 0%,#f67d19 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top,  #fc9540 0%,#f67d19 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  #fc9540 0%,#f67d19 100%); /* IE10+ */
    background-image: linear-gradient(top,  #fc9540 0%,#f67d19 100%); /* W3C */
    border: 1px solid #c3c3c3;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
    color: #FFFFFF;
    text-shadow:0px 1px 0px #ffffff;
    font-weight: bold;
}

/* hover status */
.launch-online-appeal-content .dijitButtonHover .dijitButtonNode,
.launch-online-appeal-content .dijitDropDownButtonHover .dijitButtonNode,
.launch-online-appeal-content .dijitComboButtonHover .dijitButtonNodeHover,
.launch-online-appeal-content .dijitComboButtonHover .dijitDownArrowButtonHover,
.launch-online-appeal-content .dijitToggleButtonHover .dijitButtonNode {
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    background-color: #FAA157;
    background-image: -moz-linear-gradient(top, #FAA157, #F08D3C);
    background-image: -webkit-gradient(linear,0% 0%,0% 100%,from(#FAA157),to(#F08D3C));
    background-image: -webkit-linear-gradient(top,  #FAA157 0%,#F08D3C 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top,  #FAA157 0%,#F08D3C 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  #FAA157 0%,#F08D3C 100%); /* IE10+ */
    background-image: linear-gradient(top,  #FAA157 0%,#F08D3C 100%); /* W3C */
    border: 1px solid -moz-linear-gradient(top, #fdfdfd, #e4e4e4);
    border: 1px solid -webkit-gradient(linear,0% 0%,100% 100%,from(#fdfdfd),to(#e4e4e4));
}

/* active status */
.launch-online-appeal-content .dijitButtonActive .dijitButtonNode,
.launch-online-appeal-content .dijitDropDownButtonActive .dijitButtonNode,
.launch-online-appeal-content .dijitComboButtonActive .dijitButtonNodeActive,
.launch-online-appeal-content .dijitComboButtonActive .dijitDownArrowButtonActive,
.launch-online-appeal-content .dijitToggleButtonActive .dijitButtonNode {
    -webkit-transition-duration: 0.1s;
    -moz-transition-duration: 0.1s;
    transition-duration: 0.1s;
    background-color: #fc9540;
    background-image: -moz-linear-gradient(top, #dbdbdb, #f4f4f4);
    background-image: -webkit-gradient(linear,0% 0%,0% 100%,from(#dbdbdb),to(#f4f4f4));
    background-image: -webkit-linear-gradient(top, #dbdbdb 0%, #f4f4f4 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, #dbdbdb 0%, #f4f4f4 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top, #dbdbdb 0%, #f4f4f4 100%); /* IE10+ */
    background-image: linear-gradient(top,  #dbdbdb 0%, #f4f4f4 100%); /* W3C */
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1) inset;
    color: #515151;
    outline: none;
}

#Curam_CitizenWorkspace_appealNextSteps h2 {
    color: #dd731c;
}