/* High contrast Dijit input field styles */
.oneui.high-contrast .dijitTextBox {
  border: 1px solid #666666 !important;
  color: #222222 !important; 
  background-color: #ffffff !important;
}

.oneui.high-contrast .dijitTextBoxHover, .oneui.high-contrast .dijitTextBoxHover .dijitButtonNode {
  border-color: #666666 !important;
  color: #222222 !important; 
}

.oneui.high-contrast .dijitTextBoxFocused, .oneui .dijitTextBoxFocused .dijitButtonNode {
  border-color: #666666 !important;
  color: #222222 !important; 
}

.oneui.high-contrast .page-header .page-title-bar .title h1 {
  display: inline;
  color: #C9350C;
  font-size: 28pt;
  font-weight: normal;
  margin: 0px;
  position: absolute;
  top: 9px;
  left: 75px;
  right: 0px;
}

.oneui.high-contrast .dijitDialogTitleBar { 
    padding: 20px 0;
    margin: 0 20px;
    border-bottom:1px solid #666666;
    background:#transparent;
}

.oneui.high-contrast .dijitDialogTitle { 
    font-weight: normal;
    font-size: 18pt;
    line-height: 1.2;
    color: #222222;
}

/* High contrast Dijit button styles */
.oneui.high-contrast .dijitButton .dijitButtonNode,
.oneui.high-contrast .dijitDropDownButton .dijitButtonNode,
.oneui.high-contrast .dijitComboButton .dijitButtonNode,
.oneui.high-contrast .dijitToggleButton .dijitButtonNode {
  
    padding: 4px 10px 4px;
    background-color: #f4f4f4;
    background-image: none;    
    border: 1px solid #626262;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
    color: #000000;
    text-shadow: none;
    font-weight: bold;
}

.oneui.high-contrast .dijitButtonHover .dijitButtonNode,
.oneui.high-contrast .dijitDropDownButtonHover .dijitButtonNode,
.oneui.high-contrast .dijitComboButtonHover .dijitButtonNodeHover,
.oneui.high-contrast .dijitComboButtonHover .dijitDownArrowButtonHover,
.oneui.high-contrast .dijitToggleButtonHover .dijitButtonNode {
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    background-color: #5f6165;    
    border: 1px solid #626262;
    background-image: none;
    color: #ffffff;
}

/* High contrast Life Event Dijit button styles */
.oneui.high-contrast .lifeeventoneui .dijitButton .dijitButtonNode,
.oneui.high-contrast .lifeeventoneui .dijitDropDownButton .dijitButtonNode,
.oneui.high-contrast .lifeeventoneui .dijitComboButton .dijitButtonNode,
.oneui.high-contrast .lifeeventoneui .dijitToggleButton .dijitButtonNode {
  
    padding: 4px 10px 4px;
    background-image: none;    
    background-image: -moz-linear-gradient(top, #C9350C, #AD3609);
    background-image: -webkit-gradient(linear,0% 0%,0% 100%,from(#C9350C),to(#AD3609));
    background-image: -webkit-linear-gradient(top, #C9350C 0%,#AD3609 100%);
    background-image: -o-linear-gradient(top, #C9350C 0%,#AD3609 100%);
    background-image: -ms-linear-gradient(top, #C9350C 0%,#AD3609 100%);
    background-image: linear-gradient(top, #C9350C 0%,#AD3609 100%);
    border: 1px solid #C93F0C;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
    color: #FFFFFF;
    text-shadow: none;
    font-size: 18pt;
    font-weight: bold;
}

.oneui.high-contrast .lifeeventoneui .dijitButtonHover .dijitButtonNode,
.oneui.high-contrast .lifeeventoneui .dijitDropDownButtonHover .dijitButtonNode,
.oneui.high-contrast .lifeeventoneui .dijitComboButtonHover .dijitButtonNodeHover,
.oneui.high-contrast .lifeeventoneui .dijitComboButtonHover .dijitDownArrowButtonHover,
.oneui.high-contrast .lifeeventoneui .dijitToggleButtonHover .dijitButtonNode {
    background-image: none;    
    background-image: -moz-linear-gradient(top, #FFFFFF, #FBF2EF);
    background-image: -webkit-gradient(linear,0% 0%,0% 100%,from(#FFFFFF),to(#FBF2EF));
    background-image: -webkit-linear-gradient(top, #FFFFFF 0%,#FBF2EF 100%);
    background-image: -o-linear-gradient(top, #FFFFFF 0%,#FBF2EF 100%);
    background-image: -ms-linear-gradient(top, #FFFFFF 0%,#FBF2EF 100%);
    background-image: linear-gradient(top, #FFFFFF 0%,#FBF2EF 100%);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;    
    border: 1px solid #626262;    
    font-size: 18pt;
    color: #C9350C;    
}


/* Action set in the cluster and modal dialog */
body.modal.high-contrast div.actions-panel .action-set .left-corner,
body.modal.high-contrast div#content .action-set.blue-action-set .left-corner {
  display: inline-block;
  color: black;
  cursor: pointer;
  font-weight: #000000;
  padding: 3px 10px 4px;
  min-width: 87px;
  text-align: center;
  white-space: nowrap;
  background-color: #F4F4F4;
  background-image: -moz-linear-gradient(top, #F4F4F4, #DBDBDB);
  background-image: -webkit-gradient(linear,0% 0%,0% 100%,from(#F4F4F4),to(#DBDBDB));
  background-image: -webkit-linear-gradient(top, #F4F4F4 0%,#DBDBDB 100%);
  background-image: -o-linear-gradient(top, #F4F4F4 0%,#DBDBDB 100%);
  background-image: -ms-linear-gradient(top, #F4F4F4 0%,#DBDBDB 100%);
  background-image: linear-gradient(top, #F4F4F4 0%,#DBDBDB 100%);
  border: 1px solid #626262;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-transition-property: background-color;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
  text-shadow: none;
}

body.modal.high-contrast div#content .action-set.blue-action-set .left-corner {
  display: inline-block;
  color: black;
  cursor: pointer;
  font-weight: #000000;
  padding: 3px 10px 4px;
  min-width: 87px;
  text-align: center;
  white-space: nowrap;
  background-color: #F4F4F4;
  background-image: -moz-linear-gradient(top, #F4F4F4, #DBDBDB);
  background-image: -webkit-gradient(linear,0% 0%,0% 100%,from(#F4F4F4),to(#DBDBDB));
  background-image: -webkit-linear-gradient(top, #F4F4F4 0%,#DBDBDB 100%);
  background-image: -o-linear-gradient(top, #F4F4F4 0%,#DBDBDB 100%);
  background-image: -ms-linear-gradient(top, #F4F4F4 0%,#DBDBDB 100%);
  background-image: linear-gradient(top, #F4F4F4 0%,#DBDBDB 100%);
  border: 1px solid #626262;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-transition-property: background-color;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
  text-shadow: none;
}

/*Hover status*/
body.modal.high-contrast div.actions-panel .action-set .left-corner:hover,
body.modal.high-contrast div#content .action-set.blue-action-set span.left-corner:hover {
  -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    background-color: #5f6165;
    background-image: none;
    color: #ffffff;
    border: 1px solid #626262;    
}

/*Active status*/
body.modal.high-contrast div.actions-panel .action-set .left-corner:active,
div#content .action-set.blue-action-set span.left-corner:active {
  -webkit-transition-duration: 0.1s;
    -moz-transition-duration: 0.1s;
    transition-duration: 0.1s;
    background-color: #5f6165;
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1) inset;
    color: #ffffff;
    border: 1px solid #626262;
    outline: none;
}

body.modal.high-contrast div.actions-panel .action-set .middle,
body.modal.high-contrast div#content .action-set.blue-action-set .middle {
  display: inline-block;
  padding: 0px 3px;
  white-space: nowrap;
  color: inherit;
  vertical-align: middle;
  font-size: 12px;
}

body.modal.high-contrast div.actions-panel .action-set .middle:hover,
body.modal.high-contrast div#content .action-set.blue-action-set .middle:hover {
  display: inline-block;
  padding: 0px 3px;
  white-space: nowrap;
  color: inherit;
  vertical-align: middle;
  font-size: 12px;
}

body.modal.high-contrast div.actions-panel .action-set .middle:active,
body.modal.high-contrast div#content .action-set.blue-action-set .middle:active {
  display: inline-block;
  padding: 0px 3px;
  white-space: nowrap;
  color: inherit;
  vertical-align: middle;
  font-size: 12px;
}

/* Blue button styles */
.oneui.high-contrast .idxSpecialButton .dijitButtonNode {
    background-color: #08729F;
    background-image: -moz-linear-gradient(top, #0A5986, #08729F);
    background-image: -webkit-gradient(linear,0% 0%,0% 100%,from(#0A5986),to(#08729F));
    background-image: -webkit-linear-gradient(top, #0A5986 0%, #08729F 100%); 
    background-image: -o-linear-gradient(top, #0A5986 0%, #08729F 100%); 
    background-image: -ms-linear-gradient(top, #0A5986 0%, #08729F 100%); 
    background-image: linear-gradient(top,  #0A5986 0%, #08729F 100%);     
    border-top: 1px solid #0b4d73;
    border-bottom: 1px solid #0b4d73;
    border-left: 1px solid #0b4d73;
    border-right: 1px solid #e6f1f7;
    color: #ffffff;
    -webkit-box-shadow: -2px 2px 2px 0px rgba(217, 217, 217, 0.1);
    -moz-box-shadow: -2px 2px 2px 0px rgba(217, 217, 217, 0.1);
    box-shadow: -2px 2px 2px 0px rgba(217, 217, 217, 0.1);
    text-shadow: none;    
}

.oneui.high-contrast .idxSpecialButtonHover .dijitButtonNode,
.oneui.high-contrast .dijitButtonHover .dijitButtonNode,
.oneui.high-contrast .idxSpecialButtonHover .dijitButtonNodeHover,
.oneui.high-contrast .idxSpecialButtonHover .dijitButtonHover .dijitButtonNode,
.oneui.high-contrast .idxSpecialButtonHover .dijitDropDownButtonHover .dijitButtonNode,
.oneui.high-contrast .idxSpecialButtonHover .dijitComboButtonHover .dijitButtonNodeHover,
.oneui.high-contrast .idxSpecialButtonHover .dijitComboButtonHover .dijitDownArrowButtonHover,
.oneui.high-contrast .idxSpecialButtonHover .dijitToggleButtonHover .dijitButtonNode {
    background-color: #FFFFFF;
    background-image: -moz-linear-gradient(top, #FFFFFF, #bfd1da);
    background-image: -webkit-gradient(linear,0% 0%,0% 100%,from(#FFFFFF),to(#bfd1da));
    background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #bfd1da 100%); 
    background-image: -o-linear-gradient(top, #FFFFFF 0%, #bfd1da 100%); 
    background-image: -ms-linear-gradient(top, #FFFFFF 0%, #bfd1da 100%); 
    background-image: linear-gradient(top,  #FFFFFF 0%, #bfd1da 100%);     
    border-top: 1px solid #0b4d73;
    border-bottom: 1px solid #0b4d73;
    border-left: 1px solid #0b4d73;
    border-right: 1px solid #0b4d73;
    color: #0b4d73;
    -webkit-box-shadow: -2px 2px 2px 0px rgba(217, 217, 217, 0.1);
    -moz-box-shadow: -2px 2px 2px 0px rgba(217, 217, 217, 0.1);
    box-shadow: -2px 2px 2px 0px rgba(217, 217, 217, 0.1);
    text-shadow: none; 
}

.oneui.high-contrast .idxSpecialButtonHover .dijitArrowButton {
    background-color: #FFFFFF;
    background-image: -moz-linear-gradient(top, #FFFFFF, #bfd1da);
    background-image: -webkit-gradient(linear,0% 0%,0% 100%,from(#FFFFFF),to(#bfd1da));
    background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #bfd1da 100%); 
    background-image: -o-linear-gradient(top, #FFFFFF 0%, #bfd1da 100%); 
    background-image: -ms-linear-gradient(top, #FFFFFF 0%, #bfd1da 100%); 
    background-image: linear-gradient(top,  #FFFFFF 0%, #bfd1da 100%);         
    border-top: 1px solid #0b4d73;
    border-bottom: 1px solid #0b4d73;
    border-left: 1px solid #0b4d73;
    border-right: 1px solid #0b4d73;
}

/*Specific styling for the modal actions panel*/
body.modal.high-contrast div.actions-panel {
  padding: 20px 0px 0px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 27px;
  border-top: 1px solid #666666;
}

.oneui.high-contrast .idxSpecialButtonHover .dijitArrowButtonInner {
    background: url("../../Images/cw_action_button_arrow_high_contrast.png") no-repeat scroll center center transparent !important;
}



/*High Contrast Cluster title*/
body.high-contrast .list .header-wrapper h2 span,
body.high-contrast .cluster .header-wrapper h2 span {
  font-size: 14pt;
  padding-bottom: 2px;
  display: block;
  font-weight: normal;
  color: #000000; 
}

/*High Contrast Cluster description*/
body.high-contrast .list .header-wrapper p.description,
body.high-contrast  .cluster .header-wrapper p.description {
  color: #666666;  
  font-size: 13.5pt;
  font-weight: normal;
  padding-top: 1px;
  margin: 0px;
  border: medium none;
}

/*High Contrast Cluster title*/
body.high-contrast .list .header-wrapper h2,
body.high-contrast .cluster .header-wrapper h2, 
body.high-contrast .cluster table td.field div.header-wrapper h2 {
  border-color: #666666;
  border-style: none none solid;
  border-width: 0px 0px 1px;
  display: inline-block;
  margin: 0px;
  width: 100%;
}

/* High Contrast Links */
.oneui.high-contrast a:link {
    color: #00649d;
    text-decoration: underline;
}
.oneui.high-contrast a:visited {
    color: #745285;
    text-decoration: underline;
}
.oneui.high-contrast a:hover {
    color: #05386b;
    text-decoration: underline;
}
.oneui.high-contrast a:active {
    color: #00649d;
    text-decoration: underline;
}

.oneui.high-contrast .cluster table td.container,
.oneui.high-contrast .cluster table td.field {
  color: #666666;
  font-size: 13.5pt;
}

/*High Contrast Table*/
.oneui.high-contrast .cluster table td .list table tbody tr td,
.oneui.high-contrast .list table tbody tr td {
  padding: 12px 7px;
  background-color: white;
  color: #333333;
  font-size: 13.5pt;
  word-wrap: break-word;
  border-top: 1px solid #626262;
}

/*High Contrast Table Border*/
.oneui.high-contrast .list table thead tr th.first-header-expanding-list,
.oneui.high-contrast .list table thead tr th.first-header {
  border-left: 1px solid #626262;
}

.oneui.high-contrast .list table thead tr th {
  text-shadow: 1px 1px 1px white;
  border-top: 1px solid #626262;
  border-bottom: none;
  font-size: 13pt;
  word-wrap: break-word;
  color: #444444 !important;
  text-decoration: none !important;
  text-align: left;
  font-weight: bold;
  background-color: #ededed;
  background-image: -webkit-linear-gradient(#ffffff, #ededed);
  background-image: -moz-linear-gradient(#ffffff, #ededed);
  background-image: -ms-linear-gradient(#ffffff, #ededed);
  background-image: -o-linear-gradient(#ffffff, #ededed);
  background-image: linear-gradient(#ffffff, #ededed);
}

.oneui.high-contrast .list table thead tr th a {
  text-shadow: 1px 1px 1px white;
  font-size: 13pt;
  color: #444444 !important;
  text-decoration: none !important;
}

.oneui.high-contrast .list table thead tr th.last-header {
  border-right: 1px solid #626262;
}

.oneui.high-contrast .list table tbody tr.list-details-row td,
.oneui.high-contrast .list table tbody tr td.first-field {
  border-left: 1px solid #626262;
}

.oneui.high-contrast .list table tbody tr.even-last-row td,
.oneui.high-contrast .list table tbody tr.odd-last-row td {
  border-bottom: 1px solid #626262;
}

.high-contrast .list table tbody tr.list-details-row td,
.oneui.high-contrast .list table tbody tr td.last-field {
  border-right: 1px solid #626262;
}

.high-contrast .list table tbody tr td {
  background-color: 1px solid #ffffff;
}

.oneui.high-contrast .list table tbody tr.odd td {
  background-color: 1px solid #f7f7f7;
}

.oneui.high-contrast .list table thead tr th.container,
.oneui.high-contrast .list table thead tr th.field {
  border-right: 1px solid #626262;
}

/***High Contrast Expandable List***/
.oneui.high-contrast .list table tbody tr td a.list-details-row-toggle {
    background-image: url("../extapp/themes/curam-extapp/image/list-arrow-collapsed-high-contrast.png");
    background-position: left center;
    background-repeat: no-repeat;
    padding-right: 8px;
}

.oneui.high-contrast .list table tbody tr td a.list-details-row-toggle.expanded {
  background-image: url('../extapp/themes/curam-extapp/image/list-arrow-expanded-high-contrast.png');
  background-position: center 60%;
}

body#Curam_CitizenAccount_withdrawIntakeApplication.oneui.high-contrast table tr:first-child div.cluster.cluster-with-no-header.label-field  > div {
    background-color: #cce8f2;
    border: 1px solid #666666; 	
}

body#Curam_CitizenAccount_withdrawIntakeApplication.oneui.high-contrast table tr:first-child div.cluster.cluster-with-no-header.label-field.cluster-no-border-all  > div {
  background-color: #cce8f2;
  border: none;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}

/* Tooltip container */
.oneui.high-contrast .idxOneuiHoverHelpTooltipContainer { 
    background-color: #ffffff;
    background-repeat: repeat-x;
    background-position: bottom;
    border: 3px solid #606060;
    padding: 7px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.25);
    font-size: 1em;
    color: #222222;
    max-width: 600px;
}

/* Dijit menu */
.oneui.high-contrast .dijitMenu {
  background-color: #ffffff;  
  margin: -1px 0;
  padding: 0 1px 0 1px;
  border: 1px solid #666666;
  -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.15);
}

/* High contrast hovercard */
.oneui.high-contrast .idxOneuiHoverCardBody{
    border: 3px solid #606060;
    -webkit-border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.25);
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
}

/* Dijit dialog */
.oneui.high-contrast .dijitDialog {
    border:4px solid #606060s;   	
	-moz-border-radius:4px;
	border-radius:4px;
	-moz-box-shadow:0 0 4px 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow:0 0 4px 1px rgba(0, 0, 0, 0.2);
	box-shadow:0 0 4px 1px rgba(0, 0, 0, 0.2);
    min-width: 400px;
    overflow: hidden;
    background: #fff;
}

/* Withdraw application page */
.oneui.high-contrast#Curam_CitizenAccount_withdrawIntakeApplication .cluster table th.label {
  color: #222222;
  font-weight: normal;
  font-size: 13.5pt;
}

.oneui.high-contrast#Curam_CitizenAccount_viewPaymentInstructionView .cluster table th.label {
  color: #222222;
  font-weight: normal;
  font-size: 13.5pt;
}