/*
 * IBM Confidential
 *
 * OCO Source Materials
 *
 * Copyright IBM Corporation 2012,2021.
 *
 * The source code for this program is not published or otherwise divested of
 * its trade secrets, irrespective of what has been deposited with the US
 * Copyright Office.
 */
 
 
 .high-contrast .cluster table th.label {
  color: black; 
}

.high-contrast.oneui .dijitButton .dijitButtonNode, 
.high-contrast.oneui .dijitDropDownButton .dijitButtonNode,
.high-contrast.oneui .dijitComboButton .dijitButtonNode,
.high-contrast.oneui .dijitToggleButton .dijitButtonNode,
body.modal.high-contrast div.actions-panel .action-set .left-corner, 
.high-contrast div#content .action-set.blue-action-set .left-corner {
  border: 1px solid #626262;
}

/*
 * Component: Date Pop up.
 * Includes: Date Pop up selector Styling
 * Month Drop down  
 */
 
.high-contrast.oneui .dijitCalendar .dijitDropDownButtonHover .dijitButtonNode {
  background-color: #5F6165;
	background-image: none; 
}
.high-contrast.oneui .dijitCalendarMonthLabel {
    color:#222222;
}
.high-contrast.oneui .dijitDropDownButtonHover .dijitCalendarMonthLabel {
    color: #FFFFFF;
}
.high-contrast.oneui .dijitComboBox,
.high-contrast.oneui .dijitComboBoxActive,
.high-contrast.oneui .dijitHasDropDownOpen .dijitComboBox,
.high-contrast.oneui .dijitTextBoxFocused,
.high-contrast.oneui .dijitTextBoxFocused .dijitButtonNode {
 border: 1px solid #666666 !important;
}
/*Date Selector popup styling */
.high-contrast.oneui .dijitCalendar {
  border:4px solid #606060;
  border-radius:4px;
  opacity:1;
  filter:alpha(opacity=100);
}
/*Previous or next Year Dropdown Arrow rollover */
.high-contrast.oneui .dijitCalendarHover .dijitCalendarArrowHover {
  border: 1px solid #626262;
}
/*Previous or Next month dates */
.high-contrast.oneui .dijitCalendarPreviousMonth .dijitCalendarDateLabel,
.high-contrast.oneui .dijitCalendarNextMonth .dijitCalendarDateLabel {
  color: #FFFFFF; 
  background-color:#656565;
  border-color:#656565;
}
/*Separators on the dropdown */
.high-contrast.oneui .dijitCalendarPreviousMonth,
.high-contrast.oneui .dijitCalendarNextMonth,
.high-contrast.oneui .dijitCalendarDateTemplate {
  border-bottom: 1px solid #656565;
}
/* Next or previous Year roll over */
.high-contrast.oneui .dijitCalendarNextYearHover, 
.high-contrast.oneui .dijitCalendarPreviousYearHover {
	border:1px solid #626262;
  color: #222222;
}
/*current hovered date */
.high-contrast.oneui .dijitCalendarHoveredDate .dijitCalendarDateLabel {
  border-color: #656565;
}
/*Month dropdown hover border */
.high-contrast.oneui .dijitCalendarMonthMenu .dijitCalendarMonthLabelHover {
 border-right:1px solid #466278;
 border-left:1px solid #466278;
 border-top:1px solid #466278;
 border-bottom:1px solid #466278;
}
 /*month popup border */
.high-contrast.oneui .dijitMenu {
  border: 1px solid #666666;
}

/* Navigation Bar normal item */
.high-contrast.oneui .curramSideMenuButton .dijitButtonNode {
  opacity: 1.0 !important;
  filter: alpha(opacity = 100) !important;  
}

/* Navigation Bar Icon for normal state */
.high-contrast.oneui .curramSideMenuButton .dijitButtonNode .curramSideMenuButtonIcon {
  opacity: 1.0 !important;
  filter: alpha(opacity = 100) !important;
}

/* Navigation Bar Text */
.high-contrast.oneui .curramSideMenuButton .dijitButtonNode .dijitButtonText {
  font-family: Arial;
  font-size: 10pt;
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
  opacity: 1.0 !important;
  filter: alpha(opacity = 100) !important;
}

/* Navigation Bar Selected state border */
.high-contrast.oneui .curramSideMenuButtonChecked .dijitButtonNode {
  box-sizing: border-box;
  border: 3px solid #ffffff;
}

/* Navigation Bar Selected, hover or click state icon */
.high-contrast.oneui .curramSideMenuButtonChecked .dijitButtonNode .curramSideMenuButtonIcon,
.high-contrast.oneui .curramSideMenuButtonHover .dijitButtonNode .curramSideMenuButtonIcon,
.high-contrast.oneui .curramSideMenuButtonActive .dijitButtonNode .curramSideMenuButtonIcon {
  opacity: 1.0 !important;
  filter: alpha(opacity = 100) !important;
}

/* Navigation Bar Selected, hover or click state Text */
.high-contrast.oneui .curramSideMenuButtonHover .dijitButtonNode .dijitButtonText,
.high-contrast.oneui .curramSideMenuButtonActive .dijitButtonNode .dijitButtonText {
  font-family: Arial;
  font-size: 10pt;
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
  text-decoration:underline;
  opacity: 1.0 !important;
  filter: alpha(opacity = 100) !important;
}

/* Navigation Bar Selected, SelectedHover or SelectedClick state Text */
.high-contrast.oneui .curramSideMenuButtonChecked .dijitButtonNode .dijitButtonText,
.high-contrast.oneui .curramSideMenuButtonCheckedHover .dijitButtonNode .dijitButtonText,
.high-contrast.oneui .curramSideMenuButtonCheckedActive .dijitButtonNode .dijitButtonText {
  font-family: Arial;
  font-size: 10pt;
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
  text-decoration:none;
  opacity: 1.0 !important;
  filter: alpha(opacity = 100) !important;
}

/* Navigation Bar expand icon normal state */
.high-contrast.oneui .curramSideMenuOverFlowButtonExpand .dijitButtonNode .curramSideMenuOverFlowButtonExpandIcon {
  background-color:#057ba9;
  border: 1px solid #ffffff;
  background-image: url(./images/high-contrast/popup_nav_btn.png);
}

/* Navigation Bar expand icon hover or selected state state */
.high-contrast.oneui .curramSideMenuOverFlowButtonExpandHover .dijitButtonNode .curramSideMenuOverFlowButtonExpandIcon,
.high-contrast.oneui .curramSideMenuOverFlowButtonExpandChecked .dijitButtonNode .curramSideMenuOverFlowButtonExpandIcon {
  background-color:#ffffff;
  background-image: url(./images/high-contrast/popup_nav_btn_roll.png);
} 

/* Navigation Bar expand icon click state */
.high-contrast.oneui .curramSideMenuOverFlowButtonExpandActive .dijitButtonNode .curramSideMenuOverFlowButtonExpandIcon {
  background-color:#ffffff;
  box-shadow: 5px 120 #666666 inset;
  background-image: url(./images/high-contrast/popup_nav_btn_roll.png);
} 

/* Hover card close icon */
.high-contrast.oneui .idxOneuiHoverCardCloseIcon {
  opacity: 0.0 !important;
  filter: alpha(opacity = 0) !important;
}

/* Hover card frame around body */
.high-contrast.oneui .idxOneuiHoverCardBody {
  border: 3px solid #606060;
  opacity: 1.0 !important;
  filter: alpha(opacity = 100) !important;
}

/* Hover card menu item hover state */
.high-contrast.oneui .curramSideMenuOverFlowButtonHover .dijitButtonNode {
  box-sizing: border-box;
  border: 1px solid #466278;
}

/* Hover card menu item icon */
.high-contrast.oneui .curramSideMenuOverFlowButton .dijitButtonNode .curramSideMenuOverFlowButtonIcon {
  opacity: 1.0 !important;
  filter: alpha(opacity = 100) !important;
}

.high-contrast.oneui .dijitTextBox {
  border: 1px solid #666666;
}
body.modal.high-contrast.oneui  div.actions-panel .action-set .left-corner:hover,
.high-contrast.oneui div#content .action-set.blue-action-set span.left-corner:hover ,
.high-contrast.oneui .dijitButtonHover .dijitButtonNode,
.high-contrast.oneui .dijitDropDownButtonHover .dijitButtonNode,
.high-contrast.oneui .dijitComboButtonHover .dijitButtonNodeHover,
.high-contrast.oneui .dijitComboButtonHover .dijitDownArrowButtonHover,
.high-contrast.oneui .dijitToggleButtonHover .dijitButtonNode{
  background-color: #5F6165;
  background-image: none;
  text-shadow: none;
  color: #FFFFFF;
}
body.modal.high-contrast.oneui div.actions-panel .action-set .left-corner:hover .middle,
.high-contrast.oneui div#content .action-set.blue-action-set span.left-corner:hover .middle {
  color: #FFFFFF;
}

/* Application Banner popup menubar icon */
.high-contrast.oneui .curamOneuiHeader.idxHeaderContainer .dijitMenuBar.menubarClassOUI .dijitMenuItem.PopupMenuBarItemClassOUI span.idxHeaderDropDownArrow,
.high-contrast.oneui .curamOneuiHeader.idxHeaderContainer .dijitMenuBar.menubarClassOUI .dijitMenuItem.PopupMenuBarItemClassOUI span.idxHeaderDropDownArrow:hover,
.high-contrast.oneui .curamOneuiHeader.idxHeaderContainer .dijitMenuBar.menubarClassOUI .dijitMenuItem.PopupMenuBarItemClassOUI span.idxHeaderDropDownArrow:active {
  opacity: 1.0 !important;
  filter: alpha(opacity = 100) !important;
  background-position: -84px -11px;
}

/* Application Banner popup menubar hover state */
.high-contrast.oneui .curamOneuiHeader.idxHeaderContainer .dijitMenuBar.menubarClassOUI .dijitMenuItem.PopupMenuBarItemClassOUI:hover {
  box-sizing: border-box;
  padding-top:18px;
  border: 1px solid #ffffff;
}

/* Application Banner popup menubar click state */
.high-contrast.oneui .curamOneuiHeader.idxHeaderContainer .dijitMenuBar.menubarClassOUI .dijitMenuItem.PopupMenuBarItemClassOUI:active {
  border: none;
}

/* Application Banner user icon all states */
.high-contrast.oneui .curamOneuiHeader.idxHeaderContainer .idxHeaderPrimary li.idxHeaderPrimaryAction .idxHeaderDropDown.idxHeaderUserName span.idxHeaderUserIcon,
.high-contrast.oneui .curamOneuiHeader.idxHeaderContainer .idxHeaderPrimary li.idxHeaderPrimaryAction .idxHeaderDropDown.idxHeaderUserName span.idxHeaderUserIcon:hover,
.high-contrast.oneui .curamOneuiHeader.idxHeaderContainer .idxHeaderPrimary li.idxHeaderPrimaryAction idxHeaderDropDown.idxHeaderUserName span.idxHeaderUserIcon:active {
  opacity: 1.0 !important;
  filter: alpha(opacity = 100) !important;
}

/* Application Banner user name normal and click state */
.high-contrast.oneui .curamOneuiHeader.idxHeaderContainer .idxHeaderPrimary li.idxHeaderPrimaryAction .idxHeaderDropDown.idxHeaderUserName .idxHeaderUserText,
.high-contrast.oneui .curamOneuiHeader.idxHeaderContainer .idxHeaderPrimary li.idxHeaderPrimaryAction .idxHeaderDropDown.idxHeaderUserName .idxHeaderUserText:active {
  text-decoration:none;
}

/* Application Banner user name rollover state */
.high-contrast.oneui .curamOneuiHeader.idxHeaderContainer .idxHeaderPrimary li.idxHeaderPrimaryAction .idxHeaderDropDown.idxHeaderUserName .idxHeaderUserText:hover {
  text-decoration:underline;
}

/* Application Banner user action menu arrow normal state */
.high-contrast.oneui .curamOneuiHeader.idxHeaderContainer .idxHeaderPrimary li.idxHeaderPrimaryAction .idxHeaderDropDown.idxHeaderUserName .idxHeaderDropDownArrow {
  opacity: 1.0 !important;
  filter: alpha(opacity = 100) !important;
  background-image: url(./images/high-contrast/Dropdown_arrow_normal.png);
}

/* Application Banner user action menu arrow hover state */
.high-contrast.oneui .curamOneuiHeader.idxHeaderContainer .idxHeaderPrimary li.idxHeaderPrimaryAction .idxHeaderDropDown.idxHeaderUserName .idxHeaderDropDownArrow:hover {
  opacity: 1.0 !important;
  filter: alpha(opacity = 100) !important;
  background-image: url(./images/high-contrast/Dropdown_arrow_roll.png);
}

/* Application Banner user action menu arrow click state */
.high-contrast.oneui .curamOneuiHeader.idxHeaderContainer .idxHeaderPrimary li.idxHeaderPrimaryAction .idxHeaderDropDown.idxHeaderUserName .idxHeaderDropDownArrow:active {
  opacity: 1.0 !important;
  filter: alpha(opacity = 100) !important;
  background-image: url(./images/high-contrast/Dropdown_arrow_click.png);
}

/* Application Banner user action hover card container */
.high-contrast.oneui div.idxOneuiHoverHelpTooltipContainer {
  box-sizing: border-box;
  border: 3px solid #606060;
  opacity: 1.0 !important;
  filter: alpha(opacity = 100) !important;
}

/* Application Banner user action hover card menu item */
.high-contrast.oneui .curam-extapp_userHoverMenu_class > ol > li > div {
  box-sizing: border-box;
  border: 1px solid #ffffff;
}

/* Application Banner user action hover card menu item hover state */
.high-contrast.oneui .curam-extapp_userHoverMenu_class > ol > li > div:hover {
  box-sizing: border-box;
  border: 1px solid #466278;
  background-color: #cce8f2;
}

/* Application Banner help section hover state */
.high-contrast.oneui .curamOneuiHeader.idxHeaderContainer .idxHeaderPrimary li.idxHeaderPrimaryAction.idxHeaderHelp .idxHeaderDropDown:hover {
  box-sizing: border-box;
  border: 1px solid #ffffff;
}

/* Application Banner help section click state */
.high-contrast.oneui .curamOneuiHeader.idxHeaderContainer .idxHeaderPrimary li.idxHeaderPrimaryAction.idxHeaderHelp .idxHeaderDropDown:active {
  border: none;
}

/* Application Banner help section popup menu icon */
.high-contrast.oneui .curamOneuiHeader.idxHeaderContainer .idxHeaderPrimary li.idxHeaderPrimaryAction.idxHeaderHelp .idxHeaderDropDown span.idxHeaderHelpIcon,
.high-contrast.oneui .curamOneuiHeader.idxHeaderContainer .idxHeaderPrimary li.idxHeaderPrimaryAction.idxHeaderHelp .idxHeaderDropDown span.idxHeaderHelpIcon:hover,
.high-contrast.oneui .curamOneuiHeader.idxHeaderContainer .idxHeaderPrimary li.idxHeaderPrimaryAction.idxHeaderHelp .idxHeaderDropDown span.idxHeaderHelpIcon:active {
  opacity: 1.0 !important;
  filter: alpha(opacity = 100) !important;
  background-position: -61px 19px;
}

/* Application Banner help section popup menu arrow icon */
.high-contrast.oneui .curamOneuiHeader.idxHeaderContainer .idxHeaderPrimary li.idxHeaderPrimaryAction.idxHeaderHelp .idxHeaderDropDown span.idxHeaderDropDownArrow,
.high-contrast.oneui .curamOneuiHeader.idxHeaderContainer .idxHeaderPrimary li.idxHeaderPrimaryAction.idxHeaderHelp .idxHeaderDropDown span.idxHeaderDropDownArrow:hover,
.high-contrast.oneui .curamOneuiHeader.idxHeaderContainer .idxHeaderPrimary li.idxHeaderPrimaryAction.idxHeaderHelp .idxHeaderDropDown span.idxHeaderDropDownArrow:active {
  opacity: 1.0 !important;
  filter: alpha(opacity = 100) !important;
  background-position: -84px 18px;
}

/* Application Banner pupup menu*/
.high-contrast.oneui .MenuClassOUI:hover {
  box-sizing: border-box;
  border-bottom: 2px solid #000000;
  border-left: 2px solid #000000;
  border-right: 2px solid #000000;
}

/* Application Banner pupup menu item */
.high-contrast.oneui .oneuiMenuColumn table {
  border:1px solid #ffffff;
}

/* Application Banner pupup menu item hover state */
.high-contrast.oneui .oneuiMenuColumn table tr:hover {
  background-color:#cce8f2;
}

/* Application Banner pupup menu item hover state */
.high-contrast.oneui .oneuiMenuColumn table tr:hover td {
  border-top:1px solid #466278; 
  border-bottom:1px solid #466278;
}

/* Application Banner pupup menu item hover state */
.high-contrast.oneui .oneuiMenuColumn table tr:hover td:first-child {
  border-left:1px solid #466278;
}

/* Application Banner pupup menu item hover state */
.high-contrast.oneui .oneuiMenuColumn table tr:hover td:last-child {
  border-right:1px solid #466278;
}

/* Application Banner popup menu item title */
.high-contrast.oneui .MMItemContainer .medium.MMtitle  {
  color: #00649d !important;
  text-decoration:underline;
}

/* Application Banner popup menu item title hover state */
.high-contrast.oneui .MMItemContainer .medium.MMtitle:hover  {
  color: #05386b !important;
  text-decoration:underline;
}

/* Application Banner popup menu item title visited state */
.high-contrast.oneui .MMItemContainer .medium.MMtitle:visited  {
  color: #745285 !important;
  text-decoration:underline;
}

/* Application Banner popup menu item text */
 .high-contrast.oneui .MMItemContainer .medium.MMdesc {
  color: #222222 !important;
}

/* Application Banner help menu item title */
.high-contrast.oneui .lastItemContainerOUI .xlarge.HMtitle {
  color: #00649d !important;
  text-decoration:underline;
}

/* Application Banner help menu item title hover state */
.high-contrast.oneui .lastItemContainerOUI .xlarge.HMtitle:hover {
  color: #05386b !important;
  text-decoration:underline;
}

/* Application Banner help menu item title hover state */
.high-contrast.oneui .lastItemContainerOUI .xlarge.HMtitle:visited {
  color: #745285 !important;
  text-decoration:underline;
}

/* Application Banner help menu item text */
 .high-contrast.oneui .lastItemContainerOUI .xlarge.HMdesc {
  color: #222222 !important;
}

body.high-contrast .page-header .page-description .mandatory-icon-help {
  /* External UIM Required field text */
    color: black;
}

body.high-contrast .mandatory-label {
  /* External UIM mandatory icon */
  background-image: url("../images/high-contrast/mandatory.gif");
}

.high-contrast .page-header .page-title-bar .title h2 {
  color: #C93F0C;
}

.high-contrast .cluster input {
  border: 1px solid #666666;
}
  