/*
 * IBM Confidential
 *
 * OCO Source Materials
 *
 * Copyright IBM Corporation 2012,2013.
 *
 * The source code for this program is not published or otherwise divested of
 * its trade secrets, irrespective of what has been deposited with the US
 * Copyright Office.
 */

/*Page header.*/
.page-header {
  height: auto;
}

.page-header .page-title-bar {
  background-color: #F7F7F7;
  padding: 15px 25px 10px;
  height: 55px;
}

.page-header .page-description {
  padding: 0px 25px;
}

.page-header .page-description .description-title {
  color: #666666;
  padding-top: 17px;
}

.page-header .page-description .description-title.no-desc-text {
  padding-top: 0px;
}

/* *required fields */
.page-header .page-description .mandatory-icon-help {
  font-size:12px;
  color: #dd731c;
  text-align: right;
  padding-top: 9px;
  line-height: 1;
}


.page-header .page-title-bar .title {
  display: inline;
  position: absolute;
  right: 150px; /*Leaving space for the page title menu*/
  left: 25px;
}

.page-header .page-title-bar .title h2 {
  display: inline;
  color: #dd731c;
  font-size: 28px;
  font-weight: normal;
  margin: 0px;
  position: absolute;
  top: 9px;
  left: 75px;
  right: 0px;
}

.page-header .page-title-bar .page-level-menu {
  display: inline;
  text-align: right;
  margin-top: 17px;
  position: absolute;
  right: 13px;
}

.page-header .page-title-bar .page-level-menu a {
  font-size: 13px;
  color: #00649d;
  max-width: 100px;
  height: 35px;
  padding-left: 12px;
  padding-right: 12px;
  border-left: 1px solid #666666;
}

.page-header .page-title-bar .page-level-menu a.first-action-control {
  border-left: none;
}

.page-header .page-title-bar .page-toolbar {
  display: none;
}

/*Use ellipsis for the long text*/
.page-header .page-title-bar .title h2,
.page-header .page-title-bar .page-level-menu a,
.list .header-wrapper h3 span,
.cluster .header-wrapper h3 span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.list .header-wrapper h3 span,
.cluster .header-wrapper h3 span {
  font-size: 16px;
  padding-bottom: 2px;
  display: block;
  font-weight: normal;
}

/*Hide the toggle button*/
.list .header-wrapper .grouptoggleArrow,
.cluster .header-wrapper .grouptoggleArrow {
  display: none;
}

/*Cluster title*/
.list .header-wrapper h3,
.cluster .header-wrapper h3, 
.cluster table td.field div.header-wrapper h3 {
  border-color: #eeeeee;
  border-style: none none solid;
  border-width: 0px 0px 1px;
  display: inline-block;
  margin: 0px;
  width: 100%;
}

/*Cluster description*/
.list .header-wrapper p.description,
.cluster .header-wrapper p.description {
  color: #666666;
  padding-top: 1px;
  margin: 0px;
  border: medium none;
}

/*Cluster body*/
.cluster table {
  table-layout: fixed;
  width: 100%;
}

.list.list-with-header table {
  padding-top: 17px;
}

.cluster.cluster-with-header table {
  padding-top: 4px;
}

.cluster table th.label {
  color: #222222;
  font-weight: normal;
  padding-right: 20px;
  text-align: left;
}

.mandatory-label {
  background: url(themes/curam-extapp/image/mandatory.gif) no-repeat top right;
  padding-right: 10px;
  padding-left: 0px;
}

.cluster table td.last-cell.container,
.cluster table td.last-cell.field,
.cluster table td.last-cell.codetable {
  padding-right: 3px;
}

.cluster table th,
.cluster table td {
  padding-top: 10px;
}

.cluster table td.container,
.cluster table td.field {
  border: none;
  text-align: left;
  word-wrap: break-word;
  white-space: normal;
  padding-right: 26px;
  color: #333333;
}

.cluster table td.codetable {
  border: none;
  text-align: left;
  word-wrap: break-word;
  white-space: normal;
  padding-right: 26px;
  color: #222222;
}

.oneui .cluster .idxComposite {
  padding: 0px;
  margin: 0px;
}

/*Codetable dropdown in the cluster*/
.cluster table td .codetable {
  width: 100%;
}

.cluster table td div.dijitValidationContainer {
  display: none;
}

/*Text input in the cluster*/
.cluster table td .codetable div.dijitInline table tbody td.dijitButtonContents,
.cluster tbody tr td.codetable div,
.cluster tbody tr td.field div {
  width: 100%;
}

.cluster tbody tr td.field .input-date div {
  width: auto;
}

.cluster table tbody tr td div.dijitInputField {
  width: auto;
}

.cluster input {
  height: 15px;
  padding-left: 2px;
  width: 100%;
}
/*Text area in the cluster*/
.cluster table td.field textarea.dijitTextArea {
  margin: 0px;
  font-family: arial;
  width: 97%;
}

/*Date Picker in the cluster*/
.cluster table td.field table td.input-date {
  padding-right: 0px;
  padding-top: 0px;
}

.cluster table td.codetable table,
.cluster table td.field table {
  margin-top: 0px;
  padding-top: 0px;
  table-layout: auto;
}


/*Page Action Set*/
div#content .action-set {
  padding: 10px 0px;
}

body.modal div.actions-panel .action-set span.filler:first-child,
div#content .action-set span.filler:first-child {
  display: none;
}

body.modal div.actions-panel .action-set span.filler,
div#content .action-set span.filler {
  margin-right: 9px;
  padding-left: 1px;
}

/* Action set in the cluster and modal dialog */
body.modal div.actions-panel .action-set .left-corner,
div#content .action-set.blue-action-set .left-corner {
  display: inline-block;
  color: black;
  cursor: pointer;
  font-weight: bold;
  padding: 3px 10px 4px;
  min-width: 87px;
  text-align: center;
  white-space: nowrap;
  background-color: #F4F4F4;
  background-image: -moz-linear-gradient(top, #F4F4F4, #DBDBDB);
  background-image: -webkit-gradient(linear,0% 0%,0% 100%,from(#F4F4F4),to(#DBDBDB));
  background-image: -webkit-linear-gradient(top, #F4F4F4 0%,#DBDBDB 100%);
  background-image: -o-linear-gradient(top, #F4F4F4 0%,#DBDBDB 100%);
  background-image: -ms-linear-gradient(top, #F4F4F4 0%,#DBDBDB 100%);
  background-image: linear-gradient(top, #F4F4F4 0%,#DBDBDB 100%);
  border: 1px solid #C3C3C3;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-transition-property: background-color;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
  text-shadow: 0px 1px 0px white;
}

/*Hover status*/
body.modal div.actions-panel .action-set .left-corner:hover,
div#content .action-set.blue-action-set span.left-corner:hover {
  -webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	transition-duration: 0.2s;
	background-color: #e5e5e5;
	background-image: -moz-linear-gradient(top, #fefefe, #cccccc);
	background-image: -webkit-gradient(linear,0% 0%,0% 100%,from(#fefefe),to(#cccccc));
	background-image: -webkit-linear-gradient(top, #fefefe 0%, #cccccc 100%); /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top, #fefefe 0%, #cccccc 100%); /* Opera 11.10+ */
	background-image: -ms-linear-gradient(top, #fefefe 0%, #cccccc 100%); /* IE10+ */
	background-image: linear-gradient(top,  #fefefe 0%, #cccccc 100%); /* W3C */
	border: 1px solid -moz-linear-gradient(top, #fdfdfd, #e4e4e4);
	border: 1px solid -webkit-gradient(linear,0% 0%,100% 100%,from(#fdfdfd),to(#e4e4e4));
}

/*Active status*/
body.modal div.actions-panel .action-set .left-corner:active,
div#content .action-set.blue-action-set span.left-corner:active {
  -webkit-transition-duration: 0.1s;
	-moz-transition-duration: 0.1s;
	transition-duration: 0.1s;
	background-color: #cccccc;
	background-image: -moz-linear-gradient(top, #dbdbdb, #f4f4f4);
	background-image: -webkit-gradient(linear,0% 0%,0% 100%,from(#dbdbdb),to(#f4f4f4));
	background-image: -webkit-linear-gradient(top, #dbdbdb 0%, #f4f4f4 100%); /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top, #dbdbdb 0%, #f4f4f4 100%); /* Opera 11.10+ */
	background-image: -ms-linear-gradient(top, #dbdbdb 0%, #f4f4f4 100%); /* IE10+ */
	background-image: linear-gradient(top,  #dbdbdb 0%, #f4f4f4 100%); /* W3C */
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1) inset;
	color: #515151;
	outline: none;
}

body.modal div.actions-panel .action-set .right-corner,
div#content .action-set.blue-action-set .right-corner {
  display: block;
}

body.modal div.actions-panel .action-set .middle,
div#content .action-set.blue-action-set .middle {
  display: inline-block;
  padding: 0px 3px;
  white-space: nowrap;
  color: #000000;
  vertical-align: middle;
  font-size: 12px;
}

/*Specific styling for the modal actions panel*/
body.modal div.actions-panel {
  padding: 20px 0px 0px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 27px;
  border-top: 1px solid #cccccc;
}

body.modal div.actions-panel .action-set.right {
  float: right;
}

/*Show the action sets in the details row (Expandable List)*/
body.list-inline-page div#content .action-set.hidden-action-set {
  display: block;
}

div#content .action-set.hidden-action-set {
  display: none;
}

body.modal div.actions-panel .action-set input.hidden-button,
.action-set.blue-action-set input.hidden-button, 
.page-level-menu input {
  position: absolute;
  left: -1000000px;
  width: 10px;
}

/***Styling for the list***/
.list table {
  text-align: left;
  width: 100%;
  table-layout: fixed;
}

.list table col.list-row-expand-col {
  width: 23px;
}

.list table col.list-expand-action-col {
  width: 39px;
}

.list table thead tr th:hover {
  background: #fafafa; /* Old browsers */
	background: -moz-linear-gradient(top,  #fafafa 0%, #dbdbdb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#dbdbdb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fafafa 0%,#dbdbdb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fafafa 0%,#dbdbdb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fafafa 0%,#dbdbdb 100%); /* IE10+ */
	background: linear-gradient(top,  #fafafa 0%,#dbdbdb 100%); /* W3C */
}

.list table thead tr th {
  text-shadow: 1px 1px 1px white;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  word-wrap: break-word;
  color: #444444;
  text-align: left;
  font-weight: bold;
  background-color: #ededed;
  background-image: -webkit-linear-gradient(#ffffff, #ededed);
  background-image: -moz-linear-gradient(#ffffff, #ededed);
  background-image: -ms-linear-gradient(#ffffff, #ededed);
  background-image: -o-linear-gradient(#ffffff, #ededed);
  background-image: linear-gradient(#ffffff, #ededed);
}

.list table thead tr th.container,
.list table thead tr th.field {
  border-right: 1px solid #cccccc;
}

.list table thead tr th.field.last-content-header {
  border-right: none;
}

.list table thead tr th.field,
.list table thead tr th.field a {
  color: #444444;
  font-weight: bold;
}

.list table tbody tr.even-last-row td,
.list table tbody tr.odd-last-row td {
  border-bottom: 1px solid #D9D9D9;
}

.cluster table td .list table tbody tr td,
.list table tbody tr td {
  padding: 12px 7px;
  background-color: white;
  color: #333333;
  word-wrap: break-word;
}

.list table thead tr th.container,
.list table thead tr th.field {
  padding: 13px 7px;
}

.cluster table td .list table tbody tr.even-last-row td,
.cluster table td .list table tbody tr.even td,
.list table tbody tr.even-last-row td,
.list table tbody tr.even td {
  background-color: #f7f7f7;
}

.list table thead tr th.first-header-expanding-list,
.list table thead tr th.first-header {
  border-left: 1px solid #cccccc;
}

.list table tbody tr.list-details-row td,
.list table tbody tr td.first-field {
  border-left: 1px solid #d9d9d9;
}

.list table thead tr th.last-header {
  border-right: 1px solid #cccccc;
}

.list table tbody tr.list-details-row td,
.list table tbody tr td.last-field {
  border-right: 1px solid #d9d9d9;
}


/***Expandable List***/
.list table tbody tr td a.list-details-row-toggle {
    background-image: url("themes/curam-extapp/image/list-arrow-collapsed.png");
    background-position: left center;
    background-repeat: no-repeat;
    padding-right: 8px;
}

.list table tbody tr td a.list-details-row-toggle.expanded {
  background-image: url('themes/curam-extapp/image/list-arrow-expanded.png');
  background-position: center 60%;
}
.list table tr.list-details-row.collapsed {
  display: none;
}

.cluster table td .list table tbody tr.list-details-row td,
.list table tbody tr.list-details-row td {
  padding: 0px 5px;
}

body.list-inline-page div#content {
  width: auto;
  padding-bottom: 0px;
  padding-top: 0px;
}

body.list-inline-page .list .header-wrapper h3 span,
body.list-inline-page .cluster .header-wrapper h3 span {
  font-size: 14px;
  font-weight: bold;
  color: #dd731c;
}

/*Styling for the one ui link*/
.oneui a {
  text-decoration: none;
  cursor: pointer;
  color: #00649d;
}

.oneui a:hover,
.oneui a:active {
  color: #005386;
}

.oneui a:visited {
  color: #745285;
}

.list table tbody tr.list-details-row td div.uimController {
  width: 100%;
  height: 100%;
}

iframe.expanded_row_iframe {
  width: 100%;
}

.list-inline-page .page-header {
  display: none;
}

html {
  height: 100%;
  width: 100%;
}

body.oneui {
  font-family: arial;
  font-size: 13.5px;
  color: #000000;
  margin: 0px;
  overflow-x: hidden;
}

body.list-inline-page {
  margin-top: 0px;
  margin-bottom: 0px;
  overflow-x: hidden;
  overflow-y: auto;
}

.oneui div#content {
  padding: 10px 25px 0px;
}

.cluster,
.list {
  padding-top: 7px;
  padding-bottom: 20px;
}

/*TODO: To be restyled. List Row Menu reusing the internal application styling temporarily */
body.soria .input-cluster td.list-row-menu .dijit {
  border: none;
  background-color: transparent;
}

.soria .list-row-menu .dijitButtonNode img,
.soria .page-level-menu .dijitButtonNode img {
  display: none;
}

.soria .list-row-menu .dijitButtonNode {
  background: transparent url('../themes/v6/images/expand-list-action-button.png') no-repeat left top;
  border: none;
  height: 20px;
  width: 25px;
  padding: 0px;
}

.soria .list-row-menu .dijitDropDownButtonHover .dijitButtonNode {
  background: transparent url('../themes/v6/images/expand-list-action-button-rollover.png') no-repeat left top;
}

.soria .list-row-menu .dijitDropDownButtonOpened .dijitButtonNode {
  background: transparent url('../themes/v6/images/expand-list-action-button-selected.png') no-repeat left top;
}

.soria .list-row-menu .dijitArrowButtonInner,
.soria .page-level-menu .dijitArrowButtonInner {
  display: none;
}

.soria div.list td.list-row-menu {
  padding: 2px 0px 0px 0px;
}

body.soria .input-cluster td.list-row-menu .dijit {
  border: none;
  background-color: transparent;
}

.soria .page-level-menu .dijitButtonNode {
background:transparent url('../themes/v6/images/actions-page-nor.png') no-repeat left top;
border:none;
height:18px;
width:18px;
padding:0px;
}

.soria .page-level-menu .dijitDropDownButtonHover .dijitButtonNode {
background:transparent url('../themes/v6/images/actions-page-rol.png') no-repeat left top;
}

.soria .page-level-menu .dijitDropDownButtonOpened .dijitButtonNode {
background:transparent url('../themes/v6/images/actions-page-sel.png') no-repeat left top;
}

.soria .page-level-menu .dijitDropDownButton {
margin-top:3px;
margin-right:-10px;
}

/*TEMP: Removing the one ui dropdown overrides the list row menu*/
.soria div.page-level-menu span.dijitButtonNode,
.soria div.list td.list-row-menu span.dijitButtonNode {
  box-shadow: none;
}

/*Styling specific for the UIM elements in the Modal Dialog*/
body.oneui.modal {
  height: 100%;
  width: 100%;
  margin: 0px;
  overflow: hidden;
}

/*In the modal dialog of the external application, we will produce two page 
  header, one is the normal header outside the "content" DIV element used in
  the internal Curam V6 Application. Another one is the one we specifically
  produce for the external application, in order to meet the new styling
  requirements. Therefore the former needs to be hidden.*/
body.modal > .page-header {
  display: none;
}


/* Hide the page title */
body.modal .page-header .page-title-bar {
  display: none;
}

/* Styling for the page description in modal */
body.modal .page-header .page-description {
  padding: 0px;
}

body.modal .page-header .page-description .description-title {
  padding-top: 7px;
  padding-bottom: 7px;
}

body.modal .page-header .page-description .mandatory-icon-help {
  padding-top: 4px;
}

body.modal .page-header .page-description .description-title.mand-help {
  padding-top: 0px;
}

body.modal .page-header .page-description .description-title.no-desc-text,
body.modal .page-header .page-description .description-title.mand-help.no-desc-text {
  padding-top: 0px;
}

body.modal .page-header .page-description .description-title.no-desc-text {
  padding-bottom: 0px;
}

body.oneui.modal div#content {
  bottom: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0px;
}

body.oneui.modal div#content.action-exists {
  bottom: 47px;
  padding-bottom: 10px;
}

/*TODO: List nested in cluster, need revisit if more test cases are added*/
.cluster .cluster,
.cluster .list {
  padding: 10px 10px 0px;
}
.cluster table td.first-col.last-col .cluster,
.cluster table td.first-col.last-col .list{
  padding-left: 0px;
  padding-right: 0px;
}

.cluster table td.top .list,
.cluster table td.top .cluster,
.cluster table td.top {
  padding-top: 0px;
  vertical-align: top;
}

.cluster table td.first-col .list,
.cluster table td.first-col .cluster {
  padding-left: 0px;
}

.cluster table td.last-col .list,
.cluster table td.last-col .cluster {
  padding-right: 0px;
}

/*Link separator in list row*/
.list .container .separator {
  border-left: 1px solid #666666;
  margin-left: 5px;
  margin-right: 5px;
  width: 0px;
}

.oneui .hidden {
  display: none;
}

/*Fix the extra space presenting at the bottom of the inline page*/
.oneui.list-inline-page .cluster.last-node,
.oneui.list-inline-page .list.last-node {
  padding-bottom: 16px;
}

/*
 * 'ALIGNMENT' attribute doesn't work for UIM pages in External Application,
 * so instead add STYLE="right-align" so that this piece of CSS will be used.
 */
td.right-align {
    text-align: right;
}

/* Remove unwanted border appearing as second delimiter (see Gum-4528) */
.list .container .separator {
  border-left: 0px solid #666 !important;
}

/* Add padding to description text at the top of lists */
.list-with-header .header-wrapper .description {
  padding-top: 8px !important;
  padding-bottom: 16px;
}

.apply-for-benefits-content .name-desc-div-apply-online {
  padding-top: 8px;
  padding-bottom: 24px;
}

#content div .apply-for-benefits-content div#name-desc-div-pdf-description {
  padding-top: 8px;
  width: 91% !important;
}

/* Fix spacing of programs list on Application list page (Gum-3546) */
.list.list-with-header table {
    padding-top: 0px !important;
}

div#content table td.field div {
    margin-top: 0px !important;
}
