/*
 * IBM Confidential
 *
 * OCO Source Materials
 *
 * Copyright IBM Corporation 2014.
 *
 * The source code for this program is not published or otherwise divested of
 * its trade secrets, irrespective of what has been deposited with the US
 * Copyright Office.
 */

/*Page header.*/

/* *required fields */
.rtl .page-header .page-description .mandatory-icon-help {
  text-align: left;
}


.rtl .page-header .page-title-bar .title {
  left: 150px; /*Leaving space for the page title menu*/
  right: 25px;
}

.rtl .page-header .page-title-bar .title h2 {
  right: 75px;
  left: 0px;
}

.rtl .page-header .page-title-bar .page-level-menu {
  text-align: left;
  right: auto;
  left: 13px;
}

.rtl .page-header .page-title-bar .page-level-menu a {
  border-left: none;
  border-right: 1px solid #666666;
}

.rtl .page-header .page-title-bar .page-level-menu a.first-action-control {
  border-left: none;
  border-right: none;
}

/*Cluster body*/
.rtl .cluster table th.label {
  padding-right: 0px;
  padding-left: 20px;
  text-align: right;
}

.rtl .mandatory-label {
  background-position: top left;
  padding-right: 0px;
  padding-left: 10px;
}

.rtl .cluster table td.last-cell.container,
.rtl .cluster table td.last-cell.field,
.rtl  .cluster table td.last-cell.codetable {
  padding-right: 0px;
  padding-left: 3px;
}

.rtl .cluster table td.container,
.rtl .cluster table td.field {
  text-align: right;
  padding-right: 0px;
  padding-left: 26px;
}

.rtl .cluster table td.codetable {
  text-align: right;
  padding-right: 0px;
  padding-left: 26px;
}

/*Text input in the cluster*/
.rtl .cluster input {
  padding-left: 0px;
  padding-right: 2px;
}
/*Date Picker in the cluster*/
.rtl .cluster table td.field table td.input-date {
  padding-right: 0px;
  padding-left: 0px;
}

/*Page Action Set*/
body.rtl.modal div.actions-panel .action-set span.filler,
.rtl div#content .action-set span.filler {
  margin-right: 0px;
  margin-left: 9px;
  padding-left: 0px;
  padding-right: 1px;
}

/*Specific styling for the modal actions panel*/
body.rtl.modal div.actions-panel .action-set.right {
  float: left;
}

/*Show the action sets in the details row (Expandable List)*/
body.rtl.modal div.actions-panel .action-set input.hidden-button,
.rtl .action-set.blue-action-set input.hidden-button, 
.rtl .page-level-menu input {
  left: auto;
  right: -1000000px;
}

/***Styling for the list***/
.rtl .list table {
  text-align: right;
}

.rtl .list table thead tr th {
  text-align: right;
}

.rtl .list table thead tr th.container,
.rtl .list table thead tr th.field {
  border-right: none;
  border-left: 1px solid #cccccc;
}

.rtl .list table thead tr th.field.last-content-header {
  border-right: none;
  border-left: none;
}

/* Overrides .rtl .cluster table td.container, .rtl .cluster table td.field */
.rtl .cluster table td .list table tbody tr td,
.rtl .list table tbody tr td {
  padding: 12px 7px;
}

.rtl .list table thead tr th.first-header-expanding-list,
.rtl .list table thead tr th.first-header {
  border-right: 1px solid #cccccc;
  border-left: none;
}
.rtl .list table thead tr th.first-header-expanding-list.container,
.rtl .list table thead tr th.first-header-expanding-list.field,
.rtl .list table thead tr th.first-header.container,
.rtl .list table thead tr th.first-header.field {
  border-left: 1px solid #cccccc;
}

.rtl .list table tbody tr td.first-field {
  border-left: none;
  border-right: 1px solid #d9d9d9;
}

.rtl .list table thead tr th.last-header {
  border-right: none;
  border-left: 1px solid #cccccc;
}

.rtl .list table tbody tr td.last-field {
  border-right: none;
  border-left: 1px solid #d9d9d9;
}


/***Expandable List***/
.rtl .list table tbody tr td a.list-details-row-toggle {
    background-image: url("themes/curam-extapp/image/list-arrow-collapsed_rtl.png");
    background-position: right center;
    padding-right: 0px;
    padding-left: 8px;
}

.rtl .list table tbody tr td a.list-details-row-toggle.expanded {
  background-image: url('themes/curam-extapp/image/list-arrow-expanded.png');
  background-position: center 60%;
}
/*TODO: To be restyled. List Row Menu reusing the internal application styling temporarily */
.rtl .soria .list-row-menu .dijitButtonNode {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.rtl .soria .list-row-menu .dijitDropDownButtonHover .dijitButtonNode {
  background-position: right top;
}

.rtl .soria .list-row-menu .dijitDropDownButtonOpened .dijitButtonNode {
  background-position: right top;
}

.rtl .soria .page-level-menu .dijitButtonNode {
background-position:right top;
}

.rtl .soria .page-level-menu .dijitDropDownButtonHover .dijitButtonNode {
background-position:right top;
}

.rtl .soria .page-level-menu .dijitDropDownButtonOpened .dijitButtonNode {
background-position:right top;
}

.rtl .soria .page-level-menu .dijitDropDownButton {
margin-right:0px;
margin-left:-10px;
}

/*TODO: List nested in cluster, need revisit if more test cases are added*/
.rtl .cluster table td.first-col .list,
.rtl .cluster table td.first-col .cluster {
  padding-left: 0px;
  padding-right: 0px;
}

.rtl .cluster table td.last-col .list,
.rtl .cluster table td.last-col .cluster {
  padding-right: 0px;
  padding-left: 0px;
}

/*Link separator in list row*/
.rtl .list .container .separator {
  border-left: none;
  border-right: 1px solid #666666;
}

/* Remove unwanted border appearing as second delimiter (see Gum-4528) */
.rtl .list .container .separator {
  border-left: none !important;
  border-right: 0px solid #666 !important;
}
