div.newcentre {
    padding-left:220px;
    padding-right:260px;
    padding-bottom:10px;
}
div.newcentre_nocampaigns {
    padding-left:230px !important;
    padding-bottom:10px;
}
div.newcentre_noleft {
    padding-left:0px;
    padding-right:260px;
    padding-bottom:10px;
}
div.newcentre_noleft_nocampaigns {
    padding-left:0px;
    padding-bottom:10px;
}
div.newleft {
    width: 220px;
    float: left;
    padding-bottom:10px;
}
div.newright {
    width: 250px;
    float: right;
    padding-bottom:10px;
}
div.newright_nocampaigns {
    padding-bottom:10px;
}
div.newparent {
    padding-left:0px;
    padding-right:0px;
    position:relative;  
}

div.welcomeheaderdiv {
    background-color:#FFFFFF;
    font-size:13px;
    padding:8px 13px;
}

.layoutstyle {

}
div.action-panel {
    padding-left: 10px;
}

div.messagediv {
    /*border:1px solid #D9D9D9;*/
    margin-left:10px;
    margin-right:10px;
    padding-bottom:0px;
}

div.panelcaptiondiv {
  background-color: #BDD3EF;
  padding-bottom:5px;
  padding-top:5px;
}

.citizenhomelayouttitle {
   margin-left:15px;
   color:#FFFFFF;
   font-weight:bold;
}

div.centrediv {
    float:left;
    position: relative;
    width: 100%;
}
/* IE7 special case */
/* This is to handle IE7 not implementing the CSS box model correctly. */
*+html div.centrediv {
    width: 96%;
}
*+html span.lastlogondate {
    right: 30px;
}
/* End IE7 special case */

div.campaigndiv {
    /*border:1px solid #D9D9D9;*/
    margin-right:10px;
    padding-bottom:10px;
}

div.leftactionpaneldiv {
    border:1px solid #D9D9D9;
    float:left;
    margin-left:10px;
    margin-bottom:10px;
}
div.rightactionpaneldiv {
    border:1px solid #D9D9D9;
    float:left;
    margin-left:10px;
    margin-bottom:10px;
}
div.footerdiv {
  clear:both;
  margin-left:12px;
  min-height:12%;
  margin-right:12px;
}

div#centrediv div.layoutcontentdiv {
    margin:10px 10px 10px 0px;
    border-bottom:1px solid #D9D9D9;
    padding-bottom: 10px;
}

div#content div.newright div.layoutcontentdiv {
    /*border:1px solid #D9D9D9;*/
    /*background-color: #E0DCF7;*/
    margin-top: 4px;
    background: rgb(242,249,254); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(242,249,254,1) 0%, rgba(212,217,247,1) 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(242,249,254,1)), color-stop(99%,rgba(212,217,247,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(242,249,254,1) 0%,rgba(212,217,247,1) 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(242,249,254,1) 0%,rgba(212,217,247,1) 99%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(242,249,254,1) 0%,rgba(212,217,247,1) 99%); /* IE10+ */
    background: linear-gradient(to right,  rgba(242,249,254,1) 0%,rgba(212,217,247,1) 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f9fe', endColorstr='#d4d9f7',GradientType=1 ); /* IE6-9 */
}

div#content div.newright div.layoutcontentdiv div.emptyDiv{
    margin-top: 10px;
}

span.messagetitle {
   font-family: Arial;
   padding-left:34px;
   color: #848181;
   font-size:20px;
   font-weight: bold;
}

span.messagedescriptiontext {
  padding-left:34px;
  padding-top: 10px;
  margin-bottom:10px;
  color: #232323;
  font-size:16px;
  font-weight: normal;
  display:block;
}

div#content div.campaigncontent {
  margin-top:0px;
  font-size:13px;
  color:#404040;
}

div#content div.campaigncontent b {
  font-size: 17px;
}

img.imagehastext {
  padding-right :5px;
  float:left;
  border:none;
}
  
img.imagehastextleft {
  padding-left :5px;
  float: right;
  border:none;
}
  
img.imagehasnotext {
  border:none;
}

div.actionlinks {
   padding-left:10px;
   padding-top: 10px;
   float:left;
}

div.actionpanelimage {
  float:right;
  width:205px;
  height:95px;
  margin:2px;
  background-repeat:no-repeat;
  background-position:left top;
}

div.leftactionpanelimage {
  background-image: url(../../Images/title_forgotten_password.png);
}

div.rightactionpanelimage {
  background-image: url(../../Images/title_selectprogram.png);
}

a.colorlink {
    color:#2F90C2;
    text-decoration: none;
    padding-left:5px;
}
a.colorlink:hover {
    text-decoration: underline;    
}
a.textcolorlink {
    color:#2F90C2;
    text-decoration: none;
}
a.textcolorlink:hover {
    text-decoration: underline;
}

span.footercontent {
   padding-left:13px;
   font-size:13px;
   color:#404040;
}

span.lastlogondate {
    color: #ADA9A9;
    font-size:13px;
    font-weight:normal;
    /*position:absolute;*/
    right:13px;
    text-align:right;
    float: right;
}

div#content div div {
    
}