div.caseList {
	
    float: left;
    height: 225px;
    overflow: auto;
    width:25% !important;
}

div.caseTitle{

   background-color: white;
   padding-bottom: 6px;
   font-weight: bold;
}

div.caseworkerName{

   background-color: white;
   padding-bottom: 8px;
}

div.caseListEntry {

    background-color: white;
    padding-bottom:3px;
}

div#content table td.field div {
    margin-top: 10px;
}
div#content table td.field div div.caseList {
    overflow: visible;
}
div#content table td.field div div.caseList div.caseListEntry {
    margin-top: 0px;
    background-color: white;
    padding-bottom:3px;
}
div#content table td.field div div.caseList div.caseTitle {
    font-family: Arial;
    font-size: 13.5px;
    margin-top: 0px;
    padding-bottom: 0px;
    color: #666666;
}
div#content table td.field div div.caseList div.caseworkerName {
    font-family: Arial;
    font-size: 13.5px;
    margin-top: 0px;
    color: #222222;
}


span.caseContactImageEntry {

    height: auto;
    margin-right: 3px;
}
div.page-toolbar {
    display: none;
}
/* Over-riding OOTB font sizes to make Citizen Account consistent with public CSS */
body.soria {
    font-size: 13px;
}
.soria .appTabContainer .nav-panel .navigation-tab-outer .navigation-tab .dijitTabContainer .dijitTab .tabLabel {
    padding-bottom: 2px !important;
}
/* wrapping issue */
.soria div.cluster table td div {
    white-space: normal;
}