.rtl div.banner-title {
float:right;
}
.rtl div.banner-title-text {
margin-left:0px;
margin-right:70px;
}
.rtl div.banner-buttons {
float:left;
margin-right:0px;
margin-left:15px;
}
.rtl div.banner-button {
float:right;
}

.rtl div.banner-button a.banner-icon-link {
background-position:right top;
padding-left:0px;
padding-right:29px;
}

.rtl div.banner-button .banner-icon, div.banner-button .banner-link {
float:right;
}
.rtl div.banner-button .banner-icon img {
margin-left:0px;
margin-right:10px;
}
.rtl div.banner-button .banner-link {
margin-left:0px;
margin-right:6px;
}

.rtl div.le-pop-name-desc-div {
    float: right;
}

/*Life event list renderer - START*/

.rtl #main-content div.category-wrapper-div {
    padding: 0px 25px 40px 0px !important;
}
.rtl .category-h3 {
    background-position: left center;
}
.rtl #main-content .nomargin-div {
    float: right !important;
}
.rtl .category-title {
    padding: 20px 16px 0px 25px !important;
}
