.soria div.cluster table td.field.evidence-type-cell {
  border-bottom:1px solid #EDEDED;
  padding-top: 5px;
  padding-bottom: 4px;  
}

.soria div.cluster table td.field.evidence-type-cell a {
  vertical-align: middle;;
}

.soria div.cluster table td.field.evidence-type-cell a.add-evidence-type {
  background: url('../../Images/add-evidence-normal.png') no-repeat left top;
  float: right;
  height: 18px;
  width: 18px;
}

.soria div.cluster table td.field.evidence-type-cell a.add-evidence-type:hover {
  background: url('../../Images/add-evidence-roll.png') no-repeat left top;
}

.soria div.cluster table td.field.evidence-type-cell a.add-evidence-type:active {
  background: url('../../Images/add-evidence-click.png') no-repeat left top;
}

.soria div.cluster table td.field.evidence-type-cell a.add-evidence-type img {
  display: none;
}

