body.soria.high-contrast div.cluster table td.field.evidence-type-cell {
  border-bottom:1px solid #666666;
  padding-top: 5px;
  padding-bottom: 4px;  
}

body.soria.high-contrast div.cluster table td.field.evidence-type-cell a {
  vertical-align: middle;
  font-size: 13.5pt;
  text-decoration: underline;
}