body.high-contrast #content div div#name-desc-div-apply-online {
    width: 81%;    
    float:left; 
    margin:20px 0px 0px 0px; 
    font:13.5pt Arial !important;  
    color: #222222;
}

body.high-contrast #content div div#name-desc-div-pdf-description {
    width: 81% !important;
    float: left;    
    margin:20px 0px 0px 0px; 
    font: 300 13.5pt Arial !important;    
    color: #00649d; 
    text-decoration: underline; 
    cursor: pointer;
}

body.high-contrast #content div div#name-desc-div-pdf-description:hover {
    width: 81% !important;
    float: left;    
    margin:20px 0px 0px 0px; 
    font: 300 13.5pt Arial !important;    
    color: #05386b; 
    text-decoration: underline; 
    cursor: pointer;
}

body.high-contrast #content div div div#msgTitle {
    font-size: 24pt !important;
    font-weight: normal;
    color: #222222;
}

body.high-contrast #content div div {
    margin-top: 25px;
    font-size: 13.5pt !important;
    font-weight: normal;
    color: #222222;
}

body.high-contrast #content div.name-desc-div div.le-catalogue-type-div {
    padding-top: 5px;
    margin:0px 0px 0px 0px;
    font-family: Arial; 
    font-size: 24pt !important; 
    color: #666666;
}

body.high-contrast #content div.msgWrapper {
    border: 1px solid #666666;
    background-color: #fafafa;
}

