div.content {
	width: 100%;
	height: 100%;
	float: left;
}
h3.title-header {
	color:#2B7EB1;
	font-weight:bold;
	margin-bottom:5px;
	margin-top:0;
}
span.le-description {
	margin-left:0px;
	margin-bottom:12px;
}
div.icon-div {
	float:left;
	text-align:center;
	width:11%;
}
div.title-and-desc {
	width: 81%;
	float: left;
	margin-bottom: 15px;
	margin-right:2%;
}

div.name-desc-div {
	width: 81%;
	float: left;
	margin-bottom: 20px;
	margin-left:2%;
	margin-right:2%;
}

#content div div#name-desc-div-apply-online {
    width: 81%;    
    float:left; 
    margin:20px 0px 0px 0px; 
    font:300 15px arial !important;  
    color: #222222;
}

div.name-desc-div-application-forms {
    margin:30px 0px 0px 40px; 
    font: 18px Arial;     
    color: #222222;
    height: auto; 
}

div.name-desc-div-pdfinfo {    
    float: left;
    width:60%;
    margin:20px 0px 0px 0px;
}

div.le-catalogue-type-div-pdf-titleinfo {
    padding-top: 5px;
    margin:0px 0px 0px 0px;
    font: 24px Arial !important; 
    color: #666666;    
}

#content div div#le-catalogue-type-div-pdf-titleinfo {
    padding-top: 5px;
    margin:0px 0px 0px 0px;
    font: 24px Arial !important;      
    color: #666666;    
}

#content div div#le-apply-online-title
{
    padding-top: 5px;
    margin:0px 0px 0px 0px;     
    font: 24px Arial !important;     
    color: #666666;
}

#content div div#name-desc-div-pdf-description {
    width: 81% !important;
    float: left;    
    margin:20px 0px 0px 0px; 
    font: 300 15px Arial !important;    
    color: #222222; 
    text-decoration: underline; 
    cursor: pointer;
}

div.apply-for-benefits-content {
    width:99% !important;
    margin:0px 25px 0px 0px;
    float: left;
}

div.apply-for-benefits-titleanddesc {
    width:60% !important;
    float:left;
    margin:0px 0px 0px 0px;
}

div.category-wrapper {
    width: 100%; 
    float: left;
}
div.pop-name-desc-div {
	width: 83%;
	float: left;
	margin-bottom: 15px;
	margin-right:2%;
}
div.lifeevent-banner-title {
	float: left;
	width: 13%;	
	height: 60px;
	margin-bottom: 20px;
	margin-right:2%;
	text-align:right;
}
p.title {
	color: #F08626;
	border-bottom: 1px solid #D6D7D6;
	padding-bottom:4px;
	font-weight:bold;
}
p.desc {
	padding-top:4px;
}
div.banner-links {
	float: left;
	width: 13%;	
	height: 60px;
	margin-bottom: 20px;
	margin-left: 2%;
	text-align:left;
	color:#2B7EB1;
}
br.clear-both {
	clear: both;
}
span.disabled-button {
    	/* Sliding right image */
    	background: transparent url("../../Images/le_button_right_disabled.png") no-repeat scroll top right; 
	display: block;
	float: left;
	height: 32px; /* CHANGE THIS VALUE ACCORDING TO IMAGE HEIGHT */
	margin-right: 6px;
	padding-right: 20px; /* CHENGE THIS VALUE ACCORDING TO RIGHT IMAGE WIDTH */
	/* FONT PROPERTIES */
	text-decoration: none;
	color: #000000;
	font-size:12px;
	font-weight:bold;
}
span.disabled-button span{
	/* Background left image */ 
	background: transparent url("../../Images/le_button_left_disabled.png") no-repeat; 
	display: block;
	line-height: 17px; /* CHANGE THIS VALUE ACCORDING TO BUTTONG HEIGHT */
	padding: 7px 0 5px 18px;
	text-decoration: none;
}
a.button {
    	/* Sliding right image */
    	background: transparent url("../../Images/le_button_right_nor.png") no-repeat scroll top right; 
	display: block;
	float: left;
	height: 32px; /* CHANGE THIS VALUE ACCORDING TO IMAGE HEIGHT */
	margin-right: 6px;
	padding-right: 20px; /* CHENGE THIS VALUE ACCORDING TO RIGHT IMAGE WIDTH */
	/* FONT PROPERTIES */
	text-decoration: none;
	color: #000000;
	font-size:12px;
	font-weight:bold;
}
a.button span {
	/* Background left image */ 
	background: transparent url("../../Images/le_button_left_nor.png") no-repeat; 
	display: block;
	line-height: 17px; /* CHANGE THIS VALUE ACCORDING TO BUTTONG HEIGHT */
	padding: 7px 0 5px 18px;
	text-decoration: none;
} 
a.button:active {
	background: transparent url("../../Images/le_button_right_sel.png") no-repeat scroll top right; 
}
a.button:hover {
	background: transparent url("../../Images/le_button_right_rol.png") no-repeat scroll top right; 
}

a.button:active span{
	background: transparent url("../../Images/le_button_left_sel.png") no-repeat; 
}
a.button:hover span{
	background: transparent url("../../Images/le_button_left_rol.png") no-repeat; 
}
div.rich-text h2.more-info {
	font-weight:bold;
}
p.more-info {
	color:#5A6163;
	margin-bottom:10px;
}
div.le-catalogue-type-div div.le-catalogue-type-title a{
    	padding-top: 3px;
    	color: #3276BC;
}
div.name-desc-div h3 span {
    	color: #F2961F;
    	font-weight: bold;
}
div.name-desc-div h3 {
	border-bottom: 1px solid #D6D7D6;
	background: transparent url("../../Images/arrow_expanded.png") no-repeat; 
	background-position: right; 
	cursor:pointer;
}
div.pop-name-desc-div h3 {
	padding-bottom: 5px;
}
div.le-catalogue-type-div {
	padding-top: 5px;
	margin:0px 0px 0px 0px;
	font-family: Arial; 
	font-size: 24px !important; 
	color: #666666;
}

div.le-catalogue-type-name a {
	font-weight: bold;
}
div.le-catalogue-type-name {
	padding-bottom: 5px;
}
div#msgWrapper {
    background-color: #F7F7F7;
    min-height: 70px;
}
div#msgIcon {
    float: left;
    width: 50px;
}
div#msgTitleAndDesc {
    margin-left: 77px;
}
#content div div div#msgTitle {
    font-size: 20px !important;
}
div#msgDesc {
    width: 90%;
}
div#msgDesc p {
    margin: 0px;
}
div#msgDesc > p:last-of-type {
    float: left;
    margin-right: 5px;
}
div#msgIcon .image {
    margin-left: 15px;
}
a#msgLink {
    color: #00649D;
}