/*
 * Kill some top margins
 */
div.community-services-title,
div.map-container, 
div.servicesMap,
div.servicesMap > div,
div.comm-services-container,
div.comm-services-container .div.servicesListEntry,
div.comm-services-container .section-title,
div.comm-services-container .triageSearchBox,
div.gov-services-container,
div.gov-services-container .section-title,
div.gov-services-container .gov-options-container,
.gmnoprint div,
div.triageSearchBox div {
    margin-top: 0px !important;
}

div.comm-services-container div.servicesList {
    margin-top: 0px !important;
    height: 315px !important;
}