/*______________________________________________________________________________
 * contactlogpreview.css
 *
 */

body.soria div.contact-log-preview div.cl-table-header table thead tr th {
  padding: 5px 10px 5px 8px;

}

div.narrative {
  padding-left: 7px;
  background-color: #FFFFFF;
}

div.narrative table {
  margin-top: 5px;
}

div.narrative table thead {
  background-color: transparent;
}

 div.contact-log-preview div.narrative {
  display: inline-block;
}


div.contact-log-preview div.narrative table thead tr th {
  background: transparent;
  border: 0px !important;
}


div.contact-log-preview div.narrative table tbody tr td {
  background: transparent !important;
  background-image: transparent !important;
  padding: 0px 0px 4px 0px !important;
  border: 0px !important;
}

div#note-history table tbody tr td {
  border: 0px !important;
}

div.contact-log-preview div.narrative #note-history .rich-text {
 padding-bottom: 14px; 
}

body.soria div.preview-contact-log-wrapper table tr.even-last-row td.first-field,
body.soria div.preview-contact-log-wrapper table tr.odd-last-row td.first-field {

  border-bottom: 1px solid #B6B6B6 !important;
  border-left: 1px solid #B6B6B6 !important;

}

div.preview-contact-log-wrapper table tbody tr td.first-field {
  padding: 0px;
}

div.contact-log-preview table.list-body tbody tr td {
  background-color: #ffffff !important;
}

.contact-log-spacer {
  background-color: #E6EBF1;
}

.cl-table-header table {
  margin-top: 0px !important;
}

/*______________________________________________________________________________
 * end contactlogpreview.css
 *
 */