/*______________________________________________________________________________
 * contactlogpreview_rtl.css
 *
 */

body.rtl.soria div.contact-log-preview div.cl-table-header table thead tr th {
  padding: 5px 8px 5px 10px;

}

.rtl div.narrative {
  padding-left: 0px;
  padding-right: 7px;
}

body.rtl.soria div.preview-contact-log-wrapper table tr.even-last-row td.first-field,
body.rtl.soria div.preview-contact-log-wrapper table tr.odd-last-row td.first-field {

  border-left: none !important;
  border-right: 1px solid #B6B6B6 !important;

}

/*______________________________________________________________________________
 * end contactlogpreview_rtl.css
 *
 */