/*______________________________________________________________________________
 * core custom.css
 *
 * Core custom css styles.
 */

.hidden-screenreader-label {
	border: 0; 
	clip: rect(0 0 0 0);
	height: 1px; 
	margin: -1px;
	overflow: hidden;
	padding: 0; 
	position: relative;
	width: 1px;	
	
}


.action-link-button input {
  background-color: white;
  color: #376F8F;
  border: none;
  text-decoration: none;
  cursor: pointer;
  font-size: 100%;
  position: relative;
  bottom: -1px;
}

span.taskSubject{
    font-size: 120%;
    font-weight: bold;
    color: #F39002;
    width:100%;
}

.details .bx--cluster .top .center,
.details .bx--cluster .bottom .center {
    display:none;
}
.details .bx--cluster .top .left,
.details .bx--cluster .bottom .left {
    background:none;
}


/*
* Add styling to the person search page
*/
table tbody td.field div.personsearchname img,
a.in-page-list-icon img,
body.curam.soria div#content div.list table td a ~ img {
  vertical-align:middle;
}

body.curam.soria table tbody td.field div.personsearchname img {
	padding: 0 5px;
}

/*
* Add styling for viewing rich text
*/
div.rich-text ul, div.rich-text ol {
  margin-top:12px;
  margin-bottom:12px;
  padding-left:40px;
}

div.rich-text ul li {
  list-style-type:disc;
  list-style-image:none;
  list-style-position:outside;
}

div.rich-text ol li {
  list-style-type:decimal;
  list-style-image:none;
  list-style-position:outside;
}

div.rich-text sub {
  vertical-align:sub !important;
}

div.rich-text sup {
  vertical-align:super !important;
}

div.events-attendees-list table tbody tr td.first-field {
  padding-left: 0px;
}


/*
* Styling to remove extra set of action buttons from Org Structure tree
* TEC-6302
* CR00254430, JF
*/
#Curam_Organization_OrganisationStructureTreeWindow .page-header
{
  display: none;
}

#Curam_Organization_OrganisationStructureTreeWindow .title-exists
{
  top:0px;
}

/*
* Styling to add the elipsis to the property description when it excceds one
* line on the search result list.
* CR00344670, JY
*/
.SYSADMAPP.soria .list.property-admin-search-result-list table tbody tr td.field div.text-field div.line {
  display:none;
}
.SYSADMAPP.soria .list.property-admin-search-result-list table tbody tr td.field div.text-field div.line:first-child {
  display:block;
}

.SYSADMAPP.soria .list.property-admin-search-result-list table tbody td.first-field+td.field+td.field,
.SYSADMAPP.soria .list.property-admin-search-result-list table tbody td.first-field+td.field+td.field+td.field,
.SYSADMAPP.soria .list.property-admin-search-result-list table tbody td.field div.text-field div.line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

.soria div.bx--cluster.property-admin-dynamic-message .bx--field {
color: #FF0000;
}
.soria .bx--cluster.evidence-in-page-navg .in-page-nav-tabContainer { height: 25px !important; }

mark::before,
mark::after {
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

mark::before {
  content: " [highlight start] ";
}

mark::after {
  content: " [highlight end] ";
}
