/*______________________________________________________________________________
 * core custom_rtl.css
 *
 * Core custom css styles.
 */

/*
* Add styling for viewing rich text
*/
.rtl div.rich-text ul, .rtl div.rich-text ol {
  padding-left:0px;
  padding-right:40px;
}

.rtl div.events-attendees-list table tbody tr td.first-field {
  padding-left: 0px;
  padding-right: 0px;
}
