body.soria div.SEARCHCRITERIAPANEL{
    margin-top: 0px;
    margin-left:0px;
    background-color: #F1F5Fd;
}

body.soria div.SEARCHCRITERIAPANEL1 {
    background-color: #F1F5Fd;
    padding-left: 50%;
    position: fixed;
    top: 25px;
    height: 30px;
    z-index:99999;
    width: 50% !important;

}

.soria div.SEARCHCRITERIAPANEL1 table td {
    background-color: transparent;
}

.soria div.SEARCHCRITERIAPANEL2,
.soria .SEARCHCRITERIAPANEL2 table.input-cluster,
.soria .SEARCHCRITERIAPANEL2 table.input-cluster td {
    background-color: transparent;
}

body#Curam_HCRIntakeErrors div#content, body#Curam_HCRIntakeErrors_customised div#content{
    margin-top:10px;
}

/*.soria .SEARCHCRITERIAPANEL1 table div.action-set a.ac span.left-corner, .soria .SEARCHCRITERIAPANEL1 table div.action-set a.ac span.right-corner, .soria .SEARCHCRITERIAPANEL1 table div.action-set a.ac span.middle{
    display:none !important;
}*/

.soria .SEARCHCRITERIAPANEL2 table.input-cluster table.date-time td.time{
    display:none;
}

.soria .SEARCHCRITERIAPANEL2 table.input-cluster th.label{
    color:#000000;
    white-space: nowrap;
    padding-right: 0px;
}

.soria .SEARCHCRITERIAPANEL2 table.input-cluster th span[title="To: "]{
    margin-left: 38px;
}

.soria .SEARCHCRITERIAPANEL2 table.input-cluster table.date-time td.popup-actions a{
    padding-left: 2px;
}

.soria .SEARCHCRITERIAPANEL2 table.input-cluster table.date-time td.input-date input{
    padding-left: 5px;
}

.soria .SEARCHCRITERIAPANEL2 table.input-cluster table.date-time td.input-date{
    width:60px;
}

.soria .SEARCHCRITERIAPANEL2 table.input-cluster th#N20031-1-2 span.label{
    margin-left: 15px;
}

body#Curam_HCRIntakeErrors_customised div.page-description, body#Curam_HCRIntakeErrors div.page-description{
    display:none;
}

body#Curam_HCRIntakeErrors_customised div.mandatory-icon-help, body#Curam_HCRIntakeErrors div.mandatory-icon-help{
    display:none;
}

body#Curam_HCRIntakeErrors_customised div.description-title .mand-help .no-desc-text, body#Curam_HCRIntakeErrors div.description-title .mand-help .no-desc-text{
    display:none;
}

.soria div.DPDESCRIPTION table th {
    display:none;
}

.soria div.DPDESCRIPTION table td {
    width: 100%;
    display: inline-block;
    white-space: nowrap;
    position: relative;
    left: 0px;
    margin: 0px;
}

.soria div.WORKFLOWDESCRIPTION table th {
    display:none;
}

.soria div.WORKFLOWDESCRIPTION table td {
    width: 100%;
    display: inline-block;
    white-space: nowrap;
    position: relative;
    left: 0px;
    margin: 0px;
}

.soria div.WORKFLOWCHART table th{
    display:none;
}

.soria div.WORKFLOWCHART table td{
    display: inline-block;
    height: 350px;
    overflow: hidden;
    width: 200%;
    position: relative;
    left: -15px;
    margin: 0px;
}

.soria div.DEFERREDPROCESSCHART table th{
    display:none;
}

.soria div.DEFERREDPROCESSCHART table td {
    display: inline-block;
    height: 350px;
    overflow: hidden;
    white-space: nowrap;
    width: 200%;
    position: relative;
    left: -15px;
    margin: 0px;
}

/* ==== Curam 2016 Styling ==== */

body#Curam_HCRIntakeErrors.curam div#content,
body#Curam_HCRIntakeErrors_customised.curam div#content {
  margin-top: 35px;
}

body.curam.soria div#content #mainForm div.SEARCHCRITERIAPANEL{
  margin-top: 0px;
  margin-left:0px;
  margin-right: 45px;
  background-color: $infrastructure_primary-form-control-background_color;
  position: fixed;
  top: 60px;
  overflow-y: auto;
}

body.curam.soria div#content div.SEARCHCRITERIAPANEL table {
  margin-left: 0;
  margin-top: 0;
}

body.curam.soria div#content div.SEARCHCRITERIAPANEL table td {
  padding-bottom: 0px;
}

body.curam.soria div#content div.SEARCHCRITERIAPANEL1 {
  background-color: transparent;
  padding: 0;
  position: relative;
  height: 40px;
  z-index: 1;
  float: right;
  min-width: 425px;
  top: 0px;
}

body.curam.soria div#content div.SEARCHCRITERIAPANEL1 table td {
  background-color: transparent;
  padding-bottom: 0px;
}

body.curam.soria div#content div.SEARCHCRITERIAPANEL1 table td.first-col.top:first-child {
  padding-top: $infrastructure_small_padding;
  padding-bottom: $infrastructure_small_padding;
  position: absolute;
  width: 325px;
  right: 145px;
}

body.curam.soria div#content div.SEARCHCRITERIAPANEL1 table td.last-col.top {
  position: absolute;
  width: 100px;
  right: 0px;
}

body.curam.soria div#content div.SEARCHCRITERIAPANEL1 table td div.action-set {
  margin-top: 5px;
  padding-left: 0px;
  padding-right: $infrastructure_very-big_padding;
  float: right;
}

body.curam.basic div#content div.SEARCHCRITERIAPANEL1 table td div.action-set a.ac {
  background-color: $infrastructure_primary-background_color;
  padding: 3px 0px 4px 0px;
  margin-bottom: 0px;
}

body.curam.basic div#content div.SEARCHCRITERIAPANEL1 table td div.action-set a.ac:hover,
body.curam.basic div#content div.SEARCHCRITERIAPANEL1 table td div.action-set a.ac:focus {
  background-color: $infrastructure_primary-hover-and-focus-font_color;
}

body.curam.basic div#content div.SEARCHCRITERIAPANEL1 .action-set.blue-action-set a:hover .middle,
body.curam.basic div#content div.SEARCHCRITERIAPANEL1 .action-set.blue-action-set a:focus .middle {
  color: $infrastructure_primary-background_color;
}

body.curam.basic div#content div.SEARCHCRITERIAPANEL1 .action-set.blue-action-set .middle {
  padding: 1px 7px 0px 7px;
}

body.curam.soria div#content div.SEARCHCRITERIAPANEL2,
body.curam.soria div#content div.SEARCHCRITERIAPANEL2 table.input-cluster,
body.curam.soria div#content div.SEARCHCRITERIAPANEL2 table.input-cluster td {
  background-color: transparent;
  padding-top: 0px;
  padding-left: $infrastructure_normal_padding;
}

body.curam.soria div#content div.SEARCHCRITERIAPANEL2 table.input-cluster th.label{
  font-family: $infrastructure_main-medium_font-family;
  font-size: $infrastructure_small_font-size;
  color: $infrastructure_primary-form-control-font_color;
  line-height: $infrastructure_small_line-height;
  text-align: right;
  white-space: nowrap;
  padding-right: 0px !important;
}

body.curam.soria div#content div.SEARCHCRITERIAPANEL2 table.input-cluster {
  overflow: visible;
}

body.curam.soria div#content div.SEARCHCRITERIAPANEL2 table.input-cluster table.date-time {
  overflow: visible;
}

body.curam.soria div#content div.SEARCHCRITERIAPANEL2 table.input-cluster table.date-time td.input-date + td.popup-actions + td.time {
  display:none;
}

body.curam.soria div#content div.SEARCHCRITERIAPANEL2 table.input-cluster table.date-time td.input-date {
  padding-top: 0px;
  padding-left: 0px;
  width: 90px;
}

body.curam.soria div#content div.SEARCHCRITERIAPANEL2 table.input-cluster table.date-time td.input-date input{
  padding-left: $infrastructure_small_padding;
  background-color: $infrastructure_primary-background_color;
  height: 30px;
}

body.curam.soria div#content div.SEARCHCRITERIAPANEL2 table.date-time td.popup-actions img {
  margin-top: 5px;
}

body#Curam_HCRIntakeErrors.curam div.bx--cluster div.bx--cluster .top,
body#Curam_HCRIntakeErrors_customised.curam div.bx--cluster div.bx--cluster .top {
  padding-left: 0px;
}

body.curam.soria div#content div.SEARCHCRITERIAPANEL2 table.input-cluster .bx--label{
  margin-left: 0px;
}

body#Curam_HCRIntakeErrors.curam .list table thead tr th,
body#Curam_HCRIntakeErrors.curam .list table thead tr th.field,
body#Curam_HCRIntakeErrors_customised.curam .list table thead tr th,
body#Curam_HCRIntakeErrors_customised.curam .list table thead tr th.field {
  padding: $infrastructure_normal_padding;
}

body#Curam_HCRIntakeErrors.curam div.bx--cluster div.list table tr td:first-child,
body#Curam_HCRIntakeErrors_customised.curam div.bx--cluster div.list table tr td:first-child{
  padding: $infrastructure_normal_padding $infrastructure_normal_padding !important;
}

body#Curam_HCRIntakeErrors.curam div.bx--cluster div.list table tr td.dummy-tfoot-td,
body#Curam_HCRIntakeErrors_customised.curam div.bx--cluster div.list table tr td.dummy-tfoot-td {
  padding: 0 !important;
}
