body#Curam_Person_listCase.rtl table.breadcrumb td,
body#Curam_Person_listCaseForDuplicate.rtl table.breadcrumb td,
body#Curam_Person_listCommunicationForDuplicate.rtl table.breadcrumb td,
body#Curam_Person_listCommunication.rtl table.breadcrumb td,
body#Curam_Person_listDeductionForDuplicate.rtl table.breadcrumb td,
body#Curam_Person_listDeduction.rtl table.breadcrumb td,
body#Curam_Person_listFinancialInstrumentForDuplicate.rtl table.breadcrumb td,
body#Curam_Person_listFinancialInstrument.rtl table.breadcrumb td,
body#Curam_Person_listFinancialForDuplicate.rtl table.breadcrumb td,
body#Curam_Person_listFinancial.rtl table.breadcrumb td,
body#Curam_Person_listInteractionForDuplicate.rtl table.breadcrumb td,
body#Curam_Person_listInteraction.rtl table.breadcrumb td,
body#Curam_Person_listIssueForDuplicate.rtl table.breadcrumb td,
body#Curam_Person_listIssue.rtl table.breadcrumb td,
body#Curam_Person_listRoleForDuplicate.uim.rtl table.breadcrumb td,
body#Curam_Person_listRole.uim.rtl table.breadcrumb td,
body#Curam_Person_listTaskForDuplicate.rtl table.breadcrumb td,
body#Curam_Person_listTask.rtl table.breadcrumb td
body#Curam_Person_listTask.rtl table.breadcrumb td
{
padding-right:0px;
padding-left:5px;
}

.rtl div.tab-renderer td.top {
padding:10px 17px 10px 10px;
}

.rtl div.tab-renderer>table>tbody>tr>td+td {
padding-left:0px;
padding-right:15px;
}
