body#Curam_Person_listCase table.breadcrumb td,
body#Curam_Person_listCaseForDuplicate table.breadcrumb td,
body#Curam_Person_listCommunicationForDuplicate table.breadcrumb td,
body#Curam_Person_listCommunication table.breadcrumb td,
body#Curam_Person_listDeductionForDuplicate table.breadcrumb td,
body#Curam_Person_listDeduction table.breadcrumb td,
body#Curam_Person_listFinancialInstrumentForDuplicate table.breadcrumb td,
body#Curam_Person_listFinancialInstrument table.breadcrumb td,
body#Curam_Person_listFinancialForDuplicate table.breadcrumb td,
body#Curam_Person_listFinancial table.breadcrumb td,
body#Curam_Person_listInteractionForDuplicate table.breadcrumb td,
body#Curam_Person_listInteraction table.breadcrumb td,
body#Curam_Person_listIssueForDuplicate table.breadcrumb td,
body#Curam_Person_listIssue table.breadcrumb td,
body#Curam_Person_listRoleForDuplicate.uim table.breadcrumb td,
body#Curam_Person_listRole.uim table.breadcrumb td,
body#Curam_Person_listTaskForDuplicate table.breadcrumb td,
body#Curam_Person_listTask table.breadcrumb td
body#Curam_Person_listTask table.breadcrumb td
{
padding-right:5px
}

div.tab-renderer td.top {
background-color: #F9F9F9;
border:1px solid #7786B8;
padding:10px 10px 10px 17px;
}

div.tab-renderer td.top div.action-set {
padding-bottom:5px;
}

div.tab-renderer {
border: medium none;
}
div.tab-renderer>table {
border-collapse:collapse;
}
div.tab-renderer>table>tbody>tr>td {
padding:0;
border:none;
}
div.tab-renderer>table>tbody>tr>td+td {
padding-left:15px;
}
div.tab-renderer div.bx--cluster,
div.tab-renderer div.list {
width:99%;
margin:0;
}