/*
 * Licensed Materials - Property of IBM
 *
 * Copyright IBM Corporation 2012,2021. All Rights Reserved.
 *
 * US Government Users Restricted Rights - Use, duplication or disclosure
 * restricted by GSA ADP Schedule Contract with IBM Corp.
 */

div.cluster-cpr-no-internal-padding .top{
 padding-left: 0px !important;
 padding-right: 0px !important;
 border-bottom: 0px;
 padding-bottom:0px;
 padding-top:0px;
}

div.cluster-cpr-field-bold {
 font-weight: bold;
}

div.list-cpr-margin-top-bottom {
 margin-bottom: 4px;
 margin-top: 4px;
 margin-left:0px !important;
 margin-right: 0px !important;
}

div.cluster-cpr-grey-background .top{
 background-color: #EBEDF2;
}
