/*______________________________________________________________________________
 * core evidenceDashboard
 *
 * styles for the evidence dashboard page.
 */
.evidenceDashboard {
    margin-left: 4px;
    margin-right: 4px;
}

.evidenceDashboard table td a {
  color: #376F8F;
  text-decoration: none;
  vertical-align: middle;
}

.evidenceFolderOpened {
  background: center  url(../../Images/tree_minus.png);
}

.evidenceFolderClosed {
  background: center  url(../../Images/tree_plus.png);
}

.evidenceTitlePane {
    background: url("../../Images/category_bar_selected.png") repeat-x scroll 0 0 transparent;
    border-left: 1px solid #DDE0E9;
    border-right: 1px solid #DDE0E9;
    height: 20px;
    padding-top: 1px;
}

.arrowImageSpanClass {
  cursor: pointer;
  float: right;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 4px;
  *margin-top: -10px;
}

.evidenceLeaf {
  background: no-repeat center  url(../../Images/tree_minus.png);
}


.tdStyle {
  vertical-align: middle;
  height:25px;
  
}

.dashboardLegend {
  vertical-align: middle;
  height:25px;
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
}

.dashboardLegendSpan{
 padding-left: 2px;
 padding-right: 20px;
}

.dashboardColumn{
 border-right: 1px solid #EDF0F5;
}

.dashboardColumnContent{
  background-color:transparent !important;
  padding: 0 10px 0 10px;
}

.dashboardTextColumn{
 width: 90%;
 padding-left:5px;
 vertical-align: middle;
 height:25px;
}

.dashboardTextColumn div span{
 padding-right:15px;
 vertical-align:middle;
}

.dashboardImageColumn{
 padding: 0px 5px 0px 5px; 
 vertical-align: middle;
 width:5%;
 height:25px;
}

.dashboardImageColumn img{
visibility: hidden;
vertical-align: middle;
}


.tdArrowStyle {
  padding-right: 10px;
  padding-left: 10px;
} 

/*
 * Styles for the evidence labels - Recorded, not recored and All. 
 */
.contentPanelLabelsStyle {
  *margin: -14px 0px 0px 0px; /*fix for IE7 Float bug*/
  float: right;
  cursor: pointer;
  color: #376F8F;
  border-right: 1px solid #A9BBCE;
  display:inline-block;
  position:absolute;
  right:50px;
  }

.filterLabelText {
    position: relative;
    top: 1px;
}

.backgroundHighlight {
    background: url("../../Images/selected_middle.png") repeat scroll center bottom transparent;
    border-left: 1px solid #A9BBCE;

    height: 18px;
    padding: 0 30px;
    text-align: center;
    display:inline-block;
}

.backgroundHighlightRollover {
  background: url("../../Images/rollover_middle.png") repeat scroll center bottom transparent;
  border-left: 1px solid #A9BBCE;
  height: 18px;
  padding: 0 30px;
  text-align: center;
  display:inline-block;
}

.backgroundNormal {
    border-left: 1px solid #A9BBCE;

    height: 18px;
    padding: 0 30px;
    text-align: center;
    display:inline-block;
}

.noBorderTitlePaneContentOuter {
  border: none;
}

.treeHolderStyle {
  position:relative;
  margin-left: 2px;
  top: 10px;
}

#dashboardView .treeHolderStyle
{
  position:static;
  margin-left: 2px;
  top: 10px;  
}

.evidence-dashboard-cluster {
  display: none;
  margin-top: -3px;
}

.EvidenceDashboardOpen {
  background: repeat-x url(../../Images/category_bar_selected.png);
}

.EvidenceDashboardClosed {
  background: repeat-x url(../../Images/category_bar_deselected.png);
}

.evidence-dashboard-header-wrapper {
  background: repeat-x url(../../Images/category_bar_selected.png);
}

/*
 * Style for the title pane title.
 */
 h2.evidenceTitlePaneHeader {
  display: inline;
}

.evidenceTitlePaneTextNode {
  top: 1px;
  position:relative;
  margin-left: 9px;
  float:left;
}

.dijitTreeContainer {
    vertical-align: top;
}

.opened {
    background-image: url(../../Images/arrow_open_16x16.png);
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
}
.closed {
    background-image: url(../../Images/arrow_closed_16x16.png);
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
}
.dashboardHeader{
 width:100%;
}

.dashboardHeader td{
 vertical-align: middle;
}
.dashboardLegend td #iconsColumn{
   text-align: right;
}
/*
 * Style for the filter-groups selection list
 */
.dashboardHeader td .dijitSelect .dijitButtonContents {
 min-width:170px;
 max-width:170px;
}

.dashboardFilter table.dijit span.dijitReset {
 max-width:170px;
 overflow:hidden;
}

div[dijitpopupparent="dashboardFilterSelection"] {
    max-height: 200px !important;
    border: 1px solid #7F9DB9 !important;
}

/* ======== Curam 2016 Styling ======== */

body.curam.soria .evidenceDashboard {
  margin-left: 4px;
  margin-right: 4px;
}

body.curam.soria .evidenceDashboard table td a {
  color: $infrastructure_primary-hover-and-focus-font_color;
}

body.curam.soria .evidenceTitlePane {
  background: $core_evidenceDashboard-evidenceTitlePane_background-color;
  border-left: none;
  border-right: none;
  height: 30px;
  padding-top: 0px;
}

body.curam.soria .arrowImageSpanClass {
  cursor: pointer;
  float: right;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 5px;
  border-left: 1px solid $infrastructure_primary-menu-and-border_background-color;
  padding-right: 13px;
  padding-left: 12px;
}

body.curam.soria .dashboardLegend {
  vertical-align: middle;
  height:20px;
  text-align: right;
  padding-top: 0px;
  padding-bottom: $infrastructure_very-big_padding;
}

body.curam.soria .dashboardLegendSpan{
 padding-left: $infrastructure_normal_padding;
 padding-right: 0px;
 font-family: $infrastructure_main-regular_font-family;
 font-size: $infrastructure_normal_font-size;
 color: $infrastructure_primary-form-control-font_color;
 text-align:right;
}

body.curam.soria div.dashboardLegend img{
  padding-left: $core_evidenceDashboard-dashboardLegend-icon_padding;
}

body.curam.soria .dashboardColumn{
  border-right: 1px solid $infrastructure_primary-menu-and-border_background-color;
}

body.curam.soria .dashboardColumnContent{
  background-color:transparent !important;
  padding: 0 $infrastructure_normal_padding 0 $infrastructure_normal_padding;
}

body.curam.soria .dashboardTextColumn{
  width: 90%;
  padding-left: $infrastructure_normal_padding;
  vertical-align: middle;
  height: 30px;
}

body.curam.soria .dashboardTextColumn div span{
  padding-right:15px;
  vertical-align:middle;
  line-height: $infrastructure_normal_line-height;
  font-family: $infrastructure_main-regular_font-family;
  font-size: $infrastructure_normal_font-size;
  color: $infrastructure_primary-form-control-font_color;
}

body.curam.soria .contentPanelLabelsStyle {
  float: right;
  cursor: pointer;
  color: $infrastructure_primary-hover-and-focus-font_color;
  border-right: none;
  display:inline-block;
  position:absolute;
  right:50px;
}
  
body.curam.soria .filterLabelText {
  position: relative;
  top: 6px;
  font-family: $infrastructure_main-medium_font-family;
  font-size: $infrastructure_normal_font-size;
  text-align: center;
}

body.curam.soria .backgroundHighlight .filterLabelText,
body.curam.soria .backgroundHighlightRollover .filterLabelText {
  border-bottom: 3px solid $infrastructure_primary-hover-and-focus-font_color;
  padding-bottom: 4px;
}

body.curam.soria .backgroundHighlight,
body.curam.soria .backgroundHighlightRollover {
  background: $infrastructure_primary-background_color;
  border-left: none;
  height: 30px;
  padding: 0 $infrastructure_very-big_padding;
  text-align: center;
  display:inline-block;
}

body.curam.soria .backgroundNormalRollover {
  border-left: none;
  height: 30px;
  padding: 0 $infrastructure_very-big_padding;
  text-align: center;
  display:inline-block;
  color: $infrastructure_secondary-hover-and-focus-font_color;
  background: none;
}

body.curam.soria .backgroundNormal {
  border-left: none;
  height: 30px;
  padding: 0 $infrastructure_very-big_padding;
  text-align: center;
  display:inline-block;
  color: $infrastructure_primary-hover-and-focus-font_color;
  background: none;
}

body.curam.soria .evidenceTitlePaneTextNode {
  top: 5px;
  position: relative;
  margin-left: 10px;
  float: left;
  font-family: $infrastructure_main-bold_font-family;
  font-size: $infrastructure_normal_font-size;
  color: $infrastructure_primary-form-control-font_color;
}

body.curam.soria .dashboardHeader td#filterColumn{
  padding-bottom: $infrastructure_big_padding;
  width: 43%;
}

body.curam.soria .dashboardHeader td#filterColumn div.dashboardFilter span{
  font-family: $infrastructure_main-regular_font-family;
  font-size: $infrastructure_normal_font-size;
  color: $infrastructure_primary-form-control-font_color;
}

body.curam.soria .dashboardHeader td#filterColumn div.dashboardFilter table.dijitSelect{
  border: none;
  background: $infrastructure_primary-menu-and-border_background-color;
}

body.curam.soria .dashboardHeader td#filterColumn div.dashboardFilter table.dijitSelect td.dijitButtonContents {
  border: none;
}

body.curam.soria .dashboardHeader td#filterColumn div.dashboardFilter table.dijitSelect td.dijitArrowButton {
  padding: 0px;
}

body.curam.soria .dashboardHeader td#filterColumn div.dashboardFilter table.dijitSelect td.dijitButtonContents span.dijitSelectLabel{
  padding-top: 1px;
  padding-left: $infrastructure_normal_padding;
}

body.curam.soria .dashboardHeader{
   width:100%;
   margin-top: 10px;
}

body.curam.soria div[dijitpopupparent="dashboardFilterSelection"] {
  max-height: 200px !important;
  border: none !important;
}

body.curam.soria div[dijitpopupparent="dashboardFilterSelection"] td.dijitReset.dijitMenuItemLabel {
  height: 20px !important;
  font-family: $infrastructure_main-regular_font-family;
  font-size: $infrastructure_normal_font-size;
  color: $infrastructure_primary-form-control-font_color;
  font-weight: normal;
}

body.curam.soria div[dijitpopupparent="dashboardFilterSelection"] .dijitMenuItemSelected td.dijitReset.dijitMenuItemLabel {
  height: 20px !important;
  color: $infrastructure_primary-background_color;
}

body.curam.soria div[dijitpopupparent="dashboardFilterSelection"] td.dijitReset.dijitMenuArrowCell {
  height: 20px;
}

body.curam.soria .dijitTitlePaneContentInner {
  padding: $infrastructure_normal_padding $infrastructure_small_padding 0px $infrastructure_small_padding;
}

body.curam.soria .evidenceDashboard br {
  line-height: $infrastructure_heading-three_line-height;
}

body.curam.soria td div.dashboardColumnContent tr:hover,
body.curam.soria td div.dashboardColumnContent tr:focus{
  background-color: $core_evidenceDashboard-evidence-row-hover_background-color !important;
}
