/*______________________________________________________________________________
 * core evidenceDashboard_rtl
 *
 * styles for the evidence dashboard page.
 */
.rtl .arrowImageSpanClass {
  float: left;
}

.rtl .dashboardLegend {
  text-align: right;
}

.rtl .dashboardLegendSpan{
 padding-left: 2px;
 padding-right: 20px;
}

.rtl .dashboardLegend img, .rtl .dashboardLegend span {
 display: inline;
 float: left;
}

.rtl .dashboardColumn{
 border-left: 1px solid #EDF0F5;
 border-right: none;
}

.rtl .dashboardTextColumn{
 padding-right:5px;
 padding-left:0;
}

.rtl .dashboardTextColumn div span{
 padding-left:15px;
 padding-right:0;
}


/*
 * Styles for the evidence labels - Recorded, not recored and All. 
 */
.rtl .contentPanelLabelsStyle {
  float: left;
  border-right: none;
  border-left: 1px solid #A9BBCE;
  left:50px;
 }

.rtl .backgroundHighlight {
    border-left: none;
    border-right: 1px solid #A9BBCE;
}

.rtl .backgroundHighlightRollover {
  border-left: none;
  border-right: 1px solid #A9BBCE;
}

.rtl .contentPanelLabelsStyle >div {
  float: left;
}

.rtl .backgroundNormal {
    border-left: none;
    border-right: 1px solid #A9BBCE;
    float: left;
}

.rtl .treeHolderStyle {
  margin-left: 0px;
  margin-right: 2px;
}

.rtl #dashboardView .treeHolderStyle
{
  margin-left: 0px;
  margin-right: 2px;
}

/*
 * Style for the title pane title.
 */
.rtl .evidenceTitlePaneTextNode {
  margin-right: 9px;
  margin-left: 0px;

}

.rtl h2.evidenceTitlePaneHeader {
  float:right;
}

/* ======== Curam 2016 Styling ======== */

body.curam.rtl .arrowImageSpanClass {
  float: left;
  border-left: none;
  border-right: 1px solid $infrastructure_primary-menu-and-border_background-color;
}

body.curam.rtl div.dashboardLegend img {
  padding-left: 0px;
  padding-right: $core_evidenceDashboard-dashboardLegend-icon_padding;
}

body.curam.rtl .dashboardLegendSpan {
  padding-right: $infrastructure_normal_padding;
  padding-left: 0px;
}

body.curam.rtl .dashboardColumn {
 border-left: 1px solid $infrastructure_primary-menu-and-border_background-color;
 border-right: none;
}

body.curam.rtl .dashboardTextColumn{
 padding-right: $infrastructure_normal_padding;
 padding-left:0;
}

body.curam.rtl .dashboardTextColumn div span {
 padding-left:15px;
 padding-right:0;
}

body.curam.rtl .contentPanelLabelsStyle {
  float: left;
  border-right: none;
  border-left: none;
  left:50px;
}

body.curam.rtl .backgroundHighlight {
  border-left: none;
  border-right: none;
  float: none;
}

body.curam.rtl .backgroundHighlightRollover {
  border-left: none;
  border-right: none;
  float: none;
}

body.curam.rtl .backgroundNormal {
  border-left: none;
  border-right: none;
  float: none;
}

body.curam.rtl .backgroundNormalRollover {
  border-left: none;
  height: 30px;
  padding: 0 $infrastructure_very-big_padding;
  text-align: center;
  display:inline-block;
  color: $infrastructure_secondary-hover-and-focus-font_color;
  background: none;
  float: none;
}

body.curam.rtl .evidenceTitlePaneTextNode {
  margin-right: 10px;
  margin-left: 0px;
}

body.curam.rtl .dashboardHeader td#filterColumn div.dashboardFilter span {
  padding: 0px $infrastructure_normal_padding 0px $infrastructure_very-big_padding !important;
}

body.curam.rtl .dashboardHeader td#filterColumn div.dashboardFilter table.dijitSelect td.dijitButtonContents span.dijitSelectLabel {
  padding: 1px $infrastructure_normal_padding 0px 0px !important;
}

body.curam.rtl .dashboardHeader td#filterColumn div.dashboardFilter table.dijitSelect td.dijitButtonContents div {
  float: right;
}

body.curam.rtl div[dijitpopupparent="dashboardFilterSelection"] td.dijitReset.dijitMenuItemLabel {
  padding-right: 8px;
}
