/*______________________________________________________________________________
 * core orgsummarypod_rtl
 *
 * styles for the organisation summary pod.
 */

.rtl table.summary-title th {
  padding-left: 0px;
  padding-right: 8px;
}

.rtl table.summary-content tr td:first-child,
.rtl table.summary-content-loc tr td:first-child {
  padding-left: 0px;
  padding-right: 8px;
}

/* ======== Curam 2016 Styling ======== */

body.curam.soria.rtl div#PT2025_body div.org-summ-background table.summary-content tr td:first-child, 
body.curam.soria.rtl div#PT2025_body div.org-summ-background table.summary-content-loc tr td:first-child {
	padding-right: $infrastructure_normal_padding;
	padding-left: 0;
}

body.curam.soria div#PT2025_body div.org-summ-background table.summary-content tr td:last-child, 
body.curam.soria div#PT2025_body div.org-summ-background table.summary-content-loc tr td:last-child {
	padding-right: 0;
	padding-left: $infrastructure_normal_padding;
}
