/*______________________________________________________________________________
 * core orgsummarypod
 *
 * styles for the organisation summary pod.
 */

.org-summ-background {
  background-color: #ffffff;
}

table.summary-title, table.summary-content, table.summary-content-loc  {
  width: 100%;
}

table.summary-title th {
  padding-bottom: 3px;
  padding-left: 8px;
  padding-top: 5px;
}

table.summary-content tr:first-child td,
table.summary-content-loc tr:first-child td {
  padding-top: 6px;
}

table.summary-content tr td:first-child,
table.summary-content-loc tr td:first-child {
  padding-left: 8px;
}

.line-sep {
  border-bottom: 1px solid #dddddd;
  margin-left: 8px;
  margin-right: 8px;
}

table.summary-content tr td a,
table.summary-content-loc tr td a {
  color: #376F8F;
  text-decoration: none;
}

table.summary-content tr td a:hover,
table.summary-content-loc tr td a:hover {
  color: #376F8F;
  text-decoration: underline;
}

table.summary-content-loc td {
  padding-bottom: 10px;
}

/* ======== Curam 2016 Styling ======== */

body.curam.soria div#PT2025_body div.org-summ-background table.summary-title th {
    font-family: $infrastructure_main-medium_font-family;
    font-size: $infrastructure_normal_font-size;
    color: #777677;
    line-height: $infrastructure_normal_line-height;
    padding-bottom: $infrastructure_small_padding;
}

body.curam.soria div#PT2025_body div.org-summ-background table.summary-content td,
body.curam.soria div#PT2025_body div.org-summ-background table.summary-content-loc td {
    font-family: $infrastructure_main-regular_font-family;
    font-size: $infrastructure_normal_font-size;
    color: $infrastructure_primary-form-control-font_color;
    line-height: $infrastructure_normal_line-height;
    padding: $infrastructure_small_padding 0;
}

body.curam.soria div#PT2025_body div.org-summ-background table.summary-content tr td:first-child, 
body.curam.soria div#PT2025_body div.org-summ-background table.summary-content-loc tr td:first-child {
	padding-left: $infrastructure_normal_padding;
	line-height: 10px;
}

body.curam.soria div#PT2025_body div.org-summ-background table.summary-content tr td:last-child, 
body.curam.soria div#PT2025_body div.org-summ-background table.summary-content-loc tr td:last-child {
	padding-right: $infrastructure_normal_padding;
}

body.curam.soria div#PT2025_body div.org-summ-background table.summary-content td a,
body.curam.soria div#PT2025_body div.org-summ-background table.summary-content-loc td a {
	font-family:$infrastructure_main-medium_font-family;
	font-size:$infrastructure_normal_font-size;
	color: $infrastructure_primary-hover-and-focus-font_color;
	line-height: $infrastructure_normal_line-height;
}

body.curam.soria div#PT2025_body div.org-summ-background table.summary-content td a:hover,
body.curam.soria div#PT2025_body div.org-summ-background table.summary-content td a:focus,
body.curam.soria div#PT2025_body div.org-summ-background table.summary-content-loc td a:hover,
body.curam.soria div#PT2025_body div.org-summ-background table.summary-content-loc td a:focus {
	color: $infrastructure_secondary-hover-and-focus-font_color;
	text-decoration: none;
}

body.curam.soria div#PT2025_body div.org-summ-background div.line-sep {
	border-bottom: 1px solid #ecf0f2;
}
