#sidebar div.page-nav-links ul{
margin-top:2px;
padding-bottom:0;
}
#sidebar div.page-nav-links li{
background-color:#E0E3EE;
margin:0;
border:#9aa6cd solid 0;
}
#sidebar div.page-nav-links li a {
background-image: url("../../themes/classic/images/tree/page_16x16.gif");
background-repeat: no-repeat;
background-position: 24px 4px; 
color:#000000;
font-weight:normal;
font-size:98%;
border-color:#d7dae3 #bdc2d1 #bdc2d1 #d7dae3;
border-width:0;
border-style:none;
background-color:#E0E3EE;
padding:1px 1px 2px 38px;
}
#sidebar div.page-nav-links li.selected a {
border-color:#ebedf2;
background-color:#ebedf2;
}