div.nested-cluster-no-border{
border:0 none;
}

div.nested-cluster-no-border td.top {
padding-left:0;
padding-right:0;
border-bottom:0;
}


div.bx--cluster div.nested-cluster-left{
margin:0;
width:95%;
}

div.bx--cluster div.nested-cluster-right{
margin:0;
width:99%;
}