div.pod h2 {
  background-color:#4682B4;
  border-color:#F4F5F9 rgb(214, 217, 226) rgb(214, 217, 226) rgb(244, 245, 249);
  border-style:solid;
  border-width:2px;
  color:#FFFFFF;
  font-weight:bold;
  padding:0px 14px 1px 0px;
}

div.pod h2 {
  background-image:url(../themes/new/images/new/toggleUp.gif);
  background-position:100% 0%;
  background-repeat:no-repeat;
}

div.pod h4 {
  background-color:#F5F5F5;
  border-color:#F4F5F9 rgb(214, 217, 226) rgb(214, 217, 226) rgb(244, 245, 249);
  border-style:solid;
  border-width:2px;
  color:#000000;
  font-weight:bold;
  padding:0px 14px 1px 0px;
}

td.podbodyrow {
  border-bottom-style:none;
  border-right:medium none;
}


.filters .task-filter-title .filter-title{
    width: 40%;
}

.filters .task-filter-title .filter-content{
    width: 10%;
}
