.rtl div.pod h2 {
  padding:0px 0px 1px 14px;
}

.rtl div.pod h4 {
  padding:0px 0px 1px 14px;
}

.rtl td.podbodyrow {
  border-right:none;
  border-left:medium none;
}

.rtl .overdue {
  float: right;
  padding:10px 23px 0px 0px;
  background-position:bottom right;
}
