/*______________________________________________________________________________
 * searchcontextpanels_rtl.css
 *
 * Style appiled to context panels used with search expanded list
 *
 */

body#Curam_IntegratedCase_tabDetailsPreview.list-inline-page.rtl div#content div.container-panel-ic div.ic-links-panel,
body#Curam_IntegratedCase_tabDetailsPreview.list-inline-page.rtl div#content div.container-panel-ic div.ic-links-panel-one-casemem {
  right: auto;
  left: 10px;
}

body#Curam_DefaultIC_tabDetailsPreview.list-inline-page.rtl div#content div.container-panel-ic div.ic-links-panel,
body#Curam_DefaultIC_tabDetailsPreview.list-inline-page.rtl div#content div.container-panel-ic div.ic-links-panel-one-casemem {
  right: auto;
  left: 10px;
}

body#Curam_ProductDelivery_tabDetailsPreview.curam.soria.list-inline-page.rtl div#content .pd-content-panel, 
body#Curam_ProductDelivery_tabDetailsPreview.curam.soria.list-inline-page.rtl div#content .pd-content-panel-onecol {
  right: 185px;
}

body#Curam_ProductDelivery_tabDetailsPreview.curam.soria.list-inline-page.rtl div#content div.content-panel-detail.pd-links-panel,
body#Curam_ProductDelivery_tabDetailsPreview.curam.soria.list-inline-page.rtl div#content div.content-panel-detail.pd-links-panel-onecol {
  right: auto;
}

body#Curam_Person_homeTabDetailsPreview.curam.soria.list-inline-page.rtl div#content {
  margin-left: 0px;
  margin-right: 30px;
}

body#Curam_IntegratedCase_tabDetailsPreview.curam.soria.list-inline-page.rtl div#content div.ic-single-member {
  margin-left: 0px;
  margin-right: 40px;
}

body#Curam_IntegratedCase_tabDetailsPreview.curam.soria.list-inline-page.rtl div#content div.container-panel-ic div.ic-links-panel,
body#Curam_IntegratedCase_tabDetailsPreview.curam.soria.list-inline-page.rtl div#content div.container-panel-ic div.ic-links-panel-one-casemem {
  right: auto;
  left: 40px;
}

body[id^="Curam_Case_search"].curam.rtl div.list table tr.list-details-row.even td, 
body[id^="Curam_Case_search"].curam.rtl div.list table tr.list-details-row.odd td,
body[id^="Curam_Person_search"].curam.rtl div.list table tr.list-details-row.even td, 
body[id^="Curam_Person_search"].curam.rtl div.list table tr.list-details-row.odd td,
body[id^="Curam_Investigation_search"].curam.rtl div.list table tr.list-details-row.even td, 
body[id^="Curam_Investigation_search"].curam.rtl div.list table tr.list-details-row.odd td,
body[id^="Curam_Employer_search"].curam.rtl div.list table tr.list-details-row.even td, 
body[id^="Curam_Employer_search"].curam.rtl div.list table tr.list-details-row.odd td  {
  padding-right: 10px;
  padding-left: 0px;
}

/*______________________________________________________________________________
 * end searchcontextpanels_rtl.css
 */