/*______________________________________________________________________________
 * searchcontextpanels.css
 *
 * Style appiled to context panels used with search expanded list
 *
 */

 /* Person Preview Page */
  body#Curam_Person_homeTabDetailsPreview.list-inline-page { overflow-y: visible }

  body#Curam_Person_homeTabDetailsPreview.list-inline-page .top .left { background:none }

  body#Curam_Person_homeTabDetailsPreview.list-inline-page .top .center { border: none; height:1px; background-color: transparent; }

  body#Curam_Person_homeTabDetailsPreview.list-inline-page .top .right { background:none; }

  body#Curam_Person_homeTabDetailsPreview.list-inline-page .top { height: 1px; }

  body#Curam_Person_homeTabDetailsPreview.list-inline-page .bottom .left { background:none }

  body#Curam_Person_homeTabDetailsPreview.list-inline-page .bottom .center { border: none; height:1px; background-color: transparent; }

  body#Curam_Person_homeTabDetailsPreview.list-inline-page .bottom .right { background:none; }

 body#Curam_Person_homeTabDetailsPreview.list-inline-page .bottom{ height: 1px; }

 body#Curam_Person_homeTabDetailsPreview.list-inline-page div#tab-title {
   display: none;
 }

 body#Curam_Person_homeTabDetailsPreview.list-inline-page div#content {
   border-left: 0px;
   border-right: 0px;
   overflow: auto;
   position: relative;
   top: 0px;
   background: $infrastructure_primary-form-control-background_color;
   width: calc(100% - 110px);
   margin-left: 30px;
   margin-top: 0px;
   height: 180px;
 }

 body#Curam_Person_homeTabDetailsPreview.list-inline-page div#content div.person-container-panel {
   min-width: 850px;
   top: 0px;
}

 /* Prospect Person Preview Page */
 body#Curam_ProspectPerson_homeTabDetailsPreview.list-inline-page { overflow-y: visible }

 body#Curam_ProspectPerson_homeTabDetailsPreview.list-inline-page .top .left { background:none }

 body#Curam_ProspectPerson_homeTabDetailsPreview.list-inline-page .top .center { border: none; height:1px; background-color: transparent;}

 body#Curam_ProspectPerson_homeTabDetailsPreview.list-inline-page .top .right { background:none; }

 body#Curam_ProspectPerson_homeTabDetailsPreview.list-inline-page .top { height: 1px; }

 body#Curam_ProspectPerson_homeTabDetailsPreview.list-inline-page .bottom .left { background:none }

 body#Curam_ProspectPerson_homeTabDetailsPreview.list-inline-page .bottom .center { border: none; height:1px; background-color: transparent;}

 body#Curam_ProspectPerson_homeTabDetailsPreview.list-inline-page .bottom .right { background:none; }

 body#Curam_ProspectPerson_homeTabDetailsPreview.list-inline-page .bottom{ height: 1px; }

 body#Curam_ProspectPerson_homeTabDetailsPreview.list-inline-page div#tab-title {
   display: none;
 }

 body#Curam_ProspectPerson_homeTabDetailsPreview.list-inline-page div#content {
   border-left: 0px;
   border-right: 0px;
   overflow: auto;
   position: relative;
   top: 0px;
   background: $infrastructure_primary-form-control-background_color;
   width: calc(100% - 110px);
   margin-left: 30px;
   margin-top: 0px;
   height: 180px;
 }

 body#Curam_ProspectPerson_homeTabDetailsPreview.list-inline-page div#content div.person-container-panel {
   min-width: 850px;
   top: 0px;
}

/* Employer */
  body#Curam_Employer_homeDetailsPreview.list-inline-page { overflow-y: visible }

 body#Curam_Employer_homeDetailsPreview.list-inline-page .top .left { background:none }

 body#Curam_Employer_homeDetailsPreview.list-inline-page .top .center { border: none; height:1px; background-color: transparent;}

 body#Curam_Employer_homeDetailsPreview.list-inline-page .top .right { background:none; }

 body#Curam_Employer_homeDetailsPreview.list-inline-page .top { height: 1px; }

 body#Curam_Employer_homeDetailsPreview.list-inline-page .bottom .left { background:none }

 body#Curam_Employer_homeDetailsPreview.list-inline-page .bottom .center { border: none; height:1px; background-color: transparent;}

 body#Curam_Employer_homeDetailsPreview.list-inline-page .bottom .right { background:none; }

 body#Curam_Employer_homeDetailsPreview.list-inline-page .bottom{ height: 1px; }

body#Curam_Employer_homeDetailsPreview.list-inline-page div#tab-title {
  display: none;
}

body#Curam_Employer_homeDetailsPreview.list-inline-page div#content {
  border-left: 0px;
  border-right: 0px;
  overflow: auto;
  position: relative;
  top: 0px;
  background: $infrastructure_primary-form-control-background_color;
  width: calc(100% - 110px);
  margin-left: 30px;
  margin-top: 0px;
  height: 180px;
}

body#Curam_Employer_homeDetailsPreview.list-inline-page div#content div.employer-container-panel {
  min-width: 905px;
  top: 0px;
}

body#Curam_Employer_homeDetailsPreview.list-inline-page div#content div.employer-container-panel div.employer-details-panel .content-address {
  max-width: 60%;
}


/* Prospect Employer */
  body#Curam_ProspectEmployer_homeTabDetailsPreview.list-inline-page { overflow-y: visible }

 body#Curam_ProspectEmployer_homeTabDetailsPreview.list-inline-page .top .left { background:none }

 body#Curam_ProspectEmployer_homeTabDetailsPreview.list-inline-page .top .center { border: none; height:1px; background-color: transparent;}

 body#Curam_ProspectEmployer_homeTabDetailsPreview.list-inline-page .top .right { background:none; }

 body#Curam_ProspectEmployer_homeTabDetailsPreview.list-inline-page .top { height: 1px; }

 body#Curam_ProspectEmployer_homeTabDetailsPreview.list-inline-page .bottom .left { background:none }

 body#Curam_ProspectEmployer_homeTabDetailsPreview.list-inline-page .bottom .center { border: none; height:1px; background-color: transparent;}

 body#Curam_ProspectEmployer_homeTabDetailsPreview.list-inline-page .bottom .right { background:none; }

 body#Curam_ProspectEmployer_homeTabDetailsPreview.list-inline-page .bottom{ height: 1px; }

body#Curam_ProspectEmployer_homeTabDetailsPreview.list-inline-page div#tab-title {
  display: none;
}

body#Curam_ProspectEmployer_homeTabDetailsPreview.list-inline-page div#content {
  border-left: 0px;
  border-right: 0px;
  overflow: auto;
  position: relative;
  top: 0px;
  background: $infrastructure_primary-form-control-background_color;
  width: calc(100% - 110px);
  margin-left: 30px;
  margin-top: 0px;
  height: 180px;
}

body#Curam_ProspectEmployer_homeTabDetailsPreview.list-inline-page div#content div.employer-container-panel {
  min-width: 911px;
  top: 0px;
}

body#Curam_ProspectEmployer_homeTabDetailsPreview.list-inline-page div#content div.employer-container-panel div.employer-details-panel .content-address {
  max-width: 60%;
}

/* Product Delivery */
 body#Curam_ProductDelivery_tabDetailsPreview.list-inline-page { overflow-y: visible }

 body#Curam_ProductDelivery_tabDetailsPreview.list-inline-page .top .left { background:none }

 body#Curam_ProductDelivery_tabDetailsPreview.list-inline-page .top .center { border: none; height:1px; background-color: transparent;}

 body#Curam_ProductDelivery_tabDetailsPreview.list-inline-page .top .right { background:none; }

 body#Curam_ProductDelivery_tabDetailsPreview.list-inline-page .top { height: 1px; }

 body#Curam_ProductDelivery_tabDetailsPreview.list-inline-page .bottom .left { background:none }

 body#Curam_ProductDelivery_tabDetailsPreview.list-inline-page .bottom .center { border: none; height:1px; background-color: transparent;}

 body#Curam_ProductDelivery_tabDetailsPreview.list-inline-page .bottom .right { background:none; }

 body#Curam_ProductDelivery_tabDetailsPreview.list-inline-page .bottom{ height: 1px; }


body#Curam_ProductDelivery_tabDetailsPreview.list-inline-page div#tab-title {
  display: none;
}

body#Curam_ProductDelivery_tabDetailsPreview.list-inline-page div#content {
  border-left: 0px;
  border-right: 0px;
  overflow-x: auto;
  overflow-y: auto;
  position: relative;
  top: 0px;
  background: $infrastructure_primary-form-control-background_color;
  margin-left: 30px;
  margin-top: 0px;
}

body#Curam_ProductDelivery_tabDetailsPreview.list-inline-page div#content div.pd-container-panel {
  min-width: 900px;
  top: 0px;
  padding-top: 0px;
  height: 180px;
}

body#Curam_ProductDelivery_tabDetailsPreview.list-inline-page.curam.soria div#content div.context-panel-wrapper div.pd-container-panel div.case-participant-panel {
  height: auto !important;
}

body#Curam_ProductDelivery_tabDetailsPreview.list-inline-page.curam.soria div#content div.content-panel-detail.person-image-panel div.image-panel-content,
body#Curam_ProductDelivery_tabDetailsPreview.list-inline-page.curam.soria div#content div.content-panel-detail.case-participant-panel div.image-panel-content {
  background-color: transparent;
  width: 160px;
  height: 160px;
}

body#Curam_ProductDelivery_tabDetailsPreview.curam.soria.list-inline-page div#content div.pd-container-panel div.image-panel-content div.name-background {
  top: 127px;
  position: absolute;
  bottom: 15px;
  width: 152px;
  margin-left: 0px;
}

body#Curam_ProductDelivery_tabDetailsPreview.curam.soria.list-inline-page div#content div.pd-container-panel .image-panel-content .name-one-title,
body#Curam_ProductDelivery_tabDetailsPreview.curam.soria.list-inline-page div#content div.container-panel .image-panel-content .name-one-title {
  height: 20px;
  width: 100%;
  background-color: transparent;
  padding-top: 0px;
}

body#Curam_ProductDelivery_tabDetailsPreview.curam.soria.list-inline-page div#content div.pd-container-panel .image-panel-content .right-corner-image {
  top: 0px;
  left: 96px;
  z-index: 100;
  right: 0px;
}

body#Curam_ProductDelivery_tabDetailsPreview.curam.soria.list-inline-page div#content div.pd-container-panel .image-panel-content .participant-image {
  width: 120px;
  height: 120px;
  position: absolute;
  left: 16px;
  padding: 0px;
}

body#Curam_ProductDelivery_tabDetailsPreview.curam.soria.list-inline-page div#content div.pd-container-panel div.image-panel-content div.participant-details {
  top: 140px;
  position: absolute;
  bottom: 0px;
  width: 152px;
  text-align: center;
  margin-left: 0px;
}

body#Curam_ProductDelivery_tabDetailsPreview.curam.soria.list-inline-page div#content div.pd-container-panel .image-panel-content div.image-first-line,
body#Curam_ProductDelivery_tabDetailsPreview.curam.soria.list-inline-page div#content div.pd-container-panel .image-panel-content div.participant-details-divider,
body#Curam_ProductDelivery_tabDetailsPreview.curam.soria.list-inline-page div#content div.pd-container-panel .image-panel-content div.image-second-line {
  clear: none;
  width: auto;
  float: none;
  display: inline-block;
  padding: 0px;
  padding-top: 5px !important;
  text-align: center;
}

body#Curam_ProductDelivery_tabDetailsPreview.curam.soria.list-inline-page div#content .pd-content-panel,
body#Curam_ProductDelivery_tabDetailsPreview.curam.soria.list-inline-page div#content .pd-content-panel-onecol {
  right: 393px;
  left: 175px;
  background-color: transparent;
  top: 10px;
  width: auto;
}

body#Curam_ProductDelivery_tabDetailsPreview.curam.soria.list-inline-page div#content .pd-details .pd-reference {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 15px;
  padding-bottom: 0px;
  text-align: left;
}

body#Curam_ProductDelivery_tabDetailsPreview.curam.soria.list-inline-page div#content .pd-details .pd-reference-id {
  padding-bottom: 0px;
  padding-top: 0px;
  padding-right: 20px;
  background-color: #f4f4f4;
  position: absolute;
  right: 0px;
  top: 5px;
  padding-left: 5px;
  text-align: right;
}

body#Curam_ProductDelivery_tabDetailsPreview.curam.soria.list-inline-page div#content div.content-panel-detail.pd-content-panel-onecol div.pd-related-ic-case,
body#Curam_ProductDelivery_tabDetailsPreview.curam.soria.list-inline-page div#content div.content-panel-detail.pd-content-panel-onecol div.started,
body#Curam_ProductDelivery_tabDetailsPreview.curam.soria.list-inline-page div#content div.content-panel-detail.pd-content-panel-onecol div.certified,
body#Curam_ProductDelivery_tabDetailsPreview.curam.soria.list-inline-page div#content div.content-panel-detail.pd-content-panel-onecol div.pd-details-table {
  padding-left: 15px;
}

body#Curam_ProductDelivery_tabDetailsPreview.curam.soria.list-inline-page div#content div.decision-content {
  background-color: transparent;
  bottom: 0px;
  top: 136px;
  width: 100%;
}

body#Curam_ProductDelivery_tabDetailsPreview.curam.soria.list-inline-page div#content div.decision-content img {
  margin-left: 0px;
  width: 20px;
  height: 20px;
  padding: 0px 0px 0px 15px;
}

body#Curam_ProductDelivery_tabDetailsPreview.curam.soria.list-inline-page div#content div.content-panel-detail.pd-links-panel,
body#Curam_ProductDelivery_tabDetailsPreview.curam.soria.list-inline-page div#content div.content-panel-detail.pd-links-panel-onecol {
  right: 30px;
  top: 20px;
}

body#Curam_ProductDelivery_tabDetailsPreview.curam.soria.list-inline-page div#content div.content-panel-detail div.tab-links {
  background: transparent;
  height: 160px;
  padding-left: 20px;
  padding-right: 20px;
}

body#Curam_ProductDelivery_tabDetailsPreview.curam.soria.list-inline-page div#content div.content-panel-detail .pd-case-status {
  height: 23px;
  padding-bottom: 5px;
  background-color: transparent;
}

body#Curam_ProductDelivery_tabDetailsPreview.curam.soria.list-inline-page div#content div.content-panel-detail .pd-case-owner {
  padding-left: 0px;
}

/* Integrated Case */
body#Curam_IntegratedCase_tabDetailsPreview.list-inline-page { overflow-y: visible }

body#Curam_IntegratedCase_tabDetailsPreview.list-inline-page .top .left { background:none }

body#Curam_IntegratedCase_tabDetailsPreview.list-inline-page .top .center { border: none; height:1px; background-color: transparent;}

body#Curam_IntegratedCase_tabDetailsPreview.list-inline-page .top .right { background:none; }

body#Curam_IntegratedCase_tabDetailsPreview.list-inline-page .top { height: 1px; }

body#Curam_IntegratedCase_tabDetailsPreview.list-inline-page .bottom .left { background:none }

body#Curam_IntegratedCase_tabDetailsPreview.list-inline-page .bottom .center { border: none; height:1px; background-color: transparent;}

body#Curam_IntegratedCase_tabDetailsPreview.list-inline-page .bottom .right { background:none; }

body#Curam_IntegratedCase_tabDetailsPreview.list-inline-page .bottom{ height: 1px; }

body#Curam_IntegratedCase_tabDetailsPreview.list-inline-page div#tab-title {
  display: none;
}

body#Curam_IntegratedCase_tabDetailsPreview.list-inline-page div#content {
  border-left: 0px;
  border-right: 0px;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  top: 0px;
  background: $infrastructure_primary-form-control-background_color;
  width: calc(100% - 30px);
  margin-left: 30px;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 0px;
}

body#Curam_IntegratedCase_tabDetailsPreview.list-inline-page div#content div.container-panel-ic {
  height: 180px;
  top: 0px;
}
body#Curam_IntegratedCase_tabDetailsPreview.curam.soria.list-inline-page div#content div.container-panel-ic div.image-panel-content div.name-background {
  top: 125px;
}
body#Curam_IntegratedCase_tabDetailsPreview.list-inline-page div#content div.container-panel-ic.single-person {
  min-width: 850px;
}
body#Curam_IntegratedCase_tabDetailsPreview.list-inline-page div#content div.container-panel-ic.multi-person {
  min-width: 1169px;
}

body.curam.soria tr.list-details-row div.uimController {
  width: 100% !important;
}

body#Curam_IntegratedCase_tabDetailsPreview.curam.soria.list-inline-page div#content div.container-panel-ic div.ic-links-panel,
body#Curam_IntegratedCase_tabDetailsPreview.curam.soria.list-inline-page div#content div.container-panel-ic div.ic-links-panel-one-casemem {
  right: 40px;
  width: 320px;
  min-width: 320px;
}

body.curam.soria.list-inline-page #stackCon-fourimages #container_stackCon-fourimages div.stack-container-photo {
  width: 620px !important;
}

body#Curam_IntegratedCase_tabDetailsPreview.curam.soria.list-inline-page .container-panel-ic #container_stackCon-fourimages {
  padding-left:20px;
  top: 0px;
}

body#Curam_IntegratedCase_tabDetailsPreview.curam.soria.list-inline-page .container-panel-ic #stackCon-fourimages {
  width: calc(100% - 380px);
  min-width: 714px;
  overflow: hidden;
}

body#Curam_IntegratedCase_tabDetailsPreview.curam.soria.list-inline-page .container-panel-ic #stackCon-fourimages .stackControl {
  padding-left: 20px;
}

body#Curam_IntegratedCase_tabDetailsPreview.curam.soria.list-inline-page .container-panel-ic #container_stackCon-fourimages .stack-container-photo .rotator-default {
  width: 730px;
}

body#Curam_IntegratedCase_tabDetailsPreview.curam.soria.list-inline-page .container-panel-ic #container_stackCon-fourimages .stack-container-photo .rotator-default .rotator {
  width: calc(100% - 272px);
}

body#Curam_IntegratedCase_tabDetailsPreview.curam.soria.list-inline-page .container-panel-ic #container_stackCon-fourimages .stack-container-list .tab-case-list {
  width: 710px;
}

body#Curam_IntegratedCase_tabDetailsPreview.list-inline-page div#content div.ic-single-member {
  margin-left: 40px;
}

/* Payment Correction */
 body#Curam_PaymentCorrection_tabDetailsPreview.list-inline-page { overflow-y: visible }

 body#Curam_PaymentCorrection_tabDetailsPreview.list-inline-page .top .left { background:none }

 body#Curam_PaymentCorrection_tabDetailsPreview.list-inline-page .top .center { border: none; height:1px; background-color: transparent;}

 body#Curam_PaymentCorrection_tabDetailsPreview.list-inline-page .top .right { background:none; }

 body#Curam_PaymentCorrection_tabDetailsPreview.list-inline-page .top { height: 1px; }

 body#Curam_PaymentCorrection_tabDetailsPreview.list-inline-page .bottom .left { background:none }

 body#Curam_PaymentCorrection_tabDetailsPreview.list-inline-page .bottom .center { border: none; height:1px; background-color: transparent;}

 body#Curam_PaymentCorrection_tabDetailsPreview.list-inline-page .bottom .right { background:none; }

 body#Curam_PaymentCorrection_tabDetailsPreview.list-inline-page .bottom{ height: 1px; }

body#Curam_PaymentCorrection_tabDetailsPreview.list-inline-page div#tab-title {
  display: none;
}

body#Curam_PaymentCorrection_tabDetailsPreview.list-inline-page div#content {
  border-left: 0px;
  border-right: 0px;
  overflow-x: auto;
  overflow-y: auto;
  position: relative;
  top: 0px;
  background: $infrastructure_primary-form-control-background_color;
  margin-left: 30px;
  margin-top: 0px;
}

body#Curam_PaymentCorrection_tabDetailsPreview.list-inline-page div#content div.underpay-container-panel,
body#Curam_PaymentCorrection_tabDetailsPreview.list-inline-page div#content div.overpay-container-panel {
  min-width: 900px;
  top: 0px;
  height: 180px;
}

body#Curam_PaymentCorrection_tabDetailsPreview.curam.soria.list-inline-page div#content div.underpay-container-panel div.image-panel-content div.name-background,
body#Curam_PaymentCorrection_tabDetailsPreview.curam.soria.list-inline-page div#content div.overpay-container-panel div.image-panel-content div.name-background  {
  top: 127px;
}

body#Curam_PaymentCorrection_tabDetailsPreview.curam.soria.list-inline-page div#content div.underpay-container-panel div.image-panel-content div.participant-details,
body#Curam_PaymentCorrection_tabDetailsPreview.curam.soria.list-inline-page div#content div.overpay-container-panel div.image-panel-content div.participant-details {
  top: 145px;
}

/* Underpayment */
 body#Curam_ICBenefitUnderPayment_tabDetailsPreview.list-inline-page { overflow-y: visible }

 body#Curam_ICBenefitUnderPayment_tabDetailsPreview.list-inline-page .top .left { background:none }

 body#Curam_ICBenefitUnderPayment_tabDetailsPreview.list-inline-page .top .center { border: none; height:1px; background-color: transparent;}

 body#Curam_ICBenefitUnderPayment_tabDetailsPreview.list-inline-page .top .right { background:none; }

 body#Curam_ICBenefitUnderPayment_tabDetailsPreview.list-inline-page .top { height: 1px; }

 body#Curam_ICBenefitUnderPayment_tabDetailsPreview.list-inline-page .bottom .left { background:none }

 body#Curam_ICBenefitUnderPayment_tabDetailsPreview.list-inline-page .bottom .center { border: none; height:1px; background-color: transparent;}

 body#Curam_ICBenefitUnderPayment_tabDetailsPreview.list-inline-page .bottom .right { background:none; }

 body#Curam_ICBenefitUnderPayment_tabDetailsPreview.list-inline-page .bottom{ height: 1px; }

body#Curam_ICBenefitUnderPayment_tabDetailsPreview.list-inline-page div#tab-title {
  display: none;
}

body#Curam_ICBenefitUnderPayment_tabDetailsPreview.list-inline-page div#content {
  border-left: 0px;
  border-right: 0px;
  overflow-x: auto;
  overflow-y: auto;
  position: relative;
  top: 0px;
  background: $infrastructure_primary-form-control-background_color;
  margin-left: 30px;
  margin-top: 0px;
}

body#Curam_ICBenefitUnderPayment_tabDetailsPreview.list-inline-page div#content div.underpay-container-panel {
  min-width: 850px;
  top: 0px;
  height: 180px;
}

body#Curam_ICBenefitUnderPayment_tabDetailsPreview.curam.soria.list-inline-page div#content div.underpay-container-panel div.image-panel-content div.name-background  {
  top: 127px;
}

body#Curam_ICBenefitUnderPayment_tabDetailsPreview.curam.soria.list-inline-page div#content div.underpay-container-panel div.image-panel-content div.participant-details {
  top: 145px;
}

/* Overpayment */
 body#Curam_BenefitSampleOverpayment_tabDetailsPreview.list-inline-page { overflow-y: visible }

 body#Curam_BenefitSampleOverpayment_tabDetailsPreview.list-inline-page .top .left { background:none }

 body#Curam_BenefitSampleOverpayment_tabDetailsPreview.list-inline-page .top .center { border: none; height:1px; background-color: transparent;}

 body#Curam_BenefitSampleOverpayment_tabDetailsPreview.list-inline-page .top .right { background:none; }

 body#Curam_BenefitSampleOverpayment_tabDetailsPreview.list-inline-page .top { height: 1px; }

 body#Curam_BenefitSampleOverpayment_tabDetailsPreview.list-inline-page .bottom .left { background:none }

 body#Curam_BenefitSampleOverpayment_tabDetailsPreview.list-inline-page .bottom .center { border: none; height:1px; background-color: transparent;}

 body#Curam_BenefitSampleOverpayment_tabDetailsPreview.list-inline-page .bottom .right { background:none; }

 body#Curam_BenefitSampleOverpayment_tabDetailsPreview.list-inline-page .bottom{ height: 1px; }

body#Curam_BenefitSampleOverpayment_tabDetailsPreview.list-inline-page div#tab-title {
  display: none;
}

body#Curam_BenefitSampleOverpayment_tabDetailsPreview.list-inline-page div#content {
  border-left: 0px;
  border-right: 0px;
  overflow-x: auto;
  overflow-y: auto;
  position: relative;
  top: 0px;
  background: $infrastructure_primary-form-control-background_color;
  margin-left: 30px;
  margin-top: 0px;
}

body#Curam_BenefitSampleOverpayment_tabDetailsPreview.list-inline-page div#content div.overpay-container-panel {
  min-width: 850px;
  top: 0px;
  height: 180px;
}

body#Curam_BenefitSampleOverpayment_tabDetailsPreview.curam.soria.list-inline-page div#content div.overpay-container-panel div.image-panel-content div.name-background  {
  top: 127px;
}

body#Curam_BenefitSampleOverpayment_tabDetailsPreview.curam.soria.list-inline-page div#content div.overpay-container-panel div.image-panel-content div.participant-details {
  top: 145px;
}

/* Investigation */
 body#Curam_Investigation_homeTabDetailsPreview.list-inline-page { overflow-y: visible }

 body#Curam_Investigation_homeTabDetailsPreview.list-inline-page .top .left { background:none }

 body#Curam_Investigation_homeTabDetailsPreview.list-inline-page .top .center { border: none; height:1px; background-color: transparent;}

 body#Curam_Investigation_homeTabDetailsPreview.list-inline-page .top .right { background:none; }

 body#Curam_Investigation_homeTabDetailsPreview.list-inline-page .top { height: 1px; }

 body#Curam_Investigation_homeTabDetailsPreview.list-inline-page .bottom .left { background:none }

 body#Curam_Investigation_homeTabDetailsPreview.list-inline-page .bottom .center { border: none; height:1px; background-color: transparent;}

 body#Curam_Investigation_homeTabDetailsPreview.list-inline-page .bottom .right { background:none; }

 body#Curam_Investigation_homeTabDetailsPreview.list-inline-page .bottom{ height: 1px; }

body#Curam_Investigation_homeTabDetailsPreview.list-inline-page div#tab-title {
  display: none;
}

body#Curam_Investigation_homeTabDetailsPreview.list-inline-page div#content {
  border-left: 0px;
  border-right: 0px;
  overflow: auto;
  position: relative;
  top: 0px;
  background: $infrastructure_primary-form-control-background_color;
  width: calc(100% - 110px);
  margin-left: 30px;
  margin-top: 0px;
}

body#Curam_Investigation_homeTabDetailsPreview.list-inline-page div#content div.investigation-container-panel {
  min-width: 1000px;
  top: 0px;
  height: 180px;
}


/* Incident */
 body#Curam_Incident_viewIncidentTabDetailPreview.list-inline-page { overflow-y: visible }

 body#Curam_Incident_viewIncidentTabDetailPreview.list-inline-page .top .left { background:none }

 body#Curam_Incident_viewIncidentTabDetailPreview.list-inline-page .top .center { border: none; height:1px; background-color: transparent;}

 body#Curam_Incident_viewIncidentTabDetailPreview.list-inline-page .top .right { background:none; }

 body#Curam_Incident_viewIncidentTabDetailPreview.list-inline-page .top { height: 1px; }

 body#Curam_Incident_viewIncidentTabDetailPreview.list-inline-page .bottom .left { background:none }

 body#Curam_Incident_viewIncidentTabDetailPreview.list-inline-page .bottom .center { border: none; height:1px; background-color: transparent;}

 body#Curam_Incident_viewIncidentTabDetailPreview.list-inline-page .bottom .right { background:none; }

 body#Curam_Incident_viewIncidentTabDetailPreview.list-inline-page .bottom{ height: 1px; }

body#Curam_Incident_viewIncidentTabDetailPreview.list-inline-page div#tab-title {
  display: none;
}

body#Curam_Incident_viewIncidentTabDetailPreview.list-inline-page div#content {
  border-left: 0px;
  border-right: 0px;
  overflow: auto;
  position: relative;
  top: 0px;
  background: $infrastructure_primary-form-control-background_color;
  width: calc(100% - 110px);
  margin-left: 30px;
  margin-top: 0px;
}

body#Curam_Incident_viewIncidentTabDetailPreview.list-inline-page div#content div.incident-container-panel {
  min-width: 900px;
  top: 0px;
  height: 180px;
}

body#Curam_Incident_viewIncidentTabDetailPreview.list-inline-page div#content div.incident-container-panel .wrapper {
  width: 100%;
}

/* Default ProductDelivery */
body#Curam_DefaultICProduct_tabDetailsPreview.list-inline-page { overflow-y: visible }

body#Curam_DefaultICProduct_tabDetailsPreview.list-inline-page .top .left { background:none }

body#Curam_DefaultICProduct_tabDetailsPreview.list-inline-page .top .center { border: none; height:1px; background-color: transparent;}

body#Curam_DefaultICProduct_tabDetailsPreview.list-inline-page .top .right { background:none; }

body#Curam_DefaultICProduct_tabDetailsPreview.list-inline-page .top { height: 1px; }

body#Curam_DefaultICProduct_tabDetailsPreview.list-inline-page .bottom .left { background:none }

body#Curam_DefaultICProduct_tabDetailsPreview.list-inline-page .bottom .center { border: none; height:1px; background-color: transparent;}

body#Curam_DefaultICProduct_tabDetailsPreview.list-inline-page .bottom .right { background:none; }

body#Curam_DefaultICProduct_tabDetailsPreview.list-inline-page .bottom{ height: 1px; }


body#Curam_DefaultICProduct_tabDetailsPreview.list-inline-page div#tab-title {
  display: none;
}

body#Curam_DefaultICProduct_tabDetailsPreview.list-inline-page div#content {
  border-left: 0px;
  border-right: 0px;
  overflow-x: auto;
  overflow-y: auto;
  position: relative;
  top: 0px;
  background: $infrastructure_primary-form-control-background_color;
  margin-left: 30px;
  margin-top: 0px;
}

body#Curam_DefaultICProduct_tabDetailsPreview.list-inline-page div#content div.pd-container-panel {
  min-width: 900px;
  top: 0px;
  padding-top: 0px;
  height: 180px;
}

body#Curam_DefaultICProduct_tabDetailsPreview.list-inline-page.curam.soria div#content div.context-panel-wrapper div.pd-container-panel div.case-participant-panel {
  height: auto !important;
}

body#Curam_DefaultICProduct_tabDetailsPreview.list-inline-page.curam.soria div#content div.content-panel-detail.person-image-panel div.image-panel-content,
body#Curam_DefaultICProduct_tabDetailsPreview.list-inline-page.curam.soria div#content div.content-panel-detail.case-participant-panel div.image-panel-content {
  background-color: transparent;
  width: 160px;
  height: 160px;
}

body#Curam_DefaultICProduct_tabDetailsPreview.curam.soria.list-inline-page div#content div.pd-container-panel div.image-panel-content div.name-background {
  top: 127px;
  position: absolute;
  bottom: 15px;
  width: 152px;
  margin-left: 0px;
}

body#Curam_DefaultICProduct_tabDetailsPreview.curam.soria.list-inline-page div#content div.pd-container-panel .image-panel-content .name-one-title,
body#Curam_DefaultICProduct_tabDetailsPreview.curam.soria.list-inline-page div#content div.container-panel .image-panel-content .name-one-title {
  height: 20px;
  width: 100%;
  background-color: transparent;
  padding-top: 0px;
}

body#Curam_DefaultICProduct_tabDetailsPreview.curam.soria.list-inline-page div#content div.pd-container-panel .image-panel-content .right-corner-image {
  top: 0px;
  left: 96px;
  z-index: 100;
  right: 0px;
}

body#Curam_DefaultICProduct_tabDetailsPreview.curam.soria.list-inline-page div#content div.pd-container-panel .image-panel-content .participant-image {
  width: 120px;
  height: 120px;
  position: absolute;
  left: 16px;
  padding: 0px;
}

body#Curam_DefaultICProduct_tabDetailsPreview.curam.soria.list-inline-page div#content div.pd-container-panel div.image-panel-content div.participant-details {
  top: 140px;
  position: absolute;
  bottom: 0px;
  width: 152px;
  text-align: center;
  margin-left: 0px;
}

body#Curam_DefaultICProduct_tabDetailsPreview.curam.soria.list-inline-page div#content div.pd-container-panel .image-panel-content div.image-first-line,
body#Curam_DefaultICProduct_tabDetailsPreview.curam.soria.list-inline-page div#content div.pd-container-panel .image-panel-content div.participant-details-divider,
body#Curam_DefaultICProduct_tabDetailsPreview.curam.soria.list-inline-page div#content div.pd-container-panel .image-panel-content div.image-second-line {
  clear: none;
  width: auto;
  float: none;
  display: inline-block;
  padding: 0px;
  padding-top: 5px !important;
  text-align: center;
}

body#Curam_DefaultICProduct_tabDetailsPreview.curam.soria.list-inline-page div#content .pd-content-panel,
body#Curam_DefaultICProduct_tabDetailsPreview.curam.soria.list-inline-page div#content .pd-content-panel-onecol {
  right: 393px;
  left: 175px;
  background-color: transparent;
  top: 10px;
  width: auto;
}

body#Curam_DefaultICProduct_tabDetailsPreview.curam.soria.list-inline-page div#content .pd-details .pd-reference {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 15px;
  padding-bottom: 0px;
  text-align: left;
}

body#Curam_DefaultICProduct_tabDetailsPreview.curam.soria.list-inline-page div#content .pd-details .pd-reference-id {
  padding-bottom: 0px;
  padding-top: 0px;
  padding-right: 20px;
  background-color: #f4f4f4;
  position: absolute;
  right: 0px;
  top: 5px;
  padding-left: 5px;
  text-align: right;
}

body#Curam_DefaultICProduct_tabDetailsPreview.curam.soria.list-inline-page div#content div.content-panel-detail.pd-content-panel-onecol div.pd-related-ic-case,
body#Curam_DefaultICProduct_tabDetailsPreview.curam.soria.list-inline-page div#content div.content-panel-detail.pd-content-panel-onecol div.started,
body#Curam_DefaultICProduct_tabDetailsPreview.curam.soria.list-inline-page div#content div.content-panel-detail.pd-content-panel-onecol div.certified,
body#Curam_DefaultICProduct_tabDetailsPreview.curam.soria.list-inline-page div#content div.content-panel-detail.pd-content-panel-onecol div.pd-details-table {
  padding-left: 15px;
}

body#Curam_DefaultICProduct_tabDetailsPreview.curam.soria.list-inline-page div#content div.decision-content {
  background-color: transparent;
  bottom: 0px;
  top: 136px;
  width: 100%;
}

body#Curam_DefaultICProduct_tabDetailsPreview.curam.soria.list-inline-page div#content div.decision-content img {
  margin-left: 0px;
  width: 20px;
  height: 20px;
  padding: 0px 0px 0px 15px;
}

body#Curam_DefaultICProduct_tabDetailsPreview.curam.soria.list-inline-page div#content div.content-panel-detail.pd-links-panel,
body#Curam_DefaultICProduct_tabDetailsPreview.curam.soria.list-inline-page div#content div.content-panel-detail.pd-links-panel-onecol {
  right: 30px;
  top: 20px;
}

body#Curam_DefaultICProduct_tabDetailsPreview.curam.soria.list-inline-page div#content div.content-panel-detail div.tab-links {
  background: transparent;
  height: 160px;
  padding-left: 20px;
  padding-right: 20px;
}

body#Curam_DefaultICProduct_tabDetailsPreview.curam.soria.list-inline-page div#content div.content-panel-detail .pd-case-status {
  height: 23px;
  padding-bottom: 5px;
  background-color: transparent;
}

body#Curam_DefaultICProduct_tabDetailsPreview.curam.soria.list-inline-page div#content div.content-panel-detail .pd-case-owner {
  padding-left: 0px;
}

/* Default Integrated Case */
body#Curam_DefaultIC_tabDetailsPreview.list-inline-page { overflow-y: visible }

body#Curam_DefaultIC_tabDetailsPreview.list-inline-page .top .left { background:none }

body#Curam_DefaultIC_tabDetailsPreview.list-inline-page .top .center { border: none; height:1px; background-color: transparent;}

body#Curam_DefaultIC_tabDetailsPreview.list-inline-page .top .right { background:none; }

body#Curam_DefaultIC_tabDetailsPreview.list-inline-page .top { height: 1px; }

body#Curam_DefaultIC_tabDetailsPreview.list-inline-page .bottom .left { background:none }

body#Curam_DefaultIC_tabDetailsPreview.list-inline-page .bottom .center { border: none; height:1px; background-color: transparent;}

body#Curam_DefaultIC_tabDetailsPreview.list-inline-page .bottom .right { background:none; }

body#Curam_DefaultIC_tabDetailsPreview.list-inline-page .bottom{ height: 1px; }

body#Curam_DefaultIC_tabDetailsPreview.list-inline-page div#tab-title {
  display: none;
}

body#Curam_DefaultIC_tabDetailsPreview.list-inline-page div#content {
  border-left: 0px;
  border-right: 0px;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  top: 0px;
  background: $infrastructure_primary-form-control-background_color;
  width: calc(100% - 30px);
  margin-left: 30px;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 0px;
}

body#Curam_DefaultIC_tabDetailsPreview.list-inline-page div#content div.container-panel-ic {
  height: 180px;
  top: 0px;
}
body#Curam_DefaultIC_tabDetailsPreview.curam.soria.list-inline-page div#content div.container-panel-ic div.image-panel-content div.name-background {
  top: 125px;
}
body#Curam_DefaultIC_tabDetailsPreview.list-inline-page div#content div.container-panel-ic.single-person {
  min-width: 850px;
}
body#Curam_DefaultIC_tabDetailsPreview.list-inline-page div#content div.container-panel-ic.multi-person {
  min-width: 1169px;
}

body.curam.soria tr.list-details-row div.uimController {
  width: 100% !important;
}

body#Curam_DefaultIC_tabDetailsPreview.curam.soria.list-inline-page div#content div.container-panel-ic div.ic-links-panel,
body#Curam_DefaultIC_tabDetailsPreview.curam.soria.list-inline-page div#content div.container-panel-ic div.ic-links-panel-one-casemem {
  right: 40px;
  width: 320px;
  min-width: 320px;
}

body.curam.soria.list-inline-page #stackCon-fourimages #container_stackCon-fourimages div.stack-container-photo {
  width: 620px !important;
}

body#Curam_DefaultIC_tabDetailsPreview.curam.soria.list-inline-page .container-panel-ic #container_stackCon-fourimages {
  padding-left:20px;
  top: 0px;
}

body#Curam_DefaultIC_tabDetailsPreview.curam.soria.list-inline-page .container-panel-ic #stackCon-fourimages {
  width: calc(100% - 380px);
  min-width: 714px;
  overflow: hidden;
}

body#Curam_DefaultIC_tabDetailsPreview.curam.soria.list-inline-page .container-panel-ic #stackCon-fourimages .stackControl {
  padding-left: 20px;
}

body#Curam_DefaultIC_tabDetailsPreview.curam.soria.list-inline-page .container-panel-ic #container_stackCon-fourimages .stack-container-photo .rotator-default {
  width: 730px;
}

body#Curam_DefaultIC_tabDetailsPreview.curam.soria.list-inline-page .container-panel-ic #container_stackCon-fourimages .stack-container-photo .rotator-default .rotator {
  width: calc(100% - 272px);
}

body#Curam_DefaultIC_tabDetailsPreview.curam.soria.list-inline-page .container-panel-ic #container_stackCon-fourimages .stack-container-list .tab-case-list {
  width: 710px;
}

body#Curam_DefaultIC_tabDetailsPreview.list-inline-page div#content div.ic-single-member {
  margin-left: 40px;
}

body[id^="Curam_Case_search"].curam tr.list-details-row.even td,
body[id^="Curam_Case_search"].curam tr.list-details-row.odd td,
body[id^="Curam_Person_search"].curam tr.list-details-row.even td,
body[id^="Curam_Person_search"].curam tr.list-details-row.odd td,
body[id^="Curam_Investigation_search"].curam tr.list-details-row.even td,
body[id^="Curam_Investigation_search"].curam tr.list-details-row.odd td,
body[id^="Curam_Employer_search"].curam tr.list-details-row.even td,
body[id^="Curam_Employer_search"].curam tr.list-details-row.odd td,
body[id^="Curam_Participant_search"].curam tr.list-details-row.even td,
body[id^="Curam_Participant_search"].curam tr.list-details-row.odd td {
  padding-right: 0px;
}

body#Curam_ProductProvider_tabDetails.list-inline-page div#content,
body#Curam_ServiceSupplier_homeTabDetails.list-inline-page div#content,
body#Curam_EducationalInstitute_homeTabDetails.list-inline-page div#content,
body#Curam_ExternalParty_homeTabDetails.list-inline-page div#content,
body#Curam_InformationProvider_homeTabDetails.list-inline-page div#content,
body#Curam_ServiceSupplier_homeTabDetails.list-inline-page div#content,
body#Curam_Utility_homeTabDetails.list-inline-page div#content {
  border-left: 0px;
  border-right: 0px;
  overflow: auto;
  position: relative;
  top: 0px;
  background: $infrastructure_primary-form-control-background_color;
  width: calc(100% - 110px);
  margin-left: 30px;
  margin-top: 0px;
  height: 180px;
}


body#Curam_ProductProvider_tabDetails.list-inline-page div#content div.details-cluster-wrapper,
body#Curam_ServiceSupplier_homeTabDetails.list-inline-page div#content div.details-cluster-wrapper,
body#Curam_EducationalInstitute_homeTabDetails.list-inline-page div#content div.details-cluster-wrapper,
body#Curam_ExternalParty_homeTabDetails.list-inline-page div#content div.details-cluster-wrapper,
body#Curam_InformationProvider_homeTabDetails.list-inline-page div#content div.details-cluster-wrapper,
body#Curam_ServiceSupplier_homeTabDetails.list-inline-page div#content div.details-cluster-wrapper,
body#Curam_Utility_homeTabDetails.list-inline-page div#content div.details-cluster-wrapper {
  top: 0px;
  min-width: 850px;
}

body#Curam_ProductProvider_tabDetails.list-inline-page div#content div.details-cluster-wrapper div.cluster-with-no-header,
body#Curam_ServiceSupplier_homeTabDetails.list-inline-page div#content div.details-cluster-wrapper div.cluster-with-no-header,
body#Curam_EducationalInstitute_homeTabDetails.list-inline-page div#content div.details-cluster-wrapper div.cluster-with-no-header,
body#Curam_ExternalParty_homeTabDetails.list-inline-page div#content div.details-cluster-wrapper div.cluster-with-no-header,
body#Curam_InformationProvider_homeTabDetails.list-inline-page div#content div.details-cluster-wrapper div.cluster-with-no-header,
body#Curam_ServiceSupplier_homeTabDetails.list-inline-page div#content div.details-cluster-wrapper div.cluster-with-no-header,
body#Curam_Utility_homeTabDetails.list-inline-page div#content div.details-cluster-wrapper div.cluster-with-no-header {
  border-left: none;
  border-right: none;
}

@media print {

	/* Set overflow to visible when printing preview panels */
	body#Curam_IntegratedCase_tabDetailsPreview.curam.soria.list-inline-page div#content  .container-panel-ic #stackCon-fourimages {
		overflow: visible;
	}
	
	body#Curam_IntegratedCase_tabDetailsPreview.curam.list-inline-page div#content {
		overflow-x: visible;
	}
	
	body.curam.basic.list-inline-page#Curam_ApplicationContextPanel {
		overflow: visible;
	}
	
	/* Person ID in Preview panel is cut off in chrome/portrait mode */
	body.curam.list-inline-page div.person-container-panel .content-participant-id {
		right: 100px;
	}
	
	/* Prevent scrollbar on employer preview panel */
	body#Curam_Employer_homeDetailsPreview.curam.list-inline-page div#content {
		overflow: hidden;
	}
	
	body#Curam_Employer_homeDetailsPreview.curam.list-inline-page .employer-container-panel {
		height: 180px;
	}
	
	/* Prevent content of employer preview panel being cut off */
	body#Curam_Employer_homeDetailsPreview.curam.list-inline-page .employer-container-panel .employer-details-panel .tab-details {
		overflow: visible;
	}
}

/*______________________________________________________________________________
 * end searchcontextpanels.css
 */
