/*______________________________________________________________________________
 * TaskContextPanel.css
 *
 * Create styles that are applied to the HTML for task context details.
 */

.task-container-panel {
    position: relative;
    top: 5px;
}

.task-content-panel {
    left: 5px;
    position: absolute;
    width: 99%;
}

div.task-content-panel div.wrapper div.wrapper-bottom div.center {
  background-color: #E6EBF1;
}

div.task-content-panel div.wrapper div.wrapper-bottom div.left {
  background:url("../../Images/details-cluster-corners-blue.png") no-repeat scroll left bottom transparent;
}

div.task-content-panel div.wrapper div.wrapper-bottom div.center div.right {
  background:url("../../Images/details-cluster-corners-blue.png") no-repeat scroll right bottom transparent;
}

.task-context-panel-details {
  float: left;
  height: 115px;
  border-left: 1px solid #DADADA;
  border-right: 1px solid #DADADA;
  width: 100%;
}

.task-context-table {
  background-color: white;
  padding-left: 15px;
  padding-bottom: 23px;
}

.task-context-table-cell-label {
  color: #696969;
}

.task-context-table-cell-value {
  color: black;
}

.task-context-table-link a {
    color: #005291;
    text-decoration: none;
}

.task-context-table-link a:hover {
    text-decoration: underline;
}

.task-context-table table td {
    height: 18px;
    white-space: nowrap;
    width: 90px;
    word-wrap: normal;
}

.task-context-table table .task-context-table-link {
    width: 150px;
}

.task-context-table table th {
    height: 18px;
    white-space: nowrap;
    width: 70px;
    word-wrap: normal;
}

.task-context-header {
    background-color: white;
    color: #FB7803;
    font-family: tahoma;
    font-size: 140%;
    font-weight: normal;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-top: 10px;
}

div.task-context-subject-details img {
  padding-left: 11px;
  padding-right: 10px;
  padding-top: 4px;
  float: left;
}

.task-context-subject-details {
  font-weight: normal;
}

.task-context-subject-label {
    color: black;
    padding-top: 6px;
}

/* ======== Curam 2016 Styling ======== */

body.curam.soria div.task-container-panel {
  width: 100%;
  top: 0px;
}

body.curam.soria .task-content-panel {
  background-color: transparent;
  top: 10px;
}

body.curam.soria .task-context-panel-details {
  float: left;
  height: 160px;
  border-left: none;
  border-right: none;
  width: 100%;
}

body.curam.soria .task-context-table {
  background-color: transparent;
  padding-left: 0px;
  padding-bottom: 0px;
}

body.curam.soria .task-context-table table td.task-context-table-cell-label {
  font-family:$infrastructure_main-medium_font-family;
  font-size: $infrastructure_normal_font-size;
  color: $infrastructure_primary-form-control-font_color;
  line-height: $infrastructure_normal_line-height;
  white-space: nowrap;
  width: auto;
  word-wrap: normal;
  padding-left: $infrastructure_normal_padding !important;
  padding-right: $infrastructure_very-big_padding;
}

body.curam.soria .task-context-table table td.task-context-table-cell-value,
body.curam.soria .task-context-table table td.horiz-body-last-celltask-context-table-cell-value {
  font-family:$infrastructure_main-regular_font-family;
  font-size: $infrastructure_normal_font-size;
  color: $infrastructure_primary-form-control-font_color;
  line-height: $infrastructure_normal_line-height;
  white-space: nowrap;
  width: auto;
  word-wrap: normal;
  padding-right: $infrastructure_giant_padding;
  padding-left: 0px !important;
}

body.curam.soria .task-context-table-link a {
  font-family:$infrastructure_main-medium_font-family;
  font-size: $infrastructure_normal_font-size;
  color: $infrastructure_primary-hover-and-focus-font_color;
  line-height: $infrastructure_normal_line-height;
  text-decoration: none;
}

body.curam.soria .task-context-table-link a:hover {
  color: $infrastructure_secondary-hover-and-focus-font_color;
  text-decoration: none;
}

body.curam.soria .task-context-table table .task-context-table-link {
  width: auto;
  white-space: nowrap;
  word-wrap: normal;
  padding-right: $infrastructure_giant_padding;
  padding-left: 0px !important;
}

body.curam.soria .task-context-table table th.horiz-body-first-celltask-context-table-cell-label {
  font-family:$infrastructure_main-medium_font-family;
  font-size: $infrastructure_normal_font-size;
  color: $infrastructure_primary-form-control-font_color;
  line-height: $infrastructure_normal_line-height;
  white-space: nowrap;
  width: auto;
  word-wrap: normal;
  padding-right: $infrastructure_very-big_padding;
}

body.curam.soria .task-context-header {
  background-color: transparent;
  font-weight: normal;
  padding-bottom: $infrastructure_small_padding;
  padding-left: 0px;
  padding-top: $infrastructure_normal_padding;
  font-family:$infrastructure_main-medium_font-family;
  font-size: $infrastructure_heading-three_font-size;
  color:#152935;
  letter-spacing:-0.22px;
  line-height: $infrastructure_heading-three_line-height;  
}

body.curam.soria div.task-context-subject-details img {
  padding-left: 0px;
  padding-right: $infrastructure_normal_padding;
  padding-top: 0px;
}

body.curam.soria .task-context-subject-details {
  font-weight: normal;
  font-family: $infrastructure_main-regular_font-family;
  font-size: $infrastructure_normal_font-size;
  color: $infrastructure_primary-form-control-font_color;
  line-height: $infrastructure_normal_line-height;
  padding-left: 0px;
  padding-top: 45px;
}

body.curam.soria .task-context-subject-label {
  padding-top: 0px;
  font-family: $infrastructure_main-medium_font-family;
  font-size: $infrastructure_normal_font-size;
  color: $infrastructure_primary-form-control-font_color;
  line-height: $infrastructure_normal_line-height;
  padding-left: 0px;
}

/* ==== Curam 2016 Styling ==== */

body.curam.soria .task-content-panel {
  top: 0px;
  height: 180px;
}
body.curam .task-context-panel-details .task-context-table table {
  width: 100%;
}
body.curam.soria .task-context-table table td.field,
body.curam.soria .task-context-table table th.field {
  padding: 0px 0px $infrastructure_small_padding 0px !important;
  font-size: $infrastructure_normal_font-size;
  color: $infrastructure_primary-form-control-font_color;
}
body.curam.soria.context-panel .task-context-panel-details .task-context-table table .task-context-table-cell-label {
  font-family: $infrastructure_main-medium_font-family;
  width: 13%;
}
body.curam.soria.context-panel .task-context-panel-details .task-context-table table .task-context-table-cell-value {
  font-family: $infrastructure_main-regular_font-family;
  width: 20%;
}
body.curam.soria .task-context-subject-details {
  width: 100%;
  position: absolute;
  bottom: 10px;
}
/* Overdue icon in Available Tasks list */
body#Curam_Inbox_availableTaskSearch td.field img {
  vertical-align: middle;
}
