/*______________________________________________________________________________
 * TaskContextPanel_rtl.css
 *
 * Create styles that are applied to the HTML for task context details.
 */

.rtl .task-content-panel {
    left: auto;
    right: 5px;
}

.rtl .task-context-panel-details {
  float: right;
}

.rtl .task-context-table {
  padding-left: 0px;
  padding-right: 15px;
}

.rtl .task-context-header {
    padding-left: 0px;
    padding-right: 15px;
}

.rtl div.task-context-subject-details img {
  padding-left: 10px;
  padding-right: 11px;
  float: right;
}

/* ======== Curam 2016 Styling ======== */

body.rtl.curam .task-content-panel .task-context-header {
  padding-right: 0px;
}

body.rtl.curam .task-content-panel .task-context-table {
  padding-right: 0px;
}

body.rtl.curam .task-context-table table th.horiz-body-first-celltask-context-table-cell-label {
  padding-right: 0px;
  padding-left: $infrastructure_very-big_padding;
}

body.rtl.curam .task-context-table table td.task-context-table-cell-value, 
body.rtl.curam .task-context-table table td.horiz-body-last-celltask-context-table-cell-value {
  padding-left: $infrastructure_giant_padding !important;
  padding-right: 0px !important;
}

body.rtl.curam .task-context-table table td.task-context-table-cell-label {
  padding-left: $infrastructure_very-big_padding !important;
  padding-right: $infrastructure_normal_padding !important;
}

body.rtl.curam .task-context-table table .task-context-table-link {
  padding-right: 0px !important;
  padding-left: $infrastructure_giant_padding !important;
}

body.rtl.curam div.task-context-subject-details img {
  padding-left: $infrastructure_normal_padding;
  padding-right: 0px;
}
