.verification-container-fields {
  font-size: 10pt;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  color: red;
  font-weight: bolder;
  text-align: left;
  padding: 0;
}

.verificationSpaceStyle {
  width:100%
}
