/** ___________________________________________________________________________
 * curam.Portlet.css
 */

.right-top{
 background :  url("./dextr/images/ext/pods/rcr.png") no-repeat right top;
}
.left-top{
 background :  url("./dextr/images/ext/pods/rcl.png") no-repeat left top;
 width:12px;
 height:12px;
}
.center-top{
 width:99%;
 background-color: #4867F0;
}
.dijitTitlePaneBottomRight{
 background :  url("./dextr/images/ext/pods/rcrb.png") no-repeat right top;
}
.dijitTitlePaneBottomLeft{
 background :  url("./dextr/images/ext/pods/rclb.png") no-repeat left top;
 width:10px;
 height:10px;
}
.dijitTitlePaneBottomCenter{
 width:99%;
 background-color: #C0C0C0;
}

.dijitTitlePaneTitleRight{
 background-color: #4867F0;

}
.dijitTitlePaneTitleCentre{
 background-color: #4867F0;
 margin-left : 10px;
 padding-bottom : 5px;
 
}
.claro .dijitTitlePaneContentOuter{
 border:none;
 background-color:#c0c0c0

}
.claro .dijitTitlePaneTitle {
 background-image: none;
 background-color:#ffffff;
 border: none;
}
/* ___________________________________________________________________________ */