<div id="${id}" class="cw-inline-dropdown">
	<div class="cw-inline-dropdown-container-wrapper" 
		data-dojo-attach-point="containerWrapper">
		<div class="cw-inline-dropdown-container" 
			data-dojo-attach-point="containerNode">
		</div>
	</div>
	<div id="${id}_dropdown" class="cw-inline-dropdown-div" 
		data-dojo-type="cwtk.widget.DropDown"
		data-dojo-attach-point="dropdownNode"
		position="below">
		<div>
			<div id="${id}_button" class="cw-inline-dropdown-button" 
				data-dojo-attach-point="buttonNode">
			</div>
		</div>
		<div class="cw-tooltip-dialog cw-inline-dropdown-tooltip" 
			data-dojo-type="dijit.TooltipDialog">
			<div class="cw-inline-dropdown-tooltip-container" 
				data-dojo-attach-point="tooltipContainer"></div>
		</div>
	</div>
</div>
