<div class="cw-rotator">
	<div class="cw-rotator-nav cw-rotator-nav-prev" 
		data-dojo-attach-point="prevNode" 
		data-dojo-attach-event="ondijitclick: _prev">
		<ul>
			<li class="dojoxRotatorPrev dojoxRotatorIcon dojoxRotatorFirst dojoxRotatorLast">
				<a href="#">
					<span>Prev</span>
				</a>
			</li>
		</ul>
	</div>
	<div class="cw-rotator-nav cw-rotator-nav-next" 
		data-dojo-attach-point="nextNode" data-dojo-attach-event="ondijitclick: _next">
		<ul>
			<li class="dojoxRotatorPrev dojoxRotatorIcon dojoxRotatorFirst dojoxRotatorLast">
				<a href="#">
					<span>Next</span>
				</a>
			</li>
		</ul>
	</div>
	<div class="cw-rotator-container-wrapper" data-dojo-attach-point="containerWrapper">
		<div class="cw-rotator-container" 
			data-dojo-attach-point="containerNode">
		</div>
	</div>
</div>
