<div id="${id}" class="cw-title-pane">
  <div class="cw-title-pane-title" data-dojo-attach-point="_titleNode">
    <div class="cw-title-pane-text-div">
      ${title}
    </div>
    <div class="cw-title-pane-link-div">
      <div class="cw-title-pane-show-div"
        data-dojo-attach-point="_showButtonDiv"
        data-dojo-attach-event="ondijitclick: _slideEvent" style="display:none">
        <a title="${labelShow}" class="cw-title-pane-show-image">${labelShow}</a>
      </div>
      <div class="cw-title-pane-hide-div"
        data-dojo-attach-point="_hideButtonDiv"
        data-dojo-attach-event="ondijitclick: _slideEvent">
        <a title="${labelHide}" class="cw-title-pane-hide-image">${labelHide}</a>
      </div>
      <div class="cw-title-pane-help" data-dojo-attach-point="_helpNode">
        <!--title pane help-->
        <div class="cw-popup-link cw-popup-link-dialog">
          <div data-dojo-attach-event="ondijitclick: _helpEvent" class="cw-title-pane-help">
            <a title="${labelHelp}" class="cw-title-pane-help-image">${labelHelp}</a>
          </div>
          <div class="cw-dialog" data-dojo-type="dijit.Dialog" data-dojo-attach-point="_helpDialog"
            data-dojo-props="title: '${labelHelp}'">
            <div data-dojo-type="dijit.layout.ContentPane" data-dojo-attach-point="_helpPanel"
              href="${hrefHelp}">
              <!--help-->
              <button data-dojo-type="dijit.form.Button" onclick="cw.form.dismiss(this);">
                Dismiss
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="cw-title-pane-actions" data-dojo-attach-point="_actionsNode">
        <!--title pane actions-->
        <span class="cw-title-pane-actions" data-dojo-type="cwtk.widget.DropDown"
          data-dojo-props="forcedOrientation:'R'">
          <div>
            <a title="${labelActions}" class="cw-title-pane-actions-image">${labelActions}</a>
          </div>
          <div class="cw-tooltip-dialog" data-dojo-type="dijit.TooltipDialog" data-dojo-attach-point="_actionsDialog">
            <div data-dojo-type="dijit.layout.ContentPane"
              data-dojo-attach-point="_actionsPanel" href="${hrefActions}">
              <!--actions-->
            </div>
          </div> </span>
      </div>
    </div>
  </div>
  <div class="cw-title-pane-display-panel" data-dojo-attach-point="containerNode">
    <!--Content here.-->
  </div>
</div>