<div class="business-object-timeline">
	<button class="business-object-timeline__button" data-dojo-attach-point="leftButtonNode" data-dojo-attach-event="ondijitclick:_leftNavClick" aria-label="${leftButtonTitle}">
		<svg class="navigationIcon "xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
  			<circle class="circle" cx="10" cy="10" r="9" stroke="black" stroke-width="1.5" style="fill: transparent;"></circle>
  			<polygon class="caret" fill="#161616" fill-rule="evenodd" points="11.875 14.375 6.875 10 11.875 5.625"/>
		</svg>
	</button>
	<div class="business-object-timeline__timelinewrapper" data-dojo-attach-point="timelineWrapperNode">
		<div class="business-object-timeline__timeline" data-dojo-attach-point="timelineNode">
			<ol data-dojo-attach-point="pointNode"></ol>
		</div>
	</div>
	<button class="business-object-timeline__button" data-dojo-attach-point="rightButtonNode" data-dojo-attach-event="ondijitclick:_rightNavClick" aria-label="${rightButtonTitle}">
		<svg class="navigationIcon "xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
  			<circle class="circle" cx="10" cy="10" r="9" stroke="black" stroke-width="1.5" style="fill: transparent;"></circle>
  			<polygon class="caret" fill="#161616" fill-rule="evenodd" points="8.125 5.625 13.125 10 8.125 14.375"/>
		</svg>
	</button>
</div>