<div class="business-object-viewer">
	<div class="business-object-viewer__container" data-dojo-attach-point="titleContainerNode">
		<div class="businss-object-viewer__textContainer">
			<h2 class="business-object-viewer__title" data-dojo-attach-point="titleNode"></h2>
			<div class="business-object-viewer__sourceCaseDescription" data-dojo-attach-point="sourceCaseNode"></div>
		</div>
		<div class="business-object-viewer__buttons">
			<button class="business-object-viewer__actions" data-dojo-attach-point="addNode">
				<span class="business-object-viewer__actions-text">${addButtonText}</span>
			</button>
			<button class="business-object-viewer__actions" data-dojo-attach-point="ignoreNode">
				<span class="business-object-viewer__actions-text">${ignoreButtonText}</span>
			</button>
		</div>
	</div>
	<ul class="messages business-object-viewer__informational" tabindex="0" aria-live="assertive" data-dojo-attach-point="informationalContainerNode">
		<li class="level-2"><div data-dojo-attach-point="informationalNode">${informational}</div></li>
	</ul>
	<div class="business-object-viewer__timelineContainer" data-dojo-attach-point="timelineContainerNode">
		<div class="business-object-viewer-timelineTitleContainer" data-dojo-attach-point="timelineTitleContainerNode">
			<div class="business-object-viewer__timelineTitle" data-dojo-attach-point="timelineTitle">${timelineTitleText}</div>
			<div class="business-object-viewer__timelineDescription" data-dojo-attach-point="timelineDescriptionNode"></div>
		</div>
		<div class="business-object-viewer__timelineLabel" data-dojo-attach-point="timelineLabelNode">${timelineDescription}<span data-dojo-attach-point="timelinePointLabelNode">${pointDescription}</span></div>
		<div class="business-object-viewer__timeline" data-dojo-attach-point="timelineNode"></div>
	</div>
	<div class="business-object-viewer__noComparison" data-dojo-attach-point="noComparisonNode">
		<div data-dojo-attach-point="noComparisonTextNode">${noMatchingEvidenceText}</div>
		<div data-dojo-attach-point="noMatchingExistingEvidenceNode1"></div>
		<div data-dojo-attach-point="noMatchingExistingEvidenceNode2"></div>
	</div>
	<div class="business-object-viewer__evidence" data-dojo-attach-point="evidenceNode"></div>
</div>