<div class="evidence-viewer">
	<div class="evidence-viewer__container">
	    <div class="evidence-viewer__textContainer">
			<div class="evidence-viewer__name">${name}</div>
			<div class="evidence-viewer__date" data-dojo-attach-point="evidenceDateTextNode">${evidenceDateText}</div>
			<div class="evidence-viewer__description" role="status" aria-live="assertive" data-dojo-attach-point="pendingRemovalDesc"></div>
		</div>
		<div class="evidence-viewer__buttons">
			<button class="evidence-viewer__actions" data-dojo-attach-point="editNode">
				<span class="evidence-viewer__edit-text" data-dojo-attach-point="editTextNode">${editButtonText}</span>
			</button>
			<button class="evidence-viewer__actions" data-dojo-attach-point="deleteExistingNode">
				<span class="evidence-viewer__deleteExisting">${deleteExistingButtonText}</span>
			</button>
			<button class="evidence-viewer__collapse" aria-expanded="true" aria-label="${evidenceToggleText}" title="${evidenceToggleText}" data-dojo-attach-point="collapseNode" data-dojo-attach-event="ondijitclick:_toggleAttributeCollapse">
				<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
  					<polygon class="chevron" fill="#161616" fill-rule="evenodd" points="10 13.75 3.75 7.5 4.625 6.625 10 12 15.375 6.625 16.25 7.5"/>
				</svg>
			</button>
		</div>
	</div>
	<div class="evidence-viewer__attributes" data-dojo-attach-point="containerNode" data-dojo-attach-event="ontransitionend:_handleAttributeTransitionEnd"></div>
</div>