<div class="incoming-evidence-comparison__container">
	<ul class="messages incoming-evidence-comparison__informational" tabindex="0" data-dojo-attach-point="informationalContainerNode">
		<li class="level-2 incoming-evidence-comparison__informationalList"><div aria-live="assertive" role="status" data-dojo-attach-point="informationalNode"></div></li>
	</ul>
	<!-- Incoming evidence comparison header -->
	<div class="incoming-evidence-comparison__header" data-dojo-attach-point="incomingEvidenceComparisonHeaderNode">
		<!-- Existing evidence navigation -->
		<div class="existing-business-object-viewer__navigation" data-dojo-attach-point="navigationNode">
			<div class="existing-business-object-viewer__navigationTitle">${navigationTitle}</div>
			<div class="existing-business-object-viewer__headingContainer">	
				<button class="business-object-viewer__navigation_button" data-dojo-attach-point="navigationPreviousNode" data-dojo-attach-event="ondijitclick:_previousNavClick" aria-label="${previousButtonTitle}" title=${previousButtonTitle}>
					<svg class="navigationIcon "xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
  						<circle class="circle" cx="10" cy="10" r="9" stroke="black" stroke-width="1.5" style="fill: transparent;"></circle>
  							<polygon class="caret" fill="#161616" fill-rule="evenodd" points="11.875 14.375 6.875 10 11.875 5.625"/>
					</svg>
				</button>
				<button class="business-object-viewer__navigation_button" data-dojo-attach-point="navigationNextNode" data-dojo-attach-event="ondijitclick:_nextNavClick" aria-label="${nextButtonTitle}" title=${nextButtonTitle}>
					<svg class="navigationIcon "xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
  						<circle class="circle" cx="10" cy="10" r="9" stroke="black" stroke-width="1.5" style="fill: transparent;"></circle>
  						<polygon class="caret" fill="#161616" fill-rule="evenodd" points="8.125 5.625 13.125 10 8.125 14.375"/>
					</svg>
				</button>
				<div class="business-object-viewer__navigation_text" data-dojo-attach-point="navigationTextNode"></div>
			</div>
		</div>
		<!-- Information missing card -->
		<div class="information-missing__card" data-dojo-attach-point="informationMissingNode">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 			width="32px" height="32px" viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve" role="img">
				<rect id="Transparent_Rectangle" class="st0" width="32" height="32" style="fill:none;"/>
				<path id="Compound_Path" d="M16,2C8.3,2,2,8.3,2,16s6.3,14,14,14s14-6.3,14-14C30,8.3,23.7,2,16,2z M14.9,8h2.2v11h-2.2V8z M16,25
					c-0.8,0-1.5-0.7-1.5-1.5S15.2,22,16,22c0.8,0,1.5,0.7,1.5,1.5S16.8,25,16,25z" style="fill:#F1C21B;"/>
				<path id="inner-path" class="st1" d="M17.5,23.5c0,0.8-0.7,1.5-1.5,1.5c-0.8,0-1.5-0.7-1.5-1.5S15.2,22,16,22
					C16.8,22,17.5,22.7,17.5,23.5z M17.1,8h-2.2v11h2.2V8z" style="fill:#161616;"/>
			</svg>
			<div class="information-missing__title" data-dojo-attach-point="informationMissingTitleNode"></div>
			<div class="information-missing__text">${informationMissingText}</div>
		</div>
		<!-- Update card -->
		<div class="business-object-update" data-dojo-attach-point="updateCardNode">
			<div class="business-object-update__title">${updateExistingEvidence}</div>
			<p data-dojo-attach-point="updateExistingEvidenceTextNode"></p>
			<p>${updateExistingEvidenceLine2}</p>
			<div class="business-object-update__conflict" data-dojo-attach-point="conflictNode">
		        <ul class="messages conflict__informational" data-dojo-attach-point="conflictInfoContainerNode">
					<li class="level-1"><div role="status" aria-live="assertive" data-dojo-attach-point="conflictInformationalNode"></div></li>
				</ul>
				<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 				width="32px" height="32px" viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve" role="img">
					<rect id="Transparent_Rectangle" class="st0" width="32" height="32" style="fill:none;"/>
					<path id="Compound_Path" d="M16,2C8.3,2,2,8.3,2,16s6.3,14,14,14s14-6.3,14-14C30,8.3,23.7,2,16,2z M14.9,8h2.2v11h-2.2V8z M16,25
						c-0.8,0-1.5-0.7-1.5-1.5S15.2,22,16,22c0.8,0,1.5,0.7,1.5,1.5S16.8,25,16,25z" style="fill:#F1C21B;"/>
					<path id="inner-path" class="st1" d="M17.5,23.5c0,0.8-0.7,1.5-1.5,1.5c-0.8,0-1.5-0.7-1.5-1.5S15.2,22,16,22
						C16.8,22,17.5,22.7,17.5,23.5z M17.1,8h-2.2v11h2.2V8z" style="fill:#161616;"/>
				</svg>
				<div class="business-object-conflict__title" data-dojo-attach-point="conflictTitle"></div>
				<div class="business-object-conflict__text">${conflictText}</div>
				<form class="business-object-conflict__form">
					<input type="radio" id="incomingRadioBtn" name="conflictRadio" value="incoming" data-dojo-attach-event="ondijitclick:_incomingRadioSelected" ><label for="incomingRadioBtn">${incomingRadioText}</label>
					<input type="radio" id="existingRadioBtn" name="conflictRadio" value="existing" data-dojo-attach-event="ondijitclick:_existingRadioSelected" ><label for="existingRadioBtn">${existingRadioText}</label>
				</form>
			</div>
			<button class="business-object-update_button" data-dojo-attach-point="updateNode">${updateButtonText}</button>
		</div>
	</div>
	<div class="incoming-evidence-comparison" data-dojo-attach-point="incomingEvidenceComparisonNode"></div>
</div>