
/**************************************
START: table styling - embeddedanalytics.css
*/
.report {
font-size : 100%;
font-family : Tahoma;
font-weight : normal;
font-style : normal;
}

.table {
}

.table-group-header-1 {
font-size : 70%;
background : green;
font-weight : bold;
color : #5a5a5a;
PADDING-LEFT : 5px;
}

.table-group-header-2 {
font-size : 70%;
background : green;
font-weight : bold;
color : #5a5a5a;
PADDING-LEFT : 5px;

}

.table-header {
color : #000000;
font-size : 80%;
text-align : left;
background-image : url("./images/list-header-corners.png");
border-top-width : thin;
border-top-color : red;
border-top-style : double;
PADDING-LEFT : 15px;
}

.table-header-cell {
PADDING-LEFT: 15px;

}

.table-detail {
font-size : 70%;
background : white;
font-weight : bold;
color : #5a5a5a;
PADDING-LEFT : 15px;
}

.table-footer {
background : orange;
border-top : double;
border-bottom : solid;
border-bottom-width : thin;
border-color : #483D8B;
font-size : x-small;
font-weight : bold;
color : red;
}

.CuramListDetail {
color : yellow;

}

.CuramListDetailZebra {
background : #e6ecf4;
}

/**************************************
END: chart styling - embeddedanalytics.css
*/

.text {
font-size : 70%;
font-family : Tahoma;
font-weight : normal;
font-style : normal;

}

.chart{
font-family : Tahoma;
font-size : 100%;
font-weight : normal;
font-style : normal;
color : #5a5a5a;

}

.CuramChart {
font-family : Tahoma;
font-size : 10;
font-weight : normal;
font-style : normal;
color : #5a5a5a;

}

.CuramWaveChart {
font-family : Tahoma;
font-size : 10;
font-weight : normal;
font-style : normal;
color : #5a5a5a;

}

.CuramLineChart {
font-family : Tahoma;
font-size : 10;
font-weight : normal;
font-style : normal;
color : #000000;

}

