body.rtl.curam.list-inline-page#Curam_ApplicationContextPanel .person-application-thumbnail-panel,
body.rtl.curam.list-inline-page#Curam_ApplicationContextPanel #stackCon-threeimages,
body.rtl.curam.list-inline-page#Curam_ApplicationContextPanel .content-panel-detail.application-single-person-details-panel,
body.rtl.curam.list-inline-page#Curam_ApplicationContextPanel .content-panel-detail.application-person-details-panel,
body.rtl.curam.list-inline-page#Curam_ApplicationContextPanel .content-panel-detail.pd-application-links-panel {
  float: right;
}
body.rtl.curam.list-inline-page#Curam_ApplicationContextPanel .content-panel-detail.pd-application-links-panel .tab-links.application-tab-links .intake-user-panel .intake-user a {
  padding-left: 0px;
  padding-right: 30px;
  background-position: right center;
}
body.rtl.curam.list-inline-page#Curam_ApplicationContextPanel div#content div.Intakecontainer-panel div.application-single-person-details-panel div.content-single-intakeapplication-id,
body.rtl.curam.list-inline-page#Curam_ApplicationContextPanel div#content div.Intakecontainer-panel div.application-person-details-panel div.content-single-intakeapplication-id {
  padding-right: 0px;
  padding-left: 20px;
}
body.rtl.curam.list-inline-page#Curam_ApplicationContextPanel .person-application-thumbnail-panel .participant-image,
body.rtl.curam.list-inline-page#Curam_ApplicationContextPanel #stackCon-threeimages .participant-image {
  padding: 0px 28px 0px 0px;
}
body.rtl.curam.list-inline-page#Curam_ApplicationContextPanel .person-application-thumbnail-panel .right-corner-image,
body.rtl.curam.list-inline-page#Curam_ApplicationContextPanel #stackCon-threeimages .right-corner-image {
  right: auto;
  left: 28px;
}
body.rtl.curam.list-inline-page#Curam_ApplicationContextPanel .person-application-thumbnail-panel .participant-details .participant-details-divider.divider,
body.rtl.curam.list-inline-page#Curam_ApplicationContextPanel #stackCon-threeimages .participant-details .participant-details-divider.divider {
  border-left: none;
  border-right: 1px solid #c7c7c7;
  margin: 0px 10px 0px 7px;
}
body.rtl.curam.list-inline-page#Curam_ApplicationContextPanel .person-application-thumbnail-panel .stack-container-list .table-list .body-first-cell a,
body.rtl.curam.list-inline-page#Curam_ApplicationContextPanel #stackCon-threeimages .stack-container-list .table-list .body-first-cell a {
  background-position: right center;
}
body.rtl.curam.list-inline-page#Curam_ApplicationContextPanel .person-application-thumbnail-panel .tab-case-list.app-list-size,
body.rtl.curam.list-inline-page#Curam_ApplicationContextPanel #stackCon-threeimages .tab-case-list.app-list-size {
  padding-left: 0px;
  padding-right: 10px;
}
body.rtl.curam.list-inline-page#Curam_ApplicationContextPanel .content-panel-detail.pd-application-links-panel .tab-links.application-tab-links .intake-user-panel .intake-user {
  float: right;
}
body.rtl.curam.list-inline-page#Curam_ApplicationContextPanel .Intakecontainer-panel .image-panel-content .left-corner-image {
  right: 28px;
}
