/* 
 * Licensed Materials - Property of IBM
 * 
 * Copyright IBM Corporation 2016,2020. All Rights Reserved.
 *
 * US Government Users Restricted Rights - Use, duplication or disclosure 
 * restricted by GSA ADP Schedule Contract with IBM Corp.
 */
 .th-col-One {
    height: 20px;
    width: 15px;
    background-image:url("../../Images/header_orange_corner_left.png");
    background-repeat: no-repeat;
    border-left:medium none;
 }
 
 .th-col-Two {
    background: no-repeat top left #fbcb5d;
    border-top:medium none;
 }
 
 .th-two-height {
   background: no-repeat top left #fbcb5d;
   height: 20px;
 }
 
 .th-col-three {
   background-image:url("../../Images/header_orange_corner_right.png");
   background-repeat: no-repeat;
   border-right:medium none;
   height: 20px;
   width: 15px;
 }
 
 .th-two-font {
   font-family:tahoma;
   font-size:100%;
 }
 
 .th-col-Two-img {
   display: block;
   background:#fbcb5d no-repeat top left;
   color:#000000;
   overflow:hidden;
   white-space:nowrap;
   width:90%;
   word-wrap:normal;   
 }
 
 .two-col-tr-one { 
   height: 20px;
   padding-top:4px;
   padding-bottom:4px;
 }
 
 .toggle-image-ci {
   background-image:url("../../Images/arrow_orange_expand.png");
   cursor:pointer;
   display:inline;
   float:right;
   height:7px;
   margin-right:5px;
   margin-top:-10px;
   width:9px;
 }
 
 .toggle-image-contract-ci {
 background-image:url("../../Images/arrow_orange_contract.png");
 cursor:pointer;
 display:inline;
 float:right;
 height:9px;
 margin-right:5px;
 margin-top:-11px;
 width:9px;
 }
 
 .th-col-Three {
    height: 20px;
    width: 15px;
    background:#fbcb5d no-repeat top left;
    border-left:medium none;
    border-right: 1px solid #B6B6B6;
 }
 
 .tr-two-td-two {
 padding-top:0px;
 padding-bottom:0px;
 }
 
 body.curam.soria table#toggleTODOTable {
    width: 100%;
    margin-top: 10px;
 }
 
 body.curam.soria table#toggleTODOTable tr {
    vertical-align: top;
 }
 
 #toggleTODOTable td {
   padding-top:0px;
 padding-bottom:0px;
 }
 
 
 
 .first-td-for-first-tr {
    background-color: #d9e4f6;
 }
 
 .second-td-for-first-tr {
 background-color: #d9e4f6;
 }
 
 .third-td-for-first-tr {
    background-color: #d9e4f6;
 }
 
 .first-td-for-second-tr-class {
    height: 12px;
    width: 15px;
    
 }
 
 
 .second-td-for-second-tr-class {
 height: 12px;
    
 }
 
 .third-td-for-second-tr-class {
    height: 12px;
    width: 15px;
    
 }
 
 .first-td-for-fourth-tr-class {
    height: 20px;
    width: 15px;
    
 }
 
 .third-td-for-fourth-tr-class {
    height: 20px;
    width: 15px;
    
 }
 
 
 .inner-table-td-for-space-class {
     width: 10px;
 
 }
 
 th.th-col-Two span.header-wrapper h2 {
   font-weight: bold;
 }
 
 /* ==== Curam 2016 Styling ==== */
 
 body.curam.soria div#content table#toggleTODOTable th span.th-col-Two-img {
     font-family: $infrastructure_main-light_font-family !important;
     font-size: $infrastructure_heading-four_font-size;
     line-height: $infrastructure_heading-four_line-height;
     color: #454646 !important;
     height: 26px;
     padding-top: $infrastructure_very-small_padding;
 }
 
 body.curam.soria div#content table#toggleTODOTable th div.toggle-image-ci {
     height: 20px;
     width: 20px;
     margin-top: -25px;
     margin-right: 0;
     margin-left: 0;
     background-repeat: no-repeat;
     background-image: url(../../Images/chevron--down20-disabled.svg);
 }
 
 body.curam.soria div#content table#toggleTODOTable th div.toggle-image-contract-ci {
     height: 20px;
     width: 20px;
     margin-top: -25px;
     margin-right: 0;
     margin-left: 0;
     background-repeat: no-repeat;
     background-image: url(../../Images/chevron--left20-enabled.svg);
 }
 
 body.curam.soria div#content table#toggleTODOTable th div.toggle-image-ci:hover,
 body.curam.soria div#content table#toggleTODOTable th div.toggle-image-ci:focus {
     background-image: url(../../Images/chevron--down20-enabled.svg);
 }
 
 body.curam.soria div#content table#toggleTODOTable th div.toggle-image-contract-ci:hover,
 body.curam.soria div#content table#toggleTODOTable th div.toggle-image-contract-ci:focus {
     background-image: url(../../Images/chevron--left20-enabled.svg);
 }
 
 body.curam.soria div#content table#toggleTODOTable th, 
 body.curam.soria div#content table#toggleTODOTable th span.th-col-Two-img {
     background: none;
     background-color: #ececec;
     height: 28px;
 }
 
 body.curam.soria div#content table#toggleTODOTable th.th-col-three {
     width: 10px;
     border-top: 1px solid #ececec;
     border-right: 1px solid #ececec;
 }
 
 body.curam.soria div#content table#toggleTODOTable th.th-col-One {
     width: 20px;
     border-top: 1px solid #ececec;
     border-left: 1px solid #ececec;
 }
 
 body.curam.soria div#content table#toggleTODOTable th.th-col-Two {
     border-top: 1px solid #ececec;
 }
 
 body.curam.soria div#content table#toggleTODOTable tbody tr#tr1 td,
 body.curam.soria div#content table#toggleTODOTable tbody tr#tr2 td,
 body.curam.soria div#content table#toggleTODOTable tbody tr#tr3 td,
 body.curam.soria div#content table#toggleTODOTable tbody tr#tr4 td {
     background-color: #f9f9f9 !important;
 }
 
 body.curam.soria div#content table#toggleTODOTable tbody tr#tr1 td {
     border-top: 0;
 }
 
 body.curam.soria div#content table#toggleTODOTable tbody tr#tr1 {
     height: 35px;
 }
 
 body.curam.soria div#content table#toggleTODOTable tbody tr#tr4 {
     height: 35px;
 }
 
 body.curam.soria div#content table#toggleTODOTable tbody tr#tr2 {
     display: none;
 }
 
 body.curam.soria div#content table#toggleTODOTable tbody tr#tr3 td.tr-two-td-two table {
     margin: 0;
     border: 0 !important;
 }
 
 body.curam.soria div#content table#toggleTODOTable tbody tr#tr4 td {
     border-bottom: 1px solid $infrastructure_primary-menu-and-border_background-color !important;
 }
 
 body.curam.soria div#content table#toggleTODOTable tbody tr#tr1 td:first-child,
 body.curam.soria div#content table#toggleTODOTable tbody tr#tr2 td:first-child,
 body.curam.soria div#content table#toggleTODOTable tbody tr#tr3 td:first-child,
 body.curam.soria div#content table#toggleTODOTable tbody tr#tr4 td:first-child {
     border-left: 1px solid $infrastructure_primary-menu-and-border_background-color !important;
 }
 
 body.curam.soria div#content table#toggleTODOTable tbody tr#tr1 td:last-child,
 body.curam.soria div#content table#toggleTODOTable tbody tr#tr2 td:last-child,
 body.curam.soria div#content table#toggleTODOTable tbody tr#tr3 td:last-child,
 body.curam.soria div#content table#toggleTODOTable tbody tr#tr4 td:last-child {
     border-right: 1px solid $infrastructure_primary-menu-and-border_background-color !important;
 }
 
 body.curam.soria div#content table#toggleTODOTable tbody tr#tr1 td.two-col-tr-one {
     font-size: $infrastructure_heading-five_font-size;
     padding-top: 2px;
     padding-right: $infrastructure_normal_padding;
     line-height: $infrastructure_heading-five_line-height;
 }
 
 body.curam.soria div#content table#toggleTODOTable tbody tr#tr1 td.two-col-tr-one font {
     font-family: $infrastructure_main-regular_font-family;
     color: #454646;
 }
 
 body.curam.soria div#content table#toggleTODOTable tbody tr#tr3 td.tr-two-td-two table img {
     width: 20px;
     height: 20px;
 }
 
 body.curam.soria div#content table#toggleTODOTable tbody tr#tr3 td.tr-two-td-two table tr td:first-child {
     width: 20px !important;
 }
 
 body.curam.soria div#content table#toggleTODOTable tbody tr#tr3 td.tr-two-td-two table tr td a {
     color: $infrastructure_primary-hover-and-focus-font_color;
     font-family: $infrastructure_main-medium_font-family;
 }
 
 body.curam.soria div#content table#toggleTODOTable tbody tr#tr3 td.tr-two-td-two table tr td a:hover,
 body.curam.soria div#content table#toggleTODOTable tbody tr#tr3 td.tr-two-td-two table tr td a:focus {
     color: $infrastructure_secondary-hover-and-focus-font_color;
 }
 
 body.curam.soria div#content table#toggleTODOTable tbody tr#tr3 td.tr-two-td-two table tr td {
     font-family: $infrastructure_main-regular_font-family;
     font-size: $infrastructure_normal_font-size;
     line-height: $infrastructure_normal_line-height;
 }
 
 body.curam.soria div#content table#toggleTODOTable tbody tr#tr3 td.tr-two-td-two table tr td:nth-child(7) {
     width: 20px !important;
     background: url(../../Images/task--20-accent.svg) no-repeat;
 }
 
 body.curam.soria div#content table#toggleTODOTable tbody tr#tr3 td.tr-two-td-two tr td:last-child {
     border: 0 !important;
 }
 body.curam.soria div#content table#toggleTODOTable tbody tr#tr3 td.tr-two-td-two tr td:first-child {
     border: 0 !important;
 }
 
 /*RTL*/
 
 body.curam.soria.rtl div#content table#toggleTODOTable tbody tr#tr1 td:first-child,
 body.curam.soria.rtl div#content table#toggleTODOTable tbody tr#tr2 td:first-child,
 body.curam.soria.rtl div#content table#toggleTODOTable tbody tr#tr3 td:first-child,
 body.curam.soria.rtl div#content table#toggleTODOTable tbody tr#tr4 td:first-child {
     border-right: 1px solid $infrastructure_primary-menu-and-border_background-color !important;
     border-left: 0 !important;
 }
 
 body.curam.soria.rtl div#content table#toggleTODOTable tbody tr#tr1 td:last-child,
 body.curam.soria.rtl div#content table#toggleTODOTable tbody tr#tr2 td:last-child,
 body.curam.soria.rtl div#content table#toggleTODOTable tbody tr#tr3 td:last-child,
 body.curam.soria.rtl div#content table#toggleTODOTable tbody tr#tr4 td:last-child {
     border-left: 1px solid $infrastructure_primary-menu-and-border_background-color !important;
     border-right: 0 !important;
 }
 
 body.curam.soria.rtl div#content table#toggleTODOTable th.th-col-three {
     border-left: 1px solid #ececec;
     border-right: 0;
 }
 
 body.curam.soria.rtl div#content table#toggleTODOTable tbody tr#tr1 td.two-col-tr-one {
     padding-left: $infrastructure_normal_padding;
     padding-right: 0;
 }
 
 body.curam.soria.rtl div#content table#toggleTODOTable th.th-col-One {
     border-right: 1px solid #ececec;
     border-left: 0;
 }
 
 body.curam.soria.rtl div#content table#toggleTODOTable th div.toggle-image-contract-ci {
     background-image: url(../../Images/chevron--right20-disabled.svg);
 }
 
 body.curam.soria.rtl div#content table#toggleTODOTable th div.toggle-image-contract-ci:hover,
 body.curam.soria.rtl div#content table#toggleTODOTable th div.toggle-image-contract-ci:focus {
     background-image: url(../../Images/chevron--right20-enabled.svg);
 }
 