/*
 * IBM Confidential
 *
 * OCO Source Materials
 *
 * Copyright IBM Corporation 2019, 2020.
 *
 * The source code for this program is not published or otherwise divested of
 * its trade secrets, irrespective of what has been deposited with the US
 * Copyright Office.
 */

body.curam.list-inline-page#Curam_ApplicationContextPanel {
  width: 100%;
  height: 180px;
  overflow: visible;
}
body.curam.list-inline-page#Curam_ApplicationContextPanel #content {
  padding: 0px !important;
  width: 1328px !important;
  min-width: 1328px !important;
  overflow: scroll;
}
body.curam.list-inline-page#Curam_ApplicationContextPanel .Intakecontainer-panel {
  min-width: 1328px;
  width: 100%;
  height: 180px !important;
  background: #f4f4f4;
}
body.curam.list-inline-page#Curam_ApplicationContextPanel .person-application-thumbnail-panel,
body.curam.list-inline-page#Curam_ApplicationContextPanel #stackCon-threeimages,
body.curam.list-inline-page#Curam_ApplicationContextPanel .content-panel-detail.application-single-person-details-panel,
body.curam.list-inline-page#Curam_ApplicationContextPanel .content-panel-detail.application-person-details-panel,
body.curam.list-inline-page#Curam_ApplicationContextPanel .content-panel-detail.pd-application-links-panel {
  position: relative;
  float: left;
  right: auto !important;
  bottom: auto !important;
  left: auto !important;
}
body.curam.list-inline-page#Curam_ApplicationContextPanel .person-application-thumbnail-panel {
  top: 0px !important;
}
body.curam.list-inline-page#Curam_ApplicationContextPanel #stackCon-threeimages,
body.curam.list-inline-page#Curam_ApplicationContextPanel .content-panel-detail.application-single-person-details-panel,
body.curam.list-inline-page#Curam_ApplicationContextPanel .content-panel-detail.application-person-details-panel,
body.curam.list-inline-page#Curam_ApplicationContextPanel .content-panel-detail.pd-application-links-panel {
  top: 10px !important;
}
body.curam.list-inline-page#Curam_ApplicationContextPanel .person-application-thumbnail-pane {
  background: transparent;
  width: 186px;
}
body.curam.list-inline-page#Curam_ApplicationContextPanel #stackCon-threeimages {
  background: transparent;
  width: 640px !important;
}
body.curam.list-inline-page#Curam_ApplicationContextPanel .content-panel-detail.application-single-person-details-panel,
body.curam.list-inline-page#Curam_ApplicationContextPanel .content-panel-detail.application-person-details-panel {
  background: transparent;
  margin-top: 0px;
}
body.curam.list-inline-page#Curam_ApplicationContextPanel .content-panel-detail.application-single-person-details-panel {
  width: calc(100% - 186px - 220px - 160px);
}
body.curam.list-inline-page#Curam_ApplicationContextPanel .content-panel-detail.application-person-details-panel {
  width: calc(100% - 640px - 220px - 50px) !important;
}
body.curam.list-inline-page#Curam_ApplicationContextPanel .content-panel-detail.pd-application-links-panel {
  background: transparent;
  width: 220px !important;
}
body.curam.list-inline-page#Curam_ApplicationContextPanel .content-panel-detail.pd-application-links-panel .tab-links.application-tab-links {
  padding: 0px;
}
body.curam.list-inline-page#Curam_ApplicationContextPanel .content-panel-detail.pd-application-links-panel .tab-links.application-tab-links .intake-outer-status {
  background: transparent;
  height: 23px;
}
body.curam.list-inline-page#Curam_ApplicationContextPanel .content-panel-detail.pd-application-links-panel .tab-links.application-tab-links .intake-outer-status .intake-status {
  padding: 0px;
  width: 100%;
  font-family: $infrastructure_main-medium_font-family;
  font-size: 16px;
  color: #294c62;
}
body.curam.list-inline-page#Curam_ApplicationContextPanel .content-panel-detail.pd-application-links-panel .tab-links.application-tab-links .intake-user-panel {
  background: transparent;
}
body.curam.list-inline-page#Curam_ApplicationContextPanel .content-panel-detail.pd-application-links-panel .tab-links.application-tab-links .intake-user-panel .intake-user a {
  font-family: $infrastructure_main-medium_font-family;
  font-size: 14px;
  color: #1f57a4;
  padding-left: 30px;
  background: url("../../Images/icon_case_owner.png") left center no-repeat;
  display: inline-block;
  height: 20px;
  line-height: 20px;
}
body.curam.list-inline-page#Curam_ApplicationContextPanel .content-panel-detail.pd-application-links-panel .tab-links.application-tab-links .intake-user-panel .intake-user a:hover,
body.curam.list-inline-page#Curam_ApplicationContextPanel .content-panel-detail.pd-application-links-panel .tab-links.application-tab-links .intake-user-panel .intake-user a:focus {
  color: #25467a;
  background-image: url("../../Images/icon_case_owner_hover.png");
}
body.curam.list-inline-page#Curam_ApplicationContextPanel .content-panel-detail.pd-application-links-panel .tab-links.application-tab-links .intake-user-panel .intake-user-icon {
  display: none;
}
body.curam.list-inline-page#Curam_ApplicationContextPanel div#content div.Intakecontainer-panel div.application-single-person-details-panel div.content-single-intakeapplication-id,
body.curam.list-inline-page#Curam_ApplicationContextPanel div#content div.Intakecontainer-panel div.application-person-details-panel div.content-single-intakeapplication-id {
  padding-right: 20px;
}
body.curam.list-inline-page#Curam_ApplicationContextPanel .person-application-thumbnail-panel .image-panel-content,
body.curam.list-inline-page#Curam_ApplicationContextPanel #stackCon-threeimages .image-panel-content {
  background: transparent;
}
body.curam.list-inline-page#Curam_ApplicationContextPanel .person-application-thumbnail-panel .name-background,
body.curam.list-inline-page#Curam_ApplicationContextPanel #stackCon-threeimages .name-background {
  width: 176px;
  position: absolute;
}
body.curam.list-inline-page#Curam_ApplicationContextPanel .person-application-thumbnail-panel .name-background {
  bottom: -20px;
}
body.curam.list-inline-page#Curam_ApplicationContextPanel #stackCon-threeimages .name-background {
  bottom: 20px;
}
body.curam.list-inline-page#Curam_ApplicationContextPanel .person-application-thumbnail-panel .name-background .name-one-title,
body.curam.list-inline-page#Curam_ApplicationContextPanel #stackCon-threeimages .name-background .name-one-title {
  background: transparent;
  width: 100%;
}
body.curam.list-inline-page#Curam_ApplicationContextPanel .person-application-thumbnail-panel .name-background .name-one-title a,
body.curam.list-inline-page#Curam_ApplicationContextPanel #stackCon-threeimages .name-background .name-one-title a {
  font-family: $infrastructure_main-medium_font-family;
  font-size: 14px;
  color: #1f57a4;
  letter-spacing: -0.15px;
  text-align: center;
}
body.curam.list-inline-page#Curam_ApplicationContextPanel .person-application-thumbnail-panel .participant-image,
body.curam.list-inline-page#Curam_ApplicationContextPanel #stackCon-threeimages .participant-image {
  padding: 0px 0px 0px 28px;
  width: 120px;
  height: 120px;
}
body.curam.list-inline-page#Curam_ApplicationContextPanel .person-application-thumbnail-panel .right-corner-image,
body.curam.list-inline-page#Curam_ApplicationContextPanel #stackCon-threeimages .right-corner-image {
  right: 28px;
}
body.curam.list-inline-page#Curam_ApplicationContextPanel .person-application-thumbnail-panel .participant-image img,
body.curam.list-inline-page#Curam_ApplicationContextPanel #stackCon-threeimages .participant-image img {
  border-radius: 100%;
}
body.curam.list-inline-page#Curam_ApplicationContextPanel .person-application-thumbnail-panel .participant-details .image-first-line,
body.curam.list-inline-page#Curam_ApplicationContextPanel .person-application-thumbnail-panel .participant-details .image-second-line,
body.curam.list-inline-page#Curam_ApplicationContextPanel .person-application-thumbnail-panel .participant-details .participant-details-divider.divider,
body.curam.list-inline-page#Curam_ApplicationContextPanel #stackCon-threeimages .participant-details .image-first-line,
body.curam.list-inline-page#Curam_ApplicationContextPanel #stackCon-threeimages .participant-details .image-second-line,
body.curam.list-inline-page#Curam_ApplicationContextPanel #stackCon-threeimages .participant-details .participant-details-divider.divider {
  width: auto;
  display: inline-block;
  font-family: $infrastructure_main-bold_font-family;
  font-size: 11px;
  color: #464646;
  padding: 0px;
  float: none;
}
body.curam.list-inline-page#Curam_ApplicationContextPanel .person-application-thumbnail-panel .participant-details,
body.curam.list-inline-page#Curam_ApplicationContextPanel #stackCon-threeimages .participant-details {
  position: absolute;
  width: 100%;
  text-align: center;
}
body.curam.list-inline-page#Curam_ApplicationContextPanel .person-application-thumbnail-panel .participant-details {
  bottom: -40px;
}
body.curam.list-inline-page#Curam_ApplicationContextPanel #stackCon-threeimages .participant-details {
  bottom: 0px;
}
body.curam.list-inline-page#Curam_ApplicationContextPanel .person-application-thumbnail-panel .participant-details .image-second-line,
body.curam.list-inline-page#Curam_ApplicationContextPanel #stackCon-threeimages .participant-details .image-second-line {
  clear: none;
}
body.curam.list-inline-page#Curam_ApplicationContextPanel .person-application-thumbnail-panel .participant-details .participant-details-divider.divider,
body.curam.list-inline-page#Curam_ApplicationContextPanel #stackCon-threeimages .participant-details .participant-details-divider.divider {
  height: 10px;
  border-left: 1px solid #c7c7c7;
  margin: 0px 7px 0px 10px;
}
body.curam.list-inline-page#Curam_ApplicationContextPanel .person-application-thumbnail-panel .stack-container-list .table-list .body-first-cell a,
body.curam.list-inline-page#Curam_ApplicationContextPanel #stackCon-threeimages .stack-container-list .table-list .body-first-cell a {
  background-position: left center;
}
body.curam.list-inline-page#Curam_ApplicationContextPanel .person-application-thumbnail-panel .tab-case-list.app-list-size,
body.curam.list-inline-page#Curam_ApplicationContextPanel #stackCon-threeimages .tab-case-list.app-list-size {
  padding-left: 10px;
}
body.curam div.Intakecontainer-panel div.application-single-person-details-panel div.application-details .application-name {
  font-family: $infrastructure_main-medium_font-family;
  font-size: 16px;
  color: #294c62;
  line-height: 23px;
  height: 23px;
}
@media print {
  body.curam.list-inline-page#Curam_ApplicationContextPanel div.context-panel-wrapper .Intakecontainer-panel {
    width: 1310px;
  }
  
  body.curam.list-inline-page#Curam_ApplicationContextPanel div#content {
    overflow: visible;
  }
  
  body.curam.list-inline-page#Curam_ApplicationContextPanel div.application-tab-links div.intake-user {
    width: 180px;
  }
  
}