/*______________________________________________________________________________
 * ELIGBLEAPP.css
 *
 *  Styling specific to the <Eligibility Worker Application View>
 */

.ELIGBLEAPP.soria .dijitTitlePane div.dijitTitlePaneTitle {
  background-image: url("../../Images/pods/colors/GREEN/pod_title_cc.png");
}

.ELIGBLEAPP.soria div.roundy-pod-top .title-left {
  background: url("../../Images/pods/colors/GREEN/pod_title_tl.png");
}

.ELIGBLEAPP.soria div.roundy-pod-top .title-center {
  background:url("../../Images/pods/colors/GREEN/pod_title_tc.png");
}

.ELIGBLEAPP.soria div.roundy-pod-top .title-right {
  background: url("../../Images/pods/colors/GREEN/pod_title_tr.png");
}

/*------------------------------------*/