/* 
 * Licensed Materials - Property of IBM
 * 
 * Copyright IBM Corporation 2016,2020. All Rights Reserved.
 *
 * US Government Users Restricted Rights - Use, duplication or disclosure 
 * restricted by GSA ADP Schedule Contract with IBM Corp.
 */
/*______________________________________________________________________________
 * Intake findclientpod
 *
 * styles for the find client pod
 */

.findclientpod-background {
  background-color: #ffffff;
  width: 100%;
}

.referencelabel {
    height: 15px;
    margin-bottom: 0px;
    margin-top: 8px;
    width: 30%;
    padding-left:10px;
    font-family:tahoma;
    font-size: 100%;
}

.referencefield {
    height: 15px;
    margin-bottom: 0px;
    margin-top: 8px;
    width: 95%;
}

.firstnamelabel {
    height: 15px;
    margin-bottom: 0px;
    margin-top: 5px;
    width: 30%;
    padding-left:10px;
    font-family:tahoma;
    font-size: 100%;
}

.firstnamefield {
    height: 15px;
    margin-bottom: 0px;
    margin-top: 5px;
    width: 95%;
}

.middleinitiallabel {
    height: 15px;
    margin-bottom: 0px;
    margin-top: 5px;
    width: 30%;
    padding-left:10px;
    font-family:tahoma;
    font-size: 100%;
}

.middleinitialfield {
    height: 15px;
    margin-bottom: 0px;
    margin-top: 5px;
    width: 10%;
}

.lastnamelabel {
    height: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 30%;
    padding-left:10px;
    font-family:tahoma;
    font-size: 100%;
}

.lastnamefield {
    height: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 95%;
}
.dateofbirthlabel {
    height: 15px;
    margin-bottom: 0px;
    margin-top: 5px;
    width: 30%;
    padding-left:10px;
    font-family:tahoma;
    font-size: 100%;
}


.findclientpod-background table.date {
  width: 45%;
  text-align: left;
  width: 50% !important;
}

.findclientpod-background td div.action-bar {
    text-align: center;
    float: none;
    width: 95%;
    margin-top: 10px;
}


.findClientActions div.action-bar {
    text-align: center;
}

.findClientActions span.action-bar {
    float: none;
}

body.curam.soria div.pod-container div.pod-styling div#PT19001_body table.findclientpod-background td,
body.curam.soria .dndCover div.pod-styling div#PT19001_body table.findclientpod-background td {
    font-family: $infrastructure_main-medium_font-family;
    font-size: 14px;
    line-height: 20px;
    color: #464646;
}


body.curam.soria div.pod-container div.pod-styling div#PT19001_body table.findclientpod-background td input.referencefield, 
body.curam.soria div.pod-container div.pod-styling div#PT19001_body table.findclientpod-background td input.firstnamefield, 
body.curam.soria div.pod-container div.pod-styling div#PT19001_body table.findclientpod-background td input.middleinitialfield, 
body.curam.soria div.pod-container div.pod-styling div#PT19001_body table.findclientpod-background td input.lastnamefield, 
body.curam.soria div.pod-container div.pod-styling div#PT19001_body table.findclientpod-background td input.date {
    border: 1px solid #5a5a5a !important;
	background-color: #ffffff;
	height: 24px;
	padding: 0px 10px;
	font-size: 14px;
	line-height: 20px;
	color: #464646;
	font-family: $infrastructure_main-regular_font-family;
	outline: none;
	box-sizing: border-box;
	-webkit-appearance: none;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}

body.curam.soria div.pod-container div.pod-styling div#PT19001_body table.findclientpod-background td input.referencefield:focus, 
body.curam.soria div.pod-container div.pod-styling div#PT19001_body table.findclientpod-background td input.referencefield:hover,
body.curam.soria div.pod-container div.pod-styling div#PT19001_body table.findclientpod-background td input.firstnamefield:focus,
body.curam.soria div.pod-container div.pod-styling div#PT19001_body table.findclientpod-background td input.firstnamefield:hover,
body.curam.soria div.pod-container div.pod-styling div#PT19001_body table.findclientpod-background td input.middleinitialfield:focus, 
body.curam.soria div.pod-container div.pod-styling div#PT19001_body table.findclientpod-background td input.middleinitialfield:hover, 
body.curam.soria div.pod-container div.pod-styling div#PT19001_body table.findclientpod-background td input.lastnamefield:focus, 
body.curam.soria div.pod-container div.pod-styling div#PT19001_body table.findclientpod-background td input.lastnamefield:hover, 
body.curam.soria div.pod-container div.pod-styling div#PT19001_body table.findclientpod-background td input.date:focus,
body.curam.soria div.pod-container div.pod-styling div#PT19001_body table.findclientpod-background td input.date:hover {
	border:2px solid #325c80 !important;
	height:24px;
	background-color:#f4f4f4;
	line-height:18px;
	padding-left:9px;
}

body.curam.soria div.pod-container div.pod-styling div#PT19001_body table.findclientpod-background td input.referencefield:focus, 
body.curam.soria div.pod-container div.pod-styling div#PT19001_body table.findclientpod-background td input.firstnamefield:focus,
body.curam.soria div.pod-container div.pod-styling div#PT19001_body table.findclientpod-background td input.middleinitialfield:focus, 
body.curam.soria div.pod-container div.pod-styling div#PT19001_body table.findclientpod-background td input.lastnamefield:focus, 
body.curam.soria div.pod-container div.pod-styling div#PT19001_body table.findclientpod-background td input.date:focus {
	background-color:#ffffff;
}

body.curam.soria div.pod-container div.pod-styling div#PT19001_body table.findclientpod-background tr {
	height: 30px;
}

body.curam.soria div.pod-container div.pod-styling div#PT19001_body table.findclientpod-background td input.lastnamefield {
	margin-bottom: 0;
}

body.curam.soria div.pod-container div.pod-styling div#PT19001_body table.findclientpod-background table.date td.popup-actions a.popup-action img {
    top: 6px;
}

body.curam.soria div.pod-container div.pod-styling div#PT19001_body table.findclientpod-background td input {
    height: 20px;
    font-family: $infrastructure_main-regular_font-family;
    font-size: 14px;
    color: #464646;
    text-align: left;
}

body.curam.soria div.pod-container div.pod-styling div#PT19001_body table.findclientpod-background td input.referencefield, 
body.curam.soria div.pod-container div.pod-styling div#PT19001_body table.findclientpod-background td input.firstnamefield, 
body.curam.soria div.pod-container div.pod-styling div#PT19001_body table.findclientpod-background td input.lastnamefield {
    padding-left: 10px;
    width: calc(95% - 10px);
}

body.curam.soria div.pod-container div.pod-styling div#PT19001_body table.findclientpod-background td input.middleinitialfield {
    padding-left: 10px;
    padding-right: 10px;
    width: calc(10% - 10px);
    min-width: 40px;
}

body.curam.soria div.pod-container div.pod-styling div#PT19001_body table.findclientpod-background td.findClientActions {
    padding-top: 10px;
}

body.curam.soria div.pod-container div.pod-styling div#PT19001_body table.findclientpod-background td.findClientActions .button-link .actioncontrol-button-center a,
body.curam.soria .dndCover div.pod-styling div#PT19001_body table.findclientpod-background td.findClientActions .button-link .actioncontrol-button-center a {
    background: none;
    border: 1px solid #1f57a4;
    padding: 5px 10px;
    margin-right: 10px;
    background-color: #ffffff;
    font-family: $infrastructure_main-medium_font-family;
    font-size: 14px;
    line-height: 20px;
    color: #1f57a4;
}

body.curam.soria div.pod-container div.pod-styling div#PT19001_body table.findclientpod-background td.findClientActions .button-link .actioncontrol-button-center a:hover,
body.curam.soria div.pod-container div.pod-styling div#PT19001_body table.findclientpod-background td.findClientActions .button-link .actioncontrol-button-center a:focus {
    color: #ffffff;
    background-color: #1f57a4;
}

body.curam.soria div#PT19001_body div.north div.button-link div.actioncontrol-button-center a {
    font-family: $infrastructure_main-medium_font-family;
    font-size: 14px;
    line-height: 20px;
    color: #1f57a4;
    background: url("../../Images/icon_start_intake.png") no-repeat scroll right transparent;
    padding: 6px 30px 6px 0;
}

body.curam.soria div#PT19001_body div.north div.button-link div.actioncontrol-button-center a:hover,
body.curam.soria div#PT19001_body div.north div.button-link div.actioncontrol-button-center a:focus {
    color:#325c80;
    background: url("../../Images/icon_start_intake_hover.png") no-repeat scroll right transparent;
}

body.curam.soria div.pod-container div.pod-styling div#PT19001_body table.findclientpod-background td div.action-bar {
    width: 100%;
}

/* RTL */

body.curam.soria.rtl div#PT19001_body div.north div.button-link div.actioncontrol-button-center a {
	background: url("../../Images/icon_start_intake.png") no-repeat scroll left transparent;
	padding: 6px 0 6px 30px;
}

body.curam.soria.rtl div#PT19001_body div.north div.button-link div.actioncontrol-button-center a:hover,
body.curam.soria.rtl div#PT19001_body div.north div.button-link div.actioncontrol-button-center a:focus {
    background: url("../../Images/icon_start_intake_hover.png") no-repeat scroll left transparent;
}

body.curam.soria.rtl div.pod-container div.pod-styling div#PT19001_body table.findclientpod-background td.dateofbirthlabel {
	text-align: right;
}

body.curam.soria.rtl div.pod-container div.pod-styling div#PT19001_body table.findclientpod-background td.input-date {
    text-align: right;
}

body.curam.soria div.pod-container div.pod-styling div#PT19001_body table.findclientpod-background table.date {
    min-width: 105px;
}

