/*______________________________________________________________________________
 * RightsandResponsibilities.css
 * 
 */
 .soria div.boldtext-cluster table td.label{
 font-weight:bold;
 margin-left:20px;
 margin-top:20px;
 margin-bottom:20px;
 padding-right:10px;
 padding-bottom:8px;
 padding-left:10px;

 } 
