/*______________________________________________________________________________
 * timeline-calendar_rtl.css
 *
 * Create styles that are applied to the HTML for the TimelineCalendar widget - Right-to-Left version.
 */
 
.rtl .timelineCalendarTooltipDialog {
    margin-right: 0;
    margin-left: 10px;
}

.rtl .timelineCalendarTooltipDialogClose {
    left: -2px;
    right: auto;
}

.rtl .dijitTooltipAbove .timelineCalendarTooltipDialogClose {
    right: auto;
    left: -2px;
}

.rtl .timelineCalendarTooltipDialog .timelineCalendarKeyEventList {
    text-align: right;
}
 
 .rtl .dijitTooltipBelow .timelineCalendarTooltipConnector {
    left: auto;
    right: 50%;
}

.rtl .dijitTooltipAbove .timelineCalendarTooltipConnector {
    left: auto;
    right: 50%;
}

/*______________________________________________________________________________
 * end timeline-calendar_rtl.css
 */

/* ==== Curam 2016 Styling ==== */

body.curam.rtl .timelineCalendarTooltipDialogClose {
  left: auto;
  right: -10px;
}

span.transfer-evid-search-hidden {
  position: absolute;
  right: -1000px;
}

.rtl span.transfer-evid-search-hidden {
  right: auto;
  left: -1000px;
}

.evidencecluster {
 background-color: #E8E8E8;
 padding: 10px;
 margin-top:5;
 font-size: 10pt;
 width: 100%;
 margin: 1ex 0 1ex 0;
 border-left: 1px solid #91A6B4;
 border-right: 1px solid #91A6B4;
 border-bottom: none;
 border-top: none;
}