/*______________________________________________________________________________
 * timeline-calendar.css
 *
 * Create styles that are applied to the HTML for the TimelineCalendar widget.
 */

.timelineCalendar .dijitStackContainer {
    will-change: transform;
    transform: translateZ(0);
}

#timelineCalendarContentPane {
    padding : 0px;
    overflow : hidden;
}

.timelineCalendarTooltipDialog {
    margin-top: -8px;
}

.timelineCalendarTooltipDialog .timelineCalendarTooltipContainer{
    border: 2px solid #9BBDDC;
    background-color: #FFF !important;
    padding: 6px 8px; 
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25); 
}

.timelineCalendarTooltipConnector {
    background-image: url("../../Images/timelinecalendar/timeline_calendar_tooltip_connector.png") !important;
    background-repeat: no-repeat !important;
    width: 16px;
    height: 14px;
    position: relative;
}

.dijitTooltipBelow .timelineCalendarTooltipConnector {
    top: 6px;
    left: 50%;
}

.dijitTooltipAbove .timelineCalendarTooltipConnector {
    background-position: -15px 0px;
    position: absolute;
    left: 50%;
    bottom: -3px;
}

.timelineCalendarTooltipDialog p{
    padding: 4px 4px; 
    font-size: 1em;
    text-align: center;
}

.timelineCalendarTooltipDialog .title {
    font-weight: bold;
    text-align: center;
    margin: 0.5em;
}

.timelineCalendarTooltipDialog .dates {
    text-align: center;
    margin: 0.5em;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 0.5em;
}

.timelineCalendarTooltipDialog .timelineCalendarKeyEventTitle {
    font-weight: bold;
    text-align: center;
    padding: 0.5em;
    border-bottom: 1px solid #e0e0e0;
}

.timelineCalendarTooltipDialog .timelineCalendarKeyEventList {
    text-align: left;
    margin: 0.5em;
}

.timelineCalendarTooltipDialog .timelineCalendarKeyEvent {
    margin: 0.5em;
}

.timelineCalendarTooltipDialog .subTitle {
    text-align: center;
    margin: 0.5em;
}

.timelineCalendarTooltipDialogClose {
    display: block;
    background: transparent url("../../Images/timelinecalendar/timeline_calendar_tooltip_close.png") no-repeat scroll -9px -9px;
    position: absolute;
    right: -2px;
    top: -3px;
    cursor: pointer;
    width: 26px;
    height: 26px;
    z-index: 1001;
}

.timelineCalendarTooltipDialogClose:hover {
    background-position: -9px -51px;
}

.timelineCalendarClickable {
    cursor: pointer;
}

.timelineCalendarTooltipDialog .additionalinfo td{
    padding: 0.4em;
}

.timelineCalendarTooltipDialog .additionalinfo .key {
    color: #636363;
}

.timelineCalendarTooltipDialog .additionalinfo tbody{
	display: block;
    overflow-y: auto;
    max-height: 10rem;
}

/*______________________________________________________________________________
 * end timeline-calendar.css
 */

/* ==== Curam 2016 Styling ==== */

/* Remove padding added by clusters */
#Curam_Person_timelineCalendarGraph div.bx--cluster.cluster-with-no-header.label-field,
#Curam_IntegratedCase_timelineCalendarGraph div.bx--cluster.cluster-with-no-header.label-field,
#Curam_Person_timelineCalendarGraph table,
#Curam_IntegratedCase_timelineCalendarGraph table {
  margin: 0px;
}
#Curam_Person_timelineCalendarGraph table td.field.last-cell,
#Curam_IntegratedCase_timelineCalendarGraph table td.field.last-cell {
  padding: 0px;
}
/* Position of graph within the content panel */
body.curam#Curam_IntegratedCase_timelineCalendarGraph div#content {
  top: 65px;
}

/* Tooltip styling */
body.curam div.timelineCalendarTooltipDialog .title,
body.curam div.timelineCalendarTooltipDialog .timelineCalendarKeyEventTitle {
  font-family: $infrastructure_main-medium_font-family;
  font-size: 14px;
  font-weight: normal;
  color: black;
  margin: 0px 10px;
  position: relative;
  z-index: 1000;
}
body.curam div.timelineCalendarTooltipDialog .dates {
  color: #777677;
  border-bottom: none;
  padding-bottom: 0px;
  margin: 5px;
}
body.curam div.timelineCalendarTooltipDialog table.additionalinfo {
  border-top: 1px solid #e0e0e0;
  width: 100%;
}
body.curam div.timelineCalendarTooltipDialog .dates,
body.curam div.timelineCalendarTooltipDialog table.additionalinfo td.key,
body.curam div.timelineCalendarTooltipDialog table.additionalinfo td.value,
body.curam div.timelineCalendarTooltipDialog .timelineCalendarKeyEventList,
body.curam div.timelineCalendarTooltipDialog .timelineCalendarKeyEvent {
  font-family: $infrastructure_main-medium_font-family;
  font-size: 12px;
  color: black;
}
body.curam div.timelineCalendarTooltipDialog table.additionalinfo td.value {
  font-family: $infrastructure_main-regular_font-family;
}
body.curam div.timelineCalendarTooltipDialog div.timelineCalendarTooltipContainer {
  border: none;
  background: #f4f4f4 !important;
  box-shadow: 0px 2px 4px 0px #777677;
  padding: 7px 8px;
  height: 100%;
  margin: 7px;
  z-index: 1000;
}
body.curam .timelineCalendarTooltipConnector {
  background-image: none;
  z-index: 999;
}
body.curam .dijitTooltipBelow .timelineCalendarTooltipConnector {
  background-image: url("../../Images/timelinecalendar/tooltip_arrow_up.png") !important;
}
body.curam .dijitTooltipAbove .timelineCalendarTooltipConnector {
  background-image: url("../../Images/timelinecalendar/tooltip_arrow_down.png") !important;
}

body.curam .timelineCalendarTooltipConnector {
  background-position: 0px 0px;
  width: 20px;
  height: 10px;
}
body.curam .timelineCalendarTooltipDialogClose {
  top: 2px;
  left: 2px;
  right: auto;
  width: 20px;
  height: 20px;
  box-shadow: 0px 1px 2px #777677;
  background: url("../../Images/timelinecalendar/tooltip.png");
  border-radius: 100%;
}
body.curam .timelineCalendarTooltipDialogClose:hover,
body.curam .timelineCalendarTooltipDialogClose:focus {
  background-image: url("../../Images/timelinecalendar/tooltip_hover.png");
}

/* Key Events tooltip styling */
body.curam .timelineCalendarTooltipDialog {
	height: 95%;
}
body.curam .timelineCalendarTooltipDialog .timelineCalendarKeyEventTitle {
  padding: 0px;
  border-bottom: none;
}
body.curam .timelineCalendarTooltipDialog .timelineCalendarKeyEventList {
  border-top: 1px solid #e0e0e0;
  overflow-y: scroll;
  height: calc(100% - 40px);
  margin: 5px 0px 0px 0px;
  padding-top: 5px;
}
body.curam .timelineCalendarTooltipDialog .additionalinfo {
	overflow-y: scroll;
  	height: calc(100% - 50px);
  	display: block;
}
body.curam .timelineCalendarTooltipDialog.dijitTooltipDialog.dijitTooltipAbove {
	margin-top: 10px;
	padding-bottom: 0;
}
body.curam .timelineCalendarTooltipDialog .timelineCalendarKeyEventList .timelineCalendarKeyEvent {
  margin: 3px 0px;
}
.dijitTooltipDialogPopup {
  scrollbar-track-color: #f4f4f4;
}

#Curam_Person_timelineCalendarGraph .dijitTooltipDialogPopup,
#Curam_IntegratedCase_timelineCalendarGraph .dijitTooltipDialogPopup {
	overflow-y: hidden !important;
}