<div class="timelineCalendarTooltipDialog" role="dialog" title="" aria-labelledby="timelineCalendarKeyEventTitle">
<!--
 * Licensed Materials - Property of IBM
 * 
 * PID 5725-H26
 * 
 * Copyright IBM Corporation 2016. All rights reserved.
 * 
 * US Government Users Restricted Rights - Use, duplication or disclosure
 * restricted by GSA ADP Schedule Contract with IBM Corp.
 -->
	<div class='timelineCalendarTooltipConnector' data-dojo-attach-point="connectorNode"></div>
	<div id="keyEventsTooltip" data-dojo-attach-point='keyEventsTooltipPopup' class='timelineCalendarTooltipContainer' title="">
		<span class="timelineCalendarTooltipDialogClose" data-dojo-attach-point='close' dojoattachevent="ondijitclick: onCancel" title="Close" role="button" tabindex="0" focusable="true"></span>
		<div id="timelineCalendarKeyEventTitle" class="timelineCalendarKeyEventTitle" data-dojo-attach-point='title' role="heading" tabindex="0"></div>
		<div class="timelineCalendarKeyEventList" data-dojo-attach-point='keyEventsList' role="list"></div>
	</div>
</div>