<div class="timelineCalendarTooltipDialog" role="dialog" title="" >
<!--
 * Licensed Materials - Property of IBM
 * 
 * PID 5725-H26
 * 
 * Copyright IBM Corporation 2015-2016. All rights reserved.
 * 
 * US Government Users Restricted Rights - Use, duplication or disclosure
 * restricted by GSA ADP Schedule Contract with IBM Corp.
 -->
	<div class='timelineCalendarTooltipConnector' data-dojo-attach-point="connectorNode"></div>
	<div id="timelineCalendarTooltip" data-dojo-attach-point='timelineCalendarTooltipPopup' class='timelineCalendarTooltipContainer' title="">
		<span class="timelineCalendarTooltipDialogClose" data-dojo-attach-point='close' dojoattachevent="ondijitclick: onCancel" role="button" tabindex="0" focusable="true"></span>
		<div id='timelineCalendarDialogTitle' class='title' data-dojo-attach-point='title' tabindex="0" focusable="true" role="heading"></div>
		<div class='subTitle' data-dojo-attach-point='subTitle' tabindex="0" focusable="true"></div>
		<div class='dates' data-dojo-attach-point='dates' tabindex="0" focusable="true"></div>
		<table class='additionalinfo' data-dojo-attach-point='additionalInfo' ></table>
	</div>
</div>